/*Changes by IBM for UBM Site Migration*/
h4.panel-title:hover, h4.panel-title:focus, h4.panel-title:active{
	color:#024;
    background-color:#f4f4f4!important;
}

.panel-prev :hover, .panel-prev :focus, .panel-prev :active
{
	background-color:f4f4f4!important;
}

.panel-prev :hover
{
	background-color:transparent!important;
    color:#024!important;
}


