/**     Anchor Links Styles     **/


.anchorLinks{
    .anchorLinkElement, #AnchorLink{
        background:none;
        .tab-collapse-nav-tabs-anchor {
            margin:0;
            display:table;
            li{           
                display:table-cell;
            	float:none;
            	padding-left:30px;
                &:first-child{
    				padding-left:0;
                }
                a{
                    background-color: transparent !important;
                    border-top: 0 !important;	                    
                	width:auto !important;
                    span{
    					font-size:30px;
                        color:@primary-color;
                        font-family:@primary-font;
                        text-align:left;
                        width: 100%!important;
                        padding:0;
                    }
                }
                &:hover, &.active{
                    a{
                        background-color: transparent !important;
                        border-top: 0 !important;	                        
                    }
                }
            }
        }
        .anchor-section-wrapper{
			.custom-row-anchor{
                margin-right: -15px;
                margin-left: -15px;
            }
        }
        .row-divider-anchor{
            background-color: transparent !important;            
            border-bottom: 0 !important;
        }
    }
}

/**   Responsive Layouts   **/

@media (max-width: 991px){
	.anchorLinks{
        .anchorLinkElement, #AnchorLink{
            background:none;
            .tab-collapse-nav-tabs-anchor { 
                display:block;
                li{
					display:block;
                    padding-left:0;
                    a{
						height:50px !important;
                        span{
							height:50px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){

}

@media (max-width: 320px){

}
