/**  Banner Image Styles  **/
.bannerImage{
    margin-top:0 !important;
    .informa-image-banner{
        .informa-image-banner-image{
            img{
				width:auto;
                max-width:100%;
            }
        }
    }
}

.full-width-img{ // CUSTOM CLASS
	.bannerImage{        
        .informa-image-banner{
            .informa-image-banner-image{
                img{
                    max-width:100%;
                    width:100%;
                }
            }
        }
    }
}