/**     Boilerplate     **/
.boilerplate_heading_wrapper{
	margin-top:0;
}
.boilerplate{    
	.informa {
        background-color: #525a5c !important;
        .dropdown button{
            background:none;
            color: #ffffff;
        }
    }
}