/**     Content Hightlight     **/

.contentHighlight{
    #container1,.contentHighlightContainer{       
        h3{
			text-align:center;
            font-family:@primary-font;
            background:none;
            color:@black;
            border-bottom:0!important;
            padding:15px 0 0 0!important
        }
        div.callToActionPara{
			background:none;
            padding:0!important;
        }
        .heading p{
			background:none;
            color:#333;
        }
        img.img-responsive{
            max-width:230px!important
        }
        p{
			font-family:@primary-font;
        }
    }   
}

