/**     Container Form Styles     **/

/**     Form Component     */
.container-form{
    .form-container{
        margin-left:0 !important;
        margin-right:0 !important;
        background:none;
        .forms-title{        
            font-weight:normal;
            padding:10px 0;
            margin:0 0 10px;
            color:@primary-color;
            font-family:@primary-font;
            background-color:transparent;
            border-bottom:0 !important;
            line-height:1.4em;
            color:@tertiary-color;
            font-size: 35px;
            text-transform: uppercase;                            
        }
        .custom-form-row{
           background:none;
           padding:0;
           margin-left:0 !important;
           margin-right:0 !important;
           .form-horizontal{    
                padding:0;
                margin:0;
                form{
                    padding:0;
                    .text{
						padding:0;
                        font-size:13px;
                    }
                    .form-group{
						margin-left:0;
                        padding-right:0;
                        &.subscription-form-group{
							padding-left:0 !important;
                        }
                        input,select,textarea,button,span{
							font-size:13px;    
                            color:@black;
                        }
                        .help-block{
							margin-left:0;
                        }
                    }
                    label{
                        padding:0;
                        font-size:13px;
                        color:@black !important;
                    }
                    .checkbox{
                        label{
							padding:0 0 0 5px;
                        }
                    }
                }
            }
        }

        .submit{
            .btn{
                font-family:@primary-font !important;
                color:@white !important;
                padding:12px 15px !important;
                height:auto !important;
                text-align:center;
                font-size:13px !important;
                font-weight:bold;
                line-height:13px !important;
                height:auto;
                max-width:none;
                width:100px !important;      
                .border-radius(5px);
                margin-right: 10px;
                .transition(all ease-in-out 300ms);
                color:@white !important;
            }
            input[type="submit"]{
				background:@primary-color;                
                &:hover{
                    background:@secondary-color;
                    .transition(all ease-in-out 300ms);
                }
            }
            input[type="reset"]{
				background:@secondary-color;
                &:hover{
                    background:@primary-color;
                    .transition(all ease-in-out 300ms);
                }
            }
        }
    }    
}



/**   Responsive Layouts   **/
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

}

.thankYouPage .container{
    width:100%!important;
}

.form-horizontal.registration-form h1{
    color:@primary-color!important;
    font-family:@primary-font!important;
    margin-top:18px!important;
}