/*

File Name: _countdown.less
Description: Countdown component styles
Dependencies: _variables.less

*/

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

// Countdown
.countdown-container {
  border-bottom: 1px @white solid;
  // Full logo
  // background: #92bf5c;
  // background: -moz-linear-gradient(top,  #92bf5c 0%, #22959e 15%, #5fc9de 50%, #3269af 85%, #2b2d70 100%);
  // background: -webkit-linear-gradient(top,  #92bf5c 0%,#22959e 15%,#5fc9de 50%,#3269af 85%,#2b2d70 100%);
  // background: linear-gradient(to bottom,  #92bf5c 0%,#22959e 15%,#5fc9de 50%,#3269af 85%,#2b2d70 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92bf5c', endColorstr='#2b2d70',GradientType=0 );

  // Teal to Blue
  background: rgb(34,149,158);
  background: -moz-linear-gradient(top,  rgba(34,149,158,1) 0%, rgba(50,105,175,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(34,149,158,1) 0%,rgba(50,105,175,1) 100%);
  background: linear-gradient(to bottom,  rgba(34,149,158,1) 0%,rgba(50,105,175,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22959e', endColorstr='#3269af',GradientType=0 );

}
.countdown-background {
  // background-color: @primary-color;
}
.countdown {
  span:before,
  span:after {
    // display: block;
    // white-space: pre;
    // content: '\A';
  }
  font-size: 25px;
  width: 100% !important;
  color: @white;
  padding: 5px;
  // background-color: @primary-color;
  .countDisplay {
    // font-size: 35px;
    // line-height: 40px;
    // display: inline;
    width: auto;
    // padding-left: 0px;
    text-align: center;
    span {
        color: @white;
        font-size: 26px;
        font-weight: 300;
        // line-height: 26px;
/*Countdown Spans*/
        &:nth-child(1) {
          text-align: center;
          font-family: 'Didact Gothic', sans-serif !important;
          padding: 6px 6px 6px 20px;
          margin-left: -25px;
          color: @black;
          font-size: 35px;
          font-weight: 900;
          letter-spacing: 10px;
          line-height: 40px;
          // background-color: @black-black;
          background-image: linear-gradient(90deg, #FFFFFF 12.43%, #22959E 12.43%, #22959E 13.02%, #FFFFFF 13.02%, #FFFFFF 50%, #FFFFFF 50%, #FFFFFF 62.43%, #22959E 62.43%, #22959E 63.02%, #FFFFFF 63.02%, #FFFFFF 100%);
          background-size: 338.00px 338.00px;
          // float: left;
        }
        &:nth-child(2) {
          font-size: 15px;
          font-weight: 800;
          line-height: 10px;
          background-color: inherit;
          // float: left;
          // &:before,
          // &:after {
          &:before{
            display: block;
            white-space: pre;
            content: '\A';
          }
        }
        &:nth-child(3):before {
          padding: 6px 3px 6px 3px;
          // float: left;
          color: @white;
          content: '\003A';
        }
      }
    @media (min-width: 1200px) {
      // display: table-caption;
      // display: grid;
      // display: block;
      width: 100%;
      // width: 110px!important; - each on one line
      // width: 195px;
      // padding-left: 15px;
      // width: 260px;
    }
  }
}
// p#event {
//   font-size: 40px;
//   padding: 15px 20px 25px 20px;
//   line-height: 30px;
// }
p.eventCountdownEvent {
  text-align: center;
  font-size: 30px;
  // padding: 15px 20px 25px 20px;
  padding: 0px;
  // line-height: 30px;
  line-height: 0px;
  // color: @primary-color;
  &.countdown-start {

  }
}

.countdown-column {
  margin-right: -50px;
  @media (min-width: 769px) {
    &:before {
      padding: 0px 1px 6px 4px;
      font-size: 30px;
      color: @white;
      content: '\003A' !important;
      float: right;
      position: absolute;
      z-index: 10;
      text-align: right!important;
    }
  }
}
.countdown-column-first {
  margin-right: -50px;
  @media (min-width: 769px) {
    &:before {
      padding: 0px 1px 6px 4px;
      font-size: 30px;
      color: @white;
      content: '' !important;
      float: right;
      position: absolute;
      z-index: 10;
      text-align: right!important;
    }
  }
}
