/* Default Style */
.quicklink{
    .highlightText .countdown-btn{
        .event-overview-btn{
            .event-overview-btn-col{
				display:block;
                float:none;
                width:auto;
            }
            margin-left:0;
            margin-right:0;
            margin-bottom:0;
            .hightxt_btn{
                padding:0 !important;
                margin:0;
                a{
                    background: @secondary-color;
                    border:1px solid @secondary-color !important;
                    border-bottom:1px solid @secondary-color !important;
                    padding:15px !important;
                    margin:0 0 10px;
                    .border-radius(0);
                    .transition(all ease-out 300ms);
                    .event-overview-btn-text-padding{
                        padding:0;
                    }
                    .highlgt-btn-icon-padding{
                        display:none;
                    }
                    &:hover{
                        background:@white;
                        border:1px solid @white !important;
                    	  border-bottom:1px solid @white !important;
                        .transition(all ease-out 300ms);
                        .highlgt-btn-title{
						               color:@secondary-color;
                        }
                    }
                    .event-overview-btn-text-padding{
            						display:block !important;
                        height:auto !important;
                        line-height: 1px;   /*  Changes by IBM for UBM Site Migration (Added line-height)*/
                    }
                    .highlgt-btn-icon-padding{
            						margin-right:0 !important;
                    }
                    .highlgt-btn-title{
            						width:100% !important;
                        font-size: 20px;
                        font-weight: 900;
                        text-align:center !important;
                        font-family:@primary-font !important;
                        color:@white;
                    }
                }
            }
        }
    }
}
