/**     Footer Container Styles     **/

.footercontainer{
    footer{
        margin:0;
        .footerNavbg{
            display:none;            
            .informa-link-list-items{
                li{
                    a{
                        &:hover{
                            color:@primary-color;
                        }
                        span{
                            color:@white;
                        }
                    }
                }
            }        
        }
        .aboutInfo{
            padding: 20px 0;
            background: #818284;
            .about-informa{
                p{
                    color: @white;
                    line-height: 18px;
                    font-size: 13px;
                    margin:0 0 15px 0!important;
                }
                .footerLogo{
                    margin-top:0;
                    img{
                    	height:50px !important;
                    }
                }
            }
        }
        .footerBottombg{
            background-color: #58585a !important;
            ul{
                li{
                    a{
                        font-family:@primary-font;
                        color:#cccccc;
                        &:hover{
                            color:@white;
                        }
                        span{
                            color:#cccccc;
                        }
                    }
                }
            }
        }
    }
}

/**   Responsive Layouts   **/
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 320px){

}