/**     Graphic Hightlights     **/

.graphic-highlights{    
    .exhibitionbrands3{
        .exhibitionbrands{
            margin-top:0 !important;
            .img-gallery{
				background-color:transparent;
                padding:0 !important;
                .statspanel{
					padding-right:0 !important;
                    margin:0 !important;              
                    background:#f1f1f1 !important;
                    padding:20px 0;                    
                    .graphic_highlight_variations{
						margin:0 !important;
                        padding:0 !important;
                        ul{
							margin:0;
                            font-size:0;
                            li{
								margin:0;
                                padding:0;
                                display:block;
                                background-color:transparent !important;
                                &:first-child{
									.stats1{									
                                        border-left:0 !important;
                                    }
                                }                                
                                div{
									padding:0 !important;
                                    margin:0 !important;
                                    &.stats1{
                                        min-height: 245px;
										height:auto !important;
                                        border-left:1px solid @black;
                                        background-color:transparent !important;
                                        .stats{
                                            height:auto !important;
											background:none !important;
                                            .thumbnail{
                                                border-right:0 !important;
                                                padding:12px;
                                                margin:0;
                                                background-color:transparent !important;                                                
                                                p{
                                                    color:@black !important;
                                                    font-size:54px !important;
                                                    line-height:64px !important;
                                                    font-weight:bold;
                                                    margin:15px 0;
                                                    padding:0 0 15px;
                                                    position:relative;
                                                    font-family:@primary-font;
                                                    &:after{
                                                        background: @black !important;
                                                        bottom: 0;
                                                        content: "";
                                                        display: block;
                                                        height: 3px;
                                                        left: 50%;
                                                        margin: 0 0 0 -25px;
                                                        position: absolute;
                                                        width: 50px;
                                                    }
                                                }
                                                h3{
                                                    font-weight:400;
                                                    font-size:18px !important;
                                                    font-family:@primary-font;
                                                    color:@black;
                                                    margin:0 !important
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .nbs-flexisel-nav-left{
							left:10px !important;
                        }
                        .nbs-flexisel-nav-right{
							right:10px !important;
                        }
                    }
                }
            }
        }
    }    
}

/**   Responsive Layouts   **/
@media (max-width: 1199px){
	#stats-slider .stats1,.stats-slider-element .stats1  {
        background-color:transparent !important;
        border-left:0;
    }
}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 320px){

}