/**     Header Container Styles     **/

.headercontainer{      
    header{
        .headerVerticalHold {
            .container{
                .cover.pull-left{
					width:65%;
                }
                .cover.pull-right{
					width:100%;
                    display:block;
                    float:none !important;
                }
                .left{   
                    width:30%;
                    display:block;
                    float:left;
                    padding-right: 25px;
                    a{

                    }
                }
                .seperator{
					display:none;
                }
                .right{	
                    width:70%;                    
                    float:left; 
                    padding:0;
                    p{
						margin:0 0 5px;
                    }
                    i{
                        width: 18px;
                        height: 20px;
                        line-height:20px;
                        display: inline-block;
                       	margin:0;
                        background: 0;
                        font-style: normal;
                        font-size: 18px;
                        text-align:center;
                        color: @primary-color;
                        font-family: FontAwesome;
                        background-image: none!important;                        
                    }
                    .calendarDetails{
                        span{
							font-size:20px;
                            color:@black;
                            font-family:@primary-font;
                        }
						i{                           
                            &:before{
                                content: "\f073";                              
                            }
                        }
                    }
                    .mapIconHeader{                        
						span{
							font-size:16px;
                            color:@black;
                            font-family:@primary-font;
                        }
                    	i{                           
                            &:before{
                                content: "\f041";
                        		font-size:21px;
                            }
                        }
                    }
                }	
               .header-search-element,#header_search {
                    position: fixed;					
                    top: 0;
                    height: 100%;
                    width: 100%;
                    left: 0;                   
                    z-index: 99999;
                    background: rgba(0,0,0,.8);
                    visibility: hidden;
                    -webkit-transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    -o-transition: all 0.4s ease-in-out;
                    -ms-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    -webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    -moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    -o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    -ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    opacity: 0;
                    &.active{
                        visibility: visible;
                        -webkit-transform: perspective(200px) rotateX(0deg) scale(1);
                        -moz-transform: perspective(200px) rotateX(0deg) scale(1);
                        -o-transform: perspective(200px) rotateX(0deg) scale(1);
                        -ms-transform: perspective(200px) rotateX(0deg) scale(1);
                        transform: perspective(200px) rotateX(0deg) scale(1);
                        opacity: 1;
                    }
                    .search-form{
    	                display:table;
                    	width:100%;
                    	height:100%;
                        .input-group{
    						display:table-cell;
                        	vertical-align:middle;
                        	text-align:center;
                            input[type="text"]{
                                display: inline-block;
                                width: 50%;
                                margin: auto;
                                border: 0;
                                background: none;
                                font-size: 3vw;
                                font-weight: 600;
                                color: #ffffff;
                                border-bottom: 1px solid rgba(255, 255, 255, 0.7);
                                float: none;
                            	padding: 10px 5% 10px 2% !important;	
                            	height:auto;
                            	position:relative;
                            	left: 3%;
                            	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                  color: #cccccc;
                                }
                                &::-moz-placeholder { /* Firefox 19+ */
                                  color: #cccccc;
                                }
                                &:-ms-input-placeholder { /* IE 10+ */
                                  color: #cccccc;
                                }
                                &:-moz-placeholder { /* Firefox 18- */
                                  color: #cccccc;
                                }
                            }
                            .input-group-btn{
    							display:inline-block;
                            	position:relative;
                            	left: -3%;
                            	z-index:99999;
                            	width:5%;
                                button{
    								border:0;
                                	outline:none;
                                	background:none !important;                                	
                                    i{
    									font-size:3vw;
                                    	background:none !important;

                                        &:hover{
											color:@primary-color !important;

                                    	}
                                    }
                                }
                            }
                        }
                    }
                    .trig-close{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        color: #ffffff;
                        font-size: 3vw;
                    	cursor:pointer;
                        &:hover{                        	
    						color:@primary-color;
                        }
                    }
        		}

                .headerMenuLink{
            		ul{
                        li{
                    		margin:0;
                            a{
								color:@black !important;
                        		font-family:@primary-font;
                                &:hover{
                                    color:@primary-color !important;
                                }
                            }
                            &.active{
        						a{
                                    color:@primary-color !important;
                                    font-family:@primary-font;
                                }
                            }
                        }
            		}
                }
            }
        }
    }
}


.hamBurger{
    position:absolute;
    top:30px;
    right:30px;
    .navbar-inverse{	
        .navbar-header{                   
            z-index:0;
        }
        background:none !important;
        .navbar-toggle{
            background:none !important;
            padding:0 !important;
            margin:20px 0 0 0;
            box-shadow:none !important;
            border:0 !important;
            outline:none;
            border-radius:0 !important;
            span{
                background:@black !important;
                height: 5px;
                width: 30px;
            }
            &:hover{
                span{
                    background:@primary-color !important;
                }
            }
        }
    }
}
/**   Responsive Layouts   **/

@media (max-width: 1199px){

}

@media (max-width: 1008px){

}

@media (max-width: 991px){
	.headercontainer{  
        header{
            .headerVerticalHold {
                .container{
                    .cover.pull-left{
                        width:65%;
                    }
                    .cover.pull-right{
                        width:35%;
                    }
                    .left{   
                        width:100%;
                        margin:0 0 10px;

                    }
                    .seperator{
                        display:none;
                    }
                    .right{	
                        width:100%;                    

                    }	
                }
            }
        }
    }
}
@media (max-width: 769px){

    .headercontainer{  
        header{
            .headerVerticalHold {
                .container{
                    .cover.pull-left{
                        width:100%;
                    }
                    .cover.pull-right{
                        width:100%;
                    }
                    .left{   
                        width:100%;

                    }
                    .seperator{
                        display:none;
                    }
                    .right{	
                        width:100%;                    

                    }	
                }
            }
        }		        
    }
}