/**     Hero Parallax Styles     **/

.heroParallax{
    margin:0 -15px;
    .heroParallax-element, #mainContent{
        margin:0!important;
        .carousel{
			margin: 0;
			.carousel-indicators {
                margin:0;
                top: auto;
                bottom: 0;
                left: 50%;
                right: auto !important;
                transform: translateX(-50%);
                li{
					background:#ffffff !important;
                    &:hover,&.active{
						background:@primary-color !important;
                    }
                }
            }
            .carousel-inner {     
                img{
					max-height:660px;
                }
                @media (min-width:770px){
					height: auto;
                    > .item {
                        a {
                                img {
                                        height:100%;
                                    }
                            }
                    		img {
								height: auto !important;                                
                                min-height: 390px!important;
                                display: block;
                                overflow: hidden;
                                object-fit: cover;
                    		}
                		}
                }
                	.container {
                            text-align: left;  
							margin:0 !important;
                       }
           		 }
            .carousel-caption {
                top: 0 !important;
                width: 100% !important;
                left: 0 !important;
                position: absolute;
                text-shadow: none !important;
                height: 100%;
                padding: 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                right: auto;
                bottom: auto;
                text-align:center;
                .container{
                    max-width: 700px;
                    margin:0 3vw !important;
                    padding: 0;
                    background: rgba(255,255,255,.5);
                }
                h1,h2,h3 {					 
       				 margin: 0;  
                    padding:0 30px 0;
                }
               h1 {
                    font-size: 3.5em;
                    padding-top:3vw;
                    text-transform: none;
                    font-family: @secondary-font;
                    color:@primary-color;
                    text-align:left!important;
                    margin:0 0 25px 0;
                }
                strong{
                    color:@secondary-color;
                }
                p{
                    padding:0 30px;
					font-size: 1.1em;
                    line-height: 1.5em;  
                    font-family:@primary-font;
                    max-width:550px;
                    color:@black;
                }
                p:last-of-type {
                    padding-bottom: 3vw;
                }
            }
            .carousel-calltoAction{
                margin:40px 0 0;
                text-align:center;
                a{                                    
					text-decoration:none !important;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: none;
                    text-indent: -99999px;
                    display: block;
                    left: 0;
                    top: 0;
                }
                button {
                	display:none !important;
                    text-transform: capitalize;
                    background-color: lighten(@primary-color,10%);                    
                	//.horizontal-gradient (@startColor: #09bdec, @endColor: #09599f);
                    font-size: 1.1em;
                    color:@white;
                	.border-radius(3px);
                    border:none;                                
                    padding: 1.3em 2.5em;
                    font-weight:bold;
                    .transition(all ease 300ms);
                    margin: auto;
                    display: block;
                    &:hover, &:focus {
						color: @white !important;
                    	background-color: @primary-color !important;
   						//.horizontal-gradient (@startColor: #09bdec, @endColor: #09bdec);				
                        .transition(all ease 300ms);                   		
                    }
                }

            }
            
        }
    }
}

/**   Responsive Layouts   **/


@media (max-width: 1199px){
    .heroParallax{        
        .carousel-inner {     
            .item {
                .carousel-caption {
                    .container{
						max-width:100%;
                    }
                    h1,h2 {
                        font-size: 3em !important;                    
                    }                                        
                }
            }
        }
    }
}


@media (max-width: 991px){       
	.heroParallax{        
        .carousel-inner {     
            .item {
                .carousel-caption {                             
                    h2, p, h3 {
                        width:100% !important;                    
                    }
                }
            }
        }
    }
}	

@media (max-width: 769px){  

    .heroParallax{        
        .carousel-inner {     
            .item {                
            	img{
 					height:350px;                	
                	object-fit: cover;
                }
				.carousel-caption {
                    br{
    					display:inline !important;
                    }
                	font-size:15px !important;
                	h1,h2 {
                        font-size: 2em !important;                    
                    }    
                	p{
						font-size:15px !important;
                	}
                	button{
                    	padding: 15px !important;
                    }
                }            
            }
        }
    }
}

.heroParallaxText{
    .carousel-inner {
        padding:0 50px;
    }
    .slider-indicators{
        height:15px!important;
        bottom:15px!important;
        top:auto!important;
    }
}
.left-button heroParallax .heroParallax-element .carousel .carousel-calltoAction a,
.left-button .heroParallax #mainContent .carousel .carousel-calltoAction a {
    float: left;
}