/**     Highlight Text     **/

.highlightText{
    .informa-highlight-text{
        .informa-highlight-text-title{
            .content-title{  
                background-color: @primary-color;
                border-bottom: 0 !important;
                small{                   
					font-family:@primary-font;
                }

                img{

                }
            	&:after{

                }
            }
        }
        .informa-highlight-text-content-section{
			background-color:@white;
        	border:1px solid @primary-color;
            ul{
                li{
                    a{
                        &:hover{

                        }
                    }
                }
            }
        }
    }
}