/**     Image Galleryi     **/

.imagegallery{
    .tab-content{
        .img-gallery{
            padding:0!important;
            margin:41px 0 0 0 !important;
            padding-bottom:0!important;
            background:none;
            @media (max-width: 768px){
                margin:41px 15px 0 15px !important;
            }
            h3{
                font-size: 17px !important;
                color:@black;
                text-align:center;
                padding:5px 0!important;
                margin:0 0 20px 0!important;
                &::after{
                    background: @primary-color;
                    top: 40px;
                    content: "";
                    display: block;
                    height: 3px;
                    left: 50%;
                    margin: 0 0 0 -48px;
                    position: absolute;
                    width: 95px;
                }
                
            }
            .nbs-flexisel-container, .tab_carousel_well{
                overflow:auto!important;
            }
           .nbs-flexisel-nav-left, .nbs-flexisel-nav-right{
                height:100%!important;
                top:0!important;
            }

            .carousel{
                ul{
                    li{
						background:none !important;
                        list-style:none;
                        a{
							padding:0;
                            background:none;
                            position:relative!important;
                            min-height:110px;
                            display:block!important;
                            img{
								left:0;
                                right:0;
                                top:0;
                                bottom:0;
                                margin:auto!important;
                                position:absolute!important;
                                height:auto!important;
                            }
                        }
                    }
                }
            }
        }
    }

}

.lg-icon, .lg-icon::after
{
    font-family:"lg"!important;
}