.imagecalltoaction{   
    margin-bottom:10px;
    .informa-image-call-to-action{
        .informa-image-call-to-action-title{
            h3{                
                background-color: @primary-color;
                border-bottom:0;
                font-family:@primary-font;
            }            
        }
    	.informa-image-call-to-action-content-section {
	        .col-sm-8{
            	.callToActionContent{
                	p{
                    	color:#000!important;
                	}

            	}
            	.col-md-12{
                	padding-right:0!important;
                    .btn-custom{
                            max-width:275px;
                    }
            	}
        	}
    	}
        .contentHeaderImage-container{
    		background-color: transparent;
        }
        .callToActionContent{
        	padding:0 0 10px 0!important;
        	h4{
				color:@primary-color;
            	line-height:46px;
            }
            p{
				font-size:14px !important;
                font-family:@primary-font;
            }
        }
        .btn-custom{
        	border-bottom:0;
        	background-color:transparent;
        	border:1px solid @black;
	        padding:7px!important;
        	.transition(300ms all ease-out);
            h4{
    			color:@black;
                width: 100% !important;
            	padding-right:0;
                font-size: 15px;
                font-weight: bold;
                text-align: center !important;
            	text-transform:uppercase;
                font-family: @primary-font; 
            	.transition(300ms all ease-out);
            }
            .HomePageBtnArrow{
    			display:none;
            }
            &:hover{
            	background:@primary-color;
            	border:1px solid @primary-color; 
            	.transition(300ms all ease-out);
                h4{
					color:@white;
                	.transition(300ms all ease-out);
                }
            }
        }
    }
}


@media (max-width: 1024px) and (min-width: 768px){
    .contentHeaderImage-container.imageCalltoaction-main {
        margin-bottom: 0!important;
    }
}



/**   Responsive Layouts   **/

@media (max-width: 991px){

}

@media (max-width: 767px){

}

@media (max-width: 320px){

}