.linklist{
    ul{
        li{
            float:none;
            border-left:none;
            display:block;
            margin:0 0 5px;
            a{
				display:block;
                padding:5px 5px 5px 20px;
                position:relative;
                font-family:@primary-font;
                color:@black;
                font-size:14px;
                .separator{
					display:none;
                }
                &:hover{
					color:@primary-color;
                }
                &:after{
					content:'\f054';
                    font-family:FontAwesome;
                    display:block;
					position:absolute;
                    font-size:16px;
                    color:@secondary-color;
                    top:6px;
                    left:0;
                }
            }
        }
    }
}
