.listview-variant-2{
    .listheading{   
        .list.heading.nav {
            background: none repeat scroll 0 0 @black!important;
        }
        .heading{
            ul{
                li{
                    margin:0;
                    a{
						font-family:@primary-font !important;
                        color:@black;
                    }
                }
            }
        }
        .item{
            ul{
                li{
                    margin:0;
                    div{
						font-family:@primary-font !important;
                    }
                    a{
						font-family:@primary-font !important;
                    }
                    span{
						font-family:@primary-font !important;
                    }
                    &.tr.list-item-rows:nth-child(odd) {
                        background: #f2f5f7;
                    }
                    &.tr.list-item-rows:nth-child(even) {
                        background: @white!important;
                    }
                }
            }
        }
    }
}


/**   Responsive Layouts   **/

@media (max-width: 1199px){

}

@media (max-width: 991px){

}

@media (max-width: 767px){
	
}