.programsearch{
    .exhibitorProjectsInnerBoxes{
        .searchContainer{
            ul{
                li{
                    .content-title{
                        background-color: @primary-color;
                        border-bottom: 0 !important;
                        p{
							font-size:18px;
                        }
                        img{
							display:none;
                        }
                    }
                }
            }
        }
    }
}
