/**     Social - Link     **/
.sociallinks{
    .socialIcon{
        ul{
            float:none !important;
            font-size:0;
            li{
                display:inline-block;
                border-left:0;
                float:none;
                margin-right:10px;
                a{
                    padding:0;
                    i{                                              
                        color: @white;
                        height:37px;
                        width: 37px;                        
                        background: #3e3e3e;
                        margin: 1px 0 0;
                        text-align: center;
                        display: inline-block;
                        font: normal normal normal 15px/1 FontAwesome;
                        font-size:16px;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        line-height:37px;

                        &.youtubeIcon{	
                            &:after{
                                content: "\f167";      
                            }                            
                        }
                        &.linkedinIcon{	                           
                            &:after{
                                content: "\f0e1";
                            }                            
                        }
                        &.twitterIcon{                         
                            &:after{
                                content: "\f099";
                            }
                        }
                        &.facebookIcon{                           
                            &:after{
                                content: "\f09a";  
                            }
                        }
                        &.instagramIcon{                          
                            &:after{
                                content: "\f16d"; 
                            }
                        }
                        &:hover{
                            background:@primary-color;
                            color:@white;
                            .transition(300ms all ease);
                        }
                    }
                }
            }
        }
    }
}
