/**  Text Styles **/

.text{
    h1{
		color:@secondary-color !important;
        font-family:@secondary-font !important;
        font-size:48px;
    }
    h1,h2,h3,h4,h5,h6{

    }
    color:@black;
    p{
        a{

            &:hover{

            }
        }
    }
}



.text {
  color: @black;
  &-primary {
    color: @primary-color!important;
  }
  &-secondary {
    color: @secondary-color!important;
  }
  &-tertiary {
    color: @tertiary-color!important;
  }
  &-4th-color {
    color: @4th-color!important;
  }
  &-5th-color {
    color: @5th-color!important;
  }
  &-6th-color {
    color: @6th-color!important;
  }
  &-white {
    color: @white!important;
  }
  &-black {
    color: @black-black!important;
  }

}
