/**     Title Bar Styles     **/

.titleBar{    
    .informa-title-bar{
        font-weight:normal;
        padding:10px 0;
        margin:0 0 10px;
        color:@primary-color;
        font-family:@secondary-font;
        background-color:transparent;
        border-bottom:0 !important;
        line-height:1.4em;        
        font-size: 48px;        
        &:before{

        }
    }
    .content-highlight-title-anchor{
    	font-size:26px;
        line-height:36px;
        font-weight:bold;        
        padding:15px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        color:@black;
        font-family:@secondary-font !important;
        margin:0 0 5px;
    }
}