/**     CTA - Title, Desc, Links     **/

.contactUs .boxes .box {
    background-color: #fafafa !important;
    border: 1px solid #e1e1e1 !important;
    padding: 25px !important;
}

.contactUs .boxes .box h1 {
    margin: 0 0 10px;
    color: #000;
    line-height: 1;
}

.contactUs .boxes .box h4, .contactUs .boxes .box h6 {
    margin: 0 0 5px;
    color: #000;
    line-height: 1;
}

.contactUs .boxes .box h4, .contactUs .boxes .box h6 {
    margin: 0 0 5px;
    color: #000;
    line-height: 1;
}

.contactUs .boxes .box h6 {
    font-size: 14px;
}

.contactUs .boxes .box a {
    color: #23ace2 !important;
}

.contactUs .boxes .box a:hover {
    color: #23ace2 !important;
    text-decoration: underline;
}