/**     Top Navigation Styles     **/

.top-nav{       
    .informa-header-menu{       
        .navbar{
            min-height:0;
            background:none; 
            padding:0;
            .container{
                width:auto;
                position:relative;
                .navbar-element, #navbar {
                    background-color:transparent !important;
                    .navbar-nav{
                        width:100%;
                        padding:0;
                        background-color:transparent;
                        margin-top:23px;
                        li:last-of-type ul{
							left:auto;
                            right:0;
                        }
                        li{
							margin:0;
                        }
                        >li{
                            border-left: none;
                            display:inline-block;
                            float:none;
                            margin:0;
                            border-left: none;
                            a{
                                height:auto;
                                padding:13px !important;
                                width:auto;
                                font-family:@primary-font;
                                small{									
                                    display: block;                                   
                                    color:@black;
                                    width:auto;
                                    height:auto;
                                    font-size:12px !important;									                                
                                    font-weight:bold !important;
                                    padding:0;
                                    text-transform:capitalize;                                	
                                    .navArrowRight{
										margin-top:0 !important;
                                    	line-height:20px;
                                    }
                                }
								&.has-submenu {
                                    padding-right:23px!important;
                                    @media only screen and (min-width: 769px) {
                                        small::after {
                                            content: "";
                                            display: inline-block;
                                            font-family: FontAwesome;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 1;
                                            margin-left: 5px;
                                            position: absolute;
                                            top: 15px;
                                            right:8px;
                                        }
                                    }
                                }
                            }
                            &:first-child{
								border-left:0;
                                a{									

                                }
                            }  

                            &.active,&:hover,&:visited,&:focus,&.open{
                                a{
                                    background-color:transparent !important;
                                    small{
										color:@secondary-color;
                                    }                                   
                                }
                            }
                        	&.navRegisterbg{
                            	float:right;
                            	background:none !important;
                                a{
                                	color: @white; 
                                    background: @primary-color;
									font-size:14px;                                	
                                	display:block;
                                    line-height:20px;                                	
                                	.transition (all 300ms ease-out);
                                    &:hover{
    									background:lighten(@primary-color, 7%) !important;
                                    	.transition (all 300ms ease-out);
                                    	color:@white;
                                    }
                                }
                        	}
                            &:hover{
                            	@media (min-width: 768px){
                                    > ul{                                                                               
                                		opacity:1;	   
                            			height:auto;
                                        .transition(500ms all ease-out);
                                    }
                                }
                            }
                			@media (min-width: 768px){
                                ul{                                
                                    background-color:@white !important;
                                    .border-radius(3px);
                                    padding:0 20px;                    			
                                    width:220px !important;         
                                    box-shadow: 0 6px 12px rgba(0, 0, 0, .5);	
                                    opacity:0;
                                    height:0;
                                    overflow:hidden;
                                    display:block;
                                    .transition(500ms all ease-out);
                                    li{
                                        border-left:0;                                	
                                        position:relative;
                                        display:block;
                                        margin:0;
                                        a{
                                            display:block;
                                            padding:15px !important;
                                            margin:0 !important;
                                            border-bottom:1px solid #eeeeee;
                                            small{
                                                display:block;
                                                font-weight:normal !important;
                                                text-transform:initial;
                                                color:@black !important;
                                            }
                                        }
                                        &:hover{
                                            @media (min-width: 768px){
                                                > ul{
                                                    display:block;
                                                    top:0;
                                                    left:100%;
                                                    visibility:visible;
                                                    .transition(300ms all ease-out);
                                                }
                                            }
                                            > a{                                         											
                                                small{
    
                                                    color:@secondary-color !important;
                                                }
                                            }
                                        }
                                        &:first-child{
                                            border-left:0;
                                            a{									
                                                small{                                                
                                                    border-top:0;
                                                }
                                            }
                                        }                                    
                                    }
                                }
							}
                        }
                    }
                }
				.trig-search{
                    color: #ffffff;
                    font-size: 18px;
                    display: inline-block;
                    padding: 8px 10px;
                    float: right;
                    cursor:pointer;
                    position:absolute;
    				.transition(300ms all ease-out);
                    top:7px;
                    right:0;
                    &:hover{
                        color:@primary-color;
        				.transition(300ms all ease-out);
                    }
                }

            }
        }
    }
}

/**   Responsive Layouts   **/
@media (max-width: 1280px){

}
@media (max-width: 991px){

}
@media (max-width: 769px){

    .top-nav{         
        .informa-header-menu{       
            .navbar{
                .container{
                    position:relative;
                    .navbar-element, #navbar{
                        background:@black !important;
                        .navbar-nav{
                            width:85%;
                            padding:0;
                            li{
								display:block;
                                float:none;
                                a{
									line-height:20px !important;                                    
                                    small{
										line-height:20px !important;
                                        color:@white !important;
                                    }
                                }
                                ul{
                                    width:100% !important;
                                    li{
                                        &:hover{
                                            background-color: transparent !important;
                                        }
                                    }
                                }
                                &.navRegisterbg{
									width:100%;
                                    float:none;
                                }
                            }
                            .mainSecondaryNav{
								display:none;
                            }                            
                        }
                        .navbar-header{
                            background:none;
                        }
                    }
                	position: static;
                    .trig-search{
                        display:none !important;
                    }    
                }
            }
        }
    }

}
@media (max-width: 320px){

}