/**     Youtube Video     **/
.youtube-video{
    .media-body{
        .media-heading{
            border-bottom: 0;
			background:@primary-color;
            font-family:@primary-font;
            line-height:27px;
            font-size:19px;
        }
    }
}

.video-list{ //CUSTOM CLASS
    .youtube-video{
        .media-body{
            .media-heading{
                min-height: 84px;
            }
        }
    }

}