// Utility Navbar
.utility-navbar ul {
  float: right;
  @media (max-width: 786px) {
    float: none;
    margin-right: 15px!important;
  }
}
.utility-navbar ul li {
  float: left;
  text-align: center;
  list-style: none!important;
  color: @color-gray-base;
  margin: 5px 0px;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  @media (max-width: 430px) {
    margin: 0px 0px 10px 0px;
  }
}
.utility-navbar ul li a {
  text-decoration: none;
  color: @color-gray-base;
  font-size: (@font-size-base - 4)!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
  &:hover,
  &:focus,
  &:active {
    color: @color-primary !important;
    text-decoration: none!important;
  }
  @media (max-width: 430px) {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  @media (min-width: 768px) {
      padding-top: 5px!important;
      padding-bottom: 5px!important;
  }
}
.utility-navbar ul li a.fa-mobile{
  padding-top: 2px !important;
  padding-bottom: 0px !important;
  font-size: (@font-size-base + 2)!important;
}
.utility-navbar ul li a.fa-home {
  padding-top: 3px !important;
  padding-bottom: 0px !important;
  font-size: @font-size-base!important;
}
.utility-navbar ul li + li {
  border-left: 1px solid @color-gray-base;
    @media (min-width: 768px) {
      margin: 5px 0px;
      padding-top: 0px!important;
      padding-bottom: 0px!important;
    }
  }
.utility-navbar ul li + li:last-child {
  border-left: none;
  a {
    color: @navbar-color!important;
    background-color: @color-primary!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none!important;
      color: @color-primary !important;
      background-color: @navbar-color !important;
  }
}
  @media (min-width: 768px) {
    margin: 5px 0px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-right: 15px!important;
  }
}
