// Colors
@color-primary: #fcb131;
@color-secondary: #005596;
@color-tertiary: #59b176; //bright green
@color-quaternary:#1492a5; //bright blue
@color-gray-base: #696f73;
@color-gray-light: lighten(@color-gray-base, 25%);;
@color-primary-muted: lighten(@color-primary, 55%);
@color-secondary-muted: lighten(@color-secondary, 55%);
@color-black: #000000;  // Black
@color-white: #ffffff; // White

// Base font
@font-family-base: 'Open Sans', sans-serif;
@font-size-base: 16px;
@font-color-base: #000;
@font-line-height-base: 1.8em;

// Headings
// @headings-color: @color-primary;
// @headings-font-family: @font-family-base;
// @headings-font-weight: 700;
//
// @headings-h1-font-size: (@font-size-base + 24);
// @headings-h2-font-size: (@font-size-base + 14);
// @headings-h3-font-size: (@font-size-base + 8);
// @headings-h4-font-size: (@font-size-base + 4);
// @headings-h5-font-size: @font-size-base;
// @headings-h6-font-size: (@font-size-base - 2);

// Link color
// @link-color: @color-primary;

// Informa top bar
// @informa-top-bar-bg: @color-gray-base;
// @informa-top-bar-color: #fff;
// @informa-top-bar-font-size: (@font-size-base - 2);

// Header
// @header-logo-width: 200px;
// @header-logo-height: 200px;

// Navbar
@navbar-color: #fff;
@navbar-bg: @color-primary;
@navbar-font-family: @font-family-base;
@navbar-font-size: @font-size-base;
@navbar-font-size-sm: (@navbar-font-size - 4);
@navbar-item-padding: 15px;
@navbar-hover-color: #fff;
@navbar-hover-bg: darken(@color-primary, 8%);

@navbar-highlight-width: auto;
@navbar-highlight-float: right;
@navbar-highlight-color: #fff;
@navbar-highlight-bg: @color-secondary;
@navbar-highlight-hover-color: #fff;
@navbar-highlight-hover-bg: darken(@navbar-highlight-bg, 8%);

// Footer
// @footer-color: #fff;
// @footer-bg: @color-gray-base;
// @footer-link-color: lighten(@color-gray-base, 60%);
// @footer-logo-width: 250px;

// Components

// Carousel
// @carousel-caption-color: #fff;
// @carousel-caption-bg: transparent;
// @carousel-caption-font-size: 21px;
// @carousel-caption-font-weight: 700;

// CTA
// @cta-heading-color: #fff;
// @cta-heading-bg: @color-primary;
// @cta-body-bg: @color-primary-muted;
//
// @cta-link-font-size: 18px;
// @cta-link-color: #fff;
// @cta-link-bg: @color-primary;
//
// @cta-link-secondary-color: #fff;
// @cta-link-secondary-bg: @color-secondary;
