/* HEADER */
/* Global change */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 1.6em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.content-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
p,
ul {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #696f73;
}
.informa .col-md-12,
.informa .dropdown button {
    background: #525A5C !important;
    color: #ffffff;
}
a,
a:hover {
    color: #59b176;
    background-color: transparent !important;
	text-decoration: underline;
}
.heading a, .heading a:hover {
    text-decoration: none !important;
}

strong,
b {
    font-weight: bold;
    color: #1492a5;
    font-size: 16px;
}
.strike{
text-decoration: line-through; }

h4.content-highlight-title-anchor.custom-anchor-title,
.imagecalltoaction .informa-image-call-to-action-content-subtitle {
    padding: 0 !important;
    color: #000000;
    font-size: 1.7em !important;
}
.content-background-color,
.img-gallery,
.nbs-flexisel-item {
    background-color: transparent;
}
.informalist-color p {
    color: #ffffff !important;
}
/* Global Changes */

.headercontainer.section {
    background: #ffffff !important;
}

@media only screen and (max-width: 586px){

.headerVerticalHold .left > div {
    width: 95%;
}
}
/* This kills date

.seperator, .right.testAlter {
    display: none !important;
}
*/

header .cover div.seperator {
    border-left: 1px solid #cacaca;
    vertical-align: middle;
    height: 100%;
    padding-right: 0px;
}
span.topNavAddress {
    color: #000000 !important;
}
p.calendarDetails,p.mapIconHeader{margin:0;padding:0;display:block;overflow:hidden;clear:both;color:#242424 !important}
p.calendarDetails i,p.mapIconHeader i{background-image:none !important;font-family:"FontAwesome";font-style:normal;width:17px !important;height:auto !important;display:block !important;overflow:hidden;font-size:.7em;margin-top:0 !important;line-height:1.8em;text-align:center;font-weight:normal;color:#242424}
p.calendarDetails i:before{content:"\f073"}
p.mapIconHeader i:before{content:"\f041";font-size:1.4em}

.eventDateContainer p,
.eventDateContainer p {
    color: #242424 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px !important;
}
@media screen and (min-width: 769px) {
    .cover.pull-left {
        width: 80%;
    }
    .cover.pull-right {
        width: 20%;
    }
}
header .cover div.right {
    width: 100%;
}
    div#header_search {
    display: none !important
}

.header_ipar .quicklink.parbase.section {
    margin: -132px 0;
    float: left;
    position: relative
}
.registration-cta .highlgt-btn-custom {
    background: #59b176 !important;
    border-radius: 0px !important;
    padding: 12px 22px !important;
    font-size: 22px;
    font-weight: normal !important;
}
.registration-cta .highlgt-btn-title {
    font-size: 100%;
    font-weight: normal !important;
	width: 100% !important;
}
@media(max-width: 769px) and (min-width:320px) {
    .header_ipar .quicklink.parbase.section {
        margin:-25px 0 -8px;
        float: left;
        position: relative
    }
}
/* Footer Sign Up Form */

.sign-up-form.section {
    background: url(/content/dam/Informa/westsupplysideshow/en/2017/welcome/email-signup-background-homepage.png);
	background-color:#005696 !important;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 -15px;
    padding: 0 15px;
}

.sign-up-form .form-container.Default.Default,
.sign-up-form .row.form-one-registration.custom-form-row {
    background-color: transparent;
}

.sign-up-form h1.forms-title.form-fo1-title {
    display: none;
}
.sign-up-form .input-div {
    width: 100% !important;
}
.sign-up-form .container-form .form-container .forms-title h4.content-highlight-title-anchor.custom-anchor-title,
.sign-up-form #formTitleId h4.content-highlight-title-anchor.custom-anchor-title {
    font-size: 28px !important;
    font-weight: inherit;
    color: #fff;
    font-family: "open sans", sans-serif;
	margin: 0 0 12px 24px;
}

.sign-up-form p {
    color: #ffffff;
    font-size: 15px;
    margin: 8px 0;
    text-align: right;
    font-family: "open sans", sans-serif;
}
.sign-up-form label.col-md-3.col-sm-3.form-one-control-label.forms-title-color-fo {
    display: none;
}
.sign-up-form input#Email {
    width: 100%;
    height: 50px !important;
    border-radius: 4px !important;
}
.sign-up-form input[type=button], .sign-up-form input[type=submit], .sign-up-form input[type=reset] {
    border-radius: 0px !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    background-color: #59b176 !important;
    min-width: 184px !important;
    font-family: "Open Sans", sans-serif !important;
    height: 50px !important;
    margin: -10px 0 0 0 !important;
    display: table;
    font-size: 18px !important;
    font-weight: bold !important;
}
footer .nav>li>a>.separator {
    color: #cecece;
}
/* End of Footer Sign Up Form */
/* Text */


/* Fonts declarations */

.nav,
.navbar-inverse .navbar-nav > li > a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
/* End of Fonts declarations */

input,
button,
select,
textarea {
    background: #ffffff;
    color: #000000;
    text-shadow: none;
    border: 1px solid #cecece;
}
/* Footer Area */

.footer_ipar.iparsys.parsys {
    display: block;
    overflow: hidden;
    margin: 0 -15px;
    padding: 0 15px;
}
/*images-footer stylings*/

.images-footer,
.images-footer > div, .images-footer-columns-container {
    background-color: #ededee;
}
.images-footer h4.content-highlight-title-anchor.custom-anchor-title {
    color: #000;
    font-size: 18px !important;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.images-footer hr.contentSeprator {
    border-top: 3px solid #1492a5;
    display: block;
    margin: 0 30%;
    padding-bottom: 14px;
    text-align: center;
}
.images-footer .borders-left-right {
    border-left: 1px solid #ababab;
    border-right: 1px solid #ababab;
}

footer .nav>li>a:hover {
    color: #ffffff;
}

/*sssw-footer stylings*/

.sssw-footer,
.sssw-footer > div, .sssw-footer-columns-container {
    background-color: #323232;
}
.sssw-footer h5 {
    color: #fff;
    display: block;
    font-family: Oswald;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 0;
}
.sssw-footer a {
    font-family: 'Oswald', sans-serif;
    color: #aeaeae;
    font-size: 12px;
    font-weight: bold;
    line-height: 21px; /*Changes by IBM for UBM Site Migration (Added line-height)*/
}
.sssw-footer a:hover {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
.sssw-footer table.dataTable tbody th,
table.dataTable tbody td {
    padding: 0px 20px;
}
/*social Icons*/

ul.footer-social {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
}
ul.footer-social li {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    display: block;
    overflow: hidden;
}
ul.footer-social li a {
    display: table-cell;
    overflow: hidden;
    height: 34px;
    width: 34px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.3em;
    background-color: #7b7b7b !important;
    float: none;
    border-radius: 3px;
}
/*bottom footer*/

footer {
    margin-top: 0px;
}
.row.footerNavbg {
    display: none;
}
footer .aboutInfo .footerLogo {
    margin-top: 0px;
    float: right;
}
.about-informa p {
    color: white;
}
/* informa dropdown */

.informa .dropdown {
    text-align: center;
    padding: 3px 0;
}
.informa .col-md-12,
.informa .dropdown button {
    background: #525A5C !important;
    color: #fff;
}
.informalist-color p {
    color: #fff !important;
    font-size: .9em;
}

/* informa dropdown end*/