.m-controller .btn-danger {
  color: #fff !important;
  background-color: #d9534f !important;
}
.m-controller .btn-danger:hover,
.m-controller .btn-danger:focus {
  background-color: #c9302c !important;
}
.m-controller .btn,
.m-controller .btn:focus,
.m-template .btn:hover,
.m-template .btn:focus {
  font-weight: normal;
}
.m-template .panel-heading {
  padding-bottom: 10px;
}

/* Opportunities list styles */
.m-template--opps-list .panel-default > .panel-heading .opp-level.opp-level--1 {
  background-color: #1492a5;
}
.m-template--opps-list .panel-default > .panel-heading .opp-level.opp-level--2 {
  background-color: #5d2275;
}
.m-template--opps-list .panel-default > .panel-heading .opp-type {
  background-color: #696f73;
}
.m-template--opps-list .opp-action {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: #1492a5 !important;
  border: 0;
  border-radius: 0;
}
.m-template--opps-list .opp-action:hover,
.m-template--opps-list .opp-action:focus {
  background-color: #003a66 !important;
}
@media (max-width: 767px) and (min-width: 320px) {
  .m-template .panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }
}
