.hide {
	display: none !important;
}
/* Accordion */

.travel-accordian .panel-prev {
	background-color: #1492a5;
}
.travel-accordian .panel-prev a h4, .travel-accordian .panel-prev a h4 i {
	color: #ffffff !important;
	font-family: "Open sans", sans-serif !important;
}
/* Banner */
.home-banner .spacingbottom-zeropx {
	background: #696f73;
}
.listview-variant-1 .row {
	margin-left: 0;
	margin-right: 0
}
.listview-variant-1 .row .col-md-12.col-sm-12 {
	padding: 0
}
.listview-variant-1 .firstrow {
	background-color: transparent !important
}
.listview-variant-1 .firstrow .tab-containertwo {
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent
}
.listview-variant-1 .tab-containertwo .tab-content {
	padding: 0
}
.listview-variant-1 .tab-content>.tab-pane {
	padding: 0 !important
}

.listview-variant-1 .listViewTab1 ul.tabList,
.listview-variant-1 #TabOne ul.tabList {
	padding: 0;
	margin: 0
}
.listview-variant-1 .lorem {
	padding: 0 !important;
	min-height: auto !important;
	background-color: transparent !important;
	margin-bottom: 5px
}
.listview-variant-1 span.col-md-3.col-sm-12.col-xs-12.item {
	width: 100%;
	padding: 0 !important
}
.listview-variant-1 span.col-md-1.col-sm-1.col-xs-6.hidden-xs.image {
	display: none
}
.listview-variant-1 .listViewAnchor {
    text-decoration: none;
    display: block;
    overflow: Hidden;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff; 
    /* background-color: #4c718e !important; */
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1em;
}
.heroquicklinks .col-sm-4:nth-of-type(1) .listview-variant-1 .listViewAnchor {
	background-color: #209ab1 !important; 
}
.heroquicklinks .col-sm-4:nth-of-type(2) .listview-variant-1 .listViewAnchor {
	background-color: #005696 !important; 
}
.heroquicklinks .col-sm-4:nth-of-type(3) .listview-variant-1 .listViewAnchor {
	background-color: #19b1a0 !important; 
}
/*.listview-variant-1 a.listViewAnchor:after {
	content: "\f138";
	font-family: "FontAwesome";
	position: absolute;
	right: 10px
}
.listview-variant-1 .listViewAnchor:hover {
	background-color: #717070 !important;
}
*/
.banner-section .informa-image-banner-image.img-responsive {
	display: block;
	overflow: hidden;
	text-align: center;
}
.banner-section .informa-image-banner-image img {
	max-width: 100%;
	max-height: 154px;
	width: auto;
}
/*
    Anchor Links
    Tab
*/
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a, 
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a:focus, 
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a:hover,
#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a, 
#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a:focus, 
#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a:hover {
	background-color: #f4f4f4;
	border-color: transparent;
	color: #1492a5 !important;
	cursor: default;
	border-top: 4px solid #1492a5 !important;
	outline: none;
}
.tab-collapse-nav-container-anchor, /* Anchor Links */

.informa-tab-panel.travel-nav-container {
	/* Tab */
    
	background-color: transparent;
}
.tab-collapse-nav-tabs-anchor li {
	margin-bottom: 0;
}
.tab-collapse-nav-tabs-anchor li a, /* Anchor Links */

.informa-tab-panel-tab-title travel-Tab-title {
	/* Tab */
    
	font-family: "Open Sans", sans-serif !important;
	padding: 0 !important;
	margin: 0 !important;
	border-top: 4px solid transparent !important;
}
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a, /* Anchor Links */
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a:focus, 
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a:hover, 
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li > a:hover, 
#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a, /* Anchor Links */
#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a:focus, 
#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a:hover, 
#AnchorLink .tab-collapse-nav-tabs-anchor > li > a:hover, 
.nav-tabs > li.active > a, /* Tab */

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .travel-nav-tabs > li > a:hover, .vertical-tab-panel .tabstyle .nav-tabs > li.active, /* Vertical Tab */

.vertical-tab-panel .tabstyle .nav-tabs > li.hover, .vertical-tab-panel .tabstyle .nav-tabs > li.focus {
	border-top-color: #1492a5 !important;
	color: #1492a5 !important;
	background-color: #ffffff;
}
.vertical-tab-panel .tabstyle .nav-tabs > li.active a {
	cursor: pointer;
}
.vertical-tab-panel .tabstyle .nav-tabs > li a {
	cursor: hand;
}
.tab-collapse-tab-title {
	color: inherit;
}
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li > a,
#AnchorLink .tab-collapse-nav-tabs-anchor > li > a, /* Anchor Links */

.travel-nav-tabs > li > a, /* Tab */

.vertical-tab-panel .tab-collapse-nav-tabs > li > a {
	background-color: #eaeaea;
	color: #808080;
	border: 0 none;
}
.travel-nav-tabs > li > a {
	/* Tab */
    
	border-top: 4px solid transparent !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover span, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover span {
	color: #1492a5;
}
span.tab-collapse-tab-title-anchor, .travel-Tab-title, .tab-collapse-tab-title {
	font-family: 'open sans', sans-serif;
	font-size: 0.8em;
}
.nav-tabs > li.active > a .tab-collapse-tab-title {
	color: #41b0aa;
}

.anchorLinkElement .tab-collapse-nav-tabs-anchor>li>a span,
#AnchorLink .tab-collapse-nav-tabs-anchor>li>a span {
	height: auto !important;
}
/* Anchor Only */
.anchorLinkElement .row-divider-anchor,
#AnchorLink .row-divider-anchor {
	background-color: transparent;
	border-bottom: 1px solid #dadada;
	margin-bottom: 30px;
}
.anchorLinkElement .back-to-top a,
#AnchorLink .back-to-top a {
	text-decoration: none;
	font-size: 0.8em;
}
.anchorLinkElement .custom-anchor-title,
#AnchorLink .custom-anchor-title {
	padding: 0;
	background-color: transparent;
	border-bottom: 0 none;
}
/* Alert Box */

.dialoguebox.section {
	display: block;
	overflow: hidden;
	background-color: #f8f8f8;
	padding: 20px;
	margin-bottom: 20px;
}
.dialoguebox .homepage-modal-body {
	display: block;
	overflow: hidden;
}
.dialoguebox .homepage-modal-body .col-md-12.col-sm-12 {
	margin: 0;
	padding: 0;
}
.dialoguebox .homepage-modal-body .col-md-12.col-sm-12 .modal-header, .dialoguebox .homepage-modal-body .col-md-12.col-sm-12 .modal-body {
	margin: 0;
	padding: 0;
}
.callaction-btn-title {
	font-family: "Open Sans", sans-serif;
}
/* CTA-Link */

.highlgt-btn-icon-padding .img-responsive, .highlgt-btn-icon-padding, .col-xs-1.HomePageBtnArrow, .informa-highlight-text-title h4 img {
	display: none;
}
.highlgt-btn-custom, a.btn.btn-primary.btn-lg.btn-custom, .modal-footer .callaction-btn .btn-custom, .btnCustomFixedWidth {
	background-color: #1492a5 !important;
	width: auto !important;
	float: left;
	border: 0 none;
	max-width: 100%;
	height: auto;
	font-family: "Open Sans", sans-serif;
	padding: 5px 10px !important;
	letter-spacing: 1px;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 0;
    line-height: 0px;
}
.highlgt-btn-custom:hover, a.btn.btn-primary.btn-lg.btn-custom:hover, .modal-footer .callaction-btn .btn-custom:hover, .btnCustomFixedWidth:hover {
	background-color: #003a66 !important;
}
.highlgt-btn-title {
	font-size: 16px;
	font-weight: bold;
}

/* List - Tabular View */
.listheading {
    background-color: #ffffff;
    padding-bottom: 20px;
}
.listheading .list.heading.nav {
    background: none repeat scroll 0 0 #005696;
}
.listheading .list.heading ul.list li a {
    color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.listheading .listpage li a {
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    color: #000000;
}
ul li.tr.list-item-rows {
    width: 100%;
    clear: both;
    color: #000000;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
}
li.tr.list-item-rows:nth-child(odd) {
    background: rgba(0, 0, 0, 0.04);
    border-bottom: 1px solid rgb(211, 211, 211);
    border-top: 1px solid rgb(211, 211, 211);
}


/* CTA-Link - Tittle,Desc,Link */
.big-cta .highlgt-btn-custom {
    background-color: #59b176 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 0;
    border-bottom: none !important;
    height: auto !important;
    padding: 18px 12px !important;
    text-transform: capitalize;
    vertical-align: top !important;
    word-break: break-word !important;
    width: 100% !important;
    font-weight: normal!IMPORTANT;
    letter-spacing: inherit
}

.big-cta .highlgt-btn-custom:hover {
    background-color: #1492a5 !important
}

.big-cta .highlgt-btn-title {
    font-size: 20px;
    font-weight: normal
}

.big-cta .event-overview-btn-text-padding {
    padding-left: 0
}

.big-cta .event-overview-btn-text-padding .text-left {
    text-align: center !important
}
.contentHighlightContainer h3,#container1 h3 {
    background-color: #59b176;
    font-family: 'Open Sans',sans-serif;
    font-size: 22px;
    color: #fff;
    margin: 0;
    border-bottom: none !important;
    height: auto !important;
    padding: 18px !important;
    text-transform: none !important;
    vertical-align: top !important;
    word-break: break-word !important;
    font-weight: bold
}
/* FAQ Quick Links */

.faqQuickLink.section {
/* NO STYLES */
}
/* Graphic Highlights */

.graphic_highlight_variations {
/* NO STYLES */
}
/* Carousel */
.img-gallery-indicators li {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 0.3;
}
.img-gallery-indicators .active {
	background-color: #fff;
	opacity: 1;
}
.container-fluid > .row .col-md-12 > .carousel {
	margin: 0 -15px;
}
.container-fluid > .row .col-md-12 > .carousel {
	margin: 0 -15px;
}
.heroParallax.section {
	display: block;
	/* overflow: hidden; */
    
	margin: 0;
	padding: 0;
}
/* Comment Area: if using full width carousel comment the one section below */

.heroParallax.section .row {
	margin: 0;
	padding: 0;
}
/* End of Comment Area */

.heroParallax.section .carousel-inner > .item > img, .heroParallax.section .carousel-inner > .item > a > img {
    height: auto !important;
    min-height: 440px !important;
    display: block;
    overflow: hidden;
    object-fit: cover;
}

.heroParallax.section .sliderdescription {
	background-color: #000000;
}
.carousel-caption {
	width: 100% !important;
	max-width: 1200px !important;
	text-align: left;
	right: 0% !important;
	left: 0% !important;
	top: 0% !important;
	text-shadow: none !important;
}
.carousel-caption .container {
    display: block;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
    float: left;
    margin-left: 2%;
    width: 45%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px 30px;
}

.carousel-caption .container p {
	padding: 0px;
    margin: 0px;
}
.carousel-caption .container p.hero-large {
    font-size: 1.8em;
    color: #000;
    font-weight: 700;
}
.carousel-caption .container p.hero-medium {
    font-size: 1.3em;
    color: #000;
    font-weight: 500;
}
.carousel-caption .container p.hero-small {
    font-size: .7em;
    color: #000;
    font-weight: 400;
	font-style: italic;
}
@media (max-width: 769px) and (min-width: 320px){
.carousel-caption .container {
    display: block;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 20px;
    margin: 0 auto;
    float: left;
    margin-top: 1%;
    width: 98%;
    margin-left: 1%;
}	
	.carousel-caption .container p.hero-large {
    font-size: 1.5em;
      color: #000;
    font-weight: 700;
}
.carousel-caption .container p.hero-medium {
    font-size: 1em;
        color: #000;
    font-weight: 500;
}
.carousel-caption .container p.hero-small {
    font-size: .6em;
        color: #000;
    font-weight: 400;
}

}

.heroParallax .carousel-indicators {
    position: absolute;
    bottom: -10px !important;
    left: 0;
    z-index: 15;
    width: 100%;
    text-align: center;
    list-style: none;
    right: 0;
    top: inherit;
    height: 20px;
}

/*button size*/

.carousel-calltoAction {
    margin: 16px 0 0;
}
/*button color*/

.carousel-calltoAction button {
	background-color: #1492a5 !important;
    border: none !important;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 26px;
    border-radius: 3px;
}
.carousel-calltoAction button:hover, .carousel-calltoAction button:focus, .carousel-calltoAction button:active {
	color: #ffffff !important;
	background-color: #1492a5 !important;
	border-color: #ffffff !important;
}
@media (max-width:768px){
	.carousel-control.left, .carousel-control.right {
    	display:none;
	}
}
/* CTA: Link, Description */
/* Image Call to Action */

.imagecalltoaction.section {
	display: block;
	overflow: hidden;
}
.informa-image-call-to-action .col-md-12.col-xs-12.col-sm-12.col-lg-12 {
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
}
/*Title bar */

.imagecalltoaction h3, .content-title, .informa-highlight-text .content-title small, .informa-leading-text-variation-one-header {
	color: #020202;
	background-color: transparent;
	border-bottom: 0 none !important;
	font-size: 1.5em;
	padding: 20px 0;
	font-family: 'Open Sans', sans-serif;
}
h4.informa-title-bar.content-title.regTitles {
    color: #59b176;
    font-size: 35px;
    font-weight: normal;
}
h4.content-highlight-title-anchor.custom-anchor-title {
	font-size: 28px !important;
	color: #59b176;
}
.row-custom-divider {
	margin-top: 0;
	padding-top: 20px;
}
.informa-image-call-to-action-content-section.row.contentHeaderImage-container.imageCalltoaction-main {
	margin: 0;
	display: block;
	overflow: hidden;
}
.informa-image-call-to-action-content-image.col-md-4.col-xs-12.col-sm-4.col-lg-4.paddingZero {
	margin: 0;
	padding: 0;
}
.informa-image-call-to-action-content-image img.img-responsive, 
.contentHighlight .contentHighlightContainer img.img-responsive,
.contentHighlight #container1 img.img-responsive {
	max-width: 100%;
	display: block;
	overflow: hidden;
}
.speakers .contentHighlight .contentHighlightContainer img.img-responsive,
.speakers .contentHighlight #container1 img.img-responsive {
    margin-bottom: 6px;
    max-height: 150px !important;
}
.speakers div.callToActionPara {
    padding: 0px !important;
	height: 80px;
}
.speakers .contentHighlightContainer h3,
.speakers #container1 h3 {
    text-align: center;
    padding: 8px 2px !important;
    height: 58px !important;
}
.speakers .heading p {
    padding: 4px 6px 0px;
    margin: 0;
}
.speakers strong, b {
    font-weight: bold;
    color: #59b176;
    font-size: 14px;
}
/* Highlighted Text */

.leadingText.section .informa-leading-text {
	display: block;
	overflow: hidden;
	background-color: #f8f8f8;
}
.informa-highlight-text.section.highlightText .content-title {
	background-color: #f3f3f3;
}
.informa-highlight-text .content-title small {
	font-size: 20px;
	padding: 0 20px;
	margin: 0;
	width: 100%;
}
.highlgt-background-color {
	background-color: #f8f8f8;
}
.visitorreg_txtin {
	font-family: "Open Sans", sans-serif;
	color: #000000;
}
.visitorbtn {
	display: block;
	overflow: hidden;
}
/* Text Highlight - Image, Title, Desc, Quote */

.leadingText.section {
	display: block;
	overflow: hidden;
}
.leadingText.section .Consecteturtitle {
	font-size: inherit;
	padding: 0;
	margin: 0;
}
.informa-leading-text-variation-one-alternate-content-image.col-md-6 .img-responsive {
	text-align: center;
}
.leadingText.section p.informa-leading-text-variation-one-content.text {
	display: none;
}
.leadingText.section .setting {
	margin: 0;
	padding: 0 0 30px;
}
.leadingText.section .Testimonialhead, .leadingText.section .testimonialp, .leadingText.section .quote {
	font-family: "Open Sans", sans-serif;
	color: #000000;
}
.leadingText.section .Testimonialhead {
	font-size: 1.2em;
	font-weight: normal;
	color: #ff3333;
	font-family: "Neuton", serif;
}
.leadingText.section .testimonialp {
	font-size: 1.2em;
	margin: 10px 0;
	font-family: "Open Sans", sans-serif;
	color: #000000;
}
.leadingText.section .quote {
	font-size: 0.8em;
	margin: 10px 0;
	padding-left: 10px;
	border-left: 1px solid #000000;
	font-family: "Open Sans", sans-serif;
	color: #000000;
}
/* CTA */
/* CTA Image - Title, Description, Link, Highlight,Button */

.col-xs-11.HomePageBtn {
	width: auto !important;
	padding: 10px;
	margin: 0 !important;
}
a.btn.btn-primary.btn-lg.highlgt-btn-custom .highlgt-btn-title, .imageCalltoaction-main .event-overview-btn-title {
	width: 100% !important;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif !important;
}
.event-overview-btn-text-padding, .HomePageBtn {
	padding-left: 3px;
	text-align: left !important;
}
.btn-primary:hover {
	border-color: #41b0aa;
}
.btn-primary:active {
	width: auto;
}
.col-xs-1.HomePageBtnArrow img {
	display: none;
}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #41b0aa;
	border-radius: 0;
	width: auto;
	border-color: transparent;
	border-bottom: 0 none !important;
}
.informa-image-call-to-action-content-section.row.contentHeaderImage-container.imageCalltoaction-main {
	background: transparent !important;
}
.informa-image-call-to-action-content-image img.img-responsive,
.contentHighlight .contentHighlightContainer img.img-responsive,
.contentHighlight #container1 img.img-responsive {
	vertical-align: middle;
	margin-top: 30px;
	margin-left: 160px;
}
imagecalltoaction .informa-image-call-to-action-content-subtitle {
	font-size: 1.9em;
}
.imageCalltoaction-main .col-sm-4.paddingZero {
	margin-bottom: 0;
	margin-right: -85px;
	margin-left: -85px;
}
imagecalltoaction .informa-image-call-to-action-content-subtitle {
	font-size: 1.6em;
}
.imageCalltoaction-main p {
	font-size: 1em;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: #000000;
}
/* List View*/

.listview-variant-1 .firstrow .heading h2.heading {
	margin-left: 0 !important;
	margin: 0;
	padding: 6px 6px 6px 12px;
}
.listview-variant-1.section span.col-md-3.col-sm-12.col-xs-12.item {
	width: 100%;
}
.firstrow .heading h2.heading {
	background: none repeat scroll 0 0 #f34a4a;
	color: #ffffff;
	display: block;
	font-weight: 400;
	overflow: hidden;
	font-size: 20px;
}
.listview-variant-1 .tab-containertwo .tab-content {
	margin: 0 !important;
}
.listview-variant-1 .firstrow .tab-containertwo, 
.listview-variant-1 .listViewTab1 ul.tabList, 
.listview-variant-1 #TabOne ul.tabList,
.listview-variant-1 .tab-content>.tab-pane {
	margin: 0 !important;
	padding-bottom: 0 !important;
}
.listview-variant-1 ul.tabList {
	margin: 0;
	padding: 0;
}
span.col-md-3.col-sm-3.col-xs-6.item {
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1.2em;
	font-size: 1.1em;
}
span.col-md-1.col-sm-1.col-xs-6.image {
	display: none;
}
.listview-variant-1.section .tabList li {
	padding: 5% !important;
	min-height: auto !important;
	height: auto;
}

@media (max-width: 769px) {
.listview-variant-1.section .tabList li {
	padding: 2.5% !important;




	min-height: auto !important;
	height: auto;
}
}
.tabList li:nth-child(odd), .tabList li:nth-child(even) {
	background: none repeat scroll 0 0 #696f73; /*Changes by IBM for UBM Site Migration (Added color code)*/
	min-height: 40px;
	padding: 2.5% 5%;
	width: 100%;
	margin-bottom: 1px;
}
.tab-content>.tab-pane {
	padding: 0;
}
.firstrow {
	background: none repeat scroll 0 0 #ffffff !important;
	overflow: hidden;
}
.firstrow .tab-containertwo {
	margin-bottom: 20px;
	width: 100%;
}
/*Ad Banner*/

.banner-section .informa-image-banner-fixedSize img {
	width: auto;
	margin-left: 35px;
}
/* Column Control Fix */

.column-control .column-control > .container {
	width: 100%;
	display: block;
	overflow: hidden;
}
/* Slideshow */

.row.image-gallery.Default.Default {
	width: 100%;
	margin: 0;
}
img.img-responsive.img-thumbnail {
	height: auto !important;
}
/* Banner */

.banner-section .informa-image-banner-fixedSize {
	text-align: center;
}
.banner-section .informa-image-banner-fixedSize img {
	margin: 0;
	padding: 0;
}
/* Light Gallery */

.lightgallery.list-unstyled {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
}
.lightgallery > div {
	display: inline-block;
	clear: both;
	float: none !important;
	vertical-align: middle;
	width: auto;
	max-width: 20%;
}
.lightgallery img {
	display: block;
	overflow: hidden;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
/*forms*/

.container-form .row.row-custom-divider {
	padding-top: 0px;
}
.container-form b {
	color: #696f73;
}
.container-form h4.content-highlight-title-anchor.custom-anchor-title {
	font-family: 'Open Sans', sans-serif;
	color: #696f73;
	font-size: 16px !important;
	font-weight: bold;
}
.two-column-form .row.row-custom-divider {
	padding-top: 0px;
}
.two-column-form b {
	color: #696f73;
}
.form-fo1-title {
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #696f73;
	font-size: 16px;
	font-weight: bold;
	padding: 17px 10px 0px 60px;
	border-bottom: 0px solid #a76f3e;
	margin-bottom: 0;
}
.two-column-form h4.content-highlight-title-anchor.custom-anchor-title {
	font-family: 'Open Sans', sans-serif;
	color: #696f73;
	font-size: 16px !important;
	font-weight: bold;
}
.row.form-one-registration.custom-form-row {
	background-color: #ffffff;
}
.form-horizontal .form-one-control-label {
	text-align: left;
	padding-left: 35px;
	font-size: 15px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif !important;
	position: relative;
	color: #696f73 !important;
}
.forms-title-color-fo, label.forms-title-color-fo {
	color: #002244 !important;
}
.custom-checkbox-fieldset {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 15px;
}
.InformaBookStandForm .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif !important;
	color: #696f73 !important;
}
.form-group {
	margin-top: 10px;
}
.InformaBookStandForm input[type=button], input[type=submit], input[type=reset] {
	color: #fff !important;
	font-size: 14px !important;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}
.form-one-registration input, .form-one-registration select, .form-one-registration textarea {
	border: 1px solid #e1e1e1 !important;
}
input[type=button], input[type=submit], input[type=reset] {
	border-radius: 3px !important;
	border: 1px solid #1492a5 !important;
	background-color: #003761 !important;
	width: auto !important;
	font-family: "Open Sans", sans-serif !important;
	padding: 1px 10px !important;
}
.submit-form-group .form-submit:hover,
input#formSubmit:hover {
	background-color: #e86d0b;
}
.submit-form-group .reset-btn:hover,
input#formReset:hover {
	background-color: #e86d0b;
}
.form-tab-btn {
	padding-left: 3%;
}
.file-input .btn-primary {
	color: #fff;
	background-color: #1492a5 !important;
	border: 0 none;
	font-family: "Open Sans", sans-serif;
	padding: 5px 10px !important;
}
/*Sponsor Carousel*/

.sponsors-styles .img-gallery h3 {
	color: #1492a5;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.sponsor-container .img-gallery h3 {
	color: #696f73;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.sponsorsandpartners .sponsorsImgItem {
	min-width: 200px;
	max-width: 200px;
}

.sponsorsImgItem img {
    max-width: 160px !important;
    max-height: 160px !important;
    padding: 10px;
    position: absolute;
    background: none !important;
    left: 0;
    top: 0;
    transform: none !important;
    margin: 0 auto !important;
}

.sponsors-box-heading {
	padding: 0;
}
.sponsorsandpartners a.homePageCarouselItem {
	height: 100px;
}
.sponsors-styles .sponsor-container .img-gallery h3 {
	text-align: center;
}
/* Hotel */

.hotel-bg {
	border: 6px solid #929292;
}
/*intl buyers*/

.buyers-bg {
	background-color: #e4e4e4;
	border: 1px solid #d8d8d8;
}
.buyers-bg a {
	background-color: transparent !important;
}
.buyers-bold b {
	color: #696f73;
}
.buyers-bold h4.content-highlight-title-anchor.custom-anchor-title {
	text-align: center;
}
/*compliance*/

.compliance-bg {
	background-color: #f2f0f1;
	border: 1px solid #BFBEBE;
	display: block;
	margin: 8px 0 0;
	padding: 10px 20px;
}
/*sponsors*/

.sponsors-styles h3.informa-title-color.sponsors-box-heading {
	background-color: #1492a5;
	color: white;
	padding-bottom: 12px;
	font-size: 24px;
}
.sponsors-styles .img-gallery.Default.Default {
	border: 3px solid #e5e5e5;
	background-color: #f2f0f1;
}
.sponsors-styles h4.content-highlight-title-anchor.custom-anchor-title {
	background-color: #1492a5;
	color: white;
	padding: 10px 0 10px 0px !important;    /*Changes by IBM for UBM site migration*/
	font-size: 18px !important;
	text-align: center;
}
.ctas-bg {
	border: 3px solid #e5e5e5;
	background-color: #f2f0f1;
}
/** Custom Home Styles **/

/* Marigold */
.marigold-bg {
	margin: 0 -15px;
	border: 3px solid #59b176;
	background-color: #59b176;
	color: #ffffff;
}
.marigold-bg .info-col p, 
.marigold-bg .info-col h2,
.marigold-bg h2,
.marigold-bg p{
    color: #ffffff;
}

.marigold-bg .white-box .text {
    background-color: #ffffff;
    color: #59b176 !important;
    padding: 1px 30px 13px 30px;
    margin: 0 0 23px;
}
.marigold-bg .white-box .text h2 {
	font-weight: bold;
}
.marigold-bg .white-box .text h2,
.marigold-bg .white-box .text p {
    background-color: #ffffff;
    color: #59b176 !important;
}
.marigold-bg h4.informa-title-bar.content-title.regTitles {
	color: #fff;
    font-size: 35px;
    font-weight: normal;
    padding: 0 0 40px;
}
.marigold-bg .highlgt-btn-custom {
    background: #656668 !important;
    margin-top: 10px !important;
    padding: 18px 26px !important;
}
/* END Marigold */
.blue-bg, .bottom-blue-bg {
	margin: 0 -15px;
	border: 3px solid #1492a5;
	background-color: #1492a5;
	color: #ffffff;
}
.blue-bg .info-col p, 
.blue-bg .info-col h2,
.blue-bg h2,
.blue-bg p{
    color: #ffffff;
}

.blue-bg .white-box .text {
    background-color: #ffffff;
    color: #1492a5 !important;
    padding: 1px 30px 13px 30px;
    margin: 0 0 23px;
}
.blue-bg .white-box .text h2 {
	font-weight: bold;
}
.blue-bg .white-box .text h2,
.blue-bg .white-box .text p {
    background-color: #ffffff;
    color: #1492a5 !important;
}
.blue-bg h4.informa-title-bar.content-title.regTitles {
	color: #fff;
    font-size: 35px;
    font-weight: normal;
    padding: 0 0 40px;
}
.blue-bg .highlgt-btn-custom {
    background: #59b176 !important;
    margin-top: 10px !important;
    padding: 18px 26px !important;
}
.bottom-blue-bg b, .bottom-blue-bg h2 {
    color: #ffffff;
}
.bottom-blue-bg p {
    color: rgba(255,255,255,.75);
}
.info-col {
    padding-right: 40px;
    padding-left: 40px;
}
.white-box {
    padding-left: 130px;
}
@media(max-width: 769px){
	.info-col {
    padding-right: 0px;
    padding-left: 0px;
}
.white-box {
    padding-left: 0px;
}
	
}
.home-qoutes h4.content-highlight-title-anchor.custom-anchor-title {
    text-align: center;
    color: #000000 !important;
	font-weight: bold;
}
.home-qoutes .text {
background-color: #656668;
    color: #ffffff !important;
    position: absolute;
    max-width: 550px;
    padding: 40px;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}
.home-qoutes .text p {
    color: #ffffff !important;
}
.home-qoutes .image {
    max-height: 545px;
    float: right;
}

.home-qoutes .image img {
    width: 750px;
}

.last-sponsors-bg {
	margin: 0 -15px;
	border: 3px solid #e5e5e5;
	background-color: #f2f0f1;
}
.last-sponsors-bg .column-control:nth-child(2) {
	border-bottom: 3px solid #e5e5e5;
}
.sponsors-styles p {
	font-size: 13px !important;
}
/*network awards*/

.cpg-awards h4.content-highlight-title-anchor.custom-anchor-title {
	font-size: 16px !important;
	background: #e1e0e0;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 0 5px 0px !important;
	color: #000000;
	margin: 15px 0 3px;
}
.cpg-awards .col-md-12 {
	background-color: #e1e0e0;
}
/* ssw-package-pricing */

.ssw-package-pricing p {
	color: #34393c;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}
.ssw-package-pricing p b {
	font-weight: 700;
	font-size: 30px;
	line-height: 22px;
}
.ssw-package-pricing div.callToActionPara {
	word-wrap: break-word;
	font-family: Arial;
	background-color: #e0e8eb;
	padding: 20px 20px 20px 20px !important;
	min-height: 336px;
}
.ssw-package-pricing a.btn.btn-primary.btn-lg.highlgt-btn-custom {
	width: 100% !important;
	background-color: #464646 !important;
	float: none !important;
	text-align: center;
	padding: 20px !important;
	margin: -12px 0 0 0;
}
.ssw-package-pricing span.highlgt-btn-title.text-left {
	font-size: 20px;
	text-align: center;
}

@media (max-width: 769px) {
.ssw-package-pricing div.callToActionPara {
	min-height: 0px !important;
}
.ssw-package-pricing a.btn.btn-primary.btn-lg.highlgt-btn-custom {
	margin: -45px 0 0 0;
}
.ssw-package-pricing .event-overview-btn-text-padding {
	width: 100% !important;
	display: block !important;
	text-align: center !important;
}
}


.venable img.img-responsive {
	border-radius: 100px;
}
/*exhibit*/

.exhibit .custom-component.section.cq-Editable-dom {
	background: #003761 none repeat scroll 0 0;
}
/*error pages*/

.errors-404 span {
	color: rgb(0, 85, 150) !important;
}
/*site map*/
.sitemap-container .sitemap-element ul,
#SiteMap ul {
	padding: 0;
	list-style-type: none
}
.sitemap-container .sitemap-element .mainBox,
#SiteMap .mainBox {
	position: relative;
	background-color: #005696;
	color: #FFF;
	padding: 8px 5px;
	margin-bottom: 2px;
	font-size: 16px;
	min-height: 60px;
	margin-top: 10px
}
.sitemap-container .sitemap-element .mainBox a,
#SiteMap .mainBox a {
	padding-left: 30px;
	margin: 0;
	display: block;
	padding-top: 8px
}
.sitemap-container .sitemap-element .subBox,
#SiteMap .subBox {
	position: relative;
	background-color: #e0e8eb;
	color: #FFF;
	padding: 8px 5px;
	margin-bottom: 1px;
	font-size: 16px;
	min-height: 60px
}
.sitemap-container .sitemap-element .subBox a,
#SiteMap .subBox a {
	padding-left: 30px;
	margin: 0;
	display: block;
	padding-top: 8px;
	padding-right: 30px
}
.sitemap-container .sitemap-element ul li,
#SiteMap ul li {
	list-style: none
}
.sitemap-container .sitemap-element ul li a,
#SiteMap ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #024
}
.sitemap-container .sitemap-element .mainBox>a,
#SiteMap .mainBox>a {
	font-size: 18px;
	color: #fff
}
.sitemap-container .sitemap-element ul.sub-sub-levels .subBox,
#SiteMap ul.sub-sub-levels .subBox {
	background-color: rgba(224, 232, 235, 0.25);
	height: auto;
	min-height: 1px;
	padding: 0 5px 2px;
	margin-bottom: 0
}
.sitemap-container .sitemap-element ul.sub-sub-levels .subBox>a,
#SiteMap ul.sub-sub-levels .subBox>a {
	font-size: 14px
}

/* Attendee Registration Pricing */
section.registration-control {
    border: 1px #f5f5f5 solid;
    padding: 4px;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(224,224,224,.5);
-moz-box-shadow: 0px 0px 3px 3px rgba(224,224,224,.5);
box-shadow: 0px 0px 3px 3px rgba(224,224,224,.5);
}
@media(min-width: 769px){
	section.registration-control {
    border: none !important;
    padding:none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
}
/*COL adjustments*/
.registration-control .column:nth-child(1) {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #1492a5;
    margin-bottom: 6px;
}
.registration-control .column:nth-child(1) {
	padding-top: 15px !important;
}

.registration-control .column:nth-child(2) {
    display: none !important;
}
@media(min-width: 769px){
.registration-control .column:nth-child(1) {
    width: 33%;
	text-align: left !important;
	border: none;
	margin-bottom: 0px !important;
	}}
/*Button Adjustments*/

.registration-control .highlgt-btn-title {
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif !important;
    text-align: center !important;
    width: 100% !important;
}
.registration-control .event-overview-btn-text-padding{
    padding-left: 3px;
    text-align: center !important;
    margin: 0 auto;
    float: none !important;
}
.registration-control .highlgt-btn-custom {
    background-color: #1492a5 !important;
    border: 0 none;
    max-width: 100%;
    font-family: "Open Sans",sans-serif;
    padding: 5px 10px !important;
    letter-spacing: 1px;
    line-height: 2;
    border-radius: 3px;
    margin-bottom: 0;
    text-align: center !important;
    float: none !important;
    margin: 0 auto;
    display: inline-table;
    width: 100% !important;
}
.registration-control .highlightText .event-overview-btn-col:last-child {
    padding-top: 15px !important;
}
.registration-images img {
    margin: 0 auto;
}


.row-custom-divider {
    margin-top: 0;
    padding-top: 20px;
    /*Changes undone by IBM for UBM Site Migration (Removed line-height)*/
}

@media (min-width: 769px) {
    .custom-header .logo img{
        min-width:411px!important;
    }
}
/* testimonial */
.testimonial-column>div {
    height: calc(1vw * (4/3));
    max-height: 600px !important;
    min-height: 275px;
    border: #696f73 1px solid;
    overflow: hidden;
    margin: 8px
}

.testimonial-column img {
    overflow: hidden;
    object-fit: cover;
    height: 100% !important;
    width: 100%
}

.testimonial-column p {
    padding: 50px 16px;
    text-align: center;
    font-size: 18px;
    margin: -25% 0 0 0;
    top: 50%;
    position: absolute;
    width: 88%
}

@media(min-width: 630px) {
    .testimonial-column p {
        padding:50px 16px;
        text-align: center;
        font-size: 18px;
        position: absolute;
        margin: -10% 0 0 0;
        width: 93%;
        top: 50%
    }
}

@media(min-width: 769px) {
    .testimonial-column p {
        padding:50px 16px;
        text-align: center;
        font-size: 18px;
        position: absolute;
        top: 50%;
        width: 82%;
        margin: -53% 0 0 0
    }
}

@media(min-width: 1010px) {
    .testimonial-column p {
        padding:50px 16px;
        text-align: center;
        font-size: 18px;
        position: absolute;
        top: 50%;
        margin: -33% 0 0 0;
        width: 86%
    }
}

@media(min-width: 1024px) {
    .testimonial-column p {
        padding:50px 16px;
        text-align: center;
        font-size: 18px;
        position: absolute;
        top: 50%;
        margin: -25% 0 0 0;
        width: 88%
    }
}

.testimonial-column p::before {
    color: #59b176;
    font-size: 60px;
    content: "\f10d";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "FontAwesome";
    opacity: .5
}

.none.testimonial-column p {
    padding: 38px 16px;
    text-align: center;
    font-size: 18px;
    margin: 0;
    top: 0;
    position: inherit;
    width: auto
}


/**
Styles from Custom component

**/

.strike{
text-decoration: line-through; }
.carousel-caption .container p.hero-large {
    line-height: 1 !important;
}

.carousel-calltoAction {
    margin-top: 20px !important;
}
#gpt-728_1 {
    margin: 0 -15px !important;
}

.custom-header .logo img {
    max-width: 540px !important;
    width: 100% !important;
    margin-right: 10px;
}

.mainMenuTopnav:last-of-type {
  background-color: #a22849 !important;
  margin: 0 10px 0 0 !important;
}
li.mainMenuTopnav:last-of-type a small{
  color: #ffffff !important;
}

	.hamBurger {
    position: relative !important;
    top: -250px	!important;
    right: 9px	!important;
    display: inline: ;!important;
}
	.custom-header .column:nth-child(1) {
    padding: 0;
}
