.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-element a {
    text-decoration: none !important;
}
.top-nav .informa-header-menu .navbar {
    min-height: 0;
    background: 0;
    padding: 0;
}

.top-nav .informa-header-menu .navbar .container {
    width: auto;
    position: relative
}

.top-nav .informa-header-menu .navbar .container .navbar-element,.top-nav .informa-header-menu .navbar .container #navbar {
    background-color: transparent!important
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav {
    width: 100%;
    padding: 0;
    background-color: transparent
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li:last-of-type ul,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li:last-of-type ul {
    left: auto;
    right: 0
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li {
    margin: 0
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li {
    display: inline-block;
    float: none;
    margin: 0;
    border-left: 0
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li a {
    height: auto;
    padding: 20px 12px!important;
    width: auto;
    font-family: 'Open Sans',sans-serif
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li a small {
    display: block;
    color: #000;
    width: auto;
    height: auto;
    font-size: 16px!important;
    font-weight: 600!important;
    padding: 0;
    text-transform: capitalize
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li a small .navArrowRight,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li a small .navArrowRight {
    margin-top: 0!important;
    line-height: 20px
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li:first-child,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li:first-child {
    border-left: 0
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li.active a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li.active a,.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li:hover a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li:hover a,.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li:visited a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li:visited a,.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li:focus a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li:focus a,.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li.open a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li.open a {
    background-color: transparent!important
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li.active a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li.active a small,.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li:hover a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li:hover a small,.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li:visited a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li:visited a small,.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li:focus a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li:focus a small,.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li.open a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li.open a small {
    color: #59b176;
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li.navRegisterbg,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li.navRegisterbg {
    float: right;
    background: #59b176 !important;
	margin-top: 10px !important
}
.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li.navRegisterbg a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li.navRegisterbg a {
    color: #ffffff;
    background: 0;
    font-size: 16px!important;
    font-weight: 600!important;
    display: block;
    line-height: 20px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
	padding: 10px 20px !important;
}

.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li.navRegisterbg a:hover,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li.navRegisterbg a:hover {
    background: none!important;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    color: #000000
}

@media (min-width: 768px) {
    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li:hover>ul,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li:hover>ul {
        opacity:1;
        height: auto;
        -webkit-transition: 500ms all ease-out;
        -moz-transition: 500ms all ease-out;
        -ms-transition: 500ms all ease-out;
        -o-transition: 500ms all ease-out
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li ul,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li ul {
        background-color: #fff!important;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 0 20px;
        width: 220px!important;
        box-shadow: 0 6px 12px rgba(0,0,0,.5);
        opacity: 0;
        height: 0;
        overflow: hidden;
        display: block;
        -webkit-transition: 500ms all ease-out;
        -moz-transition: 500ms all ease-out;
        -ms-transition: 500ms all ease-out;
        -o-transition: 500ms all ease-out
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li ul li,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li ul li {
        border-left: 0;
        position: relative;
        display: block;
        margin: 0
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li ul li a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li ul li a {
        display: block;
        padding: 15px!important;
        margin: 0!important;
        border-bottom: 1px solid #eee
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li ul li a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li ul li a small {
        display: block;
        font-weight: normal!important;
        text-transform: initial;
        color: #000!important
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li ul li:hover>a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li ul li:hover>a small {
        color: #59b176!important
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li ul li:first-child,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li ul li:first-child {
        border-left: 0
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li ul li:first-child a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li ul li:first-child a small {
        border-top: 0
    }
}

@media (min-width: 768px) and (min-width:768px) {
    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav>li ul li:hover>ul,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav>li ul li:hover>ul {
        display:block;
        top: 0;
        left: 100%;
        visibility: visible;
        -webkit-transition: 300ms all ease-out;
        -moz-transition: 300ms all ease-out;
        -ms-transition: 300ms all ease-out;
        -o-transition: 300ms all ease-out
    }
}

.top-nav .informa-header-menu .navbar .container .trig-search {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 8px 10px;
    float: right;
    cursor: pointer;
    position: absolute;
    -webkit-transition: 300ms all ease-out;
    -moz-transition: 300ms all ease-out;
    -ms-transition: 300ms all ease-out;
    -o-transition: 300ms all ease-out;
    top: 7px;
    right: 0
}

.top-nav .informa-header-menu .navbar .container .trig-search:hover {
    color: #59b176;
    -webkit-transition: 300ms all ease-out;
    -moz-transition: 300ms all ease-out;
    -ms-transition: 300ms all ease-out;
    -o-transition: 300ms all ease-out
}

@media (max-width: 769px) {
    .top-nav .informa-header-menu .navbar .container {
        position:relative;
        position: static
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element,.top-nav .informa-header-menu .navbar .container #navbar {
        background: #000!important
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav {
        width: 85%;
        padding: 0
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li {
        display: block;
        float: none
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li a,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li a {
        line-height: 20px!important
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li a small,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li a small {
        line-height: 20px!important;
        color: #fff!important
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li ul,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li ul {
        width: 100%!important
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li ul li:hover,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li ul li:hover {
        background-color: transparent!important
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li.navRegisterbg,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li.navRegisterbg {
        width: 100%;
        float: none
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav .mainSecondaryNav,.top-nav .informa-header-menu .navbar .container #navbar .navbar-nav .mainSecondaryNav {
        display: none
    }

    .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-header,.top-nav .informa-header-menu .navbar .container #navbar .navbar-header {
        background: 0
    }

    .top-nav .informa-header-menu .navbar .container .trig-search {
        display: none!important
    }
}

.custom-header {
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #eee;
    -webkit-transition: 300ms ease-in-out padding;
    -moz-transition: 300ms ease-in-out padding;
    -ms-transition: 300ms ease-in-out padding;
    -o-transition: 300ms ease-in-out padding;
	padding-top:15px;
    padding-bottom:15px;
    position:relative;
}
.custom-header .informa-header-menu.navbar-fixed-top {
    padding-right:15px;
	padding-left:15px;
	background-color:#ffffff;
	text-align:right;
}
.custom-header .hamBurger {
    position:absolute !important;
	top:40% !important;
    right:30px !important;
	transform: translateY(-40%);
}
.custom-header .hamBurger .navbar-inverse .navbar-toggle {
    margin-top:0;
}
.custom-header.isfixed {
    padding: 15px 30px;
    margin-right: 0;
    margin-left: 0
}

.custom-header .logo img {
    max-width: 540px !important; /* was: 270px !important; */
    width: 100% !important;
    margin-right: 10px;
}

.custom-header .column {
    display: table-cell;
    width: auto
}
.custom-header .column:nth-child(1){
	padding-right: 0px;
    min-width:431px;
}
.custom-header .column:nth-child(2){
	padding-left: 0px;
	padding-top: 22px;
}
.custom-header .column:nth-child(3),
.custom-header .column:nth-child(4) {
    float: right;
	padding-top: 22px;
    text-align:right;
}

.custom-header .calendar-component {
    padding: 5px 0
}

.custom-header .calendar-component i {
    width: 18px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    margin: 0;
    background: 0;
    font-style: normal;
    font-size: 17px;
    text-align: center;
    color: #1492a5;
    font-family: FontAwesome;
    background-image: none!important
}

.custom-header .calendar-component .calendarDetails {
    float: none;
    margin: 0;
    line-height: 25px
}

.custom-header .calendar-component .calendarDetails span {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    float: none;
    color: #000;
    font-family: 'Open Sans',sans-serif
}

.custom-header .calendar-component .calendarDetails i:before {
    content: "\f017"
}

.custom-header .calendar-component .mapIconHeader {
    margin: 0;
    float: none;
    line-height: 25px
}

.custom-header .calendar-component .mapIconHeader span {
    font-size: 16px;
    font-weight: 600;
    float: none;
    color: #000;
    font-family: 'Open Sans',sans-serif
}

.custom-header .calendar-component .mapIconHeader i:before {
    content: "\f041";
    font-size: 19px
}

.custom-header .header-links .eventRightSection ul {
    margin: 0
}

.custom-header .header-links .eventRightSection ul li {
    margin: 0
}

.custom-header .header-links .eventRightSection ul li:hover>ul {
    opacity: 1;
    height: auto;
    -webkit-transition: 500ms all ease-out;
    -moz-transition: 500ms all ease-out;
    -ms-transition: 500ms all ease-out;
    -o-transition: 500ms all ease-out
}

.custom-header .header-links .eventRightSection ul li a {
    padding: 20px 12px!important;
    font-size: 16px!important;
    font-weight: 600!important;
    margin: 0!important;
    font-family: 'Open Sans',sans-serif;
    color: #000!important
}

.custom-header .header-links .eventRightSection ul li ul {
    left: auto;
    right: 0;
    background-color: #fff!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 20px;
    width: 220px!important;
    box-shadow: 0 6px 12px rgba(0,0,0,.5);
    opacity: 0;
    border: none!important;
    height: 0;
    overflow: hidden;
    display: block;
    -webkit-transition: 500ms all ease-out;
    -moz-transition: 500ms all ease-out;
    -ms-transition: 500ms all ease-out;
    -o-transition: 500ms all ease-out
}

.custom-header .header-links .eventRightSection ul li ul li {
    border-left: 0;
    position: relative;
    display: block;
    margin: 0
}

.custom-header .header-links .eventRightSection ul li ul li a {
    padding: 15px!important;
    margin: 0!important;
    border-bottom: 1px solid #eee;
    display: block;
    font-weight: normal!important;
    text-transform: initial;
    color: #000!important
}

.custom-header .header-links .eventRightSection ul li ul li a:hover {
    color: #59b176!important
}

@media (max-width:1199px){
    .custom-header .logo img {
        max-width: 440px !important;
    }
}
@media (max-width: 991px) {
    .img-placeholder-wrapper {
        max-width:750px
    }

    .img-placeholder {
        float: right;
        width: 33%
    }

    .img-placeholder .image {
        text-align: right
    }

    .img-placeholder .image img {
        display: inline-block!important
    }
	.custom-header .logo img {
        max-width: 410px !important;
    }
}
@media (max-width:930px){
	.custom-header .column:nth-child(1),
	.custom-header .column:nth-child(2),
    .custom-header .column:nth-child(3),
    .custom-header .column:nth-child(4) {
        display:block;
    	width:100%;
    }
	.custom-header .column:nth-child(2) {
    	padding-left:15px;
	}
}
@media (max-width: 767px) {
    body {
        padding-top:0!important
    }

    .custom-header {
        margin-right: -15px!important;
        margin-left: -15px!important;
        padding: 30px!important;
        /*position: static!important*/
    }

    .custom-header .column {
        display: block;
        width: 100%
    }

    .custom-header .calendar-component {
        margin: 10px 0
    }

    .custom-header .calendar-component span {
        font-size: 14px!important
    }

    .custom-header .mapIconHeader span {
        font-size: 14px!important
    }

    .custom-header .header-links {
        display: none
    }

    .img-placeholder-wrapper {
        display: none
    }
	.custom-header .column:nth-child(1) {
    	min-width:0;
	}
}
/**     Header Container Styles     **/
.headercontainer header .headerVerticalHold .container .cover.pull-left {
  width: 65%;
}
.headercontainer header .headerVerticalHold .container .cover.pull-right {
  width: 100%;
  display: block;
  float: none !important;
}
.headercontainer header .headerVerticalHold .container .left {
  width: 30%;
  display: block;
  float: left;
  padding-right: 25px;
}
.headercontainer header .headerVerticalHold .container .seperator {
  display: none;
}
.headercontainer header .headerVerticalHold .container .right {
  width: 70%;
  float: left;
  padding: 0;
}
.headercontainer header .headerVerticalHold .container .right p {
  margin: 0 0 5px;
}
.headercontainer header .headerVerticalHold .container .right i {
  width: 18px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  margin: 0;
  background: 0;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: #59b176;
  font-family: FontAwesome;
  background-image: none!important;
}
.headercontainer header .headerVerticalHold .container .right .calendarDetails span {
  font-size: 20px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
.headercontainer header .headerVerticalHold .container .right .calendarDetails i:before {
  content: "\f073";
}
.headercontainer header .headerVerticalHold .container .right .mapIconHeader span {
  font-size: 16px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
.headercontainer header .headerVerticalHold .container .right .mapIconHeader i:before {
  content: "\f041";
  font-size: 21px;
}
.headercontainer header .headerVerticalHold .container .header-search-element,
.headercontainer header .headerVerticalHold .container #header_search {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
  -moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
  -o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
  -ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
  transform: perspective(200px) rotateX(-15deg) scale(0.75);
  opacity: 0;
}
.headercontainer header .headerVerticalHold .container .header-search-element.active,
.headercontainer header .headerVerticalHold .container #header_search.active {
  visibility: visible;
  -webkit-transform: perspective(200px) rotateX(0deg) scale(1);
  -moz-transform: perspective(200px) rotateX(0deg) scale(1);
  -o-transform: perspective(200px) rotateX(0deg) scale(1);
  -ms-transform: perspective(200px) rotateX(0deg) scale(1);
  transform: perspective(200px) rotateX(0deg) scale(1);
  opacity: 1;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form,
.headercontainer header .headerVerticalHold .container #header_search .search-form {
  display: table;
  width: 100%;
  height: 100%;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group input[type="text"],
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group input[type="text"] {
  display: inline-block;
  width: 50%;
  margin: auto;
  border: 0;
  background: none;
  font-size: 3vw;
  font-weight: 600;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  float: none;
  padding: 10px 5% 10px 2% !important;
  height: auto;
  position: relative;
  left: 3%;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group input[type="text"]::-webkit-input-placeholder,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group input[type="text"]::-moz-placeholder,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group input[type="text"]:-ms-input-placeholder,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group input[type="text"]:-moz-placeholder,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group .input-group-btn,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group .input-group-btn {
  display: inline-block;
  position: relative;
  left: -3%;
  z-index: 99999;
  width: 5%;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group .input-group-btn button,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group .input-group-btn button {
  border: 0;
  outline: none;
  background: none !important;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group .input-group-btn button i,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group .input-group-btn button i {
  font-size: 3vw;
  background: none !important;
}
.headercontainer header .headerVerticalHold .container .header-search-element .search-form .input-group .input-group-btn button i:hover,
.headercontainer header .headerVerticalHold .container #header_search .search-form .input-group .input-group-btn button i:hover {
  color: #59b176 !important;
}
.headercontainer header .headerVerticalHold .container .header-search-element .trig-close,
.headercontainer header .headerVerticalHold .container #header_search .trig-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-size: 3vw;
  cursor: pointer;
}
.headercontainer header .headerVerticalHold .container .header-search-element .trig-close:hover,
.headercontainer header .headerVerticalHold .container #header_search .trig-close:hover {
  color: #59b176;
}
.headercontainer header .headerVerticalHold .container .headerMenuLink ul li {
  margin: 0;
}
.headercontainer header .headerVerticalHold .container .headerMenuLink ul li a {
  color: #000000 !important;
  font-family: 'Open Sans', sans-serif;
}
.headercontainer header .headerVerticalHold .container .headerMenuLink ul li a:hover {
  color: #59b176 !important;
}
.headercontainer header .headerVerticalHold .container .headerMenuLink ul li.active a {
  color: #59b176 !important;
  font-family: 'Open Sans', sans-serif;
}
.hamBurger {
  position: absolute;
  top: 30px;
  right: 30px;
}
.hamBurger .navbar-inverse {
  background: none !important;
}
.hamBurger .navbar-inverse .navbar-header {
  z-index: 0;
}
.hamBurger .navbar-inverse .navbar-toggle {
  background: none !important;
  padding: 0 !important;
  margin: 20px 0 0 0;
  box-shadow: none !important;
  border: 0 !important;
  outline: none;
  border-radius: 0 !important;
}
.hamBurger .navbar-inverse .navbar-toggle span {
  background: #000000 !important;
  height: 5px;
  width: 30px;
}
.hamBurger .navbar-inverse .navbar-toggle:hover span {
  background: #59b176 !important;
}
/**   Responsive Layouts   **/
@media (max-width: 1024px){
    .container-fluid {
        margin-top: 0;
    }
}
@media (max-width: 991px) {
  .headercontainer header .headerVerticalHold .container .cover.pull-left {
    width: 65%;
  }
  .headercontainer header .headerVerticalHold .container .cover.pull-right {
    width: 35%;
  }
  .headercontainer header .headerVerticalHold .container .left {
    width: 100%;
    margin: 0 0 10px;
  }
  .headercontainer header .headerVerticalHold .container .seperator {
    display: none;
  }
  .headercontainer header .headerVerticalHold .container .right {
    width: 100%;
  }
}
@media (max-width: 769px) {
  .headercontainer header .headerVerticalHold .container .cover.pull-left {
    width: 100%;
  }
  .headercontainer header .headerVerticalHold .container .cover.pull-right {
    width: 100%;
  }
  .headercontainer header .headerVerticalHold .container .left {
    width: 100%;
  }
  .headercontainer header .headerVerticalHold .container .seperator {
    display: none;
  }
  .headercontainer header .headerVerticalHold .container .right {
    width: 100%;
  }
}