@header-search--content-bg: darken(@white,3%);
@header-search--border-color: darken(@header-search--content-bg,16%);
@header-search--input-field-bg: @white;

.headerSearch {
    form {
        .form-control {
            border-radius: 0;
            box-shadow:none;
            border:1px solid @filtered-search-result--border-color;
            background-color: @filtered-search-result--input-field-bg;
        }
        .input-group {
            .input-group-btn {
                button {
                    border: 1px solid @base-color !important;
                    background-color: @base-color !important;
                    color: @white !important;
                    .transition(@transition);
                    i {
                        color: @white !important;
                    }
                    &:focus, &:hover {
                        background-color: transparent !important;
                        color: @base-color !important;
                        .transition(@transition);
                        i {
                            color: @base-color !important;
                        }
                    }
                }
            }
        }
    }
}