/*

File Name: _cta-link.less
Description: CTA - Link component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */

@cta-link--btn-txt-color: @white;
@cta-link--btn-focus-txt-color: @base-color;
@cta-link--btn-bg: @base-color;
@cta-link--btn-focus-bg: transparent;
@cta-link--btn-border-color: @base-color;
@cta-link--btn-focus-border-color: @cta-link--btn-border-color;

.quicklink {
    .highlightText {
        margin: initial;
        .content-faq1 {
            .event-overview-btn {
                margin-bottom:0;
                .hightxt_btn {
                    padding:0 15px 10px !important;
                    margin: 0 0 10px;
                    &:last-child {
                        margin-bottom:0;
                        padding-bottom:0 !important;
                    }
                    .highlgt-btn-custom {
                        background-color: @cta-link--btn-bg !important;
                        border:1px solid @cta-link--btn-border-color !important;
                        text-align:center;
                        color: @cta-link--btn-txt-color !important;
                        padding: 13px 15px !important;
                        .transition(@transition);
                        &:focus, &:hover {
                            background-color: @cta-link--btn-focus-bg !important;
                            border:1px solid @cta-link--btn-focus-border-color !important;
                            color: @cta-link--btn-focus-txt-color !important;
                            .transition(@transition);
                            .event-overview-btn-text-padding {
                                .highlgt-btn-title {
                                    color: @cta-link--btn-focus-txt-color !important;
                                    .transition(@transition);
                                }
                            }
                        }
                        .event-overview-btn-text-padding {
                            padding:0;
                            text-align:center !important;
                            @media (max-width:900px) {
                                height:auto !important;
                                display: block !important;
                            }
                            .highlgt-btn-title {
                                color: @cta-link--btn-txt-color !important;
                                display:block;
                                width:100%;
                                font-family: @primary-font;
                                font-size: @base-font-size;
                                font-weight: 700;
                                line-height: @base-font-size;
                                text-align:center;
                                .transition(@transition);
                            }
                        }
                        .highlgt-btn-icon-padding {
                            display:none;
                            img {}
                        }
                    }
                }
            }
        }
    }
}