.listview-variant-3 {
    .search-tab-contents {
        .dataTables_wrapper {
            .dataTables_filter, .dataTables_length {
                display:block !important;
                input[type='search'], select {
                    border-radius: 0;
                    box-shadow:none;
                    border:1px solid @filtered-search-result--border-color;
                    background-color: @filtered-search-result--input-field-bg;
                    @media (max-width:769px) {
                        width:100% !important;
                        margin:0;
                        padding:0;
                    }
                }
                select {
                    background-size: initial !important;
                    background-position-x: 90% !important;
                    height: auto;
                    width: auto;
                    padding: 0 20px 0 10px;
                    @media (max-width:769px) {
                        background-position-x: 98% !important;
                    }
                }
                label {
                    display:block;
                    text-align:left;
                }
            }
            .listViewDataTable {
                margin:15px 0;
                > thead {
                    background-color: darken(@white,10%) !important;
                    > tr {
                        background-color: darken(@white,10%) !important;
                        > th {
                            border: 0;
                        }
                    }
                }
                > tbody {
                    &:before {
                        display:none;
                    }
                    > tr {
                        min-height: initial;
                        padding-top:0;
                        &:nth-child(odd) {
                            background-color: darken(@white,3%) !important;
                        }
                    }
                }
            }
            .pagination {
                .paginate_button {
                    border: 0;
                    padding:0;
                    margin:0 1px 0 0;
                    .border-radius(0);
                    &:last-child {
                        margin-right:0;
                    }
                    &:hover, &:focus {
                        background-color: transparent !important;
                        background: transparent !important;
                        a {
                            background-color: transparent !important;
                        }
                    }
                    &.active {
                        > a {
                            border-left: 1px solid @base-color !important;
                            border-right: 1px solid @base-color !important;
                            background-color: transparent;
                            color: @base-color !important;
                        }
                    }
                    a {
                        font-family: @primary-font;
                        font-size: @base-font-size;
                        font-weight: 400;
                        line-height: @base-font-size;
                        &:extend(.button all);
                    }
                }
            }
        }
    }
}