/*

File Name: _component-search.less
Description: Component Search component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */

@comp-search--content-bg: darken(@white,3%);
@comp-search--title-color: @base-color; // H1
@comp-search--title-bg: darken(@white,8%);
@comp-search--title-icon: '\f063';
@comp-search--title2-color: @comp-search--title-color; // Search title color
@comp-search--border-color: darken(@white,16%);
@comp-search--input-field-bg: @white;
@comp-search--btn-txt-color: @white;
@comp-search--btn-focus-txt-color: @base-color;
@comp-search--btn-bg: @base-color;
@comp-search--btn-focus-bg: transparent;
@comp-search--btn-border-color: @base-color;
@comp-search--btn-focus-border-color: @comp-search--btn-border-color;
@comp-search--btn-icon: '\f002';
@comp-search--btn-icon-color: @white;


.programsearch {
    .exihibitor-projects-container {
        .exhibitorProjectsInnerBoxes {
            .exhibitorProjectsMainTitle {
                color: @comp-search--title-color;
                background-color: @comp-search--title-bg;
                font-size: @base-font-size;
                font-weight: 700;
                line-height: @base-font-size;
                padding: 15px 30px 15px 15px;
                margin:0;
                text-transform:uppercase;
                position:relative;
                &:after {
                    content: @comp-search--title-icon;
                    font-family: @icon-font;
                    font-size: @base-font-size;
                    color: @comp-search--title-color;
                    position:absolute;
                    top:15px;
                    right:15px;
                }
            }
            .searchbarProjects {
                .content_bg {
                    padding:30px;
                    margin:0 0 30px;
                    background-color: @comp-search--content-bg;
                    .header_search_bar1 {
                        .searchTitle {
                            font-family: @primary-font;
                            font-size: @heading-4;
                            font-weight: 700;
                            line-height: @heading-4;
                            color: @comp-search--title2-color !important;
                            padding:0;
                            margin:0 0 15px;
                        }
                        .text_box {
                            padding:0 10px 0 0;
                            margin:0;
                            @media (max-width:768px) {
                                padding:0;
                            }
                            input[type='text'] {
                                border:1px solid @comp-search--border-color;
                                height: 45px;
                                padding: 10px 15px !important;
                                margin:0;
                                background-color: @comp-search--input-field-bg;
                                color: @comp-search--title-color;
                                font-family: @primary-font;
                                font-size: @base-font-size;
                                font-weight: 400;
                                line-height: @base-font-size;
                                width:100% !important;
                                max-width: 100%;
                            }
                        }
                        .dd_box {
                            .search-select-boxes {
                                margin:0 !important;
                                .projectSearchFields {
                                    border:1px solid @comp-search--border-color;
                                    background-color: @comp-search--input-field-bg;
                                    margin:0 10px 10px 0;
                                    font-family: @primary-font;
                                    font-size: @base-font-size;
                                    font-weight: 400;
                                    line-height: @base-font-size;
                                    color: @comp-search--title-color;
                                    width: 25% !important;
                                    max-width: 25%;
                                    background-size: initial !important;
                                    @media (max-width:991px) {
                                        background-position-x: 95% !important;
                                    }
                                    @media (max-width:769px) {
                                        background-position-x: 90% !important;
                                    }
                                    @media (max-width:768px) {
                                        width: 100% !important;
                                    	max-width: 100%;
                                        margin:0 0 10px;
                                        background-position-x: 98% !important;
                                    }
                                }
                            }
                            #btn-info, .btn-info {
                                border-radius:0 !important;
                                border: 1px solid @comp-search--btn-border-color !important;
                                background-color: @comp-search--btn-bg !important;
                                padding: 0;
                                margin:0 !important;
                                .transition(@transition);
                                &:focus, &:hover {
                                    border: 1px solid @comp-search--btn-focus-border-color !important;
                                    background-color: @comp-search--btn-focus-bg !important;
                                    .transition(@transition);
                                    .search-icons {
                                        &:before {
                                            color: @comp-search--btn-focus-txt-color;
                                        }
                                    }
                                }
                                @media (max-width:769px) {
                                    position:static;
                                }
                                .search-icons {
                                    &:before {
                                        content: @comp-search--btn-icon;
                                        font-family: @icon-font;
                                        font-size: @base-font-size;
                                        color: @comp-search--btn-icon-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}