/*

File Name: _cta-image-title-desc-link-highlight-button.less
Description: CTA Image - Title, Desc, Link, Highlight, Button component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */
@cta-img-title-desc-link-highlight-btn--content-bg: darken(@white,3%);
@cta-img-title-desc-link-highlight-btn--content-txt-color: @base-color;
@cta-img-title-desc-link-highlight-btn--title-color: @base-color;
@cta-img-title-desc-link-highlight-btn--title-bg: darken(@white,8%);
@cta-img-title-desc-link-highlight-btn--img-bg: darken(@white,15%);
@cta-img-title-desc-link-highlight-btn--title-icon: '\f192';

.imagecalltoaction.parbase {
    margin:30px 0;
    background-color: @cta-img-title-desc-link-highlight-btn--content-bg;
    .informa-image-call-to-action {
        .informa-image-call-to-action-title {
            h3 {
                background-color: @cta-img-title-desc-link-highlight-btn--title-bg;
                border:0;
                color: @cta-img-title-desc-link-highlight-btn--title-color;
                font-family: @primary-font;
                font-size: @base-font-size;
                font-weight: 700;
                line-height: @base-font-size;
                padding:15px 30px 15px 15px;
                margin:0;
                height:auto;
                text-transform: uppercase;
                position: relative;
                &:after {
                    content: @cta-img-title-desc-link-highlight-btn--title-icon;
                    font-family: @icon-font;
                    font-size: @base-font-size;
                    color: @cta-img-title-desc-link-highlight-btn--title-color;
                    position:absolute;
                    top:15px;
                    right:15px;
                }
            }
        }
        .informa-image-call-to-action-content-section {
            background: transparent;
            .informa-image-call-to-action-content-image {
                background-color: @cta-img-title-desc-link-highlight-btn--img-bg;
                padding:15px !important;
                background-clip: content-box;
                -moz-background-clip: content-box;
				-webkit-background-clip: content-box;
                img {}
            }
            .callToActionContent {
                .informa-image-call-to-action-content-subtitle {
                    font-family: @primary-font;
                    font-size: @heading-2 !important;
                    font-weight: 700;
                    line-height: @heading-2;
                    color: lighten(@base-color,10%);
                    padding:0;
                    margin:0 0 15px;
                }
                .informa-image-call-to-action-content-bottom-text {}
                p {
                    font-family: @primary-font;
                    font-size: @base-font-size !important;
                    line-height: @base-font-size + 6;
                }
                p:empty {
                    display:none;
                }
            }
            .btn-left-padding {
                .btn-custom {
                    background-color: @base-color;
                    color: @white;
                    padding: 13px 15px;
                    margin:0;
                    border:0;
                    line-height:1;
                    font-size: @base-font-size !important;
                    border: 1px solid transparent;
                    .transition(all 0.5s ease-in-out);
                    .HomePageBtn {
                        width:100%;
                        margin-right:0;
                        vertical-align:initial;
                        .event-overview-btn-title {
                            padding:0;
                            margin:0;
                            font-family: @primary-font;
                            font-size: @base-font-size;
                            font-weight: 700;
                            line-height: @base-font-size;
                            text-align:center;
                            .transition(all 0.5s ease-in-out);
                        }
                    }
                    .HomePageBtnArrow {
                        display:none;
                    }
                    &:focus, &:hover {
                        background-color: transparent;
                        border: 1px solid @base-color;
                        color: @base-color;
                        .transition(all 0.5s ease-in-out);
                        .HomePageBtn {
                            .event-overview-btn-title {
                                color: @base-color;
                                .transition(all 0.5s ease-in-out);
                            }
                        }
                    }
                }
            }
        }
    }
}