/*

File Name: _custom.less
Description: Custom styles meant for this page

* Text
* Breadcrumbs
* CTA - Link
* Column Control
* Header Search

Dependencies: _variables.less

*/


/* Breadcrumbs */

.informaBreadcrumb {
    // when inside a column control with class = "strip-page-title"
    .strip-page-title & {
        .container {
            width:100%;
            display:table;
            overflow:hidden;
            nav {
                display:table-cell;
                vertical-align:middle;
                text-align:center;
                .informaRegBreadCrumb {
                    margin:0 !important;
                }
            }
        }
        ul {
            background-color: transparent;
            float:none;
            overflow: visible;
            .border-radius(0);
            li {
                float:none;
                .travel-breadcrumb {
                    font-size:@base-font-size + 21;
                    font-family: @primary-font;
                    font-weight:300;
                    line-height: @base-font-size + 21;
                    color: @black;
                }
                &:not(:last-child) {
                    display:none;
                }
            }
        }
        .breadCrumbArrow {
            display:none;
        }
    }
}

/* Scroll Top */

.scrolltop {
	//display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:100px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:15px;
	bottom:10px;
	background: @black;
	background:rgba(0,0,0,0.1);
	padding:15px;
	text-align: center;
	margin: 0;
	cursor:pointer;
	.transition (all 300ms ease-out);	
}
.scroll:hover {
	background:rgba(0,0,0,0.5);
    bottom:20px;
	.transition (all 300ms ease-out);
}
.scroll:hover:before{
    color: @white;
    .transition (all 300ms ease-out);
}
.scroll:before {
	.transition (all 300ms ease-out);
    content:'\f062';
    font-family: @icon-font;
    font-size: @base-font-size;
    color: @base-color;
    display:block;
}