/*=For Custom Page Styles */

/* Site Map */

.sitemap-container {
    margin-top:30px;
    margin-bottom:30px;
    ul {
        li {
            a {
                font-family: @primary-font !important;
                font-size: @base-font-size !important;
                line-height: @base-font-size !important;
                padding:15px !important;
                margin:0 !important;
                display:block !important;
            }
            .mainBox {
                font-family: @primary-font !important;
                font-size: @base-font-size !important;
                line-height: @base-font-size !important;
                min-height:0 !important;
                padding:5px !important;
                background-color: lighten(@black,15%) !important;
            }
            .sub-levels {
                li {
                    .subBox {
                        background-color: darken(@white,5%) !important;
                    }
                }
            }
        }
    }
}