/*

File Name: _carousel-herotext.less
Description: Carousel - Hero Text component styles
Dependencies: _variables.less

*/

/* Local variables */
@carousel-text--indicator-color: @silver;
@carousel-text--indicator-active-color: @base-color;
@carousel-text--link-color: @link;
@carousel-text--link-focus-color: @carousel-text--link-color;

.heroParallaxText {
    .carousel, .slide {
        margin-bottom: 0;
        .carousel-indicators,
        .img-gallery-indicators,
        .slider-indicators {
            top: 100%;
            height: auto;
            width: 100%;
            right: 0 !important;
            margin: 0;
            li {
                background-color: @carousel-text--indicator-color;
                opacity:1;
                &.active {
                    background-color: @carousel-text--indicator-active-color;
                }
            }
        }
        .carousel-inner {
            min-height: 300px;
            @media (max-width:1199px) {
                min-height: 350px;
            }
            @media (max-width:991px) {
                min-height: 400px;
            }
            @media (max-width:768px) {
                min-height: 0;
            }
            .item {
                padding: 30px 90px;
                &.active{
                    p {}
                }
            }
            p {}
            a {
                color: @carousel-text--link-color;
                font-weight:inherit;
                &:focus, &:hover {
                    color: @carousel-text--link-color;
                }
            }
        }
        .carousel-control {
            &.left {}
            &.right {}
        }
    }
}