<!-- view -->
<div id="sponsor-list" class="loading-ui loading-ui--loading"></div>

<!-- js config -->
<script>
  $(document).on("mascotReady", function() {
    new mascot.Sponsor("#sponsor-list", {
      url: "https://sponsortool.penton.com/json/1573205",
      levelOrder: "1,2,3,4,5,6,7,8,9",
      heading: {
        "1": "Premier Platinum",
        "2": "Platinum",
        "3": "Gold",
        "4": "Silver",
        "5": "Certifying Organizations",
        "6": "Media Partners",
        "7": "PFP Webpage Sponsor",
        "8": "MFA Webpage Sponsor",
        "9": "CEO Summit Sponsor"
      },
      logoClass: {
        "2": "sponsor-logo--2",
        "3": "sponsor-logo--3"
      },
      logoType: {
        "base": "sponsorLogoCard"
      },
      columnClass: {
        "2": "col-md-6 col-lg-4",
        "3": "col-xs-6 col-lg-3"
      }
    });
  });
</script>
