<!-- controller view -->
<div id="opportunities-list-controller" class="m-controller">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group has-feedback">
        <label>Search</label>

        <!-- data-keyword: JSON properties to filter view by keyword -->
        <input data-keyword="title|custom_fields.opp_excerpt.[]" class="form-control" placeholder="Type a keyword to search" />

        <!-- data-reset="keyword": reset keyword only -->
        <a class="form-control-feedback clickable" data-reset="keyword">
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Sort</label>
    <div class="display--block clearfix btn-group">

      <!-- data-sort: JSON property to sort view by -->
      <a data-sort="title" class="sort active asc btn btn-sm btn-default">
        Title
      </a>
      <a data-sort="custom_fields.opp_numeric_cost.[]" class="sort btn btn-sm btn-default">
        Price
      </a>
      <a data-sort="custom_fields.opp_level_ssw20.[]" class="sort btn btn-sm btn-default">
        Level
      </a>
      <a data-sort="custom_fields.opp_type_ssw20.[]" class="sort btn btn-sm btn-default">
        Group
      </a>
    </div>
  </div>

  <div class="form-group">
    <label>Levels</label>
    <div class="display--block clearfix btn-group">

      <!-- data-filter data-group1: JSON property to filter view by -->
      <a data-filter="" data-group1="custom_fields.opp_level_ssw20.[]:1" class="filter btn btn-sm btn-default">
        Major Sponsor
      </a>
      <a data-filter="" data-group1="custom_fields.opp_level_ssw20.[]:2" class="filter btn btn-sm btn-default">
        Sponsor
      </a>
    </div>
  </div>

  <div class="form-group">
    <label>Groups</label>
    <div class="display--block clearfix btn-group">

      <!-- data-filter data-group2: JSON property to filter view by -->
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Activities & Events" class="filter btn btn-sm btn-default">
        Activities & Events
      </a>
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Additional Sponsorship Opportunities" class="filter btn btn-sm btn-default">
        Additional Sponsorship Opportunities
      </a>
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Convention Center & Bayside Foyer Branding" class="filter btn btn-sm btn-default">
        Convention Center & Bayside Foyer Branding
      </a>
    </div>
    <div class="display--block clearfix btn-group">
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Digital Advertising" class="filter btn btn-sm btn-default">
        Digital Advertising
      </a>
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Education Session Underwriting" class="filter btn btn-sm btn-default">
        Education Session Underwriting
      </a>
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Expo Hall Opportunities" class="filter btn btn-sm btn-default">
        Expo Hall Opportunities
      </a>
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Multi-Media Sponsorships" class="filter btn btn-sm btn-default">
        Multi-Media Sponsorships
      </a>
    </div>
    <div class="display--block clearfix btn-group">
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Print Advertising" class="filter btn btn-sm btn-default">
        Print Advertising
      </a>
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Promotional Items" class="filter btn btn-sm btn-default">
        Promotional Items
      </a>
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Registration Sponsorships" class="filter btn btn-sm btn-default">
        Registration Sponsorships
      </a>
      <a data-filter="" data-group2="custom_fields.opp_type_ssw20.[]:Sponsored Content" class="filter btn btn-sm btn-default">
        Sponsored Content
      </a>
    </div>
  </div>

  <div class="form-group">

    <!-- data-reset: reset to initial view -->
    <a data-reset="" class="btn btn-sm btn-danger">
      Reset All
    </a>
  </div>
</div>

<!-- temporary block, waiting code release -->
<style>
  .m-controller .clickable.form-control-feedback > .fa {
    line-height: 34px;
  }
  .m-template--opps-list .opp-action {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #005596 !important;
    border: 0;
    border-radius: 0;
  }
  .m-template--opps-list .opp-action:hover,
  .m-template--opps-list .opp-action:focus {
    background-color: #003a66 !important;
  }
  .m-template--opps-list a {
    color: #003a66;
  }
  .m-template--opps-list a:hover {
    color: ##005596;
  }
  .m-template--opps-list .opp-action--inclusion {
    color: #FFFFFF;
  }
  @media (max-width: 767px) and (min-width: 320px) {
    .m-template .panel-default > .panel-heading {
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
    }
  }
</style>

<!-- view -->
<div id="opportunities-list" class="loading-ui loading-ui--loading"></div>

<!-- js initialization -->
<script>
  //window.addEventListener("load", function() {
  $(document).on("mascotReady", function() {
    new mascot.Opps("#opportunities-list", {
      url: "https://opps.pentonweb.com/category/supplyside-west-2020/?json=get_posts&post_type=opportunity&orderby=title&order=asc&count=-1&exclude=comments,comment_count,comment_status,author,date,modified,tags,url,status",
      controllerView: "#opportunities-list-controller",
      sorts: "title",
      level: {
        property: "opp_level_ssw20",
        label: {
          "1": "Major Sponsor",
          "2": "Sponsor"
        }
      },
      type: {
        property: "opp_type_ssw20"
      },
      contact: {
        link: "mailto:Danica.Cullins@informa.com?subject=SupplySide West 2020 Sponsorship Opportunity Inquiry",
        target: "_blank"
      },
      inclusions: {
        link: "https://west.supplysideshow.com/en/sponsors/sponsorshiplevels1.html",
        target: "_blank"
      }
    });
  });
</script>
