/*= Calendar Component */

.calendar-component {
}

.eventDateContainer {
    .calenderIcon,
    .mapIcon {
        width:20px !important;
        height:20px !important;
        text-align:center;
        line-height:1;
        &:before {
            font-family: @icon-font;
            font-style:normal;
            font-size:@base-font-size + 4;
            display:inline-block;
        }
    }
    .calendarDetails,.mapIconHeader {
        margin:0 0 5px;
    }
    .calendarDetails {
        .calenderIcon {
            background-image: none !important;
            margin:0 !important;
            &:before {
                content: '\f073';
                margin-top:3px;
                vertical-align:top;
            }
        }
        .topNavAddress {
            font-size: @base-font-size + 10;
            font-weight: 700;
            line-height: @base-font-size + 10;
            color: @base-color;
        }
    }
    .mapIconHeader {
        float:left;
        width:100%;
        .mapIcon {
            background-image: none !important;
            margin:0 !important;
            &:before {
                content: '\f041';
            }
        }
        .topNavAddress {
            font-size: @base-font-size + 6;
            font-weight: 500;
            line-height: @base-font-size + 6;
            color: @black;
        }
    }
}

.calendar-component {
    .clearfix();
}
.calendar-component,
.eventDateContainer {
    width:100%;
}
.eventDateContainer {
    float:left;
}