.calendar-component {
    .header__strip & {
        @media (max-width:768px){
            margin-bottom:10px;
        }
        .eventDateContainer {
            .display(flex);
            @media (max-width:768px){
                display:block;
                text-align:center;
            }
            .align-items(center);
            min-height:35px;
            .calenderIcon,
            .mapIcon {
                width:20px !important;
                height:20px !important;
                text-align:center;
                line-height:1;
                &:before {
                    font-family: @icon-font;
                    font-style:normal;
                    font-size:@base-font-size + 4;
                    display:inline-block;
                }
            }
            .calendarDetails,.mapIconHeader {
                margin:0;
                .flex-basis(50%);
            }
            .calendarDetails {
                .calenderIcon {
                    background-image: none !important;
                    margin:0 !important;
                    &:before {
                        content: '\f073';
                        margin-top:0;
                        vertical-align:top;
                    }
                    @media (max-width:768px){
                        display:bock;
                        margin: 0 auto !important;
                        float:none;
                    }
                }
                .topNavAddress {
                    font-size: @base-font-size;
                    font-weight: 700;
                    line-height: @base-font-size;
                    color: @base-color;
                    @media (max-width:768px){
                        padding-left: 0 !important;
                        width:100%;
                    }
                }
            }
            .mapIconHeader {
                .mapIcon {
                    background-image: none !important;
                    margin:0 !important;
                    &:before {
                        content: '\f041';
                    }
                    @media (max-width:768px){
                        float:none;
                    }
                }
                .topNavAddress {
                    font-size: @base-font-size;
                    font-weight: 700;
                    line-height: @base-font-size;
                    color: @black;
                    @media (max-width:768px){
                        padding-left: 0 !important;
                        width:100%;
                    }
                }
                a {
                    @media (max-width:768px){
                        display:block;
                    }
                }
            }
        }
    }
}

.calendar-component {
    .clearfix();
}
.calendar-component,
.eventDateContainer {
    width:100%;
}
.eventDateContainer {
    float:left;
}