/**   Custom Footer Styles  **/

/**     Footer Widgets     **/
.t-footer{
	margin-left:-15px;
    margin-right:-15px;
    // margin-top:20px;
		// background: @color-alt;
		background-color: @color-alt;
		// padding:2vw 0;
    padding: 0px 0px;
    // p,a{
		// 	color:@color-white;
    //   font-size: @font-size-base;
    //   line-height:@font-line-height-base;
    // }
    // a:hover{
		// color:lighten(@color-primary,20%);
    // }
    // h4{
		// color:@color-white;
		// font-weight:bold;
		// margin:0 0 10px;
    //     font-size:@headings-h4-font-size;
    // }
    .titleBar{
        .informa-title-bar,.content-highlight-title-anchor{
            font-size: @font-size-base;
            position: relative;
            color:@color-black;
            height:auto;
            display:block;
            font-weight:bold;
            margin:0 0 20px;
            padding: 0 0 10px;
            border: 0 !important;
            background: none !important;
            font-family:@font-family-base;
            &:after{
                position: absolute;
                top: 100%;
                left: 0;
                width: 90px;
                height: 1px;
                content: '';
                background: @color-primary;
            }
        }
    }
    .linklist{
        ul{
            li{
                a{
                 	color:@color-primary;
                	font-weight:bold;
                    &:hover{
											color:@color-primary-shade-2;
                    }
                    &:after{
				    					content:'\f105';
                    	top:4px;
                    }
                }
            }
        }
    }
    .sociallinks{
    	margin: 0px 0px 0px 0px;
        .socialIcon{
            ul{
            	text-align:center;
                li{
	                margin-right: 5px;
                	margin-left: 5px;
                }
        	}
        }
    }
    .image.parbase.section{
		text-align:right !important;
    }

}


/**   Responsive Layouts   **/
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){
	.t-footer{
        padding-left:15px;
        padding-right:15px;
        .image.parbase.section{
            text-align:center !important;
            margin:20px 0;
        }
    }
}
@media (max-width: 320px){

}
