/**   Header Styles  **/
// Informa top bar
.informa {
  &,
  .dropdown button {
    background-color: @informa-top-bar-bg;
    color: @informa-top-bar-color;
    font-size: @informa-top-bar-font-size;
  }
}

// Header
header {
  min-height: auto !important;
}
// for informa components
.headercontainer {
  // display: none;

}
// *** //
// turn this off to get the informa header back
  // .headerVerticalHold {
  //   .col-xs-12.col-sm-6.col-md-6.col-lg-6.cover.pull-left {
  //     display: none!important;
  //   }
  // }
// *** //

// for text components
.custom-header {
  display: none;
  // margin-top: -50px;
}
.headerVerticalHold {
  padding-top: 15px;
  padding-bottom: 15px;
  // @media (min-width: 768px) {
  .col-xs-12.col-sm-6.col-md-6.col-lg-6.cover.pull-left {
    width: 100%;
    > div.left.text-center {
      display: block;
      width: 50%;
      float: left;
      margin: 0 auto;
    }
    > .seperator {
      display: none!important;
    }
    > .None.Default.Default.Default {
      max-width: 250px;
      float: right;
    }
    > div.right.testAlter {
      margin: 0 auto;
      padding: 0px;
      text-align: center;
      width: 50%;
    }
  // }
  }
}

div.left.text-center {
  display: block;
  width: 50%;
  float: left;
  margin: 0 auto;
  display: block!important;
  > .None.Default.Default.Default {
    max-width: 250px;
    float: right;
    margin: 0 auto;
    @media (max-width: 768px) {
      float: none;
    }
    @media (max-width: 992px) {
      float: none;
    }
  }
}
header .cover div.seperator {
  display: none!important;
}
div.right.testAlter {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 100%!important;
  display: block!important;
  float: none;
  @media (min-width: 992px) {
    width: 50%!important;
    text-align: left;
    float: left;
  }
}

.col-xs-12.col-sm-6.col-md-6.col-lg-6.cover.pull-right {
    display: none!important;
}

header .cover div.right .eventDateContainer {
  .calenderIcon,
  .mapIcon {
    display: none;
  }
}
.topNavAddress {
  padding-left: 0 !important;
}
/*** ***/
p.calendarDetails {
  color: @color-secondary!important;
  font-family: @font-family-base!important;
  font-size: @headings-h5-font-size!important;
  font-weight: @headings-font-weight;
  margin: 5px 0px 0px 0px!important;
  @media (min-width: 768px) {
    margin: 5px 0px 0px 0px!important;
  }
  @media (min-width: 992px) {
    margin: -5px 0px 0px 0px!important;
  }
}
p.mapIconHeader {
  color: @color-black!important;
  font-family: @font-family-base!important;
  font-size: @font-size-base;
  font-weight: normal;
}
// header .cover div.right.testAlter {
//   min-width: 325px!important;
// }
@media screen and (max-width: 769px) and (min-width: 320px) {
  .eventDateContainer {
    float: none!important;
    width: 100%;
    // padding: 20px;
  }
}
// @media (max-width: 769px) and (min-width: 320px) {
//   header .cover div.right.testAlter {
//     padding: 10px 0px 0px 0px;
//     text-align: center;
//   }
// }
// @media (min-width: 768px) {
//   header .cover div.right.testAlter {
//     padding: 10px 0px 0px 0px;
//     text-align: center;
//   }
// }
// @media (min-width: 992px) {
//   header .cover div.right.testAlter {
//     padding: 10px 0px 0px 0px;
//     text-align: left;
//   }
// }
// @media (min-width: 1199px) {
//   header .cover div.right.testAlter {
//     padding: 10px 0px 0px 0px;
//   }
// }
/*** ***/

.t-header-links{
  background:@color-gray-base;
  margin:0 -15px;
  .row { margin:0; }
  //Component
  .linklist{
    ul{
      width:100%;
      text-align:center;
      li{
        display:inline-block;
        margin:0;
        padding:10px 0;
        a{
    			display:inline-block;
          padding:0 15px;
          border-left:1px solid @color-black !important;
          line-height:@font-line-height-base;
          &:after{
      		display:none;
          }
        }
        &:first-child a{
        border-left:0 !important;
        }
      }
    }
  }
}

.custom-header{
  text-align:center;
  .column{
	float:none;
  width:auto;
  display:inline-block;
  vertical-align:middle;
  }
  .logo{
  text-align:right;
    a{
    	display:inline-block;
    }
  }
  .text{
  text-align:left;
  margin:0;
  }
}

.ad{
	margin:0 auto;
}
.ad--leaderboard-responsive{
    max-width:728px;
}


/**   Responsive Layouts   **/
@media (max-width: 767px){
  .header-text-column {
    .text {
      text-align: center;
    }
  }
.custom-header {
  // text-align:left;
  // padding-right: 70px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0px auto;
  text-align: center;
  margin-top: -50px;
  }
  .ad--leaderboard-responsive{
  max-width:320px;
  }
}

.header-logo img.cq-dd-image{
	max-width: 325px !important;
  width: 100%;
}

.header-text h4{
  color: @color-secondary;
  position: relative;
  top: 0px;
  margin-bottom: 0px;
  @media (max-width: 767px) {
    top: 4px;
  }
}

.header-text p{
  position: relative;
  top: 0px;
  @media (max-width: 767px) {
    top: 4px;
  }
}
