// Layouts
@media (max-width: 1024px) {
  .container-fluid {
      margin-top: 0px!important;
  }
}
// Text
p,
.nav,
.text {
  font-family: @font-family-base;
}
.text {
  font-size: @font-size-base;
  color: @font-color-base;
  line-height: @font-line-height-base;
  margin-bottom: 0px;
}
p {
  font-size: @font-size-base;
  // color: @font-color-base;
  line-height: @font-line-height-base;
}
.text-base() {
  color: @font-color-base;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @font-line-height-base;
}

// Text Alignments
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }

.text {
  color: @font-color-base;

  &-primary {
    color: @color-primary!important;
  }
  &-secondary {
    color: @color-secondary!important;
  }
	&-tertiary {
    color: @color-tertiary!important;
	}
  &-alt {
    color: @color-alt!important;
  }
  &-primary-muted {
    color: @color-primary-muted!important;
  }
  &-secondary-muted {
    color: @color-secondary-muted!important;
  }
	&-tertiary-muted {
    color: @color-tertiary-muted!important;
	}
	&-alt-muted {
    color: @color-alt-muted!important;
	}
	&-black {
		color: @color-black!important;
	}
	&-white {
		color: @color-white!important;
	}
}

.text-thin { font-weight: lighter!important; }
.text-uppercase { text-transform: uppercase!important; }
.text-bold { font-weight: 900!important; }



ul li {
	list-style-type: none!important;
}
ul {
	> li {
		list-style-type: disc;
	}
}

.arrow-list {
	ul {
	  list-style: none!important;
	  list-style-type: none!important;
	  padding: 0;
	}
	li {
	  padding-left: 1.5em;
	}
	li:before {
	  content: "\f105"; /* FontAwesome Unicode */
		color: @color-secondary;
	  font-family: FontAwesome;
	  display: inline-block;
	  margin-left: -1.2em; /* same as padding-left set on li */
	  width: 1.2em; /* same as padding-left set on li */
	}
}

.quote-block {
	ul {
	  list-style: none!important;
	  list-style-type: none!important;
	  padding: 0;
	}
	li {
	  padding-left: 1.5em;
	}
	li:before {
	  content: "\f10d"; /* FontAwesome Unicode */
		color: @color-secondary;
	  font-family: FontAwesome;
	  display: inline-block;
	  margin-left: -1.2em; /* same as padding-left set on li */
	  width: 1.2em; /* same as padding-left set on li */
	}
}

.wysiwyg--disclaimer {
	color: @color-secondary;
}

// Links
a {
  .link-base(@link-color);
}

.link-base(@color) {
  color: @color;
  &:hover,
  &:focus,
  &:active {
    color: @color-secondary-shade-1;
  }
}

// Buttons
.btn-base(@color, @bg) {
  color: @color !important;
  background-color: @bg;
  &:hover,
  &:focus,
  &:active {
    color: @color !important;
    background-color: lighten(@bg, 8%) !important;
  }
}

// Headings
.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
    // margin: 5px 0px 5px 0px;
}
.h1(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h1-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h2(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h2-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h3(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h3-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h4(@headings-color) {
  color: @color-secondary;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h4-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h5(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h5-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h6(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h6-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}

.h1,h1{
	color: @color-primary;
}
.h2,h2{
	color: @color-primary-shade-1;
}
.h3,h3{
	color: @color-primary-shade-2;
}
.h4,h4{
	color: @color-secondary;
}
.h5,h5{
	color: @color-secondary-shade-1;
}
.h6,h6{
	color: @color-secondary;
}


// Background images
.bg {
	background-color: @color-white;
	&-primary {
  background-color: @color-primary;
	}
	&-secondary {
	  background-color: @color-secondary;
	}
	&-white {
	  background-color: @color-white;
	}
	&-dark-transparent {
	  background-color: rgba(0, 0, 0, .5);
	}
	&-gray-light {
	  background-color: lighten(@color-gray-base, 55%);
	}
	&-img {
	  background-position: 0 0;
	  background-size: cover;
	  background-repeat: no-repeat;
	}
	&-full-width {
	  margin-left: -15px;
	  margin-right: -15px;
	  .bg-full-width {
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 15px;
	    padding-right: 15px;
	  }
	}

}

// Backgrounds
.bg-primary {
  background-color: @color-primary;
}
.bg-secondary {
  background-color: @color-secondary;
}
.bg-white {
  background-color: #ffffff;
}
.bg-dark-transparent {
  background-color: rgba(0, 0, 0, .5);
}
.bg-gray-light {
  background-color: lighten(@color-black, 95%);
}

// Background images
.bg-img(@bg-img-url) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(@bg-img-url);
}

// Image Alignments
.img-center {
  .cq-dd-image {
    margin: 0 auto !important;
  }
}

// Alignments
.block {
  display: block;

  &-center {
    margin: 0 auto !important;
  }
}

.border {
  border: 1px solid @color-gray-light;

  &-primary {
    border: 1px solid @color-primary!important;
  }
  &-secondary {
    border: 1px solid @color-secondary!important;
  }
  &-alt {
    border: 1px solid @color-alt!important;
  }
  &-primary-muted {
    border: 1px solid @color-primary-muted!important;
  }
  &-secondary-muted {
    border: 1px solid @color-secondary-muted!important;
  }
}

.section.sidebar {
  margin-left: 0px;
  margin-right: 0px;
  @media (min-width: 768px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

// Sitemap
#SiteMap {
  .mainBox {
    background-color: @navbar-bg;
  }
}

// Banner
@media (max-width: 769px) and (min-width: 320px) {
  .bannerImage.section {
    margin-top: 0;
  }
}

// Line separator
hr {
  border-color: @color-secondary;
}

// GPT Ad styles
.gpt-ad {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gpt-ad--728x90 {
  width: 728px;
  height: 90px;
}
.gpt-ad--300x250 {
  width: 300px;
  height: 250px;
}
@media (max-width: 767px) {
  .gpt-ad--320x50-sm {
    width: 320px;
    height: 50px;
  }
}

.sidebar {
  margin-top: 20px;
}

.pl--1 {
  padding-left: 10px;
}
.pr--1 {
  padding-right: 10px;
}
.px--1 {
  padding-left: 10px;
  padding-right: 10px;
}
.pl--2 {
  padding-left: 20px;
}
.pr--2 {
  padding-right: 20px;
}
.px--2 {
  padding-left: 20px;
  padding-right: 20px;
}
.pl--3 {
  padding-left: 40px;
}
.pr--3 {
  padding-right: 40px;
}
.px--3 {
  padding-left: 40px;
  padding-right: 40px;
}

.accordion .panel-prev :hover{
    color:@color-white !important;
    background-color:@color-primary !important;
}  /*Changes by IBM for UBM site migration*/
