/**   Home Styles  **/
// .pattern-section{
//   padding:60px;
//     margin:0 -15px;
//     background: url(/content/dam/Informa/aero-engines-usa/english/wrapper/bg-pattern.jpg);
//     .column-control-columns{
//         .column.col-xs-12.col-sm-9.col-md-9.col-lg-9{
//             width: 66.6667%;
//         }
//         .column.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
//             width: 33.3333%;
//         }
//     }
// }

.home-text h4 {
    line-height: 1.5;
}

.sponsor-carousel-container{
  padding:3px 0;
  margin:0 -15px;
}
.sponsor-carousel .sponsor-wrapper {
    overflow: visible!important;
}

/**   Responsive Layouts   **/
@media (max-width: 767px){
    .t-section{
        padding: 30px 15px;
        .column-control-columns{
            .column.col-xs-12.col-sm-9.col-md-9.col-lg-9{
                width: 100%;
            }
            .column.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
                width: 100%;
            }
        }
    }
}
// .btn-secondary {
//     background-color: @color-secondary !important;
//     border-color: @color-secondary !important;
//     border-radius: 0px !important;
//     padding: 16px !important;
//     max-width: 300px;
// }

.homepage-top-right-panel {
  border-left: 2px solid @color-secondary ;
}

.homepage-why-attend-container {
  background-image: url("/content/dam/Informa/aero-engines-usa/english/Homepage/WhyAttend_2880x496-Optimized.png");
  background-size: cover;
  // color: @color-white;
  // padding-bottom: 70px;
  // margin-top: 34px;
}
.homepage-why-attend-container p{
  color: @color-white;
}

// .secondary-bar {
//   text-align: center;
//     width: 30px;
//     margin: auto;
//     border-top: solid 2px @color-secondary;
//     margin: 24px auto;
// }
// .primary-bar {
//    background-color: @color-primary;
//    padding: 75px 0px;
// }
.homepage-team-contact {
    margin-left: 10px;
    margin-top: 14px;
}
