.heading-center .content-title {
    text-align: center;
}
.heading-center .content-highlight-title-anchor {
    text-align: center;
    padding-bottom: 15px;
}
.heading-center .content-highlight-title-anchor:after {
    margin-left: -30px;
    left: 50%;
}
.content-highlight-title-anchor:after {
    content: '';
    background-color: @gray;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.content-highlight-title-anchor {
    color: @color-gray-base;
    font-family: @font-family-base;
    font-weight: 400;
    font-size: @headings-h2-font-size;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}

/* start of modification for 5 columns */
@media (min-width: 768px){
    .fivecolumns .fivepart {
      width: 20%;
      *width: 20%;
        // width: 20.297872340425532%;
        // *width: 20.2234042553191494%;
        float: left!important;
        position: relative;
    }
}
@media (min-width: 1200px) {
    .fivecolumns .fivepart {
      width: 20%;
      *width: 20%;
        // width: 19.9487179487179488%;
        // *width: 19.87424986361156592%;
        float: left!important;
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .fivecolumns .fivepart {
      width: 20%;
      *width: 20%;
        // width: 19.79005524861878448%;
        // *width: 19.7155871635124022%;
        float: left!important;
        position: relative;
    }
}
/* end of modification for 5 columns */

@media (min-width: 768px) and (max-width: 979px) {
  .feed-twitter {
    max-width: 214px!important;
  }
}
