/**     RESET     **/
.btn-primary {
  .btn-base(@cta-link-color, @cta-link-bg);
  border: 0;
  &:hover,
  &:focus,
  &:active {
    border: 0 !important;
    background-color: @color-secondary-shade-1!important;
  }
  &:active:hover,
  &:focus,
  &:active:focus,
  &:active {
    width: auto;
    background-color: @color-secondary-shade-1!important;
  }
}
.btn-default {
  .btn-base(@cta-link-primary-color, @cta-link-primary-bg);
}

// Font family resets
body {
  font-family: @font-family-base!important;
  font-size: @font-size-base;
  color: @font-color-base;
  line-height: floor((@font-size-base * 1.42857143));
}

body {
	font-family:@font-family-base!important;
    > .row{
		margin:0;
    }
}
h1,.h1 {
	font-size: @headings-h1-font-size;
    // line-height: (@headings-h1-font-size + 10);
}
h2,.h2 {
	font-size: @headings-h2-font-size;
    // line-height: (@headings-h2-font-size + 10);
}
h3,.h3 {
	font-size: @headings-h3-font-size;
    // line-height: (@headings-h3-font-size + 10);
}
h4,.h4 {
	font-size: @headings-h4-font-size;
    // line-height: (@headings-h4-font-size + 10);
}
h5,.h5 {
	font-size: @headings-h5-font-size;
    // line-height: (@headings-h5-font-size + 10);
}
h6,.h6 {
	font-size: @headings-h6-font-size;
    // line-height: (@headings-h6-font-size + 10);
}
.h1,h1 {
	margin:0 0 10px;
}
.h2,.h3,.h4,.h5,.h6,
h2,h3,h4,h5,h6{
	margin:0 0 10px;
}

ul,
ol {
  li {
	line-height: @font-line-height-base;
  }
}
ul {
  li {
	list-style-type: disc;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, address, figure, form {
	font-family: @font-family-base;
}

a {
  color:@color-primary;
  &:hover{
		color:@color-primary-shade-1;
  }
}

p {
	font-size: @font-size-base;
  a {
	text-decoration:none;
  }
}

img {
	image-rendering: -webkit-optimize-contrast;
}

.row-custom-divider {
	margin-top: 10px !important;
  margin-bottom: 0 !important;
}

#SiteMap {
ul {
    li {
        a {
			font-family: @font-family-base;
			}
    }
	}
}

h4.panel-title:hover, h4.panel-title:focus, h4.panel-title:active {
    color: @color-black;
}
