/* ==========================================================================
   Variables
=========================================================================== */


// Colors
@color-primary: #2f1251; // Dark Purple
@color-primary-shade-1: #433274; // Purple
@color-primary-shade-2: #200c37; // Super Dark Purple

@color-secondary: #6db8e9; // Bright Blue
@color-secondary-shade-1: #9ed2f1; // Sky Blue
@color-secondary-shade-2: #1b7eb2; // Water Blue

@color-tertiary: #ff0000; // Red
@color-alt: #eeeeee; // Stone White

@gray: #f9f9f9; // Gray
@color-black: #000000;  // Black
@color-white: #ffffff; // White

@color-gray-base: #f9f9f9; // Gray
@color-gray-light: lighten(@color-gray-base, 25%);;

@color-primary-muted: lighten(@color-primary, 55%);
@color-secondary-muted: lighten(@color-secondary, 55%);
@color-tertiary-muted: lighten(@color-tertiary, 55%);
@color-alt-muted: lighten(@color-alt, 55%);

// Base font
@font-family-base: 'Arial', sans-serif;
@font-size-base: 15px;
@font-color-base: #000000;
@font-line-height-base: 1.5em;

// Headings
@headings-color: @color-primary;
@headings-font-family: @font-family-base;
@headings-font-weight: 400;

@headings-h1-font-size: (@font-size-base + 24);
@headings-h2-font-size: (@font-size-base + 14);
@headings-h3-font-size: (@font-size-base + 8);
@headings-h4-font-size: (@font-size-base + 4);
@headings-h5-font-size: @font-size-base;
@headings-h6-font-size: (@font-size-base - 2);

// Link color
@link-color: @color-secondary;

// Informa top bar
@informa-top-bar-bg: #525a5c;
@informa-top-bar-color: @color-white;
@informa-top-bar-font-size: (@font-size-base - 2);

// Header
@header-logo-width: 200px;
@header-logo-height: 200px;

// Navbar
@navbar-color: @color-white;
@navbar-bg: @color-primary;
@navbar-font-family: @font-family-base;
@navbar-font-size: @font-size-base;
@navbar-font-size-sm: (@navbar-font-size - 4);
@navbar-item-padding: 15px;
@navbar-hover-color: @color-white;
@navbar-hover-bg: darken(@color-primary, 8%);

@navbar-highlight-width: auto;
@navbar-highlight-float: right;
@navbar-highlight-color: @color-white;
@navbar-highlight-bg: @color-secondary;
@navbar-highlight-hover-color: @color-white;
@navbar-highlight-hover-bg: @color-secondary-shade-1;
@navbar-highlight-hover-bg-active: @color-secondary-shade-2;

// Footer
@footer-color: @color-black;
@footer-bg: @color-gray-base;
@footer-link-color: @color-secondary;
@footer-logo-width: 250px;


//== Grid system

//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30%;

@gutter-sm:           (@grid-gutter-width * .5);
@gutter-md:           (@grid-gutter-width * 1.00);
@gutter-lg:           (@grid-gutter-width * 1.75);



// Components

// Carousel
@carousel-caption-color: @color-white;
@carousel-caption-bg: transparent;
@carousel-caption-font-size: 21px;
@carousel-caption-font-weight: 700;

// CTA
@cta-heading-color: @color-white;
@cta-heading-bg: @color-secondary-shade-2;
@cta-body-bg: @color-secondary-shade-1;

@cta-link-font-size: @font-size-base;
@cta-link-color: @color-white;
@cta-link-bg: @color-secondary;

@cta-link-primary-color: @color-white;
@cta-link-primary-bg: @color-primary;
