/*

File Name: _event-listing.less
Description: Event Listing component styles
Dependencies: _variables.less

*/

/* Local variables */
@event-listing--content-bg: darken(@white,3%);
@event-listing--filter-bg: darken(@event-listing--content-bg,8%);
@event-listing--title-color: @base-color;
@event-listing--border-color: darken(@event-listing--content-bg,16%);
@event-listing--input-field-bg: @white;
@event-listing--event-bg: darken(@event-listing--content-bg,3%);
@event-listing--btn-txt-color: @white;
@event-listing--btn-focus-txt-color: @base-color;
@event-listing--btn-bg: @base-color;
@event-listing--btn-focus-bg: transparent;
@event-listing--btn-border-color: @base-color;
@event-listing--btn-focus-border-color: @event-listing--btn-border-color;

.eventListing {
    padding:0;
    margin:30px 0;
    background-color: @event-listing--content-bg;
    .event-listing {
        .event-listing-filters {
            background-color: @event-listing--filter-bg;
            padding:30px 15px;
            .clearfix();
            form {
                margin:0;
                .display(flex);
                .flex-direction(row);
                .flex-wrap(wrap);
                .justify-content(center);
                .justify-content(center);
                @media (max-width:768px) {
                    .flex-direction(column);
                }
                .form-group {
                    margin:0 0 10px !important;
                    .flex-shrink(1);
                    .flex-basis(50%);
                    label, .input-div {
                        font-family: @primary-font;
                        width:100%;
                        padding:0 15px;
                        margin:0 0 5px;
                        line-height:1;
                        width:auto;
                        height:auto;
                        position:static;
                    }
                    label {
                        font-size: @base-font-size - 4;
                        font-weight: 300;
                        color: darken(@event-listing--filter-bg,50%) !important;
                        text-transform: uppercase;
                    }
                    .input-div {
                    }
                    input[type='text'], select {
                        border-radius: 0;
                        box-shadow:none;
                        border:1px solid @event-listing--border-color;
                        background-color: @event-listing--input-field-bg;
                    }
                    select {
                        background-image: url("@{images}/select-arrow.png") !important;
                        background-size: initial !important;
                        background-position-x: right !important;
                        background-position-y: 50% !important;
                        background-repeat: no-repeat !important;
                    }
                    button {
                        &:extend(.button all);
                    }
                    &.filter-actions {
                        padding:0 15px;
                    }
                }
            }
        }
        .events-items-list-container {
            padding: 30px;
            .event-items-list, .items {
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                width:100%;
                .event-item {
                    flex-shrink:1;
                    flex-basis: 31.333%;
                    width: 31.333%;
                    width: auto;
                    height: auto;
                    padding: 15px;
                    margin:0 1% 2%;
                    border: none;
                    line-height: 1;
                    background-color: @event-listing--event-bg;
                    .clearfix();
                    @media (max-width:991px) {
                        flex-basis: 48%;
                        width: 48%;
                    }
                    @media (max-width:768px) {
                        flex-basis: 98%;
                        width: 98%;
                    }
                    .item-data {
                        text-align:center;
                        .item-name {
                            display:block;
                            min-height:60px;
                            @media (max-width:768px) {
                                min-height:0;
                            }
                        }
                    }
                    .item-actions {
                        a {
                            &:extend(.button all);
                        }
                    }
                    .item-data, .item-actions {
                        float:none;
                    }
                }
            }
            .event-items-stats {
                border-top: 1px solid lighten(@event-listing--border-color,8%);
                border-bottom: 1px solid lighten(@event-listing--border-color,8%);
                padding: 15px;
                margin: 15px 0;
                span {
                    font-family: @primary-font;
                    font-size: @base-font-size;
                    line-height: @base-font-size;
                    display: block;
                }
            }
            .event-items-list-actions {
                a {
                    width:250px;
                    &:extend(.button all);
                }
            }
        }
    }
}