/*

File Name: _countdown.less
Description: Countdown component styles
Dependencies: _variables.less

*/

/* Local variables */
@countdown--content-bg: darken(@white,3%);
@countdown--title-color: @base-color;
@countdown--title-bg: darken(@white,8%);
@countdown--title-icon: '\f251';


.countdown {
    margin:30px 0;
    .eventCountdownEvent {
        margin:0;
        padding: 15px 15px 0;
        font-family: @primary-font;
        font-size: @base-font-size !important;
        font-weight: 700;
        line-height: @base-font-size;
        color: @countdown--title-color;
        background-color: @countdown--title-bg;
        position: relative;
        &:after {
            content: @countdown--title-icon;
            font-family: @icon-font;
            font-size: @base-font-size;
            color: @countdown--title-color;
            position:absolute;
            top:15px;
            right:15px;
        }
        .countDisplay {
            margin: 15px -15px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            span {
                flex-shrink:1;
                flex-grow: 2;
                flex-basis: 25%;
                margin: 0;
                padding: 15px !important;
                text-align:center;
                color: @white;
                font-size: @heading-1;
                font-weight: 300;
                line-height: @heading-1;
                @media (max-width:991px){
                    flex-basis:50%;
                }
                @media (max-width:769px){
                    flex-basis:100%;
                }
                &:nth-child(1) {
                    background-color: lighten(@base-color,20%);
                }
                &:nth-child(2) {
                    background-color: lighten(@base-color,30%);
                }
                &:nth-child(3) {
                    background-color: lighten(@base-color,40%);
                }
                &:nth-child(4) {
                    background-color: lighten(@base-color,50%);
                }
            }
        }
    }
}