/* font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen and (max-width: 768px) {
    .column-control .column-control>.container {
        padding: 0 10px;
    }
}

.content_landing .header {
    margin: 0 -15px;
}


/* title and subtitle */
.content_landing h4.informa-title-bar.content-title.regTitles {
    font-family: 'Open Sans',sans-serif;
    font-size: 35px;
    line-height: 1em;
    margin: 0;
    padding: 0px 30px 10px;
    font-weight: 900;
    color: #333;
}

.content_landing .titleBar .content-highlight-title-anchor.custom-anchor-title { 
    font-family: 'Open Sans',sans-serif !important;
    font-size: 20px !important;
    line-height: 1.1em;
    margin: 0;
    padding: 0 30px 10px !important;
    font-weight: normal;
    color: #333 !important;
}

/* content */

.content_landing .content {
    margin: 0 -15px;
    -webkit-box-shadow: inset 0px 4px 8px #d4d4d4;
    -moz-box-shadow: inset 0px 4px 8px #d4d4d4;
    box-shadow: inset 0px 4px 8px #d4d4d4;
    background-color: #eeeeee;
}

.content_landing .content div.image img {
    margin: 0 auto;
}

.content_landing .content .titleBar .content-highlight-title-anchor.custom-anchor-title {
    font-weight: 900 !important;
    padding: 0 0 15px !important;
}

.content_landing .content p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}


/* form */
.content_landing .content .form-container {
    background-color: transparent;
}

.content_landing .content .form-error h1.forms-title.form-fo1-title {
    display: none;
}

.content_landing .content #formTitleId h4.informa-title-bar.content-title.regTitles, 
.container-form .form-container .forms-title  h4.informa-title-bar.content-title.regTitle {
    font-size: 20px !important;
    background-color: #f48131;
    color: #fff;
    padding: 40px 10px 10px 10px !important;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.content_landing .content #formTitleId .titleBar .content-highlight-title-anchor.custom-anchor-title, 
.container-form .form-container .titleBar .content-highlight-title-anchor.custom-anchor-title {
    font-weight: normal !important;
    font-size: 16px !important;
    background-color: #f48131;
    color: #fff !important;
    padding: 10px 10px 40px 10px !important;
    text-align: center;
}

.content_landing .content .form-one-registration {
    background-color: #ddd !important;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 4px 4px 8px #bbbbbb;
    -moz-box-shadow: 4px 4px 8px #bbbbbb;
    box-shadow: 4px 4px 8px #bbbbbb;
    margin-bottom: 30px;
    margin-right: 7px;
}

.content_landing .content .form-horizontal .form-one-control-label {
    font-size: 16px !important;
    color: #333 !important;
}

.content_landing .content  form input, 
.content_landing .content form select, 
.content_landing .content form textarea,
.content_landing .content form .select2-choice {
    border: 1px solid #c3c3c3;
}

.content_landing .content .form-error .custom-submit-btn-div {
    text-align: center;
}

.content_landing .content .form-error .form-one-submit-btn{
    border: 1px solid #f48131 !important;
    text-shadow: 1px 1px 2px #004741;
    color: #f2f2f2 !important;
    background-color: #f48131 !important;
    height: 50px !important;
    width: auto !important;
    max-width: fit-content !important;
    padding: 0 30px !important;
}

.content_landing .content .form-error .bookStandFormOne .form-group.submit-form-group input:hover {
    background-color: #f68b33 !important;
    color: #f2f2f2 !important;
}

/* thank you */
.content_landing .content .thankYouPage .container {
    width: auto !important; 
}

.content_landing .content .thankYouPage .InformaBookAStandForm.InformaBookAStandForm-form-main-fo1 {
    background-color: transparent !important;
}

.content_landing .content .thankYouPage .form-horizontal.registration-form h1 {
    background: none;
    color: #333;
    padding-left: 0;
    margin: 15px 0;
}

.content_landing .content .thankYouPage .form-horizontal.registration-form p {
    margin-left: 0;
}


.content_landing .content  .highlgt-btn-custom {
    border: 0;
    background: #f48131;   
}

.content_landing .content  .highlgt-btn-custom{
    border: 1px solid #f48131 !important;
    text-shadow: 1px 1px 2px #004741;
    color: #f2f2f2 !important;
    background-color: #f48131 !important;
    height: 50px !important;
    width: auto !important;
    max-width: fit-content !important;
    padding: 0 30px !important;
    border-radius: 4px !important;
}

.content_landing .content  .highlgt-btn-custom:hover {
    background-color: #f68b33 !important;
    color: #f2f2f2 !important;
}

.content_landing .content  .highlgt-btn-custom .highlgt-btn-title {
    width: 100%;
    line-height: 2.5em;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 1.2em;
    background: transparent;
    font-weight: normal;
}