@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


/* Font Reset and Settings */
body {
    font-family: 'Open Sans', sans-serif;
    color: #5f6062;
}

a {
    color: #f58732;
}

a:hover,
a:focus {
    color: #e76e6e;
    text-decoration: underline;
}

/* Fonts Declarations */
p.calendarDetails, p.mapIconHeader,
.navbar-inverse .navbar-nav>li>a,
.nav,
h1, h2, h3, h4, h5,
.informa-title-color,
p, .tabList li, .text,
.highlgt-btn-title,
.content-title,
.event-overview-btn-title,
#container1 h3,.contentHighlightContainer h3,
div.callToActionPara,
.heading p,
.imageCalltoaction-main p,
.travel-event-venue,
.imagecalltoaction h3,
.leadrightpaneltxt,
.leadrightpanelquote,
.form-horizontal .form-one-control-label,
.custom-checkbox-fieldset,
.form-horizontal .form-one-control-label,
.custom-checkbox-fieldset, .checkbox label,
.InformaBookStandForm .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.form-one-registration input,
.form-one-registration select,
.form-one-registration textarea,
.sitemap-container .sitemap-element  ul li a, #SiteMap ul li a {
    font-family: 'Open Sans', sans-serif !important;
}

/* Font Color Declarations */
.text,
div.callToActionPara,
.heading p,
.imageCalltoaction-main p,
.travel-event-venue,
.leadrightpaneltxt,
.leadrightpanelquote,
.form-horizontal .form-one-control-label,
.custom-checkbox-fieldset {
    color: #5f6062;
	font-size: inherit !important;
}