/* Logo Position */

footer .aboutInfo .footerLogo {
    margin-top: 0px;
    float: right;
}

/* bottom Wrapper */
.bottom-wrapper,
.bottom-wrapper > div {
    background-color: #646464;
}

footer {
    margin-top: 0px;
}

.bottom-wrapper .text {
    font-weight: 400;
    font-size: 13px;
    color: #cccccc;
} 
.bottom-wrapper a {
    color: #f15a29;
}            
.bottom-wrapper a:hover, 
.bottom-wrapper a:focus {
    color: #a9320b;
    text-decoration: none;
} 


/* Footer Sponsors */
.footer-sponsors .sponsorsandpartners {
    padding: 0;
    display: block;
    margin: 0;
    text-align: center;
}

.footer-sponsors .sponsorsandpartners .custom-col-2 {
    margin: 0 -2px;
    padding: 0;
    display: inline-block;
    float: none;
}

.footer-sponsors .sponsor-container .sponsors-box-heading {
   /* display: none; */
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #313131;
    padding: 0;
    margin: 0;
}

.footer-sponsors .sponsorsandpartners .sponsorsImgItem {
    display: block;
    overflow: hidden;
    padding: 0 !important;
}

.footer-sponsors .sponsorsandpartners .sponsorsImgItem img {
    max-width: 180px !important;
    max-height: 79px !important;
    display: block;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.footer-sponsors .sponsorsandpartners .gallery-img-ribbon-title {
    position: relative;
}

.footer-sponsors .sponsorsandpartners .gallery-img-ribbon-title {
    position: relative;
}

.footer-sponsors .gallery-img-ribbon-title h4 {
    background-color: transparent;
    border-bottom: 0 none;
    color: #666666;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
}
.footer-sponsors .content-background-color, 
.footer-sponsors .img-gallery, 
.footer-sponsors .nbs-flexisel-item {
    background-color: #ffffff;
}

.bottom-wrapper .banner-section .informa-image-banner-image img {
    width: auto;
}
