
img.cq-dd-image {
    max-width: 50%;
    height: auto!important;
    float: left;
}

span.topNavAddress.col-md-11.col-sm-11.col-xs-11.paddingZero {
    color: #333;
}

header .cover div.right .eventDateContainer p.calendarDetails {
    font-size: 17px!important;
}

header .cover div.right {
    width: 50%;
}

p.calendarDetails i, p.mapIconHeader i {
    background-image: none!important;
    font-family: "FontAwesome";
    font-style: normal;
    width: 15px!important;
    height: auto!important;
    display: block!important;
    overflow: hidden;
    font-size: .7em;
    margin-top: 0!important;
    line-height: 1.8em;
    text-align: center;
    font-weight: normal;
    color: #333;
}

p.calendarDetails i:before {
    content: "\f073";
}

p.mapIconHeader i:before {
    content: "\f041";
    font-size: 1.4em;
}

/* Search */
#header_search .search-submit , .header-search-element .search-submit{
	background-color: #f68b33 !important;
}

#header_search .search-submit i, .header-search-element .search-submit i {
	color: #fff !important;
}

/* language */

.eventRightSection .dropdown a:visited {
    color: #333 !important;
}

.eventRightSection .nav li a {
	color: #333 !important;	
}

.navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover {
    color: #333;
    background-color: #002244;
}

 header .headerMenuLink ul li:last-child a {
    padding-right: 0 !important;
    color: black;
}

/* Navigation Bar */

@media screen and (max-width: 769px) {
	.mobileLayoutNav li a{
	    background: #fdc692;
	    color: #333;
	}

	.navbar-inverse .navbar-nav >.active>a{
		background: #f15a29;
		color: #fff;
	}
}

.header_ipar .row-custom-divider {
    margin-top: 0px;
}

@media screen and (min-width: 769px) {
    .informa-header-menu .navbar-nav li a {
   		width: auto !important;
    	padding: 0 10px;
	}
	.informa-header-menu .navbar-nav li a small {
		width: auto !important;
     }

	.navbar-inverse {
	    background-color: #fff;
	}
	.navbar .container ul {
	    background-color: #fff;
	}
	.navbar-inverse .navbar-nav>li>a {
	    color: #666;
	    font-size: 15px;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 400;
	}

	.mainNav .nav>li>a:focus, 
	.mainNav .nav>li>a:hover {
	    background-color: #ffffff;
	    color: #f68b33;
	}
	.nav>li {
	    border-left: none;
	}

	.informa-header-menu .navbar-nav li a small {
	    font-size: 15px !important;
	}

	.mainNav .nav .open>a, 
	.mainNav .nav .open>a:hover, 
	.mainNav .nav .open>a:focus {
		background-color: #ffffff !important;

	}
	.navbar-inverse .navbar-nav >.active>a, 
	.navbar-inverse .navbar-nav>.active>a:focus, 
	.navbar-inverse .navbar-nav>.active>a:hover {
	    background-color: #ffffff;
	    color: #f68b33;
	    font-weight: 700;
	}
	.navbar-inverse .mobileLayoutNav .dropdown-menu {
		background-color: #ffffff; 
	}
	.mainNav .nav .open a, 
	.mainNav .nav .open a:hover,
	.mainNav .nav .open a:focus, 
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover, 
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:focus {
	    color: #f68b33 !important;
	}
	.navbar-inverse .mobileLayoutNav .dropdown-menu.innerMenuTopnav li.active>a {
	    color: #999 !important;
	    background-color: #f5f5f5 !important;
	}
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover, 
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:focus {
	    color: #999 !important;
	}

	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a {
	    color: #999 !important;
	}
	.informa-header-menu .navbar-nav .dropdown-menu>li>a:focus, 
	.dropdown-menu>li>a:hover .open {
		background-color: #f5f5f5 !important;
	}

	.navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover {
		background-color: #f5f5f5;
	}
}

@media screen and (min-width: 780px) and (max-width: 1300px) {
	.navbar-inverse .navbar-nav > li > a {
    	color: #666 !important;
    	font-size: 15px !important;
    	font-weight: 400;
    	width: auto;
    	padding: 0 10px;
	}

	.navbar-inverse .navbar-nav > li.active > a,
	.navbar-inverse .navbar-nav > li > a:hover {
    	color: #f68b33 !important;
	}
}

@media only screen and (min-width:769px) and (max-width: 1200px) {
	.navbar-inverse .navbar-nav > li > a {
    	padding: 0 10px !important;
    }
}

@media only screen and (max-width: 768px){
    .headerSearchBox {
        width: 60% !important;
    }

    .headerMenuLink {
        display: block !important;
        width: 40%;
    }

    .eventRightSection .nav {
        padding-left: 0 !important;
    }

    .eventRightSection .nav li {
        display: block;
    }

    .eventRightSection .nav>li>a {
        padding-right: 0 !important;
    }

    .navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
        margin: -3px 6px 0 0;
    }

    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: transparent !important;
    }

    header .headerMenuLink ul li.dropdown .dropdown-menu li a {
        text-align: right;
    }

}