/* Social icons */
.overheader .socialIcon ul {
    margin-top: 5px;
}

.overheader .socialIcon ul li {
    padding-right:6px;
    width: 28px;
    height:23px;
    display: inline-block;
    margin-left: 10px;
    border: 0 !important;
}

.overheader .socialIcon ul li a {
    text-align: center;
    padding: 3px;
    border-radius: 50%;
    background: #888;
    height: 25px;
    width: 26px;
    text-decoration: none;
}

.overheader .socialIcon ul li a {
    background-color: #f68b32 !important;
}

.overheader .socialIcon ul li a:hover {
    background-color: #f15a29 !important;
}

.overheader .socialIcon ul li a i {
    padding-left: 2px;
}

.overheader .socialIcon .facebookIcon:after,
.overheader .socialIcon .twitterIcon:after,
.overheader .socialIcon .youtubeIcon:after,
.overheader .socialIcon .pinterestIcon:after,
.overheader .socialIcon .instagramIcon:after,
.overheader .socialIcon .linkedinIcon:after {
    content: "" !important;
    display: none;
}

.overheader .socialIcon .facebookIcon:before,
.overheader .socialIcon .twitterIcon:before,
.overheader .socialIcon .youtubeIcon:before,
.overheader .socialIcon .pinterestIcon:before,
.overheader .socialIcon .instagramIcon:before,
.overheader .socialIcon .linkedinIcon:before {
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
}

.overheader .socialIcon .facebookIcon:before {
    content: "\f09a"
}

.overheader .socialIcon .twitterIcon:before {
    content: "\f099";   
}

.overheader .socialIcon .youtubeIcon:before {
    content: "\f16a";
}

.overheader .socialIcon .pinterestIcon:before {
    content: "\f16e";
}

.overheader .socialIcon .instagramIcon:before {
    content: "\f16d";
}

.overheader .socialIcon .linkedinIcon:before {
    content: "\f0e1";
}


/* navigator links */
.nav>li {
    border: 0;
}

.informa-link-list-items li {
    height: 17px;
    margin: 4px 0 0 0;
    border-right: 1px solid #f68b33 !important;
    float: left;
}

.informa-link-list-items li:last-child {
    border:none !important;
}

.informa-link-list-items li:before {
    display:none !important;
}

.informa-link-list-items li a {
    padding: 0 7px 3px 6px;
    margin: 0;
    color: #f68b33;
    line-height: 16px;
}

.informa-link-list-items li a:hover {
    text-decoration: underline;
}

.informa-link-list-items li a span.separator {
    display:none;
}

.navRegisterbg{background-color:#F68B33; }
.navRegisterbg a{color:#fff !important; }

/*Carousel*/
div.top-nav .mainNav .container {
    border-bottom: 1px solid #ccc;
}

.sliderdescription {
    background-color: #f48532;
    position: relative;
    font-size: 17.5px;
    opacity: 1;
}

.sliderdescription b {
    font-weight: 400;
}

.carousel-calltoAction button,
.carousel-calltoAction button:hover {
    position: absolute;
    top: -200px;
    left: -200px;
    width: 5000px;
    height: 1000px;
    text-indent: -9999999;
    background: transparent !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-height: auto !important;
}

/* Title Bar */
.content-title {
    background-color: #ffffff;
    border-bottom: 0px solid #a76f3e !important;
    color: #f68b33;
    font-weight: bold;
    font-size: 30px;
    padding: 0 0 0 0px;
}

.titleBar .content-highlight-title-anchor.custom-anchor-title {
    font-size: 18pt;
    font-weight: 400;
    color: #393939;
}

/* TITLE BAR */
.informa-title-bar {
    
}


h2 {
    color: #808285;
}

/* CTA */
#container1 h3, .contentHighlightContainer h3  {
    background-color: #F68B32;
    text-transform: initial;   
    border-radius: 5px;
}

#container1 h3:hover, .contentHighlightContainer h3:hover {
    background-color: #c4161c;
}


.highlgt-btn-custom, .btn-custom, .btn-primary, .btn-primary:active:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active {
    background: #f48131;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    text-align: center !important;
    display: block;
    overflow: hidden;
    border: 1px solid #828384;
    padding: 10px !important;
}
.btn-primary:hover, .highlgt-btn-custom:hover, .highlgt-btn-custom:hover .highlgt-btn-title {
    background: #a9320b;
    color: #ffffff;
}


.highlgt-btn-custom .event-overview-btn-text-padding, .btn-primary .HomePageBtn {
    display: inline-block;
    text-align: center !important;
    overflow: hidden;
    width: 95%;
    padding: 0;
}
.highlgt-btn-custom .highlgt-btn-icon-padding, .btn-primary .HomePageBtnArrow {
    display: none;
}
.highlgt-btn-custom .highlgt-btn-title {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: inherit;
    text-transform: inherit;
    text-align: center !important;
    display: inline-block;
}
.highlgt-btn-custom .highlgt-btn-title {
    color: #ffffff;
}
.highlgt-btn-custom .highlgt-btn-title:hover {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: inherit;
    text-transform: inherit;
    text-align: center !important;
    color: #fff;
    display: inline-block;
}
.btn-primary .event-overview-btn-title {
    font-size: 1em;
}

a.btn.btn-primary.btn-lg.highlgt-btn-custom {
    border: 1px;
    border-radius: 5px;
}

/* CTA Image */

.imagecalltoaction .contentHeaderImage-container {
    background-color: transparent;
}

.imagecalltoaction .contentHeaderImage-container .callToActionContent {
    padding-top: 0 !important;
}

.imagecalltoaction .contentHeaderImage-container .callToActionContent .informa-image-call-to-action-content-subtitle {
    margin-top: 0 !important;
}

.imagecalltoaction .informa-image-call-to-action-content-subtitle {
    font-size: 22px !important;
}

.imagecalltoaction .contentHeaderImage-container .callToActionContent p {
    font-size: .9em !important;
}

.imagecalltoaction .contentHeaderImage-container .btn-custom {
    border: 0 !important;
    border-bottom: 4px solid #a76f3e !important;
    border-radius: 5px;
}

.imagecalltoaction .contentHeaderImage-container .btn-custom .event-overview-btn-title {
    padding: 0 !important;
    text-align: center;
}

/* Accordion */
.panel-group .panel-heading {
    background-color: #eaeaea;
}

.informa-accordion .panel-heading .panel-title span {
    color: #333;
    font-weight: 600;  
}

.panel-prev :hover, .panel-prev :focus, .panel-prev :active {
    background-color:#eaeaea;
}

/* Anchor link */

.imagecalltoaction h3 {
    background-color: #f68b32;
    color: #fff;
}

#AnchorLink .tab-collapse-nav-tabs-anchor>li.active>a span, 
#AnchorLink .tab-collapse-nav-tabs-anchor>li.active>a:focus span, 
#AnchorLink .tab-collapse-nav-tabs-anchor>li.active>a:hover span{
    background-color: #f68b32 !important;
    color: #fff;
}

#AnchorLink .tab-collapse-nav-tabs-anchor>li>a span {
    font-family: 'Open Sans',sans-serif !important;
    background-color: #999;
}

.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a span, 
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a:focus span, 
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a:hover span{
    background-color: #f68b32 !important;
    color: #fff;
}

.anchorLinkElement .tab-collapse-nav-tabs-anchor>li>a span {
    font-family: 'Open Sans',sans-serif !important;
    background-color: #999;
}


/* Text Highlight */ 
.leadingText .wrapper {
    background-color: #ffffff;
}
.leadingText em {
    font-size: 11px !important;
    font-style: normal;
    color: #666;
    font-weight: 300;
}
p.informa-leading-text-variation-three-footer.leadrightpanelquote {
    font-size: 12px;
    color: #666;
    font-weight: bold;
    float: right;
    font-style: normal;
}


/*Forms*/
.form-fo1-title {
    background-color: #ffffff;
    color: #f48532;
    font-size: 18px;
    padding: 0;
    margin-bottom: 0;
    font-weight: 400;
    border-bottom: 0px solid #a76f3e;
}
.custom-form-row {
    background-color: #ffffff;
}
.form-horizontal .form-one-control-label {
    padding-left: 0px;    
    min-width: 200px;
}

.form-container .col-md-9.col-lg-7.col-sm-9.col-xs-11.input-div {
    /*min-width: 440px;*/
    padding-left: 0px;
}

.form-container .bv-form .section {
    padding-bottom: 0;
}

.form-horizontal .form-group {
    margin-top: 5px;
}

#preferencedcommuwithInforma-div1 {
    font-size: 11px;
}

#preferencedcommuwithInforma-div1 .checkbox label {
    margin-bottom: 10px;
}

.preferencedcommuwithInforma-div1 {
    font-size: 11px;
}

.preferencedcommuwithInforma-div1 .checkbox label {
    margin-bottom: 10px;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #005fcc;
    border-radius: 3px !important;
}
.InformaBookStandForm input[type=button], input[type=submit], input[type=reset] {
    color: #ffffff !important;
}

.InformaBookStandForm div.text.section {
    padding-left: 0px;
    min-width: 300px;
}

/* checkbox fine tunning */
.forms-custom-radio-btn .checkbox input[type="checkbox"]+label::before, 
.forms-custom-radio-btn .checkbox input[type="checkbox"]:checked+label::after {
    margin-left: 0 !important;
}

.forms-custom-radio-btn .checkbox input[type="checkbox"] {
    cursor: pointer !important;
}

.forms-custom-radio-btn .checkbox label span {
    padding-left: 20px;
}

.InformaBookStandForm .checkbox.interest-level-checkBox {
    padding-left: 0 !important;   
}


/* Banner Columns */ 
.banner-container>.container>.row>.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
    min-width: 330px !important;
}

@media only screen and (min-width: 1200px) {
    .banner-container>.container>.row>.col-xs-12.col-sm-9.col-md-9.col-lg-9 {
        width: 870px !important;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .banner-container>.container>.row>.col-xs-12.col-sm-9.col-md-9.col-lg-9 {
        width: 670px !important;
    }
}

@media only screen and (min-width: 770px) and (max-width: 990px) {
    .banner-container>.container>.row>.col-xs-12.col-sm-9.col-md-9.col-lg-9 {
        width: 450px !important;
    }
}

/*site Map*/
#SiteMap .mainBox>a {
    font-size: 20px;
    color: #f78a30;
    font-weight: bold;
}
#SiteMap .mainBox {
    background-color: #f3f3f3;
}
#SiteMap .subBox {
    background-color: #f8f8f8;
}
#SiteMap ul li a {
    color: #7f8084;
    font-weight: bold;
    font-size: 16px;
}
#SiteMap ul.sub-sub-levels .subBox>a {
    padding-left: 50px;
    font-size: 13px;
}


.sitemap-container .sitemap-element .mainBox>a {
    font-size: 20px;
    color: #f78a30;
    font-weight: bold;
}
.sitemap-container .sitemap-element .mainBox {
    background-color: #f3f3f3;
}
.sitemap-container .sitemap-element .subBox {
    background-color: #f8f8f8;
}
.sitemap-container .sitemap-element ul li a {
    color: #7f8084;
    font-weight: bold;
    font-size: 16px;
}
.sitemap-container .sitemap-element ul.sub-sub-levels .subBox>a {
    padding-left: 50px;
    font-size: 13px;
}


/* Youtube component */
.videoHolder::after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: .4;
    transition: .3s;
    z-index: 1;
}

.videoHolder:hover::after {
    opacity: 0;
}

.playTab {
    width: 84px;
    top: 50%;
    margin: -42px auto auto -42px;
    left: 50%;
    height: auto;
}

.media h3 {
    background-color: #f68b33;
    border-bottom: none;
    padding: 5px !important;
}

.mediacomponent3 p {
    background-color: #f88a2e;
    height: 75px;
}

/* fa-signal */
.fa-2x {
    font-size: 3em;
    color: #f68b33;
    background: #f2f2f2;
    border: 5px solid #f2f2f2;
    padding: 28px;
    border-radius: 50%;
}

.fa-2x:hover {
    border: 5px solid #f68b33;
}

/* Thank you page */
.form-horizontal.registration-form h1 {
    font-size: 26px;
    text-align: center;
    background-color: #e6e6e6;
    background: no-repeat scroll 2% center rgba(0, 0, 0, 0);
    color: #008822;
}

.form-horizontal.registration-form p {
    text-align: center;
}

.row.form-horizontal.registration-form {
    background-color: #e6e6e6;
}

/* Contact-us */
.boxes .box {
    background: none repeat scroll 0 0 #ffffff;
}

.contacts h4.content-highlight-title-anchor.custom-anchor-title {
    font-size: 13pt;
    font-weight: bold;
}

.contactUs h4 {
    font-size: 1.1em !important;
    font-weight: bold;
    color: #393939;
    margin: 0px;
    line-height: 1.2em;
}

.contactUs h6 {
    font-size: 13px;
    margin: 0px;
}

.visitors-contact-content .boxes .box > h1 {
    font-size: 13px;
    color: #393939;
    margin: 0px;
    line-height: 1.2em;
}

.contactUs .visitors-contact-content .boxes h6:last-child a {
    color: #f15a29;
}

.contactUs .visitors-contact-content .boxes h6:last-child a:hover {
    color: #a9320b;
}

.col-md-12.col-lg-12.visitors-contact-content {
    margin-bottom: 0px;
}

/* Error - 404 */
.error-404 span {
    font-size: 160.0px;
    font-weight: 800;
    padding: 15.0px;
    color: #f68b33;
    letter-spacing: 3.0px;
}


/* informa dropdown */

.informa .dropdown {
    text-align: center;
    padding: 3px 0;
}

.informa .col-md-12,.informa .dropdown button {
    background: #525A5C !important;
    color: #fff;
}

.informalist-color p {
    color: #fff !important;
    font-size: .9em;
}

.informa .row div.dropdown button {
    text-indent: -99999px;
    background: url(../images/iribbon-logo.gif) no-repeat 0 0 !important;
    width: 92px;
    height: 17px;
    margin: 6px 0;
    border: none !important;
    transition: none !important;
    outline: none;
    font-size:inherit; /* Changes by IBM for UBM Site Migration (Added font-size)*/
}

.informa .row div.dropdown button[aria-expanded="false"] {
    text-indent: -99999px;
    background: url(../images/iribbon-logo.gif) no-repeat 0 0 !important;
    width: 92px;
    height: 17px;
    margin: 6px 0;
    border: none !important;
    transition: none !important;
    outline: none;
}

.informa .row div.dropdown button[aria-expanded="true"] {
    text-indent: -99999px;
    background: url(../images/iribbon-logo.gif) no-repeat 0 -17px !important;
    width: 92px;
    height: 17px;
    margin: 6px 0;
    border: none !important;
    transition: none !important;
    outline: none;
}

.footercontainer .aboutInfo.quickLink a {
    color: #cccaca !important;
    font-size: 18px;
}

.footercontainer .aboutInfo.quickLink a:hover {
    text-decoration: underline !important;
}

/* informa dropdown end*/



/********Footer Start********/
footer .footerNavbg {
    background-color: #252424;
}

footer .nav>li>a:hover {
    color: #fff !important;
}

footer .nav>li>a>.separator {
    color: #fff;
}

footer .aboutInfo .footerLogo {
    margin-top: 24px;
}
footer .aboutInfo a {
    color: #6ca058;
}
footer .aboutInfo p:last-child a:hover {
    text-decoration: underline;
}

footer .footerBottombg .nav li a {
    color: #ffffff;
}

footer .footerBottombg .nav li a:hover {
    text-decoration: underline;
    color: #ffffff !important;
}
/********Footer End*******/


/* tab list */
.nav-tabs {
    text-align: center;
}

.travel-nav-container {
    background-color: transparent;
}

.travel-nav-tabs>li>a {
    font-family: rockwell;
    font-size: 20px;
    color: #fff;
    border-radius: 0;
    padding: 0 !important;
    background-color: #f68b33;
    height: 30px;
    border: 0;
    width: 25px;
}

.travel-Tab-title {
    top: 0 !important;
    display: block;
    vertical-align: middle;
    line-height: 30px;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans',sans-serif !important;
}

.travel-nav-container>.travel-nav-tabs>li {
    float: none;
    display: inline-block;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom-color: transparent;
    border-top: 4px solid #f68b33;
    border-radius: 0;
}

.travel-nav-tabs>li>a:hover {
    color: #a76f3e;
    background-color: #fff;
    border-top: 4px solid #f68b33 !important;
}

/* start new box*/

.box-new div.column.col-sm-3.col-xs-12,
.box-news div.column.col-sm-6.col-xs-12 {
    padding: 0;
    margin: 0;    
}

.box-news .heading {
    position: relative;
}

.box-news .heading a {
    display: inline-block;
    position: relative;
}

.box-news a img {
    margin: 0 !important;
    height: auto !important;
    width: 100% !important;
    max-width: max-content;
}

.box-news .heading a h3 {
    position: absolute;
    bottom: 100px;
    text-align: left;
    padding: 0 0 0 30px !important;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

.box-news .callToActionPara {
    position: absolute;
    bottom: 0px;
    padding: 15px 5px 0 5px  !important;
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
    background-color: transparent;
    padding: 15px 5px 0 20px !important;
}



.box-news a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity:.4;
    background-color: transparent;
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

.box-news .col-md-12.spacingtop-zeropx.Default {
    padding: 0 12px 0 0;
}


    /* hover - start */
.box-news .heading:hover a h3 {
    bottom: 120px;
}

.box-news .heading:hover a h3 {
    bottom: 115px;
}

.box-news .heading:hover .callToActionPara {
    bottom: 20px;
}

.box-news .heading:hover a::after {
    background-color: #f68b33;
}
    /* hover - end */

.box-news .callToActionPara p {
    font-size: 17px !important;
    line-height: 1.2;
    color: #fff;
    background-color: transparent;
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 600;

    text-shadow: black 0px 0px 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    font-size: 14px !important;
}

.box-news .contentHighlight {
    margin: 0 0 10px 10px;
}

.box-news .heading a h3 {
    bottom: 95px;
}

.box-news .callToActionPara p {
    font-size: 14px !important;
}


@media (max-width:1024px) { 

    .box-news .contentHighlight .component1 {
        margin: 0 !important;
    }
}

@media (max-width:1199px) { 

    .box-news .callToActionPara p {
        font-size: 15px;
    }

    .box-news a h3 {
        bottom: 85px;
    }

    .box-news .callToActionPara p {
        font-size: 25px;
    }

    .box-news .heading a h3 {
        bottom: 90px;
    }
}

@media (max-width:991px) { 

    .box-news .callToActionPara {
        padding: 10px !important; 
    }

    .box-news .callToActionPara p {
        font-size: 13px;
    }

    .box-news a h3 {
        bottom: 70px;
        padding: 0 0 0 10px !important
    }

    .box-news .callToActionPara p {
        font-size: 17px !important;
    }

    .box-news a h3 {
        bottom: 75px;
        padding: 0 0 0 10px !important;
    }
}

@media (max-width:768px) { 
    .box-news {
        margin: 0px 15px;
    }

    .box-news div {
        margin: 0 0 10px 0;
    }

    .box-news .contentHighlight {
        margin: 0 0 10px 0;
    }

    .box-news a img {
        margin: 0 auto !important;
    }

    .box-news div.col-sm-3.col-xs-12 {
        width: 50% !important
    }

    .box-news .callToActionPara p {
        font-size: 12px;
    }

    .box-news .heading a h3 {
        bottom: 65px;
    }

    .box-news .heading a h3 {
        bottom: 95px;
    }
}

/* end new box*/

/* New Classes */
.box-news .heading {
    position: relative;
}

.box-news a {
    display: inline-block;
    position: relative;
}

.box-news a img {
    margin: 0 !important;
    height: auto !important;
    width: 100% !important;
    max-width: max-content;
}

.box-news a h3 {
    position: absolute;
    bottom: 100px;
    text-align: left;
    padding: 0 0 0 30px !important;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

.box-news .callToActionPara {
    position: absolute;
    bottom: 0px;
    padding: 15px 5px 0 5px  !important;
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
    background-color: transparent;
}

.box-news .callToActionPara {
    padding: 15px 5px 0 20px !important;
}

.box-news a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity:.4;
    background-color: transparent;
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

.box-news .contentHighlightContainer .col-md-12.spacingtop-zeropx.Default {
    padding: 0 12px 0 0;
}


    /* hover - start */
.box-news .heading:hover a h3 {
    bottom: 120px;
}

.box-news .heading:hover a h3 {
    bottom: 115px;
}

.box-news .heading:hover .callToActionPara {
    bottom: 20px;
}

.box-news .heading:hover a::after {
    background-color: #f68b33;
}
    /* hover - end */

.box-news .callToActionPara p {
    font-size: 17px !important;
    line-height: 1.2;
    color: #fff;
    background-color: transparent;
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 600;

    text-shadow: black 0px 0px 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}

.box-news .contentHighlight {
    margin: 0 0 10px 10px;
}

.box-news .heading a h3 {
    bottom: 95px;
}

.box-news .callToActionPara p {
    font-size: 14px !important;
}


@media (max-width:1024px) { 

    .box-news .component1 {
        margin: 0 !important;
    }
}

@media (max-width:1199px) { 

    .box-news .callToActionPara p {
        font-size: 15px;
    }

    .box-news a h3 {
        bottom: 85px;
    }

    .box-news .callToActionPara p {
        font-size: 25px;
    }

    .box-news .heading a h3 {
        bottom: 90px;
    }
}

@media (max-width:991px) { 

    .box-news .callToActionPara {
        padding: 10px !important; 
    }

    .box-news .callToActionPara p {
        font-size: 13px;
    }

    .box-news .heading a h3 {
        bottom: 70px;
        padding: 0 0 0 10px !important
    }

    .box-news .callToActionPara p {
        font-size: 17px !important;
    }

    .box-news a h3 {
        bottom: 75px;
        padding: 0 0 0 10px !important;
    }
}

@media (max-width:768px) { 
    .box-news {
        margin: 0px 15px;
    }

    .box-news div {
        margin: 0 0 10px 0;
    }

    .box-news .contentHighlight {
        margin: 0 0 10px 0;
    }

    .box-news a img {
        margin: 0 auto !important;
    }

    .box-news div.col-sm-3.col-xs-12 {
        width: 50% !important
    }

    .box-news .callToActionPara p {
        font-size: 12px;
    }

    .box-news .heading a h3 {
        bottom: 65px;
    }

    .box-news .heading a h3 {
        bottom: 95px;
    }
}

/* end new box*/