/* hide calender */

.right.testAlter.cq-Editable-dom,
header .cover div.right.testAlter,
header .cover div.seperator {
    display: none;
}



/* Navigation Bar */

.header_ipar .row-custom-divider {
    margin-top: 0px;
}

.informa-header-menu .navbar-nav li a,
.informa-header-menu .navbar-nav li a small {
	width: auto !important;
}

@media screen and (min-width: 780px) {
    .informa-header-menu .navbar-nav li a {
   		width: auto !important;
    	padding: 0 0 0 0px;
	}
	.informa-header-menu .navbar-nav li a small {
		width: auto !important;
     }

	.navbar-inverse {
	    background-color: #fff;
	}
	.navbar .container ul {
	    background-color: #fff;
	}
	.navbar-inverse .navbar-nav>li>a {
	    color: #666;
	    font-size: 15px;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 400;
	}

	.mainNav .nav>li>a:focus, 
	.mainNav .nav>li>a:hover {
	    background-color: #ffffff;
	    color: #f68b33 !important;
	}
	.nav>li {
	    border-left: none;
	}

	.informa-header-menu .navbar-nav li a small {
	    font-size: 15px !important;
	}

	.mainNav .nav .open>a, 
	.mainNav .nav .open>a:hover, 
	.mainNav .nav .open>a:focus {
		background-color: #ffffff !important;

	}
	.navbar-inverse .navbar-nav >.active>a, 
	.navbar-inverse .navbar-nav>.active>a:focus, 
	.navbar-inverse .navbar-nav>.active>a:hover {
	    background-color: #ffffff;
	    color: #f68b33 !important;
	    font-weight: 700;
	}
	.navbar-inverse .mobileLayoutNav .dropdown-menu {
		background-color: #ffffff; 
	}
	.mainNav .nav .open a, 
	.mainNav .nav .open a:hover,
	.mainNav .nav .open a:focus, 
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover, 
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:focus {
	    color: #f68b33 !important;
	}
	.navbar-inverse .mobileLayoutNav .dropdown-menu.innerMenuTopnav li.active>a {
	    color: #999 !important;
	    background-color: #f5f5f5 !important;
	}
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover, 
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:focus {
	    color: #999 !important;
	}

	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a {
	    color: #999 !important;
	}
	.informa-header-menu .navbar-nav .dropdown-menu>li>a:focus, 
	.dropdown-menu>li>a:hover .open {
		background-color: #f5f5f5 !important;
	}

	.navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover {
		background-color: #f5f5f5;
	}
}

@media only screen and (max-width: 768px){
    .headerSearchBox {
        width: 60% !important;
    }

    .headerMenuLink {
        display: block !important;
        width: 40%;
    }

    .eventRightSection .nav {
        padding-left: 0 !important;
    }

    .eventRightSection .nav li {
        display: block;
    }

    .eventRightsection .nav>li>a {
        padding-right: 0 !important;
    }

    .navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
        margin: -3px 6px 0 0;
    }

    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: transparent !important;
    }

    header .headerMenuLink ul li.dropdown .dropdown-menu li a {
        text-align: right;
    }

}