@header-padding-top: 0;
@header-padding-bottom: 0;

@header-border-width: 0;

@header-button-bg: @transparent;
@header-button-color: @secondary-color;
@header-button-border-color: @secondary-color;
@header-button-hover-bg: @secondary-dark-color;
@header-button-hover-color: @white;
@header-button-hover-border-color: @secondary-dark-color;
@header-button-size: @top-nav-font-size;
