@image-cta-title-color: @primary-color;
@image-cta-title-font-size: 40px;

@image-cta-subtitle-color: @text-color;
@image-cta-subtitle-font-size: @text-size;

@image-cta-text-color: @text-color;
@image-cta-text-font-size: @text-size;


@image-cta-bg-color: @secondary-color;
@image-cta-hover-bg-color: @secondary-dark-color;
