@top-nav-font-size: 16px;

@top-nav-bg: @transparent;
@top-nav-color: @tertiary-color;

@top-nav-hover-bg: @transparent;
@top-nav-hover-color: @tertiary-color;

@top-nav-active-bg: @transparent;
@top-nav-active-color: @tertiary-color;

@top-nav-border-color: @transparent;
@top-nav-border-top-width: 0;

@top-nav-hover-border-top-width: 4px;
@top-nav-hover-border-color: @secondary-color;

@top-nav-active-border-top-width: 4px;
@top-nav-active-border-color: @secondary-color;

@top-nav-inner-padding-hor: 10px;
@top-nav-inner-padding-ver: 7px;

@top-nav-inner-font-size: @top-nav-font-size;
@top-nav-inner-font-weight: 700;

@top-nav-inner-hover-bg: @secondary-color;
@top-nav-inner-hover-color: @white;

@top-nav-inner-active-bg: @tertiary-color;
@top-nav-inner-active-color: @white;

@top-inner-nav-border-width: 1px;
@top-inner-nav-border-color: @grey;


@top-nav-height: 165px;
