@link-list--link-color: @link;
@link-list--link-focus-color: darken(@link-list--link-color,30%);

.linklist {
    ul, li {
        float:none;
        width:100%;
    }
    ul {
        margin:0 0 30px;
        padding:0 !important;
        li {
            border-left:0;
            padding: 0 0 0 10px;
            position:relative;
            &:last-child {
                border-bottom:0;
            }
            a {
                display:inline-block;
                padding:5px 0 5px 5px;
                color: @link-list--link-color;
                &:focus, &:hover {
                    color: @link-list--link-focus-color;
                }
                .separator {
                    display:none;
                }
            }
            &:before {
                content: '\f0da';
                font-family: @icon-font;
                font-size: @base-font-size;
                display:inline-block;
                color: @black;
                position:absolute;
                top:5px;
                left:0;
            }
        }
    }
    > .row {
        margin:0;
    }
}