<!-- view -->
<div id="sponsor-list" class="loading-ui loading-ui--loading"></div>

<!-- js config -->
<script>
  $(document).on("mascotReady", function() {
    new mascot.Sponsor("#sponsor-list", {
      url: "https://sponsortool.penton.com/json/1569317",
      levelOrder: "1,6,2,3,4,5,7",
      heading: {
        "1": "Registration Sponsor",
        "6": "Platinum Sponsors",
        "2": " ",
        "3": "Gold Sponsors",
        "4": "Premium Sponsors",
        "5": "World Tea Awards & Cocktail Reception Sponsors",
        "7": "Media Partners"
      },
      logoClass: {
        "3": "sponsor-logo--2",
        "4": "sponsor-logo--3",
        "5": "sponsor-logo--3",
        "7": "sponsor-logo--3"
      },
      logoType: {
        "base": "sponsorLogoCard"
      },
      columnClass: {
        "2": "col-md-6",
        "6": "col-md-6",
        "3": "col-md-4",
        "4": "col-md-3",
        "5": "col-md-3",
        "7": "col-md-3"
      }
    });
  });
</script>
