<!-- view -->
<div id="sponsor-list" class="loading-ui loading-ui--loading"></div>

<!-- js config -->
<script>
  $(document).on("mascotReady", function() {
    new mascot.Sponsor("#sponsor-list", {
      url: "https://sponsortool.penton.com/json/1573206",
      levelOrder: "1,2,3,4,5,7",
      heading: {
        "1": "Platinum",
        "2": "Gold",
        "3": "Silver",
        "4": "Marketing Partner",
      },
      logoClass: {
        "3": "sponsor-logo--2",
        "4": "sponsor-logo--3",
      },
      logoType: {
        "base": "sponsorLogoCard"
      },
      columnClass: {
        "2": "col-md-6",
        "3": "col-md-4",
        "4": "col-md-3",
      }
    });
  });
</script>
