<style type="text/css">.form-group{padding-bottom: 20px;}.btn-good{background-color:#8dc63f;float:left;font-weight:bold;color:#fff}.opp-title a{color:#8dc63f;}.btn-good:before{content:''}.btn-good:hover{background-color:#b0d87a;color:#fff}.opp-title a:hover{color:#b0d87a;}.badge,.btn-good{border-radius:0}.panel-default,.panel-heading{color:#5f6062;}.opp-excerpt{padding-bottom:10px;}.panel-body{font-family:"Open Sans",sans-serif;font-size:14px;}</style>
<br><br><!-- controller view -->
<div id="opps-list-controller" class="m-controller">
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group has-feedback">
        <label>Search</label>

        <!-- data-keyword: JSON properties to filter view by keyword -->
        <input data-keyword="title|custom_fields.opp_excerpt.[]" class="form-control" placeholder="Type a keyword to search" />

        <!-- data-reset="keyword": reset keyword only -->
        <a class="form-control-feedback clickable" data-reset="keyword">
          <i class="fa fa-remove" style="line-height:26px;"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Sort</label>
    <div class="display--block clearfix btn-group">

      <!-- data-sort: JSON property to sort view by -->
      <a data-sort="title" class="sort btn btn-sm btn-default">
        Title
      </a>
      <a data-sort="custom_fields.opp_numeric_cost.[]" class="sort btn btn-sm btn-default">
        Price
      </a>
      <a data-sort="custom_fields.opp_level_wte.[]" class="sort btn btn-sm btn-default">
        Level
      </a>
    </div>
  </div>
  <div class="form-group">
    <label>Levels</label>
    <div class="display--block clearfix btn-group">
      <!-- data-filter data-group1: JSON property to filter view by -->
      <a data-filter="" data-group1="custom_fields.opp_level_wte.[]:" class="filter btn btn-sm btn-default">
        Signature
      </a>
      <a data-filter="" data-group1="custom_fields.opp_level_wte.[]:Premium" class="filter btn btn-sm btn-default">
        Premium
      </a>
      <a data-filter="" data-group1="custom_fields.opp_level_wte.[]:3" class="filter btn btn-sm btn-default">
        Marketing
      </a>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <!-- data-reset: reset to initial view -->
        <a data-reset="" class="btn btn-sm btn-danger" style="width:100px;margin:0;">
          Reset All
        </a>
      </div>
    </div>
  </div>
</div>


<!-- view -->
<div id="opps-list" class="loading-ui loading-ui--loading"></div>

<!-- template -->
<script id="my-sponsor-opps-template" type="text/x-handlebars-template">

    {{log items}} <!-- check the browser console to see the data, remove when done -->
    <!-- {{log this}} -->
    <div class="m-template m-template--opps-list">
  <div id="group-{{id}}" class="panel-group">
    {{> timedOut}}
    {{#unless timedOut}}

      <div class="badge my--2">Showing {{items.length}}</div>

      {{> noItems message="No opportunities found"}}

      <!-- Opps loop -->
      {{#each typeOrder as |type|}}
        {{#with (lookup ../types type) as |opps|}}

          <!-- Items loop -->
          {{#each opps as |opp|}}

            <div id="opp-{{id}}" class="panel panel-default opp-panel
              {{#if custom_fields.opp_featured}}opp-featured{{/if}}
              {{#if custom_fields.opp_sold}}opp-sold{{/if}}
              {{#if inactive}}opp-inactive{{/if}}
              {{#if slug}}{{slug}}{{/if}}
              {{#if (lookup custom_fields ../../../options.level.property)}}
                opp-level-{{lookup custom_fields ../../../options.level.property}}
              {{/if}}
              {{#if pastDeadline}}opp-past-deadline{{/if}}
            ">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-body px--1">
                    <div class="pull-left mb--1 mr--1">

                      <!-- Title -->
                      <h5 class="opp-title mb--1">
                        <a class="collapsed"
                          data-toggle="collapse"
                          data-parent="#group-{{../../../id}}"
                          data-target="#{{slug}}"
                          href="#/opp-details/{{slug}}"
                        >
                          {{#if custom_fields.opp_featured}}
                            <span class="fa fa-star-o"></span>
                          {{/if}}
                          {{{title}}}
                          <span class="fa fa-chevron-down"></span>
                        </a>
                      </h5>

                      <!-- Badges -->
                      {{#if available}}
                        <div class="badge opp-available">
                          Available
                        </div>
                      {{/if}}

                      {{#if sold}}
                        <div class="badge opp-sold">
                          Sold
                        </div>
                      {{/if}}

                      {{#unless sold}}
                        {{#if pastDeadline}}
                          <div class="badge opp-past-deadline">
                            Past Deadline
                          </div>
                        {{/if}}
                      {{/unless}}

                      <!-- Level badges -->
                      {{#with (lookup custom_fields ../../../options.level.property) as |property|}}
                        <div class="badge opp-level opp-level--{{property}}">
                          {{#unless (lookup ../../../../options.level.label property)}}
                            {{property}}
                          {{else}}
                            {{lookup ../../../../options.level.label property}}
                          {{/unless}}
                        </div>
                      {{/with}}

                      <!-- Type labels -->
                      <!-- {{#with (lookup custom_fields ../../../options.type.property) as |property|}}
                        {{#each property}}
                          {{#each property}}
                            <div class="badge opp-type opp-type--{{property}}">
                              {{property}}
                            </div>
                          {{/each}}
                        {{/each}}
                      {{/with}} -->

                      <!-- Sold logos -->
                      <div class="opp-sponsors">
                        {{#each soldLogos}}
                          <div class="sponsor-logo sponsor-logo--3">
                            <img class="sponsor-logo__img sponsor-logo__img--downsize" src="{{this}}">
                          </div>
                        {{/each}}
                      </div>
                    </div>

                    <div class="pull-right mb--1 ml--1">

                      <!-- Price -->
                      <h5 class="opp-price text-right mb--1">
                        {{{custom_fields.opp_total_cost}}}
                      </h5>
                    </div>

                    <!-- Excerpt -->
                    {{#if available}}
                      <div class="opp-excerpt">{{{custom_fields.opp_excerpt}}}</div>
                    {{/if}}
                  </div>
                </div>
              </div>

              <div id="{{slug}}" class="collapse">
                <div class="panel-body">

                  <!-- Content images -->
                  <div class="pull-right opp-images mb--2 ml--2">
                    {{#each custom_fields.opp_images}}
                      {{#each this as |image|}}
                        {{#each image as |src key|}}
                          <img src="{{src}}"><br />
                        {{/each}}
                      {{/each}}
                    {{/each}}
                  </div>

                  <!-- Content -->
                  <div class="opp-content mb--2">{{{content}}}</div>

                  <!-- Documents -->
                  {{#if documents}}
                    <ul class="opp-documents list-unstyled">
                      {{#each documents}}
                        <li>
                          <a href="{{url}}" target="_blank">
                            <i class="fa fa-file"></i> {{label}}
                          </a>
                        </li>
                      {{/each}}
                    </ul>
                  {{/if}}

                  <!-- Quantity -->
                  {{#if custom_fields.opp_total_quantity}}
                    <div class="opp-quantity mb--1">
                      <span class="text-bold">Quantity:</span>
                      {{#if custom_fields.opp_current_quantity}}
                        {{custom_fields.opp_current_quantity}} of
                      {{/if}}
                      {{custom_fields.opp_total_quantity}}
                    </div>
                  {{/if}}

                  <!-- Deadline -->
                  {{#if custom_fields.opp_deadline}}
                    <div class="opp-deadline mb--1">
                      <span class="text-bold">Sales Deadline:</span>
                      {{custom_fields.opp_deadline.[0]}}
                    </div>
                  {{/if}}

                  <!-- Contact link -->
                  {{#if available}}
                    {{#with ../../../options.contact}}
                      <a class="btn btn-good opp-action opp-action--inclusion"
                        href="{{link}}"
                        {{#if target}}
                          target="{{target}}"
                        {{/if}}
                      >
                        {{#if label}}
                          {{label}}
                        {{else}}
                          Contact Sales
                        {{/if}}
                      </a>
                    {{/with}}
                  {{/if}}

                  <!-- Inclusion link -->
                  {{#with ../../../options.inclusions}}
                    <a class="btn btn-primary opp-action opp-action--inclusion"
                      href="{{link}}"
                      {{#if target}}
                        target="{{target}}"
                      {{/if}}
                    >
                      {{#if label}}
                        {{label}}
                      {{else}}
                        View Benefits
                      {{/if}}
                    </a>
                  {{/with}}
                </div>
              </div>
            </div>
          {{/each}}
        {{/with}}
      {{/each}}
    {{/unless}}
  </div>
</div>
</script>

<!-- js config -->
<script>
$(document).on("mascotReady", function() {
  new mascot.Opps("#opps-list", {
      url: "https://opps.pentonweb.com/category/world-tea-expo-2019/?json=get_posts&post_type=opportunity&orderby=title&order=asc&count=-1&exclude=comments,comment_count,comment_status,author,date,modified,tags,url,status", // API URL
    template: "#my-sponsor-opps-template",
    controllerView: "#opps-list-controller",
    contact: {
      link: 'mailto:kristin.mcbreen@penton.com', // Link to a contact page, or remove to hide link
      label: 'Contact us'
    },
    //inclusion: {
    //  link: '#link' // Link to an inclusions page, or remove to hide link
    //},
    level: {
      property: "opp_level_wte",
      label: {
        "Signature": "Signature",
        "Premium": "Premium",
        "Marketing": "Marketing"
      }
    }
  });
});
</script>
