.accordion{
    border-bottom:10px solid @color-primary-shade-1;
    .travel-accordian{
        margin:0 !important;
    }
    .panel-group{
		margin-bottom:0;
    }
    .panel{
        margin:0 0 1px !important;
        .panel-prev{
			background:none !important;
            a{
                background:@color-primary;

            	display:block;
                &:hover{
					background:@color-primary-shade-1;
                }
                h4{
                  color: @color-white;
                  padding: 15px 20px 15px 50px;
                  position:relative;
                  margin-bottom:0 !important;
                    .indicator{
                        float: none !important;
                        position: absolute;
                        left: 20px;
                        height: 25px;
                        background: none;
                        font-style: normal;
                        width: 16px;
                        top: 50%;
                        margin-top: -12px;
                        font-size: 18px;
          						&:after{
                            font-family:fontawesome;
                            content:'\f067';
                        }
                        &.accordion-minus:after{
							content:'\f068';
                        }
                    }
                }
            }
        }
    }
    .panel-body{
		background:#eeeeee;

        /*  Components inside the Accordion  */

        //Content Hightlight
        .contentHighlight{
        	padding:10px;
        	background:#ffffff;
            #container1{
                h3{
                    background-color:@color-black;
                    border-bottom:0;
                    font-family:@font-family-base;
                    background-color: transparent!important;
                    color: @color-black;
                    padding: 10px 0 15px!important;
                    margin-bottom: 0;
                    font-weight: 600;
                    position: relative;
                    &:after {
                       display:none;
                    }
                }
                .callToActionPara{
                    background-color: transparent!important;
                    padding: 0!important;
                	ul,ol{
                   	    padding: 0 0 0 20px;
                        li{
    						font-size:14px;
                        	line-height:24px;
                        }
                	}
                    p{
                        background-color: transparent!important;
                    	font-size:14px;
                    	padding:0;
                    	line-height:24px;
                    	color:@color-black;
                    }
                    a{
    					color:@color-primary;
                    	font-weight: normal;
                    }
                }
            }
        }

    	.imagecalltoaction{

        	.informa-image-call-to-action-content-image{
                width:100%;
            }
            .col-md-8.col-xs-12.col-sm-8.col-lg-8{
    			width:100% !important;
            }
        	.informa-image-call-to-action .btn-left-padding{
            	text-align:center;
        	}
        }
    }
}
