.dialoguebox{
    .homepage-modal-body{
        padding:15px 0;
        border:1px solid red;
        text-align:center;
        .modal-header{
            padding:20px 0 0;
            h3{
				padding:0;
                font-size:18px;
				color:red !important;
            }
        }
        .modal-body{
			padding:0;
            p{
                font-weight:600 !important;
            }
        }
        &:after{
			display:block;
            clear:both;
            content:'';
        }
    }
}
