/**     Boilerplate     **/

.boilerplate{
	.informa {
        background-color: #525a5c !important;
        .dropdown button{
            background:none;
            color: #ffffff;
        }
    }
}
