// General
div.carousel {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      height: auto!important;
  }
}

// Caption
.carousel-caption {
    width: 100% !important;
}
.carousel-caption {
    > .container {
    // .bg-dark-transparent();
    top: auto;
    left: 0;
    right: 0;
    width: 100% !important;
    padding: 0;
    bottom: 10%;

    @media (min-width: 320px) {
      p.h2 {
        font-weight: 300;
        font-size: @headings-h4-font-size;
        line-height: (@headings-h4-font-size + 12);
      }
    }
    @media (min-width: 768px) {
      p.h2 {
        font-weight: 300;
        font-size: @headings-h3-font-size;
        line-height: (@headings-h3-font-size + 12);
      }
      left: 10%;
      right: 10%;
      width: 100% !important;
      bottom: 14%;
      > .top-right {
        position: absolute;
        right: 15%;
        top: 30%;
        p.h2 {
          font-weight: 300;
          font-size: @headings-h3-font-size;
          line-height: (@headings-h3-font-size + 12);
        }
      }
      > .top-left {
        position: absolute;
        left: 15%;
        top: 30%;
        p.h2 {
          font-weight: 300;
          font-size: @headings-h3-font-size;
          line-height: (@headings-h3-font-size + 12);
        }
      }
      > .bottom-right {
        position: absolute;
        right: 15%;
        bottom: 30%;
        p.h2 {
          font-weight: 300;
          font-size: @headings-h3-font-size;
          line-height: (@headings-h3-font-size + 12);
        }
      }
      > .bottom-left {
        position: absolute;
        left: 15%;
        bottom: 30%;
        p.h2 {
          font-weight: 300;
          font-size: @headings-h3-font-size;
          line-height: (@headings-h3-font-size + 12);
        }
      }
    }

    @media (min-width: 992px) {
      p.h2 {
        font-weight: 300;
        font-size: @headings-h2-font-size;
        line-height: (@headings-h2-font-size + 12);
      }
      left: 15%;
      right: 15%;
      width: 100% !important;
      bottom: 26%;
      > .top-right {
        position: absolute;
        right: (@grid-gutter-width / 2);
        top: (@grid-gutter-width / 2);
        p.h2 {
          font-weight: 300;
          font-size: @headings-h2-font-size;
          line-height: (@headings-h2-font-size + 12);
        }
      }
      > .top-left {
        position: absolute;
        left: (@grid-gutter-width / 2);
        top: (@grid-gutter-width / 2);
        p.h2 {
          font-weight: 300;
          font-size: @headings-h2-font-size;
          line-height: (@headings-h2-font-size + 12);
        }
      }
      > .bottom-right {
        position: absolute;
        right: (@grid-gutter-width / 2);
        bottom: (@grid-gutter-width / 2);
        p.h2 {
          font-weight: 300;
          font-size: @headings-h2-font-size;
          line-height: (@headings-h2-font-size + 12);
        }
      }
      > .bottom-left {
        position: absolute;
        left: (@grid-gutter-width / 2);
        bottom: (@grid-gutter-width / 2);
        p.h2 {
          font-weight: 300;
          font-size: @headings-h2-font-size;
          line-height: (@headings-h2-font-size + 12);
        }
      }
    }
    > .container {
      width: auto;
      padding: 15px;
    }
  }
}

.sliderdescription,
.carousel-caption > .container {
  color: @carousel-caption-color;
  font-size: @carousel-caption-font-size;
}
.carousel-caption > .container {
  text-align: center;
  background-color: @carousel-caption-bg;
}
.slider-bottomtext {
  line-height: @font-line-height-base !important;
}

// CTA link
.carousel-calltoAction {
  margin-top: 30px;
  button {
    background-color: @color-secondary-shade-1!important;
    border: 0;
    line-height: 1;
    font-size: @cta-link-font-size;
    padding: 15px 20px;
  }
}

// Titles
.carousel-caption {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: @carousel-caption-color;
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    text-transform: none;
  }
  h1, .h1 {
    font-size: @headings-h1-font-size;
    // font-size: (@headings-h1-font-size - 7.5);
    // line-height: (@font-line-height-base - 0.30);
    // @media (max-width: 767px) {
    //   font-size: (@headings-h1-font-size - 6.5);
    //   line-height: (@font-line-height-base - 0.25);
    // }
    @media (min-width: 768px) {
        font-size: (@headings-h1-font-size - 10.5);
    }
    // @media (min-width: 768px) and (max-width: 991px) {
    //   font-size: (@headings-h1-font-size - 5.5);
    //   line-height: (@font-line-height-base - 0.20);
    // }
    @media (min-width: 992px) {
        font-size: (@headings-h1-font-size - 6.5);
    }
    // @media (min-width: 992px) and (max-width: 1024px) {
    //   font-size: (@headings-h1-font-size - 4.5);
    //   line-height: (@font-line-height-base - 0.15);
    // }
    // @media (min-width: 1025px) and (max-width: 1198px) {
    //   font-size: (@headings-h1-font-size - 3.5);
    //   line-height: (@font-line-height-base - 0.10);
    // }
    @media (min-width: 1199px) {
      font-size: @headings-h1-font-size;
      line-height: @font-line-height-base;
    }
  }
  h2, .h2 {
    font-size: @headings-h2-font-size;
  }
  h3, .h3 {
    font-size: @headings-h3-font-size;
  }
  h4, .h4 {
    font-size: @headings-h4-font-size;
  }
  h5, .h5 {
    font-size: @headings-h5-font-size;
  }
  h6, .h6 {
    font-size: @headings-h6-font-size;
  }
}
