.column-control-columns{
	 .column.col-xs-12.col-sm-9.col-md-9.col-lg-9{
			 width: 72.5%;
	 }
	 .column.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
			 width: 27.5%;
	 }
}

/**   Responsive Layouts   **/
@media (max-width: 767px){
	 .column-control-columns{
			 .column.col-xs-12.col-sm-9.col-md-9.col-lg-9{
					 width: 100%;
			 }
			 .column.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
					 width: 100%;
			 }
	 }
}
