.content-tile{
    .event-overview{
		padding:20px !important;

        background: transparent!important;
        .event-overview-col-img-custom{
			width:100%;
            img{
				width:auto !important;
            }
        }
        .event-overview-col-desc-custom{
			width:100%;
            .event-overview-title{
				font-family:@font-family-base;
                color:@color-black;
                font-size:38px;
                line-height:48px;
            }
        }
        .event-overview-btn{
            .event-overview-btn-col{
                width:100%;
                a{
                  background:none;
                  border:0;
                  padding:15px !important;
                  background:@color-primary;
                  margin:0 auto 10px;
                  display:block;
                  width: 230px;


                    .event-overview-btn-text-padding{
                        padding:0;
                    }
                	.event-overview-btn-title{
                    font-family:@font-family-base;
                    font-size:14px;
                    text-align:center;
                    padding:0 !important;
                	}
                    .highlgt-btn-icon-padding{
                        display:none;
                    }
                    &:hover{
                    background:@color-primary-shade-1;
                    border:0;
                    border-bottom:0 !important;

                    .highlgt-btn-title {
                      color:@color-white;
                      }
                    }
                    .event-overview-btn-text-padding{
                      display:block !important;
                      height:auto !important;
                    }
                    .event-overview-btn-icon-padding{
          						display:none;
                    }
                }
            }
        }
    }
}
