/**     Container Form Styles     **/

/**     Form Component     */
.container-form{
    .form-container{
        margin-left:0 !important;
        margin-right:0 !important;
        background:none;
        .forms-title{
            font-size:29px;
            color:@color-primary;
          	padding:0 !important;
            font-family:@font-family-base;
            margin:20px 0;
            line-height:39px;
            background:none;
            border-bottom:none !important;
            position:relative;
        }
        .custom-form-row{
           background:none;
           padding:0;
           margin-left:0 !important;
           margin-right:0 !important;
           .form-horizontal{
                padding:0;
                margin:0;
                form{
                    padding:0;
                    .text{
						padding:0;
                        font-size:14px;
                    }
                    .form-group{
						margin-left:0;
                        margin-right:0;
                        padding-right:0;
                        &.subscription-form-group{
							padding-left:0 !important;
                        }
                        input,select,textarea,button,span{
							font-size:14px !important;
                            color:@color-black;
                            font-family:@font-family-base !important;
                        }
                        .help-block{
							margin-left:0;
                        }
                    }
                    label{
                        padding:0;
                        font-size:14px;
                        color:@color-black !important;
                    }
                    .checkbox{
                        label{
							padding:0 0 0 5px;
                        }
                    }
                }
            }
        }

        .submit{
            .btn{
                font-family:@font-family-base !important;
                border:1px solid @color-primary!important;
                background:@color-primary-shade-1!important;
                color:@color-white !important;
                padding:10px 15px!important;
                height:auto !important;
                text-align:center;
                font-size:@font-size-base!important;
                font-weight:bold;
                line-height:@font-line-height-base!important;
                height:auto;
                max-width:none;
                width:100px !important;
                .border-radius(5px);
                margin-right: 10px;
                .transition(all ease-in-out 300ms);
                background:none !important;;
            }
            input[type="submit"]{
                &:hover{
                    background:@color-primary-shade-1!important;
                    border:1px solid @color-primary-shade-1!important;
                    color:@color-white !important;
                    .transition(all ease-in-out 300ms);
                }
            }
            input[type="reset"]{
                &:hover{
                    color:@color-white !important;
                    border:1px solid @color-primary-shade-1!important;
                    background:@color-primary-shade-1!important;
                    .transition(all ease-in-out 300ms);
                }
            }
        }
    }
}

.thankYouPage{
    .form-horizontal.registration-form h1{
  		color:@color-primary;
    }
}



/**   Responsive Layouts   **/
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){
	.container-form{
        .container-fluid{
			padding:0;
        }
        .form-container{

            .forms-title{
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
            .custom-form-row{

               .form-horizontal{

                    form{
                        .input-div{
							width:100% !important;
                            padding:0;
                        }
                        .preference-levle-checkBox-component{
							width:100% !important;
                            padding:0;
                        }
                    }
                }
            }
        }
    }
}
