/**     Content Hightlight     **/

.contentHighlight{
    #container1{
        h3{
			background-color:@color-black;
            border-bottom:0;
            font-family:@font-family-base;
            background-color: transparent!important;
            color: @color-black;
            padding: 10px 0 15px!important;
            margin-bottom: 15px;
            font-weight: 600;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 50px;
                margin: 0 0 0 -25px;
                height: 2px;
                background-color: @color-primary;
            }
        }
        .callToActionPara{
            background-color: transparent!important;
            padding: 0!important;
            p{
				background-color: transparent!important;
            }
        }
    }
}

.contentHighlightContainer {
    h3 {
        background-color: @color-secondary!important;
        font-family: @font-family-base;
        font-size: 20px;
        color: #ffffff;
        margin: 0;
        border: none;
        height: auto !important;
        padding: 15px !important;
        text-transform: capitalize;
        vertical-align: top !important;
}

}
