// CTA - Link
.highlgt-btn-title {
  font-family: @font-family-base;
  font-size: @cta-link-font-size;
  line-height: @font-line-height-base;
  width: 100%!important;
  &.text-left {
    text-align: center!important;
  }
}
.hightxt_btn {
    margin-bottom: 0px!important;
}
.highlgt-btn-custom {
  border: 0;
  padding:  15px 20px !important;
  &:active:hover,
  &:focus,
  &:active:focus,
  &:active {
    width: 100%!important;
  }
  .theme-primary-shade-1 & {
    .btn-base(@color-white, @color-primary-shade-1)!important;
  }
  .theme-primary-shade-1 .sidebar & {
    .btn-base(@color-white, @color-primary-shade-1)!important;
    .highlgt-btn-title {
      color: @color-primary-shade-1;
    }
  }
  .theme-secondary & {
    .btn-base(@color-white, @color-secondary)!important;
  }
  .theme-secondary .sidebar & {
    .btn-base(@color-white, @color-secondary)!important;
    .highlgt-btn-title {
      color: @color-secondary;
    }
  }
}
.theme-primary-shade-1 .sidebar .hightxt_btn {
  margin-bottom: 0;
}
.theme-primary-shade-1 a {
  color: @color-primary-shade-1;
  &:hover,
  &:focus,
  &:active {
    color: darken(@color-primary-shade-1, 15%);
  }
}
.theme-primary-shade-1 h1,
.theme-primary-shade-1 h2,
.theme-primary-shade-1 h3,
.theme-primary-shade-1 h4,
.theme-primary-shade-1 h5,
.theme-primary-shade-1 h6 {
  color: @color-primary-shade-1!important;
}
.theme-primary-shade-1 {
  .panel-prev {
    background-color: lighten(@color-primary-shade-1, 40%);
    border: 1px solid @color-primary-shade-1;
  }
  .panel-custom-header a {
      color: @color-primary-shade-1;
  }
}
.theme-secondary .sidebar .hightxt_btn {
  margin-bottom: 0;
}
.theme-secondary a {
  color: @color-secondary;
  &:hover,
  &:focus,
  &:active {
    color: darken(@color-secondary, 15%);
  }
}
.theme-secondary h1,
.theme-secondary h2,
.theme-secondary h3,
.theme-secondary h4,
.theme-secondary h5,
.theme-secondary h6 {
  color: @color-secondary!important;
}
.theme-secondary {
  .panel-prev {
    background-color: lighten(@color-secondary, 40%);
    border: 1px solid @color-secondary;
  }
  .panel-custom-header a {
      color: @color-secondary;
  }
}
.event-overview-btn-text-padding {
  display: block !important;
  text-align: center !important;
  padding: 0;
}
.highlgt-btn-icon-padding {
  display: none;
}

@media screen and (max-width: 900px) and (min-width: 320px) {
  .event-overview-btn-text-padding {
      height: auto !important;
  }
}

// CTA - Link, Desc
.informa-highlight-text {
  .content-title {
    background-color: @cta-heading-bg;
    margin: 0;
    padding: 15px;
    small {
      color: @cta-heading-color;
      width:100%!important;
      font-weight: @headings-font-weight;
    }
    img {
      display: none;
    }
  }
}
.visitorreg_txtin {
  font-family: @font-family-base;
  font-size: @font-size-base;
  padding: 15px 0 0 0 !important;
}
.highlgt-background-color {
  background-color: @cta-body-bg;
  padding: 0 15px;
}

.btnCustomFixedWidth {
  width:auto;
  height: auto;
  font-family: @font-family-base;
  font-size: @font-size-base;
  color: @cta-link-color;
}

// CTA - Title, Desc, Link
.boxes {
  .box {
    background-color: @cta-body-bg;
  }
}
.visitors-contact-content {
  .boxes {
    .box {
      > h1 {
        color: @headings-color;
        font-size: @headings-h3-font-size;
      }
    }
  }
}
.contactUs {
  .visitors-contact-content {
    .boxes {
      h6:last-child {
        a {
          color: @link-color;
        }
      }
    }
  }
}


// CTA Image - Title, Desc, Link
#container1 {
  margin-bottom: 15px;
  .heading {
    position: relative;
    p {
      .text-base();
      margin-bottom: 15px;
      background: transparent;
      padding: 0;
    }
    h3 {
      .h4(@cta-heading-color);
      color: @cta-heading-color!important;
      background: transparent;
      background-color: @cta-heading-bg;
      border: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .callToActionPara {
      background-color: @cta-body-bg;
      color: @cta-heading-color;
      a {
        color: @cta-heading-color;
          &:hover,
          &:focus {
            color: @cta-heading-color;
            text-decoration: underline;
          }
        }
    }
  }
  .contentHighlight & {
    img.img-responsive {
      width:100%!important;
    }
  }
}
.contentHighlightContainer {
  margin-bottom: 15px;
  .heading {
    position: relative;
    p {
      .text-base();
      margin-bottom: 15px;
      background: transparent;
      padding: 0;
    }
    h3 {
      .h4(@cta-heading-color);
      color: @cta-heading-color!important;
      background: transparent;
      background-color: @cta-heading-bg;
      border: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .callToActionPara {
      background-color: @cta-body-bg;
      color: @cta-heading-color;
      a {
        color: @cta-heading-color;
          &:hover,
          &:focus {
            color: @cta-heading-color;
            text-decoration: underline;
          }
        }

    }
  }
  .contentHighlight & {
    img.img-responsive {
      width:100%!important;
    }
  }
}

// CTA Image - Title, Desc, Link, Highlight Button
.contentHeaderImage-container {
  background-color: @cta-body-bg;
}
.imagecalltoaction {
  .informa-image-call-to-action-content-subtitle {
    .h3(@headings-color);
    text-align: center;
    font-size: @headings-h3-font-size !important;
  }
  h3 {
    .h4(@cta-heading-color);
    background-color: @cta-heading-bg;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
  }
}
.imageCalltoaction-main {
  p {
    .text-base();
    margin-bottom: 15px;
  }
}
.informa-image-call-to-action-content-image {
  .btn-custom {
    width:100%;
  }
}
.btn-custom {
  border-bottom: none;
}
.event-overview-btn-title {
  font-family: @font-family-base;
  padding: 0;
}
.imageCalltoaction-main {
  .event-overview-btn-title {
    word-wrap: inherit;
  }
}
.HomePageBtn {
  width:auto;
}
.HomePageBtnArrow {
  display: none;
}

.content-highlight-title-anchor {
  .h3(@headings-color);
}

.list-styles {
  list-style-type: none;
  list-style-image: none;
  li {
    text-align: center;
    a {
      .btn-base(@cta-link-color, @color-secondary);
      display: inline-block;
      min-width:50%;
      font-size: 18px;
      font-family: @font-family-base;
      padding: 8px 16px;
      &:hover,
      &:focus {
        font-size: 18px;
        font-family: @font-family-base;
        text-decoration: none !important;
      }
    }
  }
}
