.dialoguebox{
	.homepage-modal-body {
        padding: 15px 0;
        border: 0;
        text-align: center;
        background:@color-primary;
        p{
			color:@color-white !important;
        }
    }
}
