/**     Footer Container Styles     **/

.footercontainer{
    footer{
        margin:0;
        .footerNavbg{
            display:none;
            .informa-link-list-items{
                li{
                    a{
                        &:hover{
                            color:@color-primary;
                        }
                        // span{
                        //     color:@color-white;
                        // }
                    }
                }
            }
        }
        .aboutInfo{
            // padding: 20px 0;
            background: @color-alt;
            .about-informa{
                p{
                    color: @color-black;
                    line-height: 18px;
                    font-size: 13px;
                    margin:0 !important;
                }
                .footerLogo{
                    text-align:right;
                    margin-top:0;
                    img{
                    	height:35px !important;
                        display:inline-block;
                    }
                }
            }
        }
        .footerBottombg{
            background-color: @color-alt!important;
            ul{
                padding:5px 0;
                li{
                    a{
                        font-family:@font-family-base;
                        color: @color-secondary;
                        &:hover{
                            color:@color-secondary-shade-1;
                        }
                        span{
                            color:#cccccc;
                        }
                    }
                }
            }
        }
    }
}

/**   Responsive Layouts   **/
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){
	.footercontainer footer .aboutInfo .about-informa{
        > .row{
            padding:0 !important;
            > div{
                padding:0 15px !important;
            }
            .footerLogo {
                text-align: left;
                margin-top: 10px;
            }
        }
    }
}
@media (max-width: 320px){

}
