/**     Header Search Results Styles     **/

.headerSearchResult{
    .pageSearchInforma{
        hr{
			padding-top:0!important;
            padding-bottom:20px!important;
            margin-right:0 !important;
            margin-top:20px !important;
            margin-bottom:0 !important;
        }
        form {
            .searchBoxInforma{

            }
            .searchBtnInforma{
				font-family:@font-family-base !important;
                background:@color-primary !important;
            }
        }
        a{
			color:@color-secondary;
        }
    }
    br{
		display:none;
    }
}
