/**     Header Container Styles     **/

.headercontainer{
    position:relative;
    line-height: 0;
    header{
        padding: 0;
        min-height:0;
        .headerVerticalHold {
            .container{
                .cover.pull-left{
                    width: 100%;
                    float:none !important;
                    margin:auto;
                    display:block;
                    text-align:center;
                }
                .cover.pull-right{
					display:none;
                }
                .left{
                    width:auto;
                    display:inline-block;
                    float:none;
                    margin:0 !important;
                    a{
						display:bblock;
                    }
                }
                .seperator{
					display:none;
                }
                .right{
                    width:auto;
                    float:none;
                    display:inline-block;
                    padding:0;
                    text-align:left;
                    p{
						margin:0 0 5px;
                    }
                    i{
                       display:none;
                    }
                    .calendarDetails{
                        span{
							font-size:20px;
                            color:@color-black;
                            font-family:@font-family-base;
                            width: auto;
                        }
                    }
                    .mapIconHeader{
						span{
							font-size:16px;
                            color:@color-black;
                            font-family:@font-family-base;
                            max-width: 340px;
                        }
                    }
                }
                #header_search{
                    position: fixed;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    z-index: 99999;
                    background: rgba(0,0,0,.8);
                    visibility: hidden;
                    -webkit-transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    -o-transition: all 0.4s ease-in-out;
                    -ms-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    -webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    -moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    -o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    -ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    transform: perspective(200px) rotateX(-15deg) scale(0.75);
                    opacity: 0;
                    &.active{
                        visibility: visible;
                        -webkit-transform: perspective(200px) rotateX(0deg) scale(1);
                        -moz-transform: perspective(200px) rotateX(0deg) scale(1);
                        -o-transform: perspective(200px) rotateX(0deg) scale(1);
                        -ms-transform: perspective(200px) rotateX(0deg) scale(1);
                        transform: perspective(200px) rotateX(0deg) scale(1);
                        opacity: 1;
                    }
                    .search-form{
    	                display:table;
                    	width:100%;
                    	height:100%;
                        .input-group{
    						display:table-cell;
                        	vertical-align:middle;
                        	text-align:center;
                            input[type="text"]{
                                display: inline-block;
                                width: 50%;
                                margin: auto;
                                border: 0;
                                background: none;
                                font-size: 3vw;
                                font-weight: 600;
                                color: #ffffff;
                                border-bottom: 1px solid rgba(255, 255, 255, 0.7);
                                float: none;
                            	padding: 10px 5% 10px 2% !important;
                            	height:auto;
                            	position:relative;
                            	left: 3%;
                            	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                  color: #cccccc;
                                }
                                &::-moz-placeholder { /* Firefox 19+ */
                                  color: #cccccc;
                                }
                                &:-ms-input-placeholder { /* IE 10+ */
                                  color: #cccccc;
                                }
                                &:-moz-placeholder { /* Firefox 18- */
                                  color: #cccccc;
                                }
                            }
                            .input-group-btn{
    							display:inline-block;
                            	position:relative;
                            	left: -3%;
                            	z-index:99999;
                            	width:5%;
                                button{
    								border:0;
                                	outline:none;
                                	background:none !important;
                                    i{
    									font-size:3vw;
                                    	background:none !important;

                                        &:hover{
											color:@color-primary !important;

                                    	}
                                    }
                                }
                            }
                        }
                    }
                    .trig-close{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        color: #ffffff;
                        font-size: 3vw;
                    	cursor:pointer;
                        &:hover{
    						color:@color-primary;
                        }
                    }
        		}

                .headerMenuLink{
            		ul{
                		z-index:9999;
                        li{
                    		margin:0;
                            a{
								color:@color-black !important;
                        		font-family:@font-family-base;
                                &:hover{
                                    color:@color-primary !important;
                                }
                            }
                            &.active{
        						a{
                                    color:@color-primary !important;
                                    font-family:@font-family-base;
                                }
                            }
                        }
            		}
                }
            }
        }
    }
}

/**   Responsive Layouts   **/

@media (max-width: 1199px){
    .headercontainer{
        header{
            .headerVerticalHold {
                .container{
                    .cover.pull-left{

                    }
                    .cover.pull-right{

                    }
                }
            }
        }
    }
}

@media (max-width: 1008px){

}

@media (max-width: 991px){
	.headercontainer{
        header{
            .headerVerticalHold {
                .container{
                    .cover.pull-left{
                        width:65%;
                    }
                    .cover.pull-right{
                        width:35%;
                    }
                    .left{
                        width:100%;
                        margin:0 0 10px;

                    }
                    .seperator{
                        display:none;
                    }
                    .right{
                        width:100%;

                    }
                }
            }
        }
    }
}
@media (max-width: 769px){
    .headercontainer{
        header{
            .headerVerticalHold {
                .container{
                    .cover.pull-left{
                        width:100%;
                    }
                    .cover.pull-right{
                        width:100%;
                    }
                    .left{
                        width:100%;

                    }
                    .seperator{
                        display:none;
                    }
                    .right{
                        width:100%;

                    }
                }
            }
        }
		.hamBurger{
            position:absolute;
            display:block !important;
            top:50px !important;
            right:0 !important;
            margin:0 !important;
            .navbar-inverse{
                .navbar-header{
                    z-index:0;
                }
                background:none !important;
                .navbar-toggle{
                    background:@navbar-bg!important;
                    padding:15px !important;
                    box-shadow:none !important;
                    border:0 !important;
                    outline:none;
                    border-radius:0 !important;
                    span{
                        background:@color-white !important;
                        .transition(300ms east all);
                    }
                    &:hover{
                        span{
                            background:@color-secondary!important;
                            .transition(300ms east all);
                    	}
                    }
                }
            }
        }
    }
}
