/**     Hero Carousel Styles     **/
.heroParallax{
    .row{

    }
    .carousel{
        margin-bottom:0;
        .carousel-inner{
            .item{
                img{
					min-height:0 !important;
                }
                .carousel-caption{
					position:absolute;
                	width:100% !important;
                    height:100% !important;
                	position:absolute;
                	top:auto;
                    bottom:0;
                	left:auto !important;
                    right:0;
                	padding:15px 150px 15px 15px;
                	background: none !Important;
                	text-align:left;
                    .container{
                    	width:100%;
                    	h2{
                            font-size: 15px;
                            padding: 0;
                            margin: 0 0 12px;
                            line-height: 1.25;
                            text-align: left;
                            color: #fff;
                        	font-family:@font-family-base;
                            text-shadow: 0 !important;
                            font-weight: 600;
                        }
                        .carousel-calltoAction{
                        	margin:0 !important;
                            a{
                                position:absolute;
                                top:0;
                                display:block;
                                left:0;
                                width:100% !important;
                                height:100% !important;
                                color:transparent;
                                button{
									visibility:none;
                                	background:none;
                                	border:0 @color-primary;
                                	color:@color-white;
                               		font-family:@font-family-base;
                                    padding: 6px 10px;
                                    margin-bottom: 0;
                                    font-size: 12px;
                                    color:transparent;
                                    font-weight: 700;
                                	text-shadow:none;
                                    &:hover{
										background-color:@color-primary !important;
                                    	color:@color-white !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .slider-indicators{
            top:20px;
            right: 10% !important;
            bottom: auto;
        	width:150px;
        	text-align:right;
        	margin:0;
            li{
				background:#8c9093;
                border:0;
                outline:none !important;
                margin:0 !important;
            	opacity:1 !important;
                &.active{
					background:#505050;
                }
            }
        }
    }
}


/**   Responsive Layouts   **/

@media (max-width: 767px){
    .heroParallax .carousel-control{
		display:none;
    }
}
