/**     Highlight Text     **/

.highlightText{
    .informa-highlight-text{
        .informa-highlight-text-title{
            .content-title{
                background-color: @color-primary;
                border-bottom: 0 !important;
                small{
					font-family:@font-family-base;
                }

                img{

                }
            	&:after{

                }
            }
        }
        .informa-highlight-text-content-section{
			background-color:@color-white;
        	border:1px solid @color-primary;
            ul{
                li{
                    a{
                        &:hover{

                        }
                    }
                }
            }
        }
    }
}
