/**     Image Gallery     **/

.imagegallery{
    background:@color-white;
    margin:0 -15px;
    padding:4vw 0;
    .tab-content{
        max-width: 1170px !important;
        margin: auto;
        .img-gallery{
			background:none !important;
            margin: 0 !important;
            padding: 0 !important;
            h3{
                font-size:32px;
                line-height:42px;
                font-weight: normal;
                padding: 0 0 10px 16px;
                color:@color-black;
                text-align:center;
            }
            .carousel{
                ul{
                    li{
                        display:block;
						background:none !important;
                        a{
                           	display: block;
							padding:10px;
                            background:@color-white;
                            img{
								margin:0;
                            }
                        }
                    }
                }
            }
        }
    }

}
