
/**     Image Call to Action Styles     **/

.imagecalltoaction{
    padding:30px;
    .col-md-12 .col-md-12{
		padding:0;
    }

    .informa-image-call-to-action{
        .informa-image-call-to-action-title{
            h3{
              background-color: transparent;
              border-bottom:0;
              font-family:@font-family-base;
              padding:0;

            }
        }
        .contentHeaderImage-container{
      		background-color: transparent;
        }
        .informa-image-call-to-action-content-image{
    			float:right;
        }
        .callToActionContent{
            padding:0;
            .informa-image-call-to-action-content-subtitle{
              font-size:34px;
              line-height:44px;
            }

            p{
              font-size:@font-size-base!important;
              font-family:@font-family-base;
              color:@color-black;
            }
        }
        .btn-left-padding{
    		width:100%;
        }
        .btn-custom {
        	border-bottom:0;
        	background-color:transparent;
        	padding:10px;
        	background:@color-tertiary;
        	border:0;
        	min-width:230px;

            h4{
              // color:@color-white;
              width: 100% !important;
              padding-right:0;
              font-size: 12px;
              text-align: center !important;
              font-family: @font-family-base;

            }
            .HomePageBtnArrow{
        			display:none;
            }
            &:hover,
            &:focus,
            &:active {
              color: @color-white!important;
              background-color: darken(@color-tertiary, 15%) !important;

                h4{
        					color:@color-white;

                }
            }
        }
    }
}



/**   Responsive Layouts   **/

@media (max-width: 991px){

}

@media (max-width: 767px){

}

@media (max-width: 320px){

}
