div.image{
	margin-bottom:0 !important;
    text-align:center;
    img{
		display:inline-block;
    }
}

.full-width-img{ // CUSTOM CLASS
	div.image{
        img{
            width:100% !important;
        }
    }

}
