.leadingText{
    padding:30px 0 0;
    p{
        padding-top:0 !important;
    }
    .informa-leading-text{
        background:none;
        float:none;
        padding-left:15px !important;
        .Consecteturtitle{
            margin:0 !important;
        }
        .row{
            position:relative;

            .informa-leading-text-variation-one-alternate-content-image{
                width:15%;
				float:left;
            }
            .setting{
                width:100%;
                float:right;
                padding:0;
                .testimonialp{
                    padding:0;
					margin:0 0 30px;
                    font-size:16px;
                    line-height:26px;
                    font-family:@font-family-base !important;
                    color:#676767;
                    position:relative;
                    em{
                        background: #eeeeee;
                        padding: 70px 30px!important;
                        position:relative;
                        z-index:10;
                        font-size:20px;
                        display:block;
                        line-height:30px;
                        color:#333333;
						 &:before{
                            display:inline-block;
                            content:'\f10d';
                            font-family:fontAwesome;
                            color:#e5e5e5;
                            position:absolute;
                            font-size:70px;
                            top:40px;
                            left:30px;
                            z-index:-1;
                        }
                        &:after{
                            display:inline-block;
                            content:'\f10e';
                            font-family:fontAwesome;
                            color:#e5e5e5;
                            position:absolute;
                            font-size:70px;
                            bottom:30px;
                            right:30px;
                            z-index:-1;
                        }
                    }

                    &:after{
                        display:block;
                        bottom:-15px;
                        left:50px;
                        position:absolute;
                        content:'';
                        border-top:15px solid #eeeeee;
                        border-left:15px solid transparent;
                        border-right:15px solid transparent;
                    }
                }
                .quote{
                    padding:0!important;
                    font-weight:bold;
                    font-size:13px;
    				font-family:@font-family-base !important;
                    color:@color-white;
                    max-width:300px;
                }
            }
        }
    }
}
