.lightbox{
    .callaction-btn{
        a{
          border:1px solid @color-primary;
          color:@color-white;
          background:none !important;
          padding: 15px !important;
          margin: 0 0 10px;
          font-size:12px;
          font-weight:bold;
          line-height:1;
          text-transform:uppercase;

          &:hover{
          	border:1px solid @color-primary-shade-1;

            background: @color-primary-shade-1!important;
            color:@color-white;
          }
        }
    }
}
