.linklist{
    .row{
		margin:0;
    }
    ul{
        li{
            float:none;
            border-left:none;
            display:block;
            margin:0 0 5px;
            a{
				display:block;
                padding:5px 5px 5px 20px;
                position:relative;
                font-family:@font-family-base;
                color:@color-black;
                font-size:14px;
                .separator{
					display:none;
                }
                &:hover{
        					color:@color-primary-shade-1;
                }
                &:after{
					content:'\f054';
                    font-family:FontAwesome;
                    display:block;
					position:absolute;
                    font-size:16px;
                    color:@color-primary;
                    top:6px;
                    left:0;
                }
            }
        }
    }
}

// List Tabular View

.listheading {
    background-color: #ffffff;
    padding-bottom: 20px;
}
.listheading .list.heading.nav {
    background: none repeat scroll 0 0 #433274; /* @color-primary = brand-primary hover color*/
}
.listheading .list.heading ul.list li a {
  font-family: @font-family-base!important;
  font-size: @headings-h5-font-size;
  color: #ffffff !important;
}
.list.heading.nav .list li {
    border-right: 0px solid #ffffff;
}
.list.heading.nav .list li:not(:last-child) {
    border-right: 0px solid #ffffff;
}
.heading ul.list > li:not(:last-child)::after {
    border: 0px solid #f4f4f4!important;
}
.list.heading1.nav {
    background: none repeat scroll 0 0 #ffffff;
}
.list.heading1 .heading111 h2 {
  font-family: @font-family-base!important;
  color: @font-color-base!important;
  font-size: @headings-h6-font-size;
  font-style: italic;
}
.list.heading2.nav {
    background: none repeat scroll 0 0 #ffffff;
}
.list.heading2 .heading111 h2 {
  font-family: @font-family-base!important;
  color: @font-color-base!important;
  font-size: @font-size-base;
}
.listheading .listpage li a {
  font-family: @font-family-base!important;
  color: @font-color-base!important;
  font-size: @font-size-base;
  text-decoration: underline!important;
  &:hover,
  &:focus {
    color: @color-primary-shade-1!important; /* @color-primary = brand-primary hover color*/
    text-decoration: none!important;
  }
}
ul li.tr.list-item-rows {
  font-family: @font-family-base!important;
  color: @font-color-base!important;
  font-size: @font-size-base;
}
.divtable .th, .divtable .td {
  font-size: @font-size-base!important;
}
.soldOutHotels {
    color: @color-secondary!important;
}
.listViewAnchor {
    text-decoration: none;
}
.panel-custom-header a {
    color: @color-primary;
    text-decoration: none!important;
    font-weight: normal!important;
    &:hover,
    &:focus {
      color: @color-primary-shade-1!important; /* @color-primary = brand-primary hover color*/
      text-decoration: underline!important;
    }
}
.list.heading.nav .list li {
  text-align: inherit;
  float: left!important;
}




// List Title Only
.firstrow .heading h2.heading {
    color: @headings-color!important;
    font-family: @font-family-base!important;
    font-size: 20px;
    margin-bottom: 22px;
    margin-left: 20px;
}

.firstrow {
    background: none repeat scroll 0 0 #ffffff !important;
    padding: 0px;
    overflow: hidden;

    > .col-md-12.col-sm-12 {
      padding: 0px 15px 0px 15px;

      > .tab-containertwo {
      margin-bottom: 0px;
      margin-top: 0px;

      }
  }
}
// .tab-containertwo .tab-content {
//     padding-bottom: 0px;
// }

.listViewTopSpace {
    padding-top: 0px;
}
.tab-content>.tab-pane {
    padding-bottom: 0px !important;
}
#TabOne ul.tabList {
    margin-bottom: 0px;
}
.listViewTab1 ul.tabList {
    margin-bottom: 0px;
}
ul.tabList {
    padding: 0;
}
.tabList li:nth-child(odd) {
  background-color: #f2f5f7;
  min-height: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.tabList li:nth-child(even) {
  background-color: #ffffff;
  min-height: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.listview-variant-1 .tab-content li .item {
  word-break: normal;
  padding: 0px 0px 0px 0px !important;

    @media (min-width: 768px) {
      padding: 10px 15px 5px 10px!important;
    }
    @media (min-width: 1024px) {
      padding: 0px 0px 0px 0px !important;
    }

}
@media (min-width: 768px) {
  .listview-variant-1 .tab-content li .item {
      padding: 5px 10px 5px 10px !important;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .listview-variant-1.section span {
      padding: 5px 15px 5px 15px!important;
  }
}
.tabList li {
    overflow: hidden;
    font-family: @font-family-base;
    color: @font-color-base;
    font-size: @font-size-base;
}

a.hyperLinkListView {
  color: @font-color-base!important;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @font-color-base!important;
    text-decoration: none;
  }
}

a.hyperLinkListView {
  > h5 {
    color: #ffffff;
    background-color: @color-primary;
    font-size: 20px;
    padding: 10px 10px 10px 15px;
    margin: -5px -15px -5px -15px;

    @media (min-width: 768px) {
      padding: 15px 15px 15px 25px;
      margin: -15px -15px -15px -25px;
    }
    @media (min-width: 1024px) {
      padding: 10px 10px 10px 20px;
      margin: -10px -15px -10px -25px;
    }

  }
}
li.Lorem {
  > span {
    > h5 {
      color: #ffffff;
      background-color: @color-primary;
      font-size: 20px;
      padding: 10px 10px 10px 10px;
      margin: -5px -30px -5px -10px;

      @media (min-width: 768px) {
        padding: 15px 10px 15px 10px;
        margin: -15px -30px -15px -15px;
      }
      @media (min-width: 1024px) {
        padding: 10px 10px 10px 10px;
        margin: -5px -30px -5px -15px;
      }

    }
  }
}

li.Lorem {
  line-height: 20px;
}
