.listview-variant-2{
    .listheading{
        background:none;
        .listpage{
			margin:0;
        }
        .list.heading.nav {
            background: none repeat scroll 0 0 @color-black!important;
        }
        .heading.list.nav{
            background:@color-primary !important;
            border: 1px solid #000000;
            ul{
                li{
                    margin:0;
                    padding:15px;
					border-right:0;
                    border-left:1px solid @color-white;
                    &:after{
						display:none;
                    }
                    &:first-child{
						border-left:0;
                    }
                    a{
						font-family:@font-family-base !important;
                        color:@color-white;
                        font-weight:bold;
                        text-align:center !important;
                        display:block;
                        font-size:16px;
                    }
                }
            }
        }
        .item{
            border-bottom:1px solid @color-black;
            border-left:1px solid @color-black;
            border-right:1px solid @color-black;
            ul{
                li{
                    margin:0;
                    background:none !important;
                    padding:0;
                    border-top:1px solid @color-black;
                    height: auto !important;
                    min-height: 0;
                    div{
                        text-align:center !important;
						font-family:@font-family-base !important;
                        font-size:16px;
                    }
                    a{
						font-family:@font-family-base !important;
                        text-align:center !important;
                        font-size:16px;
                    }
                    span{
						font-family:@font-family-base !important;
                        text-align:center !important;
                        font-size:16px;
                    }
                    &.tr.list-item-rows:nth-child(odd) {
                        background: #f2f5f7;
                    }
                    &.tr.list-item-rows:nth-child(even) {
                        background: @color-white!important;
                    }
                    &:first-child{
						border-top:0;
                    }
                    .th, .td {
                        padding: 15px !Important;
                    }
                    .accordion-xs-toggle{
						padding:0 !important;
                        &:after{
							top:20px;
                        }
                    }
                }
            }
        }
    }
}


/**   Responsive Layouts   **/

@media (max-width: 1199px){

}

@media (max-width: 991px){

}

@media (max-width: 767px){

}
