.programsearch{
    .exihibitor-projects-container {
        .exhibitorProjectsInnerBoxes{
            .exhibitorProjectsMainTitle {
                font-size: 30px;
                display: table-cell;
                vertical-align: middle;
                height: 93px;
                font-weight: normal;
                padding: 10px 0;
                margin: 0 0 10px;
                color: @color-primary;
            }
            .searchbarProjects {
                .header_search_bar {
                    margin-bottom:15px;
                    padding:10px;
                    text-align:right;
                    .searchTitle {
                        float:left;
                        padding:0;
                        margin:0;
                    }
                    .text_box {
                        float:none;
                        width:auto;
                        padding:0;
                        margin:0 10px 0 0;
                        display:inline-block;
                        .search {
                            padding:10px !important;
                            margin:0;
                        }
                    }
                    .dd_box {
                        float:right;
                        width:auto;
                        #btn-info {
                            margin:0 !important;
                        }
                    }
                }
            }
            .searchContainer{
                ul{
                    li{
                        .content-title{
                            background-color: @color-primary;
                            border-bottom: 0 !important;
                            p{
                                font-size:18px;
                            }
                            img{
                                display:none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .programsearch{
        .exihibitor-projects-container {
            .exhibitorProjectsInnerBoxes{
                .searchbarProjects {
                    .header_search_bar {
                        .dd_box {
                            #btn-info {
                                left:0;
                            }
                        }
                    }
                }
            }
        }
    }
}
