/**     Quick Link Styles     **/

/* Default Style */
.quicklink{
    .highlightText{
        .event-overview-btn{
            .event-overview-btn-col{
	      			display:block;
              float:none;
              width:auto;
            }
              margin-left:0;
              margin-right:0;
              margin-bottom:0;
              .hightxt_btn{
                padding:0 !important;
                margin:0;
                  a{
                    border:0 !important;
                    border-bottom:0 !important;
                    padding:15px 10px!important;
                    margin:0 0 10px;
                    background:@color-secondary;
                  	width:auto;

                    .border-radius(0);
                    .transition(all ease-out 300ms);
                    .event-overview-btn-text-padding{
                      padding:0;
                    }
                    .highlgt-btn-icon-padding{
                      display:none;
                    }
                    &:hover{
                      background:@color-secondary-shade-2;
                      border:0 !important;
                      border-bottom:0 !important;
                        .transition(all ease-out 300ms);
                        .highlgt-btn-title{
            							color:@color-white;
                        }
                    }
                    .event-overview-btn-text-padding{
                      display:block !important;
                      height:auto !important;
                    }
                    .highlgt-btn-icon-padding{
          						margin-right:0 !important;
                    }
                    .highlgt-btn-title{
          						width:100% !important;
                      font-size:@font-size-base;
                      text-align:center !important;
                      font-family:@font-family-base!important;
                      color:@color-white;
                    }
                }
            }
        }
    }
}


/**   Responsive Layouts   **/
@media (max-width: 1199px){

}

@media (max-width: 991px){

}
@media (max-width: 767px){
    .quicklink .highlightText .event-overview-btn .hightxt_btn a{
		max-width:100%;
    }
}
