/**     Social - Link     **/
.sociallinks{
    .socialIcon{
        ul{
            float:none !important;
            font-size:0;
            li{
                display:inline-block;
                border-left:0;
                float:none;
                margin-right:10px;
                a{
                    padding:0;
                    i{
                        color: @color-white;
                        height:40px;
                        width: 40px;
                        background: @color-secondary;
                        margin: 1px 0 0;
                        border-radius: 100%;
                        text-align: center;
                        display: inline-block;
                        font: normal normal normal 15px/1 FontAwesome;
                        font-size:16px;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        line-height:40px;

                        &.youtubeIcon{
                            &:after{
                                content: "\f167";
                            }
                        }
                        &.linkedinIcon{
                            &:after{
                                content: "\f0e1";
                            }
                        }
                        &.twitterIcon{
                            &:after{
                                content: "\f099";
                            }
                        }
                        &.facebookIcon{
                            &:after{
                                content: "\f09a";
                            }
                        }
                        &.instagramIcon{
                            &:after{
                                content: "\f09e";
                            }
                        }
                        &.pinterestIcon{
                            &:after{
                                content: "\f0d5";
                            }
                        }
                        &:hover{
                            background:@color-secondary-shade-1;
                            color:@color-white;

                        }
                        &:active{
                            background:@color-secondary-shade-2;
                            color:@color-white;

                        }
                    }
                }
            }
        }
    }
}
