.table{
    table{
        border:0;
        tr{
            border:0;
            &:first-child td{
				border:0;
            }
            th{
				border:0;
                font-size:13px;
                padding:10px 5px;
            }
            td{
                border:0;
				border-top:1px solid #eeeeee;
                padding:10px 5px;
                font-size:13px;
            }
            img{

                &:hover{
					             opacity:.8;

                }
            }
        }
    }
}


/**   Responsive Layouts   **/
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){
	.table{
        overflow-x:auto;
        table{
			border:1px solid #eeeeee;
        }
    }
}
@media (max-width: 320px){

}
