/**  Text Styles **/

.text{
    color:@color-black;
    p{
        a{
            color:@color-primary;
            &:hover{

            }
        }
    }

    ul{
        li{
            float:none;
            border-left:none;
            display:block;
            padding:0 0 0 17px;
            position:relative;
            font-family:@font-family-base;
            color:@color-black;
            font-size:14px;
            line-height:20px;
            margin:0;
            &:after{
                content:'\f054';
                font-family:FontAwesome;
                display:block;
                position:absolute;
                font-size:14px;
                color:@color-primary;
                top:1px;
                left:0;
            }
        }
    }
}
