/**     Title Bar Styles     **/

.titleBar{
    .informa-title-bar{
		// font-size:34px;
    //     line-height:44px;
        // font-weight:normal;
        padding:0;
        // margin:25px 0px 25px 0px;
        // color:@color-black;
        font-family:@font-family-base;
        background-color:transparent;
        border-bottom:0 !important;
    }
    .content-highlight-title-anchor{
    	// font-size:24px;
        font-weight:normal;
        padding:0;
        margin:0 0 20px;
        font-family:@font-family-base !important;
        margin:0;
    }
}
// Main heading
.content-title {
  .h1(@headings-color);
  background-color: transparent;
  border-bottom: 0 !important; // override !important declaration
  padding: 0;
  .title-bar-center & {
    text-align: center;
  }
}

// Sub heading
.content-highlight-title-anchor {
  .h3(@headings-color);
  .h4(@headings-color)!important;
  font-family: @font-family-base!important;
  .title-bar-center & {
    text-align: center;
  }
}
