/**     Youtube Video     **/
.youtube-video{
    .media-body{
        .media-heading{
            border-bottom: 0;
			background:@color-primary;
            font-family:@font-family-base;
            line-height:32px;
            font-size:20px;
        }
    }
}

.video-list{ //CUSTOM CLASS
    .youtube-video{
        .media-body{
            .media-heading{
                min-height: 84px;
            }
        }
    }

}
