@black: #000000;
@grey: #CCCCCC;
@grey-light: #eeeeee;

@blue: #0f294a; // blue
@green: #9dc440; // green

@primary-color: @blue;
@secondary-color: @blue;
@tertiary-color: @blue; //navy blue color for hover on sub-menu
@quaternary-color: @green;
