.calendar-component {
	text-align: center;

	.eventDateContainer {
		.calendarDetails,
		.mapIconHeader {
			margin: 0;

			@media (min-width: @breakpoint-tablet) {
				align-items: center;
				display: flex;
				justify-content: center;
				width: 50%;
			}

			.topNavAddress,
			.calenderIcon,
			.mapIcon {
				display: inline;
				float: none;

				@media (min-width: @breakpoint-tablet) {
					display: inline-block;
					float: left;
					width: auto;
				}
			}
		}
	}
}
