.contentHighlight {
	overflow: hidden;

	&:first-child {
		margin-bottom: 0;
		margin-left: -@global-padding;
		margin-right: -@global-padding;
		margin-top: 0;
	}


	&.section .component1 .heading {
		position: relative;


		img {
			height: 100% !important;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100% !important;

			@media (min-width: @breakpoint-desktop) {
				height: auto !important;
			}
		}

		h3 {
			background-color: @transparent;
			color: @white;
			font-size: 31px !important;
			line-height: @image-cta-subtitle-line-height;
			padding: (@global-padding * @golden-ratio) 0 !important;
			position: relative;
		}
	}
}


.informaBreadcrumb + .contentHighlight {
	margin-top: 0;
}
