.imagecalltoaction.parbase {
	.homepage {
		.informa-image-call-to-action {
			background-color: @white;


			.informa-image-call-to-action-title {
				display: none;
			}


			.informa-image-call-to-action-title,
			.informa-image-call-to-action-content-section {
				padding: 0 !important;


				.col-md-8.col-xs-12.col-sm-8.col-lg-8 {
					@media (max-width: @breakpoint-tablet) {
						width: 100% !important;
					}
				}


				.informa-image-call-to-action-content-image {
					background-color: @white;

					@media (max-width: @breakpoint-tablet) {
						bottom: auto;
						height: auto;
						left: auto;
						position: relative;
						top: auto;
						transform: none;
					}


					> img {
						margin: 0 !important;

						@media (min-width: @breakpoint-tablet) {
							object-position: left center;
							position: relative;
							width: 100% !important;
						}

						@media (min-width: @breakpoint-desktop) {
							margin: 0 !important;
							object-fit: cover;
							object-position: right center;
							width: 40% !important;
						}
					}
				}


				> h3,
				> div:last-of-type {
					// padding: 0 !important;

					@media (min-width: @breakpoint-tablet) {
						display: inline-block;
						float: right;
						text-align: left;
						width: 80% !important;
					}

					@media (min-width: @breakpoint-desktop) {
						width: 55% !important;
					}


					.callToActionContent,
					.paddingZero,
					.btn-left-padding {
						@media (min-width: @breakpoint-tablet) {
							text-align: left;
						}


						.informa-image-call-to-action-content-subtitle {
							color: @primary-color !important;
							font-size: @h1-size !important;
							font-weight: 700 !important;
						}


						p {
							color: @text-color;
						}
					}
				}
			}
		}
	}


	.callToActionContent,
	.paddingZero,
	.btn-left-padding {
		h1 {
			color: @white !important;
		}
	}


	.informa-image-call-to-action .informa-image-call-to-action-title {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: @white !important;
		}
	}
}






/** CTA Image - Title, Desc, Link, Highlight, Button **/

.imagecalltoaction{
    margin:0;
    padding:0;
    .informa-image-call-to-action-title{
        padding:0px;
        overflow:hidden;
        @media (max-width:769px){
			padding:0px;
        }
        h3{
            position:relative;
            background:none;
            border-bottom:0;
            margin:0 0 40px;
            padding:0;
            .font(36px,44px,bold,@font-secondary,@color-gray);
            text-align:center;
            height:auto;
            @media (max-width:769px){
                font-size:24px;
                line-height:32px;
            }
            &:before{

            }
            &:after{

            }
            @media (max-width:769px){

                &:before{

                }
                &:after{

                }
            }
        }
    }
    .informa-image-call-to-action-content-section{
        position:relative;
        .clearfix();
        @media (max-width:769px){
            padding:0px!important;
            margin-bottom:0;
        }

        > .col-md-8{
            padding: 0 30px 0 30px;
            width: 58.3333%;
            height:auto;
            bottom:auto;
			@media (max-width:991px){
                position:static;
                transform:none;
               	padding: 30px;
            }
            @media (max-width:769px){
                position:static;
                transform:none;
                overflow:visible;
                width:100% !important;
                padding:0 !important;
            }

        }
        background:none;
        .informa-image-call-to-action-content-image{
            overflow:visible;
            background:none;
            z-index:0;
            position:relative;
            width: 41.6667% !important;
            position:static;
            transform:none !important;

            @media (max-width:769px){
                position:relative;
                transform:none;
                width:100% !important;
                padding:0 !important;
                margin:0 0 30px;
            }

            img{
                margin:0 !important;
            }

        }
        .callToActionContent{
            margin:0;
            padding:0 0 0 40px;
            @media (max-width:769px){
				padding:0px;
            }

            .informa-image-call-to-action-content-subtitle{
                position:relative;
                .font(26px,36px,bold,@font-secondary,@color-primary);
                @media (max-width:1400px){
					font-size:36px !important;
                    line-height:40px !important;
                }
                text-align:left;
                @media (max-width:769px){
                    font-size:25px !important;
                    line-height:30px !important;
                    &:before{

                    }
                    &:after{

                    }
                }


            }

            h1{
                .h2();
            }
            h2{
                .h3();
            }
            h3{
                .h6();
                color:@color-tertiary !important;
                margin:0 !important;
                background:none !important;
                background-color: transparent !important;
            }
            h1,h2,h3,p{
                color:@color-gray;
                background-color: transparent !important;
                height:auto !important;
                border-bottom:0 !important;
                padding:0 !important;
                font-family:@font-primary;
                margin:0 0 20px;
            }
            p{
                .p;

                span{
                    color:@color-secondary;
                }
            }
            .marginBottomCalltoAct{
                display:none;
            }
        }


        .paddingZero > div{
            text-align:left;
            padding-left:40px;
            @media (max-width:769px){
				padding-left:0px;
            }

        }

        .btn-left-padding{
            width:auto !important;
            display:inline-block;
            margin:auto;
            float:none;
            margin-bottom:0 !important;
            @media (max-width:769px){
                margin-bottom:20px !important;
            }
            a{
                .btn-default();
				line-height:16px;
				.gradient(@color-primary,@color-tertiary);
                .transition(none);

                .HomePageBtn{
                    margin-right: 0 !important;
                    width:100% !important;
                	display:block;
                }
                .event-overview-btn-title{
                    padding-right: 0;
                    text-align:center;
                    .font(21px,21px,bold,@font-primary,@color-white);

                }
                .HomePageBtnArrow{
                    display:none;
                }

                &:hover{
                    // .transition(300ms ease all);
                    background:@color-secondary !important;
                }
            }
            &:nth-child(even){
                a{
                	.gradient(@color-tertiary,@color-quaternary);
                }
            }
        }
    }
}



/* --->>>Home Block -  CTA Image - Title, Desc, Link, Highlight, Button <<<--- */


.home-block {
    .imagecalltoaction {
        .informa-image-call-to-action {
            .informa-image-call-to-action-title {
                padding: 0px;
                h3 {
                    .h3() !important; // override !important declaration
                    background-color: transparent;
                    border-bottom:0;
                    height:auto;
                    padding:0;
                    font-weight:700 !important; // override !important declaration
                    [class*='strip'] & {
                        .h1() !important; // override !important declaration
                        font-weight:700 !important; // override !important declaration
                        margin-top:0 !important; // override !important declaration
                        margin-bottom:50px !important; // override !important declaration
                        text-align:center;
                    }
                     text-align:center;
                }
            }

            .informa-image-call-to-action-content-section{
				> .col-md-8{
                    padding-top: 3%;
                    @media (max-width:768px) {
						padding:10px 20px !important;
                    }

                }
            }
            .contentHeaderImage-container {

                .callToActionContent {
                    padding-top:0;
                    [class*='strip'] & {
                        padding-top:10px;
                    }
                    h4 {
                        .h3() !important; // override !important declaration
                        color:@color-primary !important;
                        font-size: 36px !important;
    					line-height: 42px !important;
                        font-weight:700 !important; // override !important declaration
                        margin-top:0 !important; // override !important declaration
                        @media screen and (max-width: 1400px) and (min-width: 1100px){
                            font-size: 26px !important;
    						line-height: 32px !important;
                        }
                    }
                    p {
                        color: @color-gray-base;
                    }
                }


            }
        }
    }
}




/** From saudiarabia-energy-en  **/
