.top-nav {
	padding-left: 0 !important;
	padding-right: 0 !important;

	.mainNav .navbar-inverse {
		@media (min-width: @breakpoint-desktop) {
			margin-left: 0;
			margin-right: 0;


			.navbar-element > .navbar-nav {
				float: right;


				> li {
					&:hover {
						> ul {
							display: block;
						}
					}


					> a {
						align-items: stretch;
						display: flex;
						flex-direction: column;
						height: @top-nav-height;
						justify-content: center;
						line-height: @top-nav-height;
						overflow: hidden;

						&:hover + ul {
							display: block;
						}


						small {
							height: auto;
							padding: 0;
							vertical-align: middle;
						}
					}
				}

				@media (min-width: @breakpoint-desktop) {
					align-items: center;
					display: flex;
				}
			}
		}
	}
}


.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav {
	> a {
		border: none !important;
		position: relative;

		&::before {
			background-color: @top-nav-border-color;
			content: '';
			height: 0;
			left: 0;
			position: absolute;
			top: 0;
			transition: height @hover-duration;
			width: 100%;
		}
	}


	&.active > a,
	> a:hover {
		&::before {
			height: @top-nav-border-top-width;
		}
	}


	.innerMenuTopnav .menulist-item-element {
		@media (min-width: @breakpoint-desktop) {
			border-left: @top-inner-nav-border-width solid @top-inner-nav-border-color;
			border-right: @top-inner-nav-border-width solid @top-inner-nav-border-color;
			border-top: @top-inner-nav-border-width solid @top-inner-nav-border-color;

			&:last-child {
				border-bottom: @top-inner-nav-border-width solid @top-inner-nav-border-color;
			}
		}


		a {
			border: none !important;
			font-weight: normal;

			@media (min-width: @breakpoint-tablet) {
				padding: ( @global-padding / 4 ) ( @global-padding / 2 ) !important;

				small {
					font-weight: @top-nav-inner-font-weight;
					text-align: left;
				}
			}
		}
	}
}
