/*

File Name: _carousel-heroimage-text-button.less
Description: Carousel - Hero Image, Text, Button component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */
@carousel--btn-bg: @base-color;
@carousel--btn-focus-bg: transparent;
@carousel--btn-txt-color: @white;
@carousel--btn-focus-txt-color: @carousel--btn-txt-color;
@carousel--btn-border-color: @base-color;
@carousel--btn-focus-border-color: @white;
@carousel--title-color: @white;
@carousel--content-txt-color: @carousel--title-color;
@carousel--caption-bg: transparent; //before: rgba(0,0,0,0.1)
@carousel--description-bg: darken(@white,8%);
@carousel--description-txt-color: @black;
@carousel--indicator-color: @base-color;
@carousel--indicator-active-color: @white;

.heroParallax {
    // default
    .carousel {
        margin:0;
        .carousel-indicators {
            li {
                background-color: @carousel--indicator-color;
                &.active {
                    background-color: @carousel--indicator-active-color;
                }
            }
        }
        .carousel-inner {
            min-height:0;
            background:transparent;
            .item {
                img:not([src]), img[src=""], img[src="#"] { // hide img tag if src is empty
                    display:none;
                }
                img {
                    @media (max-width:1024px){
                        object-fit:cover;
                    	height:auto;
                        min-height:300px;
                    }
                }
                .carousel-caption {
                    top:40%;
                    transform: translateY(-40%);
                    bottom:initial;
                    left:0;
                    right:0;
                    padding:15px;
                    margin: 0 auto;
                    width:100% !important;
                    max-width: 1000px;
                    text-align:center;
                    text-shadow:none;
                    background-color: @carousel--caption-bg;
                    .transition(@transition);
                    .container {
                        width:100%;
                        .transition(@transition);
                        h2, h3, h4 {
                            margin:0 0 5px;
                        }
                        h2, h4 {
                            line-height:1;
                        }
                        h3, h4 {
                            font-family: @primary-font;
                            font-weight:400;
                            b, strong {
                                font-weight:700;
                            }
                        }
                        h3 {
                            font-size: @base-font-size + 16; 
                            line-height: @base-font-size + 20;
                            @media (max-width:1024px){
                                font-size: @base-font-size + 6; // 20px
                            }
                        }
                        h4 {
                            font-size: @heading-4;
                        }
                        h2 {
                            font-family: @primary-font;
                            font-size: @base-font-size + 26; // 40px
                            font-weight:900;
                            @media (max-width:1024px){
                                font-size: @base-font-size + 10; // 24px
                            }
                        }
                        h5 {
                            @media (max-width:1024px){
                                font-size: @base-font-size + 2; // 16px
                            }
                        }
                        p {
                            font-size: @base-font-size;
                        }
                        p, p span {
                            color: @carousel--content-txt-color;
                        }
                        h1,h2,h3,h4,h5,h6 {
                            color: @carousel--title-color;
                            span {
                                color: @carousel--title-color;
                                display: block;
                            }
                        }
                    }
                    .carousel-calltoAction {
                        margin:30px 0 20px;
                        a {
                            display:block;
                            button {
                                background-color: @carousel--btn-bg;
                                border:1px solid @carousel--btn-border-color;
                                padding:13px 15px;
                                color: @carousel--btn-txt-color;
                                font-size: @base-font-size;
                                font-weight:700;
                                .transition(@transition);
                                &:focus, &:hover {
                                    background-color: @carousel--btn-focus-bg !important;
                                    border:1px solid @carousel--btn-focus-border-color !important;
                                    color: @carousel--btn-focus-txt-color !important;
                                    .transition(@transition);
                                }
                            }
                            &:focus, &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    .left.carousel-control,
	.right.carousel-control {
        @media (max-width:769px) {
            display:none;
        }
    }
    .sliderdescription {
        background-color: @carousel--description-bg;
        position: static; // move below the carousel
        opacity:1;
        .slider-bottomtext {
            padding: 15px;
            margin: 0 auto;
            width: 100%;
            p {
                color: @carousel--description-txt-color;
                font-family: @primary-font;
                font-size: @base-font-size - 2;
                font-weight: 300;
                line-height: @base-font-size;
                padding:0;
                margin:0 0 15px;
                &:last-child {
                    margin-bottom:0;
                }
            }
        }
    }
}