@carousel--title-color: @black;
@carousel--btn-focus-border-color: @black;
@carousel--btn-focus-txt-color: @carousel--title-color;

.heroParallax {
    .carousel {
        .carousel-inner {
            .item {
                .carousel-caption {
                    top:50%;
                    transform: translateY(-50%);
                    .container {
                        h1,h2,h3,h4,h5,h6,p {
                            color: @carousel--title-color;
                            span {
                                color: @carousel--title-color;
                            }
                        }
                    }
                    .carousel-calltoAction {
                        a {
                            button {
                                &:focus, &:hover {
                                    background-color: @carousel--btn-focus-bg !important;
                                    border:1px solid @carousel--btn-focus-border-color !important;
                                    color: @carousel--btn-focus-txt-color !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}