@primary-color: #890e29;
@secondary-color: #006ed5;
@tertiary-color: #da1e48;
@quaternary-color: #E01A23;

@grey-dark: #333333;
@grey-light: #f9f9f9;
@grey-lightest: #CCCCCC;
@grey: #525A5C;

@white: #ffffff;
@white-dark: #e6e6e6;
