@title-color: @black;
@title-weight: 500;

@text-color: @black;
@text-size: 14px;
@text-weight: 400;

@h1-color: @title-color;
@h1-size: 31px;
@h1-weight: @title-weight;

@h2-color: @title-color;
@h2-size: 26px;
@h2-weight: @title-weight;

@h3-color: @title-color;
@h3-size: 24px;
@h3-weight: @title-weight;

@h4-color: @title-color;
@h4-size: 21px;
@h4-weight: @title-weight;

@h5-color: @title-color;
@h5-size: 20px;
@h5-weight: @title-weight;

@h6-color: @title-color;
@h6-size: 18px;
@h6-weight: @title-weight;

@p-color: @text-color;
@p-size: @text-size;
@p-weight: @text-weight;

@a-color: @tertiary-color;
@a-hover-color: @secondary-dark-color;
@a-size: @text-size;
@a-weight: @title-weight;

@i-color: @text-color;

@bold-color: @title-color;
@bold-size: @text-size;
@bold-weight: bold;

@strong-color: @title-color;
@strong-size: @text-size;
@strong-weight: bold;
