/*

File Name: _column-control.less
Description: Column Control component styles

*/

// add top & bottom spacing
#content_template_wrapper {
    > .column-control.parbase.section {
        &:nth-of-type(1) {
            &:not([class*='strip']) {
                padding: 30px 0;
            }
        }
    }
}