/*

File Name: _header-container.less
Description: Header Container component styles
Dependencies: _variables.less

*/

.headercontainer {
    header {
        .cover {
            &.pull-left {
                .logoImagContainer {
                    margin-top:10px;
                    margin-bottom:10px;
                    a {
                        display:inline-block;
                    }
                    img {}
                }
                .seperator {
                    display:none;
                }
                .right {
                    padding-left:15px;
                }
            }
            &.pull-right {
            }
        }
    }
}

.headerMenuLink {
    .eventRightSection {
        .navbar-nav {
            > li {
                margin:0 !important;
                &:not(:last-child) a {
                    border-right: 0 !important;
                }
                &:not(:first-child) {
                    border-left: 1px solid darken(@white,10%) !important;
                }
                > a {
                    font-family: @primary-font;
                    font-size: @base-font-size;
                    line-height: @base-font-size;
                    padding: 10px 15px !important;
                }
            }
        }
    }
}

.countriesElementList {
    &.dropdown-menu {
        background-color: @gray;
        border:0;
        padding:0;
        margin:0;
        .transition(@transition);
        li {
            padding:0 !important;
            float:none !important;
            display:block;
            a {
                padding: 10px 15px !important;
                color: @white;
                .transition(@transition);
                &:focus, &:hover {
                    background-color: @silver !important;
                    .transition(@transition);
                }
            }
        }
    }
}