/*=For Graphic Highlights - Text, Icon Component Styles */

.graphic-highlights {
    .exhibitionbrands3 {
        .exhibitionbrands {
            .exhibitionbrands1 {
                .img-gallery {
                    background-color:transparent;
                    @media (max-width: 1024px) {
                        background: transparent;
                    }
                }
            }
        }
    }
    .statspanel {
        background-color:transparent;
        @media (max-width: 1024px) {
            background: transparent;
        }
        @media (max-width: 786px) {
            padding-left:20px;
        }
        .stats1 {
            @media (max-width: 1024px) {
                padding-top:10px;
                background-color:transparent !important;
            }
            @media (max-width: 786px) {
                width:100%;
            }
            @media (max-width: 768px) {
                height: auto !important;
            }
            .stats {
                background-color:transparent;
                @media (max-width: 768px) {
                    height: auto !important;
                }
                .statstxt, .statstxt2 {
                    color: @base-color;
                    font-family: @primary-font;
                    font-size: @base-font-size + 24; //40px
                    font-weight: 700;
                    line-height: @base-font-size + 24;
                    padding:0;
                    margin:0;
                }
            }
            .statssubtxt {
                color: @black;
                font-family: @primary-font;
                font-size: @base-font-size + 2;
                font-weight: 500;
                line-height: @base-font-size + 2;
            }
        }
    }
}