.accordion {
	margin-bottom: @accordion-bottom !important;
	margin-top: @accordion-top !important;

	.panel-group {
		.panel {
			.panel-prev {
				a[aria-expanded="true"] {
					.panel-heading {
						background-color: @accordion-panel-heading-background !important;
					}
				}


				.accordion-toggle {
					transition: background-color @hover-duration;

					&:hover,
					&:focus {
						background-color: @accordion-panel-heading-hover-background !important;


						.panel-title {
							span {
								color: @accordion-panel-heading-hover-text-color !important;
								text-decoration: underline;
							}
						}
					}


					.panel-heading {
						background-color: @accordion-panel-heading-background !important;

						&:hover,
						&:focus {
							background-color: @accordion-panel-heading-background !important;


							.panel-title {
								color: @accordion-panel-heading-hover-text-color !important;
								transition: color @hover-duration;


								span {
									color: inherit !important;
								}
							}
						}


						.panel-title {
							color: @accordion-panel-heading-text-color !important;
							transition: color @hover-duration;


							span {
								color: inherit !important;
							}


							.indicator.indicator.accordion-minus,
							.indicator.accordion-plus {
								&::after {
									color: @accordion-icon-color !important;
								}
							}
						}
					}
				}
			}


			.panel-body {
				background-color: @accordion-panel-body !important;
				padding: @accordion-panel-body-padding-top @accordion-panel-body-padding-right @accordion-panel-body-padding-bottom @accordion-panel-body-padding-left;
			}
		}
	}
}
