/* -------------------------------

Anchor Links

------------------------------- */

.anchorLinks .anchorLinkElement {
	background-color: transparent;


	ul {
		li {
			a {
				background-color: @anchor-links-bg;
			}


			&.active {
				a {
					background-color: transparent;
					border-top: 4px solid @primary-color !important;
				}
			}
		}
	}
}
