/* -------------------------------

Breadcrumb

------------------------------- */

// NEWFIX
// Center breadcrumb arrow
.informaBreadcrumb .container nav .informaRegBreadCrumb .breadcrumb-list-element .breadcrumb-list-item .breadCrumbArrow {
	padding-bottom: 5px;
	padding-top: 4px;
}
// ENDFIX

.breadcrumb__container--full-width,
.informaBreadcrumb {
	position: relative;
	// right: @global-padding;
	width: 100%;
	// width: 100vw;
	z-index: 1;


	.container nav .informaRegBreadCrumb {
		margin: 0 !important;
	}
}

.breadcrumb__bar,
.informaBreadcrumb .container nav .informaRegBreadCrumb .breadcrumb-list-element {
	background-color: @breadcrumb-bar-bg;

	@media (min-width: @breakpoint-desktop) {
		width: 970px;
	}
}

.breadcrumb__pages,
.informaBreadcrumb .container nav .informaRegBreadCrumb .breadcrumb-list-element .breadcrumb-list-item a {
	color: @breadcrumb-color !important;
	font-size: @breadcrumb-size !important;
	font-weight: @breadcrumb-weight !important;
}

.breadcrumb__pages--active,
.informaBreadcrumb .container nav ul li span,
.informaBreadcrumb .container nav ul li .travel-breadcrumb {
	color: @breadcrumb-active-color !important;
	font-size: @breadcrumb-size !important;
	font-weight: @breadcrumb-weight !important;
}

.breadcrumb__seperator,
.informaBreadcrumb .container nav .informaRegBreadCrumb .breadcrumb-list-element .breadcrumb-list-item .breadCrumbArrow::before {
	color: @breadcrumb-separator-color !important;
}
