.calendar-component {
	.eventDateContainer {
		.calendarDetails {
			.topNavAddress {
				font-family: @primary-font;
			}

			.calenderIcon {
				margin-right: 5px !important;
			}
		}

		.mapIconHeader {
			> a {
				padding: 0 !important;
			}

			.topNavAddress {
				font-family: @primary-font;
			}


			.mapIcon {
				margin-right: 5px !important;
			}

			@media (min-width: @breakpoint-tablet) {
				.mapIcon {
					margin-top: 5px !important;
				}

				.topNavAddress {
					margin-top: 4px !important;
				}
			}
		}
	}
}

