/* -------------------------------

// TO BE REMOVED
Column Control - legacy

------------------------------- */

.column-control--full-width,
.full-width {
	margin-left: -@global-padding;
	margin-right: -@global-padding;
	padding-left: @global-padding;
	padding-right: @global-padding;
	//left: -(@global-padding);
	//overflow: hidden;
	//position: relative;
	//width: 100%; // fallback
	//width: 100vw;
}

.column-control__column,
.column-control .container-fluid .row .column {
	// padding-right: 15px;
	// padding-left: 15px;
}

.column-control--centered {
	text-align: center;
}
