/* -------------------------------

Countdown

------------------------------- */

.countdown {
	background-color: transparent;


	.eventCountdownEvent {
		background-color: transparent;
		color: @countdown-color;
		font-size: @countdown-size !important;
		font-weight: @countdown-weight;
		padding: 0;
		text-align: center;
		text-transform: uppercase;

		&::after {
			content: none;
		}


		.countDisplay {
			align-items: center;
			background-color: @countdown-bg-color;
			color: @countdown-numbers-color;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			font-size: @countdown-numbers-size !important;
			font-weight: @countdown-numbers-weight;
			justify-content: center;

			@media (min-width: @breakpoint-tablet) {
				font-size: (@countdown-numbers-size * @golden-ratio) !important;
			}


			span {
				background-color: transparent !important;
				color: inherit !important;
				display: inline-block;
				flex: 0 0 auto;
				font-size: inherit !important;
				font-weight: inherit !important;
				margin: 0 !important;
				padding: 0 !important;
				width: auto;

				&::after {
					content: ':';
				}


				&:last-child {
					&::after {
						content: none;
					}
				}
			}
		}
	}
}
