/*
File Name: Adobe-template >> Base >>>  _cta-title-desc-link.less
Description: CTA - Title, Desc, Link component styles
*/

.contactUs {
	.visitors-contact-content {
		.boxes {
			.box {
				background-color: @cta-title-desc-link--content-bg;


				h1 {
					background-color: @cta-title-desc-link--title-bg;
					color: @cta-title-desc-link--title-color;

					&::after {
						color: @cta-title-desc-link--title-color;
						content: @cta-title-desc-link--title-icon;
						position: absolute;
					}
				}


				h4 {
					color: @cta-title-desc-link--title4-color;

					&::after {
						background-color: @cta-title-desc-link--title4-color;
					}
				}


				h6 {
					color: @cta-title-desc-link--title6-color;
				}


				a {
					color: @cta-title-desc-link--link-color !important;

					&:hover,
					&:focus {
						color: @cta-title-desc-link--link-focus-color !important;
					}
				}
			}
		}
	}
}
