/*
File Name: Adobe-template >> Base >> _cta-image-title-desc-link.less
*/

.contentHighlight.section {
	.component1 {
		.heading {
			background-color: @cta-img-title-desc-link--bg;


			img {
				background-color: @cta-img-title-desc-link--img-bg;
			}


			h3 {
				background-color: @cta-img-title-desc-link--title-bg;
				color: @cta-img-title-desc-link--title-color;
			}


			.callToActionPara {
				background-color: @cta-img-title-desc-link--content-bg;


				p {
					background-color: transparent;
					color: @cta-img-title-desc-link--content-txt-color;


					a {
						background-color: transparent !important;
						color: @cta-img-title-desc-link--a-color !important;

						&:focus,
						&:hover {
							color: @a-hover-color !important;
						}
					}
				}
			}
		}
	}
}
