.eventlocation {
	.eventLocationMap {
		> div > div > div,
		.travel-event-venue,
		.event-informa,
		.map-panel {
			background-color: transparent;
			margin: 0 0 @p-margin-bottom 0 !important;
			padding: 0;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}


		.map-panel {
			min-height: 180px;
		}
	}
}
