.footercontainer {
	// Full Width Container
	margin-left: -@global-padding;
	margin-right: -@global-padding;
	padding-left: @global-padding;
	padding-right: @global-padding;


	footer {
		margin-left: -@global-padding;
		margin-right: -@global-padding;
	}


	.aboutInfo {
		margin-bottom: 0;
		width: auto;
	}
}
