/* -------------------------------

Form

------------------------------- */

// FIX
// Inherit colors and reset margins
.container-form .container-fluid .form-container,
.container-form .container-fluid .form-container .form-title-container .custom-form-row {
	background-color: initial;
	margin: 0 !important;
}

.container-form .container-fluid .form-container .forms-title {
	margin: 0 !important;
}

.container-form .form-container .custom-form-row .form-horizontal form .section .input-div input,
.container-form .form-container .custom-form-row .form-horizontal form .section .input-div select {
	height: auto !important;
	padding: 10px !important;
	width: inherit;
}

.container-form .form-container .custom-form-row .form-horizontal form .section .input-div select {
	background-position: 99% !important;
	background-size: 10px !important;
}

.container-form .form-container .custom-form-row .form-horizontal form .subscriptions .form-group .preference-levle-checkBox-component {
	width: 100%;
}

// ENDFIX

.form--full-width,
.container-form .container-fluid {
	margin: 0;
	padding: 0;
}

.form--full-width,
.form--full-width-column {
	padding: 0;
}

.container-form .container-fluid .form-container {
	max-width: @form-max-width;


	.subscription_privacy_statement {
		font-family: @form-text-font;
		margin-left: 0;

		a {
			font-family: inherit;
		}
	}
}

.form--default,
.container-form .container-fluid .form-container .form-title-container {
	background-color: @form-bg-color;
	border: @form-border-thickness @form-border-style @form-border-color;
	padding: 0 !important;
}

.form__title,
.container-form .container-fluid .form-container .forms-title {
	background-color: @form-title-bg;
	color: @form-title-color;
	font-family: @form-title-font;
	font-size: @form-title-font-size;
	font-weight: @form-title-font-weight;
}

.form__title-divider,
.container-form .container-fluid .form-container .forms-title {
	border-bottom-color: @form-title-divider-color;
	padding: 0;
}

.form__container,
.container-form .form-container .custom-form-row .form-horizontal form {
	padding: 0 !important;
}

.container-form .form-container .custom-form-row .form-horizontal form label {
	padding-left: @global-padding;
}

.form__label,
.container-form .form-container .custom-form-row .form-horizontal form label,
.container-form .form-container .custom-form-row .form-horizontal form .form-group span {
	color: @form-label-color !important;
	font-family: @form-label-font;
	font-size: @form-label-font-size;
	font-weight: @form-label-font-weight;
}

.form__subscription-label,
.container-form .form-container .custom-form-row .form-horizontal form .form-group span {
	font-weight: @p-weight;
}

.form__input,
.container-form .form-container .custom-form-row .form-horizontal form .section .input-div {
	width: 100%;
}

.form__checkbox,
.container-form .form-container .custom-form-row .form-horizontal form .subscriptions .form-group .preference-levle-checkBox-component {
	width: 100%;
}


.container-form .form-container .form-horizontal .form-group {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: 0;
	margin-right: 0;

	@media (min-width: @breakpoint-desktop) {
		align-items: center;
		flex-direction: row;
	}


	> div {
		&:empty,
		&blank {
			display: none;
		}
	}
}

.form__submit-container,
.container-form .form-container .custom-submit-btn-div,
.InformaBookStandForm .col-md-9.col-sm-9.col-xs-11.col-lg-9.custom-submit-btn-div {
	margin: 0 auto;
	width: 100% !important;


	> div {
		float: left;


		> input {
			margin: 0 !important;
		}
	}
}

.form__submit,
.informa-form .submit .form-group .custom-submit-btn-div .submit-btn {
	background-color: @form-submit-bg;
	border-color: @form-submit-border-color !important;
	border-radius: @quicklink-border-radius;
	color: @form-submit-color !important;
	float: left;
	font-family: @form-submit-font !important;
	font-size: @form-submit-font-size !important;
	font-weight: @form-submit-font-weight;
	height: auto !important;
	max-width: 100%;
	padding: @quicklink-padding-ver @quicklink-padding-hor !important;
	transition: background-color @hover-duration;
	width: auto;

	&:hover {
		background-color: @form-submit-bg-hover;
	}
}

.form__reset,
.informa-form .submit .form-group .custom-submit-btn-div .reset-btn {
	background-color: @form-reset-bg;
	border-color: @form-reset-border-color !important;
	color: @form-reset-color !important;
	font-family: @form-reset-font !important;
	font-size: @form-reset-font-size !important;
	font-weight: @form-reset-font-weight;
	height: auto !important;
	max-width: 100%;
	padding: @quicklink-padding-ver @quicklink-padding-hor !important;
	transition: background-color @hover-duration;
	width: auto;

	&:hover {
		background-color: @form-reset-bg-hover;
	}
}

.InformaBookStandForm,
.InformaBookStandForm > div {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

.InformaBookStandForm .custom-tool-tip {
	right: 7%;
	top: 10px;

	@media (max-width: @breakpoint-desktop) {
		right: -7%;
	}
}

.InformaBookStandForm .form-group.subscription-form-group {
	padding-left: 0 !important;
}

.InformaBookStandForm fieldset.custom-checkbox-fieldset.custom-subscription-fieldset .checkbox label {
	width: 100% !important;
}

// TO BE CHECKED
.registration-form-one,
.registration-form-two {
	margin-top: @global-padding;

	&:first-child {
		margin-top: 0;
	}
}

.form-container span.formSessionContainer {
	background-color: transparent !important;
	padding-left: 0;
	padding-top: 0;
}

.form-container {
	.custom-checkbox-fieldset,
	.custom-fieldset {
		width: 100% !important;
	}

	.custom-checkbox-fieldset .options-set .checkbox.formSessionContainer-topMargin.interest-level-checkBox.form-session-container {
		width: 100% !important;
	}
}
