.graphic-highlights {
	background-color: @graphic-highlights-bg;
	margin-left: -@global-padding;
	margin-right: -@global-padding;
	padding-bottom: @component-padding-ver-default / 2;
	padding-top: @component-padding-ver-default / 2;

	@media (min-width: @breakpoint-phablet) {
		padding-bottom: @component-padding-ver-phablet / 2;
		padding-top: @component-padding-ver-phablet / 2;
	}

	@media (min-width: @breakpoint-tablet) {
		padding-bottom: @component-padding-ver-tablet / 2;
		padding-top: @component-padding-ver-tablet / 2;
	}

	@media (min-width: @breakpoint-desktop) {
		padding-bottom: @component-padding-ver-desktop / 2;
		padding-top: @component-padding-ver-desktop / 2;
	}

	@media (min-width: @breakpoint-desktop-large) {
		padding-bottom: @component-padding-ver-desktop-large / 2;
		padding-top: @component-padding-ver-desktop-large / 2;
	}


	.stats-slider-element {
		margin: 0 auto;
		width: @component-width-default;

		@media (min-width: @breakpoint-tablet) {
			width: @component-width-tablet;
		}

		@media (min-width: @breakpoint-desktop) {
			width: @component-width-desktop;
		}

		@media (min-width: @breakpoint-desktop-large) {
			width: @component-width-desktop-large;
		}
	}


	.statspanel .stats1 {
		margin: 0;


		.stats {
			height: auto !important;
			padding: 0;


			.statstxt,
			.statstxt2,
			.statssubtxt {
				color: @graphic-highlights-color !important;
			}
		}
	}


	.thumbnail {
		background-color: @transparent;
		margin: 0;
		padding: 0;
	}
}
