/* -------------------------------

Header Links

------------------------------- */

// FIX
// Fix header-links from going off the page
.header-links .row {
	margin-left: 0;
	margin-right: auto;
}

.header-links .eventRightsection .dropdown a {
	&,
	a:hover,
	a:visited {
		background-color: inherit !important;
		color: inherit !important;
	}
}
// ENDFIX

// @header-links-dropdown-bg : red;

.header-links__row,
.header-links .eventRightsection {
	margin-left: -30px;
	text-align: center;
}

.header-links .eventRightsection .dropdown {
	background-color: @header-links-dropdown-bg;
	color: @header-links-dropdown-color !important;
}

.header-links__dropdown--hover,
.header-links .eventRightsection .dropdown:visited {
	//background-color: @header-links-dropdown-hover-bg !important;
	//color: @header-links-dropdown-hover-color !important;
}

.header-links__items,
.header-links .eventRightsection .dropdown ul {
	//background-color: @header-links-item-bg;
	//color: @header-links-item-color !important;
	width: 100%;
}

.header-links__item--hover,
.header-links .eventRightsection .dropdown ul a:hover {
	//background-color: @header-links-item-hover-bg;
	//color: @header-links-item-hover-color !important;
}

.header-links--no-bullet-points,
.header-links .row .eventRightSection .row .navbar-nav .dropdown .dropdown-toggle .dropdown-caret {
	display: none;
}
