.heroParallax {
	&:first-child {
		margin-top: 0;
	}


	.row {
		padding: 0;
	}


	.carousel .carousel-inner {
		.item .carousel-caption .container {
			font-family: @hero-parallax-font;
		}


		.carousel-caption,
		.item .carousel-caption .carousel-calltoAction {
			a {
				outline: none;
			}


			.btn,
			a button,
			button {
				background-color: @quicklink-bg !important;
				border: @quicklink-border-thickness @quicklink-border-style @quicklink-border-color !important;
				border-radius: @quicklink-border-radius;
				color: @quicklink-color !important;
				font-family: @quicklink-font;
				font-size: @quicklink-size;
				font-weight: @quicklink-weight;
				outline: none;
				padding: @quicklink-padding-ver @quicklink-padding-hor;
				transition: background-color @hover-duration, border-color @hover-duration, color @hover-duration;

				&:focus,
				&:hover {
					background-color: @quicklink-hover-bg !important;
					border-color: @quicklink-hover-border-color !important;
					color: @quicklink-hover-color !important;
				}
			}


			.container {
				color: @hero-parallax-color !important;
				font-size: @h1-size !important;


				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				strong,
				p {
					color: @hero-parallax-color !important;
					font-family: @title-bar-main-font !important;
				}


				h1 {
					font-size: @h1-size !important;
					font-weight: @h1-weight !important;
				}

				h2 {
					font-size: @h2-size !important;
					font-weight: @h2-weight !important;
				}

				h3 {
					font-size: @h3-size !important;
					font-weight: @h3-weight !important;
				}

				h4 {
					font-size: @h4-size !important;
					font-weight: @h4-weight !important;
				}
			}
		}


		.item {
			max-height: @image-cta-height-default;

			@media (min-width: @breakpoint-desktop) {
				max-height: @image-cta-height-desktop;
			}
		}
	}
}
