/* -------------------------------

Hero Parallax Text

------------------------------- */

.heroParallaxText {
	.carousel {
		&::before {
			color: @p-color;
			font-family: @primary-font;
			font-size: @p-size;

			@media (max-width: @breakpoint-tablet) {
				font-size: 40px;
			}
		}

		&::after {
			color: @p-color;
			font-family: @primary-font;
			font-size: @p-size;

			@media (max-width: @breakpoint-tablet) {
				font-size: @p-size;
			}
		}
	}


	.carousel-inner .item p {
		color: @p-color;
	}
}
