// -------------------------------
//
// Image - Call to Action
//
// -------------------------------

.imagecalltoaction {
	position: relative;


	.row {
		margin: 0;
		overflow: hidden;


		.Default {
			padding: 0;
		}
	}


	h3,
	h4,
	p {
		background-color: transparent;
		border: none;
		height: auto;
		padding-left: 0;
		padding-right: 0;


		> * {
			color: inherit;
			font-size: inherit;
		}
	}


	.informa-image-call-to-action {
		position: relative;

		&::after {
			clear: both;
			content: '';
			display: table;
		}


		> div {
			position: static;
		}


		.btn-left-padding:last-child {
			margin-bottom: 0 !important;
			padding: 0;
		}
	}


	.callToActionContent,
	.paddingZero {
		&:empty,
		&:blank {
			display: none;
		}
	}


	&.parbase .informa-image-call-to-action .informa-image-call-to-action-content-section {
		padding-bottom: @image-cta-padding-ver-default !important;

		@media (min-width: @breakpoint-phablet) {
			padding-bottom: @image-cta-padding-ver-phablet !important;
		}

		@media (min-width: @breakpoint-tablet) {
			padding-bottom: @image-cta-padding-ver-tablet !important;
		}

		@media (min-width: @breakpoint-desktop) {
			padding-bottom: @image-cta-padding-ver-desktop !important;
		}

		@media (min-width: @breakpoint-desktop-large) {
			padding-bottom: @image-cta-padding-ver-desktop-large !important;
		}


		> div:last-of-type {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: @image-cta-min-height;
		}


		.informa-image-call-to-action-content-image {
			padding: 0 !important;
			pointer-events: none;
			user-select: none;
		}


		.btn-left-padding .btn-custom {
			background-color: @image-cta-bg-color;
			border: @image-cta-border-thickness @image-cta-border-style @image-cta-border-color;
			border-radius: @quicklink-border-radius;
			display: inline-block;
			font-family: @quicklink-font;
			font-size: @a-size !important;
			padding: @quicklink-padding-ver @quicklink-padding-hor !important;
			transition: background-color @hover-duration, color @hover-duration, border @hover-duration;
			width: auto !important;

			@media (min-width: @breakpoint-tablet) {
				max-width: 100%;
				min-width: @image-cta-button-min-width;
			}

			&:hover,
			&:focus,
			&:active {
				background-color: @image-cta-hover-bg-color;
				border: @image-cta-border-thickness @image-cta-border-style @image-cta-hover-border-color;
				color: @image-cta-hover-color;
			}


			.HomePageBtn .event-overview-btn-title,
			.event-overview-btn-title,
			h4 {
				color: @image-cta-hover-color !important;
				font-family: @quicklink-font;
				font-size: @image-cta-button-font-size !important;
				font-weight: @image-cta-button-font-weight !important;
				padding: 0 !important;
				transition: background-color @hover-duration, color @hover-duration, border @hover-duration;
			}
		}
	}


	.informa-image-call-to-action .informa-image-call-to-action-title {
		margin: 0;
		padding-top: @image-cta-padding-ver-default !important;
		position: relative;
		z-index: 1;

		@media (min-width: @breakpoint-phablet) {
			padding-top: @image-cta-padding-ver-phablet !important;
		}

		@media (min-width: @breakpoint-tablet) {
			padding-top: @image-cta-padding-ver-tablet !important;
		}

		@media (min-width: @breakpoint-desktop) {
			padding-top: @image-cta-padding-ver-desktop !important;
		}

		@media (min-width: @breakpoint-desktop-large) {
			padding-top: @image-cta-padding-ver-desktop-large !important;
		}


		h3 {
			padding-bottom: 0 !important;
			padding-top: 0 !important;
			width: 100%;
		}
	}


	.btn-left-padding {
		float: none;
		margin: 0 auto;
		padding: 0;
	}
}


// NEWFIX
// Remove inbetween component padding
.imagecalltoaction.parbase {
	background-color: @image-cta-bg;
	margin: 0;
}

// Image should inherit container's size
.imagecalltoaction .informa-image-call-to-action-content-section .informa-image-call-to-action-content-image .img-responsive {
	// height: inherit !important;
	// width: inherit !important;
}
// ENDFIX

.image-call-to-action__content--centered,
.imagecalltoaction .informa-image-call-to-action-title,
.imagecalltoaction .informa-image-call-to-action div:last-of-type {
	// text-align: center;
	// width: 100% !important;
}

.image-call-to-action__title,
.imagecalltoaction h3,
.imagecalltoaction.parbase .informa-image-call-to-action .informa-image-call-to-action-title h3 {
	background-color: @image-cta-title-bg-color;
	color: @image-cta-default-color;
	font-family: @image-cta-font-family;
	font-size: @image-cta-title-font-size;
	line-height: @image-cta-title-line-height;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;

	@media (min-width: @breakpoint-tablet) {
		color: @image-cta-title-color;
		max-width: @image-cta-content-max-width;
	}
}

.image-call-to-action__subtitle,
.imagecalltoaction.parbase .informa-image-call-to-action .informa-image-call-to-action-content-section .callToActionContent {
	h1,
	h2 {
		color: @image-cta-default-color!important;

		@media (min-width: @breakpoint-tablet) {
			color: @image-cta-title-color;
		}
	}


	// h4,
	// .informa-image-call-to-action-content-subtitle {
	// 	color: @image-cta-default-color;
	// 	font-family: @image-cta-font-family;
	// 	font-size: @image-cta-subtitle-font-size !important;
	// 	font-weight: @image-cta-subtitle-font-weight !important;
	// 	line-height: @image-cta-subtitle-line-height;
	// 	margin-left: auto;
	// 	margin-right: auto;
	//
	// 	@media (min-width: @breakpoint-tablet) {
	// 		color: @image-cta-subtitle-color;
	// 		max-width: @image-cta-content-max-width;
	// 	}
	// }


	p {
		color: @image-cta-default-color;
		font-family: @image-cta-font-family;
		font-size: @image-cta-text-font-size !important;
		font-weight: @image-cta-text-font-weight !important;
		line-height: @image-cta-text-line-height;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: @breakpoint-tablet) {
			color: @image-cta-text-color;
			max-width: @image-cta-content-max-width;
		}
	}
}


@image-cta-image-height: 101%;
@image-cta-image-width: 101%;

.image-call-to-action__background-image,
.imagecalltoaction .informa-image-call-to-action-content-section .informa-image-call-to-action-content-image {
	height: @image-cta-image-height;
	// left: (@image-cta-image-width / 2);
	position: absolute;
	// top: (@image-cta-image-height / 2);
	transform: translate(-(@image-cta-image-width / 2), -(@image-cta-image-height / 2));
	width: @image-cta-image-width;


	img {
		object-fit: cover;
	}
}

.image-call-to-action__icon,
.imagecalltoaction .informa-image-call-to-action-title h3::after {
	display: none;
}

.contentHeaderImage-container.imageCalltoaction-main {
	margin-bottom: 0;
}
