/* -------------------------------

Image Component

------------------------------- */

// .image--centered,
.image div {
	display: inline-block;
	height: auto;
	width: 100%;


	a {
		display: inline-block;
		height: auto;
		width: 100%;


		img,
		.cq-dd-image {
			color: @text-color;
			display: inline-block;
			height: auto !important;
			margin-left: auto !important;
			margin-right: auto !important;
			max-width: 100%;
			width: auto !important;
		}
	}
}
