/* -------------------------------

Lineseparator

------------------------------- */

.line-separator--default,
.lineseparator hr {
	border-color: @lineseparator-color;
	border-width: @lineseparator-thickness;
	margin: 0;
	max-width: @lineseparator-max-width;
	width: 100%;
}
