/* -------------------------------

Linklist

------------------------------- */

.link-list--no-bullet-points,
.linklist .row .informa-link-list-items .informa-link-list-item::before {
	display: none;
}


.link-list__bar,
.linklist .row ul {
	display: block;
	margin: 0;
	padding: 0;
	width: fit-content;
}


.link-list__element,
.linklist .row ul li {
	color: @link-list-color !important;
	display: inline-block;
	font-family: @link-list-font-family;
	font-size: @link-list-font-size;
	font-weight: @link-list-font-weight;
	line-height: @link-list-line-height;
	margin: 0;
	padding: 0;
	width: fit-content;
}


.link-list__seperator,
.linklist .row ul li a .separator {
	color: @link-list-color !important;
	display: inline-block;
	margin-right: -5px;
}
