.text {
	p {
		b,
		strong {
			.bg-grey & {
				color: inherit !important;
			}
		}
	}


	ul,
	ol {
		font-size: inherit;
		list-style-type: none;
		padding-left: 0.5em;


		li {
			color: @list-text-color !important;
			font-size: @list-text-size;
			font-weight: @list-text-weight;
			list-style-type: none;

			&::before {
				color: @list-bullet-color;
				content: "\2022";
				display: inline-block;
				font-size: 1.5em;
				line-height: 1;
				margin: 0 0.25em 0 0;
				vertical-align: sub;

				.bg-grey & {
					color: @list-bullet-color-clear;
				}

				.text-white &,
				.text__color--white & {
					color: @white;
				}
			}

			&:last-child {
				padding-bottom: 0 !important;
			}


			a {
				color: @list-link-color !important;
				font-size: @list-link-size !important;
				font-weight: @list-link-weight !important;

				.bg-grey & {
					color: @list-link-color-clear;
				}
			}
		}
	}
}
