/* -------------------------------

Quicklinks

------------------------------- */

// NEWFIX
.quicklink {
	@media (max-width: @breakpoint-phablet) {
		width: 100%;
	}
}

// Inherit styling from a single div
.quicklink .highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom {
	transition: none;

	.event-overview-btn-text-padding,
	.event-overview-btn-text-padding .highlgt-btn-title,
	&:hover .event-overview-btn-text-padding,
	&:hover .event-overview-btn-text-padding .highlgt-btn-title {
		color: inherit !important;
		display: inline;
		font-family: inherit !important;
		font-size: inherit !important;
		font-weight: inherit !important;
		transition: none;
	}
}

.hightxt_btn {
	> .event-overview-btn-text-padding {
		float: none;
		margin-left: auto;
		margin-right: auto;


		.highlgt-btn-title {
			color: inherit !important;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			text-align: center;
			white-space: nowrap;
			width: 100%;

			&.text-left {
				text-align: left;
			}

			&.text-right {
				text-align: right;
			}
		}
	}

	.highlgt-btn-icon-padding {
		display: none;
	}
}
// ENDFIX


.hightxt_btn,
.quicklink .highlightText .content-faq1 .event-overview-btn .hightxt_btn {
	text-align: center;
}


.quicklink--default,
.hightxt_btn > .event-overview-btn-text-padding,
.quicklink .highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom {
	background-color: @quicklink-bg !important;
	border: @quicklink-border-thickness @quicklink-border-style @quicklink-border-color !important;
	border-radius: @quicklink-border-radius;
	color: @quicklink-color !important;
	display: inline-block !important;
	font-family: @quicklink-font;
	font-size: @quicklink-size !important;
	font-weight: @quicklink-weight !important;
	padding: @quicklink-padding-ver @quicklink-padding-hor !important;
	width: auto;

	.bg-primary & {
		background-color: @white !important;
		color: @primary-color !important;

		&:hover,
		&:focus {
			background-color: @quicklink-bg !important;
			color: @quicklink-color !important;
		}
	}

	.bg-secondary & {
		background-color: @white !important;
		color: @secondary-color !important;

		&:hover,
		&:focus {
			background-color: @quicklink-bg !important;
			color: @quicklink-color !important;
		}
	}

	.bg-tertiary & {
		background-color: @white !important;
		color: @tertiary-color !important;

		&:hover,
		&:focus {
			background-color: @quicklink-bg !important;
			color: @quicklink-color !important;
		}
	}
}


.quicklink--hover,
.quicklink .highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom:hover {
	background-color: @quicklink-hover-bg !important;
	border: @quicklink-border-thickness @quicklink-border-style @quicklink-hover-border-color !important;
	border-radius: @quicklink-border-radius;
	color: @quicklink-hover-color !important;
	font-size: @quicklink-size !important;
	font-weight: @quicklink-weight !important;
	padding: @quicklink-padding-ver @quicklink-padding-hor !important;
}


.quicklink--focus,
.quicklink .highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom:focus {
	background-color: @quicklink-hover-bg !important;
	border: @quicklink-border-thickness @quicklink-border-style @quicklink-hover-border-color !important;
	border-radius: @quicklink-border-radius;
	color: @quicklink-hover-color !important;
	font-size: @quicklink-size !important;
	font-weight: @quicklink-weight !important;
	padding: @quicklink-padding-ver @quicklink-padding-hor !important;
}

.column-control .column:not(:last-of-type) {
	@media (max-width: @breakpoint-phablet) {
		.quicklink {
			margin-bottom: 10px !important;
		}
	}
}

/* quicklink text capitalization fix */
.quicklink.parbase.section {
	.highlgt-btn-title {
		text-transform: @quicklink-text-transform !important;
	}
}
