/* -------------------------------

Scrolltop

------------------------------- */

.scrolltop {
	z-index: 1000000;
}

.scroll-top--default,
.scrolltop .scroll {
	background-color: @scroll-top-bg;

	&:hover,
	&:focus {
		background-color: @scroll-top-hover-bg;
	}
}

.scroll-top--translucent {
	filter: alpha(opacity=50); /* For IE8 and earlier */
	opacity: 0.5;
}

.scroll-top__arrow,
.scrolltop .scroll::before {
	color: @scroll-top-arrow;
}

