/* -------------------------------

Social Links

------------------------------- */

// FIX
// container 0 height float issue
.sociallinks,
.socialIcon {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}
//

// TO BE CHECKED
// legacy?
// .social-links--default,
// .sociallinks .socialIcon ul li a i {
// 	background: @social-links-bg;
// 	color: @social-links-color;

// 	&.youtubeIcon {
// 		background: @social-links-youtube-bg;

// 		&::after {
// 			content: "\f167";
// 		}
// 	}

// 	&.linkedinIcon {
// 		background: @social-links-linkedin-bg;

// 		&::after {
// 			content: "\f0e1";
// 		}
// 	}

// 	&.twitterIcon {
// 		background: @social-links-twitter-bg;

// 		&::after {
// 			content: "\f099";
// 		}
// 	}

// 	&.facebookIcon {
// 		background: @social-links-facebook-bg;

// 		&::after {
// 			content: "\f09a";
// 		}
// 	}

// 	&.instagramIcon {
// 		background: @social-links-instagram-bg;

// 		&::after {
// 			content: "\f16d";
// 		}
// 	}

// 	&.pinterestIcon {
// 		background: @social-links-pinterest-bg;

// 		&::after {
// 			content: "\f0d5";
// 		}
// 	}
// }
