.tab-panel {
	.informa-tab-panel {
		.informa-tab-panel-tabs {
			> li {
				&.active {
					&::after {
						color: @tab-horizontal--icon-color;
					}


					a {
						background-color: @tab-horizontal--panel-focus-bg !important;
						border-left: @tab-horizontal--panel-border-thickness solid @tab-horizontal--panel-border-color !important;
						border-right: @tab-horizontal--panel-border-thickness solid @tab-horizontal--panel-border-color !important;
						color: @tab-horizontal--panel-focus-txt-color;

						&:visited,
						&:active,
						&:focus {
							background-color: @tab-horizontal--panel-focus-bg !important;
						}


						span {
							color: @tab-horizontal--panel-focus-txt-color;
						}
					}
				}


				a {
					background-color: @tab-horizontal--panel-bg !important;
					border-color: @tab-horizontal--panel-border-color;
					color: @tab-horizontal--panel-txt-color;

					&:hover {
						background-color: @tab-horizontal--panel-focus-bg !important;
						color: @tab-horizontal--panel-focus-txt-color;


						span {
							color: @tab-horizontal--panel-focus-txt-color;
						}
					}


					span {
						color: @tab-horizontal--panel-txt-color;
					}
				}
			}
		}

		.panel-group {
			@media (max-width: @breakpoint-tablet) {
				.panel {
					.panel-heading {
						background-color: @tab-horizontal--panel-focus-bg !important;
						border: @tab-horizontal--panel-border-thickness solid @tab-horizontal--panel-focus-bg;

						&:focus,
						&:hover {
							background-color: @tab-horizontal--panel-bg !important;
						}


						.panel-title {
							> a {
								&:hover,
								&:focus {
									span {
										color: @tab-horizontal--panel-txt-color;
									}
								}


								span {
									color: @tab-horizontal--panel-focus-txt-color;
								}
							}
						}
					}
				}
			}
		}
	}
}
