/* = For Text Highlight - Image, Title, Desc, Quote Component */

.leadingText {
	/* Variation 1 */
	.text2 {
		background-color: text-highlight-image-title-desc-quote--bg !important;
	}

	/* Variation 2 */
	.informa-leading-text,
	.leading-panel {
		background-color: text-highlight-image-title-desc-quote--bg !important;
	}

	/* Variation 3 */
	.informa-leading-text-variation-three,
	.leading-testimonial {
		background-color: text-highlight-image-title-desc-quote--bg !important;
	}
}
