/* -------------------------------

Text

------------------------------- */

// NEWFIX
.text {
	// override font from adobe-sandbox
	p,
	p *,
	ul,
	ol,
	li,
	li *,
	small,
	span,
	a,
	strong,
	i,
	div,
	div *,
	b {
		color: @text-p-color !important;
		font-family: @primary-font;
		line-height: @text-line-height;
	}
}
// ENDFIX


.text--default,
.text {
	color: @text-p-color !important;
	font-family: @primary-font;
	font-size: @text-size;
	font-weight: @text-weight;

	.text__h1;
	.text__h2;
	.text__h3;
	.text__h4;
	.text__h5;
	.text__h6;
	.text__p;
	.text__a;
	.text__i;
	.text__b;
	.text__strong;
}


.text--centered {
	text-align: center;
}


.text__h1 {
	h1,
	h1 i,
	h1 a,
	h1 b,
	h1 strong,
	h1 * li {
		color: @text-h1-color !important;
		font-size: @text-h1-size !important;
		font-weight: @text-h1-weight !important;
		line-height: @h1-line-height !important;
	}
}


.text__h2 {
	h2,
	h2 i,
	h2 b,
	h2 strong,
	h2 a,
	h2 * li {
		color: @text-h2-color !important;
		font-size: @text-h2-size !important;
		font-weight: @text-h2-weight !important;
		line-height: @h2-line-height !important;
	}
}


.text__h3 {
	h3,
	h3 i,
	h3 b,
	h3 strong,
	h3 a,
	h3 * li {
		color: @text-h3-color !important;
		font-size: @text-h3-size !important;
		font-weight: @text-h3-weight !important;
		line-height: @h3-line-height !important;
	}
}


.text__h4 {
	h4,
	h4 i,
	h4 b,
	h4 strong,
	h4 a,
	h4 * li {
		color: @text-h4-color !important;
		font-size: @text-h4-size !important;
		font-weight: @text-h4-weight !important;
	}
}


.text__h5 {
	h5,
	h5 i,
	h5 a,
	h5 b,
	h5 strong,
	h5 * li {
		color: @text-h5-color !important;
		font-size: @text-h5-size !important;
		font-weight: @text-h5-weight !important;
	}
}


.text__h6 {
	h6,
	h6 i,
	h6 a,
	h6 b,
	h6 strong,
	h6 * li {
		color: @text-h6-color !important;
		font-size: @text-h6-size !important;
		font-weight: @text-h6-weight !important;
	}
}


.text__p {
	p,
	p i,
	p b,
	p strong,
	p a,
	p > span,
	p * li {
		color: #000000 !important;
		font-size: @text-p-size !important;
		font-weight: @text-p-weight !important;
		line-height: @p-line-height;
	}


	p {
		margin: 0 0 @p-margin-bottom 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}


.text__a {
	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a,
	p a {
		color: @text-a-color !important;
		font-size: inherit !important;
		font-weight: @text-a-weight !important;
	}
}


.text__i {
	h1 i,
	h2 i,
	h3 i,
	h4 i,
	h5 i,
	h6 i,
	p i {
		color: @text-i-color !important;
		font-size: inherit !important;
		font-weight: @text-a-weight !important;
	}
}


.text__b {
	h1 b,
	h2 b,
	h3 b,
	h4 b,
	h5 b,
	h6 b,
	p b {
		color: #000000 !important;
		font-size: inherit !important;
		font-weight: @text-bold-weight !important;
	}
}


.text__strong {
	h1 strong,
	h2 strong,
	h3 strong,
	h4 strong,
	h5 strong,
	h6 strong,
	p strong {
		color: #000000 !important;
		font-size: inherit !important;
		font-weight: @text-strong-weight !important;
	}
}

.no-padding-top {
	.text {
		padding-top: 0 !important;
	}
}
