/* -------------------------------

Title Bar

------------------------------- */

// NEWFIX
// remove bar at the bottom of titles
.titleBar .content-title,
.titleBar .content-highlight-title-anchor {
	line-height: @text-line-height !important;
	padding-bottom: 0;
	position: relative;

	&::after {
		background-color: @title-bar-separator-color !important;
		bottom: auto;
		content: @title-bar-separator-content;
		height: @title-bar-separator-thickness;
		left: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: @title-bar-separator-margin-top;
		position: relative;
		right: auto;
		top: auto;
		transform: none;
	}

	&:first-child {
		margin-top: 0;
	}
}
// ENDFIX


// main
.title-bar__main-heading,
.titleBar .informa-title-bar {
	color: @title-bar-main-color !important;
	font-family: @title-bar-main-font !important;
	font-size: @title-bar-main-size !important;
	font-weight: @title-bar-main-weight !important;
	line-height: @title-bar-main-line-height !important;
}


.title-bar__main-heading--centered,
.titleBar .informa-title-bar {
	.text--centered;
}


// sub
.title-bar__sub-heading,
.titleBar .content-highlight-title-anchor {
	color: @title-bar-sub-color;
	font-family: @title-bar-sub-font !important;
	font-size: @title-bar-sub-size !important;
	font-weight: @title-bar-sub-weight !important;
	line-height: @title-bar-sub-line-height !important;
}


.title-bar__sub-heading--centered,
.titleBar .content-highlight-title-anchor {
	.text--centered;
}


// alignment
.titleBar {
	.center-align {
		.content-title,
		.content-highlight-title-anchor {
			text-align: center;

			&::after {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}


	.left-align {
		.content-title,
		.content-highlight-title-anchor {
			text-align: left;

			&::after {
				margin-left: 0;
				margin-right: auto;
			}
		}
	}


	.right-align {
		.content-title,
		.content-highlight-title-anchor {
			text-align: right;

			&::after {
				margin-left: auto;
				margin-right: 0;
			}
		}
	}
}
