// Do not use the CTA link present in the top nav
// as sometimes we need 2 of them
// and the top nav does not support it


// NEWFIX
// Unified Styling of Top Nav Elements
.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav .mainMenuTopnav {
	&::after {
		clear: both;
		content: '';
		display: table;
	}


	a {
		padding: 0 !important;


		* {
			color: inherit !important;
			font-family: inherit;
			font-size: inherit !important;
			font-weight: inherit;
			line-height: inherit;
		}


		small {
			display: inline-block;
			height: auto !important;
			padding: @top-nav-padding-ver @top-nav-padding-hor;
			text-align: left;
			width: 100%;

			@media (min-width: @breakpoint-tablet) {
				text-align: center;
			}
		}
	}


	.dropdown-menu a {
		padding: 0 !important;


		small {
			padding: @top-nav-inner-padding-ver @top-nav-inner-padding-hor @top-nav-inner-padding-ver (@top-nav-inner-padding-hor + @top-nav-padding-hor);

			@media (min-width: @breakpoint-tablet) {
				padding-left: @top-nav-inner-padding-hor;
			}
		}
	}
}
// ENDFIX


.top-nav {
	float: right;
	padding: 0 !important;
}


.navbar .container {
	width: 100%;
}


.navbar .container .navbar-header,
.top-nav__bar,
.top-nav .mainNav .navbar,
.top-nav .mainNav .navbar .container .navbar-element {
	background-color: @top-nav-bar-bg;
	min-height: auto;
}

.top-nav .mainNav .navbar-inverse {
	background-color: transparent;


	.dropdown-menu {
		background-color: @top-nav-bar-bg !important;
		min-width: 100%;

		@media (max-width: @breakpoint-tablet) {
			bottom: auto;
			max-width: none !important;
			position: relative;
			top: auto;
			width: 100% !important;
		}

		@media (min-width: @breakpoint-tablet) {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.top-nav .mainNav .navbar-inverse ul li a {
	font-family: @top-nav-font-family;
	font-size: @top-nav-font-size;
	font-weight: @top-nav-font-weight;
	text-transform: none;
}

.navbar .container .navbar-header {
	button {
		background-color: @top-nav-toggle-bg-color;
		border-radius: 0;
	}
}

.top-nav__bar,
.top-nav .mainNav .navbar,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav {
	background-color: @top-nav-bar-bg !important;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;

	@media (min-width: @breakpoint-desktop) {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
}


// TO BE REMOVED
.top-nav__inner-bar,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav {
	@media (min-width: @breakpoint-tablet) {
		width: fit-content;
	}
}
//


.top-nav__element,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav a {
	background-color: @top-nav-bg !important;
	color: @top-nav-color !important;
	display: block;
	height: auto;
	line-height: @top-nav-line-height;

	@media (min-width: @breakpoint-tablet) {
		text-align: center;
		width: auto;
	}


	@media (min-width: @breakpoint-tablet) {
		small {
			position: relative;

			&::after {
				border-bottom-width: @top-nav-border-bottom-width;
				border-color: @top-nav-border-color !important;
				border-left-width: @top-nav-border-left-width;
				border-right-width: @top-nav-border-right-width;
				border-style: @top-nav-border-style;
				border-top-width: @top-nav-border-top-width;
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: border @hover-duration;
			}
		}
	}


	// submenu arrow is visible on Mobile only
	&.has-submenu {
		padding-right: @top-nav-arrow-width !important;

		&::after {
			color: inherit;
			content: @top-nav-arrow-content;
		}

		@media (min-width: @breakpoint-tablet) {
			padding-right: 0 !important;

			&::after {
				content: none;
			}
		}
	}
}

.top-nav__element--hover,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav a:hover {
	background-color: @top-nav-hover-bg !important;
	color: @top-nav-hover-color !important;

	@media (min-width: @breakpoint-tablet) {
		small {
			position: relative;

			&::after {
				border-bottom-width: @top-nav-hover-border-bottom-width;
				border-color: @top-nav-hover-border-color !important;
				border-left-width: @top-nav-hover-border-left-width;
				border-right-width: @top-nav-hover-border-right-width;
				border-style: @top-nav-border-style;
				border-top-width: @top-nav-hover-border-top-width;
			}
		}
	}


	& + .dropdown-menu {
		display: block;
		z-index: 1000000;
	}
}

.top-nav .mainNav .navbar-inverse .dropdown-menu:hover {
	display: block;
	z-index: 1000000;
}

.top-nav__element--active,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav.active a {
	background-color: @top-nav-active-bg !important;
	color: @top-nav-active-color !important;

	@media (min-width: @breakpoint-tablet) {
		small {
			position: relative;

			&::after {
				border-bottom-width: @top-nav-active-border-bottom-width;
				border-color: @top-nav-active-border-color !important;
				border-left-width: @top-nav-active-border-left-width;
				border-right-width: @top-nav-active-border-right-width;
				border-style: @top-nav-border-style;
				border-top-width: @top-nav-active-border-top-width;
			}
		}
	}
}


// dropdown

.top-nav__inner-element,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .dropdown-menu .mainMenuTopnav a,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav .innerMenuTopnav .menulist-item-element a {
	background-color: @top-nav-inner-bg !important;
	color: @top-nav-inner-color !important;
	display: block;
	font-size: @top-nav-inner-font-size;
	font-weight: @top-nav-inner-font-weight;
	height: auto;
	line-height: @top-nav-line-height;

	@media (min-width: @breakpoint-tablet) {
		border-bottom-width: 0;
		border-color: @top-nav-inner-border-color !important;
		border-left-width: @top-nav-inner-border-left-width;
		border-right-width: @top-nav-inner-border-right-width;
		border-style: @top-nav-inner-border-style;
		border-top-width: @top-nav-inner-border-top-width;
		text-align: center;
		width: auto;
	}


	small::after {
		content: none;
	}
}

.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav .innerMenuTopnav .menulist-item-element:last-child a {
	@media (min-width: @breakpoint-tablet) {
		border-bottom-width: @top-nav-inner-border-bottom-width;
	}
}

.top-nav__inner-element--hover,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .dropdown-menu .mainMenuTopnav a:hover,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav .innerMenuTopnav .menulist-item-element a:hover {
	background-color: @top-nav-inner-hover-bg !important;
	color: @top-nav-inner-hover-color !important;
}

.top-nav__inner-element--active,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .dropdown-menu .mainMenuTopnav.active a,
.top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav .mainMenuTopnav .innerMenuTopnav .menulist-item-element.active a {
	background-color: @top-nav-inner-active-bg !important;
	color: @top-nav-inner-active-color !important;
}

.top-nav__search-button,
.top-nav .search-btn,
.top-nav .navRegisterbg {
	display: none;
}
