/* -------------------------------

Youtube Video

------------------------------- */

//FIX
//Margin for mobile devices
.youtube-video {
	.media {
		padding-left: @global-padding;
		padding-right: @global-padding;

		@media (min-width: @breakpoint-desktop) {
			padding-left: 0;
			padding-right: 0;
		}
	}


	.row {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}


	iframe {
		width: 100%;
	}
}

// Inherit targeting from div to allow style reuse
.youtube-video .media-body .media-heading {
	color: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
}
// ENFIX
