/*

File Name: _cta-title-desc-link.less
Description: CTA - Title, Desc, Link component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */

@cta-title-desc-link--content-bg: darken(@white,3%);
@cta-title-desc-link--title-color: @base-color; // H1
@cta-title-desc-link--title-bg: darken(@white,8%);
@cta-title-desc-link--title-icon: '\f007';
@cta-title-desc-link--title4-color: @cta-title-desc-link--title-color; // H4
@cta-title-desc-link--title6-color: @cta-title-desc-link--title-color; // H6
@cta-title-desc-link--link-color: @link;
@cta-title-desc-link--link-focus-color: darken(@cta-title-desc-link--link-color,30%);


.contactUs {
    margin:30px 0;
    .visitors-contact-content {
        .boxes {
            .box {
                padding: 0 !important;
                background-color: @cta-title-desc-link--content-bg;
                &:after {
                    content:'';
                    display:block;
                    width:100%;
                    margin-bottom:30px;
                }
                h1, h4, h6 {
                    font-family: @primary-font;
                    padding:0;
                    font-weight:700;
                }
                h1 {
                    font-size: @base-font-size;
                    line-height: @base-font-size;
                    padding: 15px 30px 15px 15px;
                    margin:0;
                    color: @cta-title-desc-link--title-color;
                    background-color: @cta-title-desc-link--title-bg;
                    text-transform:uppercase;
                    position:relative;
                    &:after {
                        content: @cta-title-desc-link--title-icon;
                        font-family: @icon-font;
                        font-size: @base-font-size;
                        color: @cta-title-desc-link--title-color;
                        position:absolute;
                        top:15px;
                        right:15px;
                    }
                }
                h4 {
                    font-size: @heading-3;
                    line-height: @heading-3;
                    margin:0 0 15px;
                    padding: 15px 30px;
                    color: @cta-title-desc-link--title4-color;
                    position:relative;
                    &:after {
                        content:'';
                        height: 3px;
                        width: 30px;
                        background-color: @cta-title-desc-link--title4-color;
                        position: absolute;
                        bottom:0;
                        left:30px;
                    }
                }
                h6 {
                    font-size: @base-font-size;
                    line-height: @base-font-size;
                    margin:0 0 10px;
                    padding: 0 30px;
                    color: @cta-title-desc-link--title6-color;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
                a {
                    color: @cta-title-desc-link--link-color !important;
                    text-decoration:none !important;
                    .transition(@transition);
                    &:hover, &:focus {
                        color: @cta-title-desc-link--link-focus-color !important;
                        .transition(@transition);
                    }
                }
            }
        }
    }
}