/*=For Ad Banner Component Styles */

.banner {
    margin:30px 0;
    .informa-image-banner {
        .banner-section {
            a {
                span {
                    img {}
                }
            }
        }
    }
}