// Adjust Informa bar
.informa {
  z-index: 10;
  position: relative;
}

// Hero image
.home-hero .heroParallax,
.home-section .heroParallax {
  max-height: 1280px !important;
  > .row {
    background-color: @color-gray-base;
  }
  .carousel-inner > .item,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    height: calc(50vw * (36/25));
    max-height: 1105px !important;
    min-height: 480px;
  }
  .carousel-inner > .item {
    position: relative;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: none;
    max-height: none;
    width: auto !important;
    height: 100%;
    @media (min-width: 768px) {
      width: 100% !important;
      height: auto;
    }
  }
}
.home-hero.viewport-tall .carousel-inner > .item > img,
.home-hero.viewport-tall .carousel-inner > .item > a > img {
  width: 100% !important; /*Changes by IBM for UBM site migration*/
  height: 100% !important;
}

.home-hero .heroParallax {
  margin-top: -37px;
  .carousel-inner > .item .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate3d(-50%, -50%, 0);
  }
}

.home-section .row {
  overflow: hidden;
}
.home-section .heroParallax {
  height: 50%;
  .carousel-inner > .item .carousel-caption {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: auto;
    margin: 0;
    transform: translate3d(0, -50%, 0);
    background-color: rgba(0, 0, 0, .9);
    width: 90%;
    max-width: 600px;
    > .container {
      font-size: 18px;
      text-align: left;
      padding: 50px 30px;
    }
  }
}

// Background images
.home-section.bg-img {
  min-height: 500px;
  background-attachment: fixed;
  @media (max-width: 991px) {
    background-attachment: inherit;
  }
  .text {
    background-color: rgba(0, 0, 0, .85);
    width: 85%;
    max-width: 600px;
    padding: 30px;
    margin: 40px 30px 40px -15px;
    @media (min-width: 992px) {
      padding: 50px 30px;
      margin: 80px 30px 80px -15px;
    }
  }
}

.home-section {
  &.bg-img--ripple {
    background-position: left top;
    background-image: url("../images/ew20-cp-homepage-ripple.png");
  }
  &.bg-img--hardstuff {
    background-position: center bottom;
    background-image: url("../images/bg-img-home-hardstuff.jpg");
    @media (max-width: 767px) {
      background-position: 75% bottom;
    }
  }
}

.bg-img--fixit {
  background-image: url("../images/bg-img-home-fixit.jpg");
}

.image img {
  margin-left: auto;
  margin-right: auto;
}