// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300');


body{
	font-family:@font-primary;
    color:@color-black;
}
.body-wrapper{
    @media (max-width:769px){
		overflow-x:hidden;
    }
}
#body_container_wrapper{
	padding:0;
}
#content_template_wrapper{
	//max-width:1400px;
    width:100%;
    margin:auto;
    padding:0;
}

h1,h2,h3,h4,h5,h6,
p,i,a,small,span,div {
    font-family: @font-family-base; // override !important declaration
}

body,
p,
// .text {
// 	.text-base();
// }
p {
	// margin-bottom: 15px;
	margin-bottom: 0px;
    &:empty {
        margin-bottom:0;
    }
}

ol,
ul {
	color: @font-color-base;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @font-line-height-base;
	li {
		color: @font-color-base;
	  font-family: @font-family-base;
	  font-size: @font-size-base;
	  line-height: @font-line-height-base;
	}
}

// Links
a {
  color:@color-primary;

  &:hover{
      color:@color-primary;
      text-decoration:underline;
  }
  &:visited{
      color:@color-primary;
      text-decoration:none;
  }
}

a-tertiary {
  color:@color-tertiary;

  &:hover {
      color:@color-tertiary;
      text-decoration:underline;
  }
  &:visited {
      color:@color-tertiary;
      text-decoration:none;
  }
}

// Headings
h1 {
    .h1();
}
h2 {
    .h2();
}
h3 {
    .h3();
}
h4 {
    .h4();
}
h5 {
    .h5();
}
h6 {
    .h6();
}

// Sitemap
#SiteMap {
    .mainBox {
    	background-color: @navbar-bg;
    }
    ul li a {
    	font-family: @navbar-font-family;
    }
}



@media (max-width: 1024px){
    .container-fluid {
        margin-top: 0;
    }
}

// Form
.InformaBookStandForm input[type=button], input[type=submit], input[type=reset] {
    font-family: @font-family-base !important; // override !important declaration
}

.row-custom-divider{
	margin-top: 0px;
	margin-bottom: 0px;
}

// Backgrounds
.bg {
	&-primary {
	  background-color: @color-primary;
	}
	&-secondary {
	  background-color: @color-secondary;
	}
	&-tertiary {
		background-color: @color-tertiary;
	}
	&-alt {
		background-color: @color-alt;
	}
	&-gold {
		background-color: @color-gold-base;
	}
	&-blue {
		background-color: @color-blue-base;
	}
	&-green {
		background-color: @color-turquoise-base;
	}
	&-white {
	  background-color: @color-white;
	}
	&-shadow {
		-webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
	  padding: 0px;
	  margin: 0px;
	}
	&-dark-transparent {
	  background-color: rgba(0, 0, 0, .5);
	}
	&-gray-light {
	  background-color: lighten(@color-gray-base, 55%);
	}
}

.bg-img {
  background-position: 0 0;
  // background-size: cover;
  background-repeat: no-repeat;

	&.bg-img--cover {
    background-size: cover;
	}

	&.bg-img--home-header1 {
    display: none;
	@media (min-width: 770px) {
      display: block;
      background-image: url("/content/dam/Informa/npe-west/en/images/ew19-bw-home-hero.jpg");
      padding-top: 30px;
    }
  }

  &.bg-img--ripple {
		image-rendering: -webkit-optimize-contrast;
		background-color: transparent;
		background-image: url("/content/dam/Informa/npe-west/en/2020/ew20-cp-homepage-ripple.png");

		background-size: 25% auto;
    background-position: 0 0;
    @media (min-width: 991px) {
      background-position: 0 0;
      background-size: 55% auto;
    }
    @media (min-width: 1200px) {
      // background-position: -5% 0;
      background-size: 26% auto;
      background-position: 0 0;
    }
    // @media (min-width: 1500px) {
		// 	padding-top: 65px;
		// 	padding-left: 145px;
    //   background-position: 0 0;
    // }
    // .column-control {
    //   margin-left: auto;
    //   margin-right: auto;
    //   @media (min-width: 768px) {
    //     max-width: 750px;
    //   }
    //   @media (min-width: 992px) {
    //     max-width: 970px;
    //   }
    //   @media (min-width: 1200px) {
    //     max-width: 1170px;
    //   }
    // }
		.column-content {
			@media (min-width: 1200px) {

      }
		}
		.column-text {

		}
		.column-text-main {
			padding-top: inherit;
			padding-left: inherit;
			@media (min-width: 991px) {
				padding-top: 275px;
        padding-left: inherit;
      }
			@media (min-width: 1024px) {
				padding-top: 275px;
        padding-left: inherit;
      }
			@media (min-width: 1200px) {
				padding-top: inherit;
        padding-left: 275px;
      }
			@media (min-width: 1500px) {
				padding-top: inherit;
        padding-left: 175px;
      }
		}
		.column-text-sub {
			text-align: center;
			border-top: 1px solid @color-primary;
			border-left: 0px solid @color-primary;
			@media (min-width: 991px) {
				text-align: left;
				border-top: 0px solid @color-primary;
        border-left: 1px solid @color-primary;
      }
		}
    // .text {
    //   font-size: (@font-size-base - 2);
    //   .wysiwyg--disclaimer {
    //     color: @color-secondary;
    //   }
    // }

  }

  &.bg-img--home-section1 {
    background-image: url("/content/dam/Informa/npe-west/en/2020/ew20-cp-watercolor-bg.png");
		// background-position: center;
    // min-height: 560px;
  }
  &.bg-img--footer-section1 {
    background-image: url("/content/dam/Informa/npe-west/en/2020/ew20-cp-watercolor-footer.png");
    background-position: center;
    min-height: 200px;
  }
}


.bg-full-width {
  margin-left: -15px;
  margin-right: -15px;
  .bg-full-width {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Text
.text-primary {
  &,
  *:not(a) {
    color: @color-primary !important;
  }
}
.text-secondary {
  &,
  *:not(a) {
    color: @color-secondary !important;
  }
}
.text-white {
  &,
  *:not(a) {
    color: @color-white !important;
  }
}

.text-white-link {
	color: @color-white !important;
		a {
			color:  @color-white !important;
			text-decoration: none;
		}
		a:hover,
		a:visited {
			color:  @color-white !important;
			text-decoration: underline;
		}
}

// Banner
@media (max-width: 769px) and (min-width: 320px) {
  .bannerImage.section {
    margin-top: 0;
  }
}

// Line separator
hr {
  border-color: @color-secondary;
}

// GPT Ad styles
.gpt-ad {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gpt-ad--728x90 {
  width: 728px;
  height: 90px;
}
.gpt-ad--300x250 {
  width: 300px;
  height: 250px;
}
@media (max-width: 767px) {
  .gpt-ad--320x50-sm {
    width: 320px;
    height: 50px;
  }
}

.sidebar {
  margin-top: 20px;
}


.pt--05 {
  padding-top: 5px;
}
.pr--05 {
  padding-right: 5px;
}
.pl--05 {
  padding-left: 5px;
}
.pb--05 {
  padding-bottom: 5px;
}
.px--05 {
  padding-left: 5px;
  padding-right: 5px;
}
.py--05 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pt--1 {
  padding-top: 10px;
}
.pr--1 {
  padding-right: 10px;
}
.pl--1 {
  padding-left: 10px;
}
.pb--1 {
  padding-bottom: 10px;
}
.px--1 {
  padding-left: 10px;
  padding-right: 10px;
}
.py--1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt---5 {
  padding-top: 15px;
}
.pl---5 {
  padding-right: 15px;
}
.pr---5 {
  padding-left: 15px;
}
.pb---5 {
  padding-bottom: 15px;
}
.px---5 {
  padding-left: 15px;
  padding-right: 15px;
}
.py---5 {
  padding-top: 15px;
  padding-bottom: 15px;
}


.pt--2 {
  padding-top: 20px;
}
.pr--2 {
  padding-right: 20px;
}
.pl--2 {
  padding-left: 20px;
}
.pb--2 {
  padding-bottom: 20px;
}
.px--2 {
  padding-left: 20px;
  padding-right: 20px;
}
.py--2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt--3 {
  padding-top: 30px;
}
.pr--3 {
  padding-right: 30px;
}
.pl--3 {
  padding-left: 30px;
}
.pb--3 {
  padding-bottom: 30px;
}
.px--3 {
  padding-left: 30px;
  padding-right: 30px;
}
.py--3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt--4 {
  padding-top: 40px;
}
.pr--4 {
  padding-right: 40px;
}
.pl--4 {
  padding-left: 40px;
}
.pb--4 {
  padding-bottom: 40px;
}
.px--4 {
  padding-left: 40px;
  padding-right: 40px;
}
.py--4 {
  padding-top: 40px;
  padding-bottom: 40px;
}


.mt--1 {
  margin-top: 10px;
}
.mr--1 {
  margin-right: 10px;
}
.ml--1 {
  margin-left: 10px;
}
.mb--1 {
  margin-bottom: 10px;
}
.mx--1 {
  margin-left: 10px;
  margin-right: 10px;
}
.my--1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt--2 {
  margin-top: 20px;
}
.mr--2 {
  margin-right: 20px;
}
.ml--2 {
  margin-left: 20px;
}
.mb--2 {
  margin-bottom: 20px;
}
.mx--2 {
  margin-left: 20px;
  margin-right: 20px;
}
.my--2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt--3 {
  margin-top: 30px;
}
.mr--3 {
  margin-right: 30px;
}
.ml--3 {
  margin-left: 30px;
}
.mb--3 {
  margin-bottom: 30px;
}
.mx--3 {
  margin-left: 30px;
  margin-right: 30px;
}
.my--3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt--4 {
  margin-top: 40px;
}
.mr--4 {
  margin-right: 40px;
}
.ml--4 {
  margin-left: 40px;
}
.mb--4 {
  margin-bottom: 40px;
}
.mx--4 {
  margin-left: 40px;
  margin-right: 40px;
}
.my--4 {
  margin-top: 40px;
  margin-bottom: 40px;
}


.mt-neg-5 {
  margin-top: -5px;
}
.mr-neg-5 {
  margin-right: -5px;
}
.ml-neg-5 {
  margin-left: -5px;
}
.mb-neg-5 {
  margin-bottom: -5px;
}
.mx-neg-5 {
  margin-left: -5px;
  margin-right: -5px;
}
.my-neg-5 {
  margin-top: -5px;
  margin-bottom: -5px;
}


.mt-neg1 {
  margin-top: -10px;
}
.mr-neg1 {
  margin-right: -10px;
}
.ml-neg1 {
  margin-left: -10px;
}
.mb-neg1 {
  margin-bottom: -10px;
}
.mx-neg1 {
  margin-left: -10px;
  margin-right: -10px;
}
.my-neg1 {
  margin-top: -10px;
  margin-bottom: -10px;
}

.mt-neg1-5 {
  margin-top: -15px;
}
.mr-neg1-5 {
  margin-right: -15px;
}
.ml-neg1-5 {
  margin-left: -15px;
}
.mb-neg1-5 {
  margin-bottom: -15px;
}
.mx-neg1-5 {
  margin-left: -15px;
  margin-right: -15px;
}
.my-neg1-5 {
  margin-top: -15px;
  margin-bottom: -15px;
}

.mt-neg2 {
  margin-top: -20px;
}
.mr-neg2 {
  margin-right: -20px;
}
.ml-neg2 {
  margin-left: -20px;
}
.mb-neg2 {
  margin-bottom: -20px;
}
.mx-neg2 {
  margin-left: -20px;
  margin-right: -20px;
}
.my-neg2 {
  margin-top: -20px;
  margin-bottom: -20px;
}

.mt-neg3 {
  margin-top: -30px;
}
.mr-neg3 {
  margin-right: -30px;
}
.ml-neg3 {
  margin-left: -30px;
}
.mb-neg3 {
  margin-bottom: -30px;
}
.mx-neg3 {
  margin-left: -30px;
  margin-right: -30px;
}
.my-neg3 {
  margin-top: -30px;
  margin-bottom: -30px;
}

.mt-neg4 {
  margin-top: -40px;
}
.mr-neg4 {
  margin-right: -40px;
}
.ml-neg4 {
  margin-left: -40px;
}
.mb-neg4 {
  margin-bottom: -40px;
}
.mx-neg4 {
  margin-left: -40px;
  margin-right: -40px;
}
.my-neg4 {
  margin-top: -40px;
  margin-bottom: -40px;
}

.mt-neg5 {
  margin-top: -50px;
}
.mr-neg5 {
  margin-right: -50px;
}
.ml-neg5 {
  margin-left: -50px;
}
.mb-neg5 {
  margin-bottom: -50px;
}
.mx-neg5 {
  margin-left: -50px;
  margin-right: -50px;
}
.my-neg5 {
  margin-top: -50px;
  margin-bottom: -50px;
}

.mt-neg6 {
  margin-top: -60px;
}
.mr-neg6 {
  margin-right: -60px;
}
.ml-neg6 {
  margin-left: -60px;
}
.mb-neg6 {
  margin-bottom: -60px;
}
.mx-neg6 {
  margin-left: -60px;
  margin-right: -60px;
}
.my-neg6 {
  margin-top: -60px;
  margin-bottom: -60px;
}

.pull-left { float: left!important; }
.pull-none { float: none!important; }
.pull-right { float: right!important; }


.accordion .panel-prev :hover{
    color:#fff !important;
    background-color:@color-primary !important;
}  /*Changes by IBM for UBM site migration*/


/* Panel styles over global */
.panel-group {
	margin-bottom: 0px;

	.panel {
		margin-bottom:0;
		border-radius:0px
	}
	.panel+.panel {
		margin-top:5px;
	}
	.panel-heading {
		border-bottom:0
	}
	.panel-heading+.panel-collapse>.panel-body,
	.panel-group .panel-heading+.panel-collapse>.list-group {
		border-top:1px solid #ddd
	}
	.panel-footer {
		border-top:0
	}
	.panel-footer+.panel-collapse .panel-body{
		border-bottom:1px solid #ddd
	}

}

.panel-default {
	.rss-item {
		text-align: left!important;
			a {
				color: @color-secondary;
				text-decoration: none;
				&:hover,
				&:focus {
					color: @color-alt;
					text-decoration: none;
				}
				&:active {
					color: @color-primary;
					text-decoration: none;
				}
		}
	}
}
