/* GDPR Style Fixes */

.home-form #subscription_ca_uk {
	padding-left:0 !important;
}
.home-form #subscription_ca_uk .preference-levle-checkBox-component {
    width:100%;
}
.home-form #subscription_ca_uk .form-group {
	padding-left:15px;
	padding-right:15px;
}
.home-form #subscription_ca_uk .form-group label {
	float:none;
}
.home-form #subscription_ca_uk .form-group label span {
    max-width:75% !important;
}
.home-form #subscription_ca_uk .form-group select {
    min-width: 0 !important;
}

@media screen and (max-width:1199px) {
    .home-form #subscription_ca_uk .form-group label span {
        max-width:65% !important;
    }
}
@media screen and (max-width:991px) {
	.home-form #subscription_ca_uk .preference-levle-checkBox-component {
		padding-right:0;
	}
    .home-form #subscription_ca_uk .form-group {
        width:100%;
    }
    .home-form #subscription_ca_uk .form-group select {
        margin-bottom:5px !important;
    }
    .home-form #subscription_ca_uk .form-group label span {
        max-width: 85% !important;
    }
}
@media screen and (max-width:767px) {
    .home-form #subscription_ca_uk .form-group label span {
        padding-top:0;
    }
}
@media screen and (max-width:480px) {
	.home-form .InformaBookStandForm .form-group.subscription-form-group,
	.home-form #subscription_ca_uk .form-group {
		padding-right:0;
		padding-left:0 !important;
		margin-left:15px;
        margin-right:15px;
	}
    .home-form #subscription_ca_uk .form-group select {
        width:100% !important;
    }
}
