.bg-black,
.bg--black,
.column-control__bg-color--black {
	background-color: @black !important;
}


.bg-white,
.bg--white,
.column-control__bg-color--white {
	background-color: @white !important;
}


.bg-primary,
.bg--primary,
.column-control__bg-color--primary {
	background-color: @primary-color !important;
}


.bg-secondary,
.bg--secondary,
.column-control__bg-color--secondary {
	background-color: @secondary-color !important;
}


.bg-tertiary,
.bg--tertiary,
.column-control__bg-color--tertiary {
	background-color: @tertiary-color !important;
}

.bg-quaternary,
.bg--quaternary,
.column-control__bg-color--quaternary {
	background-color: @quaternary-color !important;
}


.bg-quaternary-dark,
.bg--quaternary-dark,
.column-control__bg-color--quaternary-dark {
	background-color: @quaternary-dark-color !important;
}


.bg-gray,
.bg--gray,
.column-control__bg-color--gray {
	background-color: @gray !important;
}


.bg-grey,
.bg--grey,
.column-control__bg-color--grey {
	background-color: @grey !important;
}


.bg-grey-light,
.bg--grey-light,
.column-control__bg-color--grey-light {
	background-color: @grey-light !important;
}


.bg-grey-dark,
.bg--grey-dark,
.column-control__bg-color--grey-dark {
	background-color: @grey-dark !important;
}
