// .hero_parallax_text-text_color--black {
// 	.heroParallaxText .carousel-inner .item {
// 		p {
// 			color: @black;
// 		}
// 	}
// }

// .hero_parallax_text-text_color--white {
// 	.heroParallaxText .carousel-inner .item {
// 		p {
// 			color: @white;
// 		}
// 	}
// }

// .hero_parallax_text-text_color--primary {
// 	.heroParallaxText .carousel-inner .item {
// 		p {
// 			color: @primary-color;
// 		}
// 	}
// }

// .hero_parallax_text-text_color--secondary {
// 	.heroParallaxText .carousel-inner .item {
// 		p {
// 			color: @secondary-color;
// 		}
// 	}
// }

// .hero_parallax_text-text_color--tertiary {
// 	.heroParallaxText .carousel-inner .item {
// 		p {
// 			color: @tertiary-color;
// 		}
// 	}
// }


.heroParallaxText .carousel-inner .item {
	p {
		.hero_parallax_text-text_color--black & {
			color: @black;
		}

		.hero_parallax_text-text_color--white & {
			color: @white;
		}

		.hero_parallax_text-text_color--primary & {
			color: @primary-color;
		}

		.hero_parallax_text-text_color--secondary & {
			color: @secondary-color;
		}

		.hero_parallax_text-text_color--tertiary & {
			color: @tertiary-color;
		}
	}
}
