// Using Column Cotrol
// Text Colour
.quicklink__color--none {
	.quicklink__color(none);
}

.quicklink__color--black {
	.quicklink__color(@black);
}

.quicklink__color--white {
	.quicklink__color(@white);
}

.quicklinks__color--primary {
	.quicklink__color(@primary-color);
}

.quicklink__color--secondary {
	.quicklink__bg-color(@secondary-color);
}

.quicklink__color--tertiary {
	.quicklink__bg-color(@tertiary-color);
}

.quicklink__color-hover--none {
	.quicklink__bg-color(none);
}

.quicklink__color-hover--black {
	.quicklink__bg-color(@black);
}

.quicklink__color-hover--white {
	.quicklink__bg-color(@white);
}

.quicklink__color-hover--primary {
	.quicklink__bg-color(@primary-color);
}

.quicklink__color-hover--secondary {
	.quicklink__bg-color(@secondary-color);
}

.quicklink__color-hover--tertiary {
	.quicklink__bg-color(@tertiary-color);
}

// Background color
.quicklink__bg-color--none {
	.quicklink__bg-color(none);
}

.quicklink__bg-color--black {
	.quicklink__bg-color(@black);
}

.quicklinks__bg-color--white {
	.quicklink__bg-color(@white);
}

.quicklink__bg-color--primary {
	.quicklink__bg-color(@primary-color);
}

.quicklink__bg-color--secondary {
	.quicklink__bg-color(@secondary-color);
}

.quicklink__bg-color--tertiary {
	.quicklink__bg-color(@tertiary-color);
}

.quicklink__bg-color-hover--none {
	.quicklink__bg-color(none);
}

.quicklink__bg-color-hover--black {
	.quicklink__bg-color(@black);
}

.quicklink__bg-color-hover--white {
	.quicklink__bg-color(@white);
}

.quicklink__bg-color-hover--primary {
	.quicklink__bg-color(@primary-color);
}

.quicklink__bg-color-hover--secondary {
	.quicklink__bg-color(@secondary-color);
}

.quicklink__bg-color-hover--tertiary {
	.quicklink__bg-color(@tertiary-color);
}


// Border color
.quicklink__border-color--none {
	.quicklink__border-color(none);
}

.quicklink__border-color--black {
	.quicklink__border-color(@black);
}

.quicklink__border-color--white {
	.quicklink__border-color(@white);
}

.quicklink__border-color--primary {
	.quicklink__border-color(@primary-color);
}

.quicklink__boder-color--secondary {
	.quicklink__border-color(@secondary-color);
}

.quicklink__border-color--tertiary {
	.quicklink__border-color(@tertiary-color);
}

.quicklink__border-color-hover--none {
	.quicklink__border-color(none);
}

.quicklink__border-color-hover--black {
	.quicklink__border-color(@black);
}

.quicklink__border-color-hover--white {
	.quicklink__border-color(@white);
}

.quicklink__border-color-hover--primary {
	.quicklink__border-color(@primary-color);
}

.quicklink__border-color-hover--secondary {
	.quicklink__border-color(@secondary-color);
}

.quicklink__border-color-hover--tertiary {
	.quicklink__border-color(@tertiary-color);
}

// Text Align
.quicklink__text-align--left {
	.quicklink__text-align(left);
}

.quicklink__text-align--center {
	.quicklink__text-align(center);
}

.quicklink__text-align--right {
	.quicklink__text-align(right);
}

.quicklink--uppercase {
	.quicklink .highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom .event-overview-btn-text-padding .highlgt-btn-title {
		text-transform: uppercase;
	}
}

.cta-left {
	.quicklink {
		float: left;
	}
}

.cta-right {
	.quicklink {
		float: right;
	}
}

.cta-center {
	.quicklink {
		float: none;
	}
}
