// Used on Column Control

.text-black,
.text__color--black {
	.text__text-color(@black);
}


.text-white,
.text__color--white {
	.text__text-color(@white);
}


.text-primary,
.text__color--primary {
	.text__text-color(@primary-color);
}


.text-secondary,
.text__color--secondary {
	.text__text-color(@secondary-color);
}


.text-tertiary,
.text__color--tertiary {
	.text__text-color(@tertiary-color);
}
