.title-black,
.title_bar-text_color--black {
	.titleBar,
	.text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&,
			* {
				color: @black;
			}
		}
	}
}


.title-white,
.title_bar-text_color--white {
	.titleBar,
	.text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&,
			* {
				color: @white;
			}
		}
	}
}


.title-primary,
.title_bar-text_color--primary {
	.titleBar,
	.text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&,
			* {
				color: @primary-color;
			}
		}
	}
}


.title-secondary,
.title_bar-text_color--secondary {
	.titleBar,
	.text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&,
			* {
				color: @secondary-color;
			}
		}
	}
}


.title-tertiary,
.title_bar-text_color--tertiary {
	.titleBar,
	.text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&,
			* {
				color: @tertiary-color;
			}
		}
	}
}
