/*= For Text Highlight - Image, Title, Desc, Quote Component */

.leadingText {
    margin-bottom: 30px;
    .clearfix();
    > .cq-placeholder {
        //display: none;
        width:100%;
    }
    /* Variation 1 */
    .text2 {
        background-color: darken(@white,3%);
        color: @black;
        padding:30px;
        margin-top:0;
        .textCenter {
            color: @black;
            font-family: @primary-font;
            font-size: @heading-6;
            font-weight: 700;
            line-height: @heading-6 + 6;
        }
    }
    /* Variation 2 */
    .informa-leading-text,
    .leading-panel {
        background-color: darken(@white,3%) !important;
        padding: 30px !important;
        margin-bottom:30px;
        .Consecteturtitle {
            font-family: @primary-font;
            font-size: @heading-3;
            font-weight: 700;
            line-height: @heading-3;
            margin: 0 0 15px;
            .informa-leading-text-variation-one-header {
                font-family: @primary-font;
                font-size: @heading-3;
                font-weight: 700;
                line-height: @heading-3;
                padding: 0;
                margin: 0;
                color: @black;
            }
        }
        .informa-leading-text-variation-one-content,
        .text {
            display:none;
        }
        .informa-leading-text-variation-one-alternate-content-image {
            margin-top: 30px;
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
        .setting {
            margin-top: 30px;
            .informa-leading-text-variation-one-alternate-content-title,
            .Testimonialhead {
                color: @base-color;
                font-family: @primary-font;
                font-size: @heading-4;
                font-weight: 700;
                line-height: @heading-4;
                padding: 0;
                margin: 0 0 30px;
            }
            .informa-leading-text-variation-one-alternate-content-highlight,
            .testimonialp {
                font-family: @primary-font;
                font-weight: 500;
                font-size: @base-font-size;
                line-height: @base-line-height;
                margin: 15px 0;
                em {
                    color: @base-color;
                }
            }
            .informa-leading-text-variation-one-alternate-footer,
            .quote {
                font-size: @base-font-size;
                font-style: italic;
                line-height: @base-font-size;
                margin:0;
                padding:0 0 0 70px;
                position:relative;
                &:before {
                    content: '';
                    padding:0;
                    margin:0;
                    width:60px;
                    height:1px;
                    background-color: @black;
                    position:absolute;
                    top:50%;
                    left:0;
                }
            }
        }
        .row {
            margin:0;
        }
        p:empty {
            display: none;
        }
    }
    /* Variation 3 */
    .informa-leading-text-variation-three,
    .leading-testimonial {
        background-color: darken(@white,3%) !important;
        padding: 30px !important;
        margin-top: 0;
        position:relative;
        .informa-leading-text-variation-three-title,
        .leadrightpanelhead {
            background-color:transparent;
            padding:0;
            margin: 15px 0 0;
            color: @black;
            font-family: @primary-font;
            font-size: @heading-4;
            font-weight: 700;
            line-height: @heading-4;
            border-bottom: none;
        }
        .wrapper {
            background-color: transparent;
            padding:30px;
        }
        .informa-leading-text-variation-three-content-highlight,
        .leadrightpaneltxt,
        .informa-leading-text-variation-three-footer,
        .leadrightpanelquote {
            font-family: @primary-font;
            padding:0;
        }
        .informa-leading-text-variation-three-content-highlight,
        .leadrightpaneltxt {
            font-size: @base-font-size + 2;
            line-height: @base-font-size + 6;
            text-align:center;
            em {
                font-weight:700;
                color: @base-color;
                &:before,
                &:after {
                    font-size: @base-font-size * 2;
                    font-family: @icon-font;
                    font-weight:normal;
                    display:inline-block;
                    color: darken(@white,8%);
                    line-height:1;
                }
                &:before {
                    content: '\f10d';
                    margin-right:15px;
                    vertical-align:bottom;
                }
                &:after {
                    content: '\f10e';
                    margin-left:15px;
                    vertical-align:top;
                }
            }
        }
        .informa-leading-text-variation-three-footer,
        .leadrightpanelquote {
            font-size: @base-font-size;
            font-style: italic;
            line-height: @base-font-size;
            margin:0;
            text-align:center;
        }
    }
}