/*=For Helper Styles */


/* Clear fix */
.clearfix() {
    &:before,
    &:after {
    	content: " "; // 1
    	display: table; // 2
    }
    &:after {
    	clear: both;
    }
}

/* Headings */

.h1 {
    font-size: @heading-1;
}
.h2 {
    font-size: @heading-2;
}
.h3 {
    font-size: @heading-3;
}
.h4 {
    font-size: @heading-4;
}
.h5 {
    font-size: @heading-5;
}
.h6 {
    font-size: @heading-6;
}

/* Strips */

@strip-bg: darken(@white,3%);
.strip {
    padding:30px 15px;
    margin:40px -15px;
    min-height:30px;
    &-shaded {
        background-color: @strip-bg;
        &:extend(.strip);
    }
    &-page-title {
        background-color: @strip-bg;
    }
}

/* Button */

.button {
    background-color: @event-listing--btn-bg;
    border: 1px solid @event-listing--btn-border-color;
    padding: 13px 15px;
    margin:15px auto;
    font-family: @primary-font !important;
    font-size: @base-font-size;
    font-weight: 700;
    line-height: @base-font-size;
    text-transform: uppercase;
    text-decoration:none;
    color: @event-listing--btn-txt-color !important;
    border-radius: 0;
    .transition(@transition);
    &:focus, &:hover {
        border-color: @event-listing--btn-focus-border-color;
        background-color: @event-listing--btn-focus-bg;
        text-decoration:none;
        color: @event-listing--btn-focus-txt-color !important;
        .transition(@transition);
    }
}

// Width

.full-width {
    padding: 0 15px;
    margin: 0 -15px;
}
.fixed-width {
    margin: 0 auto;
    padding-left:0;
    padding-right:0;
    @media (min-width:769px) {
        width: 750px;
    }
    @media (min-width:992px) {
        width: 970px;
    }
    @media (min-width:1200px) {
        width: 1170px;
    }
}