html,
body,
div, span,
h1, h2, h3, h4, h5, h6,
p, small, i, b, a, ul, ol, li,
input, textarea, select, button {
    font-family: @primary-font;
}
html,
body,
div, span,
p, small, i, b, a, ul, ol, li,
input, textarea, select, button {
    color: @black;
}
h1, h2, h3, h4, h5, h6 {
    color: @base-color;
}

// remove custom margin
.row-custom-divider {
    margin-top: 0;
}

// containers
.container {
    @media (max-width:800px) {
        width:100%;
    }
}
.container-fluid {
    @media (max-width:1024px) {
        margin-top: 0;
    }
}

// cookie block
.cookiebanner {
    .cookieblock {
        color: #ffffff;
    }
}