/*

File Name: _variables.less
Description: Global variable definitions and values

*/

/* Design Folder Images */
@images: "../images";

/* Typo */

@primary-font: 'Open Sans', sans-serif;
@icon-font: 'FontAwesome';

@base-font-size: 14px;
@base-line-height: @base-font-size + 6;

/* Color Palette */

@base-color: @black;
@black: #000000;
@white: #ffffff;
@link: #0000FF;
@visited: #800080;
@active: #FF0000;

@gray: #565A5C; // Informa Gray
@silver: #A5ACAF; // Informa silver
@copper: #A76F3E; // Informa Copper
@blue: #002244; // Informa blue
@mid-blue: #51626F; // Informa mid blue
@light-blue: #A6BCC6; // Informa light blue

/* Heading Elements */

@heading-1: @base-font-size + 22; // 36px
@heading-2: @base-font-size + 16; // 30px
@heading-3: @base-font-size + 10; // 24px
@heading-4: @base-font-size + 6; // 20px
@heading-5: @base-font-size + 4; // 18px
@heading-6: @base-font-size + 2; // 16px

/* Button Elements */

@btn-bg-color: @base-color;
@btn-hover-bg-color: transparent;
@btn-text-color: @white;
@btn-hover-text-color: @btn-bg-color;
@btn-border-color: @black;
@btn-hover-border-color: @black;

/* Tab Elements */

@tab-parent-bg: darken(@white,3%);
@tab-panel-bg: darken(@white,5%);
@tab-panel-active-bg: @base-color;
@tab-panel-hover-bg: @tab-panel-active-bg;
@tab-panel-text-color: @black;
@tab-panel-active-text-color: @white;
@tab-panel-hover-text-color: @tab-panel-active-text-color;
@tab-panel-heading-size: @base-font-size + 2;
@tab-panel-border-color: @tab-panel-active-bg;
@tab-panel-active-border-color: @tab-panel-active-bg;
@tab-panel-hover-border-color: @tab-panel-active-bg;

