<!-- view -->
            <div id="sponsors" class="loading-ui loading-ui--loading"></div>
            <!-- custom template -->
            <script id="my-sponsor-carousel-template" type="text/x-handlebars-template">

            <style>
                .carousel .img-holder{
                    position:relative;
                    height: 110px;
                    margin-bottom: 30px;
                }
                .carousel .img-holder img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width:120px;
                    max-width: 100%;
                    -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                }
                .carousel .img-holder img.upsize{
                    width:159px;
                }
            </style>

            <div id="spon-carousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                {{log items}}
                {{#groupEach 6 items}}
                  <div class="item">
                      <div class="row">
                        {{#each this}}
                          <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="img-holder">
                                <img src="{{field_logo_image}}" alt="{{title}}" class="{{field_logo_class}}" />
                            </div>
                          </div>
                        {{/each}}
                      </div>
                  </div>
                {{/groupEach}}
                </div>

            </div>
            </script>
            <!-- js config -->



        <script>

          $(document).on("mascotReady", function() {
            new mascot.Sponsor("#sponsors", {
              url: "https://sponsortool.penton.com/json/1571181",
              template: "#my-sponsor-carousel-template",
              levelOrder:"1,11,2,3,4,5,6,7,8,9",
              sorts:"randomize"
            });

            setTimeout(function(){
              $('#spon-carousel .item:first-child').addClass('active');
              $('#spon-carousel .carousel').carousel();
            }, 2000);

          });

        </script>
