
.social-icons a i {
     font-size: 30px;
     color: #707070;
}

.top-social-icons {
     float: right;
     margin-left: 394px;
     padding-bottom: 0px;
     margin-bottom: 0px;
}

/**     Social - Link     **/
.sociallinks .socialIcon ul {
     float: none;
     font-size: 0;
}

.sociallinks .socialIcon ul li {
     display: inline-block;
     border-left: 0;
     float: none;
}

.sociallinks .socialIcon ul li a {
     padding: 0;
     margin-left: 6px;
}

.sociallinks .socialIcon ul li a i {
     background: none repeat scroll 0 0 #b2b2b2;
     border-radius: 50%;
     color: #fff;
     height: 30px;
     margin: 1px 0 10px;
     text-align: center;
     width: 30px;
     display: inline-block;
     line-height: 30px;
     font: normal normal normal 15px/1 FontAwesome;
     font-size: 13px;
}

.sociallinks .socialIcon ul li a i.facebookIcon:after {
     content: "\f09a";
     line-height: 30px;
}

.sociallinks .socialIcon ul li a i.instagramIcon:after {
     content: "\f16d";
     line-height: 30px;
}

.sociallinks .socialIcon ul li a i.youtubeIcon:after {
     content: "\f167";
     line-height: 30px;
}

.sociallinks .socialIcon ul li a i.linkedinIcon:after {
     content: "\f0e1";
     line-height: 30px;
}

.sociallinks .socialIcon ul li a i.twitterIcon:after {
     content: "\f099";
     line-height: 30px;
}

.sociallinks .socialIcon ul li a i:hover {
     background: #666666;
}

/* Header email icon*/
.header-cta .email {
    /* Changes By IBM for UBM Site Migration */

     background: none repeat scroll 0 0 #b2b2b2;
     border-radius: 50%;
     color: #fff;
     height: 30px;
     text-align: center;
     width: 30px;
     display: inline-block;
     line-height: 30px;
     font: normal normal normal 15px/1 FontAwesome;
     font-size: 13px;
    position: absolute;
      right: 109px;
     text-align: center;
     padding-top: 8px;
    top:0;
}

.header-cta .email a {
     text-decoration: none;
     color: white;
}

.header-cta .email:hover {
     background: #666666;
}

/* Header Search icon*/


#search_Icon {
     position: absolute;
     background: none repeat scroll 0 0 #b2b2b2;
     color: #fff;
     height: 30px;
     margin: 1px 0 10px;
     text-align: center;
     width: 30px;
     display: inline-block;
     line-height: 30px;
     font: normal normal normal 15px/1 FontAwesome;
     font-size: 13px;
     padding: 8px;
     z-index: 99;
     right: 160px;
     border-radius: 50%;
}

#search_Icon:hover {
     background: #666666;
}

.header-search-element, /* <<<--- replacement */
#header_search { /* <<<--- ID selector to be replaced */
     position: fixed;
     top: 0;
     height: 100%;
     width: 100%;
     left: 0;
     z-index: 99999;
     background: rgba(0, 0, 0, .8);
     visibility: hidden;
     -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     -ms-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
     -webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
     -moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
     -o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
     -ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
     transform: perspective(200px) rotateX(-15deg) scale(0.75);
     opacity: 0;
}

.header-search-element.active, /* <<<--- replacement */
#header_search.active { /* <<<--- ID selector to be replaced */
     visibility: visible;
     -webkit-transform: perspective(200px) rotateX(0deg) scale(1);
     -moz-transform: perspective(200px) rotateX(0deg) scale(1);
     -o-transform: perspective(200px) rotateX(0deg) scale(1);
     -ms-transform: perspective(200px) rotateX(0deg) scale(1);
     transform: perspective(200px) rotateX(0deg) scale(1);
     opacity: 1;
}

.header-search-element .search-form, /* <<<--- replacement */
#header_search .search-form { /* <<<--- ID selector to be replaced */

     display: table;
     width: 100%;
     height: 100%;
}

.header-search-element .search-form .input-group, /* <<<--- replacement */
#header_search .search-form .input-group { /* <<<--- ID selector to be replaced */

     display: table-cell;
     vertical-align: middle;
     text-align: center;
}

.header-search-element .search-form .input-group input[type="text"], /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"] { /* <<<--- ID selector to be replaced */
     display: inline-block;
     width: 50%;
     margin: auto;
     border: 0;
     background: none;
     font-size: 3vw;
     font-weight: 600;
     color: #ffffff;
     border-bottom: 1px solid rgba(255, 255, 255, 0.7);
     float: none;
     padding: 10px 5% 10px 2%;
     height: auto;
     position: relative;
     left: 3%;
}

.header-search-element .search-form .input-group input[type="text"]::-webkit-input-placeholder, /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"]::-webkit-input-placeholder { /* <<<--- ID selector to be replaced */
     /* Chrome/Opera/Safari */
     color: #cccccc;
}

.header-search-element .search-form .input-group input[type="text"]::-moz-placeholder, /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"]::-moz-placeholder { /* <<<--- ID selector to be replaced */
     /* Firefox 19+ */
     color: #cccccc;
}
.header-search-element .search-form .input-group input[type="text"]:-ms-input-placeholder, /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"]:-ms-input-placeholder { /* <<<--- ID selector to be replaced */
     /* IE 10+ */
     color: #cccccc;
}

.header-search-element .search-form .input-group input[type="text"]:-moz-placeholder, /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"]:-moz-placeholder { /* <<<--- ID selector to be replaced */
     /* Firefox 18- */
     color: #cccccc;
}

.header-search-element .search-form .input-group .input-group-btn, /* <<<--- replacement */
#header_search .search-form .input-group .input-group-btn { /* <<<--- ID selector to be replaced */
     display: inline-block;
     position: relative;
     left: -3%;
     z-index: 99999;
     width: 5%;
}

.header-search-element .search-form .input-group .input-group-btn button, /* <<<--- replacement */
#header_search .search-form .input-group .input-group-btn button { /* <<<--- ID selector to be replaced */
     border: 0;
     outline: none;
     background: none;
}

.trig-close {
     position: absolute;
     top: 20px;
     right: 20px;
     color: #ffffff;
     font-size: 3vw;
     cursor: pointer;
     -webkit-transition: 300ms all ease-out;
     -moz-transition: 300ms all ease-out;
     -ms-transition: 300ms all ease-out;
     -o-transition: 300ms all ease-out;
}

.trig-close:hover {
     -webkit-transition: 300ms all ease-out;
     -moz-transition: 300ms all ease-out;
     -ms-transition: 300ms all ease-out;
     -o-transition: 300ms all ease-out;
     color: #f8ae00;
}

.header-search-element .search-form .input-group .input-group-btn button i, /* <<<--- replacement */
#header_search .search-form .input-group .input-group-btn button i { /* <<<--- ID selector to be replaced */
     font-size: 3vw;
     background: none;
     -webkit-transition: 300ms all ease-out;
     -moz-transition: 300ms all ease-out;
     -ms-transition: 300ms all ease-out;
     -o-transition: 300ms all ease-out;
}

.header-search-element .search-form .input-group .input-group-btn button i:hover, /* <<<--- replacement */
#header_search .search-form .input-group .input-group-btn button i:hover { /* <<<--- ID selector to be replaced */
     color: #f8ae00;
     -webkit-transition: 300ms all ease-out;
     -moz-transition: 300ms all ease-out;
     -ms-transition: 300ms all ease-out;
     -o-transition: 300ms all ease-out;
}
