<!-- START CUSTOM COMPONENT 1 -->

<!-- Custom font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet" />

 <!-- Mascot styles -->
 <link rel="stylesheet" href="https://pentonweb.com/events/mascot/klaus/1.0/css/mascot.css" />
 <!-- Handlebars 4 CDN -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
 <!-- Mascot scripts -->
 <script src="https://pentonweb.com/events/mascot/klaus/1.0/js/mascot.js"></script>
 <style>
 /* Address the issue on sponsor being blocked by ad blockers */
 :root .sponsor-logo,
 :root .sponsor-logo img {display:block !important;}
 </style>



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56146934-15', 'auto');
  ga('send', 'pageview');

</script>

<!-- outbound -->
<script>
/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {
     'transport': 'beacon',
     'hitCallback': function(){document.location = url;}
   });
}
</script>
<!-- end -->

<!-- Begin Eloqua  -->
<script type="text/javascript">
    var _elqQ = _elqQ || [];
    _elqQ.push(['elqSetSiteId', '2130']);
    _elqQ.push(['elqTrackPageView']);

    (function () {
    function async_load() {
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
    s.src = '//img03.en25.com/i/elqCfg.min.js';
    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    }
    if (window.addEventListener) window.addEventListener('DOMContentLoaded', async_load, false);
    else if (window.attachEvent) window.attachEvent('onload', async_load);
  })();
</script>
<!--End Eloqua -->

<script async="async" src="https://www.googletagservices.com/tag/js/gpt.js"></script>

<!-- Start: GPT Sync Expo West  -->
<script type='text/javascript'>
  var gptadslots=[];
  (function(){
    var useSSL = 'https:' == document.location.protocol;
    var src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
    document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
  })();
</script>

<script>
 var googletag = googletag || {};
 googletag.cmd = googletag.cmd || [];

googletag.pubads().collapseEmptyDivs();

 var mapping = googletag.sizeMapping()
    .addSize([0, 0], [320, 50])     // Show 320x50 size on devices < 768px
    .addSize([768, 200], [728, 90]) // Show 728x90 size on devices >= 768px
    .build();
</script>


<!--<script type="text/javascript">
  var gptAdSlots = [];
  var mapping = googletag.sizeMapping()
    .addSize([0, 0], [320, 50])     // Show 320x50 size on devices < 768px
    .addSize([768, 200], [728, 90]) // Show 728x90 size on devices >= 768px
    .build();

  //Adslot 1 declaration
  gptadslots[1]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[320,50],[728,90]],'gpt-728_1').defineSizeMapping(mapping).setTargeting('pos',['728_1']).addService(googletag.pubads());

  //Adslot 2 declaration
  gptadslots[2]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[300,600],[300,250]],'gpt-300_1').setTargeting('pos',['300_1']).addService(googletag.pubads());

  //Adslot 3 declaration
  gptadslots[3]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[300,600],[300,250]],'gpt-300_2').setTargeting('pos',['300_2']).addService(googletag.pubads());

  //Adslot 4 declaration
  gptadslots[4]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[1,1]],'gpt-floor').setTargeting('pos',['floor']).addService(googletag.pubads());

  //Adslot 5 declaration
  gptadslots[5]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[300,600],[300,250]],'gpt-300_3').setTargeting('pos',['300_3']).addService(googletag.pubads());

  //Adslot oop declaration
/*  gptadslots[0] = googletag.defineOutOfPageSlot('/3834/expowest.iclick.com/adtarget', 'gpt-oop').addService(googletag.pubads()); */

  googletag.pubads().enableSingleRequest();
  googletag.pubads().enableSyncRendering();
  googletag.enableServices();
</script>-->
<!-- End: GPT -->

<!-- Fresh Chat Code -->
<script src="https://snippets.freshchat.com/js/fc-pre-chat-form-v2.js"></script>
<script>
  var preChatTemplate = {
    mainbgColor: '#d34a5b',
    maintxColor: '#fff',
    heading: 'Natural Products Expo West',
    textBanner: 'We can\'t wait to talk to you. But first, please take a couple of moments to tell us a bit about yourself.',
    SubmitLabel: 'Start Chat',
    fields: {
      field1: {
        type: "title",
        label: "Company Name",
        fieldId: "title",
        required: "yes",
        error: "Please Enter a valid Company Name"
      },
      field2: {
        type: "name",
        label: "Name",
        fieldId: "name",
        required: "yes",
        error: "Please Enter a valid name"
      },
      field3: {
        type: "email",
        label: "Email",
        fieldId: "email",
        required: "yes",
        error: "Please Enter a valid Email"
      },
      field4: {
        type: "phone",
        label: "Phone",
        fieldId: "phone",
        required: "no",
        error: "Please Enter a valid Phone Number"
      }
    }
  };
  window.fcSettings = {
    token: "26c2efd4-db9f-43cd-86ca-701a1fed47a1",

    host: "https://wchat.freshchat.com",
    siteId: "Natural Products Expo West",
      config: {
      disableEvents: true,
      cssNames: {
        widget: 'custom_fc_frame',
        expanded: 'custom_fc_expanded'
      },
      showFAQOnOpen: true,
      hideFAQ: true,
      agent: {
        hideName: false,
        hidePic: false,
        hideBio: false,
      },
      headerProperty: {
        appName: 'Natural Products Expo West',
        backgroundColor: '#d34a5b',
        foregroundColor: '#ffffff',
      },
      content: {
        placeholders: {
          search_field: 'Search',
          reply_field: 'Reply',
          csat_reply: 'Add your comments here'
        },
        actions: {
          csat_yes: 'Yes',
          csat_no: 'No',
          push_notify_yes: 'Yes',
          push_notify_no: 'No',
          tab_faq: 'Solutions',
          tab_chat: 'Chat',
          csat_submit: 'Submit'
        },
        headers: {
          chat: 'How can we help you?',
          push_notification: 'Don\'t miss out on any replies! Allow push notifications?',
          csat_question: 'Did we address your concerns??',
          csat_yes_question: 'How would you rate this interaction?',
          csat_no_question: 'How could we have helped better?',
          csat_thankyou: 'Thanks for the response',
          csat_rate_here: 'Submit your rating here',
          channel_response: {
            offline: 'We are currently away. Please leave us a message'
          }
        }
      }
    }
    ,
    onInit: function() {
      console.log('widget init');
      fcPreChatform.fcWidgetInit(preChatTemplate);
    }
  };

</script>
<script src="https://wchat.freshchat.com/js/widget.js" async></script>

<style>.custom_fc_frame {bottom: 80px !important;}</style>

<!-- END CUSTOM COMPONENT 1 -->
