<!-- CUSTOM COMPONENT 1 -->

<!-- Custom font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet" />

 <!-- Mascot styles -->
 <link rel="stylesheet" href="https://pentonweb.com/events/mascot/klaus/1.0/css/mascot.css" />
 <!-- Handlebars 4 CDN -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
 <!-- Mascot scripts -->
 <script src="https://pentonweb.com/events/mascot/klaus/1.0/js/mascot.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56146934-15', 'auto');
  ga('send', 'pageview');

</script>

<!-- outbound -->
<script>
/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {
     'transport': 'beacon',
     'hitCallback': function(){document.location = url;}
   });
}
</script>
<!-- end -->

<!-- Begin Eloqua  -->
<script type="text/javascript">
    var _elqQ = _elqQ || [];
    _elqQ.push(['elqSetSiteId', '2130']);
    _elqQ.push(['elqTrackPageView']);

    (function () {
    function async_load() {
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
    s.src = '//img03.en25.com/i/elqCfg.min.js';
    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    }
    if (window.addEventListener) window.addEventListener('DOMContentLoaded', async_load, false);
    else if (window.attachEvent) window.attachEvent('onload', async_load);
  })();
</script>
<!--End Eloqua -->

<script async="async" src="https://www.googletagservices.com/tag/js/gpt.js"></script>

<!-- Start: GPT Sync Expo West  -->
<script type='text/javascript'>
  var gptadslots=[];
  (function(){
    var useSSL = 'https:' == document.location.protocol;
    var src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
    document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
  })();
</script>

<script>
 var googletag = googletag || {};
 googletag.cmd = googletag.cmd || [];

googletag.pubads().collapseEmptyDivs();

 var mapping = googletag.sizeMapping()
    .addSize([0, 0], [320, 50])     // Show 320x50 size on devices < 768px
    .addSize([768, 200], [728, 90]) // Show 728x90 size on devices >= 768px
    .build();
</script>


<!--<script type="text/javascript">
  var gptAdSlots = [];
  var mapping = googletag.sizeMapping()
    .addSize([0, 0], [320, 50])     // Show 320x50 size on devices < 768px
    .addSize([768, 200], [728, 90]) // Show 728x90 size on devices >= 768px
    .build();

  //Adslot 1 declaration
  gptadslots[1]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[320,50],[728,90]],'gpt-728_1').defineSizeMapping(mapping).setTargeting('pos',['728_1']).addService(googletag.pubads());

  //Adslot 2 declaration
  gptadslots[2]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[300,600],[300,250]],'gpt-300_1').setTargeting('pos',['300_1']).addService(googletag.pubads());

  //Adslot 3 declaration
  gptadslots[3]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[300,600],[300,250]],'gpt-300_2').setTargeting('pos',['300_2']).addService(googletag.pubads());

  //Adslot 4 declaration
  gptadslots[4]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[1,1]],'gpt-floor').setTargeting('pos',['floor']).addService(googletag.pubads());

  //Adslot 5 declaration
  gptadslots[5]= googletag.defineSlot('/3834/expowest.iclick.com/adtarget', [[300,600],[300,250]],'gpt-300_3').setTargeting('pos',['300_3']).addService(googletag.pubads());

  //Adslot oop declaration
/*  gptadslots[0] = googletag.defineOutOfPageSlot('/3834/expowest.iclick.com/adtarget', 'gpt-oop').addService(googletag.pubads()); */

  googletag.pubads().enableSingleRequest();
  googletag.pubads().enableSyncRendering();
  googletag.enableServices();
</script>-->
<!-- End: GPT -->

<!-- Fresh Chat Code -->
<script src="https://snippets.freshchat.com/js/fc-pre-chat-form-v2.js"></script>
<script>
  var preChatTemplate = {
    mainbgColor: '#6e1b57',
    maintxColor: '#fff',
    heading: 'Natural Products Expo West',
    textBanner: 'We can\'t wait to talk to you. But first, please take a couple of moments to tell us a bit about yourself.',
    SubmitLabel: 'Start Chat',
    fields: {
      field1: {
        type: "title",
        label: "Company Name",
        fieldId: "title",
        required: "yes",
        error: "Please Enter a valid Company Name"
      },
      field2: {
        type: "name",
        label: "Name",
        fieldId: "name",
        required: "yes",
        error: "Please Enter a valid name"
      },
      field3: {
        type: "email",
        label: "Email",
        fieldId: "email",
        required: "yes",
        error: "Please Enter a valid Email"
      },
      field4: {
        type: "phone",
        label: "Phone",
        fieldId: "phone",
        required: "no",
        error: "Please Enter a valid Phone Number"
      }
    }
  };
  window.fcSettings = {
    token: "26c2efd4-db9f-43cd-86ca-701a1fed47a1",

    host: "https://wchat.freshchat.com",
    siteId: "Natural Products Expo West",
      config: {
      disableEvents: true,
      cssNames: {
        widget: 'custom_fc_frame',
        expanded: 'custom_fc_expanded'
      },
      showFAQOnOpen: true,
      hideFAQ: true,
      agent: {
        hideName: false,
        hidePic: false,
        hideBio: false,
      },
      headerProperty: {
        appName: 'Natural Products Expo West',
        backgroundColor: '#802145',
        foregroundColor: '#ffffff',
      },
      content: {
        placeholders: {
          search_field: 'Search',
          reply_field: 'Reply',
          csat_reply: 'Add your comments here'
        },
        actions: {
          csat_yes: 'Yes',
          csat_no: 'No',
          push_notify_yes: 'Yes',
          push_notify_no: 'No',
          tab_faq: 'Solutions',
          tab_chat: 'Chat',
          csat_submit: 'Submit'
        },
        headers: {
          chat: 'How can we help you?',
          push_notification: 'Don\'t miss out on any replies! Allow push notifications?',
          csat_question: 'Did we address your concerns??',
          csat_yes_question: 'How would you rate this interaction?',
          csat_no_question: 'How could we have helped better?',
          csat_thankyou: 'Thanks for the response',
          csat_rate_here: 'Submit your rating here',
          channel_response: {
            offline: 'We are currently away. Please leave us a message'
          }
        }
      }
    }
    ,
    onInit: function() {
      console.log('widget init');
      fcPreChatform.fcWidgetInit(preChatTemplate);
    }
  };

</script>
<script src="https://wchat.freshchat.com/js/widget.js" async></script>

<style>.custom_fc_frame {bottom: 80px !important;}</style>

<!-- CUSTOM COMPONENT 1 -->


<!-- CUSTOM COMPONENT 2 -->

<!-- Pixel audience extension campaign code -->
<script type="text/javascript">
adroll_adv_id = "LUV3R27DM5EOPGX6FCORFU";
adroll_pix_id = "VG624RVLQJHUTPHEIQJLEW";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

<!-- Google Code for Remarketing Tag -->
<!--
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 844270844;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/844270844/?guid=ON&script=0"/>
</div>
</noscript>

<!-- CUSTOM COMPONENT 2 -->


<!-- CUSTOM COMPONENT 3 -->

<script>
  $(document).on("mascotReady", function() {
    new mascot.Sponsor("#sponsor-carousel", {
      url: "https://sponsortool.penton.com/json/1570156",
      template: "sponsor-carousel",
      sorts: "randomize"
    });
  });
</script>

<!-- CUSTOM COMPONENT 3 -->



<!-- CUSTOM COMPONENT 4 - New Center Column here -->

<!--<div id="gpt-728_1" class="gpt-ad gpt-ad--728x90 gpt-ad--320x50-sm">
  <script type='text/javascript'>googletag.display('gpt-728_1');</script>
</div>-->

 <!-- ad code 728x90 #1 -->
<div id="gpt-728_1">
  <script>
    googletag.cmd.push(function() {
      googletag.defineSlot('/3834/expowest.iclick.com', [[970, 90], [728, 90], [320, 50]],'gpt-728_1')
.defineSizeMapping(mapping).setTargeting('pos',['728_1'])
.addService(googletag.pubads())
.setTargeting('pos', ['728_1']);
      googletag.enableServices();
      googletag.pubads().collapseEmptyDivs();
      googletag.display('gpt-728_1');
  });
  </script>
</div>

<!-- CUSTOM COMPONENT 4 - New Center Column here -->



<!-- CUSTOM COMPONENT 5 -->

<!–– Schema Markup ––>
<script type="application/ld+json">
	{
		"startDate": "2020-03-3T07:00:00",
		"endDate": "2020-03-7T21:00:00",
		"name": "Natural Products Expo West 2020",
		"url": "https://www.expowest.com/en/home.html",
		"image": "https://www.expowest.com/content/dam/Informa/npe-west/en/images/EW19-Arena-plaza.jpg",
		"eventStatus": "EventScheduled",
		"offers": [{
			"priceCurrency": "USD",
			"url": "https://www.expowest.com/en/register/why-attend.html",
			"lowPrice": 0.0,
			"Price": 0.0,
			"highPrice": 0.0,
			"@type": "AggregateOffer",
			"validFrom": "2019-09-15T07:00:00",
			"availability": "InStock"
		}],
		"location": {
			"address": {
				"addressCountry": "US",
				"addressLocality": "Anaheim",
				"addressRegion": "CA",
				"streetAddress": "800 W Katella Ave",
				"postalCode": "92802",
				"@type": "PostalAddress"
			},
			"@type": "Place",
			"name": "Anaheim Convention Center"
		},
		"performer": [{
			"@type": "Person",
			"name": "Dr. Kyria Boundy-Mills"
		},{
			"@type": "Person",
			"name": "Erin Callahan"
		},{
			"@type": "Person",
			"name": "Lara Dickinson"
		},{
			"@type": "Person",
			"name": "Dr. Glen Fox"
		},{
			"@type": "Person",
			"name": "Alyssa Harding"
		},{
			"@type": "Person",
			"name": "Jeni Lamb Rogers JD, MS"
		},{
			"@type": "Person",
			"name": "Denver Lewis"
		},{
			"@type": "Person",
			"name": "Todd Runestad"
		},{
			"@type": "Person",
			"name": "Cameron Simcik"
		},{
			"@type": "Person",
			"name": "Dr. Carolyn Slupsky"
		},{
			"@type": "Person",
			"name": "Dr. Luxin Wang"
		}],
		"@context": "http://schema.org",
		"organizer": {
			"url": "https://www.expowest.com/en/home.html",
			"description": "Tradeshows, education conferences, and in-person networking events continue to be the preferred means of finding new industry opportunities while strengthening current business relationships. Whether you are looking to launch a new product, connect with top buyers, increase awareness of your brand, or tap into the latest natural and organic trends, our in-person events can help take your business to the next level.",
			"@type": "Organization",
			"name": "Natural Products Expo West"
		},
		"@type": "BusinessEvent",
		"description": "Whether you are looking for health and beauty, organic, or natural and specialty foods, this is THE place to see the newest products and trends this fall. Expo East connects you with the people behind the products, introduces you to industry experts in the classroom, and invites you to have fun with a community of other like-minded professionals."
	}
</script>

<!-- CUSTOM COMPONENT 5 -->



<!-- Gray Informa Bar -->

<!-- customheader-wrapper - Main Menu -->



<!-- CUSTOM COMPONENT 6 -->

<style>

.no-padding {padding:0px;}

.two-equal-columns-height .row .col-sm-6 {
    flex: 1;
}

.two-equal-columns-height .branding-img-left .col-sm-3 {
    position: absolute;
    bottom: 0;
    width: 40%;
    left: 0;
    padding: 0;
}

.two-equal-columns-height .branding-img-left .col-sm-9 {
    width: 60%;
    margin-left: 30%;
    padding: 0px 60px 60px 0 !important;
}

.two-equal-columns-height .branding-img-right .col-sm-3 {
    position: absolute;
    bottom: 0;
    width: 40%;
    right: 0;
    padding: 0;
}

.two-equal-columns-height .branding-img-right .col-sm-9 {
    width: 60%;
    margin-right: 30%;
    padding: 0px 0 60px 60px !important;
}

@media (max-width: 1400px) {

.two-equal-columns-height .branding-img-left .col-sm-9 {
    margin-left: 10%;
    width: 80%;
}

.two-equal-columns-height .branding-img-left .col-sm-3 {
    display: none;
}

.two-equal-columns-height .branding-img-right .col-sm-9 {
    margin-right: 10%;
    width: 80%;
}

.two-equal-columns-height .branding-img-right .col-sm-3 {
    display: none;
}

}


@media (max-width: 991px) {

.two-equal-columns-height .branding-img-right .col-sm-9 {
    margin-right: 0;
    width: 100%;
    padding: 20px !important;
}

.two-equal-columns-height .branding-img-left .col-sm-9 {
    margin-left: 0;
    width: 100%;
    padding: 20px !important;
}

}

@media (min-width: 1200px) {

.sponsor-container .home-page-carousel .sponsorsandpartners li {
    max-width: 230px !important;
}

.platinumsponsors .sponsor-container  .home-page-carousel .sponsorsandpartners li .thumbnail .sponsorsImgItem img {
    max-width: 100% !important;
    max-height: 130px !important;
}

.goldsponsors .sponsor-container  .home-page-carousel .sponsorsandpartners li .thumbnail .sponsorsImgItem img {
    max-width: 100% !important;
    max-height: 110px !important;
}

.silversponsors .sponsor-container  .home-page-carousel .sponsorsandpartners li .thumbnail .sponsorsImgItem img {
    max-width: 100% !important;
    max-height: 100px !important;
}



}

</style>

<!-- CUSTOM COMPONENT 6 -->



<!--  Column Control -->
<!-- CUSTOM COMPONENT 7 -->

<!-- ad code bottom 728x90 -->
<div id="gpt-728_2">
 <script>
   googletag.cmd.push(function() {
     googletag.defineSlot('/3834/expowest.iclick.com', [[728, 90], [320, 50]],'gpt-728_2')
.defineSizeMapping(mapping)
.addService(googletag.pubads())
.setTargeting('pos', ['728_2']);
     googletag.enableServices();
     googletag.pubads().collapseEmptyDivs();
     googletag.display('gpt-728_2');
 });
 </script>
</div>

<!-- CUSTOM COMPONENT 7 -->
<!--  Column Control -->
