.sponsor-level {
  margin: 0;
}
.sponsor-name {
  margin: 0;
  font-size: 16px;
}
.sponsor-logo {
  display: block;
  position: relative;
  overflow: hidden;
  width: 211px;
  height: 146px;
  margin: 15px auto;
}
.sponsor-logo__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.sponsor-logo--1 {
  width: 211px;
  height: 146px;
}
.sponsor-logo--1 .sponsor-logo__img {
  width: 159px;
}
.sponsor-logo--1 .sponsor-logo__img.sponsor-logo__img--upsize {
  width: 211px;
}
.sponsor-logo--1 .sponsor-logo__img.sponsor-logo__img--downsize {
  width: 120px;
}

.sponsor-logo--2 {
  width: 159px;
  height: 110px;
}
.sponsor-logo--2 .sponsor-logo__img {
  width: 120px;
}
.sponsor-logo--2 .sponsor-logo__img.sponsor-logo__img--upsize {
  width: 159px;
}
.sponsor-logo--2 .sponsor-logo__img.sponsor-logo__img--downsize {
  width: 90px;
}

.sponsor-logo--3 {
  width: 120px;
  height: 83px;
}
.sponsor-logo--3 .sponsor-logo__img {
  width: 90px;
}
.sponsor-logo--3 .sponsor-logo__img.sponsor-logo__img--upsize {
  width: 120px;
}
.sponsor-logo--3 .sponsor-logo__img.sponsor-logo__img--downsize {
  width: 75px;
}

.sponsor-carousel .item {
  overflow: hidden;
  z-index: 10;
}
.sponsor-carousel {
  .sponsor-logo {
    margin-bottom: 30px;
    z-index: 10;
  }
  .carousel-caption {
    color: inherit;
    text-shadow: none;
    padding: 0;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
  }
  .sponsor-wrapper {
    overflow: hidden;
  }
  .sponsor-wrapper--caption-top {
    .sponsor-logo {
      margin-top: 30px;
      margin-bottom: 15px;
    }
    .carousel-caption {
      top: 0;
    }
  }
}






.card--caption {
  &.sponsor-logo--1 {
    top: (146px + 15);
  }
  &.sponsor-logo--2 {
    top: (110px + 15);
  }
  &.sponsor-logo--3 {
    top: (83px + 15);
  }
}

.sponsor-body {
  font-size: 13px;
  margin-bottom: 10px;
}
.sponsor-title {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 10px;
}

.card {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}
.card--object {
  padding-bottom: 30px;
}
.card--caption {
  display: block !important;
  position: absolute;
  top: (146px + 15);
  left: 0;
  right: 0;
  width: 100%;
  height: 100% !important;
  transition: top .33s ease-out;
  &.in,
  &.collapsing {
    top: 0;
    overflow: scroll;
  }
}
.card--caption--body {
  min-height: 100%;
  padding: 10px;
  background-color: rgba(240,240,240,.9);
}
.card--caption--title {
  margin-top: 0;
  min-height: 30px;
}

.sponsor-logo-description__body {
  overflow: hidden;
}
