<!-- the view -->
<div id="sponsor-list-custom" class="loading-ui"></div>
<!-- js config -->
<script id="sponsor-list-custom-template" type="text/x-handlebars-template">

<style>
  .sponsor-listing {
    padding:0 15px;
  }
  .sponsor-listing .img-holder{
    position:relative;
    height: 110px;
    margin: 0 auto 30px;
  }
  .sponsor-listing .img-holder.sponsor-logo--1{
    width: 159px;
    height: 110px;
  }
  .sponsor-listing .img-holder.sponsor-logo--2 {
    width: 120px;
    height: 83px;
  }
  .sponsor-listing .img-holder.sponsor-logo--3 img {
    width:90px;
  }
  .sponsor-listing .img-holder.sponsor-logo--4 img {
    width:62px;
  }
  .sponsor-listing .img-holder img.upsize {
    width:221px;
  }
  .sponsor-listing .img-holder img {
    position: absolute;
    top: 50%;
    left: 50%;
    width:120px;
    max-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
</style>

<div class="m-template m-template--sponsor-list">
  {{> timedOut}}
  {{#unless timedOut}}
    {{> noItems message="No sponsors found"}}
    {{log items}}
    <div class="sponsor-listing">
      {{#if items.length}}
        <!-- Items loop -->
        <div class="row">

          {{#distinct items "field_logo_sponsor_level"}}
            {{#each this}}

              {{#if (eq this "1")}}
                <h3>Platinum</h3>
              {{else if (eq this "2")}}
                <h3>Gold</h3>
              {{else if (eq this "3")}}
                <h3>Silver</h3>
              {{else if (eq this "4")}}
                <h3>Marketing Partner</h3>
              {{else if (eq this "5")}}
                <h3>Official Publication</h3>
              {{else if (eq this "6")}}
                <h3>Partner</h3>
              {{else if (eq this "7")}}
                <h3>Media Partner</h3>
              {{else if (eq this "8")}}
                <h3>Supported By</h3>
              {{else if (eq this "9")}}
                <h3>MALMS Industry Supporter</h3>
              {{else if (eq this "10")}}
                <h3>Partner</h3>
              {{/if}}

              <div class="row">

                {{#where ../../items "field_logo_sponsor_level" this }}
                  {{#each this}}
                    {{#if (eq this.field_logo_sponsor_level "1")}}
                      <div class="col-md-6">
                    {{else if (eq this.field_logo_sponsor_level "2")}}
                      <div class="col-xs-6 col-lg-4">
                    {{else if (eq this.field_logo_sponsor_level "3")}}
                      <div class="col-xs-6 col-lg-4">
                    {{else}}
                      <div class="col-xs-6 col-lg-3">
                    {{/if}}

                    {{#if (eq this.field_logo_sponsor_level "4")}}
                      <div class="img-holder sponsor-logo--3">
                    {{else if (eq this.field_logo_sponsor_level "5")}}
                      <div class="img-holder sponsor-logo--3">
                    {{else if (eq this.field_logo_sponsor_level "6")}}
                      <div class="img-holder sponsor-logo--3">
                    {{else if (eq this.field_logo_sponsor_level "7")}}
                      <div class="img-holder sponsor-logo--3>
                    {{else if (eq this.field_logo_sponsor_level "8")}}
                      <div class="img-holder sponsor-logo--3">
                    {{else if (eq this.field_logo_sponsor_level "9")}}
                      <div class="img-holder sponsor-logo--3">
                    {{else if (eq this.field_logo_sponsor_level "10")}}
                      <div class="img-holder sponsor-logo--3">
                    {{else}}
                      <div class="img-holder">
                    {{/if}}

                    {{#if field_sponsor_website}}
                      <a href="{{field_sponsor_website}}" target="_blank"><img src="{{field_logo_image}}" alt="{{title}}" class="item-logo {{field_logo_class}} img-responsive" /></a>
                    {{else}}
                      <img src="{{field_logo_image}}" alt="{{title}}" class="item-logo {{field_logo_class}}img-responsive" />
                    {{/if}}
                      </div>
                    </div>
                  {{/each}}
                {{/where}}

                </div>
              {{/each}}
            {{/distinct}}
          </div>
      {{/if}}
    </div>
  {{/unless}}
</div>
</script>

<script>

// Handlebars.registerHelper('heading', function (property, options) {
//
//     var heading = "";
//     if(property=="1"){
//       heading = "Produced By";
//     }
//
//     return options.fn(heading);
// });

Handlebars.registerHelper('eq', function () {
    const args = Array.prototype.slice.call(arguments, 0, -1);
    return args.every(function (expression) {
        return args[0] === expression;
    });
});

Handlebars.registerHelper("distinct", function (listOfObjects, property, options) {
    var unique = {};
    var distinctList = [];

    for (var objectIndex in listOfObjects) {
        var object = listOfObjects[objectIndex];

        if (typeof (unique[object[property]]) == "undefined") {
            distinctList.push(object[property]);
        }

        unique[object[property]] = 0;
    }

    return options.fn(distinctList);
});

Handlebars.registerHelper("where", function (collection, property, value, options) {
    var subset = [];

    for (var teamIndex in collection) {
        var team = collection[teamIndex];

        if (team[property] !== undefined && team[property].toLowerCase() === value.toLowerCase()) {
            subset.push(team);
        }
    }

    return options.fn(subset);
});


$(document).on("mascotReady",function($bootstrap){
  new mascot.Sponsor("#sponsor-list-custom",{
    url: "https://sponsortool.penton.com/json/1570156",
      template:"#sponsor-list-custom-template",
      levelOrder: "1,2,3,4,5,6,7,8,9,10,11,12,13",
      logoType: {
        "base": "sponsorLogoCard"
      }
    });
  });
</script>
