<!-- the view -->
<div id="sponsor-list-custom" class="loading-ui"></div>
<!-- js config -->
<script id="sponsor-list-custom-template" type="text/x-handlebars-template">

<style>
  /* .sponsor-listing {
    padding:0 15px;
  }
  .sponsor-listing .img-holder{
    position:relative;
    height: 110px;
    margin: 0 auto 30px;
  }
  .sponsor-listing .img-holder.sponsor-logo--1{
    width: 159px;
    height: 110px;
  }
  .sponsor-listing .img-holder.sponsor-logo--2 {
    width: 120px;
    height: 83px;
  }
  .sponsor-listing .img-holder.sponsor-logo--3 img {
    width:90px;
  }
  .sponsor-listing .img-holder.sponsor-logo--4 img {
    width:62px;
  }
  .sponsor-listing .img-holder img.upsize {
    width:221px;
  }
  .sponsor-listing .img-holder img {
    position: absolute;
    top: 50%;
    left: 50%;
    width:120px;
    max-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  } */



  .sponsor-level {
    margin: 0;
  }
  .sponsor-name {
    margin: 0;
    font-size: 16px;
  }
  .sponsor-logo {
    display: block;
    position: relative;
    overflow: hidden;
    width: 211px;
    height: 146px;
    margin: 15px auto;
  }
  .sponsor-logo__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .sponsor-logo--1 {
    width: 211px;
    height: 146px;
  }
  .sponsor-logo--1 .sponsor-logo__img {
    width: 159px;
  }
  .sponsor-logo--1 .sponsor-logo__img.sponsor-logo__img--upsize {
    width: 211px;
  }
  .sponsor-logo--1 .sponsor-logo__img.sponsor-logo__img--downsize {
    width: 120px;
  }

  .sponsor-logo--2 {
    width: 159px;
    height: 110px;
  }
  .sponsor-logo--2 .sponsor-logo__img {
    width: 120px;
  }
  .sponsor-logo--2 .sponsor-logo__img.sponsor-logo__img--upsize {
    width: 159px;
  }
  .sponsor-logo--2 .sponsor-logo__img.sponsor-logo__img--downsize {
    width: 90px;
  }

  .sponsor-logo--3 {
    width: 120px;
    height: 83px;
  }
  .sponsor-logo--3 .sponsor-logo__img {
    width: 90px;
  }
  .sponsor-logo--3 .sponsor-logo__img.sponsor-logo__img--upsize {
    width: 120px;
  }
  .sponsor-logo--3 .sponsor-logo__img.sponsor-logo__img--downsize {
    width: 75px;
  }



  /* .card--caption {
    &.sponsor-logo--1 {
      top: (146px + 15);
    }
    &.sponsor-logo--2 {
      top: (110px + 15);
    }
    &.sponsor-logo--3 {
      top: (83px + 15);
    }
  } */

  .sponsor-body {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .sponsor-title {
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 10px;
  }

  .card {
    /* position: relative;
    overflow: hidden; */
    margin-bottom: 15px;
    position: unset;
    overflow: visible;
  }
  .card--object {
    padding-bottom: 30px;
  }
  .card--caption {
    display: block !important;
    position: absolute;
    /* top: (146px + 15); */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100% !important;
    transition: top .33s ease-out;
    &.in,
    &.collapsing {
      top: 0;
      overflow: scroll;
    }
  }
  .card--caption--body {
    min-height: 100%;
    padding: 10px;
    background-color: rgba(240,240,240,.9);
  }
  .card--caption--title {
    margin-top: 0;
    min-height: 30px;
  }

  .sponsor-logo-description__body {
    overflow: hidden;
  }

</style>

<div class="m-template m-template--sponsor-list">
  {{> timedOut}}
  {{#unless timedOut}}
    {{> noItems message="No sponsors found"}}
    {{log items}}
    <div class="sponsor-listing">
      {{#if items.length}}
        <!-- Items loop -->
        <div class="row">

          {{#distinct items "field_logo_sponsor_level"}}
            {{#each this}}

              {{#if (eq this "0")}}
                <h3>Zero</h3>
              {{else if (eq this "1")}}
                <h3>Platinum</h3>
              {{else if (eq this "2")}}
                <h3>Gold</h3>
              {{else if (eq this "3")}}
                <h3>Silver</h3>
              {{else if (eq this "4")}}
                <h3>Marketing Partner</h3>
              {{else if (eq this "5")}}
                <h3>Official Publication</h3>
              {{else if (eq this "6")}}
                <h3>Official Publication</h3>

              {{/if}}

              <div class="row">


                {{#where ../../items "field_logo_sponsor_level" this }}
                  {{#each this}}


                    {{#if (eq this.field_logo_sponsor_level "0")}}
                      <div class="col-md-6 col-lg-2 sponsor-logo--1">
                    {{else if (eq this.field_logo_sponsor_level "1")}}
                      <div class="col-md-6 col-lg-2 sponsor-logo--1">
                    {{else if (eq this.field_logo_sponsor_level "2")}}
                      <div class="col-xs-6 col-lg-3 sponsor-logo--2">
                    {{else if (eq this.field_logo_sponsor_level "3")}}
                      <div class="col-xs-6 col-lg-3 sponsor-logo--2">
                    {{else if (eq this.field_logo_sponsor_level "4")}}
                      <div class="col-xs-6 col-lg-4 sponsor-logo--3">
                    {{else if (eq this.field_logo_sponsor_level "5")}}
                      <div class="col-xs-6 col-lg-4 sponsor-logo--3">
                    {{else if (eq this.field_logo_sponsor_level "6")}}
                      <div class="col-xs-6 col-lg-4 sponsor-logo--3">
                    {{else}}
                      <div class="col-xs-6 col-lg-4 sponsor-logo--3">
                    {{/if}}


                    <div class="m-partial m-partial--sponsor-logo-card card">
                      <div class="card--object">

                    {{#if field_sponsor_website}}
                      <a href="{{field_sponsor_website}}" target="_blank"><img src="{{field_logo_image}}" alt="{{title}}" class="item-logo {{field_logo_class}} img-responsive" /></a>
                    {{else}}
                      <img src="{{field_logo_image}}" alt="{{title}}" class="item-logo {{field_logo_class}}img-responsive" />
                    {{/if}}

                  </div><!-- .card--object -->


                  <div id="{{field_logo_sponsor_level_nid}}" class="card--caption collapse
                    {{lookup ../../../options.logoClass level}}
                  ">
                    <div class="sponsor-caption card--caption--body">
                      <h5 class="sponsor-title card--caption--title">
                        <a class="collapsed" data-toggle="collapse" href="#{{field_logo_sponsor_level_nid}}">
                          <i class="fa fa-chevron-down pull-right"></i>
                          {{{title}}}
                        </a>
                      </h5>
                      {{#if body}}<div class="sponsor-body">{{{body}}}</div>{{/if}}


<!-- Sponsor details -->
<div class="m-partial m-partial--sponsor-details">
<ul class="list-unstyled sponsor-details">
  {{#if carousel}}
    {{#if options.slideOpportunity}}
      {{#if options.field_logo_opportunity_status}}
        <li class="sponsor-opp-1">{{field_logo_opportunity}}</li>
      {{/if}}
      {{#if sponsor.field_logo_opportunity_two_status}}
        <li class="sponsor-opp-2">{{field_logo_opportunity_two}}</li>
      {{/if}}
      {{#if sponsor.field_logo_opportunity_three_status}}
        <li class="sponsor-opp-3">{{field_logo_opportunity_three}}</li>
      {{/if}}
    {{/if}}
    {{#if options.slideBoothNo}}
      {{#if sponsor.field_logo_booth}}
        <li class="sponsor-booth-no">Booth No: {{field_logo_booth}}</li>
      {{/if}}
    {{/if}}
    {{#if options.slideBoothUrl}}
      {{#if sponsor.field_sponsor_booth_url_status}}
        <li class="sponsor-booth-url"><a href="{{field_sponsor_booth_url}}">Booth Details</a></li>
      {{/if}}
    {{/if}}
  {{else}}
    <!-- list -->
    {{#if sponsor.field_logo_opportunity_status}}
      <li class="sponsor-opp-1">{{field_logo_opportunity}}</li>
    {{/if}}
    {{#if sponsor.field_logo_opportunity_two_status}}
      <li class="sponsor-opp-2">{{field_logo_opportunity_two}}</li>
    {{/if}}
    {{#if sponsor.field_logo_opportunity_three_status}}
      <li class="sponsor-opp-3">{{field_logo_opportunity_three}}</li>
    {{/if}}
    {{#if sponsor.field_logo_booth}}
      <li class="sponsor-booth-no">Booth No: {{field_logo_booth}}</li>
    {{/if}}
    {{#if sponsor.field_sponsor_booth_url_status}}
      <li class="sponsor-booth-url"><a href="{{field_sponsor_booth_url}}">Booth Details</a></li>
    {{/if}}
    {{#if sponsor.field_sponsor_email}}
      <li class="sponsor-email"><a href="mailto:{{field_sponsor_email}}">Email</a></li>
    {{/if}}
    {{#if sponsor.field_sponsor_website_status}}
      <li class="sponsor-website"><a href="{{field_sponsor_website}}" target="_blank">Website</a></li>
    {{/if}}
  {{/if}}
</ul>
</div>


                      {{#if body}}
                        <a class="collapsed" data-toggle="collapse" href="#{{field_logo_sponsor_level_nid}}">Close</a>
                      {{/if}}
                    </div>



                  </div><!-- .card--caption collapse -->
                </div><!-- .card -->


                  </div><!-- .img-holder -->
                </div><!-- last .col-xs-6 col-lg-3 -->






              {{/each}}
            {{/where}}





            </div><!-- .row -->
          {{/each}}
        {{/distinct}}
      </div><!-- .row -->
      <!-- Items loop -->
  {{/if}}
</div><!-- .sponsor-listing -->
{{/unless}}
</div><!-- .m-template--sponsor-list -->

</script>

<script>

// Handlebars.registerHelper('heading', function (property, options) {
//
//     var heading = "";
//     if(property=="1"){
//       heading = "Produced By";
//     }
//
//     return options.fn(heading);
// });

Handlebars.registerHelper('eq', function () {
    const args = Array.prototype.slice.call(arguments, 0, -1);
    return args.every(function (expression) {
        return args[0] === expression;
    });
});

Handlebars.registerHelper("distinct", function (listOfObjects, property, options) {
    var unique = {};
    var distinctList = [];

    for (var objectIndex in listOfObjects) {
        var object = listOfObjects[objectIndex];

        if (typeof (unique[object[property]]) == "undefined") {
            distinctList.push(object[property]);
        }

        unique[object[property]] = 0;
    }

    return options.fn(distinctList);
});

Handlebars.registerHelper("where", function (collection, property, value, options) {
    var subset = [];

    for (var teamIndex in collection) {
        var team = collection[teamIndex];

        if (team[property] !== undefined && team[property].toLowerCase() === value.toLowerCase()) {
            subset.push(team);
        }
    }

    return options.fn(subset);
});


$(document).on("mascotReady",function($bootstrap){
  new mascot.Sponsor("#sponsor-list-custom",{
    url: "https://sponsortool.penton.com/json/1570156",
      template:"#sponsor-list-custom-template",
      levelOrder: "0,1,2,3,4,5,6",
      logoType: {
        "base": "sponsorLogoCard"
      }
    });
  });
</script>
