<!-- custom template -->
<script id="sponsor-list-plat" type="text/x-handlebars-template">

  <div class="m-template m-template--sponsor-list">
    {{> timedOut}}
    {{#unless timedOut}}

      <!-- Sponsor level loop -->
      {{#each levelOrder as |level|}}
        {{#with (lookup ../levels level) as |sponsors|}}

          <!-- Check if level has sponsors -->
          {{#if sponsors.length}}

            <!-- Sponsor Level Heading -->
            <h3 class="sponsor-level-heading sponsor-level-heading--{{level}}">
              {{#unless (lookup ../../options.heading level)}}
                {{level}}
              {{/unless}}
              {{lookup ../../options.heading level}}
            </h2>

            <div class="row">

              <!-- Sponsor logo loop -->
              {{#each sponsors as |sponsor|}}
                <div class="
                  {{#unless (lookup ../../../options.columnClass level)}}
                    col-md-6
                  {{/unless}}
                  {{lookup ../../../options.columnClass level}}
                ">
                  <div class="card">
                    <div class="card--object">

<!-- Sponsor logo -->
<div class="img-holder m-partial m-partial--sponsor-logo sponsor-logo
  {{#unless logoClass}}
    sponsor-logo--1
  {{else}}
    {{logoClass}}
  {{/unless}}
">

  {{#if logoLink}}
    <a class="sponsor-logo__link" href="{{field_sponsor_website}}" target="_blank">
      <img src="{{field_logo_image}}" alt="{{{title}}}"
        class="item-logo sponsor-logo__img sponsor-logo__img--{{field_logo_class}}"
      />
    </a>
  {{else}}
    <img src="{{field_logo_image}}" alt="{{{title}}}"
      class="item-logo sponsor-logo__img sponsor-logo__img--{{field_logo_class}}"
    />
  {{/if}}
</div>


                    </div>
                    <div id="{{slug}}" class="card--caption collapse
                      {{lookup ../../../options.logoClass level}}
                    ">
                      <div class="sponsor-caption card--caption--body">
                        <h5 class="sponsor-title card--caption--title">
                          <a class="collapsed" data-toggle="collapse" href="#{{slug}}">
                            <i class="fa fa-chevron-down pull-right"></i>
                            {{{title}}}
                          </a>
                        </h5>
                        {{#if body}}<div class="sponsor-body">{{{body}}}</div>{{/if}}


<!-- Sponsor details -->
<div class="m-partial m-partial--sponsor-details">
  <ul class="list-unstyled sponsor-details">
    {{#if carousel}}
      {{#if options.slideOpportunity}}
        {{#if options.field_logo_opportunity_status}}
          <li class="sponsor-opp-1">{{field_logo_opportunity}}</li>
        {{/if}}
        {{#if sponsor.field_logo_opportunity_two_status}}
          <li class="sponsor-opp-2">{{field_logo_opportunity_two}}</li>
        {{/if}}
        {{#if sponsor.field_logo_opportunity_three_status}}
          <li class="sponsor-opp-3">{{field_logo_opportunity_three}}</li>
        {{/if}}
      {{/if}}
      {{#if options.slideBoothNo}}
        {{#if sponsor.field_logo_booth}}
          <li class="sponsor-booth-no">Booth No: {{field_logo_booth}}</li>
        {{/if}}
      {{/if}}
      {{#if options.slideBoothUrl}}
        {{#if sponsor.field_sponsor_booth_url_status}}
          <li class="sponsor-booth-url"><a href="{{field_sponsor_booth_url}}">Booth Details</a></li>
        {{/if}}
      {{/if}}
    {{else}}
      <!-- list -->
      {{#if sponsor.field_logo_opportunity_status}}
        <li class="sponsor-opp-1">{{field_logo_opportunity}}</li>
      {{/if}}
      {{#if sponsor.field_logo_opportunity_two_status}}
        <li class="sponsor-opp-2">{{field_logo_opportunity_two}}</li>
      {{/if}}
      {{#if sponsor.field_logo_opportunity_three_status}}
        <li class="sponsor-opp-3">{{field_logo_opportunity_three}}</li>
      {{/if}}
      {{#if sponsor.field_logo_booth}}
        <li class="sponsor-booth-no">Booth No: {{field_logo_booth}}</li>
      {{/if}}
      {{#if sponsor.field_sponsor_booth_url_status}}
        <li class="sponsor-booth-url"><a href="{{field_sponsor_booth_url}}">Booth Details</a></li>
      {{/if}}
      {{#if sponsor.field_sponsor_email}}
        <li class="sponsor-email"><a href="mailto:{{field_sponsor_email}}">Email</a></li>
      {{/if}}
      {{#if sponsor.field_sponsor_website_status}}
        <li class="sponsor-website"><a href="{{field_sponsor_website}}" target="_blank">Website</a></li>
      {{/if}}
    {{/if}}
  </ul>
</div>


                        {{#if body}}
                          <a class="collapsed" data-toggle="collapse" href="#{{slug}}">Close</a>
                        {{/if}}
                      </div>
                    </div>
                  </div>

                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/with}}
      {{/each}}
    {{/unless}}
  </div>


</script>

<!-- the view -->
<div id="sponsor-list-platinum" class="loading-ui loading-ui--loading"></div>


<!-- js config -->
<script>
  $(document).on("mascotReady", function() {
    new mascot.Sponsor("#sponsor-list-platinum", {
      url: "https://sponsortool.penton.com/json/1570156",
      template: "#sponsor-list-plat",
      levelOrder: "1,2,3,4",
      heading: {
        "1": "Platinum",
        "2": "Gold",
        "3": "Silver",
        "4": "Marketing Partner"
      },
      logoClass: {
        "2": "sponsor-logo--2",
        "3": "sponsor-logo--3",
        "4": "sponsor-logo--3"
      },
      logoType: {
        "base": "sponsorLogoCard"
      },
      columnClass: {
        "2": "col-md-6 col-lg-4",
        "3": "col-xs-6 col-lg-3",
        "4": "col-xs-6 col-lg-3"
      }
    });
  });
</script>
