<!-- controller view -->
<div id="opps-list-npe-controller" class="m-controller">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group has-feedback">
        <label>Search</label>

        <!-- data-keyword: JSON properties to filter view by keyword -->
        <input data-keyword="title|custom_fields.opp_excerpt.[]" class="form-control" placeholder="Type a keyword to search" />

        <!-- data-reset="keyword": reset keyword only -->
        <a class="form-control-feedback clickable" data-reset="keyword">
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Sort</label>
        <div class="display--block clearfix btn-group">

          <!-- data-sort: JSON property to sort view by -->
          <a data-sort="title" class="sort active asc btn btn-sm btn-default">
            Name
          </a>
          <a data-sort="custom_fields.opp_numeric_cost.[]" class="sort btn btn-sm btn-default">
            Price
          </a>
          <a data-sort="custom_fields.opp_level_ew20.[]" class="sort btn btn-sm btn-default">
            Level
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Levels</label>
    <div class="display--block clearfix btn-group">

      <!-- data-filter data-group1: JSON property to filter view by -->
      <a data-filter="" data-group1="custom_fields.opp_level_ew20.[]:1" class="filter btn btn-sm btn-default">
        Platinum
      </a>
      <a data-filter="" data-group1="custom_fields.opp_level_ew20.[]:2" class="filter btn btn-sm btn-default">
        Gold
      </a>
      <a data-filter="" data-group1="custom_fields.opp_level_ew20.[]:3" class="filter btn btn-sm btn-default">
        Silver
      </a>
      <a data-filter="" data-group1="custom_fields.opp_level_ew20.[]:4" class="filter btn btn-sm btn-default">
        Marketing Opportunity
      </a>
    </div>
  </div>
  <div class="form-group">

    <!-- data-reset: reset to initial view -->
    <a data-reset="" class="btn btn-sm btn-danger">
      Reset All
    </a>
  </div>
</div>

<!-- view -->
<div id="opps-list-npe" class="loading-ui loading-ui--loading"></div>

<!-- js config -->
<script>
  $(document).on("mascotReady", function() {
    new mascot.Opps("#opps-list-npe", {
      url: "https://opps.pentonweb.com/category/expo-west-2020/?json=get_posts&post_type=opportunity&orderby=title&order=asc&count=-1&exclude=comments,comment_count,comment_status,author,date,modified,tags,url,status",
      controllerView: "#opps-list-npe-controller",
      sorts: "title",
      level: {
        property: "opp_level_ew20",
        label: {
          "1": "Platinum",
          "2": "Gold",
          "3": "Silver",
          "4": "Marketing Opportunity"
        }
      },
      type: {
        property: "opp_type_ew20"
      },
      contact: {
        link: 'https://www.expowest.com/en/exhibitor-resources/contact-your-account-manager.html',
        target: "_blank",
        label: "Contact Sales"
      },
      inclusions: {
        link: "https://www.expowest.com/en/sponsors.html",
        target: "_blank"
      }
    });
  });
</script>

<style>
#opps-list-npe .opp-available,
#opps-list-npe .opp-deadline { display: none; }
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active, .btn-primary.active, .btn-primary:visited { width: auto; background-color: #337ab7; border-radius: 4px; color: #fff; border: 1px #204d74 solid; }
</style>
