/*

File Name: _top-nav.less
Description: Top Nav component styles
Dependencies: _variables.less

*/

/* Local variables */

@top-nav--bg: @base-color;
@top-nav--active-bg: @gray;
@top-nav--focus-bg: @silver;
@top-nav--txt-color: @white;
@top-nav--cta-bg: @mid-blue;
@top-nav--cta-focus-bg: @light-blue;

.top-nav {
    .mainNav {
        .navbar-inverse,
		.navbar-inverse ul {
            background-color: @top-nav--bg;
        }
        .navbar-inverse {
            ul {
                width:100%;
                @media (max-width:768px) {
                    width:85%;
                }
                li {
                    border-left:0;
                    a {
                        color: @top-nav--txt-color;
                        font-family: @primary-font;
                        font-size: @base-font-size;
                        font-weight:700;
                        text-transform:uppercase;
                        width:auto;
                        height:50px;
                        line-height:50px;
                        padding:0 15px;
                        .transition(@transition);
                        small {
                            width:auto;
                            height:50px;
                            color: @top-nav--txt-color;
                            font-family: @primary-font;
                            font-size: @base-font-size !important;
                            font-weight:700;
                        }
                        &:focus, &:hover {
                            background-color: @top-nav--focus-bg !important;
                            .transition(@transition);
                        }
                        @media (max-width:1200px) {
                            padding:0 15px !important;
                            &.has-submenu {
                                padding-right:30px !important;
                            }
                        }
                    }
                    &.open {
                        > a {
                            background-color: @top-nav--focus-bg !important;
                        }
                    }
                    &.active {
                        > a {
                            background-color: @top-nav--active-bg !important;
                        }
                    }
                    &.navRegisterbg {
                        background-color: transparent;
                        float:right;
                        @media (max-width:768px) {
                            float:none;
                        }
                        a {
                            background-color: @top-nav--cta-bg;
                            &:hover, &:focus {
                                background-color: @top-nav--cta-focus-bg !important;
                            }
                        }
                    }
                }
            }
            .dropdown-menu {
                background-color: @top-nav--bg !important;
                box-shadow:none;
                li {
                    a {
                        line-height:1;
                        padding:13px 15px !important;
                        @media (max-width:768px) {
                            padding-left:30px !important;
                        }
                        small {
                            height:auto;
                            padding:0;
                            display:block;
                        }
                        &:hover, &:focus {
                            background-color: @top-nav--focus-bg !important;
                        }
                    }
                    &.active {
                        > a {
                            background-color: @top-nav--active-bg !important;
                        }
                        > a:hover, > a:focus {
                            background-color: @top-nav--focus-bg !important;
                        }
                    }
                }
            }
        }
    }
    .mobileLayoutNav {
        .mainSecondaryNav {
            @media (max-width:768px) {
                display:none;
            }
        }
    }
    .navbar-collapse.active {
        background-color: rgba(34, 34, 34, 0.98);
    }
}


.has-submenu {
    position:relative;
    padding-right: 30px !important;
    @media (max-width:1200px) {
        padding-right: 30px !important;
    }
    &:after {
        font-family: @icon-font;
        font-size: @base-font-size;
        line-height: @base-font-size;
        position:absolute;
        top:50%;
        right:10px;
        transform: translateY(-50%);
        color: @white;
    }
    .mainMenuTopnav & {
        &:after {
            content:'\f107';
        }
        @media (max-width:768px) {
            &[aria-expanded='true'] {
                &:after {
                    content:'\f106';
                }
            }
        }
    }
    .dropdown-menu & {
        &:after {
            content:'\f105';
        }
        @media (max-width:768px) {
            &:after {
                content:'\f107';
            }
        }
    }
}
.navArrowRight {
    display:none !important;
}

.hamBurger {
    .navbar-inverse {
        background-color:transparent;
        &:focus,&:active,&:visited {
            background-color:transparent;
        }
        .navbar-header {
            .navbar-toggle {
                padding:15px;
                border-radius:0;
                .icon-bar {
                    background-color: @black;
                }
            }
        }
    }
}