/*= Title Bar Component */

.titleBar {
    .content-title {
        background-color: transparent;
        font-family: @primary-font;
        font-size: @heading-2;
        font-weight: 700;
        color: @base-color;
        padding:0;
        margin:30px 0 20px;
        border-bottom:0 !important;
        line-height: @heading-2;
    }
    .content-highlight-title-anchor {
        font-family: @primary-font;
        font-size: @heading-3;
        font-weight:700;
        color: @base-color;
        line-height: @heading-3;
        padding:0;
        margin:30px 0 20px;
        background-color:transparent; // for anchor link component
        border:0; // for anchor link component
    }
    // custom footer subtitles
    .custom-footer & {
        margin-bottom:15px;
        .content-title,
        .content-highlight-title-anchor {
            color: @white;
        }
        .content-highlight-title-anchor {
            font-size: @base-font-size + 6;
            padding:0;
        	margin:0 0 15px;
        }
    }
}