/*= Title Bar Component */

.titleBar {
	.center-align {
        .content-title, .content-highlight-title-anchor {
            text-align: center;
            &:after{
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .right-align {
        .content-title, .content-highlight-title-anchor {
            text-align: right;
        }
    }
    .content-title, .content-highlight-title-anchor {
        position:relative;
        padding-bottom: 30px;
        &:after{
            background: @base-color !important;
            bottom: 0;
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            left:0;
            width: 80px;
        }
    }
}