/*= Tab Horizontal Component */

@tab-horizontal--panel-bg: transparent;
@tab-horizontal--panel-focus-bg: @base-color;
@tab-horizontal--panel-txt-color: @tab-horizontal--panel-focus-bg;
@tab-horizontal--panel-focus-txt-color: @white;
@tab-horizontal--panel-border-color: @tab-horizontal--panel-focus-bg;
@tab-horizontal--panel-focus-border-color: @tab-horizontal--panel-bg;
@tab-horizontal--icon-color: @tab-horizontal--panel-focus-bg;

.tab-panel {
    .informa-tab-panel {
        background-color:transparent;
        padding:0;
        .informa-tab-panel-tabs {
            .display(flex);
            .flex-direction(row);
            .flex-wrap(wrap);
            .justify-content(flex-start);
            .align-items(center);
            .align-content(space-around);
            > li {
                .align-self(flex-start);
                float:none;
                margin:0 3px 0 0;
                padding:0;
                &.active {
                    a {
                        background-color: @tab-horizontal--panel-focus-bg !important;
                        color: @tab-horizontal--panel-focus-txt-color;
                        border-left:1px solid @tab-horizontal--panel-border-color !important;
                        border-right:1px solid @tab-horizontal--panel-border-color !important;
                        &:visited,
                        &:active,
                        &:focus {
                            background-color: @tab-horizontal--panel-focus-bg !important;
                        }
                        span {
                            color: @tab-horizontal--panel-focus-txt-color;
                        }
                    }
                    &:after {
                        content:'\f0d7';
                        font-family: @icon-font;
                        font-size: @base-font-size + 10;
                        position:absolute;
                        bottom:-14px;
                        left:50%;
                        margin:0 0 0 -14px;
                        line-height:1;
                        color: @tab-horizontal--icon-color;
                    }
                }
                a {
                    width:100%;
                    height:auto;
                    border:1px solid @tab-horizontal--panel-border-color;
                    padding:13px 15px !important;
                    color: @tab-horizontal--panel-txt-color;
                    background-color: @tab-horizontal--panel-bg !important;
                    .transition(@transition);
                    span {
                        display:block;
                        width:100%;
                        height:auto;
                        color: @tab-horizontal--panel-txt-color;
                        padding:0;
                        font-size: @base-font-size;
                        font-weight:700;
                        line-height: @base-font-size;
                    }
                    &:hover {
                        background-color: @tab-horizontal--panel-focus-bg !important;
                        color: @tab-horizontal--panel-focus-txt-color;
                        .transition(@transition);
                        span {
                            color: @tab-horizontal--panel-focus-txt-color;
                        }
                    }
                }
            }
        }
        .panel-group {
            @media (max-width:769px) {
                .panel {
                    border:0;
                    box-shadow:none;
                    .panel-heading {
                        border:1px solid @tab-horizontal--panel-focus-bg;
                        border-radius:0;
                        background-color: @tab-horizontal--panel-focus-bg !important;
                        padding:0;
                        .transition(@transition);
                        &:focus,&:hover {
                            background-color: @tab-horizontal--panel-bg !important;
                            .transition(@transition);
                        }
                        .panel-title {
                            padding:0;
                            margin:0;
                            > a {
                                display:block;
                                padding:13px 15px;
                                .transition(@transition);
                                &:hover,&:focus {
                                    text-decoration:none;
                                    .transition(@transition);
                                    span {
                                        color: @tab-horizontal--panel-txt-color;
                                    }
                                }
                                span {
                                    padding:0;
                                    color: @tab-horizontal--panel-focus-txt-color;
                                }
                            }
                            .informa-tab-panel-tab-title {
                                height:auto;
                                width:100%;
                                display:block;
                                font-size: @base-font-size;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}