/*=For Text Component Styles */

.text {
    p, ul, ol, li, small, span, a, i, div {
        font-family: @primary-font;
    }
    p, ul, ol, li, span, a, i, div {
        font-size: @base-font-size;
        line-height: @base-line-height;
    }
    small {
        font-size: @base-font-size - 2;
        line-height: @base-line-height - 2;
    }
    h1 {
        &:extend(.h1);
    }
    h2 {
        &:extend(.h2);
    }
    h3 {
        &:extend(.h3);
    }
    h4 {
        &:extend(.h4);
    }
    h5 {
        &:extend(.h5);
    }
    h6 {
        &:extend(.h6);
    }
}