/*

File Name: _cta-image-title-desc-link.less
Description: CTA Image - Title, Desc, Link component styles
Dependencies: _variables.less

*/

/* Local variables */
@cta-img-title-desc-link--content-bg: darken(@white,5%);
@cta-img-title-desc-link--content-txt-color: @base-color;
@cta-img-title-desc-link--title-color: @base-color;
@cta-img-title-desc-link--title-bg: darken(@white,10%);
@cta-img-title-desc-link--img-bg: darken(@white,3%);


.contentHighlight.section {
    margin:30px 0;
    .component1 {
        .heading {
            img {}
            a {
                display:block;
                background-color: @cta-img-title-desc-link--img-bg;
            }
            h3 {
                background-color: @cta-img-title-desc-link--title-bg;
                border: 0;
                display:block;
                font-family: @primary-font;
                font-size: @heading-3 !important;
                font-weight:700;
                line-height: @heading-3;
                color: @cta-img-title-desc-link--title-color;
                text-align:left;
                margin:0;
                padding:15px !important;
                &.textCenter {
                    text-align:center;
                }
            }
            .callToActionPara {
                padding:15px !important;
                background-color: @cta-img-title-desc-link--content-bg;
                font-family: @primary-font;
                p {
                    font-family: @primary-font;
                    font-size: @base-font-size;
                    line-height: @base-line-height;
                    color: @cta-img-title-desc-link--content-txt-color;
                    padding:0;
                    margin:0 0 15px;
                    background-color: transparent;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
            }
        }
    }
}