/*=For Custom Header Styles */

.custom-header {
    .custom-header-inner {
        @media (max-width:768px) {
            position:relative;
        }
        > div > .row {
            display:table;
            width:100%;
            margin:0;
            @media (max-width:991px) {
                display:block;
            }
        }
        .column {
            display:table-cell;
            float:none;
            vertical-align:middle;
            @media (max-width:991px) {
                display:block;
            }
            @media (max-width:991px) {
                float:left;
            }
            &:nth-child(1) {
                width:260px;
                @media (max-width:991px) {
                    width:100%;
                }
            }
            &:nth-child(2) {
                width:auto;
                @media (max-width:991px) {
                    width:66.6667%;
                }
                @media (max-width:768px) {
                    width:100%;
                }
            }
            &:nth-child(3) {
                width:33.333%;
                @media (max-width:769px) {
                    margin-left: initial;
                    width:100%;
                }
            }
        }
    }
    .hamBurger {
        @media (max-width:768px) {
            float:none !important;
            background-color: @base-color;
        }
        .navbar-inverse {
            background-color:transparent;
            &:focus,&:active,&:visited {
                background-color:transparent;
            }
            .navbar-header {
                .navbar-toggle {
                    padding:15px;
                    border-radius:0;
                    .icon-bar {
                        background-color: @white;
                    }
                }
            }
        }
    }
}