@accordion-panel-heading-text-color: @dark-text-color;
@accordion-panel-heading-background: transparent;

@accordion-panel-heading-hover-text-color: @accordion-panel-heading-text-color;
@accordion-panel-heading-hover-background: transparent;


@accordion-icon-color: @tertiary-color;


@accordion-panel-body: transparent;

@accordion-panel-body-padding-top: @global-padding;
@accordion-panel-body-padding-right: @global-padding;
@accordion-panel-body-padding-bottom: @global-padding;
@accordion-panel-body-padding-left: 50px;

@accordion-top: @global-padding;
@accordion-bottom: @global-padding;
