// WIP
@carousel-button-bg: @red;
@carousel-button-color: @blue;
@carousel-button-hover-bg: @black;
@carousel-button-hover-color: @white;
@carousel-button-border-color: @black;
@carousel-button-border-hover-color: @black;
