@countdown-bg-color: transparent;
@countdown-color: @primary-color;
@countdown-size: @h5-size;
@countdown-weight: @h5-weight;

@countdown-numbers-color: @primary-color;
@countdown-numbers-size: 30px;
@countdown-numbers-weight: 500;
