@cta-title-desc-link--content-bg: transparent;
@cta-title-desc-link--title-color: @title-color; // H1
@cta-title-desc-link--title-bg: transparent;
@cta-title-desc-link--title-icon: '\f007';
@cta-title-desc-link--title4-color: @h4-color; // H4
@cta-title-desc-link--title6-color: @h6-color	; // H6
@cta-title-desc-link--link-color: @a-color;
@cta-title-desc-link--link-focus-color: @a-hover-color;
