/* Local variables */
@cta-img-title-desc-link--bg: @white;
@cta-img-title-desc-link--content-bg: transparent;
@cta-img-title-desc-link--content-txt-color: @text-color;
@cta-img-title-desc-link--title-color: @title-color;
@cta-img-title-desc-link--title-bg: transparent;
@cta-img-title-desc-link--img-bg: @grey-light;
@cta-img-title-desc-link--a-color: @a-color;
