@footer-color: @white;
@footer-bg: @secondary-color;
@footer-link-color: @footer-color;

@footer-title-size: @h4-size;
@footer-title-weight: @h4-weight;
@footer-title-align: left;

@footer-text-size: @text-size;
@footer-text-padding-top: @global-padding;
@footer-text-line-height: 1.5;
