@form-max-width: @breakpoint-tablet;

@form-bg-color: transparent;
@form-border-thickness: @border-thickness;
@form-border-style: @border-style;
@form-border-color: transparent;

@form-title-divider-color: transparent;
@form-title-font: @primary-font;
@form-title-font-size: @h5-size;
@form-title-font-weight: @h5-weight;
@form-title-bg: transparent;
@form-title-color: @black;

@form-label-color: @black;
@form-label-font: @primary-font;
@form-label-font-size: @p-size;
@form-label-font-weight: @bold-weight;

@form-text-font: @primary-font;
@form-text-font-size: @p-size;
@form-text-font-weight: @p-weight;

@form-submit-bg: @primary-color;
@form-submit-bg-hover: @primary-dark-color;
@form-submit-color: @white;
@form-submit-border-color: @white;
@form-submit-font: @primary-font;
@form-submit-font-size: @p-size;
@form-submit-font-weight: @bold-weight;

@form-reset-bg: @primary-color;
@form-reset-bg-hover: @primary-dark-color;
@form-reset-color: @white;
@form-reset-border-color: @white;
@form-reset-font: @primary-font;
@form-reset-font-size: @p-size;
@form-reset-font-weight: @bold-weight;
