@global-nav-height: 45px;
@global-nav-bg: @secondary-color;
@global-nav-hover-bg-color: @secondary-light-color;
@global-nav-inner-hover-bg-color: transparent;

@global-nav-color: @white;
@global-nav-font-family: @primary-font;
@global-nav-font-size: 12px;
@global-nav-text-weight: 400;
