@header-bg: @white;
@header-shadow-color: rgba(0, 0, 0, 0.5);
@header-color: @black;

// Container Padding
@header-padding-top: @global-padding;
@header-padding-right: @global-padding;
@header-padding-bottom: @global-padding;
@header-padding-left: @global-padding;

// Container Border
@header-border-width: @border-thickness;
@header-border-style: @border-style;
@header-border-color: @white;

// Buttons
@header-button-max-width: 300px;
@header-button-width: 100%;
@header-button-size: (@quicklink-size * @golden-ratio / 2);
@header-button-border-thickness: @quicklink-border-thickness;
@header-button-border-style: @quicklink-border-style;
@header-button-border-color: @secondary-color;
@header-button-border-radius: 30px;
@header-button-color: @secondary-color;
@header-button-padding-ver: @header-button-size;
@header-button-padding-hor: (@header-button-size * @golden-ratio);

@header-button-bg: transparent;
@header-button-hover-border-thickness: @header-button-border-thickness;
@header-button-hover-border-style: @header-button-border-style;
@header-button-hover-border-color: @secondary-dark-color;
@header-button-hover-color: @quicklink-hover-color;
@header-button-hover-bg: @secondary-dark-color;
