@header-links-dropdown-bg: @secondary-color;
@header-links-dropdown-color: @tertiary-color;
@header-links-dropdown-hover-bg: @secondary-light-color;
@header-links-dropdown-hover-color: @tertiary-color;
@header-links-item-bg: @secondary-color;
@header-links-item-color: @tertiary-color;
@header-links-item-hover-bg: @secondary-light-color;
@header-links-item-hover-color: @tertiary-color;
