// @image-cta-bg: @default-grey;
@image-cta-bg: @white;


// @image-cta-padding-ver-default: (@component-padding-ver-default * 2);
// @image-cta-padding-ver-phablet: (@component-padding-ver-phablet * 2);
// @image-cta-padding-ver-tablet: (@component-padding-ver-tablet * 2);
// @image-cta-padding-ver-desktop: (@component-padding-ver-desktop * 2);
// @image-cta-padding-ver-desktop-large: (@component-padding-ver-desktop-large * 2);

@image-cta-padding-ver-default: 0px;
@image-cta-padding-ver-phablet: 0px;
@image-cta-padding-ver-tablet: 0px;
@image-cta-padding-ver-desktop: 0px;
@image-cta-padding-ver-desktop-large: 0px;


@image-cta-min-height: auto;

@image-cta-font-family: @primary-font;

@image-cta-content-max-width: none;

// @image-cta-default-color: @white;
@image-cta-default-color: @blue;


@image-cta-title-font-size: @h3-size;
@image-cta-title-font-weight: @h3-weight;
@image-cta-title-line-height: 1;
@image-cta-title-color: @image-cta-default-color;
@image-cta-title-bg-color: @transparent;


@image-cta-subtitle-font-size: @h4-size;
@image-cta-subtitle-font-weight: @h3-weight;
@image-cta-subtitle-line-height: 1;
@image-cta-subtitle-color: @image-cta-default-color;


@image-cta-text-font-size: @p-size;
@image-cta-text-font-weight: @p-weight;
@image-cta-text-line-height: @p-line-height;
@image-cta-text-color: @image-cta-default-color;


@image-cta-height-default: 350px;
@image-cta-height-desktop: 330px;
// @image-cta-height: auto;


@image-cta-button-font-size: 18px;
@image-cta-button-font-weight: 500;
@image-cta-button-min-width: 300px;

@image-cta-bg-color: @secondary-color;
@image-cta-border-thickness: 0;
@image-cta-border-style: solid;
@image-cta-border-color: @secondary-dark-color;

@image-cta-hover-bg-color: @secondary-dark-color;
@image-cta-hover-border-color: @secondary-dark-color;
@image-cta-hover-color: @white;
