@html-bg: none;
@body-color: @text-color;
@body-bg-color: none;
@body-bg-image: none;


@component-padding-ver-default: @global-padding;
@component-padding-ver-phablet: (@component-padding-ver-default * @global-padding-ratio);
@component-padding-ver-tablet: (@component-padding-ver-phablet * @global-padding-ratio);
@component-padding-ver-desktop: (@component-padding-ver-tablet * @global-padding-ratio);
@component-padding-ver-desktop-large: (@component-padding-ver-desktop * @global-padding-ratio);

@component-padding-hor-default: (@component-padding-ver-default * @global-padding-ratio);
@component-padding-hor-phablet: (@component-padding-ver-phablet * @global-padding-ratio);
@component-padding-hor-tablet: (@component-padding-ver-tablet * @global-padding-ratio);
@component-padding-hor-desktop: (@component-padding-ver-desktop * @global-padding-ratio);
@component-padding-hor-desktop-large: (@component-padding-ver-desktop-large * @global-padding-ratio);


@component-width-default: 100%;
// @component-width-phablet: 480px;
@component-width-tablet: 750px;
@component-width-desktop: 970px;
@component-width-desktop-large: 1170px;
// @component-width-desktop-large-extra: 1366px;
