@list-bullet-color: @tertiary-color;
@list-bullet-color-clear: @secondary-color;

@list-text-color: @text-color;
@list-text-size: @text-size;
@list-text-weight: @text-weight;

@list-link-color: @primary-color;
@list-link-color-clear: @secondary-color;
@list-link-weight: bold;
@list-link-size: 14px;
