// Default
@quicklink-bg: @primary-color;
@quicklink-color: @white;
@quicklink-font: @primary-font;
@quicklink-padding-hor: 20px;
@quicklink-padding-ver: @quicklink-padding-hor / @golden-ratio;
@quicklink-font: @primary-font;
@quicklink-size: 14px;
@quicklink-weight: 700;

// Default Border
@quicklink-border-thickness: @border-thickness;
@quicklink-border-style: @border-style;
@quicklink-border-color: @white;

// Hover
@quicklink-hover-bg: @primary-dark-color;
@quicklink-hover-color: @white;
@quicklink-hover-border-color: @white;

// Curved Border
@quicklink-border-radius: 0;

@quicklink-text-transform: none;
