@social-links-bg: @todo-color;
@social-links-color: @todo-color;
@social-links-youtube-bg: @todo-color;
@social-links-linkedin-bg: @linkedin-blue;
@social-links-twitter-bg: @twitter-blue;
@social-links-facebook-bg: @facebook-blue;
@social-links-instagram-bg: @todo-color;
@social-links-pinterest-bg: @todo-color;
