@tab-horizontal--panel-bg: @secondary-color;
@tab-horizontal--panel-focus-bg: @primary-color;
@tab-horizontal--panel-txt-color: @white;
@tab-horizontal--panel-focus-txt-color: @secondary-color;
@tab-horizontal--panel-border-color: @white;
@tab-horizontal--panel-focus-border-color: @white;
@tab-horizontal--icon-color: @primary-color;
@tab-horizontal--panel-border-thickness: @border-thickness;
