@text-h1-color: @h1-color;
@text-h1-size: @h1-size;
@text-h1-weight: @h1-weight;

@text-h2-color: @h2-color;
@text-h2-size: @h2-size;
@text-h2-weight: @h2-weight;

@text-h3-color: @h3-color;
@text-h3-size: @h3-size;
@text-h3-weight: @h3-weight;

@text-h4-color: @h4-color;
@text-h4-size: @h4-size;
@text-h4-weight: @h4-weight;

@text-h5-color: @h5-color;
@text-h5-size: @h5-size;
@text-h5-weight: @h5-weight;

@text-h6-color: @h6-color;
@text-h6-size: @h6-size;
@text-h6-weight: @h6-weight;


@text-p-color: @p-color;
@text-p-size: @p-size;
@text-p-weight: @p-weight;
@text-p-color: @p-color;
@text-p-size: @p-size;
@text-p-weight: @p-weight;


@text-a-color: @a-color;
@text-a-size: @a-size;
@text-a-weight: @a-weight;


@text-i-color: @i-color;
@text-i-size: @p-size;
@text-i-weight: @p-weight;


@text-bold-color: @bold-color;
@text-bold-size: @bold-size;
@text-bold-weight: @bold-weight;

@text-strong-color: @strong-color;
@text-strong-size: @strong-size;
@text-strong-weight: @strong-weight;
