@title-bar-main-color: @title-color;
@title-bar-main-font: @primary-font;
@title-bar-main-size: @h2-size;
@title-bar-main-weight: @h2-weight;
@title-bar-main-line-height: @h2-line-height;

@title-bar-sub-color: @title-color;
@title-bar-sub-font: @primary-font;
@title-bar-sub-size: @h3-size;
@title-bar-sub-weight: @h3-weight;
@title-bar-sub-line-height: @h3-line-height;

@title-bar-separator-content: none;
@title-bar-separator-color: @grey;
@title-bar-separator-thickness: 3px;
@title-bar-separator-margin-top: (@global-padding * @golden-ratio);
