// @top-nav-mobile-bar-bg-color: @white;		// hor menu bar bg when close
@top-nav-mobile-bar-bg-color: transparent;		// hor menu bar bg when close

@top-nav-mobile-toggle-bg-color: @primary-color;
@top-nav-mobile-toggle-icon-color: @white;

@top-nav-mobile-drawer-bg-color: @white;	// whole menu bg
