// Paddings
@top-nav-padding-hor: @global-padding;
@top-nav-padding-ver: (@top-nav-padding-hor / @golden-ratio);

// Font
@top-nav-font-family: @primary-font;
@top-nav-font-size: 15px;
@top-nav-font-weight: 700;
@top-nav-line-height: 1;

// Nav Bar
@top-nav-bar-height: @top-nav-toggle-height;
@top-nav-bar-bg: @white;


// Arrow
@top-nav-arrow-content: '\f107';
@top-nav-arrow-width: 9px;

// Element
@top-nav-bg: @primary-color;
@top-nav-color: @white;

// Element Hover
@top-nav-hover-bg: @primary-dark-color;
@top-nav-hover-color: @white;

// Element Active
@top-nav-active-bg: @primary-dark-color;
@top-nav-active-color: @white;

// Element Border
@top-nav-border-style: @border-style;
@top-nav-border-color: @primary-color;
@top-nav-border-top-width: 0;
@top-nav-border-right-width: 0;
@top-nav-border-bottom-width: 0;
@top-nav-border-left-width: 0;

// Element Hover Border
@top-nav-hover-border-color: @top-nav-border-color;
@top-nav-hover-border-top-width: @top-nav-border-top-width;
@top-nav-hover-border-right-width: @top-nav-border-right-width;
@top-nav-hover-border-bottom-width: @top-nav-border-bottom-width;
@top-nav-hover-border-left-width: @top-nav-border-left-width;

// Element Active Border
@top-nav-active-border-color: @top-nav-hover-border-color;
@top-nav-active-border-top-width: @top-nav-hover-border-top-width;
@top-nav-active-border-right-width: @top-nav-hover-border-right-width;
@top-nav-active-border-bottom-width: @top-nav-hover-border-bottom-width;
@top-nav-active-border-left-width: @top-nav-hover-border-left-width;


// Inner Elements paddings
@top-nav-inner-padding-hor: @top-nav-padding-hor;
@top-nav-inner-padding-ver: @top-nav-padding-ver;

// Inner Element
@top-nav-inner-font-size: (@top-nav-font-size - 2);
@top-nav-inner-font-weight: @top-nav-font-weight;
@top-nav-inner-bg: @top-nav-bg;
@top-nav-inner-color: @top-nav-color;

// Inner Element Hover
@top-nav-inner-hover-bg: @top-nav-hover-bg;
@top-nav-inner-hover-color: @top-nav-hover-color;

// Inner Element Active
@top-nav-inner-active-bg: @top-nav-active-bg;
@top-nav-inner-active-color: @top-nav-active-color;

// Inner Border
@top-nav-inner-border-style: @top-nav-border-style;
@top-nav-inner-border-color: @top-nav-border-color;
@top-nav-inner-border-top-width: @top-nav-border-top-width;
@top-nav-inner-border-right-width: @top-nav-border-right-width;
@top-nav-inner-border-bottom-width: @top-nav-border-bottom-width;
@top-nav-inner-border-left-width: @top-nav-border-left-width;


// Toggle
@top-nav-toggle-bg-color: @gray;
