.exhibitorEvents {
    .content {
        .exhibitor-pageTitle {
            font-family: @primary-font;
            font-size: @heading-3 !important;
            font-weight: 700 !important;
            line-height: @heading-3 !important;
            padding:0;
            margin:0 0 15px;
            color: @base-color !important;
        }
        .inner-slide {
            .exhibitor-right-sidebar {
                border-radius: 0;
                background-color: darken(@white,8%);
                .exhibitor-filter {
                    input[type='submit'], input[type='reset'] {
                        &:extend(.button all);
                    }
                }
            }
        }
    }
}