.custom-header {
	border: none;


	.logo {
		margin: 0 0 @global-padding 0;
		width: 100%;

		@media (min-width: @breakpoint-tablet) {
			height: @top-nav-height;
			margin-bottom: 0;
		}


		.Default {
			width: 100%;

			@media (min-width: @breakpoint-tablet) {
				height: @top-nav-height;
				left: @component-padding-hor-tablet !important;
				pointer-events: none;
				position: absolute;
				top: 50%;
			}

			@media (min-width: @breakpoint-desktop) {
				left: @component-padding-hor-desktop !important;
			}

			@media (min-width: @breakpoint-desktop-large) {
				left: @component-padding-hor-desktop-large !important;
			}
		}


		a {
			max-height: @top-nav-height;
			position: relative;
			text-align: center;
			width: 100%;

			@media (min-width: @breakpoint-tablet) {
				pointer-events: auto;
				text-align: left;
				transform: translateY(-50%);
			}
		}


		img {
			margin: 0 auto;
			max-height: @top-nav-height;
			width: auto;
		}
	}


	.text {
		display: inline-block;
		margin: 0 0 @global-padding 0;
		max-width: 100%;
		padding: 0 @global-padding;
		text-align: center;
		width: 100%;

		@media (min-width: @breakpoint-tablet) {
			float: right;
			margin-bottom: 0;
			text-align: left;
			width: auto;
		}


		p {
			margin: 0;
		}
	}


	.column {
		padding: 0;

		@media (max-width: @breakpoint-tablet) {
			right: 0 !important;
			width: 100% !important;


			.column-control-columns {
				margin: 0;
			}
		}
	}


	.container {
		@media (min-width: @breakpoint-tablet) {
			.column-control-columns-container {
				align-items: center;
				display: flex;
				justify-content: center;


				.column {
					> div {
						&::after {
							clear: both;
							content: '';
							display: table;
						}
					}
				}
			}
		}
	}


	.quicklink--default,
	.hightxt_btn,
	.quicklink .highlightText .content-faq1 .event-overview-btn {
		margin: 0;


		.hightxt_btn {
			@media (max-width: @breakpoint-tablet) {
				float: none;
			}

			@media (min-width: @breakpoint-desktop-large) {
				float: right;
				padding: 0 !important;
				width: auto;
			}

			.btn {
				.event-overview-btn-text-padding {
					.highlgt-btn-title {
						word-wrap: normal;
					}
				}
			}
		}
	}
}
