/* -------------------------------

Sections

------------------------------- */

.bg-primary,
.custon-section-primary {
	padding-bottom: (@global-padding * 2);


	.text {
		margin-top: 0;


		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: @section-primary-text-color !important;

			&:hover,
			&:focus,
			&:active {
				color: @section-primary-text-color !important;
			}


			a,
			strong,
			b {
				color: @section-primary-text-color !important;

				&:hover,
				&:focus,
				&:active {
					color: @section-primary-text-color !important;
				}
			}
		}
	}
}


.bg-secondary,
.custom-section-secondary {
	background-color: @secondary-color !important;


	.titleBar {
		.content-highlight-title-anchor {
			color: @white;
		}


		// Line Seperator
		.content-highlight-title-anchor::after {
			background-color: @white !important;
		}
	}


	.text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: @section-secondary-text-color !important;

			// &:hover,
			// &:focus,
			// &:active {
			// 	color: @section-secondary-text-color !important;
			// }


			a,
			strong,
			b {
				color: @section-secondary-text-color !important;

				&:hover,
				&:focus,
				&:active {
					color: @section-secondary-text-color !important;
				}
			}
		}
	}
}


.bg-tertiary,
.custom-section-tertiary {
	.text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: @section-tertiary-text-color !important;

			&:hover,
			&:focus,
			&:active {
				color: @section-tertiary-text-color !important;
			}


			a,
			strong,
			b {
				color: @section-tertiary-text-color !important;

				&:hover,
				&:focus,
				&:active {
					color: @section-tertiary-text-color !important;
				}
			}
		}
	}
}


.bg-grey-dark,
.custom-section-grey-dark {
	background-color: @grey-dark;


	.titleBar {
		.content-highlight-title-anchor {
			color: @white;
		}


		// Line Seperator
		.content-highlight-title-anchor::after {
			background-color: @white !important;
		}
	}


	.quicklink {
		.highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom {
			background-color: @white !important;
			color: @secondary-color !important;
		}


		.highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom:hover {
			background-color: @white-dark !important;
			color: @secondary-color !important;
		}
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: @white !important;

		// &:hover,
		// &:focus,
		// &:active {
		// 	color: @white !important;
		// }


		a {
			color: @tertiary-color !important;

			&:hover,
			&:focus,
			&:active {
				color: @tertiary-color !important;
			}
		}


		strong,
		b {
			color: @white !important;

			&:hover,
			&:focus,
			&:active {
				color: @white !important;
			}
		}
	}
}


.bg-grey,
.custom-section-grey {
	background-color: @grey;

	.titleBar {
		.content-highlight-title-anchor {
			color: @white;
		}

		// Line Seperator
		.content-highlight-title-anchor::after {
			background-color: @white !important;
		}
	}

	.text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: @section-grey-text-color !important;

			// &:hover,
			// &:focus,
			// &:active {
			// 	color: @section-grey-text-color !important;
			// }


			a,
			strong,
			b {
				color: @section-grey-text-color !important;

				&:hover,
				&:focus,
				&:active {
					color: @section-grey-text-color !important;
				}
			}
		}
	}

	.quicklink {
		.highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom {
			background-color: @white !important;
			color: @secondary-color !important;
		}

		.highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom:hover {
			background-color: @white-dark !important;
			color: @secondary-color !important;
		}
	}
}


.bg-grey-light,
.custom-section-grey-light {
	background-color: @grey-light;

	// Title Bar Line Seperator
	.titleBar .content-title::after,
	.titleBar .content-highlight-title-anchor::after {
		background-color: @grey-dark !important;
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		a {
			color: @tertiary-color !important;

			&:hover,
			&:focus,
			&:active {
				color: @tertiary-dark-color !important;
			}
		}
	}
}
