/*

File Name: _banner.less
Description: Banner component styles

*/

.bannerImage {
    .informa-image-banner {
        .informa-image-banner-image-link {
            .informa-image-banner-image {
                img {
                    width:auto;
                    margin:0 auto;
                    display:block;
                }
            }
        }
    }
}