/*

File Name: _content-tile.less
Description: Content Tile component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */
@content-tile--content-bg: transparent;
@content-tile--title-color: @base-color; // H1
@content-tile--title-bg: darken(@white,8%);
@content-tile--btn-txt-color: @white;
@content-tile--btn-focus-txt-color: @base-color;
@content-tile--btn-bg: @base-color;
@content-tile--btn-focus-bg: transparent;
@content-tile--btn-border-color: @base-color;
@content-tile--btn-focus-border-color: @content-tile--btn-border-color;


.content-tile {
    margin:30px 0;
    .event-overview {
        background-color: @content-tile--content-bg;
        padding: 15px !important;
        margin-top:0;
        margin-bottom:0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .event-overview-col-img-custom,
        .event-overview-col-desc-custom {
            float:none;
            flex-shrink:1;
            flex-grow: 2;
        }
        .event-overview-col-img-custom {
            img {
                display:block;
                margin:0 auto;
                width:auto;
                max-width:100%;
            }
            @media (max-width:991px){
                margin-bottom:15px;
            }
        }
        .event-overview-col-desc-custom {
            .event-overview-description-row {
                padding:0 15px;
                @media (max-width:768px){
                    text-align:center;
                }
                .event-overview-title,
                .event-overview-paragraph {
                    font-family: @primary-font !important;
                    padding:0;
                }
                .event-overview-title {
                    font-size: @heading-3;
                    font-weight:700;
                    line-height: @heading-3;
                    margin:15px 0;
                    color: @content-tile--title-color;
                }
                .event-overview-paragraph {
                    font-size: @base-font-size !important;
                    font-weight:400;
                    line-height: @base-line-height;
                    margin:0 0 15px;
                    &:last-child {
                        margin-bottom:0;
                    }
                    &:empty {
                        display:none;
                    }
                }
                p {
                    font-family: @primary-font !important;
                    font-size: @base-font-size !important;
                    font-weight:400;
                    line-height: @base-line-height;
                    margin:0 0 15px;
                    &:empty {
                    	display:none;
                    }
                }
            }
            .event-overview-btn {
                margin:15px 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                .event-overview-btn-col {
                    float:none;
                    flex-shrink:1;
					flex-grow: 2;
                    margin: 0;
                    padding: 0 5px 10px !important;
                    flex-basis: 50%;
                    @media (max-width:769px){
                        flex-basis:100%;
                    }
                    .btn-custom {
                        padding:13px 15px !important;
                        margin:0;
                        font-family: @primary-font;
                        font-size: @base-font-size;
                        font-weight:700;
                        line-height: @base-font-size;
                        color: @content-tile--btn-txt-color !important;
                        background-color: @content-tile--btn-bg !important;
                        border:1px solid @content-tile--btn-border-color;
                        .transition(@transition);
                        &:focus, &:hover {
                            color: @base-color !important;
                            background-color: @content-tile--btn-focus-bg !important;
                            border:1px solid @content-tile--btn-focus-border-color;
                            .transition(@transition);
                            .event-overview-btn-title {
                                color: @base-color;
                            }
                        }
                        .event-overview-btn-text-padding {
                            text-align:center !important;
                            padding:0;
                             @media (max-width:900px) {
                                display:flex !important;
                                height:auto !important;
                                vertical-align:initial !important;
                            }
                            .event-overview-btn-title {
                                padding:0;
                                font-family: @primary-font;
                                font-size: @base-font-size;
                                font-weight:700;
                                line-height: @base-font-size;
                                text-align:center;
                                display:block;
                                width:100%;
                            }
                        }
                        .event-overview-btn-icon-padding {
                            display:none;
                        }
                    }
                }
            }
        }
    }
}