/*= Social Links Component */

@fb-bg: #3b5999;
@fb-focus-bg: darken(@fb-bg,10%);
@tw-bg: #55acee;
@tw-focus-bg: darken(@tw-bg,10%);
@li-bg: #0077B5;
@li-focus-bg: darken(@li-bg,10%);
@ig-bg: #e4405f;
@ig-focus-bg: darken(@ig-bg,10%);
@pi-bg: #bd081c;
@pi-focus-bg: darken(@pi-bg,10%);
@yt-bg: #cd201f;
@yt-focus-bg: darken(@yt-bg,10%);


.socialIcon {
    ul {
        padding:10px 0;
        margin:0 !important;
        @media (max-width:768px) {
            text-align:right;
        }
        li {
            border:0;
            margin: 0 3px;
            padding:0 !important;
            @media (max-width:768px) {
                display:inline-block;
            }
            a {
                padding:0;
                i {
                    display:block;
                    width:30px !important;
                    height:30px !important;
                    line-height:30px;
                    text-align:center;
                    background-image:none !important;
                    .border-radius(50%);
                    .transition(@transition);
                    &:before {
                        font-family: @icon-font;
                        font-size: @base-font-size + 2;
                        font-style:normal;
                        line-height:30px;
                        display:inline-block;
                        color: @white;
                    }
                    &:hover {
                        .transition(@transition);
                    }
                    &.facebookIcon {
                        background-color: @fb-bg;
                        &:focus, &:hover {
                            background-color: @fb-focus-bg;
                        }
                        &:before {
                            content: '\f09a';
                        }
                    }
                    &.twitterIcon {
                        background-color: @tw-bg;
                        &:focus, &:hover {
                            background-color: @tw-focus-bg;
                        }
                        &:before {
                            content: '\f099';
                        }
                    }
                    &.linkedinIcon {
                        background-color: @li-bg;
                        &:focus, &:hover {
                            background-color: @li-focus-bg;
                        }
                        &:before {
                            content: '\f0e1';
                        }
                    }
                    &.instagramIcon {
                        background-color: @ig-bg;
                        &:focus, &:hover {
                            background-color: @ig-focus-bg;
                        }
                        &:before {
                            content: '\f16d';
                        }
                    }
                    &.pinterestIcon {
                        background-color: @pi-bg;
                        &:focus, &:hover {
                            background-color: @pi-focus-bg;
                        }
                        &:before {
                            content: '\f231';
                        }
                    }
                    &.youtubeIcon {
                        background-color: @yt-bg;
                        &:focus, &:hover {
                            background-color: @yt-focus-bg;
                        }
                        &:before {
                            content: '\f167';
                        }
                    }
                }
            }
        }
    }
}