/*= Social Links Component */

.socialIcon {
    ul {
        padding:0;
        @media (max-width:991px){
            float:none !important;
            text-align:right;
            font-size:0;
            @media (max-width:768px){
                text-align:center;
            }
            li {
                display:inline-block;
                vertical-align:top;
                float:none;
                margin-top:3px;
                margin-bottom:3px;
            }
        }
    }
}