.form-container {
  background-color: @color-primary-muted;
}
.form-fo1-title {
  background-color: @color-primary;
  font-family: @font-family-base;
  font-size: @headings-h3-font-size;
  border-bottom: none;
}
.custom-form-row {
  background-color: transparent;
}
.form-horizontal {
  .form-one-control-label {
    font-family: @font-family-base;
  }
}
.InformaBookStandForm .bv-form .subscriptions .checkboxlabelwithinforma {
  font-family: @font-family-base;
}
.InformaBookStandForm input[type=button],
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: @color-primary;
  color: #fff !important;
  width: 100px;
  height: 40px;
  font-family: @font-family-base !important;
  font-size: @font-size-base;
}
.custom-checkbox-fieldset {
  font-family: @font-family-base !important;
}