// Main heading
.content-title {
  .h1(@headings-color);
  background-color: transparent;
  border-bottom: 0 !important; // override !important declaration
  padding: 0;
  .title-bar-center & {
    text-align: center;
  }
}

// Sub heading
.content-highlight-title-anchor {
  .h3(@headings-color);
  .h4(@headings-color)!important;
  font-family: @font-family-base!important;
  .title-bar-center & {
    text-align: center;
  }
}

// Tab horizontal
.travel-nav-container {
  background-color: #fff;
  ul {
    border-bottom: 1px solid #ddd;
  }
}
.travel-nav-tabs {
  > li {
    margin-bottom: 0;
    > a {
      .text-base();
      background-color: #fff;
      &:hover,
      &:focus {
        background-color: #fff !important;
        border-top: 1px solid @color-primary;
        margin-top: -1px;
      }
    }
    &.active {
      margin-bottom: -1px;
    }
  }
}
.travel-Tab-title {
  .text-base();
  height: 60px;
  width: auto;
  padding: 0 15px;
}

// Handlebars styles
.m-controller,
.m-template {
  .text-base();
  .btn {
    border: 0;
    border-radius: 0;
  }
  .btn-default {
    border: 1px solid #ccc;
    color: #333 !important;
    background-color: #fff;
    &:hover,
    &:active {
      background-color: #e6e6e6 !important;
    }
  }
}
.m-controller {
  .form-control {
    border-radius: 0;
  }
}
.m-template {
  .badge {
    font-family: 'Open Sans', sans-serif;
  }
}

// Tabs
.nav-tabs {
  > li {
    height: auto;
    width: auto;
    > a {
      height: auto;
      width: auto;
      padding: 10px 15px;
      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
    &.active {
      > a {
        &,
        &:focus,
        &:hover {
          border-top: 3px solid @color-primary;
          border-left: 1px solid #ddd !important;
          border-right: 1px solid #ddd !important;
          border-radius: 3px 3px 0 0;
          margin-top: -2px;
        }
      }
    }
  }
}


// Sponsor Container
.content-background-color,
.img-gallery,
.nbs-flexisel-item {
  background-color: transparent;
  padding: 0;
}
.sponsors-box-heading {
  background-color: transparent;
  color: @color-gray-base;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.gallery-img-ribbon-title h4 {
  background-color: transparent;
  border: 0;
  color: @color-gray-base;
  font-weight: 400;
}
.sponsorsandpartners a.homePageCarouselItem {
  height: 150px;
}
.sponsorsandpartners .sponsorsImgItem {
  min-height: 100px;
  max-height: 100px;
}


// Countdown
.countdown {
  // span:before,
  // span:after {
  //   display: block;
  //   white-space: pre;
  //   content: '\A';
  // }
  font-family: @font-family-base;
  font-size: @cta-link-font-size!important;
  width: 100% !important;
  color: @cta-link-color;
  background-color: @color-secondary;
  .countDisplay {
    font-size: @font-size-base!important;
    line-height: 18px;
    display: inline;
    width: auto;
    padding-left: 0px;
    @media (min-width: 1200px) {
      display: table-caption;
      width: 245px;
      // width: 110px!important; - each on one line
      // width: 195px;
      // padding-left: 15px;
      width: 260px;
    }
  }
}
p#event {
  font-size: @headings-h3-font-size!important;
  padding: 15px 20px 25px 20px;
  line-height: 30px;
}
p.eventCountdownEvent {
  font-size: @headings-h3-font-size!important;
  padding: 15px 20px 25px 20px;
  line-height: 30px;
}
