// youtube video
.youtube-video {
  .mediacomponent2 {
    .media-body {
      .media-heading {

      }
    }
  }
}

.mediacomponent2 {
  @media (max-width: 767px) {
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
}

.media {
  font-family: @font-family-base;
  font-size: @cta-link-font-size;
 h3 {
    .h4(@cta-heading-color);
    background: transparent;
    background-color: @cta-heading-bg;
    color: #ffffff;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  p.divSectionSpace {
    .text-base();
    height: auto;
    background-color: @cta-body-bg;
    padding: 20px 20px 35px 20px !important;
  }
}
