@primary-dark-color: darken(@primary-color, 10%);
@primary-light-color: lighten(@primary-color, 10%);

@secondary-dark-color: darken(@secondary-color, 10%);
@secondary-light-color: lighten(@secondary-color, 10%);

@tertiary-dark-color: darken(@tertiary-color, 10%);
@tertiary-light-color: lighten(@tertiary-color, 10%);

@quaternary-dark-color: darken(@quaternary-color, 10%);
@quaternary-light-color: lighten(@quaternary-color, 10%);
