


<!-- NOW MOVED TO INSIDE THE SITE CODE! -->


<style>
.informa-header-menu .navbar-nav li.navRegisterbg a {
    line-height: normal;
color:#ec1b2e !important;
font-size: 18px !important;
}

.informa-header-menu .navbar-nav li.navRegisterbg {
    background-color: transparent;
}

@media only screen and (min-width: 320px) {

.informa-header-menu .navbar-nav li.navRegisterbg a {
    line-height: 50px;
}

.informa-header-menu .navbar-nav li.navRegisterbg a {
    color: #fff!important;
    background: linear-gradient(to right,#ec1b2e 0,#d87409 100%);
    border-radius: 5px;
  }
}


@media screen and (min-width: 1170px) {

.informa-header-menu .navbar-nav li.navRegisterbg a {
    color: #fff!important;
    background: linear-gradient(to right,#ec1b2e 0,#d87409 100%);
    border-radius: 5px;
}

}

</style>





<style>
.navbar-fixed-top {
   /* right: 40px!important;*/
position:relative;
}
</style>
