/* List- Tabular View */

.listview-variant-2{
    .listheading{   
        background:none;
        .listpage{
			margin:0;
        }
        .list.heading.nav {
            background: none repeat scroll 0 0 @black!important;
        }
        .heading.list.nav{
            background:@base-color !important;
            ul{
                li{
                    margin:0;
                    padding:15px;
					border-right:0;
                    border-left:1px solid @white;
                    &:after{
						display:none;
                    }
                    &:first-child{	
						border-left:0;
                    }
                    a{
						font-family:@primary-font !important;
                        color:@white;
                        font-weight:bold;
                        text-align:center !important;
                        display:block;
                        font-size:18px;
                    }
                }
            }
        }
        .item{
            ul{
                li{
                    margin:0;
                    padding:0;
                    height: auto !important;
                    min-height: 0;
                    div{
						font-family:@primary-font !important;
                        font-size:16px;
                    }
                    a{
						font-family:@primary-font !important;
                        font-size:16px;
                        color:@base-color;
                    }
                    span{
						font-family:@primary-font !important;
                        font-size:16px;
                    }
                    &.tr.list-item-rows:nth-child(odd) {
                    }
                    &.tr.list-item-rows:nth-child(even) {
                    }
                    &:first-child{
						border-top:0;
                    }
                    .th, .td {
                        padding: 15px !Important;
                    }
                    .accordion-xs-toggle{
						padding:0 !important;
                        &:after{
							top:20px;
                        }
                    }
                }
            }
        }
        .list.heading1 {
            background: @gray;
            margin-top:30px;
        }
        .list.heading2 {
            background: darken(@white,5%);
        }
        .list.heading1 .heading111 {
            padding: 0 15px;
		}
        .list.heading2 .heading111 {
            padding: 15px;
		}
        .list.heading1 .heading111 h2 {
            color: @white !important;
            font-family: @primary-font !important;
            font-size: @base-font-size + 6 !important;
            padding: 13px 15px !important;
            margin:0 !important;
		}
		.list.heading2 .heading111 h2 {
            color: @black !important;
            font-family: @primary-font !important;
            font-size: @base-font-size !important;
            line-height: @base-font-size + 6 !important;
            padding: 0 15px !important;
            margin:0 !important;
            font-weight: initial;
        }
    }
}


/**   Responsive Layouts   **/

@media (max-width: 1199px){

}
@media (max-width: 1024px) {
    .listview-variant-2 .listheading .listpage {
		height:auto;
	}
}
@media (max-width: 991px){

}
@media (max-width:786px) and (min-width: 770px) {
	.listview-variant-2 .listheading .nav .list li.tr.list-item-rows .collapse {
    	display:block;
	}
	.listview-variant-2 .listheading .list.heading.nav .hotel,
	.listview-variant-2 .listheading .list.heading.nav .category1 {
    	width:25%;
	}
	.listview-variant-2 .listheading .list.heading .list li.category3 {
		display:block;

	}
}
@media (max-width: 769px) and (min-width: 320px){
	.listview-variant-2 .listheading .nav .list li.tr.list-item-rows .accordion-xs-toggle {
    	padding:10px;
	}
	.listview-variant-2 .listheading .nav .list li.tr.list-item-rows .accordion-xs .toggle-hotels:after {
		top:0 !important;
	}
	.listview-variant-2 .listheading .divtable .td {
    	border:none;
		padding:0;
	}
	.listview-variant-2 .listheading .divtable .td.hotels-mobile {
    	text-align:left !important;
	}
	.listview-variant-2 .listheading .divtable .td.hotels-mobile span {
    	margin-right:10px;
	}
}
@media (max-width: 767px){
	
}
@media (max-width: 470px) {
	.listview-variant-2 .listheading .divtable .td.categorysecond-mobile {
    	width:30% !important;
	}
}