/**   Custom Footer Styles  **/

/**     Footer Widgets     **/
.t-footer{    
	margin-left:-15px;
    margin-right:-15px;
	background: #151515;
    padding:2vw 0;
    p,a{
		color:@white;
        font-size:14px;
        line-height:18px;
    }
    h4{
		color:#ffffff;
		font-weight:bold;
		margin:0 0 10px;   
        font-size:22px;        
    }   
    .titleBar{
        .informa-title-bar,.content-highlight-title-anchor{
            font-size: 15px;
            position: relative;
            color:#ffffff;
            height:auto;
            display:block;
            font-weight:bold;
            margin:0 0 20px;
            padding: 0 0 10px;
            border: 0 !important;           
            background: none !important;    
            font-family:@primary-font;
            &:after{
                position: absolute;
                top: 100%;
                left: 0;
                width: 90px;
                height: 1px;
                content: '';
                background: @primary-color;            
            }
        }
    }
    .linklist{
        ul{
            li{              
                a{
                 	color:@white;                    
                    &:hover{
						color:@secondary-color;
                    }
                }
            }
        }
    }
}


/**   Responsive Layouts   **/
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 768px){
	.t-footer{    
        padding-left:25px;
        padding-right:25px;
    }
}
@media (max-width: 320px){

}