.iframe-container .euromedicom-iframe { 
    height: 1737px;
}

/**   Header Styles  **/
.img-placeholder-wrapper{ // CUSTOM CLASS
	max-width:1170px;
    margin:auto;

}
.img-placeholder{ // CUSTOM CLASS
    padding:0;
    width:25%;
    margin-left:65%;
    position: relative;
    z-index: 999;
    margin-top:-90px;
    >.row{
		margin:0;
        div{
			padding:0;
        }
        .image{
            img{
				display:block;
                .transition(300ms all ease-out);
                &:hover{
                    opacity:.8;
					.transition(300ms all ease-out);
                }
            }
        }
    }
}


.custom-header{
    padding:10px 30px;
    margin-right:-15px;
    margin-left:-15px;
	background:@white;
	border-bottom:1px solid #eeeeee;
    &.isfixed{

		padding:15px 30px;
        margin-right:0;
        margin-left:0;
    }

	.transition(300ms ease-in-out padding);
    //Logo
    .logo{
        img{
			max-width:150px !important;
            width:100% !important;
        }
    }

    //Columns
    .column{
		display:table-cell;
        width:auto;
        &:nth-child(3),&:nth-child(4){
			float:right;            
        }

    }

    // Calender Component
	.calendar-component{
        padding:17px 0;
        i{
            width: 18px;
            height: 25px;
            line-height:25px;
            display: inline-block;
            margin:0;
            background: 0;
            font-style: normal;
            font-size: 17px;
            text-align:center;
            color: @primary-color;
            font-family: FontAwesome;
            background-image: none!important;                        
        }
        .calendarDetails{            
            float:none;   
            margin:0;
            line-height:25px;
            span{
                font-size:16px;
                font-weight:600;
                text-transform:uppercase;
                float:none;
                color:@black;
                font-family:@primary-font;
            }
            i:before{
                content: "\f017";                              
            }

        }

        .mapIconHeader{    
            margin:0;
            float:none; 
            line-height:25px;

            span{
                font-size:16px;
                font-weight:600;
                float:none; 
                color:@black;
                font-family:@primary-font;
            }
            i:before{
                content: "\f041";
                font-size:19px;
            }
        }
    }

	.headerSearch{
        margin-top:22px;
    }
}



/**   Responsive Layouts   **/
@media (max-width: 1280px){

}
@media (max-width: 991px){
	.img-placeholder-wrapper{
        max-width:750px;      	  
    }
    .img-placeholder{
		float:right;
        width:33%;
        .image{
            text-align:right;
            img{
				display:inline-block !important;                
            }
        }
    }
}
@media (max-width: 767px){
    body{
        padding-top:0 !important;
    }	
    .custom-header{       
		margin-right: -15px !important;
        margin-left: -15px !important;
        padding:30px !important;
        position:static !important;
        .column{
			display:block;
            width:100%;
        }
        .calendar-component {           
            margin: 10px 0;
            span{
				font-size:14px !important;
            }
        }
        .mapIconHeader span{
			font-size:14px !important;
        }
    }

    .img-placeholder-wrapper{
		display:none;
    }
}
@media (max-width: 320px){

}