.count-down{
    background:#002a60;
    margin:20px -15px 0 -15px;
	#countdown{
        background:@primary-color;
        border-radius:13px;
        margin:20px auto 40px auto;
        padding:20px 0;
        max-width:700px;
        @media (max-width: 768px){
        	margin:0 15px;
    	}
        h3{
            color:#fff;
            font-size:25px;
            text-align:center;
            margin-bottom:20px;
        }
        .text-center{
            min-height:75px;
            div{
                width:25%;
                float:left;
                color:#fff;
                font-size:27px;
                position:relative;
                &:after{
                    content: ":";
					position:absolute;
                    left:95%;
                    top:0;
                }
                small{
					font-size:12px;
                }
                &:last-child{
					 &:after{
                        display:none;
                    }
                }
            }
        }
	}
    @media (min-width: 769px){  
        .col-sm-3{
            width:35%!important;
        }
        .col-sm-9{
            width:65%!important;
        }
    }
    .heroParallax .carousel-inner .item img{
        width:auto!important;
    }
}
.stats-box{
    margin:0 -15px;
    &>.container-fluid{
		height:275px;
        p{
            color:@primary-color;
            font-size:18px;
            text-align:center;
            margin-top:55px;
            span{
                font-size:75px;
            }
        }
    }
}
.testimonial-box{
    margin:0 -15px;
    border-top:solid 1px #0f75bc;
    padding:30px 0;
}