/**   Innerpage Styles  **/

/**   Custom Classes    **/

// Sidebar
.custom-title-bar() {
    background-color: #24ABE1 !important;
    border-bottom: 4px solid #4B4B4B !important;
    color: #ffffff !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    height: auto;
    margin: 0 !important; // override !important declaration
    padding: 15px !important;
    line-height:20px;
    text-align:center;
}

.aside {
    // Forms
    .container-form{
        .form-container{
            .forms-title{
                .custom-title-bar();
            }
            .custom-form-row {
                .form-horizontal {
                    form {
                        label {
                            font-size:12px;
                            margin-top:0;
                        }
                        .form-group {
                            margin-top:0;
                            select {
                                max-width:100%;
                                width:100%;
                                background-size:inherit !important;
                                font-size:12px !important;
                            }
                            input[type='text'] {
                                font-size:12px !important;
                                padding:3px !important;
                                height:auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .col-xs-12.col-sm-3.col-md-3.col-lg-3 & {
        .container-form{
            &.section {
                .form-container{
                    &.form-error {
                        &.form-error-resize {
                            .form-main-fo1 {
                            }
                            .text {
                                &.section {
                                    p {
                                       margin-left:0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Image CTA Heading
.imagecalltoaction{   
    .informa-image-call-to-action{
        .informa-image-call-to-action-title{
            h3{
                .custom-title-bar();
            }
        }
    }
}

// Testimonials Carousel
.hide() {
    display:none;
    visibility:hidden;
    opacity:0;
}
.testi {
    .heroParallax {
        .carousel {
            .slider-indicators {
                .hide();
            }
            .carousel-inner {
                .item {
                    .carousel-caption {
                        .hide();
                    }
                }
            }
        }
    }
}

/**   Responsive Layouts   **/
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 320px){

}

.sponsorship-table{
    .col-sm-4, .col-sm-6 {
        padding:0!important;
        .column-control.section{
            border:1px solid #ccc;
            @media (min-width: 769px){
            	margin-top:25px;
            }
            margin-bottom:25px;
            .row{
                .col-xs-12 {
                    padding:0!important;
                     div > {
                        .text:first-child{
                            background:#bebebe;
                            color:#fff;
                            text-align:center;
                            padding:10px 0;
                            margin-bottom:0!important;
                            h2{
                                margin:0!important;
                            }
                        }
                    }
                }
            }

        }
        .highlighted {
            margin-top:0!important;
        	.text:first-child{
        		background:@primary-color!important;
        	}
    	}
        .titleBar .informa-title-bar{
            text-align:center!important;
            padding:25px 15px!important;
            border-bottom:1px solid #ccc!important;
            display:block;
            height:auto!important;
            font-size:40px;
            font-weight:300;
            &:before { 
  				content: "$";
                color:#ccc;
                font-size:21px;
                margin:-4px 0 0 -15px;
                font-weight:400;
            }
        }
        .text{
            li{
        		color:#666;
                font-size:15px;
                padding-right:10px;
            }
        }
	}
}


@media (max-width: 1024px){
    .mediacomponent1 {
        padding: 0px 15px !important;
    }
}

.informa-link-list-items{
    padding-left:15px !important;
}

@media (max-width: 768px){
    .bookStandFormOne{
        padding-right:10px;
        .col-md-9{
            padding:5px 0 0 0!important;
            width:100%!important;
        }
    }
}

#SiteMap .mainBox{
    background-color:@primary-color!important;
    a{
        font-family:@primary-font!important;
	}
    }
#SiteMap .subBox{
    background-color:@secondary-color!important;
    color:#fff!important;
    a{
        color:#fff!important;
        font-family:@primary-font!important;
    }
}

.lightgallery .slideCover{
    max-height:none!important;
}

