/**     RESET     **/
body{
	font-family:@primary-font;
}
h1,.h1{
	font-size:29px;
    line-height:39px;  
}
h2,.h2{
	font-size:26px;
    line-height:32px;
}
h3,.h3{
	font-size:20px;
    line-height:30px;
}
h4,.h4{
	font-size:18px;
    line-height:28px;    
}
h5,.h5{
	font-size:16px;
    line-height:26px;
}
h6,.h6{
	font-size:14px;
    line-height:24px;
}
.h1,h1{
	margin:0 0 20px;
}
.h2,.h3,.h4,.h5,.h6,
h2,h3,h4,h5,h6{
	margin:0 0 10px;
}

ul,ol{
    li{
		line-height:25px;
    }
}
ul{
    li{
		list-style-type: disc;
        margin:0 0 10px;
    }
}
h1, h2, h3, h4, h5, h6{
	font-family:@secondary-font;
}
p, ul, ol, blockquote, address, figure, form {
	font-family:@primary-font;
}


a{
    color:@primary-color;

    &:hover{
        color:@primary-color;		
    }
}

p{
	font-size:14px;
    a{
		text-decoration:none;
        &:hover{
            text-decoration:underline !important;
        }
    }
}

img{
	image-rendering: -webkit-optimize-contrast;
}

.row-custom-divider {
   margin-top: 0;  
}

#uRNValue, .uRNValue{
	display:none;
}

.container-fluid {
    margin-top: 0;
}
