/* ==========================================================================
   Variables
=========================================================================== */

/**   Colors    **/

@primary-color: #3269A4;
@secondary-color: #92BF5C;
@tertiary-color: #3269AF;
@4th-color: #2B2D70; // dark-blue
@5th-color: #22959E; // teal
@6th-color: #5FC9DE; // light-blue
@gray: #f9f9f9;
@black: #706F6F;
@white: #ffffff;
@black-black: #000000;


/**   Fonts    **/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');
@primary-font: 'Muli', sans-serif;
@secondary-font: 'Roboto Slab', serif;
@tertiary-font: 'Roboto Slab', serif;
