@filtered-search-result--content-bg: darken(@white,3%);
@filtered-search-result--border-color: darken(@filtered-search-result--content-bg,16%);
@filtered-search-result--input-field-bg: @white;

.filteredSearchResult {
    form {
        select {
            background-size: inherit !important;
        }
        .form-control {
            border-radius: 0;
            box-shadow:none;
            border:1px solid @filtered-search-result--border-color;
            background-color: @filtered-search-result--input-field-bg;
        }
        input[type='submit'], input[type='reset'] {
            border: 1px solid @base-color;
            background-color: @base-color !important;
            color: @white !important;
            height:34px;
            font-family: @primary-font !important;
            font-size: @base-font-size !important;
            font-weight: 700 !important;
            line-height: @base-font-size !important;
            &:focus, &:hover {
                background-color: transparent !important;
                color: @base-color !important;
                .transition(@transition);
            }
        }
    }
}