@component-custom-padding: (@global-padding / 2);


// default

.bannerImage,
.calendar-component .calendarDetails,
.calendar-component .mapIconHeader,
.container-form .container-fluid,
.countdown,
.custom-component--padding,
.eventlocation,
.image,
.imagecalltoaction .informa-image-call-to-action-content-section .col-md-8.col-xs-12.col-sm-8.col-lg-8,
.leadingText,
.linklist,
.logo,
.quicklink,
.sociallinks,
.titleBar,
.youtube-video {
	.component-padding();

	.custom-header &,
	.custom-footer &,
	.custom-subfooter & {
		padding-top: @component-custom-padding !important;


		> div {
			padding-bottom: @component-custom-padding !important;
		}
	}


	.global-nav & {
		padding: 0 !important;


		> div {
			padding: 0 !important;
		}
	}
}


.text {
	.component-padding-text();

	.custom-header &,
	.custom-footer &,
	.custom-subfooter & {
		padding-top: @component-custom-padding !important;


		> div {
			padding-bottom: @component-custom-padding !important;
		}
	}


	.global-nav & {
		padding: 0 !important;


		> div {
			padding: 0 !important;
		}
	}
}



// small padding

.informaBreadcrumb {
	.component-padding-small();
}


// content highlight

.contentHighlight,
.contentHighlight.section {
	.component-padding();

	@media (min-width: @breakpoint-tablet) {
		padding: @component-custom-padding @component-custom-padding !important;


		> div {
			padding: 0 !important;
		}
	}

	&:last-child {
		@media (min-width: @breakpoint-tablet) {
			padding-bottom: @component-padding-ver-tablet !important;
		}

		@media (min-width: @breakpoint-desktop) {
			padding-bottom: @component-padding-ver-desktop !important;
		}

		@media (min-width: @breakpoint-desktop-large) {
			padding-bottom: @component-padding-ver-desktop-large !important;
		}
	}
}


// image

.image {
	.custom-footer &,
	.custom-subfooter & {
		> div {
			padding-bottom: @component-custom-padding !important;
			padding-right: 0 !important;
		}
	}
}


// block components
// with padding on the container only

.lineseparator {
	.component-padding-block();

	.custom-header &,
	.custom-footer &,
	.custom-subfooter & {
		padding-bottom: @component-custom-padding !important;
		padding-top: @component-custom-padding !important;
	}
}


// top nav

.calendar-component .calendarDetails,
.calendar-component .mapIconHeader,
.top-nav {
	.component-padding-hor();
}


// remove padding

#content_template_wrapper > .imagecalltoaction {
	.remove-component-padding();
}
