// Components
// remove redundant margins

.countdown,
.image,
.quicklink,
.sociallinks,
.titleBar,
.text {
	margin: 0 !important;


	// quicklink
	.highlightText {
		margin: 0 !important;


		.content-faq1 {
			.event-overview-btn {
				margin: 0;


				.hightxt_btn {
					margin-left: auto;
					margin-right: auto;
					padding: 0 !important;
				}
			}
		}
	}


	// title bar
	.content-title,
	.content-highlight-title-anchor {
		margin-bottom: 0;
		margin-top: 0;
	}


	// social links
	.socialIcon {
		margin-top: 0;
		padding-top: 0;
	}
}


// informa container(s)

.informa-page-body-content,
.informa-body-content,
.body-content-container,
.body-wrapper {
	max-width: 100%;
	width: 100%;
}
