.titleBar + .lineseparator,
.text + .lineseparator,
.lineseparator + .titleBar,
.lineseparator + .text,
.image + .titleBar,
.image + .text,
.titleBar + .text,
.titleBar + .quicklink,
.text + .quicklink,
.contentHighlight + .quicklink {
	padding-top: 0 !important;
}


// components with list

.imagecalltoaction .btn-left-padding,
.quicklink .highlightText .content-faq1 .event-overview-btn .hightxt_btn {
	margin-bottom: @global-padding !important;
	width: 100%;

	&:last-child {
		margin-bottom: 0 !important;
	}
}
