#content_template_wrapper {
	> .section {
		margin-bottom: 0 !important;
		margin-top: @component-padding-ver-default !important;

		@media (min-width: @breakpoint-phablet) {
			margin-top: @component-padding-ver-phablet !important;
		}

		@media (min-width: @breakpoint-tablet) {
			margin-top: @component-padding-ver-tablet !important;
		}

		@media (min-width: @breakpoint-desktop) {
			margin-top: @component-padding-ver-desktop !important;
		}

		@media (min-width: @breakpoint-desktop-large) {
			margin-top: @component-padding-ver-desktop-large !important;
		}

		&:first-child {
			margin-top: 0 !important;
		}

		&:last-child {
			margin-bottom: @component-padding-ver-default !important;

			@media (min-width: @breakpoint-phablet) {
				margin-bottom: @component-padding-ver-phablet !important;
			}

			@media (min-width: @breakpoint-tablet) {
				margin-bottom: @component-padding-ver-tablet !important;
			}

			@media (min-width: @breakpoint-desktop) {
				margin-bottom: @component-padding-ver-desktop !important;
			}

			@media (min-width: @breakpoint-desktop-large) {
				margin-bottom: @component-padding-ver-desktop-large !important;
			}
		}


		&[class*=' bg-']:last-child {
			margin-bottom: 0 !important;
		}

		&[class*=' bg-'],
		&[class*='imagecalltoaction'],
		&[class*='heroParallax'],
		&[class*='informaBreadcrumb'] {
			& + .section[class*=' bg-'] {
				margin-top: 0 !important;
			}
		}
	}


	> .imagecalltoaction:first-child {
		margin-top: 0 !important;
	}
}
