/* -------------------------------

Breadcrumbs Component

------------------------------- */

.informaBreadcrumb {
	
	background:none;
    padding: 20px 0 5px;
    @media (max-width:769px){
		padding: 0px;
    }
    border-bottom:1px solid @color-secondary;
    margin-bottom:20px;
	
	.container {

        padding:0px !important;;

		nav {
			> div {
				margin-top:0 !important;
				margin-bottom: 0;
			}
			ul {
				margin-bottom:0;
				float:left;
				width:100%;
				border-radius:3px;
				overflow:hidden;
				background-color: transparent;
				li {
				   &:first-child {
						a {
							padding: 5px 10px 5px 0;
							position:relative;
						}
					}
					float:left;
					padding:0;
					.travel-breadcrumb {
						display:block;
						float:left;
						padding:6px 10px;
						color:@color-primary !important;
						font-size: 16px;
						font-family: @font-primary;
						font-weight:300;
					}
					.breadCrumbArrow {
						display:block;
						float:left;
						padding:5px 0;                    
						&:before {
							color:@color-primary !important;
							content:'/';
							font-family: @font-primary;
							font-size: 16px;
							font-weight:normal !important;
							font-weight:300 !important;
						}
					} 
					a {
						padding:5px 10px;
						position:relative;
						display:block;
						float:left;
						font-size:16px;
						font-weight:600;
						font-family: @font-primary;
						color: @color-secondary !important;
						&:focus,&:hover,&:visited,&:active {
							text-decoration:none;
						}
					}
				}
			}

		}
		.travel-divider {
			display:none;
		}
		
	}    
    
}
