/*= Calendar Component */

.calendar-component {
}

.eventDateContainer {
    .calenderIcon,
    .mapIcon {
        width:20px;
        text-align:center;
        line-height:1;
        &:before {
            font-family: @icon-font;
            font-style:normal;
            font-size: 16px;
        }
    }
    .calendarDetails,.mapIconHeader {
        margin: 10px 0 5px;
    }
    .calendarDetails {
        .calenderIcon {
            background-image: none !important;
            color:@color-tertiary;
            &:before {
                content: '\f073';
                margin:3px -5px 0px 0px!important;
                vertical-align:top;
            }
        }
        .topNavAddress {
            font-size: @base-font-size + 1;
            font-weight: 700;
            line-height: 22px;
            color: @base-color;
        }
    }
    .mapIconHeader {
      position: relative;
      margin: 0px 0px 0px 0px;

      @media (min-width:991px) {
        position: absolute;
        margin: 10px 0px 0px 170px;
      }


        float:left;
        width:100%;
        .mapIcon {
            background-image: none !important;
            margin:3px -5px 0px 0px!important;
            width: auto !important;
            height: auto !important;
            color:@color-tertiary;
            &:before {
                content: '\f041';
            }
        }
        .topNavAddress {
            font-size: @base-font-size + 1;
            font-weight: 500;
            line-height: 22px;
            color: @black;
        }
    }
}

.calendar-component {
    .clearfix();
}
.calendar-component,
.eventDateContainer {
    width:100%;
}
.eventDateContainer {
    float:left;
    margin-top: 40px;

      @media (min-width:768px) {
        margin-top: 20px;
      }
      @media (min-width:991px) {
        margin-top: 0px;
      }
}



.datevenuestrip-home-page {
  padding: 10px 0px 5px 0px;
  @media (min-width:991px) {
    padding: 20px 0px;
  }
  .eventDateContainer {
    float: left!important;
    text-align: center;
    max-width: 100%;

    @media (min-width:768px) {
      float: left!important;
      text-align: left;


    }

      .calenderIcon,
      .mapIcon {
          width:20px;
          text-align:center;
          line-height:1;
          &:before {
              font-family: @icon-font;
              font-style:normal;
              font-size: 16px;
          }
        }
      .calendarDetails,
      .mapIconHeader {
        margin: 0 auto;
        text-align:left;

        // float: none!important;
        // a {position: absolute;
        // }

        @media (min-width:768px) {
          float: left!important;
          text-align: left;
          margin: 10px 0 5px;
          }
        }
      .calendarDetails {
          .calenderIcon {
              background-image: none !important;
              color:@color-white;
              &:before {
                  content: '\f073';
                  margin:3px -5px 0px 0px!important;
                  vertical-align:top;
              }
          }
          .topNavAddress {
              font-size: @base-font-size + 1;
              font-weight: 700;
              line-height: 22px;
              color: @color-white;
          }
      }
      .mapIconHeader {
        position: relative;
        margin: 0px 0px 0px 0px;
        float:left;
        width:100%;

        @media (min-width:991px) {
          position: absolute;
          margin: 11px 0px 0px 170px;
        }
        .mapIcon {
            background-image: none !important;
            margin:3px -5px 0px 0px!important;
            width: auto !important;
            height: auto !important;
            color:@color-white;
            &:before {
                content: '\f041';
            }
          }
          .topNavAddress {
              font-size: @base-font-size + 1;
              font-weight: 500;
              line-height: 22px;
              color: @color-white;
          }
      }
  }
}
