/**     Hero Parallax Styles     **/

.heroParallax{
    margin:0px;
    .heroParallax-element, #mainContent{
        margin:0 !important;
        .carousel{
            margin: 0;
            .carousel-indicators {
                margin:0;
                height:auto;
                li{
					background:@color-primary !important;
                }
            }
            .carousel-inner {
                @media (min-width:770px){
                    height: auto;
                    > .item {
                        img {
                            height: 100% !important;
                            width:auto !important;
                            min-height: 0!important;
                            display: block;
                            overflow: hidden;
                            object-fit: cover;
                            max-width: none;
                            object-position: center;
                        }
                    }
                }
                // IE 11 Fix
                @media screen and (-ms-high-contrast: none) {
                    > .item {
                        img {
                            max-width: none !important;
                        }
                    }
                }
                @media (max-width:769px){
					> .item {
                        img {
                            position:absolute;
                            top:0;
                            left:0;
                            height: 100% !important;
                            width: auto !important;
                            display: block;
                            overflow: hidden;
                            object-fit: cover;

                        }
                    }
                }
                .container {
                    text-align: left;
                    margin:0 !important;
                }
            }
            .carousel-caption {
                text-align:left !important;
                @media (max-width:769px){
					position:static;
                }
                .container{
                    width:100%;
                    position:relative;
                    z-index:10;
                    @media (max-width:769px){
						padding:0 40px;
                    }
                }

                top: 0;
                bottom: initial;
                left: 0;
                right: 0;
                width: 96%!important;
                background: transparent;
                max-width:1170px;
                padding:40px 0;
                h1,h2,h3,h4,h5,p {
                    margin: 0 0 20px;
                    color:@color-white !important;
                    text-shadow:none;
                    text-transform:none;
                    text-align: left;
                    font-family:@font-primary !important;
                }
                h1{
					.h1();
                    font-family:@font-secondary !important;
                    font-size:65px !important;
                    font-weight:bold;
                    @media (max-width:991px){
						font-size:55px !important;
                        line-height:65px !important;
                    }
                }
                h2{
					.h2();
                }
                h3{
                    .h3();
                }
                p{
					.h4();
                }

            }
            .carousel-calltoAction{
                margin:40px 0 0;
                a{
                    display:inline-block;
                    text-decoration:none !important;
                }
            }
            button {
                .button();
                &:hover, &:focus {
                    background-color: @color-secondary !important;
                    .transition(all ease 300ms);
                }
            }
        }
    }
    .carousel-control{
    	top:50%;
    	margin-top:-15px;
    	&.left{
			left:10px;
    	}
    	&.right{
			right:10px;
    	}
	}
}



/**     New Branding - Hero Parallax Styles     **/

.carousel-branding {
    .heroParallax{
        margin:0px;
        .heroParallax-element, #mainContent{
            margin:0 !important;
            .carousel{
                margin: 0;
                .carousel-indicators {
                    margin:0;
                    height:auto;
                    li{
                        background:@color-primary !important;
                    }
                }
                .carousel-inner {
                    @media (min-width:770px){
                        height: auto;
                        > .item {
                            img {
                                height: 100% !important;
                                min-height: 0!important;
                                display: block;
                                overflow: hidden;
                                object-fit: cover;
                                max-width: none;
                                object-position: left;
                                float:left;
                                width:45% !important;
                            }
                        }
                    }
                    // IE 11 Fix
                    @media screen and (-ms-high-contrast: none) {
                        > .item {
                            img {
                                max-width: none !important;
                            }
                        }
                    }

                    @media (max-width:1200px){
                        > .item {
                            img {
                                position:relative;
                                top:0;
                                left:0;
                                height: 100% !important;
                                width:30% !important;
                                display: block;
                                overflow: hidden;
                                object-fit: cover;

                            }
                        }
                    }

                    @media (max-width:769px){
                        > .item {
                            img {
                                position:relative;
                                top:0;
                                left:0;
                                height: 100% !important;
                                width: auto !important;
                                display: block;
                                overflow: hidden;
                                object-fit: cover;

                            }
                        }
                    }
                    .container {
                        text-align: left;
                        margin:0 !important;
                    }
                }
                .carousel-caption {
                    text-align:left !important;
                    @media (max-width:1600px){
                        left: 50%;
                        right: auto;
                        width: 45%!important;
                        background: transparent;
                        max-width:800px;
                        padding:0px;
                        position:absolute;
                        h1{
							font-size: 32px !important;
                        }
                    }
                    @media (max-width:1200px){
                        right: auto;
                        width: 65%!important;
                        background: transparent;
                        padding:0px;
                        position:absolute;
                        left: 0;
                        max-width: 800px;
                        position: relative;
                        float: right;
                        h1{
							font-size: 32px !important;
                        }
                    }
                    @media (max-width:769px){
                        position:static;
                        width: 100% !important;
                    }
                    .container{
                        width:100%;
                        position:relative;
                        z-index:10;
                        @media (max-width:769px){
                            padding:0 40px;
                        }
                    }

                    top: 0;
                    bottom: initial;
                    left: 50%;
                    right: auto;
                    width: 45%!important;
                    background: transparent;
                    max-width:1000px;
                    padding:40px 0;
                    h1,h2,h3,h4,h5 {
                        margin: 0 0 20px;
                        color:@color-primary !important;
                        text-shadow:none;
                        text-transform:none;
                        text-align: left;
                        font-family:@font-primary !important;
                    }
                    p {
						color:@color-gray !important;
                        line-height:22px;
                        font-size:16px;
                    }
                    h1{
                        .h1();
                        font-family:@font-secondary !important;
                        font-size:36px !important;
                        font-weight:bold;
                        line-height:42px !important;
                        @media (max-width:991px){
                            font-size:30px !important;
                            line-height:36px !important;
                        }
                    }
                    h2{
                        color:@color-secondary !important;
                        line-height:26px;
                        font-size:20px;
                        font-weight:600;
                    }
                    h3{
                        .h3();
                    }

                }
                .carousel-calltoAction{
                    margin:40px 0 0;
                    @media (max-width:1600px){
						margin:20px 0 0;
                    }
                    a{
                        display:inline-block;
                        text-decoration:none !important;
                    }
                }
                button {
                    .button();
                    &:hover, &:focus {
                        background-color: @color-secondary !important;
                        .transition(all ease 300ms);
                    }
                }
            }
        }
        .carousel-control{
            top:50%;
            margin-top:-15px;
            &.left{
                left:10px;
            }
            &.right{
                right:10px;
            }
        }
    }
}


// Homepage Hero Image and Text settings
.bg-full-width {
  .home-carosuel {
    .home-carosuel-image {
      height: auto;
      min-height: 380px;

      @media (max-width: 769px) and (min-width: 320px) {
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
        float:left;
        min-height: 420px;
      }
    }
    @media (max-width: 1024px) {
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      float:left;
      height: 420px;
    }
}
      .carousel-inner {
            overflow: visible!important;
                  // IE 11 Fix
                  @media screen and (-ms-high-contrast: none) {
                  > .item {
                      img {
                        max-width: none !important;
                      }
                    }
                  }
            > .item,
            > .item.active {
              img {
                overflow: visible!important;
                width:100%;
                .transition(300ms all ease);
                height: 331px;
                min-height: 331px;
                max-width:410px !important;

                  @media (min-width:769px){
                    width:100%;
                    max-width:380px !important;
                    float:left;
                  }
                  @media (min-width:991px){
                    width:100%;
                  	max-width:380px !important;
                  	float:left;
                  }
                  @media (min-width:1200px){
                    width:100%;
                  	max-width:500px !important;
                  	float:left;
                  }

              }
            }

        .container {
            text-align: left;
            margin:0 !important;
        }
      }
    }
    .column-content {
      @media (min-width: 1200px) {
      }
    }
    .column-text {
      margin-top: -70px;
      padding-left: 0%;
      @media (min-width: 768px) {
        margin-top: -70px;
        padding-left: 0%;
      }
      @media (min-width: 991px) {
        margin-top: -380px;
        padding-left: 20%;
      }
      // @media (min-width: 1024px) {
      //   margin-top: -280px;
      //   padding-left: 30%;
      // }
      @media (min-width: 991px) and (max-width: 1199px) {
        margin-top: -380px;
        padding-left: 40%;
      }



      @media (min-width: 1200px) {
        margin-top: -400px;
        padding-left: 40%;
      }
      @media (min-width: 1500px) {
        margin-top: -400px;
        padding-left: 25%;
      }
      @media (min-width: 2100px) {
        margin-top: -400px;
        padding-left: 15%;
      }

      .column-text-column {
        margin-left: auto;
        margin-right: auto;
        &.col-xs-12 {
            width: 100%;
            float: none;
            // max-width: 750px;
        }
        &.col-xs-12 {
            width: 100%;
            float: none;
            // max-width: 750px;
        }
        @media (min-width: 768px) {
          &.col-sm-3 {
              width: 100%;
              float: none;
              // max-width: 750px;
          }
          &.col-sm-9 {
            width: 100%;
            float: none;
              // width: 60%;
              // float: right;
              // max-width: 750px;
          }
        }
        @media (min-width: 992px) {
          &.col-md-3 {
            width: 100%;
            float: none;
              // width: 45%;
              // float: left;
              // max-width: 970px;
          }
          &.col-md-9 {
            width: 100%;
            float: none;
              // width: 55%;
              // float: left;
              // max-width: 970px;
          }
        }
        @media (min-width: 1200px) {
          &.col-lg-3 {
              width: 35%;
              float: left;
              // max-width: 1170px;
          }
          &.col-lg-9 {
              width: 65%;
              float: left;
              // max-width: 1170px;
          }
        }
      }

    }
    .column-text-main {
      padding-top: inherit;
      padding-left: inherit;
      @media (min-width:768px){
        padding-top: inherit;
        padding-left: inherit;
      }
      @media (min-width: 991px) {
        padding-top: inherit;
        padding-left: inherit;
      }
      // @media (min-width: 1024px) {
      //   padding-top: inherit;
      //   padding-left: inherit;
      // }
      @media (min-width: 1200px) {
        padding-top: inherit;
        padding-left: inherit;
      }
      @media (min-width: 1500px) {
        padding-top: inherit;
        padding-left: inherit;
      }
    }
    .column-text-sub {
      text-align: left;
      border-top: 1px solid @color-primary;
      border-left: 0px solid @color-primary;
      // @media (min-width: 991px) {
      //   text-align: left;
      //   border-top: 0px solid @color-primary;
      //   border-left: 1px solid @color-primary;
      // }
      @media (min-width: 991px) {
        text-align: left;
        border-top: 0px solid @color-primary;
        border-left: 1px solid @color-primary;
      }
    }



  }
}
