/** Logo Component **/
.logo{
    .img-center &{        
        a{
            display:block;
        	text-align:center !important;
            img{
                display:inline-block !important;
            }
        }
    } 
    .img-right &{        
        a{
            display:block;
        	text-align:right !important;
            @media (max-width:768px){
				text-align:center !important;
            }
            img{
                display:inline-block !important;
            }
        }        
    } 

    .img-left &{        
        a{
            display:block;
        	text-align:left !important;
            @media (max-width:768px){
				text-align:center !important;
            }
            img{
                display:inline-block !important;
            }
        }        
    } 
}

/** Image **/

.image.parbase.section{	
    margin-bottom:0;
	text-align:left;
    position:relative;
    a{
        display:inline-block;   
        // IE 11 Fix
        @media screen and (-ms-high-contrast: none) {               
            display:block !important;
        }
        img{
            display:inline-block !important;    

        }
        span{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background:rgba(0,0,0,.5);            
            opacity:0;
            .transition(300ms all ease);
            color:@color-white;
			text-align:center;
            display:block;
            font-size:27px;
            strong{
				position:absolute;
                left:0;
                width:100%;
                padding:40px;
                top: 50%;
                transform: translateY(-50%);
            }            
        }
        &:hover{
            span{
				opacity:1;
                .transition(300ms all ease);
            }
        }
    }

    //Custom Classes     
    .overlay-top &{
		margin-top:-13vw;
        @media (max-width: 991px){
			margin-top:0;
        }
        @media (max-width: 769px){
			margin-top:0;
        }
    }
    .align-img-center &{        
        a{
            display:block;
        	text-align:center !important;
            img{
                display:inline-block !important;
            }
        }

    } 
    .align-img-left &{   
    	text-align:left !important;
    	@media (max-width:768px){
        	text-align:center !important;
    	}
        a{
            display:inline-block;        	
            img{
                display:inline-block !important;
            }
        }
    }  
    .align-img-right &{   
    	text-align:right !important;
    	@media (max-width:768px){
        	text-align:center !important;
    	}
        a{
            display:inline-block;        	
            img{
                display:inline-block !important;
            }
        }
    }   

    .rounded &{ 
        a{      	
            img{
                border-radius: 50%;
            	box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
        }
    }   

	.rounded-border &{ 
        a{      	
            img{
                border-radius: 50%;
        		border:5px solid @white;
        		box-shadow:0px 0px 10px 0px #333;
        		box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
        		margin: 10px;
            }
        }
    }  

	// Curved corner
	.curved &{ 
        a{      	
            img{
                border-radius: 10%;
        		border:7px solid @white;
        		box-shadow:0px 0px 10px 0px #333;
        		box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            	margin: 10px;
            }
        }
    }  

    .img-frame-left &{
        overflow:visible;
        padding:0 0 20px;
        @media (max-width: 769px){
    		margin:0 0 40px;   
            padding: 0 40px;
        }
        a{            
            position:relative;
            // IE 11 Fix
            @media screen and (-ms-high-contrast: none) {               
                @media (max-width:769px){
                    display:block !important;
                }
            }
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 19;
                top: 20px;
                right: 20px;                
                border: 2px solid;
                border-color:@color-secondary;
                border-image: linear-gradient(to right, lighten(@color-secondary,10%), @color-secondary) 30;      
            }
        }
    }
    .img-frame-right &{
    	overflow:visible;
    	padding:0 0 20px;
        @media (max-width: 769px){
    		margin:0 0 40px;
        	padding: 0 40px;
        }
        a{
            position:relative; 
        	// IE 11 Fix
            @media screen and (-ms-high-contrast: none) {               
                @media (max-width:769px){
                    display:block !important;
                }
            }
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 19;
                top: 20px;
                left: 20px;                
                border: 2px solid;
                border-color:@color-secondary;
                border-image: linear-gradient(to right, lighten(@color-secondary,10%), @color-secondary) 30;      
            }
        }    
    }
}




.align-img-center {     
    .image.parbase.section {
         text-align:center !important;
    }
}

