/** Sponsor Container **/

.sponsor-container{    
    padding:0px 25px;
    .img-gallery{
        padding:20px 0 0;              
        background:none !important;
        text-align:center;
        h3{
            border: 0;
            color: @color-gray-base !important;
            font-size: 17px;
            line-height:26px;
            font-weight: 600;
            margin-bottom: 30px;            
            position: relative !important;
            text-align: left;
            text-transform: none;
            font-family:@font-primary;
            margin: 0;
            padding: 0;
            padding-bottom:15px;
            border-bottom:1px solid #ccc;
            @media (max-width: 769px){      
                font-size: 20px !important;
                margin-left:0 !important;
                margin-right:0 !important;
                padding-left:0 !important;
                padding-right:0 !important;            
            }  

        }
    }
    .home-page-carousel{                     
        .sponsorsandpartners{
            text-align:center;
            padding:0;
            margin:0;
            &:after{
				clear:both;
                display:table;
                content:'';
            }
            li{
                display:inline-block !important;
                max-width:200px !important;
                width:100% !important;
                float: none;
                vertical-align: middle;
                padding: 0 !important;
                margin: 0 !important;
                .thumbnail{
                    height:auto !important;
                    .sponsorsImgItem{						
                        padding:0 10px;
                        margin:0px;
                        min-height:100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
							flex-direction:column;

                        }
                        img{
							position:static;
                            transform:none; 
                            width:auto;
                            height:auto;
                            image-rendering: -webkit-optimize-contrast;
                            max-width:200px !important;
                            max-height:90px !important;
                        }
                    }
                    .gallery-img-ribbon-title{
                        position:static;
                        h4{
                            position:relative;
                            padding:10px;
                            font-size:15px;
                            font-weight:normal !important;
                            line-height:20px;                            
                            background:none !important;                            
                            border-bottom:none !important;
                            color:@black;
                            .border-radius(5px);
                            .transition(0.5s);
                            &:before {
                                background: @color-primary;
                                top: 0;
                                content: "";
                                display: block;
                                height: 3px;
                                left:50%;
                                margin: 0 0 0 -30px;
                                position: absolute;
                                width: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}