/** Tab Panel Styles  **/
.tab-panel{
    .informa-tab-panel{
        margin:0;
        padding:0;
        background:none;        
        .informa-tab-panel-tabs{
			font-size:0;
            text-align:left !important;
            margin-bottom:40px;
            display:block;            
            padding: 0;
            text-align:center;
            @media (min-width: 770px){
				margin-left:-5px;
                margin-right:-5px;
            }            
            li{               	                 
            	float:none;
            	margin:0 5px 10px;
            	display:inline-block;
            	font-size:15px;
            	position:relative;
            	width: 137.5px;
                a{
                    background:@color-secondary;
                    padding:10px 20px !important;
                    height:auto;
                    border-top:0; 
                	border-radius:5px;
                    width:100%; 
                	border-bottom:0 !important;
               		color:@color-white !important;
                	margin-right:0;                	                	
                    .transition(300ms all ease-out);
                	display:table;                	
                    span{
                    	vertical-align:middle;
                    	display:table-cell;
                        font-size:18px;
                        color:@color-white;
                    	width:100% !important;
                    	padding:10px;
                        text-align:center;
                        background:none;
						height:auto;
                        line-height:1.2;
                    	font-family:@font-primary !important;
                    	font-weight:500;
                    }	
                }
                &.active,&:hover{    
                    a{
                    	//Custom Class Overide
                        .blue-pattern &{                            
                        	background:@color-white !important;
                            span{
                                color:@color-secondary !important;
                            }
                        } 
                        background:@color-primary !important; 
                        .transition(300ms all ease-out);
                        span{
                            color:@color-white !important;
                        }
                    }
                	&:after{
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        margin-left: -8px;
                        width: 0;
                        height: 0;
                        content: "";
                        border-style: solid;
                        border-width: 7px 10px 0 10px;
                        border-top-color: @color-primary !important; 
                        border-left-color: transparent;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        opacity: 1;
                        z-index: 1;
                    	.transition(all 300ms ease-out);

                    	//Custom Class Overide
                        .blue-pattern &{                            
							border-top-color: @color-white !important; 
                        } 
                    }
                }

            }
        }      
        .panel-group{
            margin:0;
            .panel{
            	background: none;
                .panel-heading{
					background:none;
                	padding-right:0 !important;
                    .panel-title{
						padding:15px;
                    	background:@color-secondary;	
                    	margin-bottom:0 !important;
                    	//Custom Class Overide
                        .blue-pattern &{                            
                        	background:@color-white;
                            a span{
    							color:@color-black !important;
                            }
                        } 
                        a{
                            text-decoration:none;
                            span{
								padding:0;
                                color:@color-white;
                            	text-transform:none;
                            	font-size:18px;
                            	text-align:center;
                            }
                        }
                    }                     
                }
            	.panel-collapse{
                    @media (max-width: 767px) and (min-width: 320px){
                    	.panel-body {
                            background-color: transparent !important;
                            border-top:0 !important;
                        }
                    }
                    .panel-body{
                        background-color:transparent !important;
                    }
            	}
            }
        }
        .informa-tab-panel-content{        	
            .tab-pane{
                .imagecalltoaction{
    				background:#f9f9f9;
                    .informa-image-call-to-action-content-subtitle {
                        font-size: 24px!important;
                    	line-height:34px !important;
                    }                 
                }
            }
        }
    }
}