/*

File Name: _alert-box.less
Description: Alert Box component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */
@alert-box--bg-color: darken(@white,3%);
@alert-box--header-bg-color: darken(@white,10%);
@alert-box--border-color: transparent;
@alert-box--heading-color: @black;
@alert-box--body-color: @black;
@alert-box--btn-bg-color: @black;
@alert-box--btn-hover-bg-color: transparent;
@alert-box--btn-border-color: @black;
@alert-box--btn-hover-border-color: @black;
@alert-box--btn-text-color: @white;
@alert-box--btn-hover-text-color: @black;
@alert-box--icon: '\f063'; // down arrow

.dialoguebox {
    margin:30px 0;
    padding:0;
    background-color: @alert-box--bg-color !important;
    .clearfix();
    .homepage-modal-body {
        > div[class^='col'] {
            padding-left:0;
            padding-right:0;
        }
    }
    .modal-header {
        margin:0;
        padding:15px;
        background-color: @alert-box--header-bg-color !important;
        .modal-title {
            font-family: @primary-font;
            font-size: @base-font-size;
            font-weight:700;
            line-height: @base-font-size;
            color: @alert-box--heading-color !important;
            position:relative;
            padding-right:30px;
            &:after {
                content: @alert-box--icon;
                font-family: @icon-font;
                font-size: @base-font-size;
                font-weight: 400;
                line-height: @base-font-size;
                color: @alert-box--heading-color;
                position: absolute;
                top:0;
                right:0;
            }
        }
    }
    .modal-body {
        font-family: @primary-font;
        font-size: @base-font-size;
        font-weight:400;
        line-height: @base-font-size;
        color: @alert-box--body-color !important;
        padding:30px;
        margin:0;
        p {
            &:extend(.modal-body);
            line-height: @base-line-height;
        }
    }
    .callaction-btn {
        .modal-footer {
            .callaction-btn-col {
                .btn-primary {
                    background-color: @alert-box--btn-bg-color !important;
                    border:1px solid @alert-box--btn-border-color !important;
                    text-align:center;
                    color: @alert-box--btn-text-color !important;
                    padding:13px 15px !important;
                    .transition(@transition);
                    &:focus, &:hover {
                        background-color: @alert-box--btn-hover-bg-color !important;
                        color: @alert-box--btn-hover-text-color !important;
                        .transition(@transition);
                        .callaction-btn-text-padding {
                            .callaction-btn-title {
                                color: @alert-box--btn-hover-text-color !important;
                                .transition(@transition);
                            }
                        }
                    }
                    .callaction-btn-text-padding {
                        .callaction-btn-title {
                            font-family: @primary-font;
                            font-size: @base-font-size;
                            font-weight:700 !important;
                            line-height: @base-font-size !important;
                            display:block;
                        }
                    }
                }
            }
        }
    }
}