.faqQuickLink {
    .content-title {
        padding:0;
        margin:30px 0;
        border:0 !important;
        background-color: transparent;
        a {
            display:block;
            &:extend(.button all);
            img {
                display:none;
            }
        }
    }
}