/*

File Name: _boilerplate.less
Description: Boilerplate component styles
Dependencies: _variables.less

*/

/* Local variables */

@boilerplate-bg: @gray;
@boilerplate-text-color: @white;

.boilerplate {
    .informa {
        background: @boilerplate-bg;
        .dropdown {
            text-align: center;
            padding: 3px 0;
            button,
            button[aria-expanded="false"] {
                color: @white;
                text-indent: -99999px;
                background: url("@{images}/iribbon-logo.gif") no-repeat 0 0;
                width: 92px;
                height: 17px;
                margin: 6px 0;
                border: 0 !important;
                transition: initial !important;
                outline: none;
            }
            button[aria-expanded="true"] {
                background-position-y: -17px;
            }
            button {
                font-size:inherit !important;
            }
        }
        p, ul, li, a, span {
            font-family: @primary-font;
            font-size: @base-font-size;
            color: @boilerplate-text-color;
        }
    }
}