.panel-custom-header {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-prev {
  background-color: @color-primary;
    &:hover,      /*Changes by IBM for UBM Site Migration (Added background and color)*/
    &:focus,
    &:active {
        background-color:  rgb(0, 112, 149);
    color: #f4f4f4;
    }
  .indicator {
    margin: 0;
    width: @font-size-base;
    height: @font-size-base;
    background-image: none;

    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: @font-size-base;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      -webkit-transition: -webkit-transform .15s ease-out;
      transition: -webkit-transform .15s ease-out;
      transition: transform .15s ease-out;
      transition: transform .15s ease-out,-webkit-transform .15s ease-out;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);

      content: "\f078";
    }

    &.accordion-minus:before {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  &:hover,
  &:focus,
  &:active {
    background-color: darken(@color-primary, 8%);
    .accordion-plus,
    .accordion-minus {
      // margin: 0;
      // height: 16px;
      background-image: none;
    }
    a h4 {
      color: #fff;
    }
  }
  a h4 {
    color: #fff;
  }
}

