// anchor links
/*ul#myTabAnchorLink1_anchorlinks {
  visibility: none!important;
  display: none!important;
}*/

#AnchorTop_anchorlinks {
  font-family: @font-family-base!important;
}
.anchorLinks {
  font-family: @font-family-base!important;
}
.tab-collapse-nav-container-anchor {
  background-color: #ffffff;
  color: @font-color-base;
  font-family: @font-family-base;
  font-size: @font-size-base;
}

#AnchorLink .custom-anchor-title {
    padding: 20px 10px 16px 0;
    font-family: @font-family-base!important;
    color: @color-primary!important;
    background-color: #ffffff;
    border-bottom: 0px solid #ffffff;
    margin-bottom: 30px;
}
#AnchorLink .content-highlight-title-anchor {
  font-family: @font-family-base!important;
}

#AnchorLink .custom-anchor-title {
  color: @color-primary;
}
#AnchorLink .tab-collapse-nav-tabs-anchor {
    border-bottom: 1px solid #ddd;
}
#AnchorLink .tab-collapse-nav-tabs-anchor > li > a {
  font-family: @font-family-base!important;
  font-size: 20px;
  color: @font-color-base;
  border-radius: 0;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  height: 90px;
  border: 0;
}
#AnchorLink .tab-collapse-nav-tabs-anchor > li > a:hover {
    color: @color-secondary !important;
    background-color: transparent;
    border-top: 0px solid @color-secondary;
}
.anchorLinks #AnchorLink .tab-collapse-nav-tabs-anchor > li > a,
.anchorLinks #AnchorLink .tab-collapse-nav-tabs-anchor > li > a span {
  font-family: @font-family-base!important;
}

#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a,
#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a:focus,
#AnchorLink .tab-collapse-nav-tabs-anchor > li.active > a:hover {
    background-color: #ffffff!important;
    border-color: transparent;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-radius: 3px 3px 0 0;
    color: @color-secondary !important;
    cursor: default;
    border-top: 4px solid @color-secondary !important;
    outline: none;
}
#AnchorLink .tab-collapse-nav-tabs-anchor
  > li
    > a span {
      padding: 0 0px!important;
}
#AnchorLink .tab-collapse-nav-tabs-anchor>li>a span {
  font-family: @font-family-base!important;
  height: 90px!important;
}

#AnchorLink .row-divider-anchor {
    background-color: transparent;
    margin-right: 30px;
    margin-left: 30px;
    border-bottom: 4px solid @color-secondary !important;
}
#AnchorLink .back-to-top a {
    text-decoration: none;
    color: @color-secondary !important;
    &:hover {
      text-decoration: underline;
    }
}
#AnchorLink .anchor-section-wrapper {
  font-family: @font-family-base!important;
}



.tab-collapse-nav-container-anchor {
  background-color: #ffffff;
  color: @font-color-base;
  font-family: @font-family-base;
  font-size: @font-size-base;
}

.anchorLinkElement .custom-anchor-title {
    padding: 20px 10px 16px 0;
    font-family: @font-family-base!important;
    color: @color-primary!important;
    background-color: #ffffff;
    border-bottom: 0px solid #ffffff;
    margin-bottom: 30px;
}
.anchorLinkElement .content-highlight-title-anchor {
  font-family: @font-family-base!important;
}

.anchorLinkElement .custom-anchor-title {
  color: @color-primary;
}
.anchorLinkElement .tab-collapse-nav-tabs-anchor {
    border-bottom: 1px solid #ddd;
}
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li > a {
  font-family: @font-family-base!important;
  font-size: 20px;
  color: @font-color-base;
  border-radius: 0;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  height: 90px;
  border: 0;
}
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li > a:hover {
    color: @color-secondary !important;
    background-color: transparent;
    border-top: 0px solid @color-secondary;
}
.anchorLinks .anchorLinkElement .tab-collapse-nav-tabs-anchor > li > a,
.anchorLinks .anchorLinkElement .tab-collapse-nav-tabs-anchor > li > a span {
  font-family: @font-family-base!important;
}

.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a,
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a:focus,
.anchorLinkElement .tab-collapse-nav-tabs-anchor > li.active > a:hover {
    background-color: #ffffff!important;
    border-color: transparent;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-radius: 3px 3px 0 0;
    color: @color-secondary !important;
    cursor: default;
    border-top: 4px solid @color-secondary !important;
    outline: none;
}
.anchorLinkElement .tab-collapse-nav-tabs-anchor
  > li
    > a span {
      padding: 0 0px!important;
}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li>a span {
  font-family: @font-family-base!important;
  height: 90px!important;
}

.anchorLinkElement .row-divider-anchor {
    background-color: transparent;
    margin-right: 30px;
    margin-left: 30px;
    border-bottom: 4px solid @color-secondary !important;
}
.anchorLinkElement .back-to-top a {
    text-decoration: none;
    color: @color-secondary !important;
    &:hover {
      text-decoration: underline;
    }
}
.anchorLinkElement .anchor-section-wrapper {
  font-family: @font-family-base!important;
}
.anchorLinks {
  background-color: #ffffff!important;
  color: @font-color-base!important;
  font-family: @font-family-base!important;
  font-size: @font-size-base!important;
  .titleBar {
      .h3(@headings-color)!important;
    }

}
