// List Tabular View

.listheading {
    background-color: #ffffff;
    padding-bottom: 20px;
}
.listheading .list.heading.nav {
    background: none repeat scroll 0 0 #008fbe;
}
.listheading .list.heading ul.list li a {
  font-family: @font-family-base!important;
  font-size: @headings-h5-font-size;
  color: #ffffff !important;
}
.list.heading.nav .list li {
    border-right: 0px solid #ffffff;
}
.list.heading.nav .list li:not(:last-child) {
    border-right: 0px solid #ffffff;
}
.heading ul.list > li:not(:last-child)::after {
    border: 0px solid #f4f4f4!important;
}
.list.heading1.nav {
    background: none repeat scroll 0 0 #ffffff;
}
.list.heading1 .heading111 h2 {
  font-family: @font-family-base!important;
  color: @color-gray-base!important;
  font-size: @headings-h6-font-size;
  font-style: italic;
}
.list.heading2.nav {
    background: none repeat scroll 0 0 #ffffff;
}
.list.heading2 .heading111 h2 {
  font-family: @font-family-base!important;
  color: @color-gray-base!important;
  font-size: @font-size-base;
}
.listheading .listpage li a {
  font-family: @font-family-base!important;
  color: @color-gray-base!important;
  font-size: @font-size-base;
}
ul li.tr.list-item-rows {
  font-family: @font-family-base!important;
  color: @color-gray-base!important;
  font-size: @font-size-base;
}
.divtable .th, .divtable .td {
  font-size: @font-size-base!important;
}
.soldOutHotels {
    color: @color-secondary!important;
}
.listViewAnchor {
    text-decoration: none;
}
.panel-custom-header a {
    color: @link-color;
    text-decoration: none!important;
    font-weight: normal!important;
    &:hover,
    &:focus {
      color: #007095!important; /* @link-color = brand-primary hover color*/
      text-decoration: underline!important;
    }
}
.list.heading.nav .list li {
  text-align: inherit;
  float: left!important;
}
