.travel-event-date {
  .h5(@headings-color);
}
.travel-event-venue {
  .h4(@headings-color);
}
.event-informa {
  .text-base();
  margin-bottom: 15px;
}
.travel-btn-custom {
  .btn-primary();
  font-family: @font-family-base;
  font-size: (@font-size-base - 3);
  // color: @cta-link-primary-color;
  // background-color: @cta-link-primary-bg;
  padding: 3px 6px;
  margin-bottom: 25px;
}