// Navbar toggle
button.navbar-toggle.collapsed.pull-right.mobileNavBtn:focus {
  border: 0 !important;
}
.navbar-inverse .navbar-toggle {
  &:hover,
  &:focus {
    background-color: transparent;
  }
  .icon-bar {
    background-color: @navbar-bg;
  }
}

// Navbar
.informa-header-menu .navbar-nav li a {
  &,
  & small {
    font-size: @navbar-font-size !important; // override !important declaration
    @media (min-width: 768px) and (max-width: 1025px) {
      font-size: @navbar-font-size-sm !important; // override !important declaration
    }
    @media (min-width: 1026px) and (max-width: 1198px) {
      font-size: (@navbar-font-size - 2) !important; // override !important declaration
    }
  }
}
.nav > li {
  border: 0;
}
.informa-header-menu .navbar-inverse {
  &,
  .container ul {
    background-color: @navbar-bg;
  }
  .navbar-nav {
    font-family: @navbar-font-family;
    @media (min-width: 769px) {
      width: 100%;
    }
    > li {
      > a {
        font-family: @navbar-font-family;
        font-size: @navbar-font-size;
        color: @navbar-color;
        border: 0 !important; // override !important declaration
        @media (min-width: 768px) and (max-width: 991px) {
          border-right: 1px solid #ffffff !important;
          padding-left: (@navbar-item-padding - 5) !important;
          padding-right: (@navbar-item-padding - 5) !important;
        }
        @media (min-width: 992px) {
          border-right: 1px solid #ffffff !important;
          padding-left: @navbar-item-padding !important; // override !important declaration
          padding-right: @navbar-item-padding !important; // override !important declaration
        }
        &:hover,
        &:focus {
          color: @navbar-hover-color;
          background-color: @navbar-hover-bg !important; // override !important declaration
        }
        &,
        small {
          width: auto;
        }
      }
      &.active,
      &.open {
        > a {
          color: @navbar-hover-color !important; // override !important declaration
          background-color: @navbar-hover-bg !important; // override !important declaration
          &:hover,
          &:focus {
            color: @navbar-hover-color !important; // override !important declaration
            background-color: @navbar-hover-bg !important; // override !important declaration
          }
        }
      }
      &.navRegisterbg {
        > a:hover,
        > a:focus {
          background-color: @navbar-highlight-hover-bg !important; // override !important declaration
          color: @navbar-highlight-hover-color !important; // override !important declaration
        }
      }
    }
  }
  // Dropdowns and mobile
  .nav > li.mainMenuTopnav {
    border-bottom: 1px solid #ffffff !important; // override !important declaration
    @media (min-width: 768px) {
      border-bottom: 0 !important; // override !important declaration
    }
  }

  .mobileLayoutNav .dropdown-menu {
    background-color: @navbar-bg;
    > li {
      > a {
        border-bottom: 0 !important; // override !important declaration
        &:hover,
        &:focus {
          color: @navbar-hover-color !important; // override !important declaration
          background-color: @navbar-hover-bg !important; // override !important declaration
        }
      }
      &.active {
        > a {
          color: @navbar-color !important; // override !important declaration
          background-color: @navbar-bg !important; // override !important declaration
          &:hover,
          &:focus {
            color: @navbar-hover-color !important; // override !important declaration
            background-color: @navbar-hover-bg !important; // override !important declaration
          }
        }
      }
      &.navRegisterbg {
        > a:hover,
        > a:focus {
          background-color: @navbar-highlight-hover-bg !important; // override !important declaration
          color: @navbar-highlight-hover-color !important; // override !important declaration
        }
      }
    }
  }
  // Navbar highlight item
  .mobileLayoutNav > .mainMenuTopnav:last-of-type,
  .navbar .nav > .navRegisterbg {
    @media (min-width: 769px) {
      float: @navbar-highlight-float;
      width: @navbar-highlight-width;
    }
    > a {
      border-right: 0px solid #ffffff !important;
      background-color: @navbar-highlight-bg !important;
      color: @navbar-highlight-color !important;
      &:hover,
      &:focus {
        color: @navbar-highlight-color !important;
        background-color: @navbar-highlight-hover-bg !important;
      }
    }
    &.active {
      > a {
        &,
        &:hover,
        &:focus {
          color: @navbar-highlight-color !important;
          background-color: @navbar-highlight-hover-bg !important;
        }
      }
    }
    .dropdown-menu {
      background-color: @navbar-highlight-bg;
      > li {
        > a {
        border-right: 0px solid #ffffff !important;
        background-color: @navbar-highlight-bg !important;
        color: @navbar-highlight-color !important;
        &:hover,
        &:focus {
          color: @navbar-highlight-color !important;
          background-color: @navbar-highlight-hover-bg !important;
        }
      }
    }
    }

  }
}

// Dropdown hint
.informa-header-menuText.has-submenu small:after {
  content: "\f0d7";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
