/**  Banner Image Styles  **/
.bannerImage{
    /**  Custom Class Start  **/
    .team-list &{
		@media (max-width:769px){
            padding:0 40px;
        }
    }


    /*  Custon Class End */

    .banner-section{
		padding:0;
    }
    .row{
		margin:0;
    }
    margin-top:0 !important;
    .informa-image-banner{
        .informa-image-banner-image{
            img{
				width:100%;
                max-width:100%;
                @media (max-width:769px){
					width:100%;
                }
            }
        }
    }
    a{        
		display:block;
        position:relative;
        &:hover{
            span{
				opacity:0;
                .transition(300ms all ease);
            }
        }
        span{
            position:absolute;
            opacity:1;
            .transition(300ms all ease);
            top:0;
            left:0;
            width:100%;
            height:100%;
            display:block;
            background:rgba(0,0,0,.6);
            strong{
				display:block;
                .font(24px,34px,700,@font-primary,@color-white);                
                text-align:center;
                position:absolute;
                width:100%;
                padding:10px;
                top:50%;
                left:0;
                .transform(translateY(-50%));
            	@media (max-width:991px){
					.font(21px,31px,700,@font-primary,@color-white);    
                }
            	@media (max-width:767px){
					.font(24px,34px,700,@font-primary,@color-white);
                }
            }
        }
        /**  Custom Class Start  **/
        .banner-variation-1 &{                    
            span{
                opacity:0 !important;
            }
            &:hover{
                span{
                    opacity:1 !important;
                }
            }
        }
        /**  End  **/
    }
}