/**     Hero Parallax Styles     **/

.heroParallax{   
    margin:0px;
    .heroParallax-element, #mainContent{
        margin:0 !important;
        .carousel{
            margin: 0;
            .carousel-indicators {
                margin:0;
                height:auto;
                li{
					background:@color-primary !important;                   
                }
            }
            .carousel-inner {                    
                @media (min-width:770px){
                    height: auto;
                    > .item {                        
                        img {
                            height: 100% !important;  
                            width:auto !important;
                            min-height: 0!important;
                            display: block;
                            overflow: hidden;
                            object-fit: cover;
                            max-width: none;                            
                            object-position: center;
                        }
                    }
                }
                // IE 11 Fix
                @media screen and (-ms-high-contrast: none) {    
                    > .item {                        
                        img {
                            max-width: none !important;  
                        }
                    }
                }
                @media (max-width:769px){
					> .item {                        
                        img {
                            position:absolute;
                            top:0;
                            left:0;
                            height: 100% !important;
                            width: auto !important;                       
                            display: block;
                            overflow: hidden;
                            object-fit: cover;

                        }
                    }
                }
                .container {
                    text-align: left;  
                    margin:0 !important;
                }
            }
            .carousel-caption {    
                text-align:left !important;
                @media (max-width:769px){
					position:static;
                }
                .container{
                    width:100%;
                    position:relative;
                    z-index:10;      
                    @media (max-width:769px){
						padding:0 40px;
                    }
                }

                top: 0;                
                bottom: initial;
                left: 0;
                right: 0;              
                width: 96%!important;
                background: transparent;
                max-width:1170px;
                padding:40px 0;
                h1,h2,h3,h4,h5,p {                   
                    margin: 0 0 20px;   
                    color:@color-white !important;
                    text-shadow:none;
                    text-transform:none;
                    text-align: left;                    
                    font-family:@font-primary !important;                    
                }    
                h1{
					.h1();
                    font-family:@font-secondary !important;
                    font-size:65px !important;     
                    font-weight:bold;
                    @media (max-width:991px){
						font-size:55px !important;
                        line-height:65px !important;
                    }
                }
                h2{
					.h2();                    
                }
                h3{
                    .h3();
                }
                p{
					.h4();
                }

            }
            .carousel-calltoAction{
                margin:40px 0 0;                
                a{                
                    display:inline-block;
                    text-decoration:none !important;
                }
            }
            button {
                .button();
                &:hover, &:focus {                   
                    background-color: @color-secondary !important;
                    .transition(all ease 300ms);                      
                }                
            }
        }
    }
    .carousel-control{
    	top:50%;
    	margin-top:-15px;
    	&.left{
			left:10px;
    	}
    	&.right{
			right:10px;
    	}
	}
}



/**     New Branding - Hero Parallax Styles     **/

.carousel-branding {
    .heroParallax{   
        margin:0px;
        .heroParallax-element, #mainContent{
            margin:0 !important;
            .carousel{
                margin: 0;
                .carousel-indicators {
                    margin:0;
                    height:auto;
                    li{
                        background:@color-primary !important;                   
                    }
                }
                .carousel-inner {                    
                    @media (min-width:770px){
                        height: auto;
                        > .item {                        
                            img {
                                height: 100% !important; 
                                min-height: 0!important;
                                display: block;
                                overflow: hidden;
                                object-fit: cover;
                                max-width: none;                            
                                object-position: left;
                                float:left;
                                width:45% !important;
                            }
                        }
                    }
                    // IE 11 Fix
                    @media screen and (-ms-high-contrast: none) {    
                        > .item {                        
                            img {
                                max-width: none !important;  
                            }
                        }
                    }

                    @media (max-width:1200px){
                        > .item {                        
                            img {
                                position:relative;
                                top:0;
                                left:0;
                                height: 100% !important;
                                width:30% !important;                
                                display: block;
                                overflow: hidden;
                                object-fit: cover;

                            }
                        }
                    }

                    @media (max-width:769px){
                        > .item {                        
                            img {
                                position:relative;
                                top:0;
                                left:0;
                                height: 100% !important;
                                width: auto !important;                       
                                display: block;
                                overflow: hidden;
                                object-fit: cover;
    
                            }
                        }
                    }
                    .container {
                        text-align: left;  
                        margin:0 !important;
                    }
                }
                .carousel-caption {    
                    text-align:left !important;
                    @media (max-width:1600px){
                        left: 50%;
                        right: auto;              
                        width: 45%!important;
                        background: transparent;
                        max-width:800px;
                        padding:0px;
                        position:absolute;
                        h1{
							font-size: 32px !important;
                        }
                    }
                    @media (max-width:1200px){
                        right: auto;              
                        width: 65%!important;
                        background: transparent;                       
                        padding:0px;
                        position:absolute;
                        left: 0;
                        max-width: 800px;
                        position: relative;
                        float: right;
                        h1{
							font-size: 32px !important;
                        }
                    }
                    @media (max-width:769px){
                        position:static;
                        width: 100% !important;
                    }
                    .container{
                        width:100%;
                        position:relative;
                        z-index:10;      
                        @media (max-width:769px){
                            padding:0 40px;
                        }
                    }
    
                    top: 0;                
                    bottom: initial;
                    left: 50%;
                    right: auto;              
                    width: 45%!important;
                    background: transparent;
                    max-width:1000px;
                    padding:40px 0;
                    h1,h2,h3,h4,h5 {                   
                        margin: 0 0 20px;   
                        color:@color-primary !important;
                        text-shadow:none;
                        text-transform:none;
                        text-align: left;                    
                        font-family:@font-primary !important;                    
                    }    
                    p {
						color:@color-gray !important;
                        line-height:22px;
                        font-size:16px;
                    }
                    h1{
                        .h1();
                        font-family:@font-secondary !important;
                        font-size:36px !important;     
                        font-weight:bold;
                        line-height:42px !important;
                        @media (max-width:991px){
                            font-size:30px !important;
                            line-height:36px !important;
                        }
                    }
                    h2{
                        color:@color-secondary !important;
                        line-height:26px;
                        font-size:20px;   
                        font-weight:600;
                    }
                    h3{
                        .h3();
                    }
    
                }
                .carousel-calltoAction{
                    margin:40px 0 0;   
                    @media (max-width:1600px){
						margin:20px 0 0;   
                    }
                    a{                
                        display:inline-block;
                        text-decoration:none !important;
                    }
                }
                button {
                    .button();
                    &:hover, &:focus {                   
                        background-color: @color-secondary !important;
                        .transition(all ease 300ms);                      
                    }                
                }
            }
        }
        .carousel-control{
            top:50%;
            margin-top:-15px;
            &.left{
                left:10px;
            }
            &.right{
                right:10px;
            }
        }
    }
}



/**     Hero Text Parallax Styles     **/
.heroParallaxText{
    .item{
		padding:0 40px;
    }
    .carousel-indicators{
        top: 100%;
        left: 50%;
        right: auto !important;
        width: 100px;
        margin-left: -50px;
    }
    .carousel-control{
    	top:50%;    
        margin-top:-15px;
    	&.left{
			left:10px;
    	}
    	&.right{
			right:10px;
    	}
	}
}



/* Testimonial Slider section - START */

// Testimonial with white text

.heroParallaxText {
	ol.img-gallery-indicators {
			li {
				background-color: #ccc;
				.active {
					background: @color-white;
                    background-color: @color-white;
				}
			}
	}
	
	.carousel-inner {
		min-height: 150px;
		.item {
			p {
				font-size: 16px !important;
				line-height: 34px !important;
				font-weight: 400 !important;
				text-align: center;

                @media (max-width: 769px){
					font-size: 20px !important;
					line-height: 24px !important;
                }
				
				b {
					font-size:20px !important;
                    font-weight:400;
                    line-height:20px !important;
                    color: @color-black;

				}
			}
		}
	}

    .carousel-control.right {
		.right-carousel-controller {
			background:none;
            &:before {
				content:'\f105';
                font-family:fontawesome;
                font-size:35px;
                color:@color-white;
            }
    	}
    }

    .carousel-control.left {
		.left-carousel-controller {
			background:none;
            &:before {
				content:'\f104';
                font-family:fontawesome;
                font-size:35px;
                color:@color-white;
            }
    	}
    }

    .text-slider-green & {
		ol.img-gallery-indicators li .active {
			background: @color-primary;
            background-color: @color-primary;
        }
        .carousel-inner .item p {
			color: @color-primary;
        }
        .carousel-control.right .right-carousel-controller:before, .carousel-control.left .left-carousel-controller:before {
			color:@color-secondary;
        }
    }

    // Testimonial slider - Green Text

    .text-slider-green & {
		ol.img-gallery-indicators li .active {
			background: @color-gray;
            background-color: @color-gray;
        }
        .carousel-inner .item p  {
			color: @color-gray;
            b {
				color: @color-secondary;
            }
        }
        .carousel-control.right .right-carousel-controller:before, .carousel-control.left .left-carousel-controller:before {
			color:@color-secondary;
        }
    }

    // Testimonial slider - Gray Text

    .text-slider-gray & {
		ol.img-gallery-indicators li .active {
			background: @color-gray;
            background-color: @color-gray;
        }
        .carousel-inner .item p {
			color:  @color-gray;
            b {
				color: @color-secondary;
            }
        }
        .carousel-control.right .right-carousel-controller:before, .carousel-control.left .left-carousel-controller:before {
			color:@color-secondary;
        }
    }


	
}




