/**     Content Hightlight     **/
.contentHighlight{        
    .contentHighlightContainer,#container1{ 
        margin:0;
        .Default{
            padding:0;
            margin:0;
        }
        .component1{
            @media (max-width: 767px){
                margin:0 !important;
                margin-bottom:15px !important;
            }
        }
        .heading{   
            a{
                overflow:hidden;
                display:block;
                position:relative;
                &:hover{
                    img{
                        .transform(scale(1.05));
                        .transition(300ms all ease);
                    }
                    h3{
                		background-color:@color-primary;
                        color: @color-white !important;
                    }
                }
                @media (max-width:769px){
					 max-height: 200px;
                }
            }
            h3{
                background-color:@color-white;
                border-bottom:0;                    
                text-align:left;
                padding:10px 15px !important;
                margin:0;
                position:relative;			
                font-weight:bold;
                position:relative;
                bottom:0;
                left:0;
                color: @color-gray !important;
                .h3();
                font-weight:600 !important;
                font-size:20px !important;
                line-height:24px !important;
                min-height:72px;
                display:block;
                margin-top:0px;
                text-transform: none;
                text-align:center;

                @media (max-width:769px){
                    min-height:0;
                    font-size:20px !important;
                	line-height:24px !important;
                    position:absolute;
                    margin-bottom: 0px;
                } 
            }

            .text-center & {
                h3 {
					text-align:center;
                }
            }

            img{
                .transition(300ms all ease);
                @media (max-width:769px){
                    width:100% !important;
                }             
            }
            .callToActionPara{
                padding:20px 0 !important;
                position:static;                   
                background-color: transparent;
                color: @color-black;                    
                margin: 0;
                
                
                h2{
                    color: @color-primary !important;
                    .h3();
                }
                h3{
                    .h5();
                    color:@color-tertiary !important;
                    padding:0 !important;
                    margin:0 !important;
                    background:none !important;
                    text-align:left;
                    position:static;
                    min-height:0;
                }
                p{
                    .p(300);
                    color: @color-gray !important;
                    font-family:@font-primary;
                    background-color: transparent;
                    padding: 0 !important;                
                }
            }
            
        }   
    }
}


/* Content Hightlight - Darker CTA */


.highlight-gray {
	/**     Content Hightlight     **/
    .contentHighlight{        
        .contentHighlightContainer,#container1{ 
            .heading{   
                a{

                    &:hover{

                        h3{
                            background-color:@color-primary;
                            color: @color-white !important;
                        }
                    }

                }
                h3{
                    background-color:@color-gray;
                    color: @white !important;

                }

                .callToActionPara{
                    color: @color-gray;                   


                }
                
            }   
        }
    }
}


.cta-image-title-desc-link-variation-1 .cta-image-title-desc-link-variation-1-column{
    @media (max-width:769px){
        width:50% !important;
    } 
}
.cta-image-title-desc-link-variation-1 .contentHighlight{        
    @media (max-width:769px){
		margin:0 0 30px;
    }
    .contentHighlightContainer,#container1{  
        .Default{
			padding:0;
            margin:0;
        }
        .heading{   
            a{
				overflow:hidden;
                display:block;
                position:relative;
                &:hover{
                    img{
                        .transform(scale(1));                        
                        .transition(300ms all ease);
                        opacity:.9;
                        background:@color-white;
                    }
                }
            }
            h3{
                background-color:transparent;
                border-bottom:0;
                font-family:@font-primary;
                text-align:center;
                padding:20px;
                margin:0;
                position:relative;			
                color:@color-white;
                font-size:30px !important;
                line-height:40px !important;
                font-weight:900 !important;
                position:absolute;
                width:100%;
                top:50%;
                left:0;
                bottom:auto;
                padding:20px !important;
                .transform(translateY(-50%));
                @media (max-width:991px){
					font-size:28px !important;
                    line-height:38px !important;
                }        
                @media (max-width:767px){
					font-size:24px !important;
                    line-height:34px !important;
                }
                @media (max-width:480px){
                    padding:10px !important;
					font-size:18px !important;
                    line-height:24px !important;
                }
            }
            img{
                .transition(300ms all ease);
                @media (max-width:769px){
					width:100% !important;
                }             
            }
            .callToActionPara{
                padding:20px 30px !important;
                position:static;               
                background-color: transparent;
                color: @color-black;
                min-height:0;
                text-align:center;
                margin: 0;
                h2{
					color: @color-black !important;
                }
                h3{
					.h6();
                    color:@color-tertiary;
                    padding:0 !important;
                    margin:0 !important;
                    background:none !important;
                    text-align:left;
                }
                p{
                    .p(300);
                    color: @color-black !important;
                    font-family:@font-primary;
                    background-color: transparent;
                    padding: 0 !important;    
                    text-align:center;
                }
            }

        }   
    }
}
.cta-image-title-desc-link-variation-2{ 
    .contentHighlight{
		margin:-140px 0 30px;
        @media (max-width:1080px){
            margin:0 0 2px;
        } 
    }
	.contentHighlightContainer,#container1{  
        .Default{
			padding:0;
            margin:0;
        }
        @media (max-width: 1024px) and (min-width: 768px){            
            .component1 {
                margin: 0px !important;
            }
        }
        .heading{   
            a{
				overflow:hidden;
                display:block;
                position:relative;
                &:hover{
                    img{                        
                        .transform(scale(1.1));                        
                        .transition(300ms all ease);

                        background:@color-white;
                    }
                }
            }
            h3{
                background-color:transparent;
                border-bottom:0;
                font-family:@font-primary;
                text-align:left;
                padding:20px;
                margin:0;
                position:relative;			
                color:@color-white;
                font-size:34px;
                line-height:46px;
                font-weight:300;
                position:absolute;
                width:100%;
                bottom:0;
                left:0;
                padding:20px 20px 60px !important;  
            	@media (max-width:1199px){
                	font-size:28px;
                    line-height:38px;
                }
                @media (max-width:991px){
                	font-size:18px;
                    line-height:30px;
                }        
                @media (max-width:767px){
					font-size:34px;
                    line-height:46px;
                }
                @media (max-width:480px){
					font-size:24px;
                    line-height:34px;
                }
                &:after{
                    width: 30px;
                    height: 30px;
                    content: '\f0dd';
                    text-align: center;
                    line-height: 25px;
                    font-size: 20px;
                    display: block;
                    display: block;
                    position: absolute;
                	.border-radius(100%);
                    bottom: 20px;
                    left: 20px;
                    z-index: 99999;
                	font-family:@font-icon;
                }
            }
            img{
            	width:100% !important;
                .transition(300ms all ease);
                @media (max-width:769px){
					width:100% !important;
                }             
            }
            .callToActionPara{
                padding:20px 30px !important;
                position:static;               
                background-color: transparent;
                color: @color-black;
                min-height:0;
                text-align:center;
                margin: 0;
                h2{
					color: @color-black !important;
                }
                h3{
					.h6();
                    color:@color-tertiary;
                    padding:0 !important;
                    margin:0 !important;
                    background:none !important;
                    text-align:left;
                }
                p{
                    .p(300);
                    color: @color-black !important;
                    font-family:@font-primary;
                    background-color: transparent;
                    padding: 0 !important;    
                    text-align:center;
                }
            }

        }   
    }
}

.cta-image-title-desc-link-variation-3{ 
	.contentHighlight{        
        .contentHighlightContainer,#container1{ 
            margin:0;
            .Default{
                padding:0;
                margin:0;
            }
            .component1{
                @media (max-width: 767px){
                    margin:0 !important;
                }
            }
            .heading{   
                a{
                    overflow:hidden;
                    display:block;
                    &:hover{
                        img{
                            .transform(scale(1.05));
                            .transition(300ms all ease);
                        }
                    }
                }
                h3{
                    background-color:@color-primary;
                    border-bottom:0;
                    font-family:@font-primary;
                    text-align:center;
                    padding:20px;
                    margin:0;
                    position:relative;			
                    color:@color-white;
                    font-size:24px;
                    font-weight:bold;
                }
                img{
                    .transition(300ms all ease);
                    @media (max-width:769px){
                        width:100% !important;
                    }             
                }
                .callToActionPara{
                    padding:20px 30px !important;
                    position:absolute;
                    bottom:0;
                    left:0;
                    background-color: transparent;
                    color: @color-black;
                    min-height:40%;
                    margin: 0;
    
                    @media (max-width:769px){
                        min-height:0;
                    } 
                    h2{
                        color: @color-white !important;
                        .h3();
                    }
                    h3{
                        .h5();
                        color:@color-tertiary;
                        padding:0 !important;
                        margin:0 !important;
                        background:none !important;
                        text-align:left;
                    }
                    p{
                        .p(300);
                        color: @color-white !important;
                        font-family:@font-primary;
                        background-color: transparent;
                        padding: 0 !important;                
                    }
                }
    
            }   
        }
    }
}

.location-boxes{
    .location-boxes-column{
        margin:0 0 30px;
    }
    .blue-strip{
        padding:20px 0;
		min-height:345px;
    }
}
.location-boxes{
    .contentHighlight{        
        .contentHighlightContainer,#container1{ 
            margin:0;
            .Default{
                padding:0;
                margin:0;
            }
            .component1{
                @media (max-width: 767px){
                    margin:0 !important;
                }
            }
            .heading{   
                a{
                    overflow:hidden;
                    display:block;
                    &:hover{
                        img{                            
                            .transform(scale(1.05));
                            .transition(300ms all ease);
                        }
                    }
                }
                h3{
                    background-color:@color-primary;
                    border-bottom:0;
                    font-family:@font-primary;
                    text-align:center;
                    padding:20px;
                    margin:0;
                    position:relative;			
                    color:@color-white;
                    font-size:24px;
                    font-weight:bold;
                }
                img{
                	width:100% !important;
                    .transition(300ms all ease);
                    @media (max-width:769px){
                        width:100% !important;
                    }             
                }
                .callToActionPara{
                    padding:0!important;
                    position:absolute;
                    bottom:0;
                    left:0;
                    background-color: transparent;
                    color: @color-black;
                    min-height:0;
                    margin: 0;
                    h2{
                        color: @color-white !important;
                        .h3();
                    	padding:10px 20px;
                    	background:@color-tertiary;
                    	margin:0;
                    	@media (max-width:991px){
                            font-size:24px !important;
                            line-height:34px !important;
                        }
                    }
                    h3{
                        .h4();
                    	padding:10px 20px !important;
                    	border-top:2px solid @color-white;
                        border-right:2px solid @color-white;                        
                        color:@color-white !important;                        
                        margin:0 !important;
                        background:none !important;
                        text-align:left;
                        display: inline-block;
                        width: auto;
                    }
                    p{
                        .p(300);
                        color: @color-white !important;
                        font-family:@font-primary;
                        background-color: transparent;
                        padding: 0 !important;                
                    }
                }
    
            }   
        }
    }

}


/* Home - Sectors - Block */



.home-sectors {
    .contentHighlight{        
        .contentHighlightContainer,#container1{ 
            margin:0;
            .Default{
                padding:0;
                margin:0;
            }
            .component1{
                @media (max-width: 767px){
                    margin:0 !important;
                }
                background:@white;
            }
            .heading{   
                a{
                    overflow:hidden;
                    display:block;
                    &:hover{
                        img{                            
                            .transform(scale(1.05));
                            .transition(300ms all ease);
                        }

                        @media (max-width:769px){
							max-height:none;
                    	}

                    }
                }
                h3{
                    background-color:@color-primary;
                    border-bottom:0;
                    font-family:@font-primary;
                    text-align:center;
                    padding:20px;
                    margin:0;
                    position:relative;			
                    color:@color-white;
                    font-size:24px;
                    font-weight:bold;
                }
                img{
                	width:100% !important;
                    .transition(300ms all ease);
                    @media (max-width:769px){
                        width:100% !important;
                    	max-width:230px;
                    	float:left;
                    }             
                }
                .callToActionPara{
                    padding:0!important;
                    position:relative;
                    bottom:0;
                    right:20px;
                    background-color: transparent;
                    color: @color-black;
                    min-height:0;
                    margin: 0;
                    h2{
                        color: @color-white !important;
                        .h3();
                    	padding:10px 20px;
                    	background:@color-tertiary;
                    	margin:0;
                    	@media (max-width:991px){
                            font-size:24px !important;
                            line-height:34px !important;
                        }
                    }
                    h3{
                        .h4();
                    	padding:10px 20px !important;
                    	border-top:2px solid @color-white;
                        border-right:2px solid @color-white;                        
                        color:@color-white !important;                        
                        margin:0 !important;
                        background:none !important;
                        text-align:left;
                        display: inline-block;
                        width: auto;
                    }
                    p{
                        .p(300);
                        color: @color-white !important;
                        font-family:@font-primary;
                        background-color: transparent;
                        padding-bottom: 10px !important;    
                    	text-align:right;
						a {
                        	color:@color-primary;

							&:after {
                                font-family:fontawesome;
                                content:'\f105';
                            	padding-left:10px;

                            }
                        	&:hover {
    							color:@color-secondary;
                            }
                    	}

                    }
                }
    
            }   
        }
    }

}

