/*

File Name: _countdown.less
Description: Countdown component styles
Dependencies: _variables.less

*/

/* Local variables */

.countdown {
    margin:30px 0;
    .eventCountdownEvent {
        margin:0;
        padding: 15px 15px 0;
        font-family: @font-primary;
        font-weight: 700;
        line-height: 1.5;
        position: relative;
        .countDisplay {
            margin: 15px -15px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            span {
                flex-shrink:1;
                flex-grow: 2;
                flex-basis: 25%;
                margin: 0;
                padding: 15px !important;
                text-align:center;
                font-size: @headings-h1-font-size;
                font-weight: 300;
                @media (max-width:991px){
                    flex-basis:50%;
                }
                @media (max-width:769px){
                    flex-basis:100%;
                }
                &:nth-child(1) {
                    background-color: lighten(@base-color,20%);
                }
                &:nth-child(2) {
                    background-color: lighten(@base-color,30%);
                }
                &:nth-child(3) {
                    background-color: lighten(@base-color,40%);
                }
                &:nth-child(4) {
                    background-color: lighten(@base-color,50%);
                }
            }
        }
    }
}