/**     Graphic Hightlights     **/

.graphic-highlights{        
    padding: 0;
    background:none;    
    .exhibitionbrands3{
        max-width:100%;
        margin:auto;
        .exhibitionbrands{
            margin-top:0 !important;
            .img-gallery{
				background-color:transparent;
                padding:0 !important;
                .statspanel{
					padding-right:0 !important;
                    margin:0 !important;              
                    background:none !important;
                    padding:0px;                    
                    .graphic_highlight_variations{
						margin:0 !important;
                        padding:0 !important;
                        ul{
							margin:0;
                            font-size:0;
                            text-align:center;
                            li{
                                vertical-align:top;
								margin:0;
                                padding:0;
                                @media (min-width:1200px){
									padding:0 10px;
                                }
                                display:inline-block;
                                width:20%;   
                                @media (max-width:769px){
									width:20%;
                                }
                                @media (max-width:480px){
									width:100%;
                                }
                                font-size:16px;
                                background-color:transparent !important;
                                &:first-child{
									.stats1{									
                                        border-left:0 !important;
                                    }
                                }                                
                                div{
									padding:0 !important;
                                    margin:0 !important;
                                    &.stats1{                                        
										height:auto !important;
                                        border-left:0;
										width: 100%;
                                        min-height:85px;
                                        @media (max-width:768px){
                                        	border-left:none;                                        
                                        }
                                        background-color:transparent !important;
                                        .stats{
                                            height:auto !important;
											background:none !important;
                                            .thumbnail{
                                                border-right: 0 !important;
                                                padding: 0 10px;
                                                margin: 0;
                                                background-color: transparent !important;
                                                position: relative;                                                
                                                display:inline-block;                                               
                                                img{                                                    
                                                    margin:0 auto 10px;
                                                }
                                                p{
                                                    color:@color-primary;
													font-size:48px !important;
                                                    font-weight:bold !important;
                                                    margin:0 0 10px;
                                                    padding:0;
                                                    position:relative;
                                                    font-family:@font-primary;  
                                                    width:100%;
                                                    height:auto;
                                                	min-height:0;
                                                    line-height:30px !important;
                                                	text-align:center;
                                                	@media (max-width:991px){
                                                    	color:@color-primary !important;
                                                    	margin:0 auto 10px;
                                                    	display:block;
                                                    	font-size:30px !important;
                                                        width:120px;
                                                        height:auto;
                                                        line-height:30px !important;
                                                    }
                                                	@media (max-width:496px){
                                                    	color:@color-primary !important;
                                                    	margin:0 auto 10px;
                                                    	display:block;
                                                    	font-size:30px !important;
                                                        width:120px;
                                                        height:auto;
                                                        line-height:30px !important;
                                                    }
                                                    text-align:center;
                                                }
                                                h3{
                                                    .h4();
                                                    font-size: 21px !important;
                                                    line-height: 31px !important;
                                                    font-weight:500;
                                                    color:@color-black-base;

                                                    .bg-wave-1 &{
                                                        color:@color-white-base;
                                                    }	

                                                    margin:0 !important;

                                                    @media (max-width:769px){
														font-size: 18px !important;
    													line-height: 22px !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }


                                .graphics-block-4 & {
                                    width:25%;   
                                    @media (max-width:769px){
                                        width:25%;
                                    }
                                    @media (max-width:480px){
                                        width:100%;
                                    }
                                
                                }


                            }
                        }
                        .nbs-flexisel-nav-left{
							left:10px !important;
                        }
                        .nbs-flexisel-nav-right{
							right:10px !important;
                        }
                    }
                }
            }
        }
    }    
}


/**   Responsive Layouts   **/
@media (max-width: 1199px){
	.stats-slider-element .stats1, #stats-slider .stats1{
        background-color:transparent !important;
        border-left:0;
    }
}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 320px){

}