/**     Hero Parallax Styles     **/

.heroParallax{
    margin:0 -15px;
    .heroParallax-element, #mainContent{
        margin:0!important;
        .carousel{
			margin: 0;
			.carousel-indicators { margin:0; height:auto;}
            .carousel-inner {     

                @media (min-width:770px){
					height: auto;
                    > .item {
                        a {
                                img {
                                        height:100%;
                                    }
                            }
                    		img {
								height: auto !important;                                
                                min-height: 390px!important;
                                display: block;
                                overflow: hidden;
                                object-fit: cover;
                    		}
                		}
                }
                	.container {
                            text-align: left;  
							margin:0 !important;
                       }
           		 }
            .carousel-caption {                
                .container{
					width:100%;
                    position:relative;
                    z-index:10;
                }
                top: 75%;
                transform: translateY(-75%);
                bottom: initial;
                left: 0;
                right: 0;
                padding: 0;
                width: 96%!important;
                background: rgba(255,215,1,.7);
                max-width:1140px;
                padding: 30px;
                h1,h2,h3,h4,h5,p {					 
                    margin: 0;   
                    color:#fff !important;
                    text-shadow:none;
                }
                h1,h2 {
                    font-size: 32px;
                    text-transform: none;
                    font-family:@font-primary;
                    font-weight:bold;

                }
                h3 { font-size: 1.5em;}
                h2, h3 {					
                    line-height:normal;                    
                    font-family:@font-primary;                    
                }
                p{
					font-size: 1.2em;
                    line-height: 1.5em;  
                    font-family:@font-primary;
                }
            }
            .carousel-calltoAction{
                margin:40px 0 0;
                text-align:center;
                a{                
                    display:inline-block;
					text-decoration:none !important;
                }
                button {
                    text-transform: capitalize;
                	background-color: transparent !important;
                	border:2px solid #ffffff !important;

                    font-size: 20px;
                    line-height:20px;
                    color:#fff;
                	.border-radius(0);
                    border:none;                                
                    padding: 10px 15px;
                    font-weight:bold;
                    .transition(all ease 300ms);
                    margin: auto;
                    display: block;
                    &:hover, &:focus {
						color: @white !important;
						background-color: @color-secondary !important;
                    	border:2px solid @color-secondary !important;
                        .transition(all ease 300ms);                   		
                    }
                }

            }
            
        }
    }
}

/**   Responsive Layouts   **/


@media (max-width: 1199px){
    .heroParallax{        
        .carousel-inner {     
            .item {
                .carousel-caption {
                    .container{
						max-width:100%;
                    }
                    h1,h2 {
                        font-size: 3em !important;                    
                    }                                        
                }
            }
        }
    }
}


@media (max-width: 991px){       
	.heroParallax{        
        .carousel-inner {     
            .item {
                .carousel-caption {                             
                    h2, p, h3 {
                        width:100% !important;                    
                    }
                }
            }
        }
    }
}	

@media (max-width: 769px){  

    .heroParallax{        
        .heroParallax-element, #mainContent{
            .carousel-inner {     
                .item {                
                    img{
                        height:auto !important;
                        min-height:0 !important;
                    }
                    .carousel-caption {
                        position:static !important;
                        transform:none !important;
                        width:100% !important;
                        background: @color-secondary !important;
                        br{
                            display:inline !important;
                        }
                        font-size:15px !important;
                        h1,h2 {
                            font-size: 2em !important;                    
                        }    
                        p{
                            font-size:15px !important;
                        }
                        button{
                            padding: 15px !important;
                        }
                    }            
                }
            }
        }
    }
}