/**     Highlight Text     **/

.highlightText {
    .row {
        padding:0;
        min-height:0;
        background-color:transparent;
    }
    ul, .list-styles {
        list-style:none;
        padding:0;
        margin:0;
        li {
            list-style:none;
            padding:0;
            margin:0 0 3px;
            line-height:1;
            border:1px solid darken(@color-white-base,8%) !important; // override !important declaration
            border-radius:5px;
            position:relative;
            z-index:0;
            .transition (all 300ms ease-out);
            a {
                padding:15px;
                display:block;
                text-decoration:none;
                font-weight:700 !important; // override !important declaration
                color: @color-gray-base !important; // override !important declaration
                .transition (all 200ms ease-out);
                &:hover,&:focus {
                    color: @color-white-base !important; // override !important declaration
                    background-color: @color-gray-base;
                    text-decoration:none !important; // override !important declaration
                    .transition (all 200ms ease-out);
                }
                &:visited,&:active {
                    color: @color-gray-base; // override !important declaration
                }
            }
            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:5px;
                height:0;
                background-color:  lighten(@color-gray-base,10%);
                z-index:2;
                .transition (all 300ms ease-out);
            }
            &:hover,&:focus {
                border-color: @color-gray-base !important; // override !important declaration
                .transition (all 300ms ease-out);
                &:after {
                    height:100%;
                    .transition (all 300ms ease-out);
                }
            }
        }
    }
}