.imagegallery{
    .img-gallery{
        h3{
			display:none;
        }
		margin:0 !important;
        padding:0 !important;
        background:none !important;
        .carousel{
            padding:0 50px 0;
            margin:0;
            .clearfix();
            position:relative;
            .nbs-flexisel-inner {               
                width: 100%;
                margin-left: 0;               
            }
            ul{
                li{
					display:block;
                    background:none !important;
                    div{
                        margin:0;
                        padding:5px;
                        background:none !important;
                        img{
							background:none !important;
							margin-top:0;
                            &.image-gallery-respDesktop{
								width:auto !important;
                                height:auto !important;
                            }
                        }
                    }
                }
            }
            .nbs-flexisel-inner{
				float:none;
            }
            .nbs-flexisel-nav-left,.nbs-flexisel-nav-right{
                width: 30px !important;
                height: 30px !important;
                opacity:.7 !important;
                .transition(300ms all ease);
                top: 50% !important;
                margin-top:-18px;
                background: @color-secondary;
                .border-radius(100%);
                color: @color-white; 
                font-family:@font-icon;
                line-height:30px;
                text-align:center;
                font-size: 14px;
                &:hover{
                    opacity:1 !important;
					.transition(300ms all ease);
                }
            }
            .nbs-flexisel-nav-left{
				left:-50px !important;
                &:after{
					content:'\f053';
                    font-family:fontawesome !important;
                }
            }
            .nbs-flexisel-nav-right{
				right:-50px !important;
                &:after{
					content:'\f054';
                    font-family:fontawesome !important;
                }
            }
            .carousel-indicators{
				display:none !important;
                top:auto !important;
                left:auto !important;
                bottom:0 !important;
                right:50% !important;
                .transform(translateX(50%));
                height: auto;
                margin: 0;
                line-height: 15px;
				margin:0;                
                li{
					line-height: 15px;
                    height:15px;
                    width:15px;
                    margin:0 10px !important;
                    background:@color-secondary;
                    border:0 !important;
                    opacity:.7 !important;
                    .transition(300ms all ease);
                    &:hover,&.active{
                        opacity:1 !important;
                        .transition(300ms all ease);
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px){

    .image-gallery-respDesktop {

    }
}

.slideshow {
    .image-gallery {
        h2 {
            font-family: @primary-font;
            .h3;                    
            margin:0 0 15px;
            padding:0;
        }
        .lightgallery {
            .slideCover {
                max-height:100%;                
                @media (max-width:1199px) {
                    
                }
                @media (max-width:991px) {
                    
                }
                @media (max-width:769px) {
                   
                }
                img {
                    .border-radius(0);
                }
            }
        }
    }
}

.lg-actions .lg-prev {
	visibility:hidden;;
}

.lg-actions .lg-next:before {
	content:'\f061';
    font-family:fontawesome !important;
}

.lg-actions .lg-prev:before {
	content:'\f060';
    font-family:fontawesome !important;
}


