/*= For Text Highlight - Image, Title, Desc, Quote Component */

.leadingText {
    margin-bottom: 30px;
    color:#504f53;
    .clearfix();
    > .cq-placeholder {
        //display: none;
        width:100%;
    }
    /* Variation 1 */
    .text2 {
        background-color: #f5f5f5;
        color: #000;
        padding:30px;
        margin-top:0;
        .textCenter {
            color: #000;
            font-family: @font-primary;
            font-weight: 700;
        }
    }
    /* Variation 2 */
    .informa-leading-text,
    .leading-panel {
        background-color: #f5f5f5 !important;
        padding: 30px !important;
        margin-bottom:30px;
        .Consecteturtitle {
            font-family: @font-primary;
            font-weight: 700;
            margin: 0 0 15px;
            .informa-leading-text-variation-one-header {
                font-family:@font-primary;
                font-weight: 700;
                padding: 0;
                margin: 0;
                color: #000;
            }
        }
        .informa-leading-text-variation-one-content,
        .text {
            display:none;
        }
        .informa-leading-text-variation-one-alternate-content-image {
            margin-top: 30px;
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
        .setting {
            margin-top: 30px;
            .informa-leading-text-variation-one-alternate-content-title,
            .Testimonialhead {
                color: @base-color;
                font-family: @font-primary;
                font-weight: 700;
                padding: 0;
                margin: 0 0 30px;
            }
            .informa-leading-text-variation-one-alternate-content-highlight,
            .testimonialp {
                font-family: @font-primary;
                font-weight: 500;
                margin: 15px 0;
                em {
                    color: #000;
                }
            }
            .informa-leading-text-variation-one-alternate-footer,
            .quote {
                font-style: italic;
                margin:0;
                padding:0 0 0 70px;
                position:relative;
                &:before {
                    content: '';
                    padding:0;
                    margin:0;
                    width:60px;
                    height:1px;
                    background-color: #000;
                    position:absolute;
                    top:50%;
                    left:0;
                }
            }
        }
        .row {
            margin:0;
        }
        p:empty {
            display: none;
        }
    }
    /* Variation 3 */
    .informa-leading-text-variation-three,
    .leading-testimonial {
        background-color: #f5f5f5 !important;
        padding: 30px !important;
        margin-top: 0;
        position:relative;
        .informa-leading-text-variation-three-title,
        .leadrightpanelhead {
            background-color:transparent;
            padding:0;
            margin: 15px 0 0;
            color: @black;
            font-family: @font-primary;
            font-weight: 700;
            border-bottom: none;
        }
        .wrapper {
            background-color: transparent;
            padding:30px;
        }
        .informa-leading-text-variation-three-content-highlight,
        .leadrightpaneltxt,
        .informa-leading-text-variation-three-footer,
        .leadrightpanelquote {
            font-family: @font-primary;
            padding:0;
        }
        .informa-leading-text-variation-three-content-highlight,
        .leadrightpaneltxt {
            text-align:center;
            em {
                font-weight:700;
                color: #504f53;
            }
        }
        .informa-leading-text-variation-three-footer,
        .leadrightpanelquote {
            font-style: italic;
            margin:0;
            text-align:center;
        }
    }
}