.lightbox {
    margin: 30px 0;
    .callaction-btn {
        padding:0 15px;;
        margin:0;
        a {
            &:extend(.button all);
            &:focus, &:hover {
                background-color: transparent !important;
                border:1px solid #000!important;
                color:#000!important;
            }
        }
    }
}