.listview-variant-2{
    .listheading{   
        background:none;
        .listpage{
			margin:0;
        }
        .list.heading.nav {
            background: none repeat scroll 0 0 #000!important;
        }
        .heading.list.nav{
            background:@color-primary !important;
            border: 1px solid #000000;
            ul{
                li{
                    margin:0;
                    padding:15px;
					border-right:0;
                    border-left:1px solid #fff;
                    &:after{
						display:none;
                    }
                    &:first-child{	
						border-left:0;
                    }
                    a{
						font-family:@primary-font !important;
                        color:#fff;
                        font-weight:bold;
                        text-align:center !important;
                        display:block;
                        font-size:16px;
                    }
                }
            }

        }
        .list.heading1{
            background:#565a5c;
			margin-top:30px;
            .row{
				margin:0;
                padding:0 15px;
                h2{
                    padding:10px 0!important;
                }
            }
        }
        .list.heading2{
            background:#f2f2f2;
            .row{
				margin:0;
                padding:0 15px;
                .heading111 h2{
                    font-size:15px;
                    padding:10px 0;
                    color:#333;
            	}
            }
        }
        .item{
            border-bottom:1px solid #000;
            border-left:1px solid #000;
            border-right:1px solid #000;
            ul{
                li{
                    margin:0;
                    background:none !important;
                    padding:0;
                    border-top:1px solid #000;
                    height: auto !important;
                    min-height: 0;
                    color:#333;
                    div{
                        text-align:center !important;
						font-family:@primary-font !important;
                        font-size:16px;
                    }
                    a{
						font-family:@primary-font !important;
                        text-align:center !important;
                        font-size:16px;
                        color:#333;
                    }
                    span{
						font-family:@primary-font !important;
                        text-align:center !important;
                        font-size:16px;
                    }
                    &.tr.list-item-rows:nth-child(odd) {
                        background: #f2f5f7;
                    }
                    &.tr.list-item-rows:nth-child(even) {
                        background: #fff!important;
                    }
                    &:first-child{
						border-top:0;
                    }
                    .th, .td {
                        padding: 15px !Important;
                    }
                    .accordion-xs-toggle{
						padding:0 !important;
                        &:after{
							top:20px;
                        }
                    }
                }
            }
        }
    }
}


/**   Responsive Layouts   **/

@media (max-width: 1199px){

}

@media (max-width: 991px){

}

@media (max-width: 767px){
	
}