.listview-variant-1 {
    > .row {
        padding-left:15px;
    	padding-right: 15px;
    }
    .firstrow {
        background-color: transparent;
        > div[class*='col-'] {
            margin:0;
            padding:0;
        }
        .tab-containertwo {
            margin:0;
            .heading {
                h2 {
                    font-family: @font-primary;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.5;
                    padding:15px;
                    margin:0;
                    color: #000;
                    background-color: #ebebeb;
                }
            }
            .tab-content {
                padding:0;
                margin:0 !important;
                .tab-pane {
                    padding:0 !important;
                    ul {
                        padding:0;
                        margin:0;
                        li {
                            min-height:0;
                            padding:15px !important;
                            margin:0;
                            line-height:1;
                            color:#333;
                            .item {
                                padding:0 !important;
                            }
                            .image {
                                display:none;
                            }
                            a {
                                text-decoration:none;
                                font-weight:700;
                                color:#333;
                                &:hover, &:focus {
                                    text-decoration:none;
                                }
                            }
                            &:nth-child(odd) {
                                background-color: #f7f7f7;
                            }
                            &:nth-child(even) {
                                background-color: #fff;
                            }
                            span {
                                display:block;
                                @media (max-width:1024px) {
                                    padding:0 !important;
                                }
                                @media (max-width:991px) {
                                    width:100%;
                                }
                                &:nth-of-type(3) {
                                    @media (max-width:991px) {
                                        padding:15px 0 0 !important;
                                    }
                                }
                            }
                        }
                        li, span, a {
                            font-family: @font-primary;
                    		font-size: 16px;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}