/**     Social - Link     **/
.sociallinks{    
    .socialIcon{
        ul{
            float:none !important;
            font-size:0;
            text-align:left;
            li{
                display:inline-block;
                border-left:0;
                float:none;
                margin:0; 
                //Default Social Links
                a{
                    margin:0 0 0 5px;
                    padding:0;
                    i{                                              
                        color: @color-white-base;                                              
                        background: @color-primary;   
                        text-align: center;
                        display: inline-block;
                        font-family: fontawesome !important;
                        font-size:16px;
                    	font-style:normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        line-height:40px;
                        height:40px;
                        width:40px;
                        
                        &.youtubeIcon{	
                            &:after{
                                content: "\f167";      
                            }                            
                        }
                        &.linkedinIcon{	                           
                            &:after{
                                content: "\f0e1";
                            }                            
                        }
                        &.twitterIcon{                         
                            &:after{
                                content: "\f099";
                            }
                        }
                        &.facebookIcon{                           
                            &:after{
                                content: "\f09a";  
                            }
                        }
                        &.instagramIcon{                          
                            &:after{
                                content: "\f16d"; 
                            }
                        }
                        &.pinterestIcon {                          
                            &:after{
                                content: "\f0d5"; 
                            }
                        }
                        &:hover {                            
                            color:@color-white-base;
                            background: @color-primary;	

                        }
                	}
                }
            }
        }       
    }
}
