/** Tab Panel Styles  **/
.tab-panel{
    .informa-tab-panel{
        margin:0;
        padding:0;
        background:none;        
        .informa-tab-panel-tabs{
			font-size:0;
            text-align:center !important;
            margin-bottom:20px;
            display:table;
            width:100%;
            padding: 0;
            li{               	
                background:#f4f4f4; 
            	float:none;
            	display:table-cell;
            	font-size:15px;
            	position:relative;
                a{
                    background:@color-secondary;
                    border-top:0;
                    height:auto;
                    width:auto; 
                	border-bottom:0 !important;
               		color:@color-black-base;
                	margin-right:0;                	                	
                    .transition(300ms all ease-out);
                    span{
						display:block;
                        font-size:@font-size-base + 2;
                        color:@color-white-base;
                    	width:auto !important;
                    	padding:20px 10px;
                        text-align:center;
                        background:none;
                    	height:auto;
                        line-height:20px;
                    	font-family:@font-family-base !important;
                    	font-weight:700;
                    }	
                }
                &.active,&:hover{
                    a{
						background:@color-primary !important; // prev color = @color-blue-base
                        .transition(300ms all ease-out);
                        span{
    						color:@color-white-base !important;
                        }
                    }   
                	&:after{
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        margin-left: -8px;
                        width: 0;
                        height: 0;
                        content: "";
                        border-style: solid;
                        border-width: 7px 10px 0 10px;
                        border-top-color: @color-primary !important; // prev color = @color-blue-base
                        border-left-color: transparent;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        opacity: 1;
                        z-index: 1;
                    	.transition(all 800ms ease-out);
                    }
                }

            }
        }      
        .panel-group{
            margin:0;
            .panel{
                .panel-heading{
					background:#f4f4f4;
                    .panel-title{
						padding:15px;
                        a{
                            text-decoration:none;
                            span{
								padding:0;
                                color:@color-black-base;
                            }
                        }
                    }
                }
            }
        }
        .informa-tab-panel-content{        	
            .tab-pane{
                .imagecalltoaction{
    				background:#f4f4f4;
                	padding: 0 15px 15px;
                    .informa-image-call-to-action-content-subtitle {
                        font-size: 24px!important;
                    	line-height:34px !important;
                    }
                }
            }
        }
    }
}
/**   Responsive Layouts   **/
@media (max-width: 1199px){

}

@media (max-width: 991px){

}
@media (max-width: 767px){
	.tab-panel{
        .informa-tab-panel{  
            .panel-group{

                .panel{
                    .panel-heading{
                        background:@color-gray-light !important;
                        span{
							color:@color-black-base !important;
                        }
                    }
                }
            }
        }
    }
}