.vertical-tab-panel .tab-container{
    margin:30px 0;background-color:transparent !important;
    .subbody{
        padding-left:15px;padding-right:15px;
        .sub-ver-body{
            margin-top:15px;background-color:transparent;
            @media(max-width:769px){
                .tabstyle{
                	max-width:100%;
                    width:100%;
                }
            }
            .tab-content{
                padding:0 15px
            }
            .tabstyle .nav-tabs.sideways{
                padding:0;margin:0;
                li{
                    margin-bottom:-2px!important;
					&span{
                        font-family:'Open Sans',sans-serif;font-size:14px;font-weight:700;line-height:14px;
                    }
                    a {
                        border:0!important;background-color:@color-secondary;color:#fff;padding:0 15px !important;min-height:60px;max-height:60px;cursor:pointer;display:-moz-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;
                        span{
                            width:100%;color:#fff;background-color:transparent !important; font-size:18px;line-height: 1.1;
                        }
                        &:hover, &:focus{
                            color:#fff;background-color:@color-primary !important;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;
                            span{
                                color:#fff;
                            }
                        }
                    }
                    &.active{
                    border:0;
                    a{
                        color:#fff;background-color:@color-primary;
                        span{
                            color:#fff;
                        }
                        &:hover, &:focus{
                            color:#fff;background-color:@color-primary !important;
                            span{
                                color:#fff;
                            }
                        }

                    }
                    &:after{content:'\f0d7';font-family:'FontAwesome';font-size:24px;position:absolute;top:25%;left:50%;margin:0 0 0 -12px;line-height:1;color:@color-primary;}
                	}
                }
			    .panel-group{
    				.panel{
        				box-shadow:none;border:0;
        				&+.panel{margin-top:1px}
        				.panel-heading{
            				padding-right:0;color:#fff;background-color:#000 !important;border-color:#000;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0
                			.panel-title{
                				margin-bottom:0;padding:0;
                    			a{
                    				display:block;color:#fff;padding:13px 15px;
                        			span{
                        				font-family:'Open Sans',sans-serif;font-size:14px;font-weight:700;line-height:14px;display:block;width:100%;color:#fff;
                    				}
                    				&:hover, &:focus{
										text-decoration:none;
                    				}
                				}
            				}
        				}
        				.panel-collapse .panel-body{
            				border-top:0;background-color:#f7f7f7;
        				}
    				}
				}
            }
        }
    }
}

