/*= For YouTube Video Component */

.youtube-video {
    .media-body {
        .media-heading {
            background-color: @base-color;
            color: #fff;
            font-family: @font-primary;
            font-weight:700;
            border:0;
        }
        .divSectionSpace {
            background-color:#f5f5f5;
            padding:15px;
            height:auto;
        }
    }
}