.eventlocation {
    .eventLocationMap {
        .travel-event-date, .travel-event-venue, .event-informa {
            font-family: @primary-font;
            color: @base-color;
            position:static;
            float:left;
            width:100%;
        }
        .travel-event-date, .travel-event-venue {
            background-color: darken(@white,8%);
        }
        .travel-event-date {
            font-size: @heading-3;
            font-weight: 700;
            line-height: @heading-3;
            padding:15px 15px 5px;
            margin:0;
        }
        .travel-event-venue {
            font-size: @base-font-size;
            font-weight: 400;
            line-height: @base-font-size;
            padding:5px 15px 15px;
            margin:0;
        }
        .event-informa {
            font-size: @heading-2;
            font-weight: 700;
            line-height: @heading-2;
            background-color: darken(@white,5%);
            padding:15px;
            margin:0;
        }
        .travel-btn-custom {
            &:extend(.button all);
        }
    }
    .travel-content-custom-background1 {
        > .row > .col-md-12:not(.map-panel) {
            padding: 0;
        }
    }
}