<!-- the view -->
<div id="sponsor-list" class="loading-ui loading-ui--loading"></div>

<!-- js config -->
<script type="text/javascript">
  $(document).on("mascotReady", function($bootstrap) {
    new mascot.Sponsor("#sponsor-list", {
      url: "https://sponsortool.penton.com/json/1568298",
      levelOrder: "1,2,3,4,5,6",
      heading: {
        "1": "Premier Title",
        "2": "Premier Platinum",
        "3": "Premier Program",
        "4": "Platinum",
        "5": "Gold",
        "6": "Silver"
      },
      logoClass: {
          "1": "sponsor-logo--0",
          "2": "sponsor-logo--1",
          "3": "sponsor-logo--1",
          "4": "sponsor-logo--1",
          "5": "sponsor-logo--2",
          "6": "sponsor-logo--3"
        },
        columnClass: {
          "1": "col-md-12 col-lg-12",
          "2": "col-md-6 col-lg-6",
          "3": "col-md-6 col-lg-6",
          "4": "col-md-4 col-lg-6",
          "5": "col-md-4 col-lg-4",
          "6": "col-md-8 col-lg-3"
        }
    });
  });
</script>
<style>
.sponsor-logo--0 {width:311px;height:246px;}
.sponsor-logo--0 .sponsor-logo__img {width:285px;}
.sponsor-logo--1 .sponsor-logo__img {width:185px;}
.sponsor-logo--2 .sponsor-logo__img {width:125px;}
</style>
