/*= Tab Horizontal Component */

@tab-vertical--panel-bg: transparent;
@tab-vertical--panel-focus-bg: @base-color;
@tab-vertical--panel-txt-color: @tab-vertical--panel-focus-bg;
@tab-vertical--panel-focus-txt-color: @white;
@tab-vertical--panel-border-color: @tab-vertical--panel-focus-bg;
@tab-vertical--panel-focus-border-color: @tab-vertical--panel-bg;
@tab-vertical--icon-color: @tab-vertical--panel-focus-bg;

.vertical-tab-panel {
    .tab-container {
        margin:30px 0;
        background-color:transparent !important;
        .subbody {
            padding-left: 15px;
            padding-right: 15px;
            .sub-ver-body {
                margin-top:15px;
                background-color: transparent;
                .tabstyle {
                    @media (max-width:769px) {
                        max-width:100%;
                        width:100%;
                    }
                    .nav-tabs.sideways {
                        padding:0;
                        margin:0;
                        li {
                            &.active {
                                border:0;
                                a {
                                    color: @tab-vertical--panel-focus-txt-color;
                                    background-color: @tab-vertical--panel-focus-bg;
                                    border-right: 1px solid @tab-vertical--panel-border-color !important;
                                    border-left: 1px solid @tab-vertical--panel-border-color !important;
                                    span {
                                        color: @tab-vertical--panel-focus-txt-color;
                                    }
                                    &:focus, &:hover {
                                        color: @tab-vertical--panel-focus-txt-color;
                                        background-color: @tab-vertical--panel-focus-bg !important;
                                        span {
                                            color: @tab-vertical--panel-focus-txt-color;
                                        }
                                    }
                                }
                                &:after {
                                    content:'\f0d7';
                                    font-family: @icon-font;
                                    font-size: @base-font-size + 10;
                                    position:absolute;
                                    top:25%;
                                    left:50%;
                                    margin:0 0 0 -12px;
                                    line-height:1;
                                    color: @tab-vertical--icon-color;
                                }
                            }
                            a, a span {
                                font-family: @primary-font;
                                font-size: @base-font-size;
                                font-weight: 700;
                                line-height: @base-font-size;
                            }
                            a {
                                border: 1px solid @tab-vertical--panel-border-color;
                                background-color: transparent;
                                color: @tab-vertical--panel-txt-color;
                                padding: 0 15px !important;
                                min-height:60px;
                                max-height:60px;
                                cursor:pointer;
                                .display(flex);
                                .align-items(center);
                                .transition(@transition);
                                span {
                                    width:100%;
                                    color: @tab-vertical--panel-txt-color;
                                    background-color: @tab-vertical--panel-bg !important;
                                }
                                &:focus, &:hover {
                                    color: @tab-vertical--panel-focus-txt-color;
                                    background-color: @tab-vertical--panel-focus-bg !important;
                                    .transition(@transition);
                                    span {
                                        color: @tab-vertical--panel-focus-txt-color;
                                    }
                                }
                            }
                        }
                    }
                    .panel-group {
                        .panel {
                            box-shadow:none;
                            border:0;
                            + .panel {
                                margin-top:1px;
                            }
                            .panel-heading {
                                padding-right:0;
                                color: @tab-vertical--panel-focus-txt-color;
                                background-color: @tab-vertical--panel-focus-bg !important;
                                border-color: @tab-vertical--panel-border-color;
                                .border-radius(0);
                                .panel-title {
                                    margin-bottom:0;
                                    padding:0;
                                    a {
                                        display:block;
                                        color: @tab-vertical--panel-focus-txt-color;
                                        padding: 13px 15px;
                                        span {
                                            font-family: @primary-font;
                                            font-size: @base-font-size;
                                            font-weight: 700;
                                            line-height: @base-font-size;
                                            display:block;
                                            width:100%;
                                            color: @tab-vertical--panel-focus-txt-color;
                                        }
                                        &:hover, &:focus {
                                            text-decoration:none;
                                        }
                                    }
                                }
                            }
                            .panel-collapse {
                                .panel-body {
                                    border-top:0;
                                    background-color: darken(@white,3%);
                                }
                            }
                        }
                    }
                }
                .tab-content {
                    padding:0 15px;
                }
            }
        }
    }
}