.column-control{
    padding:0px;
	.column-control{
		padding:0;
    }
    &.66-33 {
		@media (min-width: 991px){
            .col-md-9 {
                width: 66.6667%;
            }
            .col-md-3 {
                width: 33.3333%;
            }
        }
    }

	@media (max-width: 990px){
        .container{            
            padding:0 20px !important;            
            .column-control{
                .container{
					padding:0 !important;
                }
            }
        } 
        .container-fluid{
            > .column-control-columns{
				margin:0;
                >.column{
					padding:0;
                }
            }
        }
    }

    /** Custom Classes **/
    

    &.custom-header{
		//padding:0 10% !important;
        position:relative;
        @media (max-width: 1600px){
            //padding:0 7% !important;
        }
        
        @media (max-width: 991px){
            //padding:0 5% !important;
        }
        
        @media (max-width: 990px){
            //padding:0 2% !important;
        }
        .custom-header-columns-container{
			margin:0;
        }  

        .logo {
            margin: 0px;
            a {
				display:inline-block;
            }
        }

        @media (min-width: 991px){

            .col-md-9 {
                width: 75%;
            }
            .col-md-3 {
                width: 25%;
            }
            .top-nav-container {
				.col-md-9 {
					width:auto;
                    float:right;
                }
                .col-md-3 {
					width:auto;
                    float:right;
                }
            }
        }
        @media (max-width: 990px){
			.custom-header-column{
				padding:0;
            }
        }
    }

    // Section Backgrounds

    &.bg-hero-video{

        @media (max-width: 991px){
            br{
                display:none;
            }
            .bg-hero-video-column{
				width:100%;
            }
            padding:0 0 40px;
        }

    }
    &.bg-upcoming-events{

        @media (max-width:991px){

            br{

            }
        }
    }
    &.bg-locations{

        @media (max-width:991px){

        }
    }    
    &.bg-call-to-actions{

        @media (max-width: 769px){

        }
    }

    &.bg-listing{        

        @media (max-width: 769px){

        }
    }


    // Blues Background
    &.blue-strip{
        background-color:@color-primary; 
        padding:60px 0;        
    }

    // White Background
    &.strip-white, &.white-strip {
        background-color:@white; 
        padding-top:60px;  
        padding-bottom:60px; 
        //Title will be centered
        .titleBar{   
            .informa-title-bar{	
                text-align:center;

            }
        }
        @media (max-width: 769px){
        	padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    // Light Green Background
    &.light-green-strip{
        background-color:@color-secondary; 
        padding-top:60px;  
        padding-bottom:60px;  
        //Title will be centered
        .titleBar{   
            .informa-title-bar{	
                text-align:center;
                
            }
        }
    }

    // Dark Green Background
    &.dark-green-strip{
        background-color:@color-primary; 
        padding-top:60px;  
        padding-bottom:60px;   
		//Title will be centered
        .titleBar{   
            .informa-title-bar{	
                text-align:center;
                
            }
        }
        @media (max-width: 769px){
        	padding-top: 20px;
            padding-bottom: 20px;
        }

        .countdown_custom {
            #clockdiv{ 
                h1{ 
                  color: @white; 
                } 
                > div{ 
                    span {
                        background: #fff;
                        box-shadow: none;
                		border:2px solid #fff;
                    }
                    > span {
                        background: none; 
                        color:#fff; 
                    }
        
                    .smalltext {   
                		color:@white;
                    }
                } 
            }
        }
    }

    // Dark Gray Background
    &.dark-gray-strip{
        background-color:@color-gray-base; 
        padding-top:60px;  
        padding-bottom:60px;  
        //Title will be centered
        .titleBar{   
            .informa-title-bar{	
                text-align:center;
                
            }
        }
    	@media (max-width: 769px){
        	padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    // Light Gray Background
    &.light-gray-strip{
        background-color:@color-gray-light; 
        padding-top:60px;  
        padding-bottom:60px;   
        //Title will be centered
        .titleBar{   
            .informa-title-bar{	
                text-align:center;
                
            }
        }
    	@media (max-width: 769px){
        	padding-top: 20px;
            padding-bottom: 20px;
        }
    }


	// Lighter Gray Background
    &.lighter-gray-strip{
        background-color:@color-gray-lighter; 
        padding-top:60px;  
        padding-bottom:60px;   
        //Title will be centered
        .titleBar{   
            .informa-title-bar{	
                text-align:center;
                
            }
        }
    	@media (max-width: 769px){
        	padding-top: 20px;
            padding-bottom: 20px;
        }
    }


    // Light yellow Background
    &.light-yellow-strip{
        background-color:@color-yellow-base; 
        padding-top:60px;  
        padding-bottom:60px; 
        //Title will be centered
        .titleBar{   
            .informa-title-bar{	
                text-align:center;
                
            }
        }
    	@media (max-width: 769px){
        	padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    //Adding BG to columns
    .column {
		&.light-yellow-strip{
            background-color:@color-yellow-base; 
            padding-top:60px;  
        	padding-bottom:60px; 
            //Title will be centered
            .titleBar{   
                .informa-title-bar{	
                    text-align:center;
                    
                }
            }
            @media (max-width: 769px){
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        &.light-gray-strip{
            background-color:@color-gray-light; 
            padding-top:60px;  
        	padding-bottom:60px; 
            //Title will be centered
            .titleBar{   
                .informa-title-bar{	
                    text-align:center;
                    
                }
            }
            @media (max-width: 769px){
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        &.strip-white, &.white-strip {
            background-color:@white; 
            padding-top:60px;  
        	padding-bottom:60px;  
            //Title will be centered
            .titleBar{   
                .informa-title-bar{	
                    text-align:center;
    
                }
            }
            @media (max-width: 769px){
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }

    &.space20 {
        padding-top:20px;
        padding-bottom:20px;
    }
    

    &.space30 {
        padding-top:30px;
        padding-bottom:30px;
        @media (max-width: 769px){
            padding-top:20px;
            padding-bottom:20px;
        }
    }
    
    &.space40 {
        padding-top:40px;
        padding-bottom:40px;
        @media (max-width: 769px){
            padding-top:20px !important;
            padding-bottom:20px !important;
        }
    }
    
    &.space60 {
        padding-top:60px;
        padding-bottom:60px;
        @media (max-width: 769px){
            padding-top:20px;
            padding-bottom:20px;
        }
    }




    // Remove Column gutters
    &.no-gutter{
        .row{
            margin-left:0 !important;
            margin-right:0 !important;
            .column{
                padding:0 !important;
            }
        }
    }

    // Remove Column gutters
    &.border-gutter{
        .row{
            margin:0 !important;
            .column{
                padding:0 !important;
                border-left:1px solid @color-white-base;
                &:first-child{
					border-left:1px solid transparent;
                }
                @media (max-width: 769px){
                    border-left:0;
					border-bottom:1px solid @color-white-base;
                    &:first-child{
                        border-left:0;
                    }
                }
            }
        }
    }

    
    &.custom-column-5{
        .row{
            margin-left:-1px !important;
            margin-right:-1px !important;
            .column{
                padding:0 2px !important;
            }
        }
        .custom-column-5-column{
			width:20%;
            @media (max-width: 769px){
				width:50%;
            }
            &:last-child{
				display:none;
            }
        }
    }

    &.press-page{
        .blue-strip{
			padding:20px 0;
        }
    }

    &.markets-grid{
		@media (max-width: 1060px){
            .column{
				width:100%;
            }
        }
    }


    // Overlap top
   /* &.overlay-top{
        .column-control-columns-container{
			margin-top:-15%;
            @media (max-width: 769px){
				margin-top:0;
            }
            .column-control-columns-container{
				margin-top:0;
            }
        }
    }*/

    /* Date, Venue and Social Strip */

    &.datevenuestrip {
        padding:20px 0px 15px 0px;
        .eventDateContainer {
            .mapIconHeader {
                float:right;
                width:50%;
                color: #fff;
                @media (max-width: 769px){
                    text-align:center;
                    width:100%;
                    float:none;
                    display: inline-block;
                 }
                .mapIcon {
                    color: #fff;
                    font-size: 20px;
                    display:inline;
                    float:left;
					@media (max-width: 769px){
						float: none;
                    }

                    &:before {
						display:block;
                    }
                }
                .topNavAddress {
                    font-size:20px;
                    color:#fff;
                }
            }
            .calendarDetails {
                width: 50%;
                float:left;
                color: #fff;
                @media (max-width: 769px){
                    text-align:center;
                    width:100%;
                    float:none;
                    display:inline-block;
                 }
                .calenderIcon {
                    color: #fff;
                    font-size: 20px;
                    display:inline;
                    float: left;
                    @media (max-width: 769px){
						float: none;
                    }
                    &:before {
						display:block;
                    }
                }
                .topNavAddress {
                    font-size:20px;
                    line-height: 24px;
                    color:#fff;
                    @media (max-width: 769px){
						width:100%;
                    }

                }
            }
        }
        .sociallinks {
            .socialIcon {
                ul {
                    text-align:right;
                    li {
                        a {
                            i {
                                color: #ffffff;
                                background: none;
                                font-size:20px;
                                height: auto;
                                line-height: normal;
                                &:hover {
                                    color: #ffffff;
                                    background: none;
                                }
                            }
                        }
                    }
                    @media (max-width: 769px){
                        text-align:center;
                    }
                }
            }

            @media (max-width: 769px){
                padding-top:10px;
            }
    
        }



    	.light-social & {
			.mapIconHeader {
                color: @color-gray;
                .mapIcon, .topNavAddress {
                    color: @color-gray;
                }
            }

        	.calendarDetails {
                color: @color-gray;
                .calenderIcon, .topNavAddress {
                    color: @color-gray;
                }
            }

        	.sociallinks .socialIcon ul li a i {
				color: @color-gray;
                &:hover {
                	color: @color-gray;
                }
        	}        

    	}
    }

}



.column-control .sticky-right-top {
    width:44%;
    position: absolute;
    right: 0;
    top: 0;
    .image {
		margin:0px !important;
    }
    @media (max-width: 1060px){
		position:relative;
        width:100%;
    }
}


.column-control .sticky-left-bottom {
    width:44%;
    position: absolute;
    left: 0;
    bottom: 0;
    .image {
		margin:0px !important;
    }
    @media (max-width: 1060px){
		position:relative;
        width:100%;

    }
}

.floatright {
    float:right;
}




/* Top and Bottom Padding - END */


/*.container15 {
	padding-left:10%;
	padding-right:10%;
	
	@media (max-width: 1600px){
		padding-left:7%;
		padding-right:7%;
	}
	
	@media (max-width: 991px){
		padding-left:5%;
		padding-right:5%;
	}
} */

.container-left-15 {
	padding-left:11%;
	@media (max-width: 1600px){
		padding-left:8%;	
	}
	
	@media (max-width: 991px){
		padding-left:4%;	
	}
	
	@media (max-width: 769px){
		padding-left:20px !important;	
	}
}

.container-right-15 {
	padding-right:11%;
	@media (max-width: 1600px){
		padding-right:8%;	
	}
	
	@media (max-width: 991px){
		padding-right:4%;	
	}
	
	@media (max-width: 769px){
		padding-right:20px;	
	}
}



// Left margin for columns with half of this on right
	.contentmargin-left {
		padding-left:20%;
		padding-right:11%;
		@media (max-width: 1600px){
			padding-left:7%;
			padding-right:8%;
		}
		@media (max-width: 769px){
			padding-left:5%;
			padding-right:5%;
		}
	}
	
	// Right margin for columns with half of this on left
	.contentmargin-right {
		padding-right:20%;
		padding-left:11%;
		@media (max-width: 1600px){
			padding-right:7%;
			padding-left:8%;
		}
		@media (max-width: 769px){
			padding-right:5%;
			padding-left:5%;
		}
	}
	
	// Right margin with less left margin
	.padding-20-10 {
		padding-right:21%;
		padding-left:15%;
		@media (max-width: 769px){
			padding-left:5%;
			padding-right:5%;
		}
	}
	
	// Left margin with less right margin
	.padding-10-20 {
		padding-right:15%;
		padding-left:21%;
		@media (max-width: 769px){
			padding-left:5%;
			padding-right:5%;
		}
	}	
	
	// Inner Page - Right image on top
	.inner-img-right {
		position: absolute;
		right: 0;
		padding: 0px;

        @media (max-width: 769px){
            position:relative;
            margin-top:20px;
            img {
				max-width:60%;
                float:right;
            }

        }

	}



.no-padding {
      padding-left:0px;
      padding-right:0px;
}

.img-bg-bottom img {
	@media (min-width: 992px){
		position:absolute;
        top:-80px;
    }
}


/* Min Height Classes - START */

.min-height-300 {
	min-height:300px;
    @media (max-width: 769px){
		min-height:auto;
    }
}

.min-height-400 {
	min-height:400px;
    @media (max-width: 769px){
		min-height:auto;
    }
}

.min-height-500 {
	min-height:500px;
    @media (max-width: 769px){
		min-height:auto;
    }
}

.min-height-600 {
	min-height:600px;
    @media (max-width: 769px){
		min-height:auto;
    }
}

.min-height-700 {
	min-height:700px;
    @media (max-width: 769px){
		min-height:auto;
    }
}


/* Min Height Classes - END */

.light-social {
	background:@color-gray-light;
}


.bg-art-left-gray {
	background:url(/content/dam/Informa/qatar-health-exhibition/en/images/branding/ls_artwork_left.png) left bottom no-repeat #f2f3f3;
}

.bg-art-left-white {
	background:url(/content/dam/Informa/qatar-health-exhibition/en/images/branding/ls_artwork_left.png) left bottom no-repeat #fff;
}


.left-branding01 {
	background-image:url(/content/dam/Informa/arabhealthonline/en/2020/misc/brand_artwork01.png);
    background-repeat:no-repeat;
    background-position: bottom left;
    background-size: 20% auto;
    @media (max-width: 1100px) and (min-width: 770px) {
		padding-bottom: 120px!important;
    }
    @media (max-width: 769px){
		background-image:none;
    }
}

.left-branding02 {
	background-image:url(/content/dam/Informa/arabhealthonline/en/2020/misc/brand_artwork02.png);
    background-repeat:no-repeat;
    background-position: bottom left;
    background-size: 20% auto;
    @media (max-width: 1100px) and (min-width: 770px) {
		padding-bottom: 120px!important;
    }
    @media (max-width: 769px){
		background-image:none;
    }

}

.right-branding01 {
	background-image:url(/content/dam/Informa/arabhealthonline/en/2020/misc/brand_artwork01_right.png);
    background-repeat:no-repeat;
    background-position: bottom right;
    background-size: 20% auto;
    @media (max-width: 1100px) and (min-width: 770px) {
		padding-bottom: 120px!important;
    }
    @media (max-width: 769px){
		background-image:none;
    }
}

.right-branding02 {
	background-image:url(/content/dam/Informa/arabhealthonline/en/2020/misc/brand_artwork02_right.png);
    background-repeat:no-repeat;
    background-position: bottom right;
    background-size: 20% auto;
    @media (max-width: 1100px) and (min-width: 770px) {
		padding-bottom: 120px!important;
    }
    @media (max-width: 769px){
		background-image:none;
    }

}


.hometext {
    @media (max-width: 991px){
    	padding:15px 20px !important;
    }
}


.mobileonly {	
    display:none;
	@media (max-width: 769px){
    	display:block;
    }
}


.desktoponly {	
    display:block;
	@media (max-width: 769px){
    	display:none;
    }
}


/* Conference Agenda */

.agenda_container {

    .titleBar {
		.informa-title-bar {
			font-size:18px !important;
        }
    }

    .titleBar {
		.content-highlight-title-anchor {
			color: @color-secondary !important;
            background: @color-gray-light !important;
            padding:5px !important;

        }
    }

	.conf_agenda_blk > {

		@media (min-width: 1200px) {

            .col-lg-3 {
                width: 15%;
            }

            .col-lg-9 {
                width: 85%;
            }

        }

        border-bottom:1px solid @color-gray-light;
		margin-bottom:10px;
		.col-lg-3 {
			.titleBar {
				margin-bottom:10px;
				.content-highlight-title-anchor {
                    background: none !important;
            		padding:0px !important;
					font-size:18px !important;
                    color: @color-primary !important;
				}
				
			} 
		}	

		.col-lg-9 {
			.titleBar {
				margin-bottom:10px;
				.content-highlight-title-anchor {
                    background: none !important;
            		padding:0px !important;
					font-size:18px !important;
                    color: @color-primary !important;
				}
				
			} 
		}

	}
	
}

.conf-overview .titleBar .content-highlight-title-anchor, .conf_faculty .titleBar .content-highlight-title-anchor {
	 color: @color-secondary !important;
}


// Leader Board Banners

.leader_board_banner {
    margin: 20px 0px;
}





/* 

	Sectorisation - Custom CSS 

*/


ul.sectorisationui {
	list-style:none;
	padding:0px;
	margin:0px; 
	li {
		list-style: none;	
	    padding-left: 60px;
	    min-height: 37px;
		margin-bottom:10px;
		font-weight:600;
        line-height: 18px; 
        min-height: 37px;
		&.medicalequip {	
			background:url(/content/dam/Informa/arabhealthonline/en/2019/images/sectorisation/ah20_sect_icon01.png) left no-repeat;
		}
		&.disposables {	
			background:url(/content/dam/Informa/arabhealthonline/en/2019/images/sectorisation/ah20_sect_icon02.png) left no-repeat;
		}
		&.imaging {	
			background:url(/content/dam/Informa/arabhealthonline/en/2019/images/sectorisation/ah20_sect_icon03.png) left no-repeat;
		}
		&.preventive {	
			background:url(/content/dam/Informa/arabhealthonline/en/2019/images/sectorisation/ah20_sect_icon04.png) left no-repeat;
		}
		&.healthcare {	
			background:url(/content/dam/Informa/arabhealthonline/en/2019/images/sectorisation/ah20_sect_icon05.png) left no-repeat;
		}
		&.infrastructure {	
			background:url(/content/dam/Informa/arabhealthonline/en/2019/images/sectorisation/ah20_sect_icon06.png) left no-repeat;
		}
		&.itsystems {	
			background:url(/content/dam/Informa/arabhealthonline/en/2019/images/sectorisation/ah20_sect_icon07.png) left no-repeat;
		}
		&.orthopaedics {	
			background:url(/content/dam/Informa/arabhealthonline/en/2019/images/sectorisation/ah20_sect_icon08.png) left no-repeat;
		}	
		@media (max-width: 768px){
			line-height: 18px;
            min-height: 37px;
		}
	}
}

@media (min-width: 1200px) {

.sector-column {
	.col-lg-3 {
        width: 40%;
    }
    .col-lg-9 {
        width: 60%;
    }
}

}



