/* --->>> CTA Image - Title, Desc, Link, Highlight, Button <<<--- */

.imagecalltoaction {
    .informa-image-call-to-action {
        .informa-image-call-to-action-title {
            h3 {
                .h3() !important; // override !important declaration
                background-color: transparent;
                border-bottom:0;
                height:auto;
                padding:0;
                font-weight:700 !important; // override !important declaration
                [class*='strip'] & {
                    .h1() !important; // override !important declaration
                    font-weight:700 !important; // override !important declaration
                	margin-top:0 !important; // override !important declaration
                    margin-bottom:50px !important; // override !important declaration
                    text-align:center;
                }
            }
        }
        .contentHeaderImage-container {
            padding: 0 !important; // override !important declaration
            background-color: transparent;
            @media (max-width:768px) {
                margin-bottom:0;
            }
            > [class$='-8'] {
                [class*='strip'] & {
                    padding-left:90px;
                    @media (max-width:768px) {
                        padding-left:15px;
                    }
                }
            }
            .callToActionContent {
                padding-top:0;
                [class*='strip'] & {
                    padding-top:10px;
                }
                h4 {
                    .h3() !important; // override !important declaration
                    font-weight:700 !important; // override !important declaration
                    margin-top:0 !important; // override !important declaration
                }
                p {
                    color: @color-gray-base;
                }
            }
            .btn-left-padding {
                width:100%;
                .btn-custom {
                    border-bottom:0;
                    &:extend(.button); // override !important declaration
                    &:hover,&:focus,&:active {
                        &:extend(.button:hover,.button:focus,.button:active);
                    }
                    width:auto;
                    min-width:0;
                    .HomePageBtn {
                        width:auto;
                        min-width:0;
                        .event-overview-btn-title {
                            padding:0 !important; // override !important declaration
                            margin:0 !important; // override !important declaration
                            text-align:center;
                            .h4();
                            font-weight:700 !important; // override !important declaration
                            color: @color-white-base;
                        }
                    }
                    .HomePageBtnArrow {
                        .hide();
                    }
                }
            }
        }
    }
}

/* --->>> CTA Image - Title, Desc, Link <<<--- */
// "contentHighlightContainer" — New element class from Caleb's 18 July 2018 deployment
.component1 {
    .contentHighlight & {
        .heading {
            //border-bottom: 1px solid @color-secondary;
            a {
                display:block;
                overflow:hidden;
                &:hover, &:focus {
                    .transition (all 300ms ease-out);
                    h3 {
                        //background-color: @color-turquoise-base;
                        &:after {
                            height:100%;
                        }
                    }
                    img {
                        -webkit-transform: scale(1.15,1.15);  // Chrome, Opera 15+, Safari 3.1+ 
                        -ms-transform: scale(1.15,1.15);  // IE 9 
                        transform: scale(1.15,1.15);
                    }
                }

            }
            h3 {
                [class*='strip'] & {
                    .h4();
                    min-height:75px;
                    color: @color-white-base;
                    border-bottom:0 !important;
                    margin-top:0;
                    padding: 15px;
                    font-weight:700;
                }
                .h5();
                //text-transform:uppercase;
                background-color: @color-gray-base;
                border-bottom:0 !important;
                margin-top:0;
                padding: 15px;
                min-height:65px;
                color: @color-white-base;
                font-weight:700;
                position:relative;
                z-index:0;
                .transition (all 300ms ease-out);
                &:after {
                    content:'';
                    height:0;
                    width:100%;
                    position:absolute;
                    bottom:0;
                    left:0;
                    z-index:-1;
                    background-color: @color-gold-base;
                    .transition (all 300ms ease-out);
                }
                @media (min-width:769px) and (max-width:991px) {
                    min-height:65px;
                    padding: 10px !important; // override !important declaration
                    font-size: @font-size-base;
                }
                @media (max-width:768px) {
                    min-height:0;
                }
                [class*='strip'] & {
                    text-align:center;
                }
            }
            div.callToActionPara {
                background-color: transparent;
                padding: 0px !important;
                margin: 0px;
                color: #000;
                min-height: 150px;
    			border-bottom: 1px solid #ccc;
				p{
					color: #000;
                    line-height: 16px;
                    padding: 0px;
                    width: 100%;
                    background-color: transparent;  
                    span {
                        font-size: 15px;
                        font-weight:500;
                    }

                }

            }
            img {
                width:100% !important;
                max-width:100%;
                .transition (all 300ms ease-out);
                @media (max-width:768px) {
                    width:100% !important; // override !important declaration
                }
            }
            img:not([src]) { // hide if image source empty
                display:none;
            }
        }
    }
}



/* --->>> CTA - Link <<<--- */
.quicklink {
    .highlightText {
        .content-faq1 {
            .event-overview-btn {
                .hightxt_btn {
                    .highlgt-btn-custom {
                        &:extend(.button);
                        &:focus, &:hover, &:active {
                            &:extend(.button:hover,.button:focus,.button:active);
                        }
                        .highlgt-btn-icon-padding {
                            .hide();
                        }
                        .event-overview-btn-text-padding {
                            padding:0;
                            text-align:center !important; // override !important declaration
                            @media (max-width:768px) {
                                display:block !important; // override !important declaration
                            }
                            .highlgt-btn-title {
                                width:100%;
                                text-align:center;
                                text-transform:none;
                                font-weight:700;
                                font-size: @font-size-base + 4;
                            }
                        }
                    }
                    @media (max-width:768px) {
                        margin-bottom:0;
                    }
                }
            }
        }
        @media (max-width:768px) {
            margin-top:0 !important; // override !important declaration
        }
    }
}

/* --->>> CTA - Link - Custom Reverse <<<--- */

.confbtn {
	.quicklink {
        .highlightText {
            .content-faq1 {
                .event-overview-btn {
                    .hightxt_btn {
                        .highlgt-btn-custom {
                            &:extend(.button);
                            background: none;
    						border: 1px solid @color-gray-base !important;
                            &:focus, &:hover, &:active {
                                &:extend(.button:hover,.button:focus,.button:active);
                                background:@color-gray-base !important;

                            }
                            .highlgt-btn-icon-padding {
                                .hide();
                            }
                            .event-overview-btn-text-padding {
                                padding:0;
                                text-align:center !important; // override !important declaration
                                @media (max-width:768px) {
                                    display:block !important; // override !important declaration
                                }
                                .highlgt-btn-title {
                                    width:100%;
                                    text-align:center;
                                    text-transform:none;
                                    font-weight:700;
                                    font-size: @font-size-base + 4;
                                    color: @color-gray-base;
                                }
                            }
                            &:hover {
								.highlgt-btn-title {
                                    color: #fff;
                                }
                            }
                        }
                        @media (max-width:768px) {
                            margin-bottom:0;
                        }
                    }
                }
            }
            @media (max-width:768px) {
                margin-top:0 !important; // override !important declaration
            }
        }
    }
}

/* --->>> CTA - Link, Desc <<<--- */
.highlightText {
    .row {
        padding:0;
        min-height:0;
        background-color:transparent;
    }
    ul, .list-styles {
        list-style:none;
        padding:0;
        margin:0;
        li {
            list-style:none;
            padding:0;
            margin:0 0 3px;
            line-height:1;
            border:1px solid darken(@color-white-base,8%) !important; // override !important declaration
            position:relative;
            z-index:0;
            .transition (all 300ms ease-out);
            a {
                padding:15px;
                display:block;
                text-decoration:none;
                font-weight:700 !important; // override !important declaration
                color: @color-gray-base !important; // override !important declaration
                .transition (all 200ms ease-out);
                &:hover,&:focus {
                    color: @color-white-base !important; // override !important declaration
                    background-color: @color-gray-base;
                    text-decoration:none !important; // override !important declaration
                    .transition (all 200ms ease-out);
                }
                &:visited,&:active {
                    color: @color-gray-base; // override !important declaration
                }
            }
            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:5px;
                height:0;
                background-color:  lighten(@color-gray-base,10%);
                z-index:2;
                .transition (all 300ms ease-out);
            }
            &:hover,&:focus {
                border-color: @color-gray-base !important; // override !important declaration
                .transition (all 300ms ease-out);
                &:after {
                    height:100%;
                    .transition (all 300ms ease-out);
                }
            }
        }
    }
}


/* --->>> Custom CTA - Home Page <<<--- */

.customcta {
    .highlightText {
        padding:0px;
		.informa-highlight-text {
            border: 1px solid #ccc;
            border-radius: 5px;
            background: #fff;
            padding: 10px;
            min-height: 160px;
            .transition (all 300ms ease-out);
            .content-title {
                background-color: transparent;
                border-bottom: 0px !important;
                text-align:center;
                padding:0px;
                small {
                    color: @color-gray-base;
                    font-weight: 600;
                }
            }
            .informa-highlight-text-title {
                .content-title img {
                    display:none;
                }
            }
            .informa-highlight-text-content-section {
                .visitorreg_txtin {
                    padding: 0px !important;
                    p {
                        margin-bottom: 0px;
                        text-align:center;
                    }
                }
            }	
            .visitorbtn {
                padding-top: 15px;
                padding-bottom: 0px;
                text-align: center;
                a.btnCustomFixedWidth {
                    margin-bottom: 0px;    
                    border-radius: 5px;
                    background-color: @color-primary;
                    &:hover {
                        	color:#fff !important;
                        }
                    &:focus {
                        width: 150px;
                        border-bottom: 0px;
                    }
                }
            }
    
            &:hover {
                background: @color-primary;
                border:1px solid #fff;
                .content-title {
                    small {
                        color:#fff;
                    }
                }
                .informa-highlight-text-content-section {
                        .visitorreg_txtin {
                            p {
                                color:#fff;
                            }
                        }
                        .visitorbtn {
                            a.btnCustomFixedWidth {
                                border:1px solid #fff;
                                color:#fff;
                            	background: @color-secondary;
                                &:hover {
                                    border:1px solid #fff;
                                    color:#fff !important;
                                	background: lighten(@color-primary, 10%);
                                }
                            }
                        }
    
                    }

            }
        }
	}
}
