/** Footer **/

/**     Footer Container Styles     **/

.footercontainer{
    margin: 0px 0 0;
    footer{
        margin:0;
        .footerNavbg{
            display:none;
            margin:0;
            padding: 10px 0 0 !important;
            background:@color-primary;
            .row{
				padding:0;
            }
            .informa-link-list-items{
                li{
                    a{
                        font-family:@font-primary;
                        &:hover{
                            color:@color-primary;
                        }
                        span{
                            color:@color-white-base;
                        }
                    }
                }
            }        
        }
        .aboutInfo{
            margin:0;
            background:#525A5C !important;
            @media (max-width:769px){
				padding:0 25px;
            }
            .row{
				padding:0 !important;
                .col-md-9 {  
                    padding-left:15px;
                    padding-top:30px;
                    padding-bottom:30px;
                    float: right;
                    text-align: right;
                }
                .col-md-3{
					float:left;
                }
                @media (max-width:1199px){
                    .col-md-9,.col-md-3{
						width:50%;
                    }
                }

            }
            padding:0;
            background: #323232;            
            .about-informa{
                p{
                    color: @color-white-base;
                    line-height: 28px !important;
                    font-size: 14px !important;
                    font-weight:normal !important;
                    margin:0 !important;                   
                    a{
						color: @color-white-base;                        
                        font-size: 14px;
                    }
                }
                .footerLogo{
                    margin-top:0;
                    padding:20px 0;
                    @media screen and (max-width: 769px){
						margin-bottom:0 !important;
                    }              
                }
            }
        }
        .footerBottombg{  
            margin: 0;    
            background-color:@black;
            @media (max-width:769px){
				padding:0 25px;
            }
            .row{
                padding:0;
                margin:0;
                .row{
                    padding:0;
                    margin:0;
                }
            }
			padding:0;   
            @media (max-width: 769px){
                padding:0 !important;
            }
            ul{
                padding-left: 0 !important;
                padding: 16px 0;
                li{
                    a{
                        font-family:@font-primary;
                        font-size:14px;
                        font-weight:normal;
                        color:#cccccc;
                        &:hover{
                            color:@color-gray-base;                            
                        }
                        span{
                            color:#cccccc;
                        }
                    }
                }
            }
        }
    }
}


.custom-footer {

    background:@color-gray-base;

    @media (max-width: 1599px){
		padding:40px 0px !important;
    }
    
    @media (min-width: 1600px){
        padding:40px 0px !important;
    }

	.titleBar {
		.content-highlight-title-anchor {
			color:@color-white-base !important;
            font-size:24px !important;
            text-align:left;
            line-height:28px !important;
            border-bottom:1px solid @color-white-base !important;
            padding-bottom:10px;
        }
    }
    a, .text p, ul li {
		color:@color-white-base;
    }

	.sociallinks {
		.socialIcon {
			ul {
                text-align:left;
				li {
					a {
						i {
							color: @color-white-base;
    						background: none;
                            line-height:inherit;
                            width:auto;
                            height:auto;
                            padding-right:10px;
                            &:hover {
								color: @color-white-base;
  								background: none;
                            }
                        }
                    }
                }
            }
        }
    }

}

