

// Search Component

.headerSearch{   
    margin:0 0 10px;
    .clearfix();
    .navbar-right {
    	margin-right: 0 !important;
    }
    .navbar-form{
        float:right !important;
        border: 1px solid #dddddd;
        width:auto;
        input[type="text"]{
			border:0 !important;
            text-transform:uppercase;
            color:@color-primary !important;
            box-shadow:none !important;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color:@color-primary !important;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color:@color-primary !important;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color:@color-primary !important;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color:@color-primary !important;
            }
        }
        .search-submit{
			background-color:transparent !important;
            border:0 !important;
            i{
				color:@color-primary !important;
                font-size:15px;
            }
        }        
    }
} 

/*= Calendar Component */


.calendar-component {

}

.eventDateContainer {
    .calenderIcon,
    .mapIcon {
        width:20px;
        text-align:center;
        line-height:1;
        &:before {
            font-family: @icon-font;
            font-style:normal;
            font-size:@base-font-size + 4;
            display:inline-block;
        }
    }
    .calendarDetails,.mapIconHeader {
        margin:0 0 5px;
    }
    .calendarDetails {
        .calenderIcon {
            background-image: none !important;
            margin:0 !important;
            width: auto !important;
            height: auto !important;
            &:before {
                content: '\f073';
                margin-top:3px;
                vertical-align:top;
            }
        }
        .topNavAddress {
            font-size: @base-font-size + 10;
            font-weight: 700;
            line-height: @base-font-size + 10;
            color: @base-color;
        }
    }
    .mapIconHeader {
        float:left;
        width:100%;
        .mapIcon {
            background-image: none !important;
            margin:0 !important;
            width: auto !important;
            height: auto !important;
            &:before {
                content: '\f041';
            }
        }
        .topNavAddress {
            font-size: @base-font-size + 6;
            font-weight: 500;
            line-height: @base-font-size + 6;
            color: @black;
        }
    }
}





.calendar-component {
    .clearfix();
}
.calendar-component,
.eventDateContainer {
    width:100%;
}
.eventDateContainer {
    float:left;
}

header .cover {
    display: none;
}
