/** CTA - Link **/

.quicklink{


    // Custom Classes Start
    .custom-utility &{
        margin:13px 0;   
        @media (max-width: 769px){
            margin: 0;   
        }
    }    
    // End



    .highlightText{      
        background:none;
        @media (max-width: 769px) and (min-width: 320px){
            margin-top: 0 !important;
        }
        .Default{
            width:100%;            
        }
        .event-overview-btn{
            margin:0;
            font-size:0;



            // Custom Classes Start
            .align-button-right &,
            .align-buttons-right &{
                text-align:right;
            }
            .align-button-center &,
            .align-buttons-center &{
                text-align:center;
            }
            .custom-utility &{
                 @media (max-width: 769px){
                    .event-overview-btn-col{
                        margin:0 2px 0 0 !important;
                    }
                }
            }
            // End



            .event-overview-btn-col{
                padding: 0 !important;
                margin: 0 0 0 5px;                
                float:none;
                font-size:15px;
                display:inline-block;
                width: auto;
                &:first-child{
                    margin:0;
                }                
                a{
                    .btn-default();

                    // Custom Classes Start
                    .cta-link-large &{
                        //.btn-lg();                        
                    }

                    // Light Green Button class

                    .btn-light-green &{     
                        padding:0px !important;
                        background: @color-secondary;    
                        &:hover{
                            background: @color-primary; 
                            border:0px;
                        }
                        .event-overview-btn-text-padding{                            
                            padding:8px 30px !important;   
                            background:@color-secondary;    
                            .border-radius(5px);
                            .transition(300ms all ease);
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                            }
                        }
                    }

                    // Gray Button class

                    .btn-gray &{     
                        padding:0px !important;
                        background: @color-gray;    
                        &:hover{
                            background: @color-secondary;    
                        }
                        .event-overview-btn-text-padding{                            
                            padding:8px 30px !important;   
                            background: @color-gray;    
                            .border-radius(5px);
                            .transition(300ms all ease);
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                            }
                        }
                    }


                    // White Button class for Dark Green/Gray BG

                    .dark-green-strip &, .dark-gray-strip &{     
                        padding:0px !important;
                        background: @color-white;    
                        color:@color-primary !important;
                        &:hover{
                            background: @color-secondary;    
                        }
                        .event-overview-btn-text-padding{                            
                            padding:8px 30px !important;   
                            background: @color-white;    

                            color:@color-primary !important;
                            .border-radius(5px);
                            .transition(300ms all ease);
                            span {
								color:@color-primary !important; 
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important; 
                                }
                            }
                        }
                    }


                    // White Button class for Light green and individual class

                    .light-green-strip &, .btn-white &{     
                        padding:0px !important;
                        background: @color-white;    
                        color:@color-secondary !important;
                        &:hover{
                            background: @color-primary;    
                        }
                        .event-overview-btn-text-padding{                            
                            padding:8px 30px !important;   
                            background: @color-white;    
                            color:@color-secondary !important;
                            .border-radius(5px);
                            .transition(300ms all ease);
                            span {
								color:@color-secondary !important; 
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important; 
                                }
                            }
                        }
                    }



                    // Button with Dark Green border class

                    .btn-green-border &{     
                        padding:0px !important;
                        background: none;
                        border:1px solid @color-primary !important;
                        color:@color-primary !important;
                        &:hover{
                            background: @color-primary; 
                            border:1px solid @color-primary !important;
                        }
                        .event-overview-btn-text-padding{                            
                            padding:8px 30px !important;   
                            background: none;    
                            color:@color-primary;
                            .border-radius(5px);
                            .transition(300ms all ease);
							span {
								color:@color-primary !important; 
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important; 
                                }
                            }
                        }
                    }


                    // Button with Light Green border class

                    .btn-light-green-border &{     
                        padding:0px !important;
                        background: none;
                        border:1px solid @color-secondary !important;
                        color:@color-secondary !important;
                        &:hover{
                            background: @color-secondary; 
                            border:1px solid @color-secondary !important;
                        }
                        .event-overview-btn-text-padding{                            
                            padding:8px 30px !important;   
                            background: none;    
                            color:@color-secondary;
                            .border-radius(5px);
                            .transition(300ms all ease);
							span {
								color:@color-secondary !important; 
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important; 
                                }
                            }
                        }
                    }


                    // Button with Gray border class

                    .btn-gray-border &{     
                        padding:0px !important;
                        background: none;
                        border:1px solid @color-gray !important;
                        color:@color-gray !important;
                        &:hover{
                            background: @color-gray; 
                            border:1px solid @color-gray !important;
                        }
                        .event-overview-btn-text-padding{                            
                            padding:8px 30px !important;   
                            background: none;    
                            color: @color-gray;
                            .border-radius(5px);
                            .transition(300ms all ease);
							span {
								color: @color-gray !important; 
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important; 
                                }
                            }
                        }
                    }





                    .custom-utility &{
                        @media (max-width: 769px){
                            background:#008c8b;
                            padding: 28px 10px !important;
                            font-size:14px;
                            line-height:14px;
                            .border-radius(0);
                            &:hover{
                                background:@color-secondary;
                            }
                            .event-overview-btn-text-padding{
                                background:none !important;
                                padding:0 !important;
                                span{
                                    font-size:14px !important;
                                    line-height:14px !important;
                                }
                            }
                        }
                    }
                    // End



                    .event-overview-btn-text-padding{                                   
                        padding-left:0;
                        text-align:center !important;                       
                        @media screen and (max-width: 900px) and (min-width: 320px){
                            display:block !important;
                        }


                         // Custom Classes Start
                        .blue-strip .cta-link-large &{
                            padding:16px 40px !important;
                            .border-radius(28px);
                        }
                        // End


                        span{
                            .font(18px,18px,bold,@font-primary,@color-white);                            
                            width:auto !important;                                                        
                            text-align:center;
                                text-transform: none;



                            // Custom Classes Start
                            .cta-link-large &{
                                .font(21px,21px,bold,@font-primary,@color-white);
                            }
                            // End

                        }
                            @media screen and (max-width: 900px) and (min-width: 320px){
                                height:auto !important;
                            }
                    }
                    .highlgt-btn-icon-padding{
                        display:none;
                    }                    
                    &:hover{
                        background:@color-secondary;
                        border:0 !important;
                        .transition(all ease 300ms);                        
                    }
                }
            }
        }
    }
}

.btn-full-width .quicklink .highlightText .event-overview-btn .event-overview-btn-col, .btn-full-width .quicklink .highlightText .event-overview-btn .event-overview-btn-col a {
    width: 100%;
}

