/** Title Bar **/

.titleBar{        
    padding:0;
    @media (max-width:769px){
		padding:0;
    }
    overflow:hidden;    
	margin:0;
    .column-control &{
		margin:0px 0px 30px 0;
    }
    .informa-title-bar{
		background:none;         
        .font(40px,44px,bold,@font-primary,@color-primary);
        .dark-green-strip &, .dark-gray-strip &{
			.font(40px,44px,bold,@font-primary,@color-white);
        }

        border-bottom:0 !important;
        margin:0;
        padding:0;
        padding-top:0 !important;
		font-weight:bold;             
        display:block;
        position:relative;
        text-align:left;
        &:before{

        }        

        &:after{
			
        }


        // Custom class start
        .align-title-right &{
			text-align:right;
			&:before{

            }

            &:after{

            }
			@media (max-width:769px){
                font-size:40px !important;
                line-height:50px !important;
                &:before{               
                    letter-spacing: 3px;       
                    padding:0;
                    .font(5px,5px,normal,fontawesome,@color-secondary);               
                    left:100%;
                }
                &:after{
                    height:5px;               
                    left:calc(~'100% + 26px') !important;              
                }
            }            
        }
		// End 





        @media (max-width:769px){
            font-size:28px !important;
            line-height:32px !important;            
            &:before{
                
            }    

            &:after{
               
            }
        }
    }
    .content-highlight-title-anchor{
    	background:none;         
        .font(26px,32px,bold,@font-primary,@color-secondary);

         // Custom class start
        .dark-green-strip &, .dark-gray-strip &{
			.font(26px,32px,bold,@font-primary,@color-white);
        }        
        // End

        border-bottom:0 !important;
        margin:0;
        padding:0;
        padding-top:0 !important;
		font-weight:bold;             
        display:block;
        position:relative;
        text-align:left;
        &:before{

                     
        }

        &:after{
           
        }
        @media (max-width:769px){
            font-size:20px !important;
            line-height:24px !important;
            &:before{               
                letter-spacing: 3px;       
                padding:0;
                .font(5px,5px,normal,fontawesome,@color-secondary);               
                left:100%;
            }
            &:after{
                height:5px;               
                left:calc(~'100% + 26px') !important;              
            }
        }
    }

    // Custom class start
    .align-title-center &{
        text-align:center;
        .informa-title-bar,.content-highlight-title-anchor{
            display:inline-block;
            &:before{                

            }
            &:after{

            }                       
        }
    }
    // End
}

//IE EDGE FIX
@media (max-width:769px){
    @supports (-ms-ime-align:auto) {
        .titleBar .informa-title-bar:before,
        .content-highlight-title-anchor:before{
            width:23px !important;
        }        
    }
}







/** Title Bar - Light Green Title **/

.title-light-green {
	.titleBar{        
		padding:0;
		@media (max-width:769px){
			padding:0;
		}
		overflow:hidden;    
		margin:0;
		.column-control &{

		}
		.informa-title-bar{
			background:none;         
			.font(40px,44px,bold,@font-secondary,@color-secondary);

			 // Custom class start

			&:before{

			}        

			&:after{

			}

		}
        .content-highlight-title-anchor{
            background:none;         
            .font(30px,34px,bold,@font-primary,@color-secondary);
        }

	}

}

/** Title Bar - Gray Title **/

.title-gray {
    .titleBar{        
        padding:0;
        @media (max-width:769px){
            padding:0;
        }
        overflow:hidden;    
        margin:0;
        .column-control &{
    
        }
        .informa-title-bar{
            background:none;         
            .font(40px,44px,bold,@font-primary,@color-gray);
    
             // Custom class start
            
            &:before{
    
            }        
    
            &:after{
                
            }
            
        }
        .content-highlight-title-anchor{
                background:none;         
                .font(30px,34px,bold,@font-primary,@color-gray);
            }
        
    }
    .text {
		.hdr_main_title {
            color: @color-gray-base !important;
        }
    
        .hdr_sub_title {
            color: @color-gray-base !important;
        }
    }
}



/** Title Bar - White Title **/

.title-white {
    .titleBar{        
        padding:0;
        @media (max-width:769px){
            padding:0;
        }
        overflow:hidden;    
        margin:0;
        .column-control &{
            
        }
        .informa-title-bar{
            background:none;         
            .font(40px,44px,bold,@font-primary,@color-white);
    
             // Custom class start
            
            &:before{
    
            }        
    
            &:after{
                
            }
            
        }
        .content-highlight-title-anchor{
                background:none;         
                .font(30px,34px,bold,@font-primary,@color-white);
            }
        
    }

    .text {
		.hdr_main_title {
            color: @color-white !important;
        }
    
        .hdr_sub_title {
            color: @color-white !important;
        }
    }
}


/** Title Bar - Center Alignment Title **/

.title-center {
    .titleBar{        
        padding:0;
        @media (max-width:769px){
            padding:0;
        }
        overflow:hidden;    
        margin:0;
        .column-control &{
    
        }
        .informa-title-bar{
            background:none; 
            text-align:center !important;
            padding-bottom:20px;
    
             // Custom class start
            
            &:before{
    
            }        
    
            &:after{
                
            }
            
        }
        .content-highlight-title-anchor{
            background:none;
            text-align: center;
         }
        
    }
	.text {
		.hdr_main_title {
            text-align:center !important;
        }
    
        .hdr_sub_title {
            text-align:center !important;
        }
    }

}


.ctablock .titleBar .informa-title-bar {
    background: none;
    font-size: 32px !important;
    line-height: 42px !important;
    color: @color-gray !important;
    text-align: center;
    padding: 0px 25%;
    @media (max-width:990px){
		padding:0;
    }
}


/* Custom Title bar - H1 Tag */

.text {

	h1.hdr_main_title  {
        display: block;
        position: relative;
        font-size: 40px !important;
        line-height: 44px !important;
        font-weight: bold !important;
        color: @color-primary !important;
        background: none;
        margin: 0px;
        padding: 0px;
        border-bottom: 0px !important;
    }
    
    
    h2.hdr_sub_title  {
        display: block;
        position: relative;
        font-size: 26px !important;
        line-height: 32px !important;
        font-weight: bold !important;
        font-family: Niramit, sans-serif !important;
        color: @color-secondary !important;
        background: none;
        margin: 0px;
        padding: 0px;
        border-bottom: 0px !important;
    }

    .hdr_main_gray_title  {
        display: block;
        position: relative;
        font-size: 40px !important;
        line-height: 44px !important;
        font-weight: bold !important;
        color: @color-gray !important;
        background: none;
        margin: 0px;
        padding: 0px;
        border-bottom: 0px !important;
    }

    .hdr_sub_gray_title  {
        display: block;
        position: relative;
        font-size: 26px !important;
        line-height: 32px !important;
        font-weight: bold !important;
        font-family: Niramit, sans-serif !important;
        color: @color-gray !important;
        background: none;
        margin: 0px;
        padding: 0px;
        border-bottom: 0px !important;
    }
}






