/**     Top Navigation Styles     **/

.top-nav{  

    .informa-header-menu{       
        .navbar{
            min-height:0;
            background:none; 
            padding:0;
            margin:0;
            .container{
                position:relative;
                width:100%;
                .navbar-element, 
                #navbar { 
                    background-color:transparent !important;                    
                    .navbar-nav{
                        background:none;
                        width:100%;
                        padding:0;
                        font-size:0;    
                        text-align:right;
                        >li{
                            border-left: none;
                            display:inline-block;
                            float:none;
                            margin:0;                            
                            a{
                                height:auto;
                                padding:15px !important;
                                margin-right:0px;
                                width:auto;                                
                                .transition (background 300ms ease-out);
                                background-color:transparent !important;
                                position:relative;
                                small{                                          
                                    display: block;                                   
                                    width:auto;
                                    height:auto;
                                	text-align:left;
                                	.font(18px,18px,600,@font-primary,@color-gray-base);
                                    padding:0;     

                                    .navArrowRight{
                                        margin-top:0 !important;
                                        height:20px;
                                    	width:20px;
                                    	position:absolute;
                                        top:50%;
                                    	display:block !important;
                                        background:none !important;
                                        left:0;
                                    	display:none;
                                    	.transform(translateY(-50%));
                                        &:before{
                                        	/*content:'';
                                            display:block;
                                            top: 0%;                                            
                                            width: 2px;
                                        	height:20px;
                                            left: 50%;
                                        	.transform(translateX(-50%));
                                            position: absolute;
                                            .transition(300ms ease all);
                                            background: @color-secondary; */                                        
                                        }
                                        &:after{
                                        	/* content:'';
                                        	display:block;
                                            left: 0;                                            
                                            height: 2px;
                                        	width:20px;
                                            top: 50%;
                                        	.transform(translateY(-50%));
                                    		position: absolute;
                                            .transition(300ms ease all);
                                            background: @color-secondary;  */                                        
                                        }  
                                    }
                                }    
                        	}
                            &.active,&:hover,&:visited,&:focus,&.open{                            
                                > a{
                                	background-color:@color-secondary !important;
                                    >small{
                                        color:@color-white-base !important;
                                        .navArrowRight{
                                        	&:before,&:after{
                                            	.transform(rotate(90deg));
                                        	}
                                            &:after{
    											opacity:0;
                                            }
                                        }
                                    }                                   
                                }
                            }
                            &.navRegisterbg{
                                float:right;
                                background:none !important;
                            	padding-top: 8px;
                            	@media (min-width:991px) {
                            		padding-left:15px;
                            	}
                                a{
                                    font-family: Niramit, sans-serif;
                                    font-size: 18px !important;
                                    line-height: 18px !important;
                                    font-weight: 600 !important;
                                	color: @color-secondary; 
                                    background: none;
                                	border: 1px solid @color-secondary; 
                                	border-radius: 20px;
    								padding: 6px 15px !important;
                                    display:block;  
                                	cursor:pointer;

                                    @media (max-width: 990px){
                                        padding: 6px !important;
                                    	padding-left:50px !important;
                                    	border:0px;
                                    	border-radius:0px;
                                    } 
                                    .transition (all 300ms ease-out);
                                    &:hover{
                                        background:@color-secondary !important;
                                        .transition (all 300ms ease-out);
                                        color:@color-white-base;

                                    }
                                }

                            }
                            &:hover{
                              @media (min-width: 1200px){
                                    > ul{
                                        display:block; 
                                        //animation-duration: 500ms;
                                        //animation-fill-mode: both;
                                    }
                                }
                            }
                            ul{                            
                            	background-color:@color-white-base !important;
                                width:300px !important;  
                                -webkit-animation-name: fadeIn;
                                animation-name: fadeIn;                                
                        		box-shadow:0px 3px 7px 0px rgba(0,0,0,0.33);
                        		padding:0;
                                li{
                            		border-left:0;                                    
                                    position:relative;
                                    display:block;
                                    margin:0;
                                    a{
										padding:0 !important;
                                        display:block;
                                		position:relative;
                                		background-color: transparent !important;
                                		border-bottom:1px solid #eee;
                                        &:after{
                                            /* content: '';
                                            height: 1px;
                                            width: 20px;
                                            background: @color-secondary;
                                            position: absolute;
                                            top: 50%;
                                            left: 15px; */

                                        }
                                        small{
                                    		padding:15px 30px !important;
                                            display:block;
                                            font-size:18px !important;
                                            color:@color-gray-base !important;    
                                    		position:relative;
                                            &:before{
                                                /* position: absolute;
                                                top: 50%;
                                                left: 27px;
                                                height: 1px;
                                                margin-top: -3px;
                                                width: 10px;
                                                background: @color-secondary;
                                                content: '';
                                                transform: rotate(45deg); */
                                            }
                                            &:after{
                                                /* position: absolute;
                                                top: 50%;
                                                left: 27px;
                                                height: 1px;
                                                margin-top: 3px;
                                                width: 10px;
                                                background: @color-secondary;
                                                content: '';
                                                transform: rotate(-45deg); */
                                            }
                                    	}
                            		}
                                    ul{
                                		li a span{
											color:@color-white-base;
    		                            }
                                    }
                                   &.active,&:hover,&:visited,&:focus,&.open{
                                        >a{    
                                            background-color:@color-secondary !important;                                            
                                            small{
                                                color:@color-white-base !important;
                                            }                                   
                                        }
                                    }
                                    &:hover{
                                        @media (min-width: 1200px){
                                            > ul{
                                                display:block;
                                                top:0;
                                                left:100%;
                                                visibility:visible;
                                                .transition(300ms all ease-out);
                                            }
                                        }                                        
                                    }
                                   &:first-child{
                                        border-left:0;
                                        a{                                           
                                             small{                                                
                                                border-top:0;
                                             }
                                        }
                                    }                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 990px){

}

/**   Responsive Layouts   **/
@media (max-width: 990px){

    .navbar .container > .navbar-collapse {
        position: fixed;
        z-index: 50;
        bottom: 0px;
        top: 0px;
        right: -50%;
        width: 48%;
        white-space: nowrap;
        box-shadow: none;
        display: block;
        background-color: rgba(34, 34, 34, 0.91);
        margin: 0px;
        padding: 0px;
        border-top: 0px solid rgb(255, 255, 255);
        overflow: auto !important;
        &.active{
            width: 100%;
            transition: all 0.3s ease-out;
        }
    }
    .navbar-header{
        float:right;
        margin-right:15px;
        .navbar-toggle {            
            display: block;
            .icon-bar{
                background:@color-primary !important;
            }
        }
    }

    .top-nav{      
        margin-top:0;
        .informa-header-menu{       
            .navbar{
                .container{
                    position:relative;
                    .navbar-element, /* <<<--- replacement */
                    #navbar { /* <<<--- ID selector to be replaced */
                        background-color: rgba(34, 34, 34, 1) !important;
                        .navbar-nav{
                            width:85%;
                            padding:0;
                            background:none;
                            li{
                                display:block;
                                background-color:transparent !important;
                                float:none;

                                border-bottom:1px solid #dddddd;
                                a{
									line-height:20px !important;
                                    padding:20px 30px 20px 50px !important;
                                    small{
                                        line-height:20px !important;
                                        color:@color-white-base !important;
                                        span{
											left:15px !important;
                                            color:@color-white-base !important;
                                        }
                                    }                                    
                                }
                                ul{
                                    position: static;
                                    float: none;
                                    width:100% !important;
                                    padding:0;

                                    li{
                                        padding:0;
                                        border-bottom: 0 !important;
                                        background-color:transparent !important;
                                        &:hover{
                                            background-color: transparent !important;
                                        }
                                        a{
                                            border-bottom: 1px solid @color-gray-light !important;
                                            small{
                                                line-height:20px !important;
                                                padding:15px 30px 15px 50px !important;
                                                color:@color-gray !important;
                                            }       
                                        }
                                    }
                                }
                                &.navRegisterbg{
                                    width:100%;
                                    float:none;
                                    border-bottom:0px;
                                    padding-top:0px;


                                    a {
										padding:20px 30px 20px 50px !important;
                                    }
                                }
                            }
                            .mainSecondaryNav{
                                        display:none;
                            }                            
                        }
                        .navbar-header{
                            background:none !important;
                        }
                    }
                    position: static;
                    .trig-search{
                        display:none !important;
                    } 
                    .navbar-inverse{
                        background:none !important;
                    }
                }
            }
        }
    }

}



@media (min-width: 991px) {

.top-nav-container {
	margin-top:30px;
    .col-md-3 {
        width: 85%;
    }
    .col-md-9 {
        width: 15%;
    }
}

}
