.youtube-video {
    [class*='strip'] & {
        width:75%;
        margin:0 auto;
        @media (max-width:768px) {
            width:100%;
        }
    }
    .media-body{
        .media-heading{
            border-bottom: 0;
			background:transparent;
            color:@color-black-base;
            font-family:@font-family-base;
            line-height:@font-size-base + 2;
            font-size: @font-size-base;
            font-weight:500;
            padding:10px 0 !important;
        }
    }
    .videoHolder {
        min-height: 165px !important;
        @media (max-width:991px) {
            min-height: 130px !important;
        }
        @media (max-width:768px) {
            min-height: 350px !important;
        }
        @media (max-width:480px) {
            min-height: 250px !important;
        }
        @media (max-width:360px) {
            min-height: 200px !important;
        }
        border:0;
        position:relative;
        &:after {
                content: '\f16a';
                font-family: @font-icon;
                font-size: @font-size-base + 24;
                position: absolute;
                z-index: 9;
                color: @color-gray-light;
                left: 40%;
                top: 30%;
                @media (max-width:769px) {
                    top:50%;
                	left:50%;
                	margin-left:-20px;
                	margin-top:-40px;
                }
        }
    }
    .playTab {
        display:none;
    }
    .poster {
        @media (min-width:320px) and (max-width:769px) {
            height:100% !important;
            max-height:100%;
            max-width:100% !important;
        }
    }
    .mediacomponent1 {
        @media (max-width:1024px) {
            padding:0 15px !important;
        }
    }
}

.video-list{ //CUSTOM CLASS
    .youtube-video{
        .media-body{
            .media-heading{
                min-height: 84px;
            }
        }
    }

}