/**     Sponsor Container Styles     **/

.sponsor-container{   
    padding:0 0 60px;
    .img-gallery{
        padding:20px 0 0;              
        background:none !important;
        text-align:center;
        h3{
            border: 0;
            color: @base-color !important;
            font-size: @heading-2;
            font-weight: 700;
            margin-bottom: 20px;
            padding-bottom: 30px;
            line-height: @heading-2;
            position: relative !important;
            text-align: center;
            font-family:@primary-font;
            &:after{
                background: @base-color !important;
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                width: 80px;
            }
        }
    }
    .home-page-carousel{                     
        .sponsorsandpartners{
            text-align:center;
            padding:0;
            margin:0;
            &:after{
				clear:both;
                display:table;
                content:'';
            }
            li{
                display:inline-block !important;
                max-width:230px !important;
                width:100% !important;
                float: none;
                vertical-align: middle;
                .thumbnail{
                    height:auto !important;
                    .sponsorsImgItem{
						min-height:125px;
                        padding:0 10px;
                        margin:0 0 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
							flex-direction:column;
                            min-height:0;
                            height:125px;
                        }
                        img{
							position:static;
                            transform:none;   
                            max-width:250px;
                            max-height:150px;
                            width:auto;
                            height:auto;
                            image-rendering: -webkit-optimize-contrast;
                        }
                    }
                    .gallery-img-ribbon-title{
                        position:static;
                        h4{
                            position:relative;
                            padding:10px;
                            font-size:15px;
                            font-weight:normal !important;
                            line-height:20px;                            
                            background:none !important;                            
                            border-bottom:none !important;
                            color:@black;
                            .border-radius(5px);
                            .transition(0.5s);
                            &:before {
                                background: lighten(@base-color,60%);
                                top: 0;
                                content: "";
                                display: block;
                                height: 1px;
                                left:50%;
                                transform: translateX(-50%);
                                position: absolute;
                                width: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 769px){      
    .sponsor-container .img-gallery h3 {
        font-size: 30px !important;
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:0 !important;
        padding-right:0 !important;
    }
}