// Informa top bar
.informa {
  &,
  .dropdown button {
    background-color: @informa-top-bar-bg;
    color: @informa-top-bar-color;
    font-size: @informa-top-bar-font-size;
  }
}

// Font family resets
body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  color: @font-color-base;
  line-height: floor((@font-size-base * 1.42857143));
}

p,
.nav,
.text {
  font-family: @font-family-base;
}
.text {
  font-size: @font-size-base;
  color: @font-color-base;
}

// Links
a {
  .link-base(@link-color);
}

// Headings
h1 {
  .h1(@headings-color);
}
h2 {
  .h2(@headings-color);
}
h3 {
  .h3(@headings-color);
}
h4 {
  .h4(@headings-color);
}
h5 {
  .h5(@headings-color);
}
h6 {
  .h6(@headings-color);
}

// Backgrounds
.bg-primary {
  background-color: @color-primary;
}
.bg-secondary {
  background-color: @color-secondary;
}
.bg-white {
  background-color: #ffffff;
}
.bg-dark-transparent {
  background-color: rgba(0, 0, 0, .5);
}
.bg-gray-light {
  background-color: lighten(@color-gray-base, 55%);
}
.bg-img {
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  &.bg-img--home-header1 {
    display: none;
	@media (min-width: 770px) {
      display: block;
      background-image: url("/content/dam/Informa/npe-west/en/images/ew19-bw-home-hero.jpg");
      padding-top: 30px;
    }
  }
  &.bg-img--home-header2 {
    background-image: url("/content/dam/Informa/npe-west/en/images/ew19-bw-home-hero-overlay.png");
    padding-top: 180px;
    background-size: 120% auto;
    background-position: 20% 0;
    @media (min-width: 992px) {
      padding-top: 225px;
      background-position: -10% 0;
      background-size: 80% auto;
    }
    @media (min-width: 1200px) {
      background-position: -5% 0;
      background-size: 75% auto;
    }
    @media (min-width: 1500px) {
      padding-top: 275px;
      background-position: 0 0;
    }
    .column-control {
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 768px) {
        max-width: 750px;
      }
      @media (min-width: 992px) {
        max-width: 970px;
      }
      @media (min-width: 1200px) {
        max-width: 1170px;
      }
    }
    .text {
      font-size: (@font-size-base - 2);
      .wysiwyg--disclaimer {
        color: @color-secondary;
      }
    }
  }
  &.bg-img--home-section1 {
    background-image: url("/content/dam/Informa/npe-west/en/images/ew19-bw-home-bg-food.jpg");
  }
  &.bg-img--home-section2 {
    background-image: url("/content/dam/Informa/npe-west/en/images/ew19-home-box4.jpg");
    background-position: center;
    min-height: 400px;
  }
}
.bg-full-width {
  margin-left: -15px;
  margin-right: -15px;
  .bg-full-width {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Text
.text-primary {
  &,
  *:not(a) {
    color: @color-primary;
  }
}
.text-secondary {
  &,
  *:not(a) {
    color: @color-secondary;
  }
}
.text-white {
  &,
  *:not(a) {
    color: #ffffff;
  }
}

// Buttons
.btn-primary {
  .btn-base(@cta-link-color, @cta-link-bg);
  border: 0;
  &:hover,
  &:focus,
  &:active {
    border: 0 !important;
  }
  &:active:hover,
  &:focus,
  &:active:focus,
  &:active {
    width: auto;
  }
}
.btn-default {
  .btn-base(@cta-link-secondary-color, @cta-link-secondary-bg);
}

// Sitemap
#SiteMap {
  .mainBox {
    background-color: @navbar-bg;
  }
  ul li a {
    font-family: @navbar-font-family;
  }
}

// Banner
@media (max-width: 769px) and (min-width: 320px) {
  .bannerImage.section {
    margin-top: 0;
  }
}

// Panel groups
// @media (max-width: 767px) and (min-width: 320px) {
//   .panel-group .panel-heading {
//     color: inherit;
//     background-color: @color-secondary;
//     border: 1px solid #fff;
//   }
// }

// Line separator
hr {
  border-color: @color-secondary;
}

// Remove row margins
.row-custom-divider {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// GPT Ad styles
.gpt-ad {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gpt-ad--728x90 {
  width: 728px;
  height: 90px;
}
.gpt-ad--300x250 {
  width: 300px;
  height: 250px;
}
@media (max-width: 767px) {
  .gpt-ad--320x50-sm {
    width: 320px;
    height: 50px;
  }
}

.sidebar {
  margin-top: 20px;
}

.pl--1 {
  padding-left: 10px;
}
.pr--1 {
  padding-right: 10px;
}
.px--1 {
  padding-left: 10px;
  padding-right: 10px;
}
.pl--2 {
  padding-left: 20px;
}
.pr--2 {
  padding-right: 20px;
}
.px--2 {
  padding-left: 20px;
  padding-right: 20px;
}
.pl--3 {
  padding-left: 40px;
}
.pr--3 {
  padding-right: 40px;
}
.px--3 {
  padding-left: 40px;
  padding-right: 40px;
}
