// Text
.text-base() {
  color: @font-color-base;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @font-line-height-base;
}

// Text Alignments
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }


// Links
.link-base(@color) {
  color: @color;
  &:hover,
  &:focus,
  &:active {
    color: darken(@color, 8%);
  }
}

// Buttons
.btn-base(@color, @bg) {
  color: @color !important;
  background-color: @bg;
  &:hover,
  &:focus,
  &:active {
    color: @color !important;
    background-color: darken(@bg, 8%) !important;
  }
}

// Headings
.h1(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h1-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h2(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h2-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h3(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h3-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h4(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h4-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h5(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h5-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h6(@headings-color) {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h6-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}

// Background images
.bg-img(@bg-img-url) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(@bg-img-url);
}
// Image Alignments
.img-center {
  .cq-dd-image {
    margin: 0 auto !important;
  }
}

// Alignments
.block {
  display: block;

  &-center {
    margin: 0 auto !important;
  }
}

.border {
  border: 1px solid @color-gray-light;
  &-primary {
    border: 1px solid @color-primary!important;
  }
  &-secondary {
    border: 1px solid @color-secondary!important;
  }
  &-nexty {
    border: 1px solid @color-nexty!important;
  }
  &-primary-muted {
    border: 1px solid @color-primary-muted!important;
  }
  &-secondary-muted {
    border: 1px solid @color-secondary-muted!important;
  }
}

.section.sidebar {
  margin-left: 0px;
  margin-right: 0px;
  @media (min-width: 768px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}
