// Header
.headerVerticalHold {
  padding-top: 15px;
  padding-bottom: 15px;
}
header .cover div.right .eventDateContainer {
  .calenderIcon,
  .mapIcon {
    display: none;
  }
}
.topNavAddress {
  padding-left: 0 !important;
}
header .cover div.right .eventDateContainer p.calendarDetails {
  font-size: @font-size-base !important;
  font-weight: @headings-font-weight;
}

// Utility Navbar
.utility-navbar ul {
  float: right;
  @media (max-width: 786px) {
    float: none;
    margin-right: 15px!important;
  }
}
.utility-navbar ul li {
  float: left;
  text-align: center;
  list-style: none!important;
  color: @color-gray-light;
  margin: 5px 0px;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  @media (max-width: 430px) {
    margin: 0px 0px 10px 0px;
  }
}
.utility-navbar ul li a {
  color: @color-gray-light;
  font-size: (@font-size-base - 4)!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
  &:hover,
  &:focus,
  &:active {
    color: @color-primary !important;
    text-decoration: none!important;
  }
  @media (max-width: 430px) {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  @media (min-width: 768px) {
      padding-top: 5px!important;
      padding-bottom: 5px!important;
  }
}
.utility-navbar ul li + li {
  border-left: 1px solid @color-gray-light;
    @media (min-width: 768px) {
      margin: 5px 0px;
      padding-top: 0px!important;
      padding-bottom: 0px!important;
    }
  }
.utility-navbar ul li + li:last-child {
  border-left: none;
  a {
    color: @navbar-color;
    background-color: @color-primary;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none!important;
      color: @color-primary !important;
      background-color: @navbar-color !important;
  }
}
  @media (min-width: 768px) {
    margin: 5px 0px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-right: 15px!important;
  }
}

// Sponsor Opps
.opp-level--1,
.opp-level--2,
.opp-level--3 {
  color: #000!important;
}
.opp-level--1 {
  background-color: #ffffff!important;
}
.opp-level--2 {
  background-color: #d4af37!important;
}
.opp-level--3 {
  background-color: #c0c0c0!important;
}
.opp-level--4 {
  background-color: #444444!important;
}

// Footer full-width
.footerNavbg {
  .row {
    > .col-md-4,
    > .col-md-8 {
      @media (min-width: 992px) {
        float: none;
        width: 100%;
      }
    }
  }
}
.footerNavbg {
  color: @footer-color;
  background-color: @footer-bg;
}

// Social links on the left
.socialIcon {
  float: left !important;
}

.wysiwyg--disclaimer {
  color: @color-secondary;
}

.sidebar--box > div > div {
  border: 1px solid @color-secondary;
  overflow: hidden;
}
.sidebar--ad > div > div > div {
  margin: -20px -15px;
}
