// Control which components are shown in the aem-components page
// If a component has been styled, set the value to `block`
// The default value for all components is `none`
@blacklist-header: visible;
@blacklist-footer: visible;
@blacklist-top-nav: visible;
@blacklist-sub-nav: visible;
@blacklist-breadcrumb: visible;
@blacklist-column-control: visible;
@blacklist-title-bar: visible;
@blacklist-text: visible;
@blacklist-quicklinks: visible;
@blacklist-sociallinks: visible;
@blacklist-image: visible;
