@black: black;
@red: red;
@green: green;
@blue: blue;
@white: white;
@transparent: transparent;

@yellow: #ef9e41;


@default-grey: #f7f7f7;
@grey: #CCCCCC;
@gray: #58595B;
@grey-dark: #333333;
@grey-light: #f9f9f9;


// Social
@facebook-blue: #395799;
@linkedin-blue: #0072b8;
@twitter-blue: #34cbf8;


// // Color Variables
// @black: #333333;
// @white: #FFFFFF;
// @marroon: #890e29;
// @red: #da1e48;
// @dark-red: #971532;
// @blue: #006ed5;


// TODO Variables
@todo-color: red;
@todo-font: @primary-font;
@todo-size: 16px;
@todo-weight: 400;


// Brand Variables
@primary-color: @red;
@secondary-color: @green;
@tertiary-color: @blue;
@quaternary-color: @yellow;
