@default-title-line-height: 1.5;
@default-text-line-height: (20 / 14);	// 20px is the default body line height / 14px is the default body font size


// titles

@title-color: @black;
@title-weight: 700;

@h1-color: @title-color;
@h1-size: 40px;
@h1-weight: @title-weight;
@h1-line-height: @default-title-line-height;

@h2-color: @title-color;
@h2-size: 26px;
@h2-weight: @title-weight;
@h2-line-height: @default-title-line-height;

@h3-color: @title-color;
@h3-size: 24px;
@h3-weight: @title-weight;
@h3-line-height: @default-title-line-height;

@h4-color: @title-color;
@h4-size: 22px;
@h4-weight: @title-weight;

@h5-color: @title-color;
@h5-size: 20px;
@h5-weight: @title-weight;

@h6-color: @title-color;
@h6-size: 18px;
@h6-weight: @title-weight;


// text

@text-color: @black;
@text-weight: 400;
@text-size: 14px;
@text-line-height: @default-text-line-height;

@dark-text-color: #373536;

@p-color: @text-color;
@p-size: @text-size;
@p-weight: @text-weight;
@p-line-height: @text-line-height;
@p-margin-bottom: (@text-size / @golden-ratio);


@a-size: @text-size;
@a-weight: @text-weight;
@a-color: @primary-color;
@a-hover-color: @primary-dark-color;

@i-color: inherit;

@bold-color: inherit;
@bold-size: @text-size;
@bold-weight: bold;

@strong-color: inherit;
@strong-size: @text-size;
@strong-weight: bold;
