.headerSearchResult {
    .pageSearchInforma {
        form {
            .searchBoxInforma {
            }
            .searchBtnInforma {
                &:extend(.button all);
                &:focus, &:hover {
                    background-color: transparent !important;
                }
            }
        }
    }
}