/*

File Name: _breadcrumbs.less
Description: Bread Crumbs component styles
Dependencies: _variables.less, _helpers.less, _mixins.less

*/

/* Local variables */

@breadcrumb-bg: @gray;
@breadcrumb-text-color: @white;
@breadcrumb-home-icon: '\f015';
@breadcrumb-delimiter-icon: '\f105';

.informaBreadcrumb {
    .container {
        nav {
            .informaRegBreadCrumb {
                margin: 15px 0 !important;
                .clearfix();
            }
        }
    }
    ul {
        margin-bottom:0;
        float:left;
        width:100%;
        overflow:hidden;
        background-color: @breadcrumb-bg;
        .border-radius(3px);
        li {
            float:left;
            padding:0;
        	.travel-breadcrumb {
                display:block;
                float:left;
                padding:6px 10px;
                font-size: @base-font-size;
                font-family: @primary-font;
                color: @breadcrumb-text-color;
            }
            .breadCrumbArrow {
                display:block;
                float:left;
                padding:5px 0;
                &:before {
                    content: @breadcrumb-delimiter-icon;
                    font-family: @icon-font;
                    font-size: 16px;
                    color: lighten(@breadcrumb-bg,20%);
                }
            }
            a {
                padding:5px 10px;
                position:relative;
                display:block;
                float:left;
                font-size: @base-font-size;
                font-family: @primary-font;
                color: @breadcrumb-text-color !important;
                &:focus,&:hover,&:visited,&:active {
                    text-decoration:none;
                }
            }
        }
    }
    .travel-divider {
        display:none;
    }
}





