.informaBreadcrumb {
    // when inside a column control with class = "strip-page-title"
    .strip-page-title & {
        .container {
            width:100%;
            display:table;
            overflow:hidden;
            nav {
                display:table-cell;
                vertical-align:middle;
                text-align:center;
                .informaRegBreadCrumb {
                    margin:0 !important;
                }
            }
        }
        ul {
            background-color: transparent;
            float:none;
            overflow: visible;
            .border-radius(0);
            li {
                float:none;
                .travel-breadcrumb {
                    font-size:@base-font-size + 21;
                    font-family: @primary-font;
                    font-weight:300;
                    line-height: @base-font-size + 21;
                    color: @black;
                }
                &:not(:last-child) {
                    display:none;
                }
            }
        }
        .breadCrumbArrow {
            display:none;
        }
    }
}