.slideshow {
    .image-gallery {
        h2 {
            font-family: @primary-font;
            font-size: @heading-4;
            font-weight: 700;
            line-height: @heading-4;
            margin:0 0 15px;
            padding:0;
        }
        .lightgallery {
            .display(flex);
            .flex-direction(row);
            .flex-wrap(wrap);
            .justify-content(flex-start);
            .slideCover {
                float:none !important;
                max-height:100%;
                .flex-shrink(1);
                .flex-basis(25%);
                @media (max-width:1199px) {
                    .flex-basis(33.333%);
                }
                @media (max-width:991px) {
                    .flex-basis(50%);
                }
                @media (max-width:769px) {
                    .flex-basis(100%);
                }
                img {
                    .border-radius(0);
                }
            }
        }
    }
}