.anchorLinks {
	.anchorLinkElement {
		.tab-collapse-nav-tabs-anchor {
			li {
                width: auto;
				padding: 5px;
					a {
						font-size: 18px;
                    	font-weight:600;
						color: @color-white-base;
						border-radius: 0px;
						padding: 15px;
						background-color: @color-secondary;
						height: auto;
						border: 2px solid @color-secondary !important;
                    	cursor:pointer;
                    	width: auto;

						&:focus, &:hover {
							background-color: @color-primary;
							border-color: transparent;
							color: @color-primary !important;
							cursor:pointer;
							border: 2px solid @color-primary !important;
							outline: none;
                        	span {
								color: @color-primary !important;
                        	}
						}

						span {
							height: auto;
                        	width: auto;
						}
					}

                &.active {
					a {
						background-color: #fff;
                        border-color: transparent;
                        color: @color-primary !important;
                        cursor: default;
                        border: 2px solid @color-primary !important;
                        outline: none;
                        padding:15px;
                        &:hover {
							@media (max-width: 767px) and (min-width: 320px) {

                            }
                        }
                    }
                }


// FAQ model in Gray color

                .faqmodel & {
					width: 100%;
                    float:none;
                    margin-bottom:10px;
                    a {
						width: 100%;
                        outline: none;
                        padding: 7px;
                        display:block;
                        border-width:1px !important;
                    }

                }


// FAQ model in Gray color


                .faqmodel-gray & {
					width: 100%;
                    float:none;
                    margin-bottom:10px;
                    a {
						width: 100%;
                        padding: 7px;
                        display:block;
						border-radius: 0px;
						background-color: @color-gray;
						border: 1px solid @color-gray !important;
                        &:focus, &:hover {
							background-color: transparent;
							border: 1px solid @color-gray !important;
                            color: @color-gray !important;
                            span {
								color: @color-gray !important;
                        	}
                        }
                    }

                    &.active {
                        a {
                            background-color: #fff;
                            border-color: transparent;
                            color: @color-gray !important;
                            border: 1px solid @color-gray !important;
                            &:hover {
                                @media (max-width: 767px) and (min-width: 320px) {

                                }
                            }
                        }
                    }

                }


// FAQ model in Light Gray color


                .faqmodel-light-gray & {
					width: 100%;
                    float:none;
                    margin-bottom:10px;
                    a {
						width: 100%;
                        padding: 7px;
                        display:block;
						border-radius: 0px;
						background-color: @color-gray-light;
						border: 1px solid @color-gray-light !important;
                        color: @color-gray !important;
                        &:focus, &:hover {
							background-color: transparent;
							border: 1px solid @color-gray-light !important;
                            color: @color-gray !important;
                            span {
								color: @color-gray !important;
                        	}
                        }
                    }

                    &.active {
                        a {
                            background-color: #fff;
                            border-color: transparent;
                            color: @color-gray !important;
                            border: 1px solid @color-gray !important;
                            &:hover {
                                @media (max-width: 767px) and (min-width: 320px) {

                                }
                            }
                        }
                    }

                }



// Speakers Tabs


                .speaker-tabs & {
					width: 50%;
                    @media (max-width: 767px){
						width:100%;
                    }
                    float:left;
                    margin-bottom:10px;
                    a {
						width: 100%;
                        padding: 7px;
                        display:block;
						border-radius: 15px;
						background-color: transparent;
						border: 1px solid @color-gray-light !important;
                        color: @color-gray !important;
                        font-size: 16px;
    					line-height: 22px;
                        &:focus, &:hover {
							background-color: @color-secondary !important;
                            border: 1px solid @color-secondary !important;
                            color: @white !important;
                            span {
								color: @white !important;
                        	}
                        }
                    }

                    &.active {
                        a {
                            background-color: @color-secondary;
                            border: 1px solid @color-secondary !important;
                            color: @white !important;
                            &:hover {
                                @media (max-width: 767px) and (min-width: 320px) {

                                }
                            }
                        }
                    }

                }

			}


		}

        .anchor-section-wrapper {
			padding-bottom:0px;

            .col-sm-12 {
				padding:0px;
            }
        }

		.row-divider-anchor {
			background-color: @color-white-base;
			margin-right: 0px;
			margin-left: 0px;
			border-bottom:1px solid @color-gray-light;
            margin-bottom: 15px;
            	.back-to-top {

                	margin-right:0px;

					a {
                        border-radius: 0px;
                        -webkit-border-radius: 0px;
                        -moz-border-radius: 0px;
                        background: @color-gray-base;
                        color: @color-white-base !important;
                        padding: 5px 15px;
                        font-size: 12px !important;
                        font-weight: 500;
                    	text-decoration:none;
                        text-transform: uppercase;
                        -webkit-transition: all 300ms ease-out !important;
                        -moz-transition: all 300ms ease-out !important;
                        -ms-transition: all 300ms ease-out !important;
                        -o-transition: all 300ms ease-out !important; // override !important declaration
                        &:hover,&:focus,&:active {
                            &:extend(.button:hover,.button:focus,.button:active);
                        }
                    	&:after {
							content:'\f077';
                        	font-family:fontawesome;

                    	}

                        img {
                            display:none;
                        }
				}
            }


		}
	}

	.tab-collapse-nav-container-anchor {
		background-color: #fff;
		color: @color-gray-base;
		padding: 0;
		margin-bottom: 65px;
		margin-top: 30px;
	}
}
