.informaBreadcrumb {
    margin-top:-30px;
    nav {
        > div {
            margin-top:0 !important;
            margin-bottom:0;
        }
        ul {
            margin-bottom:0;
            float:left;
            width:100%;
            border-radius:3px;
            overflow:hidden;
            background-color: darken(@color-white-base,5%);
            li {
                &:first-child {
                    a {
                        padding-left:15px;
                        padding-right:20px;
                        font-size:0;
                        //text-indent: -999;
                        position:relative;
                        &:before {
                            content:'\f015';
                            font-family: @font-icon;
                            font-size: @font-size-base;
                            position:absolute;
                            top:5px;
                            left:10px;
                            color: @color-blue-base;
                            z-index:3;
                        }
                    }
                }
                float:left;
                padding:0;
                .travel-breadcrumb {
                    display:block;
                    float:left;
                    padding:5px 10px;
                    font-size: @font-size-base - 2;
                }
                .breadCrumbArrow {
                    display:block;
                    float:left;
                    padding:5px 0;
                    &:before {
                        content:'\f105';
                        font-family: @font-icon;
                        font-size: @font-size-base;
                    }
                }
                a {
                    padding:5px 10px;
                    position:relative;
                    display:block;
                    float:left;
                    font-size: @font-size-base - 2;
                    color: @color-blue-base !important;
                    &:focus,&:hover,&:visited,&:active {
                        text-decoration:none;
                    }
                }
            }
        }
    }
    .travel-divider {
        .hide();
    }
}
