.footercontainer {
    footer {
        margin-top:0;
        > .row {
            padding: 0 15px !important;
        }
        .footerNavbg {
            padding:0 !important; // override !important declaration
            .hide();
        }
        .about-informa {
            padding:15px 0;
            > .row {
                padding-left:0;
            }
        }
        .footerLogo {
            margin-top:0;
            float:right;
            @media (max-width:768px) {
                float:left;
            }
            a {
                display:block;
            }
            img {
                max-width: 150px !important; // override !important declaration
            }
        }
        p {
            color: @color-white-base;
        }
    }
}