.container-form {
    background-color: transparent;
    > .container-fluid {
        padding:0;
    }
    .form-container {
        background-color:transparent;
        margin-left:0 !important;
        margin-right:0 !important;
        .forms-title {
            .h1();
            font-weight:700;
            padding:0 !important; // override !important declaration
            background-color: transparent;
            border-bottom:0;
            @media (max-width:768px) {
                padding-left:15px !important; // override !important declaration
                padding-right:15px !important; // override !important declaration
            }
        }
        /* --->>> 33% layout enabled <<<--- */
        &.form-error,
        &.form-error-resize {
            margin-left:-15px !important;
            margin-right:-15px !important;
        }
        /* --->>> 33% layout disabled <<<--- */
        .custom-form-row {
            background-color: transparent !important; // override !important declaration
            padding-bottom:0 !important;
        }
        .form-horizontal {
            padding-left:0;
            padding-right:0;
            form {
                padding:0 !important; // override !important declaration
                margin:0;
                > .section {
                    padding:0;
                    @media (max-width:768px) {
                        padding-left:15px !important; // override !important declaration
                        padding-right:15px !important; // override !important declaration
                    }
                }
                .form-group {
                    padding-left:15px !important;
                    padding-right:15px !important;
                    #subscription_ca_uk {
                        .preference-levle-checkBox-component {
                            padding-right:0 !important; // override !important declaration
                            select {
                                background-size:inherit !important; // override !important declaration
                                @media all and (min-width:320px) and (-ms-high-contrast: none), (-ms-high-contrast: active) { // IE11
                                    background:transparent !important;
                                }
                            }
                        }
                    }
                    select {
                        background-size:inherit !important; // override !important declaration
                        @media all and (min-width:320px) and (-ms-high-contrast: none), (-ms-high-contrast: active) { // IE11
                            background:transparent !important;
                        }
                    }
                    .col-md-3.col-sm-3.form-one-control-label.forms-title-color-fo {
                        @media (max-width:769px) {
                            //width:100% !important;
                            display:block;
                            padding:0;
                        }
                    }
                    .input-div {
                        @media (max-width:769px) {
                            //width:100% !important;
                            //display:block;
                            padding:0;
                        }
                    }
                    label {
                        padding-left:0;
                    }
                    &.has-error .help-block,
                    .help-block {
                        display: block;
                        width: 100%;
                        padding: 10px !important; // override !important declaration
                        background-color: @color-primary !important; // override !important declaration
                        background-image: none !important; // override !important declaration
                        color: @color-white-base !important; // override !important declaration
                        margin: 5px 0 10px !important; // override !important declaration
                        position:relative !important; // override !important declaration
                        left:0;
                        float:left !important; // override !important declaration
                        line-height:1;
                        font-size: @font-size-base - 2;
                        .transition (all 300ms ease-out);
                        &:before {
                            bottom: 100%;
                            left: 15px;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                        }
                        &:before {
                            border-color: transparent;
                            border-bottom-color: @color-primary;
                            border-width: 8px;
                        }
                    }
                }
            }
        }
        .submit.section {
            .form-group.submit-form-group {
                padding-left:0 !important; // override !important declaration
                padding-right:0 !important; // override !important declaration
                margin:0 !important; // override !important declaration
                input[type='submit'],
                input[type='reset'] {
                    height:auto !important; // override !important declaration
                    width:auto !important; // override !important declaration
                    max-width: 100%;
                    text-align: center;
                    min-width: 0 !important; // override !important declaration
                    float: none;
                    padding:15px 30px !important; // override !important declaration
                }
                input[type='submit'] {
                    .button() !important; // override !important declaration
                }
                input[type='reset'] {
                    .button-dark() !important; // override !important declaration
                }
                .custom-submit-btn-div {
                    @media (max-width: 480px) {
                        width:100%;
                    }
                    > div {
                        display:inline-block;
                        @media (max-width: 480px) {
                            display:block;
                        }
                        input[type='submit'],
                        input[type='reset'] {
                            margin-right:0;
                            @media (max-width: 480px) {
                                width:100% !important; // override !important declaration
                                margin-bottom:5px !important; // override !important declaration
                            }
                        }
                    }
                }
                > [class*="col-"] {
                    padding:0;
                }
            }
        }
        .subscription_privacy_statement {
            padding:0;
            margin: 30px 0;
            width:100%;
        }
    }
}

/* Override the below styles. A necessary evil. */
.col-xs-12.col-sm-9.col-md-9.col-lg-9 .container-form.section .form-container.form-error.form-error-resize .InformaBookStandForm div.text.section {
    padding-left:0 !important; // override !important declaration
    @media (min-width:320px) and (max-width:768px) {
        padding-left:15px !important; // override !important declaration
        padding-right:15px !important; // override !important declaration
    }
}
.col-xs-12.col-sm-9.col-md-9.col-lg-9 .container-form.section .form-container.form-error.form-error-resize .form-main-fo1 .text.section p {
    margin-left:0 !important; // override !important declaration
    @media (min-width: 1200px) {
        margin-left:0 !important; // override !important declaration
    }
    @media (max-width: 769px) {
        padding-left:0 !important; // override !important declaration
    }
}
@media (min-width: 1200px) {
	.col-xs-12.col-sm-3.col-md-3.col-lg-3 .container-form.section .form-container.form-error.form-error-resize .form-main-fo1 .text.section p {
    	margin-left: -15px !important; // override !important declaration
    }
}