/*

--->>> CTA - Link, Desc <<<---

----------Quick Links - Default -----------


*/


.highlightText {
    .row {
        padding:0;
        min-height:0;
        background-color:transparent;
    }
    ul, .list-styles {
        list-style:none;
        padding:0;
        margin:0;
        li {
            list-style:none;
            padding:0;
            margin:0 0 3px;
            line-height:1;
            border:1px solid darken(@color-white-base,8%) !important; // override !important declaration
            border-radius:5px;
            position:relative;
            z-index:0;
            .transition (all 300ms ease-out);
            a {
                padding:15px;
                display:block;
                text-decoration:none;
                font-weight:700 !important; // override !important declaration
                color: @color-gray-base !important; // override !important declaration
                .transition (all 200ms ease-out);
                &:hover,&:focus {
                    color: @color-white-base !important; // override !important declaration
                    background-color: @color-gray-base;
                    text-decoration:none !important; // override !important declaration
                    .transition (all 200ms ease-out);
                }
                &:visited,&:active {
                    color: @color-gray-base; // override !important declaration
                }
            }
            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:5px;
                height:0;
                background-color:  lighten(@color-gray-base,10%);
                z-index:2;
                .transition (all 300ms ease-out);
            }
            &:hover,&:focus {
                border-color: @color-gray-base !important; // override !important declaration
                .transition (all 300ms ease-out);
                &:after {
                    height:100%;
                    .transition (all 300ms ease-out);
                }
            }
        }
    }
}



/*

--->>> CTA - Link, Desc <<<---

----------Quick Links - Green -----------


*/


.quicklinks-green {

    .highlightText {
        ul, .list-styles {
            li {
                border:1px solid @color-primary !important; // override !important declaration
                a {
                    color: @color-primary !important; // override !important declaration
                    &:hover,&:focus {
                        color: @color-white-base !important; // override !important declaration
                        background-color: @color-primary;
                    }
                    &:visited,&:active {
                        color: @color-primary; // override !important declaration
                    }
                }
                &:after {
                    background-color:  lighten(@color-primary,5%);
                }
                &:hover,&:focus {
                    border-color: @color-primary !important; // override !important declaration
                }
            }
        }
    }

}



/*

--->>> CTA - Link, Desc <<<---

----------Quick Links - Light Green -----------


*/


.quicklinks-light-green {

    .highlightText {

        ul, .list-styles {

            li {

                border:1px solid @color-secondary !important; // override !important declaration

                a {

                    color: @color-secondary !important; // override !important declaration

                    &:hover,&:focus {
                        color: @color-white-base !important; // override !important declaration
                        background-color: @color-secondary;

                    }
                    &:visited,&:active {
                        color: @color-secondary; // override !important declaration
                    }
                }
                &:after {
                    background-color:  lighten(@color-secondary,10%);
                }
                &:hover,&:focus {
                    border-color: @color-secondary !important; // override !important declaration
                    &:after {

                    }
                }
            }
        }
    }

}





/* CTA - Link, Desc - Green Blocks */



.textblock-green {

    .highlightText {
        .row{
            margin:0;
        }
        background-color:transparent;
        .informa-highlight-text{
            padding:0;
            background:none;
            .informa-highlight-text-title {
                padding:0;
                overflow:hidden;
                @media (max-width:769px){
                    padding:0;
                }
                .content-title {
                    background-color: transparent;
                    border-bottom:0 !important;
                    padding:0;
                    margin:0 0 20px;
                    position:relative;
                    color:@color-secondary;
                    small {
                        padding:0;
                       .font(30px,34px,600,@font-primary,@color-secondary);
                    }
                    img {
                        display:none;
                    }
                    &:before{

                    }
                    &:after{

                    }
                    @media (max-width:769px){
                        font-size:30px !important;
                        line-height:34px !important;
                        small {
                           .font(30px,34px,bold,@font-primary,@color-secondary);
                        }
                        &:before{

                        }
                        &:after{

                        }
                    }
                }
            }
            .informa-highlight-text-content-section {
                background-color: transparent;
                padding:0;
                margin:auto;
                max-width:100%;
                min-height:0;
                @media (max-width:769px){
                    padding:0 40px;
                }
                .hightlgt-cust-height{
                    position:relative;
                    padding:0px;
                }
                .visitorreg_txt {
                    padding:0;
                    position:static;
                    .visitorreg_txtin {
                        margin:0 auto 10px;
                        padding:0 !important;
                        .p(600);
                        color:@color-gray !important;
                    }
                }
                .informa-highlight-text-button.visitorbtn {
                    position:absolute;
                    bottom:0;
                    left:0;
                    padding:2px;
                    .border-radius(28px);
                    //.horizontal-gradient(@color-secondary,darken(@color-secondary,30%));
                    //.horizontal-gradient(@color-secondary,@color-secondary);
                    &:hover{
                        //.horizontal-gradient(@color-secondary,@color-secondary-shade);
                    }
                    // .btn-primary {
                    //     .btn-default();
                    //     height:auto;
                    //     font-size: 18px !important;
                    //     line-height: 18px !important;
                    //     font-weight: bold !important;
                    //     &:hover {
                    //
                    //     }
                    // }
                }
                .informa-highlight-text-links {
                    padding: 0;
                    margin: 15px -15px;
                    @media (max-width:769px){
                        margin: 0;
                    }
                    display: block;

                    /**  Custom Class Start  **/
                    .cta-link-desc-two-columns &{
                        width:66.6666666666666%;
                        @media (max-width:769px){
                            width:100%;
                        }
                        .informa-highlight-text-link {
                            width: calc(~'50% - 30px') !important;
                            @media (max-width:769px){
                                width:100% !important;
                                margin:0 0 30px;
                            }
                        }
                    }
                    /**  End  **/

                    .clearfix();
                    .informa-highlight-text-link {
                        font-size:16px;
                        padding:0;
                        margin:0 15px 0px;
                        display:table;
                        width: 22% !important;
                        float:left;
                        border-bottom:0 !important;
                        height:130px;
                        .transition(all .3s ease-out);
                        .border-radius(2px);
                        background:@color-secondary;
                        @media (max-width:769px){
                            width:100% !important;
                            margin:0 0 30px;
                            height:100px;
                        }

                        a {
                            .font(24px,30px,bold,@font-secondary,@color-white);
                            padding:20px!important;
                            text-align:center;
                            text-decoration:none !important;
                            margin:0;
                            display:block;
                            border:0 !important;
                            display: table-cell;
                            vertical-align: middle;
                            @media (max-width:991px){
                                .font(22px,34px,bold,@font-secondary,@color-white);
                            }
                            &:hover {
								background-color:transparent;
                            }
                        }
                        &:after {
                           display:none;
                        }
                        &:hover {
                            //.vertical-gradient(@color-secondary,@color-secondary);
                            .transition(all .3s ease-out);
                            background:@color-primary;
                            background-color:@color-primary;
                        }
                    }
                }
            }
        }
    }

}


/* CTA - Link, Desc - Gray Blocks */


.textblock-gray {

    .highlightText {


        .informa-highlight-text{

            .informa-highlight-text-title {
                .content-title {
                    background-color: transparent;
                    color:@color-gray;
                    small {
                       .font(30px,34px,600,@font-primary,@color-secondary);
                    }

                    @media (max-width:769px){
                        small {
                           .font(30px,34px,bold,@font-primary,@color-secondary);
                        }
                        &:before{

                        }
                        &:after{

                        }
                    }
                }
            }
            .informa-highlight-text-content-section {
                background-color: transparent;

                .visitorreg_txt {
                    .visitorreg_txtin {
                        color:@color-gray !important;
                    }
                }

                .informa-highlight-text-links {

                    display: block;

                    .clearfix();
                    .informa-highlight-text-link {

                        background:@color-gray;

                        a {
                            .font(24px,30px,bold,@font-secondary,@color-white);

                            @media (max-width:991px){
                                .font(24px,34px,bold,@font-secondary,@color-white);
                            }
                            &:hover {
								background-color:transparent;
                            }
                        }
                        &:after {
                           display:none;
                        }
                        &:hover {
                            background-color:  lighten(@color-gray,10%);
                        }
                    }
                }
            }
        }
    }

}





//IE EDGE FIX
@media (max-width:769px){
    @supports (-ms-ime-align:auto) {
        .highlightText .informa-highlight-text .informa-highlight-text-title .content-title:before{
            width:23px !important;
        }
    }
}
