.linklist {
    .navbar-nav {
        padding:0 15px !important;
        width:100%;
        li {
            float:none;
            display:block;
            float:none;
            border-left:0;
            margin-bottom:10px;
            a {
                padding:0;
                .link-base(@link-color);
                .transition (all 300ms ease-out);
                &:hover,&:focus,&:visited {
                    .transition (all 300ms ease-out);
                }
                .custom-footer & { // if parent class is <--
                    color: @color-white-base;
                    &:hover,&:focus,&:visited {
                        .transition (all 300ms ease-out);
                    }
                }
            }
            .separator {
                .hide();
            }
        }
    }
    margin-bottom:15px;
    @media (max-width:768px) {
        margin-bottom:0;
    }
}