.sociallinks {
  float:right;
  margin-right: 30px;
  margin-top: -88px;

    @media (min-width:768px) {
      margin-top: -63px;
    }
    @media (min-width:991px) {
      // border-left: 1px solid @color-white;
      // margin-top:15px;
      margin-top:-38px;
      margin-right: -35px;
      width: 260px;
    }
    .socialIcon {
        ul {
            float:left;
            width:50%;
            @media (min-width:768px) {
              float:left;
              width:60%;
            }
            @media (min-width:991px) {
              float:right;
              width:100%;
            }
            display:block;
            text-align:right;
            li {
                border-left:0;
                float:none;
                display:inline-block;

                &:first-child {
                  margin-left: 0px;
                }

                a {
                    padding:0;
                    i {
                        width: 40px;
                        height: 40px;
                        display:block;
                        text-align:center;
                        color:transparent;
                        //.round-borders(50%);
                        .transition (all 300ms ease-out);
                        &:before {
                            font-family: @font-icon;
                            font-size: @font-size-base + 8;
                            font-style:normal;
                            display:inline-block;
                            color: @color-white;
                            line-height:40px;
                          }
                          &.facebookIcon:before {
                              content: "\f09a";
                              // content: url("/content/dam/Informa/npe-west/en/2020/social-icons/ew20-cp-icon-facebook_60x60.png");
                              // max-width: 24px;
                          }
                          &.twitterIcon:before {
                              content: "\f099";
                              font-family: 'Font Awesome 5 Brands' !important;
                              font-weight: 900;
                              // content: url("/content/dam/Informa/npe-west/en/2020/social-icons/ew20-cp-icon-twitter_60x60.png");
                          }
                          &.youtubeIcon:before {
                              content: "\f167";
                              font-family: 'Font Awesome 5 Brands' !important;
                              font-weight: 900;
                              // content: url("/content/dam/Informa/npe-west/en/2020/social-icons/ew20-cp-icon-youtube_60x60.png");
                          }
                          &.linkedinIcon:before {
                              content: "\f0e1";
                              // content: url("/content/dam/Informa/npe-west/en/2020/social-icons/ew20-cp-icon-linkedin_60x60.png");
                          }
              						&.instagramIcon:before {
                              content: "\f16d";
                              font-family: 'Font Awesome 5 Brands' !important;
                              font-weight: 900;
                              // content: url("/content/dam/Informa/npe-west/en/2020/social-icons/ew20-cp-icon-instagram_60x60.png");
                          }
                          &.pinterestIcon:before {
                              content: "\f231";
                              font-family: 'Font Awesome 5 Brands' !important;
                              font-weight: 900;
                              // content: url("/content/dam/Informa/npe-west/en/2020/social-icons/ew20-cp-icon-youtube_60x60.png");
                          }
                          /*&.pinterestIcon:before {
                              content: "TV"; // prev \f26c
                              font-family: @font-family-base;
                              font-weight:500;
                          }*/
                      }
                    &:hover, &:focus {
                        i {
                            .transition (all 300ms ease-out);
                            &.facebookIcon {
                                color: @icon-fb-bg-color;
                            }
                            &.twitterIcon {
                                color: @icon-tw-bg-color;
                            }
                            &.youtubeIcon {
                                color: @icon-yt-bg-color;
                            }
                            &.linkedinIcon {
                                color: @icon-li-bg-color;
                            }
                            &.instagramIcon {
                                color: @icon-ig-bg-color;
                            }
                            &.pinterestIcon {
                                color: @icon-pi-bg-color;
                            }
                            &:before {
                                color: @color-gold-base;
                            }
                        }
                    }
                }
                @media (max-width:991px) {
                    float:none;
                    display:inline-block;
                    margin-bottom:3px;
                }
            }
            @media (max-width:991px) {
                text-align:center;
            }
        }
    }
}


.datevenuestrip-home-page {
  .sociallinks {
    float: right;
    margin-top: -80px;
    margin-right: -100px;
    margin-left: 0px;
    margin-bottom: 5px;

    @media (min-width:768px) {
      float: right;
      margin-top: -60px;
      margin-right: -50px;
      margin-left: 0px;
      margin-bottom: 15px;
    }
      @media (min-width:991px) {
        // border-left: 1px solid @color-white;
        // margin-top:15px;
        float: right;
        margin-top: 0px;
        margin-right: -35px;
        width: 260px;
        margin-bottom: 0px;
      }

      .socialIcon .social-hp {
          ul {
              float:left;
              width:40%;
              @media (min-width:768px) {
                float:left;
                width:90%;
              }
              @media (min-width:991px) {
                float:right;
                width:100%;
              }
            }
          }
    }
}
