.sponsor-container {
    padding:15px 0;
    .img-gallery {
        background-color:transparent;
        padding:0;
        margin:0;
        .sponsors-box-heading {
            .h5() !important; // override !important declaration
            padding:15px 0 !important; // override !important declaration
            margin:0 0 10px !important; // override !important declaration
            text-align:center;
            position:relative;
            font-weight:500 !important; // override !important declaration
            color: @color-gray-base !important; // override !important declaration
            //text-transform: uppercase;
            &:before, &:after {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
            }
            &:before {
                top: 0;
                height: 0;
            }
            &:after {
                bottom: 0;
                height: 5px;
                background: darken(@color-white-base,10%);
            }
        }
    }
}

.sponsorsandpartners {
    .sponsor-container & {
        //float:left;
        width:100%;
        margin-bottom:0;
        text-align:center;
        display:block;
        .custom-col-2 {
            float:none;
            display:inline-block;
            vertical-align:top;
            min-width:31.333% !important; // override !important declaration
            @media (max-width:768px) {
                min-width:0 !important;
            }
            .thumbnail {
                height:125px !important; // override !important declaration
                &:hover, &:focus {
                    background-color: transparent;
                }
                .sponsorsImgItem {
                    img {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}