.leadingText {
    .leading-testimonial {
        margin-top:0;
        .wrapper {
            background-color: transparent;
            text-align:center;
            width:85%;
            margin:0 auto;
            .leadrightpaneltxt {
                .h2();
                color: @color-blue-base;
                line-height:1.5;
                margin:0;
                em {
                    font-weight:400;
                    font-style:normal;
                }
                @media (max-width:768px) {
                    padding-left:0;
                }
            }
            .leadrightpanelquote {
                font-style:normal;
                .h4();
                color: @color-black-base;
                @media (max-width:768px) {
                    padding-left:0;
                }
            }
        }
    }
}