.youtube-video {
    [class*='strip'] & {
        width:75%;
        margin:0 auto;
        @media (max-width:768px) {
            width:100%;
        }
    }
    .media-body{
        .media-heading{
            border-bottom: 0;
			background:transparent;
            color:@color-black-base;
            font-family:@font-family-base;
            line-height:@font-size-base + 2;
            font-size: @font-size-base;
            font-weight:500;
            padding:10px 0 !important;
        }
    }
    .videoHolder {
        min-height: 165px !important;
        @media (max-width:991px) {
            min-height: 130px !important;
        }
        @media (max-width:768px) {
            min-height: 0px !important;
        }
        @media (max-width:480px) {
            min-height: 0px !important;
        }
        @media (max-width:360px) {
            min-height: 0px !important;
        }
        border:0;
        position:relative;
        // &:after {
        //         content: '\f16a';
        //         font-family: @font-icon;
        //         font-size: @font-size-base + 24;
        //         position: absolute;
        //         z-index: 9;
        //         color: @color-gray-light;
        //         left: 40%;
        //         top: 30%;
        //         @media (max-width:769px) {
        //             top:50%;
        //         	left:50%;
        //         	margin-left:-20px;
        //         	margin-top:-40px;
        //         }
        // }
    }
    .playTab {
        display:none;
    }
    .poster {
        @media (min-width:320px) and (max-width:769px) {
            height:100% !important;
            max-height:100%;
            max-width:100% !important;
        }
    }
    .mediacomponent1 {
        @media (max-width:1024px) {
            padding:0 15px !important;
        }
    }
}

.video-list{ //CUSTOM CLASS
    .youtube-video{
        .media-body{
            .media-heading{
                min-height: 84px;
            }
        }
    }

}







.youtube-video{
	margin:0 0 20px;

    .video-back-frame-left &,
        .video-back-frame-right &{
		padding:0 0 20px;
    }

    .videoHolder{
        position:relative;
        width:auto;
        height:auto;
        border:0;
        background:none;
        min-height:0;
        .playTab{
			position:relative;
            display:none;
        }
        .poster{
            position:relative;
            .youtube-video-variation-1 &{
                width: auto !important;
                margin: auto;
                display: block;
                @media (max-width: 769px){
					width:100% !important;
                }
            }
        }
        &:before{
			display:block;
            // content:'';
            content: '\f16a';
            font-family: @font-icon;
            font-size: @font-size-base + 24;
            color: @color-black;
            // height:60px;
            // width:60px;
            .border-radius(100%);
            position:absolute;
            // background:url(../../img/vid-button.png) @color-primary no-repeat center;
            z-index:100;
            top:50%;
            left:50%;
            .transform(translate(-50%, -50%));
            .transition( 300ms all ease);
        }
        &:hover{
            &:before{
    				// background:url(../../img/vid-button.png) @color-primary-muted no-repeat center;
            color: @color-primary-muted;
                .transition( 300ms all ease);
            }
        }
        .youtube-video-variation-1 &{
            &:before{
                // height:120px;
                // width:120px;
                // background:url(../../img/vid-button-lg.png) @color-primary no-repeat center;

            }
            &:hover{
                &:before{
                    // background:url(../../img/vid-button-lg.png) @color-primary-muted no-repeat center;

                }
            }
        }
    }
    .hero-video &{
        .box-shadow(0 0 40px rgba(0,0,0,.6));

    }
    .holder{
        position:relative;
        .video-back-frame-left &{
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                top: 20px;
                right: 20px;
                border: 2px solid;
                border-color:@color-secondary;
                border-image: linear-gradient(to right, lighten(@color-secondary,10%), @color-secondary) 30;
            }
        }
        .video-back-frame-right &{
            &:after{
              content: '';
              position: absolute;
              z-index: 0;
              width: 0%;
              height: 0%;
              // width: 25%;
              // height: 455%;
              top:-45px;
              right:-40px;

              border: 0 solid;
              border-color:@color-secondary;
              border-image: linear-gradient(to right, lighten(@color-secondary,10%), @color-secondary) 30;
              background-color: @color-white;

                @media (min-width: 768px){
                  // width: 25%;
                  // height: 525%;
                  top:-45px;
                  right:-40px;
                }
                @media (min-width: 1024px){
                  width: 36%;
                  height: 380%;
                  top: -45px;
                  right: -20px;
                }
                @media (min-width: 1200px){
                  width: 42%;
                  height: 230%;
                  top: -25px;
                  right: -20px;
                }

              }
        }
    }
    .media{
        .media-body{
			width:auto;
			display: block;
            .media-heading {
				background:@color-primary;
                border-bottom:0;
                font-family:@font-primary;
                font-size:14px;
                line-height:20px;
                color:@color-white;
				font-weight:bold;


                .video-back-frame-left &,
                    .video-back-frame-right &{
                    color:@color-tertiary;
                }
                .blue-strip &{
					background:@color-white;
                    color:@color-tertiary;
                }
            }
        }
        .divSectionSpace{
            padding: 20px;
            font-size: 14px !important;
            background: @color-white;
            background:#f1f1f1;
        }
        p{
			height:auto;
        }
    }
    @media (max-width:767px){
        .row{
			margin:0;
        }
    }


}

.videoOverlay{
	.modal-dialog{
        .modal-content{
			width:100%;
            max-width:900px;
            padding:20px;
            background:none;
            border:0;
            box-shadow:none;
            .modal-header{
                padding:0;
                .close{
                    background: none;
                    border: none;
                    text-indent: -999999px;
                    position: relative;
                    height:40px;
                    &:after{
                        position: absolute;
                        font-size:21px;
                        top: 50%;
                        left: 50%;
                        background: 0;
                        content: '\f00d';
                        font-family: fontawesome;
                        color: #fff;
                        display: inline-block;
                        text-indent: 0;
                        .transform(translate(-50%, -50%));
                    }
                }
            }
            .modal-body{
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top:0;
                height: 0;
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
