// Background for a component
// Structure:
// - Column Control with custom-background-image CSS class
//		- Image
// 		- Column Control
//			- ...


.custom-background-image {
	position: relative;


	.custom-background-image-column {
		height: auto;
		position: relative;
		width: 100%;


		> div {
			overflow: hidden;
			position: relative;
			width: 100%;


			> .section {
				display: none;
				margin: 0;
				padding: 0;
				width: 100%;
			}


			> .image {
				display: inline-block;
				height: 100%;
				left: 0;
				overflow: hidden;
				pointer-events: none;
				position: absolute;
				top: 0;
				user-select: none;
				width: 100%;
				z-index: 1;


				> div {
					display: inline-block;
					height: 100%;
					position: relative;
					width: 100%;
				}


				a {
					display: inline-block;
					height: 100%;
					position: relative;
					width: 100%;
				}


				img {
					margin: 0 auto;
					min-height: 100%;
					min-width: 100%;
					object-fit: cover;
				}
			}


			> .column-control {
				display: inline-block;
				position: relative;
				z-index: 2;
			}
		}
	}
}


// Modifier adding padding
// at the top and bottom of the container

.custom-background-image--padding-vertical {
	.custom-background-image-column {
		> div {
			padding: 3em 0;

			@media (min-width: @breakpoint-phablet) {
				padding-bottom: 5em;
				padding-top: 5em;
			}

			@media (min-width: @breakpoint-tablet) {
				padding-bottom: 7em;
				padding-top: 7em;
			}

			@media (min-width: @breakpoint-desktop) {
				padding-bottom: 9em;
				padding-top: 9em;
			}

			@media (min-width: @breakpoint-desktop-large) {
				padding-bottom: 11em;
				padding-top: 11em;
			}
		}
	}
}
