// Only display styled components on the aem-components page
// https://stackoverflow.com/questions/14910667/how-to-use-if-statements-in-less

.column-control.aem-header {
	border: 2px solid @primary-color;
	display: @blacklist-header;
}

.column-control.aem-footer {
	border: 2px solid @primary-color;
	display: @blacklist-footer;
}

.column-control.aem-top-nav {
	border: 2px solid @primary-color;
	display: @blacklist-top-nav;
}

.column-control.aem-sub-nav {
	border: 2px solid @primary-color;
	display: @blacklist-sub-nav;
}

.column-control.aem-breadcrumb {
	border: 2px solid @primary-color;
	display: @blacklist-breadcrumb;
}

.column-control.aem-column-control {
	border: 2px solid @primary-color;
	display: @blacklist-column-control;
}

.column-control.aem-title-bar {
	border: 2px solid @primary-color;
	display: @blacklist-title-bar;
}

.column-control.aem-text {
	border: 2px solid @primary-color;
	display: @blacklist-text;
}

.column-control.aem-quicklinks {
	border: 2px solid @primary-color;
	display: @blacklist-quicklinks;
}

.column-control.aem-sociallinks {
	border: 2px solid @primary-color;
	display: @blacklist-sociallinks;
}

.column-control.aem-image {
	border: 2px solid @primary-color;
	display: @blacklist-image;
}
