#content_template_wrapper > .custom-dates.column-control > div > .column-control-columns > .column-control-columns > .column {
	padding-top: 0;
}


.custom-dates {
	.column-control-columns {
		background-color: @gray;


		.container {
			> .column-control-columns {
				padding-bottom: @component-padding-ver-default !important;

				@media (min-width: @breakpoint-phablet) {
					padding-bottom: @component-padding-ver-phablet !important;
				}

				@media (min-width: @breakpoint-tablet) {
					padding-bottom: @component-padding-ver-tablet !important;
				}

				@media (min-width: @breakpoint-desktop) {
					padding-bottom: @component-padding-ver-desktop !important;
				}

				@media (min-width: @breakpoint-desktop-large) {
					padding-bottom: @component-padding-ver-desktop-large !important;
				}
			}


			.column {
				padding-top: @component-padding-ver-default;

				@media (min-width: @breakpoint-phablet) {
					padding-top: @component-padding-ver-phablet;
				}

				@media (min-width: @breakpoint-tablet) {
					padding-top: @component-padding-ver-tablet;
				}

				@media (min-width: @breakpoint-desktop) {
					padding-top: @component-padding-ver-desktop;
				}

				@media (min-width: @breakpoint-desktop-large) {
					padding-top: @component-padding-ver-desktop-large;
				}
			}
		}


		.calendar-component {
			.eventDateContainer {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				float: none !important;
				justify-content: center;

				@media (min-width: @breakpoint-tablet) {
					display: block;
				}


				.mapIconHeader {
					display: none;
				}


				.calendarDetails {
					display: inline-block;
					margin: 0;
					padding: 0;
					width: auto;


					i,
					.topNavAddress {
						color: @white;
						display: inline-block;
						width: auto;
					}
				}
			}
		}


		.titleBar {
			h4 {
				color: @white;
				margin: 0;
				padding: 0;

				&::after {
					content: none;
				}
			}
		}
	}
}
