// TODO: Move to utils/_column-control.less

// Square boxes will stretch the column to be the same height
// - Column Control with custom-square-boxes CSS class
.custom-square-boxes {
	.custom-square-boxes-columns-container {
		display: flex;
		flex-direction: row;
	}
}


// Will vertically center the content of the column
.custom-square-boxes--center {
	.custom-square-boxes-column {
		align-items: center;
		display: flex;
	}
}
