/* -------------------------------

Footer

------------------------------- */

// Column Control + custom-subfooter CSS
// - Column Control + container CSS

.custom-subfooter,
.custom-footer {
	.component-padding();

	background-color: lighten(@footer-bg, 10%);

	&:first-of-type {
		background-color: @footer-bg;
	}


	.titleBar {
		h2,
		h4 {
			color: @footer-color !important;
			font-size: @footer-title-size !important;
			font-weight: @footer-title-weight !important;
			text-align: @footer-title-align;
		}
	}


	.text {
		color: @footer-color;
		word-break: normal;


		p {
			font-size: @footer-text-size !important;
			line-height: @footer-text-line-height;
		}


		a,
		a * {
			color: @footer-link-color !important;
		}


		div,
		p,
		b {
			color: inherit !important;
		}
	}


	.linklist .row ul,
	.informa-link-list-items {
		.informa-link-list-item,
		li {
			color: @footer-color !important;
			font-size: @footer-text-size !important;
			line-height: @footer-text-line-height;


			span {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
			}


			a {
				color: @footer-link-color;

				&:focus,
				&:hover {
					color: @footer-link-color;
					text-decoration: underline;
				}


				.separator {
					color: @footer-color !important;
				}
			}
		}
	}


	.socialIcon {
		float: left !important;
	}
}
