// FIX
// global-nav is placed before the custom-header
.header_ipar {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;


	.global-nav {
		order: 0;
	}


	.custom-header {
		order: 1;
	}
}


// Center header-links in global-nav
.global-nav .header-links {
	.row {
		margin: 0;
	}


	.eventRightSection {
		padding: 0;


		.navbar-nav {
			float: none !important;


			.dropdown {
				border: none !important;
				width: 100%;
			}
		}
	}
}
//


@global-nav-bg-light: lighten(@global-nav-bg, 10%);

.global-nav__bar,
.global-nav {
	display: none;
	height: @global-nav-height;
	padding: 0 !important;
	position: relative;
	width: 100%;
	z-index: 10000000;

	@media (min-width: @breakpoint-tablet) {
		display: block;
	}


	.sticky-header & {
		display: none;
	}


	> div {
		> .column-control-columns {
			background-color: @global-nav-bg;
		}
	}
}


.global-nav__column,
.global-nav .row .column .container .row .column {
	height: 100%;
	padding: 0;
}

.global-nav__text-links,
.global-nav .text {
	height: 100%;

	&:hover,
	&:focus {
		background-color: @global-nav-bg-light;
	}


	p {
		color: @global-nav-color !important;
		font-family: @global-nav-font-family;
		font-size: @global-nav-font-size !important;
		font-weight: @global-nav-text-weight !important;
		text-align: center;
		text-transform: uppercase;
	}


	a {
		color: inherit !important;
		font-family: inherit;
		font-size: inherit !important;
		font-weight: inherit !important;
		line-height: @global-nav-height;
	}

	a:hover {
		text-decoration: none;
	}
}

.global-nav__header-link,
.global-nav .header-links {
	.dropdown:hover {
		background-color: @global-nav-hover-bg-color;
	}


	.dropdown .dropdown-toggle {
		color: @global-nav-color !important;
		font-family: @global-nav-font-family;
		font-size: @global-nav-font-size;
		font-weight: @global-nav-text-weight;
		height: 100%;
		line-height: @global-nav-height;
		margin: 0 !important;
		padding: 0 !important;
		text-align: center;
		text-transform: uppercase;
	}


	.dropdown .dropdown-toggle .dropdown-caret {
		display: none;
	}


	.dropdown .dropdown-toggle.has-submenu:hover + ul {
		display: block;
	}


	.dropdown .dropdown-menu {
		width: 100%;
	}


	.dropdown .dropdown-menu > li,
	.dropdown .dropdown-menu > li > a {
		color: @global-nav-color !important;
		font-family: @global-nav-font-family;
		font-size: @global-nav-font-size;
		font-weight: @global-nav-text-weight;
		text-align: center;
		text-transform: uppercase;
	}


	.dropdown .dropdown-menu > li > a:hover {
		background-color: @global-nav-inner-hover-bg-color !important;
	}
}


.global-nav .linklist .row {
	text-align: center;


	ul {
		margin: 0 auto !important;
		width: auto;


		li a {
			color: @global-nav-color;
			text-decoration: none;
			transition: none;

			&:hover,
			&:focus {
				color: @global-nav-color;
				text-decoration: underline;
			}


			.separator {
				color: @global-nav-color !important;
			}
		}
	}
}
