// - Column Control + custom-graphic-highlight CSS
// 	=> configure the columns

.custom-graphic-highlight {
	background-color: @graphic-highlights-bg;


	.text {
		p {
			color: @graphic-highlights-color !important;
			margin: 0;

			&::after {
				clear: both;
				content: '';
				display: table;
			}


			* {
				color: inherit;
				display: inline-block;
				float: left;
				margin-top: @global-padding;
				text-align: center;
				width: 100%;


				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}
