// Column Control + custom-header CSS
// - header container component
// - Column Control + container CSS

.custom-header {
	.text__color--black;

	background-color: @header-bg;
	border-color: @header-border-color;
	border-style: @header-border-style;
	border-width: @header-border-width;
	bottom: auto;
	box-shadow: 0 (@global-padding / 4) @global-padding 0 @header-shadow-color;
	left: auto !important;
	overflow: visible;
	position: relative;
	right: auto;
	top: auto;
	width: auto;
	z-index: 1000000;


	> div {
		padding-top: (@top-nav-bar-height + @header-border-width - 1) !important;

		@media (min-width: @breakpoint-tablet) {
			padding-top: 0 !important;
		}
	}


	.column-control-columns .column-control-columns-container {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}


	.quicklink--default,
	.hightxt_btn,
	.quicklink {
		.highlightText .content-faq1 .event-overview-btn {
			max-width: 100%;


			.hightxt_btn {
				float: none;
				max-width: @header-button-max-width;

				@media (min-width: @breakpoint-tablet) {
					clear: both;
					float: right;
				}


				> .event-overview-btn-text-padding,
				.highlgt-btn-custom {
					background-color: @header-button-bg !important;
					border: @header-button-border-thickness @header-button-border-style @header-button-border-color !important;
					border-radius: @header-button-border-radius;
					color: @header-button-color !important;
					display: inline-block !important;
					font-size: @header-button-size !important;
					height: auto !important;
					text-transform: uppercase;
					transition: background-color @hover-duration, color @hover-duration, border @hover-duration;
					width: @header-button-width;

					&:hover,
					&:focus {
						background-color: @header-button-hover-bg !important;
						border: @header-button-hover-border-thickness @header-button-hover-border-style @header-button-hover-border-color !important;
						color: @header-button-hover-color !important;
					}


					.highlgt-btn-title {
						text-transform: inherit;
					}
				}
			}
		}
	}
}


// registration button
.custom-header .top-nav .mainNav .navbar-inverse ul li.navRegisterbg {
	display: inline-block;
	width: 100%;

	@media (min-width: @breakpoint-tablet) {
		width: auto;
	}


	a {
		background-color: #9dc440 !important;
		border: @header-button-border-thickness @header-button-border-style #9dc440 !important;
		border-radius: 0;
		color: @white !important;
		font-family: @quicklink-font;
		font-size: @header-button-size !important;
		font-weight: @quicklink-weight !important;
		height: auto !important;
		line-height: 1.333333;	// from .btn
		padding: @header-button-padding-ver @header-button-padding-hor !important;
		text-transform: uppercase;
		transition: background-color @hover-duration, color @hover-duration, border @hover-duration;
		width: 100%;

		&:hover,
		&:focus {
			background-color: @header-button-hover-bg !important;
			border: @header-button-hover-border-thickness @header-button-hover-border-style @header-button-hover-border-color !important;
			color: @header-button-hover-color !important;
		}

		@media (min-width: @breakpoint-tablet) {
			background-color: #9dc440 !important;
			border-radius: @header-button-border-radius;
			color: #FFFFFF !important;
			max-width: @header-button-width;
		}
	}
}


// Components
.custom-header__logo,
.custom-header .logo {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;

	@media (min-width: @breakpoint-phablet) {
		margin-left: 0;
		text-align: left;
		width: 100%;
	}


	img {
		height: auto;
	}
}


.custom-header__event-info,
.custom-header .text {
	padding-left: @global-padding;
	padding-right: @global-padding;
}
