// FIX
// Inherit text-align
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav a small,
.top-nav .mainNav .navbar .container .navbar-element .navbar-nav .mainMenuTopnav.active a small {
	@media (max-width: @breakpoint-tablet) {
		text-align: inherit;
	}
}
// ENDFIX

// Nav Bar on Mobile
.top-nav-mobile__bar,
.headercontainer .navbar-header,
.top-nav .navbar .container .navbar-header {
	@media (max-width: @breakpoint-tablet) {
		background-color: @top-nav-mobile-bar-bg-color;
		width: 100vw;
	}
}

// Hamburger Button on Mobile
.top-nav-mobile__toggle,
.headercontainer .navbar-toggle,
.top-nav .navbar .container .navbar-header .navbar-toggle,
.custom-header .hamBurger .navbar-inverse .navbar-header .navbar-toggle,
.hamBurger .navbar-inverse .navbar-header .navbar-toggle .icon-bar {
	background-color: @top-nav-mobile-toggle-bg-color;

	&:hover,
	&:focus {
		background-color: @top-nav-mobile-toggle-bg-color;
	}


	.icon-bar {
		background-color: @top-nav-mobile-toggle-icon-color !important;
	}
}

.top-nav-mobile__drawer,
.top-nav .mainNav .navbar .container .navbar-element {
	@media (max-width: @breakpoint-tablet) {
		background-color: @top-nav-mobile-drawer-bg-color !important;
	}
}
