/* Niramit - Extra Light - 200 - latin */
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/niramit-extralight-webfont.eot'); /* IE9 Compat Modes */
  src: local('Niramit ExtraLight'), local('Niramit-ExtraLight'),
       url('../fonts/niramit-extralight-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/niramit-extralight-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/niramit-extralight-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/niramit-extralight-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/niramit-extralight-webfont.svg#niramit_extralightregular') format('svg'); /* Legacy iOS */
}

/* Niramit - Light - 300 - latin */
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/niramit-niramit-light-webfont.eot'); /* IE9 Compat Modes */
  src: local('Niramit Light'), local('Niramit-Light'),
       url('../fonts/niramit-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/niramit-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/niramit-light-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/niramit-light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/niramit-light-webfont.svg#niramit_lightregular') format('svg'); /* Legacy iOS */
}

/* Niramit - Regular - 400 - latin */
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/niramit-regular-webfont.eot'); /* IE9 Compat Modes */
  src: local('Niramit Regular'), local('Niramit-Regular'),
       url('../fonts/niramit-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/niramit-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/niramit-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/niramit-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/niramit-regular-webfont.svg#niramitregular') format('svg'); /* Legacy iOS */
}

/* Niramit - Medium - 500 - latin */
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/niramit-medium-webfont.eot'); /* IE9 Compat Modes */
  src: local('Niramit Medium'), local('Niramit-Medium'),
       url('../fonts/niramit-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/niramit-medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/niramit-medium-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/niramit-medium-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/niramit-medium-webfont.svg#niramit_mediumregular') format('svg'); /* Legacy iOS */
}

/* Niramit - Semi Bold - 600 - latin */
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/niramit-semibold-webfont.eot'); /* IE9 Compat Modes */
  src: local('Niramit SemiBold'), local('Niramit-SemiBold'),
       url('../fonts/niramit-semibold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/niramit-semibold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/niramit-semibold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/niramit-semibold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/niramit-semibold-webfont.svg#niramit_semiboldregular') format('svg'); /* Legacy iOS */
}

/* Niramit - Bold - 700 - latin */
@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/niramit-bold-webfont.eot'); /* IE9 Compat Modes */
  src: local('Niramit Bold'), local('Niramit-Bold'),
       url('../fonts/niramit-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/niramit-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/niramit-bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/niramit-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/niramit-bold-webfont.svg#niramit_boldregular') format('svg'); /* Legacy iOS */
}