/**   Header Styles  **/

header .headerSearchBox .navbar-right {
    display: none;
}

.customheader-wrapper {
	box-shadow: 0 10px 8px 0 rgba(0,0,0,.1);
    padding: 0px;
    margin: 0px;
    position:relative;
	@media (min-width:991px) {
    	z-index: 1;
    }

}

.headercontainer {
    //display: none;
    //visibility: hidden;
    font-size: 0px;
}

.custom-header .logo img{
    max-height:100px !important;
    max-width: 100% !important;
}



 .sticky-header & {
        @media (min-width:991px) {
            margin-top:0;
            margin-bottom:0;
            .logo {

            }
        }

    }


.sticky-header {
    @media (min-width:991px) {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:999;
        background-color:@color-white-base;
        .transition (all 100ms ease-out);
    }

    .topmarginheader {
        @media (min-width:1175px){
			margin-top:10px;
        }
    }

    .custom-header {
        .logo {
			margin:0px;
            padding:8px 0;
            img {
                max-width: 100% !important;
				height:auto !important;
                max-height:76px !important;
                transition: all 300ms ease-out 0s;
            }
        }
		.top-nav-container {
			margin-top: 24px;
        }
    }

}

header {
        width: 100%;
        min-height: 1px;
        display: block;
        padding: 0px;
    }


@media (max-width: 990px) {

    header {
        width: 100%;
        min-height: 1px;
        display: block;
        padding: 0px;
    }

    .headercontainer header > .headerVerticalHold {
        display: block !important;
    }

    header > .headerVerticalHold .container {
        position: relative;
    }

}

.headercontainer {
    .hide(); // hide unwanted elements
    header {
        .headerVerticalHold {
            .cover {
                &.pull-right {
                    .hide();
                }
            }
        }
    }
    @media (max-width:990px) {
        .show();
        //margin-bottom:-20px;
        header {
            display:block !important; // override !important declaration;
            min-height:0;
            height:auto !important; // override !important declaration
            padding:0;
            > .headerVerticalHold {
                display:block !important; // override !important declaration;
            }
            .cover.pull-left {
                display:none;
            }
            .hamBurger {
                z-index:1;
                button {
                    &.navbar-toggle {
                        top: 30px;
                        right: 15px;
                        background: rgba(0,0,0,0.1);
                        .transition (all 300ms ease-in-out);
                        .round-borders(3px);
                        .icon-bar {
                            background-color: @color-primary;
                            .transition (all 300ms ease-out);
                        }
                        &.stuck {
                            position: fixed;
                            top:15px;
                        	z-index: 9999;
                            .transition (all 300ms ease-in-out);
                        }
                    }
                }
            }
        }
    }
}


.navbar {
    .container {
        > .navbar-collapse {
            @media (max-width:990px) {
                background-color: rgba(0,0,0,1);
                /*left:-50%;
                right:0;
                width:0;
                &.active {
                    width:83vw;
                    left:0;
                }
                .mobileLayoutNav {
                    width:100%;
                }*/
                .mobileLayoutcross, .navbar-header {
                    background-color:transparent;
                }
                .mainSecondaryNav { // Hide this extra arrow on mobile view. This showed up after Caleb's 18 July 2018 deployment
                    display:none;
                }
            }
        }
    }
}


