// Show-Hide
.hide() {
    display:none;
    visibility:hidden;
    font-size:0;
}
.show() {
    display:block;
    visibility:visible;
    font-size:inherit;
}

// Headings
.h1() {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h1-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h2() {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h2-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h3() {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h3-font-size;
  margin-top: 20px;
  margin-bottom: 10px;
}
.h4() {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h4-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h5() {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h5-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h6() {
  color: @headings-color;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: @headings-h6-font-size;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p(@weight: normal){
	font-size:@p-font-size !important;
    line-height:@p-line-height !important;
    font-weight:@weight !important;
    font-family:@font-primary !important;
}

.font(@size,@line-height,@weight,@family,@color){
	font-size:@size !important;
    line-height:@line-height !important;
    font-weight:@weight !important;
    font-family:@family !important;
    color:@color !important;    
}

// Text
.text-base() {
  color: @font-color-base;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @font-line-height-base;
}

// Links
.link-base(@color) {
  color: @color;
  &:hover,
  &:focus,
  &:active {
    color: darken(@color, 8%) !important;
  }
}


/**   Animation    **/
.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}


// Transition
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

/**   Transform    **/
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}

/**   Scale    **/
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}

/**   Rotate    **/
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}

/**   Skew    **/
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}

/**   Translate    **/
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}

/**   Translate3d    **/
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}

/**   Perspective    **/
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}

/**   Transform-origin    **/
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}

/**   Fixed elements    **/
.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


/**   Buttons    **/
.btn-default(){
	font-family:@font-primary;
    padding:15px 30px !important;
    .border-radius(5px);
    border-bottom:0 !important;     
    background:@color-primary;
    border:0;
    width:auto;
    margin: auto;
    .transition(300ms ease all);
    &:hover {
		background:@color-secondary;
    }
}


// Gradient 
.gradient(@left-shade,@right-shade) {
    // http://colorzilla.com/gradient-editor
    background: @left-shade; /* Old browsers */
    background: -moz-linear-gradient(left, @left-shade 0%, @right-shade 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, @left-shade 0%, @right-shade 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, @left-shade 0%, @right-shade 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// Round Borders
.round-borders(@radius) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

// Animation
.animation (@name, @duration: 300ms, @delay: 0s, @ease: ease-out) {
    animation: @name @duration @delay @ease;
    -ms-animation: @name @duration @delay @ease;
    -moz-animation: @name @duration @delay @ease;
    -webkit-animation: @name @duration @delay @ease;
    -o-animation: @name @duration @delay @ease;
}


/**   Clearfix    **/
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/**   Text Shadow    **/
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}

/**   Box Shadow    **/
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

/**   Drop Shadow    **/
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

/**   Inner Shadow    **/
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

/**   Box-sizing    **/
.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

/**   Border-radius    **/
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

/**   Border-radiuses    **/
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

/**   Opacity    **/
.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}




// Buttons
.button {
    .round-borders(5px);
    background:@color-primary;
    border: 1px solid @color-white-base !important; // override !important declaration
    color: @btn-text-color !important; // override !important declaration
    padding:15px 30px;
    font-size: @font-size-base + 4 !important;
    font-weight:700;
    text-transform:none;
    .transition (all 300ms ease-out) !important;
    &:hover, &:focus, &:active {
        background:@color-secondary;
        .transition (all 300ms ease-out) !important;
    }
}
.button-dark {
    .round-borders(5px);
    .gradient(@btn-shade-reset-base,@btn-shade-reset-alt-base);
    border: 1px solid @color-white-base !important; // override !important declaration
    color: @btn-text-color !important; // override !important declaration
    padding:15px 30px;
    font-size: @font-size-base + 4 !important;
    font-weight:700;
    text-transform:none;
    .transition (all 300ms ease-out) !important;
    &:hover, &:focus, &:active {
        .gradient(@btn-shade-reset-alt-base,@btn-shade-reset-alt-base);
        .transition (all 300ms ease-out) !important;
    }
}

// Fontawesome
.fa {
    margin-right:5px;
    &:before {
        font-family: @font-icon;
    }
}



/*******************************************
*                                		   *
*           Custom Count Down              *
*                                		   *
*******************************************/

.countdown_custom {
	#clockdiv{ 
        h1{ 
          color: @color-primary; 
          font-weight: 100; 
          font-size: 40px; 
          margin: 40px 0px 20px; 
        } 
		> div{ 
            padding: 10px;     
            display: inline-block; 
    		span {
                background: @white;
                box-shadow: 0px 0px 3px 1px #ccc;
                border-radius: 31px;
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 33px;
            }
        	> span { 
                padding: 15px;     
                background: @color-primary; 
                color: @white;
                display: inline-block; 
                font-size: 27px;
                font-weight: 700;
            }

        	.smalltext {   
                text-align: center;
                letter-spacing: 2px;
            	font-size:13px;
            }
        } 
    }
}



/*********************************
*                                *
*        Scroll to Top           *
*                                *
*********************************/
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:15px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:15px;
	bottom:10px;
	background: @color-black-base;
	background:rgba(0,0,0,0.1);
	padding:15px;
	text-align: center;
	margin: 0;
	cursor:pointer;
}
.scroll:hover {
	background:rgba(0,0,0,0.5);
}
.scroll:hover:before{
    color: @color-white-base;
}
.scroll:before {
    content:'\f062';
    font-family: @font-icon;
    font-size: @font-size-base;
    color: @color-white-base;
    display:block;
}

img {
    max-width:100%;
}
