body{
	font-family:@font-primary;    
    color:@color-black;
}
.body-wrapper{
    @media (max-width:769px){
		overflow-x:hidden;
    }
}
#body_container_wrapper{
	padding:0;
}
#content_template_wrapper{
	//max-width:1400px;
    width:100%;    
    margin:auto;
    padding:0;
}

h1,h2,h3,h4,h5,h6,
p,i,a,small,span,div {
    font-family: @font-family-base !important; // override !important declaration
}

body,
p,
.text {
	.text-base();
}
p {
	margin-bottom: 15px;
    &:empty {
        margin-bottom:0;
    }
}

// Links
a{
    color:@color-tertiary;

    &:hover{
        color:@color-tertiary;
        text-decoration:underline;  
    }
    &:visited{
        color:@color-tertiary;
        text-decoration:none;       
    }
}

// Headings
h1 {
    .h1();
}
h2 {
    .h2();
}
h3 {
    .h3();
}
h4 {
    .h4();
}
h5 {
    .h5();
}
h6 {
    .h6();
}

// Sitemap
#SiteMap {
    .mainBox {
    	background-color: @navbar-bg;
    }
    ul li a {
    	font-family: @navbar-font-family;
    }
}



.row-custom-divider {
   margin-top: 0;  
}

@media (max-width: 1024px){
    .container-fluid {
        margin-top: 0;
    }
}

// Form
.InformaBookStandForm input[type=button], input[type=submit], input[type=reset] {
    font-family: @font-family-base !important; // override !important declaration
}

.row-custom-divider{
    margin-top: 0;
}