/*********************************
*                                *
*       Whatever this is..       *
*                                *
*********************************/
.row-custom-divider {
    [class*='strip'] &,
    .custom-header &,
    .custom-footer & {
    	margin-top:0;
    }
}
.container-fluid { // Override Caleb's 21 July 2018 CSS deployment
    margin-top:0;
}

/*********************************
*                                *
*         Boilerplate            *
*                                *
*********************************/
.informa {
    background-color: @informa-banner-bg;
    padding-bottom:5px;
    &,
    p {
    	color: @informa-banner-color;
    }
    .dropdown button {
        color: @informa-banner-color;
        background-color: @informa-banner-bg;
        font-size: @informa-banner-font-size;
    }
    .nav > li > a {
    	color: @informa-banner-link-color;
    }
}





/*********************************
*                                *
*           Strips               *
*                                *
*********************************/
.strip {
    &-light-gray {
        background-color: darken(@color-white-base,5%);
        &:extend(.strip-it);
        &:extend(.force-full-width);
    }
    &-muted {
        background-color: @color-white-base;
        &:extend(.strip-it);
        &:extend(.force-full-width);
    }
}
.strip-it {
    padding:90px 15px;
    margin:0;
}
.force-full-width {
    margin-left: -15px;
    margin-right: -15px;
}

/*********************************
*                                *
*          Alignment             *
*                                *
*********************************/
.text-align {
    &-left {
        text-align:left;
    }
    &-right {
        text-align:right;
    }
    &-center {
        text-align:center;
    }
}


/*********************************
*                                *
*        Scroll to Top           *
*                                *
*********************************/
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:15px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:15px;
	bottom:10px;
	background: @color-black-base;
	background:rgba(0,0,0,0.1);
	padding:15px;
	text-align: center;
	margin: 0;
	cursor:pointer;
	.transition (all 300ms ease-out);	
}
.scroll:hover {
	background:rgba(0,0,0,0.5);
    bottom:20px;
	.transition (all 300ms ease-out);
}
.scroll:hover:before{
    color: @color-white-base;
    .transition (all 300ms ease-out);
}
.scroll:before {
	.transition (all 300ms ease-out);
    content:'\f062';
    font-family: @font-icon;
    font-size: @font-size-base;
    color: @color-white-base;
    display:block;
}


/*********************************
*                                *
*           Sitemap              *
*                                *
*********************************/
#SiteMap {
  .mainBox {
    background-color: @color-primary;
  }
  ul li a {
    font-family: @navbar-font-family;
  }
}


.customgrey {
	background:#e8e8e8;
}



