// Colors
@color-primary: #009246;
@color-secondary: #8DC63F;
@color-gray-base: #504F53;
@color-gray: @color-gray-base;
@color-gray-light: #eeeeee;
@color-gray-lighter: #f2f2f2;
@color-tertiary: @color-secondary;

@color-primary-muted: lighten(@color-primary, 55%);
@color-secondary-muted: lighten(@color-secondary, 40%);
@color-white-base: #ffffff;
@color-black-base: #000000;
@color-turquoise-base: #47bc9e;
@color-blue-base: #0483b2;
@color-gold-base: #8DC63F;

@color-yellow-base :#ecf3da;

@black: @color-black-base;
@color-black: @color-black-base;
@white: @color-white-base;
@color-white: @color-white-base;
@link: @color-primary;
@visited: @color-secondary;
@active: @color-secondary;
@gray: @color-gray-base; 
@silver: #A5ACAF; 
@base-color: @color-gray-base;

// Fonts
@font-family-base: 'Niramit', sans-serif;
@font-primary: @font-family-base;
@primary-font: @font-family-base;
@font-secondary: @font-family-base;
@font-size-base: @base-font-size;
@font-color-base: @color-gray-base;
@font-line-height-base: @p-line-height;

@font-icon: 'fontawesome';
@icon-font: @font-icon;

@h1-font-size:65px;
@h1-line-height: @h1-font-size + 10;

@h2-font-size:48px;
@h2-line-height: @h2-font-size + 12;

@h3-font-size:34px;
@h3-line-height: @h3-font-size + 14;

@h4-font-size:21px;
@h4-line-height: @h4-font-size + 13;

@h5-font-size:16px;
@h5-line-height: @h5-font-size + 10;

@h6-font-size:14px;
@h6-line-height: @h6-font-size + 10;

@p-font-size:16px;
@p-line-height: @p-font-size + 6;

@base-font-size: @p-font-size;

// Headings
@headings-color: @color-gray-base;
@headings-font-family: @font-family-base;
@headings-font-weight: 400;

@slider-headings-h1-font-size: @h1-font-size;
@headings-h1-font-size: @h1-font-size;
@headings-h2-font-size: @h2-font-size;
@headings-h3-font-size: @h3-font-size;
@headings-h4-font-size: @h4-font-size;
@headings-h5-font-size: @h5-font-size;
@headings-h6-font-size: @h6-font-size;

// Link color
@link-color: @color-primary;

// Informa top bar
@informa-banner-bg: @color-gray-base;
@informa-banner-color: #ffffff;
@informa-banner-link-color: #ffffff;
@informa-banner-font-size: 14px;

// Navbar
@navbar-color: @color-black-base;
@navbar-bg: @color-white-base;
@navbar-font-family: @font-family-base;
@navbar-font-size: @font-size-base;
@navbar-font-size-sm: (@navbar-font-size - 3);
@navbar-item-padding: 15px;
@navbar-hover-color: @color-white-base;
@navbar-hover-bg: @color-secondary;

@navbar-highlight-width: 20%;
@navbar-highlight-float: right;
@navbar-highlight-color: @color-white-base;
@navbar-highlight-bg: @color-secondary;
@navbar-highlight-hover-color: @color-white-base;
@navbar-highlight-hover-bg: darken(@navbar-highlight-bg, 8%);

// Footer
@footer-color: @color-white-base;
@footer-bg: @color-gray-base;
@footer-link-color: @color-primary;
@footer-logo-width: 175px;

// CTA
@cta-heading-color: @color-white-base;
@cta-heading-bg: @color-primary;
@cta-body-bg: @color-primary-muted;

@cta-link-font-size: 18px;
@cta-link-color: @color-white-base;
@cta-link-bg: @color-secondary;

@cta-link-secondary-color: @color-white-base;
@cta-link-secondary-bg: @color-secondary;

// Carousel - Hero
@slide-shade-base: @color-turquoise-base;
@slide-shade-base-light: lighten(@color-turquoise-base,10%);
@slide-shade-base-dark: darken(@color-turquoise-base,10%);

// Buttons
@btn-shade-base: @color-primary;
@btn-shade-alt: @color-secondary;
@btn-shade-alt-dark: darken(@color-secondary,10%);
@btn-text-color: @color-white-base;
@btn-shade-reset-base: @color-gray-base;
@btn-shade-reset-alt-base: lighten(@color-gray-base,15%);

// Social Icons
@icon-fb-bg-color: #3b5998;
@icon-tw-bg-color: #55acee;
@icon-yt-bg-color: #ff0000;
@icon-li-bg-color: #007bb5;
@icon-ig-bg-color: #bc2a8d;
@icon-pi-bg-color: #cb2027;
@icon-tv-bg-color: @color-secondary;