*,
*::after,
*::before {
	box-sizing: border-box;
}


html,
body {
	-webkit-font-smoothing: antialiased;
	height: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: relative;
	text-rendering: optimizelegibility;
	width: 100%;
}
