// RESET
.about-informa {
	div::after {
		clear: both;
		content: '';
		display: table;
	}


	p {
		margin: 0 !important;
		padding: 0 !important;

		@media (min-width: @breakpoint-desktop) {
			margin-top: 30px !important;
		}
	}
}


.aboutInfo .about-informa .footerLogo,
.corporate_footer .aboutInfo .footerLogo,
.corporate_footer.footercontainer .aboutInfo .about-informa .footerLogo {
	float: none !important;
	margin: 0 auto !important;
	max-width: 100%;


	a {
		display: inline-block;
		max-width: 100%;


		img {
			margin: 0 !important;
			max-width: 100% !important;
		}
	}
}


.corporate_footer .aboutInfo p,
.corporate_footer.footercontainer footer .aboutInfo p:last-child {
	margin: 0 !important;
	padding: 0 !important;
}
//


@informa-footer-padding: 15px;

.corporate_footer {
	// about

	.aboutInfo .about-informa {
		text-align: center;

		@media (min-width: @breakpoint-desktop) {
			align-items: center;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			text-align: left;
		}


		> div {
			padding: 0 0 0 @informa-footer-padding !important;

			&:first-child {
				padding-top: @informa-footer-padding !important;
			}

			@media (min-width: @breakpoint-desktop) {
				padding-top: @informa-footer-padding !important;
			}


			> div {
				padding: 0 @informa-footer-padding @informa-footer-padding 0 !important;


				.footerLogo {
					margin: 0 auto !important;
				}
			}
		}
	}


	// nav

	.footerBottombg .nav {
		padding: @informa-footer-padding !important;
	}
}
