@informa-boilerplate-padding: 15px;


.boilerplate {
	.boilerplate_details_wrapper {
		min-height: @informa-bar-height;
	}


	.informaDetails-element,
	.informa-Details-element {
		&::after {
			clear: both;
			content: '';
			display: table;
		}
	}


	.informalist-color {
		margin: 0 auto;
		padding: @informa-boilerplate-padding 0 0 @informa-boilerplate-padding;


		> div {
			padding: 0 @informa-boilerplate-padding (@informa-boilerplate-padding / @golden-ratio) 0 !important;

			&:last-child {
				padding-bottom: @informa-boilerplate-padding !important;
			}

			@media (min-width: @breakpoint-desktop) {
				padding-bottom: 0 !important;

				&:last-child {
					padding-bottom: 0 !important;
				}
			}

			&.padding-right-border {
				@media (min-width: @breakpoint-desktop) {
					padding-left: @informa-boilerplate-padding !important;
				}
			}


			.nav {
				margin: 0;
				padding: 0;


				> li:first-child {
					> a {
						padding: 0 !important;
					}
				}
			}
		}
	}


	.dropdown button {
		padding: (@informa-boilerplate-padding / @golden-ratio) @informa-boilerplate-padding !important;
	}
}
