// FIX
// clearfix for column

.column > div {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}


// FIX
// remove margins and paddings
// for all columns

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	margin: 0 !important;
	max-width: 100% !important;
	padding: 0 !important;
}


// FIX
// remove position, margins and paddings
// for all containers

#body_container_wrapper,
#body_row_container_wrapper,
#header_template_wrapper,
#content_template_wrapper,
#footer_template_wrapper,
.informaBreadcrumb,
.footercontainer,
.footercontainer footer {
	bottom: auto;
	left: auto;
	margin: 0 !important;
	max-width: 100%;
	padding: 0 !important;
	position: relative;
	right: auto;
	top: auto;
	width: 100%;
}


// FIX
// remove margins and paddings
// for row, column control

.row,
.column-control,
.column-control > div,
.column-control > div > .column-control-columns,
.column-control > div > .column-control-columns > div,
.column-control > div > .column-control-columns > div > .column,
.column-control > div > .column-control-columns > div > .column > div {
	margin: 0 !important;
	max-width: 100% !important;
	padding: 0 !important;


	&.container {
		margin-left: auto !important;
		margin-right: auto !important;
		max-width: 100% !important;
	}
}
