// FIX
// removed spacing options as they are overused

.spacingtop-20px, .row.spacingtop-20px, .column-control>div>.column-control-columns>div.spacingtop-20px, .accordion .travel-accordian.spacingtop-20px, .informaBreadcrumb .container nav .informaRegBreadCrumb.spacingtop-20px {
        margin-top: 20px !important;
}

.spacingbottom-20px, .row.spacingbottom-20px, .column-control>div>.column-control-columns>div.spacingbottom-20px, .accordion .travel-accordian.spacingbottom-20px, .informaBreadcrumb .container nav .informaRegBreadCrumb.spacingbottom-20px {
    margin-bottom: 20px !important;
}

.spacingtop-10px, .row.spacingtop-10px, column-control>div>.column-control-columns>div.spacingtop-10px, .accordion .travel-accordian.spacingtop-10px, .informaBreadcrumb .container nav .informaRegBreadCrumb.spacingtop-10px{
        margin-top: 10px !important;
}

.spacingbottom-10px, .row.spacingbottom-10px, .column-control>div>.column-control-columns>div.spacingbottom-10px .accordion .travel-accordian.spacingbottom-10px, .informaBreadcrumb .container nav .informaRegBreadCrumb.spacingbottom-10px{
    margin-bottom: 10px !important;
}