// FIX
// if custom-header is added to a Column Control
// it will be sticky on scroll, used for header

.sticky-header {
	@media (min-width: @breakpoint-tablet) {
		.custom-header {
			left: 0;
			margin-left: 0;
			margin-right: 0;
			position: fixed;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 100000;
		}
	}
}
