// FIX
// make sure the toggle button for mobile top nav
// is visible and above the top nav,

.hamBurger,
.custom-header .hamBurger,
header .container .hamBurger,
header > .headerVerticalHold .container .hamBurger {
	display: inline-block;
	margin: 0;
	position: fixed;
	right: 0;
	top: @informa-bar-height;
	z-index: 100000000;

	.sticky-header & {
		top: 0;
	}
}


// FIX
// mobile close menu button
// to have the same size as the burger bar

.navbar-header .navbar-toggle,
button.navbar-toggle.collapsed.pull-right.mobileNavBtn {
	border: none !important;
	outline: none;
	user-select: none;

	&:focus {
		border: none !important;
	}


	.icon-bar {
		background-color: @white !important;
	}
}

.navbar-header .navbar-toggle,
button.navbar-toggle {
	min-height: @top-nav-toggle-height;
	padding: 18px 20px 17px 16px !important;
	transition: padding @hover-duration;

	&.collapsed {
		padding-left: 18px !important;
		padding-right: 18px !important;
	}
}


// FIX
// hide/show the headercontainer on Mobile only
// hide/show the children in headercontainer except the burger bar

.headercontainer {
	height: 0;
	z-index: 10000000;

	@media (min-width: @breakpoint-desktop) {
		display: none;
	}


	header {
		margin: 0;
		min-height: auto;
		padding: 0;


		.headerVerticalHold {
			display: inline-block;
			height: auto;
			width: auto;
		}
	}


	.container {
		> div {
			display: none;

			&.hamBurger {
				display: inline-block;
			}
		}
	}
}
