// FIX
// making sure the close button on mobile
// is above the top nav

.top-nav__bar,
.top-nav .mainNav .navbar,
.top-nav .mainNav .navbar .container .navbar-element {
	display: flex;
	flex-direction: column;
	top: @informa-bar-height;

	@media (min-width: @breakpoint-tablet) {
		top: auto;
	}

	.sticky-header & {
		top: 0;
	}


	.navbar-nav {
		order: 1;
		width: 100%;
	}


	.navbar-inverse {
		order: 0;
		width: 100%;
	}
}
