.filteredSearch {
    .clearfix();
    margin: 30px 0;
    > div[class*='offset'] {
        margin:0 !important;
    }
    form {
        .input-group {
            select {
                background-size: inherit !important;
            }
            .input-group-btn {
                button {
                    border: 1px solid @base-color;
                    background-color: @base-color !important;
                    color: @white !important;
                    .transition(@transition);
                    i {
                        color: @white !important;
                    }
                    &:focus, &:hover {
                        background-color: transparent !important;
                        color: @base-color !important;
                        .transition(@transition);
                        i {
                            color: @base-color !important;
                        }
                    }
                }
            }
        }
    }
}