/*

File Name: _cta-link-desc.less
Description: CTA - Link, Desc component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */

@cta-link-desc--title-color: @base-color;
@cta-link-desc--title-bg: transparent;
@cta-link-desc--content-bg: transparent;
@cta-link-desc--content-txt-color: @black;
@cta-link-desc--btn-txt-color: @white;
@cta-link-desc--btn-focus-txt-color: @base-color;
@cta-link-desc--btn-bg: @base-color;
@cta-link-desc--btn-focus-bg: transparent;
@cta-link-desc--btn-border-color: @base-color;
@cta-link-desc--btn-focus-border-color: @cta-link-desc--btn-border-color;
@cta-link-desc--link-icon: '\f105';
@cta-link-desc--link-icon-color: @base-color;
@cta-link-desc--link-color: @link;
@cta-link-desc--link-focus-color: darken(@cta-link-desc--link-color,30%);


.highlightText {
    margin:30px 0;
    .informa-highlight-text {
        .informa-highlight-text-title {
            .content-title {
                background-color: @cta-link-desc--title-bg !important;
                color: @cta-link-desc--title-color;
                font-family: @primary-font;
                font-size: @heading-3;
                font-weight:700;
                line-height: @heading-3;
                padding:0;
                margin:0 0 15px;
                border:0 !important;
                .informa-highlight-text-title-arrow-highlight {
                    display:none;
                }
                small {
                    color: @cta-link-desc--title-color !important;
                    font-family: @primary-font;
                    font-size: @heading-3;
                    font-weight:700;
                    line-height: @heading-3;
                    width:100%;
                }
            }
        }
        .informa-highlight-text-content-section {
            background-color: @cta-link-desc--content-bg !important;
            padding:0;
            margin:0;
            min-height:0;
            .hightlgt-cust-height {
                .visitorreg_txt {
                    padding:0;
                    .informa-highlight-text-content {
                        padding:0 !important;
                        color: @cta-link-desc--content-txt-color !important;
                    	font-family: @primary-font;
                        font-size: @base-font-size;
                    }
                }
                .visitorbtn {
                    .btnCustomFixedWidth {
                        color: @cta-link-desc--btn-txt-color;
                        background-color: @cta-link-desc--btn-bg !important;
                        border:1px solid @cta-link-desc--btn-border-color !important;
                        padding:13px 15px !important;
                        font-family: @primary-font;
                        font-size: @base-font-size;
                        font-weight:700;
                        width:auto;
                        height:auto;
                        margin-bottom:0;
                        .transition(@transition);
                        &:hover,
                        &:focus {
                            color: @cta-link-desc--btn-focus-txt-color;
                            border:1px solid @cta-link-desc--btn-focus-border-color !important;
                            background-color: @cta-link-desc--btn-focus-bg !important;
                            .transition(@transition);
                        }
                        &:active,
                        &:visited {
                            color: @cta-link-desc--btn-txt-color;
                            &:hover,
                            &:focus {
                                color: @cta-link-desc--btn-focus-txt-color;
                            }
                        }
                    }
                }
                .informa-highlight-text-links {
                    float:left;
                    width:100%;
                    list-style-image:none;
                    list-style:none;
                    padding:0;
                    margin:15px 0;
                    .informa-highlight-text-link {
                        padding:0 10px 10px 0;
                        margin:0;
                        border:0;
                        &:before {
                            content: @cta-link-desc--link-icon;
                            font-family: @icon-font;
                            font-size: @base-font-size;
                            color: @cta-link-desc--link-icon-color !important;
                            display:inline-block;
                            margin-right:5px;
                        }
                        a {
                            font-family: @primary-font;
                        	font-size: @base-font-size;
                            color: @cta-link-desc--link-color !important;
                            text-decoration:none !important;
                            .transition(@transition);
                            &:hover,
                            &:focus {
                                color: @cta-link-desc--link-focus-color !important;
                                text-decoration:none !important;
                                .transition(@transition);
                            }
                            &:active,
                            &:visited {
                                color: spin(desaturate(@cta-link-desc--link-color,60%),30) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}