/*Website Spacing*/

.container-fluid {
     padding: 0 !important;
}
.header_ipar.iparsys.parsys {
     padding: 0 15px;
}
.header_ipar.iparsys.parsys p {
     padding: 0 0 5px 5px !important;
}
.headercontainer .cover.pull-left {
     width: 100% !important;
}

@media (max-width: 950px) {
    .headercontainer .cover.pull-left {
         width: 96%;
    }
}

.footer-top .row p {
     padding: 0 !important;
}
footer .container.about-informa p {
     padding: 30px 0 !important;
}
p {
     padding: 10px 20px;
     font-size: 14px;
}
.white-bg ul {
     font-size: 14px !important;
     ;
}
/*Blackbar Spacing*/

.hightxt_btn {
     margin-bottom: 0px;
}
.event-overview-btn {
     margin-bottom: 0px;
}


/* Header Quick Nav*/
.container-fluid .titleBar .content-highlight-title-anchor.custom-anchor-title {
     padding: 20px 0px 0px 30px !important;
}
.header_ipar ul.informa-link-list-items {
    background: black;
    padding: 10px;
    margin: 0 !important;
    text-align: left !important;
}
.header_ipar .linklist .informa-link-list-items li.informa-link-list-item {
     float: none !important;
     border:none !important
}
.header_ipar .linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:visited,
.header_ipar .linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:link {
    color: #fff !important;
    text-decoration: none !important;
    padding: 0 4px !important;
    font-weight: normal;
    font-size: 12px;
}
.header_ipar .linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:active,
.header_ipar .linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:hover,
.header_ipar .linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:visited {
     text-decoration: underline !important;
}
.header_ipar .linklist .informa-link-list-items li:last-child {
     float: right !important;
}
.header_ipar .linklist .informa-link-list-items li.informa-link-list-item span.separator {
    display: none !important;
}
/*Button Left Panel Spacing*/

.highlightText .event-overview-btn-col:last-child {
     padding-right: 20px !important;
     padding-left: 30px !important;
}
.side-bar .highlightText .event-overview-btn-col:last-child{
     padding-right: 15px !important;
    padding-left: 15px !important;
     }
/* Navbar li Mobile */

@media only screen and (max-width: 1200px) and (min-width: 769px) {
.informa-header-menu .navbar-inverse .navbar-nav>li>a {
     color: black;
     font-size: 14px;
     font-family: 'PxGroteskRegular', sans-serif !important;
}
}
.text {
     color: #000000;
}
.footer-top .text {
     color: #ffffff;
}
.headercontainer .container {
     width: 100%;
}
/*header .cover div.seperator, header .cover div.right.testAlter {
     display: none;
}*/
header .cover div.right {
    width: 66%;
}
header .cover div.left {
    padding-right: 10px;
    text-align: left;
}
span.topNavAddress {
     color: #000 !important;
    padding: 4px 0 !important;
}
p.calendarDetails,p.mapIconHeader {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    clear: both;
    color: #242424!important
}

header .cover div.right .eventDateContainer .calenderIcon {
    background-image: url(/content/dam/Informa/tisewest/en/2019/global/CRE19TISE-Header-Cal-ICO.png);
    width: 25px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 6px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
header .cover div.right .eventDateContainer .mapIcon {
    background-image: url(/content/dam/Informa/tisewest/en/2019/global/CRE19TISE-Header-Loc-ICO.png);
    width: 25px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 6px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
header .cover div.right .eventDateContainer p.calendarDetails {
    font-size: 20px !important;
}

.row-custom-divider {
     margin-top: 0;
}
.footer-top .row {
     background-color: #000000;
     padding: 40px 40px;
}
footer {
     margin-top: 0;
}
.row.footerNavbg {
     display: none;
}
.footer-top a {
     color: #ffffff;
     font-size: 0.9em;
     text-decoration: none !important;
}
.footer-top a:hover {
     color: #ffffff;
     font-size: 0.9em;
     text-decoration: underline !important;
     }
.footer-top ul.footer-social {
     margin: 0;
     padding: 0;
     list-style-type: none;
}
.footer-top ul.footer-social li {
     display: inline-block;
     overflow: hidden;
     margin: 0;
     padding: 0;
     font-size: 1.7em;
}
.footer-top ul.footer-social li a {
     margin: 0;
     padding: 0;
     float: none;
     margin-right: 10px;
}
.footer-top ul.footer-social li a:hover {
     color: rgba(12, 148, 209, 1);
}
footer .aboutInfo .footerLogo {
     margin-top: 0;
}
footer .nav>li>a:hover {
     color: #ccc !important;
}


/* Panel Main Text*/

@media (min-width: 1500px) {
.callToActionContent p {
     font-size: 18px;
     display: block;
     padding-right: 30% !important;
     color: black;
}
}

@media (max-width: 1500px) {
.callToActionContent p {
     font-size: 13px !important;
     display: block;
     padding-right: 0% !important;
     color: black;
}
}
/*Sponsor Styles*/

.sponsorsandpartners a.homePageCarouselItem {
     height: 80px !important;
}
.sponsor-padding {
     padding: 0 40px;
}
.sponsorsImgItem img {
     max-height: 80px !Important;
}
footer .aboutInfo .footerLogo img {
     width: 150px;
     padding: 20px;
     padding-left: 0px
}
footer .aboutInfo p:last-child {
     margin-bottom: 7px !important;
     padding-top: 35px;
}
a {
     cursor: pointer !important;
     text-decoration: underline !important;
     color: #000000;
     font-weight: bold;
}
a:hover {
     cursor: pointer !important;
     text-decoration: underline !important;
     color: #000000;
     font-weight: bold;
}
.underlinelink a {
     color: black;
     border-bottom: solid 1px lightgrey;
}
/*5050 Split Padding*/

.sponsor-container .img-gallery {
     background-color: transparent;
     padding: 0px 0px !important;
}
/*Background Color Grids*/

.black-bar {
     background: #000000;
}
/* CTa Image Link Dec*/

.grey-bg .contentHeaderImage-container {
     background: #e4e4e4;
}
.white-bk .contentHeaderImage-container {
     background: white;
}
/* CTa Image Link Dec*/

.yellow-bg {
     background: #0c94d1;
}
.black-bg {
     background: #000000;
}
.green-bg {
     background: #78e7d0;
}
.lightgreen-bg {
     background: #dbf7f2 !important;
}
.grey-bg .container, section.column-control.grey-bg.section.cq-Editable-dom {
     background: #e4e4e4;
     padding: 0;
     width: 100%;
}
.white-bg .col-xs-12 {
     background: #ffffff;
     margin: 0 !Important;
     width: 100%;
}
.red-bg>.container-fluid {
     background: #b2322f !important;
}

/* bg-text Padding*/

@media (min-width: 769px) {
.grey-bg .text {
     padding: 10px 35px;
}
.grey-bg h4 {
     padding: 10px 35px;
}
.white-bk h4 {
     padding: 10px 35px;
}
.white-bg p {
     padding: 10px 30px !important;
}
.white-bg .col-md-12 {
     padding: 0 30px;
}
/* Black Testimonail Text Width*/
.container-fluid .informa-leading-text-variation-three .wrapper {
     background-color: transparent;
     text-align: center !important;
     padding: 0 20%;
}
}
/* Sponser Name Header */

.sponsor-container .sponsors-box-heading {
     display: none;
}
.sponsor-container {
     margin: 0 -20px;
}
.nopadding .row-custom-divider {
     margin-top: 0;
     padding: 0 40px;
}
/*Submit Button*/

.col-md-9.col-sm-9.col-xs-11.col-lg-9.custom-submit-btn-div {
     width: 100%;
}
.col-md-9.col-lg-7.col-sm-9.col-xs-11.input-div {
     width: 100%;
}
.bookStandFormOne input[type=button], .bookStandFormOne input[type=submit], .bookStandFormOne input[type=reset], .bookStandFormOne .two-column-form .form-tab-btn input[type=button], .bookStandFormOne .two-column-form .form-tab-btn input[type=submit], .bookStandFormOne .two-column-form .form-tab-btn input[type=reset] {
     min-width: 100%;
     max-width: 100px;
}
.submit.section.cq-Editable-dom {
     width: 100%;
}
/* Forms */

.form-content {
}
.form-fo1-title {
    background-color: #020202;
    color: #fff;
    font-size: 20px;
    padding: 17px 10px 17px 20px;
    border-bottom: 4px solid #0c94d1;
     text-transform: uppercase !important;
}
.form-container.Default.Default, .custom-form-row {
     background-color: transparent;
}
.form-content .container-fluid>.row {
     background-color: #e4e4e4;
}
.form-content .form-fo1-title {
     color: #000000;
     background-color: transparent;
     border-bottom: 0 none;
     padding: 60px 20px 20px;
     text-align: center;
     font-size: 2.2em;
}
.form-content .forms-title-color-fo, label.forms-title-color-fo {
     color: #000000 !important;
}
label.col-md-3.col-sm-3.form-one-control-label.forms-title-color-fo {
     width: 100%;
}
.form-horizontal .form-one-control-label {
     padding-left: 15px;
}

/*form center*/

@media (min-width: 769px) {
.registration-form-two {
     margin-top: 20px;
     padding: 0px 20px !important;
}
.form-one-registration form {
     padding: 0 0 25px 0;
}
.col-sm-6.col-xs-12 .container-fluid {
     padding: 0 !important;
     margin: 0 !important;
}
.form-content .container.paddingZero.marginZero {
     margin: 0 !important;
     width: 100%;
}
.form-content .forms-title-color-fo, label.forms-title-color-fo {
     color: #000000 !important;
}
}
/* Advisory Council */
.advisory-council .contentHighlightContainer h3, /* <<<--- replacement */
.advisory-council #container1 h3 { /* <<<--- ID selector to be replaced */
     background-color: #020202;
     font-size: 20px;
     color: #fff;
     border-bottom: 4px solid #0c94d1;
     height: auto !important;
     padding: 15px !important;
     text-transform: capitalize;
     vertical-align: top !important;
     word-break: break-word !important;
     display: block;
     max-width: 298px;
     margin: 0 auto !important;
}
.advisory-council .callToActionPara {
     background-color: #f5f5f5;
     padding: 0px !important;
     display: block;
     max-width: 298px;
     margin: 0 auto !important;
}
.advisory-council .heading p {
    font-family: Arial;
    font-size: 13px;
    color: #000000;
    line-height: 16px;
    padding: 20px 0 20px 10px;
    width: 100%;
    background-color: #f5f5f5;
    height: auto;
    text-align: left;
}
/*Pull Quote*/

.pullquote .text {
     padding: 40px 0 !important;
}
/* Grid Button*/

.grid .btn-custom:hover>div h4:hover {
     background: #0c94d1 !important;
     color: black !important;
     transition: all 0.5s ease 0s !important;
}
/* Quote Boxes*/

.container-fluid .informa-leading-text-variation-three .wrapper .leadrightpaneltxt {
     font-size: 1.9em !important;
}
/*iFrames*/

.blog-iframe {
     width: 100%;
     min-height: 2500px;
     border: none;
}
/*Sitemap*/
.sitemap-container .sitemap-element, /* <<<--- replacement */
#SiteMap { /* <<<--- ID selector to be replaced */
     font-family: 'PxGroteskRegular', sans-serif !important;
}
.sitemap-container .sitemap-element .mainBox > a, /* <<<--- replacement */
#SiteMap .mainBox > a { /* <<<--- ID selector to be replaced */
    font-family: 'PxGroteskRegular',sans-serif!important;
    font-size: 16px;
    color: #fff;
    font-weight: normal !important;
    text-decoration: none;
}
.sitemap-container .sitemap-element .mainBox, /* <<<--- replacement */
#SiteMap .mainBox { /* <<<--- ID selector to be replaced */
     background-color: #000000;
}
.sitemap-container .sitemap-element ul li a, /* <<<--- replacement */
#SiteMap ul li a { /* <<<--- ID selector to be replaced */
     font-family: 'PxGroteskRegular', sans-serif !important;
     color: #000000;
     font-weight: bold;
     font-size: 14px;
     text-decoration: none !important;
}
.sitemap-container .sitemap-element ul li a:hover, /* <<<--- replacement */
#SiteMap ul li a:hover { /* <<<--- ID selector to be replaced */
     text-decoration: underline !important;
}
.sitemap-container .sitemap-element .subBox, /* <<<--- replacement */
#SiteMap .subBox { /* <<<--- ID selector to be replaced */
     background-color: #CCCCCC;
}
SiteMap .subBox a {
    padding-left: 30px;
    margin: 0;
    display: block;
    padding-top: 8px;
    padding-right: 30px;
    color: #000000;
    text-decoration: none;
}
.sitemap-container .sitemap-element ul.sub-sub-levels .subBox>a, /* <<<--- replacement */
#SiteMap ul.sub-sub-levels .subBox>a { /* <<<--- ID selector to be replaced */
     font-family: 'PxGroteskRegular', sans-serif !important;
     padding-left: 50px;
     font-size: 13px;
}
.sitemap-container .sitemap-element ul.sub-sub-levels .subBox, /* <<<--- replacement */
#SiteMap ul.sub-sub-levels .subBox { /* <<<--- ID selector to be replaced */
    background-color: rgba(206, 206, 206, .3);
    height: auto;
    min-height: 1px;
    padding: 0 5px 2px;
    margin-bottom: 0;
}


/* 2018 redesign */
.informa-image-call-to-action-content-image img.img-responsive, .contentHighlight .contentHighlightContainer img.img-responsive {
	width:100%  !important;
}
.contentHighlightContainer .heading{
    position:relative;
}


.contentHighlightContainer .heading > a{
	position:relative;
    display:block;
    min-height:68px;
    text-decoration:none !important;
}
 #container1 h3 {
    background-color: #0c94d1 !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width:200px;
    font-size:18px;
    width:90%;
    text-align: center;
    bottom:20px;
    border-bottom:0!important;
}

.contentHighlightContainer h3 {
    background-color: #0c94d1 !important;
    position: static;    
    max-width:100%;
    font-size:18px;
    width:100%;
    text-align: center; 
    border-bottom:0!important;
}

.contentHighlightContainer h3:hover, #container1 h3:hover {
    background:#fff!important;
    color:#0c94d1 !important;
}

.bookStandFormOne input[type="button"],
.bookStandFormOne input[type="submit"],
.bookStandFormOne input[type="reset"]{
    min-width: 0;
    max-width: 100px;
}

.black-bar .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-icon-padding {
	margin-top:-25px;    
}

.contactUs .visitors-contact-content .boxes h6:last-child a {
	color:#000; 
}


/* social icons */
.sociallinks .socialIcon ul{float:none !important;width:100%;display:block;text-align:left}
.sociallinks .socialIcon ul li{border-left:0;float:none;display:inline-block;vertical-align:top}
.sociallinks .socialIcon ul li a{padding:0}
.sociallinks .socialIcon ul li a i{width:34px;height:34px;display:block;text-align:center;background-color:#fff;border-radius:4px;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out}
.sociallinks .socialIcon ul li a i:before{font-family:'FontAwesome';font-size:18px;font-style:normal;display:inline-block;color:#0c94d1;line-height:34px}
.sociallinks .socialIcon ul li a i.facebookIcon:before{content:"\f09a"}
.sociallinks .socialIcon ul li a i.twitterIcon:before{content:"\f099"}
.sociallinks .socialIcon ul li a i.youtubeIcon:before{content:"\f167"}
.sociallinks .socialIcon ul li a i.linkedinIcon:before{content:"\f0e1"}
.sociallinks .socialIcon ul li a i.instagramIcon:before{content:"\f16d"}
.sociallinks .socialIcon ul li a i.pinterestIcon:before{content:"\f1d7"}
.sociallinks .socialIcon ul li a:hover i,.sociallinks .socialIcon ul li a:focus i{-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out}
.sociallinks .socialIcon ul li a:hover i:before,.sociallinks .socialIcon ul li a:focus i:before{color:#0c94d1;font-size:14px}
@media(max-width:991px){.sociallinks .socialIcon ul li{float:none;display:inline-block;margin-bottom:3px}
}
@media(max-width:991px){.sociallinks .socialIcon ul{text-align:center}
}

@media (max-width:768px) { 
		.hightxt_btn .highlgt-btn-custom .event-overview-btn-text-padding {
						padding-left: 20px !important;
                    }
                    .formTitleId.form-title-container { margin: 0 15px !important;}         
    }       


 @media (max-width: 767px) and (min-width: 320px) {
.row.form-one-registration.custom-form-row,  .form-horizontal .form-group {
    	margin-right: 0 !important;
    	margin-left: 0px !important;
	}
}