/*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
--->>> header 
————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/

.headercontainer{
    display:none;
}


.top-nav .informa-header-menu .navbar .container{
    width: auto;
    position: relative;
}

.custom-header {
  padding:28px 30px 20px 30px;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-transition: 300ms ease-in-out padding;
  -moz-transition: 300ms ease-in-out padding;
  -ms-transition: 300ms ease-in-out padding;
  -o-transition: 300ms ease-in-out padding;
}

.custom-header .quicklink{
	width:250px;
}

.custom-header .quicklink .event-overview-btn .btn-primary span{
    text-align:center!important;
}

.custom-header .logo img {
	max-width: 241px !important;
	width: 100% !important
}

.custom-header .column {
	display: table-cell;
	width: auto
}
@media(min-width:768px) {
    .custom-header .column:nth-child(2){
        border-left:1px solid #cccccc;
    }
}

.custom-header .column:nth-child(3),
.custom-header .column:nth-child(4) {
	float: right
}

.custom-header .calendar-component {
	padding: 5px 0
}

.custom-header .calendar-component i {
	width: 18px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	margin: 0;
	background: 0;
	font-style: normal;
	font-size: 17px;
	text-align: center;
	color: #0c94d1;
	font-family: FontAwesome;
	background-image: none !important
}

.custom-header .calendar-component .calendarDetails {
	float: none;
	margin: 0;
	line-height: 25px
}

.custom-header .calendar-component .calendarDetails span {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	float: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif
}

.custom-header .calendar-component .calendarDetails i:before {
	content: "\f073";
    margin-left:-5px;
}

.custom-header .calendar-component .mapIconHeader {
	margin: 0;
	float: none;
	line-height: 25px
}

.custom-header .calendar-component .mapIconHeader span {
	font-size: 16px;
	font-weight: 600;
	float: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif
}

.custom-header .calendar-component .mapIconHeader i:before {
	content: "\f041";
	font-size: 19px;
    margin-left:-5px;
}

.custom-header .header-links .eventRightSection ul {
	margin: 0
}

.custom-header .header-links .eventRightSection ul li {
	margin: 0
}

.custom-header .header-links .eventRightSection ul li:hover>ul {
	opacity: 1;
	height: auto;
	-webkit-transition: 500ms all ease-out;
	-moz-transition: 500ms all ease-out;
	-ms-transition: 500ms all ease-out;
	-o-transition: 500ms all ease-out
}

.custom-header .header-links .eventRightSection ul li a {
	padding: 20px 12px !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	margin: 0 !important;
	font-family: 'Open Sans', sans-serif;
	color: #000 !important
}

.custom-header .header-links .eventRightSection ul li ul {
	left: auto;
	right: 0;
	background-color: #fff !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 0 20px;
	width: 220px !important;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	opacity: 0;
	border: none !important;
	height: 0;
	overflow: hidden;
	display: block;
	-webkit-transition: 500ms all ease-out;
	-moz-transition: 500ms all ease-out;
	-ms-transition: 500ms all ease-out;
	-o-transition: 500ms all ease-out
}

.custom-header .header-links .eventRightSection ul li ul li {
	border-left: 0;
	position: relative;
	display: block;
	margin: 0
}

.custom-header .header-links .eventRightSection ul li ul li a {
	padding: 15px !important;
	margin: 0 !important;
	border-bottom: 1px solid #eee;
	display: block;
	font-weight: normal !important;
	text-transform: initial;
	color: #000 !important
}

.custom-header .header-links .eventRightSection ul li ul li a:hover {
	color: #23ace2 !important
}

@media(max-width:991px) {
	.img-placeholder-wrapper {
		max-width: 750px
	}
	.img-placeholder {
		float: right;
		width: 33%
	}
	.img-placeholder .image {
		text-align: right
	}
	.img-placeholder .image img {
		display: inline-block !important
	}
}

@media(max-width:767px) {
	body {
		padding-top: 0 !important
	}
	.custom-header {
		margin-right: -15px !important;
		margin-left: -15px !important;
		padding: 30px !important;
		position: static !important
	}
	.custom-header .column {
		display: block;
		width: 100%
	}
	.custom-header .calendar-component {
		margin: 10px 0
	}
	.custom-header .calendar-component span {
		font-size: 14px !important
	}
	.custom-header .mapIconHeader span {
		font-size: 14px !important
	}
	.custom-header .header-links {
		display: none
	}
	.img-placeholder-wrapper {
		display: none
	}
}

@media(max-width:768px) {
	.navbar-inverse .navbar-toggle{
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1000;
        padding: 15px;
    }

    .navbar-inverse .navbar-nav .hidden-sm{
    	display:none!important;
	}
}

@media (max-width: 1024px){
    .container-fluid {
        margin-top: 0!important;
    }
}


.custom-header .hightxt_btn .highlgt-btn-custom .event-overview-btn-text-padding, .column-control .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom .highlgt-btn-title {
    margin-left:0!important;
    padding-left:0!important;
}

.custom-header .hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding{
    display:none!important;
}

.custom-header .quicklink .event-overview-btn .btn-primary{
	display: inline-block;
    padding:13px!important;
    background-color: #0c94d1!important;
    font-weight:bold;
    border:0!important;
    width:250px;
    margin-top:6px;
}

.custom-header .quicklink .event-overview-btn .btn-primary:hover, .custom-header a.btn.btn-primary.btn-lg.highlgt-btn-custom:hover {
    background-color: #000!important;
}

.custom-header .quicklink .event-overview-btn .btn-primary span.highlgt-btn-title.text-left{
    font-size: 19px!important;
}

@media screen and (max-width: 900px) and (min-width: 320px){
    .event-overview-btn-text-padding {
        height: auto !important;
    }
}

@media screen and (max-width: 1024px) {
    .container-fluid {
        margin-top: 0!important;
    }
}