
/* Title Bar */

.container-fluid .titleBar {
    margin: 0 -15px;
}
.container-fluid .titleBar .content-title {
    background-color: #000000 !important;
    border-bottom: 0 none !important;
    padding: 20px 30px;
    font-size: 2em;
}
span.highlgt-btn-title.text-left {
    font-size: 13px !important;
}

/* SubTitle */

.container-fluid .titleBar .content-highlight-title-anchor.custom-anchor-title {
    background-color: transparent;
    font-size: 20px;
    text-align: left;
    margin: 0;
    font-weight: 600;
}

/* Panel Heading */
.panel-prev {
   background-color: #000000;
   color: #fff;
   font-family: 'PxGroteskRegular', sans-serif !important;
   font-size: 18px;
}
.panel-heading {
    font-size: 30px;
    font-weight: 900;
    padding: 6px;
}
.panel-title {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 20px;
   color: #ffffff;
}
.panel-prev a h4 {
   color: #ffffff;
}
h4.panel-title:hover, h4.panel-title:focus, h4.panel-title:active {
   color: #ffffff;
}
.panel-prev:hover, .panel-prev :focus, .panel-prev :active {
   background-color: #0c94d1;
}
.panel-custom-header a {
   color: #0c94d1;
   font-weight: bold;
}

.panel-body {
   color: #000;
   font-size: 13px;

}
/* Leading Panel */
.leading-panel {
   background-color: #ffffff;
   padding-left: 20px !important;
}


/* Grid Boxes 'Find Out More'*/

.grid .contentHeaderImage-container.imageCalltoaction-main .callToActionContent p {
    color: #ffffff;
    font-size: 2em !important;
    padding: 0 !important;
}

/* Carousel Component */
.home-carousel .carousel.slide .carousel-caption .container {
    display: initial;
}


/* Show Highlight */

.pullquote {}
.pullquote .row {
    background-color: #cccccc
}
.pullquote .text {
    padding: 80px 0;
    margin: 0;
    text-align: center;
    color: #000000;
    font-size: 1.4em;
}
.pullquote p a {
    color: #000000;
    font-size: 0.8em;
    text-decoration: underline;
}

.content-title {
   background-color: #020202;
   border-bottom: 4px solid #0c94d1 !important; 
}

/* CTA Global */
.contentHeaderImage-container {
   background: #f5f5f5;
   padding: 20px 0;
}

.hightxt_btn {}
.hightxt_btn .highlgt-btn-custom:link, .hightxt_btn .highlgt-btn-custom:active, .hightxt_btn .highlgt-btn-custom:hover, .hightxt_btn .highlgt-btn-custom:visited {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}
.hightxt_btn .highlgt-btn-custom .event-overview-btn-text-padding {

   margin-left: 20px;
}

.highlgt-btn-custom { 
    border-bottom: 4px solid #0c94d1;  
}


/*.hightxt_btn .highlgt-btn-custom .event-overview-btn-text-padding .highlgt-btn-title {
    color: #000000;
}*/

.hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding {
    float: left;
}
.hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding img {
    display: none;
}
.hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding:before {
    content: "\f054";
    font-family: "FontAwesome";
    color: #ffffff;
    font-size: 0.9em;
}

/* CTA Image - Title, Desc, Link, Highlight, Button */

.grid {}
.grid .container-fluid>.row>.col-sm-6.col-xs-12 {
    padding: 0;
}
.grid .informa-image-call-to-action {
    display: block;
    overflow: hidden;
}
.grid .informa-image-call-to-action-title {
    margin: 0 -15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.grid .imagecalltoaction h3 {
    border-bottom: 0 none;
    height: auto;
    font-size: 2em;
    background-color: rgba(255, 204, 84, 0.9);
    padding: 10px 60px 10px 30px;
    color: #000000;
}
.grid .contentHeaderImage-container.imageCalltoaction-main {
    display: block;
    overflow: hidden;
    position: relative;
}
.grid .contentHeaderImage-container.imageCalltoaction-main .col-sm-4.paddingZero {
    width: 100%;
    display: block;
    overflow: hidden;
    max-height: 500px;
}
.grid .contentHeaderImage-container .informa-image-call-to-action-content-image img.img-responsive {
    width: 100% !important;
    height: auto !important;
}
.grid .contentHeaderImage-container.imageCalltoaction-main .col-md-8.col-xs-12.col-sm-8.col-lg-8 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
}
.grid .contentHeaderImage-container.imageCalltoaction-main .callToActionContent p {
    color: #ffffff;
    font-size: 2em !important;
}
.grid .btn-custom:link, .grid .btn-custom:active, .grid .btn-custom:hover, .grid .btn-custom:visited {
    background-color: transparent;
    border: 1px solid #ffffff;
}
.grid .HomePageBtn {
    margin: 0;
}
.grid .imageCalltoaction-main .event-overview-btn-title {
    color: #ffffff;
    font-weight: bold;
}
.grid .HomePageBtnArrow {
    display: none;
}

/* Testimonial */

.container-fluid .leadingText {
    display: block;
    overflow: hidden;
    margin: 0 -15px;
}
.container-fluid .informa-leading-text-variation-three {
    margin: 0;
    padding: 50px;
    background-color: #1d1d1b;
}
.container-fluid .informa-leading-text-variation-three .wrapper {
    background-color: transparent;
}
.container-fluid .informa-leading-text-variation-three .wrapper .leadrightpaneltxt {
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
}
.container-fluid .informa-leading-text-variation-three .wrapper .leadrightpaneltxt em {
    font-style: normal;
}
.container-fluid .informa-leading-text-variation-three .wrapper .leadrightpaneltxt:before, .leadrightpaneltxt:after {
    content: '\"';
}
.container-fluid .informa-leading-text-variation-three .wrapper .leadrightpanelquote {
    color: #ffffff;
    text-align: center;
    padding: 0;
    font-size: 1em;
    font-style: normal;
}

/* Highlighted Testimonial */

.quote-highlight .container-fluid .informa-leading-text-variation-three {
    background-color: #0c94d1;
}
.quote-highlight-green .container-fluid .informa-leading-text-variation-three {
    background-color: #78e7d0;
    color: black;
}
.quote-highlight .container-fluid .informa-leading-text-variation-three .wrapper .leadrightpaneltxt, .quote-highlight .container-fluid .informa-leading-text-variation-three .wrapper .leadrightpanelquote {
    color: #000000;
}

/* Sponsor */

.sponsor-container {
    margin: 0 -15px;
}
.sponsor-container .img-gallery {
    background-color: transparent;
}
.sponsor-container .sponsors-box-heading {
    color: #000000;
    font-size: 2em;
}

/* Link List */

.linklist {}
.linklist .informa-link-list-items {
    padding-left: 0 !important;
    text-align: center;
    list-style-type: none;
    width: 100%;
}
.linklist .informa-link-list-items li.informa-link-list-item {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
}
.linklist .informa-link-list-items li.informa-link-list-item span.separator {
    display: none;
}
.linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:link,
.linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:active,
.linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:hover,
.linklist .informa-link-list-items li.informa-link-list-item a.informa-link-list-link:visited {
    color: #000000 !important;
    text-decoration: underline !important;
}

/* background for a column control */

.red {
    background-color: #e20513;
}

/* Slider Dots */

.slider-indicators {
    position: absolute;
    bottom: auto;
    left: auto;
    z-index: 15;
    width: auto;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
    right: 58px!important;
    top: -15px;
}

/* Button Classes */

.highlgt-btn-title {
    color: #ffffff;
}
a.btn.btn-primary.btn-lg.highlgt-btn-custom:hover {
    transition: all 0.5s ease 0s !important;
    background-color: #000 !important;
}

/* Yellow Button */

.yellow-button .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom {
    background-color: #0c94d1;
    border: 1px solid #000000;
}

/* Black Button */

.black-button .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding:before {
    color: white;
}
.black-button .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom .highlgt-btn-title {
    color: white;
}
.black-button .row .section.highlightText.clearfix:hover .hightxt_btn .highlgt-btn-custom .highlgt-btn-title {
    color: black;
}
.black-button .row .section.highlightText.clearfix:hover .hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding:before {
    color: black;
}
.black-button .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom {
    background-color: Black;
    border: 2px solid #ffffff;
    margin: 10px 0px;
}

/* Grey Button */

.grey-button .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom {
    background-color: #cccccc;
    border: 1px solid #000000;
}
section.column-control.grey-button.section.cq-Editable-dom {
    margin: 20px !Important;
}

/* All Bar Styles */

.column-control .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom .highlgt-btn-title {
    width: 100% !important;
    padding-left: 20px;
}
.section.highlightText.clearfix {
    margin: 0 !important;
}

/* Yellow Classes - Yellow Bar*/

.yellow-bar .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom {
    background-color: #0c94d1;
    border: none;
}
.yellow-bar .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom:hover {
    background-color: white !important;
    border: none;
    color: white !important;
}
.yellow-bar .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding:before {
    color: black;
}
.yellow-bar .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom .highlgt-btn-title {
    color: black;
    font-size: 22px !important;
}
.yellow-bar .highlightText .event-overview-btn-col:last-child {
    padding: 0 !important;
    box-sizing: border-box;
}
.yellow-bar>.container-fluid .row.row-custom-divider.spacingtop-20px.Default {
    padding: 0 !important;
    margin: 0 !important;
}

/* Button Classes - Black Bar*/


/* Black Bar Text to Arrow Padding */

.black-bar .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom {
    background-color: Black;
    border: none;
}
.black-bar .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding:before {
    color: white;
}
.black-bar .row .section.highlightText.clearfix .hightxt_btn .highlgt-btn-custom .highlgt-btn-title {
    color: white;
    font-size: 22px !important;
}
.black-bar .row .section.highlightText.clearfix:hover .hightxt_btn .highlgt-btn-custom .highlgt-btn-title {
    color: black;
}
.black-bar .row .section.highlightText.clearfix:hover .hightxt_btn .highlgt-btn-custom .highlgt-btn-icon-padding:before {
    color: black;
}
.black-bar .highlightText .event-overview-btn-col:last-child {
    padding: 0 !important;
    box-sizing: border-box;
}
.black-bar>.container-fluid .row.row-custom-divider.spacingtop-20px.Default {
    padding: 0 !important;
    margin: 0 !important;
}
section.column-control.section.CTArow.black-bar.cq-Editable-dom>.container-fluid {
    padding: 0 !important;
}

/* No Padding */

.nopadding .row-custom-divider .col-sm-6.col-xs-12 {
    padding: 0 !important;
}

/* White Bar Inside Carousel*/

.hidebar .container-fluid.paddingZero.marginZero .row.Default.Default .col-xs-12 .heroParallax.section.cq-Editable-dom .row .col-md-12.paddingZero.Default.Default .carousel-inner .carousel.slide .carousel-caption .container {
    display: none !important;
}

/* CTA Image, Title, Desc, Link */

.imageCalltoaction-main .informa-image-call-to-action-content-subtitle {
    font-size: 24px;
    margin: 20px 0 !important;
}
.imagecalltoaction .informa-image-call-to-action-content-subtitle {
    font-size: 18px !important;
    font-weight: 900;
    padding: 0px 17px;
}
.callToActionContent p {
    font-size: 13px;
    display: block;
    color: black;
}

.imagecalltoaction h3{
   border-bottom: 4px solid #0c94d1;

}
p.informa-image-call-to-action-content-bottom-text.marginBottomCalltoAct {
    display: none;
}
a.btn.btn-primary.btn-lg.btn-custom {
    
    margin-left: 20px; 
    color:#0c94d1 !important;
    transition: all 0.5s ease 0s !important;
    text-decoration: none !important;
}
a.btn.btn-primary.btn-lg.btn-custom:hover {
    background-color: #0c94d1 !important;
    color:#fff !important;
}
.HomePageBtnArrow {
    float: left;
}

/*Button Text*/

 

.imageCalltoaction-main .event-overview-btn-title {
word-wrap: break-word;
   width: auto;
   color: #fff;
   font-size: 16px;
   padding-left: 0 !important;
   line-height: 38px;
}
/*@media (max-width: 769px) {
    .col-xs-11.HomePageBtn.paddingZero {
         padding: 10px 20px !important;
    }
}*/

a.btn.btn-primary.btn-lg.btn-custom, .btn-custom  {
    transition: .5 ease all;
    background: #000000 !important;
    /* background: #0c94d1 !important; */
    border:1px solid #fff !important;
}

.bg-blue {
  background: #0c94d1 !important;
}

.bg-black {
  background: #000000 !important;
}

/*Arrow Icon*/


a.btn.btn-primary.btn-lg.btn-custom img {
    display: none;
}
.HomePageBtnArrow:before {
    content: "\f054";
    font-family: "FontAwesome";
    color: #ffffff;
    font-size: 0.9em;
    position: absolute;
    left: 40px;
    top: 9px;
}
/* Tab - Horizontal */

.travel-nav-container {
   background-color: #fff;
   padding: 0 10px 0 0;
   margin-bottom: 65px;
   margin-top: 30px
}

ul#myTab_tab_panel-par-col-1-column_control {
   margin: 0
}

.informa-tab-panel-content.tab-content.hidden-xs {
   border: 1px solid #000;
   padding: 0 15px 0 0
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
   color: #000!important;
   cursor: default;
   background-color: #fff;
   border: 0;
   border-bottom: 2px solid #fff!important;
   border-top: 4px solid #0c94d1;
   border-radius: 0;
   text-decoration: none!important
}

.travel-nav-tabs>li>a {
   font-size: 20px;
   color: #fff;
   border-radius: 0;
   padding: 0!important;
   background-color: #020202;
   height: 90px;
   border: 0;
   width: 190px;
   text-decoration: none!important
}

.travel-nav-tabs>li>a:hover {
   color: #fff !important;
   background-color: #0c94d1 !important;
   border-top: none !important
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li>a:hover span {
   color: #fff
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover span {
   color: #fff
}

/* Picture Panels */

.grid .imagecalltoaction h3 {
    border-bottom: 0 none;
    height: auto;
    font-size: 2.5em;
    background-color: transparent;
    padding: 20px 60px 10px 55px;
    color: white;
}
.grid a.btn.btn-primary.btn-lg.btn-custom {
    background-color: transparent;
    border: 2px solid white;
    margin-left: 1px;
    padding: 12px 0px 0px 0px;
   transition: all 0.5s ease 0s !important;
}
.grid a.btn.btn-primary.btn-lg.btn-custom:hover {
    background-color: #0c94d1;
}
/* Google Map*/
.travel-event-date {
    font-family: 'PxGroteskRegular', sans-serif !important;
   color: #000;
   font-size: 20px;
   padding: 1px 0 0 3px;
   margin-bottom: 0;
   right: 18px;
   position: relative;
}
span.event-informa {
   color: #000;
   float: left;
   margin: -38px 0 0 0;
   display: block;
   
    font-family: 'PxGroteskRegular', sans-serif !important;
}

.travel-event-venue {
   margin-top: 3px;
   color: #000;
   font-size: 16px;
   right: 14px;
   position: relative;
   margin-bottom: 20px;
   float: left;
   margin: 31px 0 0 0
}

.travel-btn-custom,.travel-btn-custom:focus {
   color: #fff;
   background: #000000;
   float: left;
   display: table
}

.travel-btn-custom:hover {
   color: #fff;
   background-color: #0c94d1;
   border-color: transparent
}

/*Youtube*/

.media h3 {
   background-color: #020202;
   font-family: Rockwell;
   font-size: 20px;
   color: #fff;
   margin: 0;
   border-bottom: 4px solid #0c94d1;
   height: auto!important;
   padding: 15px!important;
   text-transform: capitalize;
   vertical-align: top!important;
   word-break: break-word!important;
}
/*List - Tabular View*/
.tabList li:nth-child(odd), .tabList li:nth-child(even) {
   background: 0;
   min-height: 40px;
   padding: 0;
   width: 100%;
   margin-bottom: 1px;
}
.listheading {
   background-color: #ffffff;
   padding-bottom: 20px;
}
.listheading .list.heading.nav {
   background: none repeat scroll 0 0 #000000;
   max-height: initial !important;
}
ul li.tr.list-item-rows {
   width: 100%;
   clear: both;
   color: #000000;
   font-size: 16px;
    font-family: 'PxGroteskRegular', sans-serif !important;
}
li.tr.list-item-rows:nth-child(odd) {
   background: #f1f1f1;
}
.listheading .list.heading ul.list li a {
   color: #ffffff;
    font-family: 'PxGroteskRegular', sans-serif !important;
   font-size: 20px;
   text-decoration: none !important;
}
.listheading .listpage li a {
   font-size: 14px;
    font-family: 'PxGroteskRegular', sans-serif !important;
   color: #000000;
}
.listheading .listpage li a:hover {
   color: #0c94d1 !important;
}

.divtable .th, .divtable .td {
   padding: 5px 10px;
   float: left;
   word-wrap: break-word;
    font-size: 14px;
}
div.callToActionPara {
   word-wrap: break-word;
   font-family: Arial;
   background-color: #eaeaea!important;
   padding: 20px !important;
}
.callToActionPara p {
   background: transparent !important;
   color:#000;
   padding:0!important;
}


/* List View*/
.tabList li {
    overflow:hidden;
    font-family: 'Roboto', sans-serif  !important;
    color:#002b45;
    font-size:13px;
    border-bottom: 1px dotted rgba(56, 56, 56, 0.2);
}
    
a.listViewAnchor {
    color: #000000 !important;
    text-decoration: none !important;
    display: block;
   overflow: Hidden;
   padding: 6px 4px;
   border: none !important;
   background: none !important;
   font-size: 18px;
   font-weight: bold;
}

a.listViewAnchor:hover {
   background-color: #0c94d1 !important;
   color: #ffffff !important;
}

/* kill FA icon before 
.listview-variant-1 .firstrow .heading h2.heading:before {
  font-family: FontAwesome;
  content: "\f0c1";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
    width: 20px;
    font-size: 18px;
}*/

.listview-variant-1 .firstrow .heading h2.heading {
    padding: 0 !important;
    background: none;
    color: #505153;
    display: block;
    font-weight: 600;
    overflow: hidden;
    font-size: 26px;
    margin: 20px 0 8px 0 !important;
}

.listview-variant-1 .row {
    margin-left: 0;
    margin-right: 0
}

.listview-variant-1 .row .col-md-12.col-sm-12 {
    padding: 0
}

.listview-variant-1 .firstrow {
    background-color: transparent !important
}

.listview-variant-1 .firstrow .tab-containertwo {
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent
}

.listview-variant-1 .tab-containertwo .tab-content {
    padding: 0
}

.listview-variant-1 .tab-content>.tab-pane {
    padding: 0 !important
}
.listview-variant-1 .listViewTab1 ul.tabList, /* <<<--- replacement */
.listview-variant-1 #TabOne ul.tabList { /* <<<--- ID selector to be replaced */
    padding: 0;
    margin: 0
}

/*.listview-variant-1 li:last-child a.listViewAnchor {
    background: #0055a5;
}

.listview-variant-1 li:last-child a.listViewAnchor:hover {
    background: #004687;
    text-decoration: none !important;
}*/

.listview-variant-1 .tab-content li .item {
    padding: 0;
    word-break: break-word;
}

.listview-variant-1.section span.col-md-3.col-sm-12.col-xs-12.item {
    width: 100% !important;
    padding: 0 !important;
}

.listview-variant-1 .tab-containertwo .tab-content {
    margin: 0 !important;
}

.listview-variant-1 .firstrow .tab-containertwo,
.listview-variant-1 .listViewTab1 ul.tabList, /* <<<--- replacement */
.listview-variant-1 #TabOne ul.tabList, /* <<<--- ID selector to be replaced */
.listview-variant-1 .tab-content>.tab-pane {
    margin: 0 !important;
    padding-bottom: 0 !important;
}

.listview-variant-1 ul.tabList {
    margin: 0;
    padding: 0;
}
.tabList li {
   overflow: hidden;
   font-family: 'Roboto',sans-serif!important;
   color: #002b45;
   font-size: 13px;
   border-bottom: 1px dotted rgba(56,56,56,.2)
}

.listview-variant-1 .tab-content li .item:before {
   content: ">";
   display: block;
   width: 12px;
   right: 8px;
   color: #0C94D1;
   font-weight: bold;
   float: left; 
   padding: 8px 0
}

.listview-variant-1 .firstrow .heading h2.heading {
   padding: 0!important;
   background: 0;
   color: #505153;
   display: block;
   font-weight: 600;
   overflow: hidden;
   font-size: 26px;
   margin: 20px 0 8px 0!important
}

.listview-variant-1 .row {
   margin-left: 0;
   margin-right: 0
}

.listview-variant-1 .row .col-md-12.col-sm-12 {
   padding: 0
}

.listview-variant-1 .firstrow {
   background-color: transparent!important
}

.listview-variant-1 .firstrow .tab-containertwo {
   margin-top: 0;
   margin-bottom: 0;
   background-color: transparent
}

.listview-variant-1 .tab-containertwo .tab-content {
   padding: 0
}

.listview-variant-1 .tab-content>.tab-pane {
   padding: 0!important
}

.listview-variant-1 #TabOne ul.tabList { /* <<<--- ID selector to be replaced */
   padding: 0;
   margin: 0
}

.listview-variant-1 .tab-content li .item {
   padding: 0;
   word-break: break-word
}

.listview-variant-1 .tab-containertwo .tab-content {
   margin: 0!important
}

.listview-variant-1 .firstrow .tab-containertwo,
.listview-variant-1 .listViewTab1 ul.tabList, /* <<<--- replacement */
.listview-variant-1 #TabOne ul.tabList, /* <<<--- ID selector to be replaced */
.listview-variant-1 .tab-content>.tab-pane {
   margin: 0!important;
   padding-bottom: 0!important
}

.listview-variant-1 ul.tabList {
   margin: 0;
   padding: 0
}
span.col-md-3.col-sm-3.col-xs-6.item {
   width: 100%;
   display: block;
   overflow: hidden;
   margin: 0!important;
   padding: 0!important;
   line-height: 1.2em;
   font-size: 1.1em
}

span.col-md-1.col-sm-1.col-xs-6.image {
   display: none
}




/* Hero paralax */ 

.heroParallax{
   margin:0 -15px 0 0;
}

.heroParallax .carousel-control{
   top:45%!important;
}
.heroParallax .heroParallax-element,.heroParallax #mainContent{
   margin:0!important;
}
.heroParallax .heroParallax-element .carousel,.heroParallax #mainContent .carousel{
   margin:0
}
.heroParallax .heroParallax-element .carousel .carousel-indicators,.heroParallax #mainContent .carousel .carousel-indicators{
   margin:0;
   height:auto
}
@media (min-width:770px){
   .heroParallax .heroParallax-element .carousel .carousel-inner,.heroParallax #mainContent .carousel .carousel-inner{
       height:auto
   }
   .heroParallax .heroParallax-element .carousel .carousel-inner>.item a img,.heroParallax #mainContent .carousel .carousel-inner>.item a img{
       height:100%
   }
   .heroParallax .heroParallax-element .carousel .carousel-inner>.item img,.heroParallax #mainContent .carousel .carousel-inner>.item img{
       height:auto!important;
       min-height:390px!important;
       display:block;
       overflow:hidden;
   }
}
.heroParallax .heroParallax-element .carousel .carousel-inner .container,.heroParallax #mainContent .carousel .carousel-inner .container{
   text-align:left;
   margin:0!important;
   background-color: rgba(0, 0, 0, 0.4);
   padding:20px;
   width:auto;
}
.heroParallax .heroParallax-element .carousel .carousel-caption,.heroParallax #mainContent .carousel .carousel-caption{
   top:0!important;
   width:100%!important;
   left:0!important;
   position:absolute;
   text-shadow:none!important;
   height:100%;
   padding:15px;
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   right:auto;
   bottom:auto;
   text-align:center
}
.heroParallax .heroParallax-element .carousel .carousel-caption h1,.heroParallax #mainContent .carousel .carousel-caption h1,.heroParallax .heroParallax-element .carousel .carousel-caption h2,.heroParallax #mainContent .carousel .carousel-caption h2,.heroParallax .heroParallax-element .carousel .carousel-caption h3,.heroParallax #mainContent .carousel .carousel-caption h3{
   margin:0
}
.heroParallax .heroParallax-element .carousel .carousel-caption h1,.heroParallax #mainContent .carousel .carousel-caption h1,.heroParallax .heroParallax-element .carousel .carousel-caption h2,.heroParallax #mainContent .carousel .carousel-caption h2{
   font-size:3.0em;
   text-transform:none;
   font-family:'Open Sans',sans-serif
}
.heroParallax .heroParallax-element .carousel .carousel-caption h3,.heroParallax #mainContent .carousel .carousel-caption h3{
   font-size:1.5em
}
.heroParallax .heroParallax-element .carousel .carousel-caption h2,.heroParallax #mainContent .carousel .carousel-caption h2,.heroParallax .heroParallax-element .carousel .carousel-caption h3,.heroParallax #mainContent .carousel .carousel-caption h3{
   line-height:normal;
   color:#fff!important;
   font-family:'Open Sans',sans-serif
}
.heroParallax .heroParallax-element .carousel .carousel-caption p,.heroParallax #mainContent .carousel .carousel-caption p{
   font-size:1.2em;
   line-height:1.5em;
   font-family:'Open Sans',sans-serif
}
.heroParallax .heroParallax-element .carousel .carousel-calltoAction,.heroParallax #mainContent .carousel .carousel-calltoAction{
   margin:25px 0 0;
   text-align:center
}
.heroParallax .heroParallax-element .carousel .carousel-calltoAction a,.heroParallax #mainContent .carousel .carousel-calltoAction a{
   display:inline-block;
   text-decoration:none!important
}
.heroParallax .heroParallax-element .carousel .carousel-calltoAction button,.heroParallax #mainContent .carousel .carousel-calltoAction button{
   text-transform:capitalize;
   background-color:#0c94d1;
   font-size:1.2em;
   color:#fff;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -moz-background-clip:padding;
   -webkit-background-clip:padding-box;
   background-clip:padding-box;
   border:0;
   padding:.8em 2em;
   font-weight:bold;
   -webkit-transition:all ease 300ms;
   -moz-transition:all ease 300ms;
   -ms-transition:all ease 300ms;
   -o-transition:all ease 300ms;
   margin:auto;
   display:block
}
.heroParallax .heroParallax-element .carousel .carousel-calltoAction button:hover,.heroParallax #mainContent .carousel .carousel-calltoAction button:hover,.heroParallax .heroParallax-element .carousel .carousel-calltoAction button:focus,.heroParallax #mainContent .carousel .carousel-calltoAction button:focus{
   color:#0c94d1!important;
   background-color:#ffffff!important;
   -webkit-transition:all ease 300ms;
   -moz-transition:all ease 300ms;
   -ms-transition:all ease 300ms;
   -o-transition:all ease 300ms
}
@media (max-width:1199px){
   .heroParallax .carousel-inner .item .carousel-caption .container{
       max-width:100%
   }
   .heroParallax .carousel-inner .item .carousel-caption h1,.heroParallax .carousel-inner .item .carousel-caption h2{
       font-size:3em!important
   }
}
@media (max-width:991px){
   .heroParallax .carousel-inner .item .carousel-caption h2,.heroParallax .carousel-inner .item .carousel-caption p,.heroParallax .carousel-inner .item .carousel-caption h3{
       width:100%!important
   }
}
@media (max-width:769px){
   .heroParallax .carousel-inner .item img{
       height:350px;
       object-fit:cover
   }
   .heroParallax .carousel-inner .item .carousel-caption{
       font-size:15px!important
   }
   .heroParallax .carousel-inner .item .carousel-caption br{
       display:inline!important
   }
   .heroParallax .carousel-inner .item .carousel-caption h1,.heroParallax .carousel-inner .item .carousel-caption h2{
       font-size:2em!important
   }
   .heroParallax .carousel-inner .item .carousel-caption p{
       font-size:15px!important
   }
   .heroParallax .carousel-inner .item .carousel-caption button{
       padding:15px!important
   }
}




/*  Text Carousel  */

.heroParallaxText{
   background:#0c94d1;
   margin:0 -15px;
   padding:4vw 30px;
}
.heroParallaxText p{
   color:#ffffff;
   max-width:950px;
   margin:auto;
   font-size:18px;
   font-family: 'PxGroteskRegular', sans-serif !important;
}

.heroParallaxText .slide .carousel-inner .item {
    transition-property: opacity;
}
.heroParallaxText .slide .carousel-inner .item, .heroParallaxText .slide .carousel-inner .active.left, .heroParallaxText .slide .carousel-inner .active.right {
    opacity: 0;
}
.heroParallaxText .slide .carousel-inner .active, .heroParallaxText .slide .carousel-inner .next.left, .heroParallaxText .slide .carousel-inner .prev.right {
    opacity: 1;
}
.heroParallaxText .slide .carousel-inner .next, .heroParallaxText .slide .carousel-inner .prev, .heroParallaxText .slide .carousel-inner .active.left, .heroParallaxText .slide .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0,0,0);
}
.heroParallaxText .slide .carousel-control {
    z-index: 2;
}



/* new style for components */
.list-styles li a { font-family: 'PxGroteskRegular',sans-serif !important; color:#0c94d1 !important; text-decoration:none !important; }
.list-styles li a:hover { font-family: 'PxGroteskRegular',sans-serif !important; color:#fff !important; text-decoration:none !important;}
.highlightText .row{padding:0;min-height:0;background-color:transparent}
.highlightText h4.content-title{background-color:#000;border-bottom:none !important;color:#fff}
.highlightText h4.content-title img{display:none}
.highlightText ul,.highlightText .list-styles{list-style:none;padding:0;margin:0}
.highlightText ul li,.highlightText .list-styles li{list-style:none;padding:0;margin:0 0 3px;line-height:1;border:1px solid #ebebeb !important;position:relative;z-index:0;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out}
.highlightText ul li a,.highlightText .list-styles li a{padding:15px;display:block;text-decoration:none;font-size:15px;font-weight:700 !important;color:#0c94d1;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out}
.highlightText ul li a:hover,.highlightText .list-styles li a:hover,.highlightText ul li a:focus,.highlightText .list-styles li a:focus{color:#fff !important;background-color:#0c94d1;text-decoration:none !important;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out}
.highlightText ul li a:visited,.highlightText .list-styles li a:visited,.highlightText ul li a:active,.highlightText .list-styles li a:active{color:#0c94d1}
.highlightText ul li:after,.highlightText .list-styles li:after{content:'';position:absolute;top:0;left:0;width:5px;height:0;background-color:#464748;z-index:2;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out}
.highlightText ul li:hover,.highlightText .list-styles li:hover,.highlightText ul li:focus,.highlightText .list-styles li:focus{border-color:#0c94d1 !important;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out}
.highlightText ul li:hover:after,.highlightText .list-styles li:hover:after,.highlightText ul li:focus:after,.highlightText .list-styles li:focus:after{height:100%;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out}
div.callToActionPara{background-color:transparent;border:solid 1px #eee}
div.callToActionPara p{background-color:transparent}
.leadingText .leading-testimonial{margin-top:0}
.leadingText .leading-testimonial .wrapper{background-color:transparent;text-align:center;width:auto;margin:0 auto}
.leadingText .leading-testimonial .wrapper .leadrightpaneltxt{color:#222;font-family:'Open Sans',sans-serif;font-weight:400;font-size:15px;margin-top:20px;margin-bottom:10px;color:#0c94d1;line-height:1.5;margin:0}
.leadingText .leading-testimonial .wrapper .leadrightpaneltxt em{font-weight:400;font-style:normal}
@media(max-width:768px){.leadingText .leading-testimonial .wrapper .leadrightpaneltxt{padding-left:0}
}
.leadingText .leading-testimonial .wrapper .leadrightpanelquote{font-style:normal;color:#222;font-family:'Open Sans',sans-serif;font-weight:400;font-size:15px;margin-top:10px;color:#000}
@media(max-width:768px){.leadingText .leading-testimonial .wrapper .leadrightpanelquote{padding-left:0}
}
[class*='strip'] .youtube-video{width:75%;margin:0 auto}
@media(max-width:768px){[class*='strip'] .youtube-video{width:100%}
}
.youtube-video .media-body .media-heading{border-bottom:0;background:transparent;color:#000;font-family:'Open Sans',sans-serif;line-height:17px;font-size:15px;font-weight:500;padding:10px 0 !important}
.youtube-video .videoHolder{min-height:165px !important;border:0;position:relative}
@media(max-width:991px){.youtube-video .videoHolder{min-height:130px !important}
}
@media(max-width:768px){.youtube-video .videoHolder{min-height:350px !important}
}
@media(max-width:480px){.youtube-video .videoHolder{min-height:250px !important}
}
@media(max-width:360px){.youtube-video .videoHolder{min-height:200px !important}
}
.youtube-video .videoHolder:after{content:'\f16a';font-family:'FontAwesome';font-size:39px;position:absolute;z-index:9;color:#eee;left:40%;top:30%}
@media(max-width:769px){.youtube-video .videoHolder:after{top:50%;left:50%;margin-left:-20px;margin-top:-40px}
}
.youtube-video .playTab{display:none}
@media(min-width:320px) and (max-width:769px){.youtube-video .poster{height:100% !important;max-height:100%;max-width:100% !important}
}
@media(max-width:1024px){.youtube-video .mediacomponent1{padding:0 15px !important}
}
.video-list .youtube-video .media-body .media-heading{min-height:84px}
.travel-btn-custom{font-family:'Open Sans',sans-serif;top:10px;left:-15px;background-color:#0c94d1}
.travel-btn-custom:hover,.travel-btn-custom:active,.travel-btn-custom:visited,.travel-btn-custom:link,.travel-btn-custom:active:hover{background-color:#0c94d1;color:#fff !important}

.anchorLinkElement .custom-row-anchor .text h2,.anchorLinkElement .custom-row-anchor .text p,.anchorLinkElement .custom-row-anchor .text h2 b,.anchorLinkElement .custom-row-anchor .text b,.anchorLinkElement .custom-row-anchor .text ul li,.anchorLinkElement .custom-row-anchor .text ol li,.anchorLinkElement .custom-row-anchor .text em,.anchorLinkElement .custom-row-anchor .text h1,.anchorLinkElement .custom-row-anchor .text h2,.anchorLinkElement .custom-row-anchor .text h3,.anchorLinkElement .custom-row-anchor .text h4,.anchorLinkElement .custom-row-anchor .text h5,.anchorLinkElement .custom-row-anchor .text h6,.anchorLinkElement .custom-row-anchor .text strong,.anchorLinkElement .custom-row-anchor .text b,.anchorLinkElement .custom-row-anchor .text u{color:#000}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li{border:solid 2px #fff;padding:0;z-index:1}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li a{background:#0c94d1;color:#fff;font-family:'Open Sans',sans-serif;font-weight:900;height:auto;text-transform:uppercase;font-size:17px;border:0}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li a span{height:50px}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a{background:#eee !important;color:#0c94d1 !important;border:none !important}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a span{color:#0c94d1;height:52px}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li:hover{background:#eee}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li:hover>a{background:#0c94d1;border:0}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li:hover>a span{color:#000;height:50px}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li:hover>a:focus{border:0}
.anchorLinkElement .tab-collapse-nav-tabs-anchor li.active{border-bottom:0}
.anchorLinkElement .tab-collapse-nav-tabs-anchor{border-bottom:0;margin-bottom:22px;position:absolute;top:-54px;left:-2px}
.anchorLinkElement .news-back-top{margin-right:0;margin-bottom:0}
.tab-collapse-nav-container-anchor{background:#eee;border:solid 2px #fff;position:relative;padding-bottom:25px}
.anchorLinkElement .row-divider-anchor{background:#eee;margin:0 15px;padding:0;border:0}
.anchorLinkElement .back-to-top a{color:#0c94d1 !important;text-transform:uppercase;font-weight:900;text-decoration:none;font-size:18px}
.anchorLinkElement .back-to-top img{display:none}
.anchorLinkElement .back-to-top:after{content:'\f077';color:#0c94d1;font-size:18px;right:0;padding-right:8px;font-family:'FontAwesome'}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a,.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a:focus,.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a:hover{border:none !important}
.custom-row-anchor{margin-left:0;margin-right:0;margin-top:40px}
.custom-row-anchor .text p{padding:0 15px}
.custom-row-anchor .titleBar h4.informa-title-bar{font-size:40px;font-weight:900;width:max-content;margin:0 auto;padding:0;color:#fff;text-transform:uppercase;font-family:'Open Sans',sans-serif}
.datepicker-days{background:#000 !important}
.datepicker table tr td.day:hover,.datepicker table tr td.day.focused{color:#000 !important}
 
.btnCustomFixedWidth{border:solid 2px #fff !important;background:#0c94d1;padding:18px 20px 18px 20px !important;margin:0 auto;display:block;max-width:350px;color:#fff !important;font-weight:900;height:auto !important;text-align:center !important;font-family:'Open Sans',sans-serif !important;width:100% !important;font-size:18px;text-transform:uppercase;-webkit-transition:300ms all ease-out;-moz-transition:300ms all ease-out;-ms-transition:300ms all ease-out;-o-transition:300ms all ease-out}
.btnCustomFixedWidth:hover{-webkit-transition:300ms all ease-out;-moz-transition:300ms all ease-out;-ms-transition:300ms all ease-out;-o-transition:300ms all ease-out;background:#000 !important;color:#fff !important}
@media(max-width:769px){.anchorLinkElement .tab-collapse-nav-tabs-anchor{position:relative;top:0;left:0}
.anchorLinkElement .tab-collapse-nav-tabs-anchor li{border:0;margin-bottom:2px}
.anchorLinkElement .tab-collapse-nav-tabs-anchor li a{padding:0 !important}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li>a{width:100%;margin:0}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a span{color:#fff;height:50px}
.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a,.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a:focus,.anchorLinkElement .tab-collapse-nav-tabs-anchor>li.active>a:hover{color:#fff}
}
.anchorLinks{margin-top:50px}
.vertical-tab-panel .container{width:100%}
.tabstyle .nav-tabs>li.active>a,.tab-collapse-nav-tabs>li.active>a:focus,.tab-collapse-nav-tabs>li.active>a:hover{color:#0c94d1;cursor:default;border-top:0 solid #0c94d1}
.vertical-tab-panel .tabstyle .nav-tabs>li.active{border-top:4px solid #0c94d1;background:#eee}
.highlightText .informa-highlight-text .informa-highlight-text-content-section .visitorreg_txtin{color:#000 !important;padding:0 0 15px 0 !important}
.visitorreg_txt{padding:10px;border:2px solid #0c94d1;margin-bottom:10px}
.visitorbtn{padding:0 !important}
.sub-ver-body{margin:0;background-color:#eee}
.sub-ver-body .text{color:#000;padding-top:10px}
.sub-ver-body .text p{color:#000}
.subbody{padding:0;margin:0}
.tabs-left,.tabs-right{padding-top:0}
.sideways>li.active>a{background:#eee;color:#fff !important}
.sideways>li>a{background:#0c94d1;color:#fff !important}
.tab-collapse-tab-title{font-size:20px;font-family:'Open Sans',sans-serif !important;color:#fff;font-weight:900;text-transform:uppercase}
.tabstyle .nav-tabs>li.active>a,.tab-collapse-nav-tabs>li.active>a:focus,.tab-collapse-nav-tabs>li.active>a:hover,.tab-collapse-nav-tabs>li.active .tab-collapse-tab-title{color:#000}
.leadingText{ margin-bottom:20px;padding:15px}
.leadingText:after{clear:both;display:table;content:''}
.leadingText .leading-testimonial{margin-top:0}
.leadingText .wrapper{background:0}
.leadingText .leadrightpanelquote{margin:0}
.leadingText .leadrightpanelhead{background:0;padding:15px 0;color:#000;font-family:'Open Sans',sans-serif !important;font-weight:900;font-size:20px;margin:0 15px;border-bottom:solid 2px #000}
.leadingText .leadrightpaneltxt{font-family:'Open Sans',sans-serif;font-size:14px;color:#000;padding:20px;font-weight:300 !important;line-height:22px;margin:0}
.leadingText .leadrightpanelquote{font-family:'Open Sans',sans-serif;font-size:18px;color:#0c94d1;padding:20px 50px;font-style:normal;text-transform:uppercase;font-weight:900}
.leadingText .leading-panel{background:none !important;padding:0 !important}
.leadingText .leading-panel .Consecteturtitle{display:none}
.leadingText .leading-panel .informa-leading-text-variation-one-content{padding:0 !important}
.leadingText .col-md-6{width:100% !important;padding:0 15px !important}
.Testimonialhead{color:#fff !important; background:#000; font-size:16px !important;position:relative;margin:0 -15px !important; padding:8px!important;text-transform:uppercase;font-family:'Open Sans',sans-serif}
.informa-leading-text-variation-one-content-image.col-md-12 { margin: 0 !important; padding:0 !important; width:100%;   }
.leadingText .col-md-6 .Testimonialhead:after{background:#000 none repeat scroll 0 0 padding-box;content:"";height:3px;position:absolute;bottom:-5px;left:0;width:100%}
.leadingText .col-md-6 .testimonialp{margin:15px 0 15px 35px !important}
.leadingText .col-md-6 em{font-style:normal !important;font-size:14px !important}
.leadingText .col-md-6 em:before{background:url('clientlibs/images/quote-left.png') no-repeat;content:"";height:40px;width:40px;position:absolute;left:0;top:35px}
.leadingText .col-md-6 em:after{background:url('clientlibs/images/quote-right.png') no-repeat;content:"";height:40px;width:40px;position:absolute}
.leadingText .leadrightpaneltxt em{padding-left:30px;display:block;position:relative}
.leadingText .leadrightpaneltxt em:before{content:'\f10d';font-family:fontawesome;font-style:normal;font-size:26px;font-weight:700;position:absolute;left:0;top:0}
.leadingText .leadrightpaneltxt em:after{content:'\f10e';font-family:fontawesome;font-size:26px;position:absolute;margin-top:5px;margin-left:5px}
.testimonialp { padding:0 !important; margin:8px 0 !important; font-size:16px; }
.content-tile .event-overview{background:#eee}
.content-tile .event-overview-description-row h1,.content-tile .event-overview-description-row h2,.content-tile .event-overview-description-row h3,.content-tile .event-overview-description-row h4,.content-tile .event-overview-description-row h5,.content-tile .event-overview-description-row h6{color:#0c94d1}
.content-tile .event-overview-description-row p,.content-tile .event-overview-description-row ul li,.content-tile .event-overview-description-row ol li,.content-tile .event-overview-description-row em,.content-tile .event-overview-description-row strong,.content-tile .event-overview-description-row b{color:#000}
.content-tile .event-overview-title{color:#0c94d1;padding:0}
.content-tile .event-overview-btn-title{padding:0;font-weight:900}
.content-tile .btn-custom{padding:10px !important;width:auto !important;background:#0c94d1;display:inline-block;border-radius:0;border-bottom:0;font-family:'Open Sans',sans-serif !important;font-size:22px;line-height:22px;font-weight:900 !important;text-transform:uppercase;color:#000;-webkit-transition:300ms all ease-out;-moz-transition:300ms all ease-out;-ms-transition:300ms all ease-out;-o-transition:300ms all ease-out;border:solid 2px #fff;text-align:center}
.content-tile .btn-custom:hover{color:#000 !important;-webkit-transition:300ms all ease-out;-moz-transition:300ms all ease-out;-ms-transition:300ms all ease-out;-o-transition:300ms all ease-out;background-color:#000 !important;border:solid 2px #fff !important}
.content-tile .btn-custom .event-overview-btn-icon-padding{display:none}


.graphic-highlights{margin:60px 0}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery{background-color:transparent;padding:0}
@media(max-width:767px){.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery{padding-right:15px}
}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel{background-color:transparent;padding-right:0 !important}
@media(max-width:768px){.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel{margin-right:20px;margin-left:20px}
}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .tab_carousel_well{padding-bottom:0}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1{padding:0 15px;height:auto !important}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats{height:auto !important;min-height:220px;border-top:5px solid #0c94d1;border-bottom:5px solid #0c94d1;background-color:#f2f2f2;padding:30px 15px}
@media(max-width:991px){.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats{min-height:250px}
}
@media(max-width:768px){.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats{min-height:220px}
}
@media all and (min-width:320px) and (-ms-high-contrast:none),(-ms-high-contrast:active){.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats{height:220px !important}
}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats .thumbnail{background-color:transparent;margin-bottom:0; text-decoration: none!important;}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats .thumbnail img{display:none}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats .thumbnail .statstxt{font-size:30px;font-weight:700;color:#0c94d1 !important;margin-top:15px}
@media(min-width:496px) and (max-width:768px){.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats .thumbnail .statstxt{font-size:24px}
}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats .thumbnail .statssubtxt{color:#0c94d1 !important;font-size:20px}
@media(min-width:496px) and (max-width:768px){.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats .thumbnail .statssubtxt{font-size:16px}
}
.graphic-highlights #stats-slider,.graphic-highlights .stats-slider-element{margin-bottom:0;list-style:none;padding:0}
.graphic-highlights #stats-slider li,.graphic-highlights .stats-slider-element li{list-style:none}
@media(max-width:786px){.graphic-highlights #stats-slider li,.graphic-highlights .stats-slider-element li{background-color:transparent !important}
}
@media(max-width:1024px){.graphic-highlights #stats-slider .stats1,.graphic-highlights .stats-slider-element .stats1{background-color:transparent !important}
}
@media(max-width:786px){.graphic-highlights #stats-slider .stats1,.graphic-highlights .stats-slider-element .stats1{width:100%;margin-bottom:15px !important}
}
@media(max-width:1024px){#stats-slider .stats1,.stats-slider-element .stats1{background-color:transparent !important}
}
.graphic-highlights .exhibitionbrands3 .exhibitionbrands .exhibitionbrands1 .img-gallery .statspanel .stats1 .stats .thumbnail img:not([src]){display:none}
.testimonialContainer {
    background-color: transparent !important;
}


.youtube-video .media-body .media-heading {
    background-color: rgb(2, 2, 2);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase !important;
    border-bottom: 4px solid rgb(12, 148, 209);
    padding: 17px 10px 17px 20px !important;
}



/* media-newsletter page */
.media-newsletter .carousel-inner {
    background: #eeeeee;
}
.media-newsletter .carousel-inner img {
	width: 448px !important;
    height: 285px !important;
    margin: 10px 0 0 10px !important;
    padding: 0 20px 0 0;
    float: left;
}
.media-newsletter .carousel-caption {
    text-align: left;
    top: 0;
    float: left;
    display: contents;
}
.media-newsletter .carousel-caption .container {
    padding: 0 15px 15px 15px !important;
}
.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-inner > .item img, .media-newsletter .heroParallax #mainContent .carousel .carousel-inner > .item img{
    min-height:auto!important;
    padding-right:10px!important;
}
.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-inner .container, .media-newsletter .heroParallax #mainContent .carousel .carousel-inner .container{
    background-color:transparent;
}
.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-caption h2, .media-newsletter .heroParallax #mainContent .carousel .carousel-caption h2, .media-newsletter .heroParallax .heroParallax-element .carousel .carousel-caption h3, .media-newsletter .heroParallax #mainContent .carousel .carousel-caption h3 {
    text-align: left;
    color: #000000!important;
    text-shadow: none !important;
    text-transform: none !important;
    font-size: 24px;
    padding:15px 0 10px 0!important;
}
.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-caption, .media-newsletter .heroParallax #mainContent .carousel .carousel-caption {
    display:block;
    position:relative;
	width:auto !important;
    padding:0;
}
.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-caption .container , .media-newsletter .heroParallax #mainContent .carousel .carousel-caption .container{
    padding:0 0 0 10px!important;
}
.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-caption .container p, .media-newsletter .heroParallax #mainContent .carousel .carousel-caption .container p{
    padding:0!important;
}
.media-newsletter .carousel-caption p {
    color: #424242;
    text-shadow: none !important;
}


.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-calltoAction button, .media-newsletter .heroParallax #mainContent .carousel .carousel-calltoAction button{
    padding: 5px;
    border-radius: 0;
    font-weight: normal;
    color: #000;
    font-size: 1em;
}

@media (max-width: 769px) {
	.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-calltoAction button, .media-newsletter .heroParallax #mainContent .carousel .carousel-calltoAction button{
    	padding: 5px!important;
	}

    .media-newsletter .imagecalltoaction h3 {
        margin-left:15px!important;
    }

}

.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-calltoAction, .media-newsletter .heroParallax #mainContent .carousel .carousel-calltoAction{
    text-align:left;
}
.media-newsletter .carousel-calltoAction button,
.media-newsletter a.btn.btn-primary.btn-lg.btn-custom{
    text-transform: none;
    background-color: transparent !important;
    color: #000;
    border-radius: 0;
    padding:5px 15px 5px 5px;
    border:none!important;
    border-bottom: 6px solid #0c94d1 !important;
    border: none;
    margin:0!important;
    width:auto;
}

.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-calltoAction button:hover,
.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-calltoAction button:focus,
.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-calltoAction button:active,
.media-newsletter .heroParallax #mainContent .carousel .carousel-calltoAction button:hover,
.media-newsletter .heroParallax #mainContent .carousel .carousel-calltoAction button:focus,
.media-newsletter .heroParallax #mainContent .carousel .carousel-calltoAction button:active {
    color: #fff !important;
    background-color:#0c94d1!important;
    border-color: #020202 !important;
}

.media-newsletter .imagecalltoaction p{
    padding:0!important;
}

.media-newsletter .heroParallax .heroParallax-element .carousel .carousel-inner, .media-newsletter .heroParallax #mainContent .carousel .carousel-inner {
    padding-bottom:10px;
}


.media-newsletter .imageCalltoaction-main .event-overview-btn-title {
	width: 100% !important;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    text-transform: none !important;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    line-height:1!important;
}

.media-newsletter a.btn.btn-primary.btn-lg.btn-custom:after {
    content: ">";
    float: right;
    font-weight: bold;
    color: #0c94d1;
    position:absolute;
}

.media-newsletter .HomePageBtnArrow:before
{
    display:none;
}

.media-newsletter .contentHeaderImage-container{
    background:transparent!important;
}
.media-newsletter .imagecalltoaction h3 {
    border-bottom:none!important;
    background:transparent!important;
    color:#000!important;
    padding:15px 0!important;
    font-weight:bold!important;
}
.media-newsletter .informa-image-call-to-action-content-image img.img-responsive {
    vertical-align: middle;
    display: block;
    overflow: hidden;
    width: auto !important;
    border: 4px solid #0c94d1;
}
.media-newsletter .imagecalltoaction .informa-image-call-to-action-content-subtitle {
    padding: 0 !important;
    color: #737373;
    font-size: 1em !important;
    margin-top: 0px;
    font-style: italic;
    font-weight: bold;
    margin:0 0 15px 0!important;
}
.media-newsletter .callToActionContent {
    text-align: left;
}