	.top-nav .informa-header-menu .navbar {
	 min-height: 0;
	 background: none;
	 padding: 0;
}
 .top-nav .informa-header-menu .navbar .container {
	 width: auto;
	 position: relative;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element, .top-nav .informa-header-menu .navbar .container #navbar {
	 background-color: transparent !important;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav {
	 width: 100%;
	 padding: 0;
	 background-color: transparent;
     margin-top:15px;
}

 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li:last-of-type ul, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li:last-of-type ul {
	 left: auto;
	 right: 0;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li {
	 margin: 0;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li {
	 border-left: none;
	 display: inline-block;
	 float: none;
	 margin: 0;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li a {
	 height: auto;
	 padding: 7px 12px !important;
	 width: auto;
	 font-family: 'Open Sans', sans-serif;
	 text-decoration: none !important;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li a small {
	 display: block;
	 color: #000000;
	 width: auto;
	 height: auto;
	 font-size: 17px !important;
	 font-weight: 600 !important;
	 padding: 0;
	 text-transform: capitalize;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li a small .navArrowRight, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li a small .navArrowRight {
	 margin-top: 0 !important;
	 line-height: 20px;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li:first-child, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li:first-child {
	 border-left: 0;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li.active a, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li:hover a, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li:visited a, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li:focus a, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li.open a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li.active a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li:hover a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li:visited a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li:focus a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li.open a {
	 text-decoration: none !important;
	 background-color: transparent !important;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li.active a small, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li:hover a small, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li:visited a small, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li:focus a small, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li.open a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li.active a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li:hover a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li:visited a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li:focus a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li.open a small {
	 color: #0c94d1;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li.navRegisterbg, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li.navRegisterbg {
	 float: right;
	 background: none !important;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li.navRegisterbg a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li.navRegisterbg a {
	 color: #0c94d1;
	 background: none;
	 font-size: 17px !important;
	 font-weight: 600 !important;
	 display: block;
	 line-height: 20px;
	 -webkit-transition: all 300ms ease-out;
	 -moz-transition: all 300ms ease-out;
	 -ms-transition: all 300ms ease-out;
	 -o-transition: all 300ms ease-out;
}
 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li.navRegisterbg a:hover, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li.navRegisterbg a:hover {
	 background: none !important;
	 -webkit-transition: all 300ms ease-out;
	 -moz-transition: all 300ms ease-out;
	 -ms-transition: all 300ms ease-out;
	 -o-transition: all 300ms ease-out;
}
 @media (min-width: 768px) {
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li:hover > ul, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li:hover > ul {
		 overflow: visible;
		 opacity: 1;
		 height: auto;
		 -webkit-transition: 500ms all ease-out;
		 -moz-transition: 500ms all ease-out;
		 -ms-transition: 500ms all ease-out;
		 -o-transition: 500ms all ease-out;
	}
}
 @media (min-width: 768px) {
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul {
		 background-color: #000000 !important;
		 padding: 0;
		 width: 280px !important;
		 box-shadow: none;
		 opacity: 0;
		 height: 0;
		 overflow: hidden;
		 display: block;
		 -webkit-transition: 500ms all ease-out;
		 -moz-transition: 500ms all ease-out;
		 -ms-transition: 500ms all ease-out;
		 -o-transition: 500ms all ease-out;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li {
		 border-left: 0;
		 position: relative;
		 display: block;
		 margin: 0;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li ul, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li ul {
		 left: 280px;
		 top: 0;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li a {
		 display: block;
		 padding: 15px 20px !important;
		 margin: 0 !important;
		 border-bottom: 1px solid rgba(255,255,255,0.2);
		 text-decoration: none !important;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li a.has-submenu, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li a.has-submenu {
		 padding: 15px 40px 15px 20px !important;
		 position: relative;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li a.has-submenu:before, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li a.has-submenu:before {
		 content: '\f054';
		 display: block;
		 position: absolute;
		 width: 20px;
		 height: 20px;
		 right: 10px;
		 margin-top: -10px;
		 font-family: fontawesome;
		 top: 50%;
		 line-height: 20px;
		 right: 5px;
		 font-size: 14px;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li a small {
		 display: block;
		 font-weight: normal !important;
		 text-transform: initial;
		 color: #ffffff !important;
		 font-weight: bold;
		 text-transform: uppercase;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li:hover > a:before, .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li:hover > a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li:hover > a:before, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li:hover > a small {
		 color: #0c94d1 !important;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li:first-child, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li:first-child {
		 border-left: 0;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li:first-child a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li:first-child a small {
		 border-top: 0;
	}
}
 @media (min-width: 768px) and (min-width: 768px) {
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav >li ul li:hover > ul, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav >li ul li:hover > ul {
		 display: block;
		 height: auto;
		 opacity: 1;
		 visibility: visible;
		 -webkit-transition: 300ms all ease-out;
		 -moz-transition: 300ms all ease-out;
		 -ms-transition: 300ms all ease-out;
		 -o-transition: 300ms all ease-out;
	}
}
 .top-nav .informa-header-menu .navbar .container .trig-search {
	 color: #ffffff;
	 font-size: 18px;
	 display: inline-block;
	 padding: 8px 10px;
	 float: right;
	 cursor: pointer;
	 position: absolute;
	 -webkit-transition: 300ms all ease-out;
	 -moz-transition: 300ms all ease-out;
	 -ms-transition: 300ms all ease-out;
	 -o-transition: 300ms all ease-out;
	 top: 7px;
	 right: 0;
}
 .top-nav .informa-header-menu .navbar .container .trig-search:hover {
	 color: #0c94d1;
	 -webkit-transition: 300ms all ease-out;
	 -moz-transition: 300ms all ease-out;
	 -ms-transition: 300ms all ease-out;
	 -o-transition: 300ms all ease-out;
}
 @media (max-width: 769px) {
	 .top-nav .informa-header-menu .navbar .container {
		 position: relative;
		 position: static;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element, .top-nav .informa-header-menu .navbar .container #navbar {
		 background: #000000 !important;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav {
		 width: 85%;
		 padding: 0;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li {
		 display: block;
		 float: none;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li a, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li a {
		 line-height: 20px !important;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li a small, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li a small {
		 line-height: 20px !important;
		 color: #ffffff !important;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li ul, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li ul {
		 width: 100% !important;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li ul li:hover, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li ul li:hover {
		 background-color: transparent !important;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav li.navRegisterbg, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav li.navRegisterbg {
		 width: 100%;
		 float: none;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-nav .mainSecondaryNav, .top-nav .informa-header-menu .navbar .container #navbar .navbar-nav .mainSecondaryNav {
		 display: none;
	}
	 .top-nav .informa-header-menu .navbar .container .navbar-element .navbar-header, .top-nav .informa-header-menu .navbar .container #navbar .navbar-header {
		 background: none;
	}
	 .top-nav .informa-header-menu .navbar .container .trig-search {
		 display: none !important;
	}
}
 













/*Hide Search*/

.headerSearchBox {
     display: none !important;
}
/*@media (max-width: 767px) {
.logoImagContainer a img {
    content: url(/content/dam/Informa/tisewest/en/2019/global/TISE19_logo-header-STACKED.jpg) !important;
}


/* Footer */

.container.about-informa, footer .footerBottombg .container {
     width: auto;
     padding: 0 50px;
     margin: 0;
}
footer .row {
     padding: 0;
}


footer p, footer .nav {
     font-family: 'Open Sans', sans-serif !important;
     font-size: 14px;
}
.about-informa p {
     color: #cccaca !important;
}
footer .aboutInfo p:last-child a {
     color: #cccaca !important;
     font-size: 18px;
     text-decoration: none;
}
footer .aboutInfo p:last-child {
     margin-bottom: 7px !important;
}
footer .nav>li>a, footer .nav>li>a>.separator {
     color: #fff !important;
     text-decoration: none !important;
}
footer .nav>li>a:hover {
     text-decoration: underline !important;
     }
.tise-awardbanner {
    background: #0c94d1 !important
}

.tise-awardbanner img {
    margin: 0 auto
}

.tise-awardbanner .text>div {
    padding: 4% 0;
    text-align: center;
    color: #fff;
    font-size: 20px
}
