/*

File Name: _carousel-sponsors.less
Description: Carousel - Sponsors component styles
Dependencies: _variables.less

*/


.imagegallery.parbase.section {
    // default
    margin:30px 0;
    .tab-content {
        .tab-pane {
            padding-bottom:0 !important;
            .img-gallery {
                margin:0;
                padding:0 15px;
                background-color: transparent;
                background: none;
                @media (max-width:769px) {
                    padding:0;
                }
                h3 {
                    font-family: @primary-font;
                    font-size: @heading-2;
                    font-weight:700;
                    line-height: @heading-2;
                    color: @black;
                    padding:0;
                    margin:0 0 30px;
                    text-align:center;
                }
                .tab_carousel_well {
                    padding:0;
                    margin:0;
                    .slide {
                        margin-bottom:0;
                        .carousel-indicators {}
                        .nbs-flexisel-container {
                            .nbs-flexisel-inner {
                                .nbs-flexisel-ul {
                                    .nbs-flexisel-item {
                                        background-color:transparent;
                                        .img-popup {
                                            a {
                                                img {
                                                    display:block;
                                                    margin:0 auto;
                                                    width: auto !important;
                                                    height: auto !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}