@font-face {
     font-family: 'PxGroteskRegular';
     src: url('/etc/designs/informa/tise-west-2018/clientlibs/fonts/7XdGUaitAt2LQVm4xt4QEZf3xnrBrJ.eot');
     /* IE9 Compat Modes */
     src: url('/etc/designs/informa/tise-west-2018/clientlibs/fonts/7XdGUaitAt2LQVm4xt4QEZf3xnrBrJ.woff') format('woff'), url('/etc/designs/informa/tise-west-2017/clientlibs/fonts/7XdGUaitAt2LQVm4xt4QEZf3xnrBrJ.svg#PxGroteskRegular') format('svg');
     /* Legacy iOS */
     font-style: normal;
     font-weight: normal;
}
.quote-highlight .container-fluid .informa-leading-text-variation-three .wrapper .leadrightpaneltxt,
.quote-highlight .container-fluid .informa-leading-text-variation-three .wrapper .leadrightpanelquote {
     font-family: 'PxGroteskRegular', sans-serif !important;
     font-weight: normal;
}

/* Fonts Declarations */

p.calendarDetails,
p.mapIconHeader,
.navbar-inverse .navbar-nav>li>a,
.nav,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
.informa-title-color,
p,
.tabList li,
.text,
.highlgt-btn-title,
.content-title,
.event-overview-btn-title,
.contentHighlightContainer h3, /* <<<--- replacement */
#container1 h3, /* <<<--- ID selector to be replaced */
div.callToActionPara,
.heading p,
.imageCalltoaction-main p,
.travel-event-venue,
.imagecalltoaction h3,
.leadrightpaneltxt,
.leadrightpanelquote,
.form-horizontal .form-one-control-label,
.custom-checkbox-fieldset,
.form-horizontal .form-one-control-label,
.custom-checkbox-fieldset,
.checkbox label,
.InformaBookStandForm .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.form-one-registration input,
.form-one-registration select,
.form-one-registration textarea,
.travel-nav-tabs>li>a {
     font-family: 'PxGroteskRegular', sans-serif !important;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.text {
     font-size: 14px;
}