/*= For YouTube Video Component */

.youtube-video {
    .media-body {
        .media-heading {
            background-color: @base-color;
            color: @white;
            font-family: @primary-font;
            font-size: @heading-3;
            font-weight:700;
            line-height:@heading-3;
            border:0;
        }
        .divSectionSpace {
            background-color: darken(@white,5%);
            padding:15px;
            height:auto;
        }
    }
}