.projmodelcontainer {
    padding:0 15px;
    margin: 30px 0;
    > .row {
        .vistors-modal-body {
            float:left;
            .informa-details-contentHeaderText {
                h1 {
                    padding: 15px;
                    margin:0 0 15px;
                    background-color: darken(@white,8%);
                    color: @black;
                    font-family: @primary-font;
                    font-size: @base-font-size;
                    font-weight: 700;
                    line-height: @base-font-size;
                    text-transform: uppercase;
                }
            }
            .popUpRightContent {
                .popProjectDetailsContent {
                    margin:0 0 30px;
                    &:last-child {
                        margin-bottom:0;
                    }
                    h4, p {
                        font-family: @primary-font;
                    }
                    h4 {
                        font-size: @heading-5 !important;
                        font-weight: 700;
                        line-height: @heading-5;
                        margin:0 0 5px;
                        padding:0;
                    }
                    p {
                        font-size: @base-font-size;
                        line-height: @base-line-height;
                    }
                }
            }
        }
    }
}