footer {
  margin-top: 0;
  .footerNavbg,
  .aboutInfo,
  .footerBottombg {
    color: @footer-color;
    background-color: @footer-bg;
  }
  .row {
    padding: 0;
    margin-top: -1px;
  }
  .footerBottombg {
    min-height: 12px;
  }
  p {
    color: @footer-color;
  }
  a {
    & {
      color: darken(@footer-link-color, 24%);
    }
    &:hover,
    &:focus {
      color: @footer-link-color;
    }
  }
  .footerBottombg .nav {
    padding: 0 30px !important; /* Override !important style */
    > li > a {
      color: darken(@footer-link-color, 24%);
      &:hover,
      &:focus {
        color: @footer-link-color;
      }
      > .separator {
        color: darken(@footer-link-color, 48%);
      }
    }
  }
  .about-informa .row .col-md-9 {
    padding-left: 15px;
  }
  .aboutInfo .footerLogo {
    margin-top: 0;
  }
  .footerLogo {
    img {
      max-width: @footer-logo-width !important;
    }
  }
}

.socialIcon {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}
.footer-line {
  hr {
    border-top: 3px solid @color-secondary !important;
    position: relative;
    bottom: -23px;
  }
}

.footer-images {
}

.footer-images-headers {
  .text,
  .informa-text {
      margin-bottom: 0px;
    }
}
