// Masthead
header .cover {
  div.left img {
    width: 100%;
    max-width: @header-logo-width !important;
    // max-height: @header-logo-height !important;
    margin-top: 15px;
    margin-bottom: 15px;
    @media (min-width: 768px) and (max-width: 991px) {
      margin-left: -165px;
    }
  }
  div.right .eventDateContainer {
    p {
      color: @font-color-base;
      font-family: @font-family-base;
      font-size: @font-size-base;
      margin: 0;
    }
  }
}


.show-dates.section {
  // div.column-control-columns.row.default {
      display: none;

      @media (min-width: 769px) {
        position: inherit;
        margin-top: -145px;
        // left: 100px;
        display: block;
        // position: relative !important;
        // position: absolute !important;
        // margin-top: 36px;
        // top: 36px !important;
        // margin-left: 100px !important;
        width: 350px;
      }
      @media (min-width: 992px) {
        // margin-top: 42px;
        // top: 42px !important;
        width: 475px;
      }
      @media (min-width: 1024px) {
        // margin-top: 42px;
        // top: 42px !important;
        width: 575px;
      }
      @media (min-width: 1200px) {
        // margin-top: 42px;
        // top: 42px !important;
        width: 725px;
      }
  // }
}


// Header logo
.left .text-center {

}
.seperator {
  display: none !important;
}
header .cover {
  div.right.testAlter {
    display: none !important;
  }
}

// Header search
.search-submit,
.pageSearchInforma form .searchBtnInforma {
  color: #fff;
  background-color: @color-primary !important; // override inline style
  .glyphicon {
    color: #fff !important; // override inline style
  }
}
.pageSearchInforma a {
  .link-base(@link-color);
}

// Set min height for FireFox
.headercontainer {
  margin-top: -1px;
  header {
    display: table;
    height: 120px;
    padding: 0;
  }
}
