.accordion{
    border-bottom:0;
    .travel-accordian{
        margin:0 !important;
        padding:0 15px !important;
    }
    .panel-group{
          margin-bottom:0;
    }
    .panel{
		box-shadow: none;
        background-color:transparent !important;
        margin:0 0 20px !important;
        border:1px solid #dddddd;
        .panel-prev{
               background:none !important;
            a{
                background-color:transparent !important;
                color:@color-secondary !important;
                text-decoration: none !important;
            	.transition(300ms all ease-in-out);
            	.border-radius(0);
               	display:block;
                &:hover{
                	background:transparent !important;
                  text-decoration: none !important;
                  background-color:transparent !important;
                  color:@color-primary !important;
                }
                &[aria-expanded="true"]{
        					background:@color-secondary;
                }
                .panel-heading{
                	background-color:transparent !important;
                }
                h4{
                  color:@color-secondary!important;
                  text-decoration: none !important;
                	background-color:transparent !important;
                    &:hover{
            					background-color:transparent !important;
                      background:transparent !important;
                      text-decoration: none !important;
                      background-color:transparent !important;
                      color:@color-alt!important;
                    }
                    padding: 5px 20px;
                    position:relative;
                    margin-bottom:0 !important;
                    span{
                    	font-size:18px !important;
                      color:@color-secondary!important;
                    	line-height: 30px !important;
            					font-weight:600;
                    	background-color:transparent !important;
                      &:hover{
              					background-color:transparent !important;
                        background:transparent !important;
                        text-decoration: none !important;
                        background-color:transparent !important;
                        color:@color-alt!important;
                      }
                    }
                    .indicator{
                        float: none !important;
                        position: absolute;
                        right: 20px;
                      	left:auto;
                        height: 20px;
                    	  line-height: 20px;
                        background: none;
                        font-style: normal;
                        width: 20px;
                        top: 50%;
                      	color:@color-secondary !important;
                        margin-top: -10px;
                        font-size: 18px;
                    	/*&:after{
                            font-family:fontawesome;
                            font-family: 'Font Awesome 5 Free';
                            content:'\f067';
                        }
                    	*/
                    	&:before{
                            content:'';
                            display:block;
                            top: 0%;
                            width: 2px;
                            height:20px;
                            left: 50%;
                            .transform(translateX(-50%));
                            position: absolute;
                            .transition(300ms ease all);
                            background: @color-secondary;
                        }
                        &:after{
                            content:'';
                            display:block;
                            left: 0;
                            height: 2px;
                            width:20px;
                            top: 50%;
                            .transform(translateY(-50%));
                            position: absolute;
                            .transition(300ms ease all);
                            background: @color-secondary;
                        }
                    	&.accordion-minus:before,&.accordion-minus:after{
                            .transform(rotate(90deg));
                        	.transition(300ms ease all);
                        }
                        &.accordion-minus:after{
            							opacity:0;
                        }
                        &:hover{
                          background-color:transparent !important;
                        }

                    }

                }
            }
        }
    }
    .panel-body{
    	background:none;
    	margin-bottom:10px !important;
    	box-shadow:none !important;
        padding: 0px 20px;
        a{
      		color:@color-secondary !important;
          text-decoration: none !important;
          &:hover{
            background-color:transparent !important;
            color:@color-primary !important;
            text-decoration: none !important;
          }

        }
    }



	/*

	##############################################

	 Green Solid Header Accordion (Option#01)

	##############################################

	*/


	.acc-green & {
		.panel{
			background-color:transparent !important;
			border:1px solid @color-primary;
			.panel-prev{
			   background:none !important;
				a{
					background-color:transparent !important;
					&:hover{
						background:transparent !important;
					}
					&[aria-expanded="true"]{
						background:@color-secondary;
					}
					.panel-heading{
						background-color:transparent !important;
					}
					h4{
						background-color:@color-primary !important;
						&:hover{
							background-color:@color-secondary !important;
						}
						color:@white;
						span{
							color:@white;
							background-color:transparent !important;
						}
						.indicator{
							color:@white !important;
							&:before, &:after{
								background: @white;
							}
              &:hover{
                background-color:transparent !important;
              }

						}
					}
				}
			}
		}
	}


	/*

	##############################################

	 Green Solid Header Accordion (Option#01)

	##############################################

	*/


	.acc-gray & {
		.panel{
			background-color:transparent !important;
			border:1px solid @color-gray-base;
			.panel-prev{
			   background:none !important;
				a{
					background-color:transparent !important;
					&:hover{
						background:transparent !important;
					}
					&[aria-expanded="true"]{
						background:@color-secondary;
					}
					.panel-heading{
						background-color:transparent !important;
					}
					h4{
						background-color:@color-gray-base !important;
						&:hover{
							background-color:@color-secondary !important;
						}
						color:@white;
						span{
							color:@white;
							background-color:transparent !important;
						}
						.indicator{
							color:@white !important;
							&:before, &:after{
								background: @white;
							}
              &:hover{
                background-color:transparent !important;
              }

						}
					}
				}
			}
		}
	}



}
