/**     Hero Text Parallax Styles     **/
.heroParallaxText{
    // .item{
		// padding:0 40px;
    // }
    .carousel-indicators{
        top: 100%;
        left: 50%;
        right: auto !important;
        width: 100px;
        margin-left: -50px;
    }
    .carousel-control{
    	top:50%;
        margin-top:-15px;
    	&.left{
			left:10px;
    	}
    	&.right{
			right:10px;
    	}
	}
}



/* Testimonial Slider section - START */

// Testimonial with white text

.heroParallaxText {
	ol.img-gallery-indicators {
			li {
				background-color: @color-white;
        color: @color-gray;
				.active {
					background: @color-white;
          background-color: @color-white;
          color: @color-gray;
				}
			}
	}

	.carousel-inner {
		min-height: 150px;
		.item {
			p {
				font-size: 27px !important;
				line-height: 34px !important;
				font-weight: 400 !important;
				text-align: center;
				color: @color-white;
				text-align:center;

                @media (max-width: 769px){
					font-size: 20px !important;
					line-height: 24px !important;
                }

				b {
					font-size:20px !important;
                    font-weight:400;
                    line-height:20px !important;
                    color: @color-white;

				}
			}
		}
	}

    .carousel-control.right {
		.right-carousel-controller {
			background:none;
            &:before {
              // font-family:fontawesome;
              font-family: 'Font Awesome 5 Free';
				content:'\f105';
                font-size:35px;
                color:@color-white;
            }
    	}
    }

    .carousel-control.left {
		.left-carousel-controller {
			background:none;
            &:before {
              // font-family:fontawesome;
              font-family: 'Font Awesome 5 Free';
				content:'\f104';
                font-size:35px;
                color:@color-white;
            }
    	}
    }

    .text-slider-green & {
		ol.img-gallery-indicators li .active {
			background: @color-primary;
            background-color: @color-primary;
        }
        .carousel-inner .item p {
			color: @color-primary;
        }
        .carousel-control.right .right-carousel-controller:before, .carousel-control.left .left-carousel-controller:before {
			color:@color-secondary;
        }
    }

    // Testimonial slider - Green Text

    .text-slider-green & {
		ol.img-gallery-indicators li .active {
			background: @color-gray;
            background-color: @color-gray;
        }
        .carousel-inner .item p  {
			color: @color-gray;
            b {
				color: @color-secondary;
            }
        }
        .carousel-control.right .right-carousel-controller:before, .carousel-control.left .left-carousel-controller:before {
			color:@color-secondary;
        }
    }

    // Testimonial slider - Gray Text

    .text-slider-gray & {
		ol.img-gallery-indicators li .active {
			background: @color-gray;
            background-color: @color-gray;
        }
        .carousel-inner .item p {
			color:  @color-gray;
            b {
				color: @color-secondary;
            }
        }
        .carousel-control.right .right-carousel-controller:before, .carousel-control.left .left-carousel-controller:before {
			color:@color-secondary;
        }
    }



}





.heroParallaxText {
  padding: 30px 60px 20px 60px;
  // margin-top:60px;
  // margin-bottom:60px;
  @media (min-width:991px) {
    padding: 30px 0px 20px 60px;
  }

    &:before {
      // background-image: url("/content/dam/Informa/npe-west/en/2020/ew20-cp-quotemark-x2-40x32.png");
      // content: url("/content/dam/Informa/npe-west/en/2020/ew20-cp-quotemark-x2-40x32.png");

      // content: 'f10d';
      // font-family: @font-icon;
      // font-size: @font-size-base + 24;
      background-image: url('/content/dam/Informa/npe-west/en/2020/ew20-cp-quotemark-x2-40x32.png');
      background-size: 40px 32px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 32px;
      content:"";

      position: absolute;
      z-index: 9;
      // color: @color-secondary;
      left: 5%;
      top: 10%;
    }

    .carousel {
        .carousel-inner {
          margin: 0px 0px 0px 40px;
          width: 85%;
          background:transparent;
            // padding: 50px;

            &:after {
            }
            .item {
                // -webkit-transform-style: preserve-3d;
                // -moz-transform-style: preserve-3d;
                // transform-style: preserve-3d;
                p {
                  text-align: left;
                  color: @font-color-base;
                  font-size: @font-size-base!important;
                  line-height: @font-line-height-base;
                }
                p:last-of-type {
                  color: @color-primary;
                  font-size: @font-size-base!important;
                  line-height: @font-line-height-base;
                }


            }
        }
    }
    // .testimonial & {
    //     margin-bottom:0;
    //     .carousel {
    //         .carousel-inner {
    //             background:transparent;
    //             min-height:0;
    //             &:before,&:after {
    //                 .hide();
    //             }
    //             .item {
    //                 min-height:0;
    //                 .carousel-caption {
    //                     position:static;
    //                     width:100% !important; // override !important declaration
    //                     padding:0 60px;
    //                     text-shadow:none;
    //                     color: @color-black-base;
    //                 }
    //             }
    //         }
    //     }
    // }
}
