.content-tile{
    .event-overview{
        padding:0 0 20px !important;
        position:relative;
        overflow:visible;
        background:none !important;
        margin-bottom:0 !important;
        .event-overview-col-img-custom{
            position:relative;
            width:100%;
        }
        .event-overview-col-desc-custom{
            width:100%;
            .event-overview-description-row{
                padding:0;
                margin:0;
            }
            margin:auto;
            float:none;
            position:absolute;
            bottom:20px;
            padding:30px;
            left:0;
            z-index:99;
            .event-overview-title{
                .h3;
                font-family:@font-primary !important;
                margin:0;
                color:@white !important;
            }
            p{
                .h4;
                color:@white;
            }

        }
        .event-overview-btn{
            font-size:0;
            margin-bottom:0;
            margin: 0;
            .event-overview-btn-text-padding{
                @media screen and (max-width: 900px) and (min-width: 320px){
                    display:block !important;
                    height:auto !important;
                }
            }
            .event-overview-btn-col{
                @media (max-width: 769px) and (min-width: 320px){
                    padding:0 !important;
                    margin:0 0 10px !important;
                }
                display:inline-block;
                // min-width:auto;
                // width:auto;
                float:none;
                padding:0 !important;
                a{
                    .btn-default();
                    padding:2px !important;
                    background:@color-primary;
                    &:hover{
                        background:@color-secondary;
                    }
                    .event-overview-btn-text-padding{
                        padding-left:0;
                    }
                    .event-overview-btn-title{
                        padding:11px 30px !important;
                        .border-radius;
                        background:@color-primary;
                        padding-right:0;
                        text-align:center !important;
                        line-height:18px;
                        font-size:18px !important;
                        text-align:center;
                        width:100% !important;
                        font-family:@font-primary;
                        text-transform:none;
                        text-align:center;
                        font-weight:bold !important;
                        //.transition(all ease 300ms);
                    }
                    .event-overview-btn-icon-padding{
                        display:none;
                    }
                    &:hover{
                        .event-overview-btn-title{
                            background:none;
                            //.transition(all ease 300ms);
                        }
                    }
                }
            }
        }


    }

    .icon-content-tile & {
            .event-overview {
            	.event-overview-col-img-custom {
					z-index: 0;
                	padding: 15px 0px;
                	.img-responsive {
						text-align:center;
                    	img {
							width:auto;
                    	}
                	}
                	@media (max-width:690px){
						display:none;
                	}

            	}
                .event-overview-col-desc-custom {
                    position: static;
                    text-align: center;
                    background:#fff;
                    .event-overview-description-row {
                        margin-bottom: 20px;
                    }
                    .event-overview-title {
                        font-size: 24px;
                        color: #009246 !important;
                    }
                    &:hover {
    					box-shadow: 0px 0px 15px 0px #333;
                    	.transition(300ms all ease);
                    }
                }

            }
        }



    	.inner-content-tile & {
            .event-overview {

            	.event-overview-col-img-custom {

					z-index: 0;
                	padding: 15px 0px;
                	.img-responsive {
						text-align:center;
                    	img {
							width:auto;
                    	}
                	}
                	@media (max-width:690px){
						display:none;
                	}

            	}
                .event-overview-col-desc-custom {
                    position: static;
                    text-align: center;
                    background: @color-gray-lighter;
                    .event-overview-description-row {
                        margin-bottom: 20px;
                    }
                    .event-overview-title {
                        font-size: 24px;
                        color: #009246 !important;
                    }
                    &:hover {
    					box-shadow: 0px 0px 15px 0px #333;
                    	.transition(300ms all ease);
                    }
                }

            }
        }


    	.inner-content-tile-small & {
            .event-overview {

            	.event-overview-col-img-custom {

					z-index: 0;
                	padding: 15px 0px;
                	.img-responsive {
						text-align:center;
                    	img {
							width:auto;
                    	}
                	}
                	@media (max-width:690px){
						display:none;
                	}

            	}
                .event-overview-col-desc-custom {
                    position: static;
                    text-align: center;
                    background: @color-gray-lighter;
                	padding:15px;
                    .event-overview-description-row {
                        margin-bottom: 20px;
                    }
                	.event-overview-btn .event-overview-btn-col a .event-overview-btn-title {
							padding: 11px 18px !important;
                    	}
                    .event-overview-title {
                        font-size: 18px;
                        color: #009246 !important;
                    }
                    &:hover {
    					box-shadow: 0px 0px 15px 0px #333;
                    	.transition(300ms all ease);
                    }
                }

            }
        }


    	.inner-content-tile-nobg & {
            .event-overview {

            	.event-overview-col-img-custom {

					z-index: 0;
                	padding: 15px 0px;
                	.img-responsive {
						text-align:center;
                    	img {
							width:auto;
                    	}
                	}
                	@media (max-width:690px){
						display:none;
                	}

            	}
                .event-overview-col-desc-custom {
                    position: static;
                    text-align: center;
                    background: none;
                	border:1px solid @color-gray-light;
                	padding:15px;
                    .event-overview-description-row {
                        margin-bottom: 20px;
                    }
                	.event-overview-btn .event-overview-btn-col a .event-overview-btn-title {
							padding: 11px 18px !important;
                    	}
                    .event-overview-title {
                        font-size: 18px;
                        color: #009246 !important;
                    }
                    &:hover {
    					box-shadow: 0px 0px 15px 0px @color-gray-light;
                    	.transition(300ms all ease);
                    }
                }

            }
        }
}

.content-tile-variation-1 .content-tile{
    .col-md-12{
        padding:0;
    }
    .event-overview{
        padding:0 !important;
        margin:0;
        position:relative;
        overflow:hidden;
        background:none !important;
        margin-bottom:0 !important;

        .event-overview-col-img-custom{
            position:relative;
            width:100%;
            img{
                object-fit:cover;
                    object-position:center;
            }
            &:after{
               display:none !important;
            }
             @media (max-width: 769px){
				position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index: -1;
                div{
					height:100%;
                }
                img{
					max-width:none !important;
                    width:auto !important;
                    object-fit:cover;
                    object-position:center;
                    width:auto !important;
                    height:auto !important;
                }
            }
        }
        .event-overview-col-desc-custom{
            width:100%;
            @media (max-width: 769px){
				position:static;
            	transform:none;
            }
            .event-overview-description-row{
                padding:0;
                margin:0;
            }
            margin:auto;
            float:none;
            position:absolute;
            top:50%;
        	//.transform(translateY(-50%));
        	bottom: auto;
            padding:30px 30px 30px 115px;
        	/*@media (max-width:1199px){
                padding:3vw 30px 30px 115px;
            }
        	@media (max-width:1060px){
                padding:8vw 30px 30px 115px;
            }
        	*/
            @media (max-width:769px){
                padding:30px 30px 30px 75px;
            }
            left:0;
            z-index:99;
            overflow:hidden;
            .event-overview-title{
                .font(48px,60px,bold,@font-secondary,@white);
                margin:0;
                position:relative;

                @media (max-width:769px){
                    font-size:45px !important;
                    line-height:50px !important;
                }
            }
            p{
                .p;
                color:@white;
            }
        }
        .event-overview-btn{
            font-size:0;
            margin-bottom:0;
            margin: 0;
            .event-overview-btn-text-padding{
                @media screen and (max-width: 900px) and (min-width: 320px){
                    display:block !important;
                }
            }
            .event-overview-btn-col{
                @media (max-width: 769px) and (min-width: 320px){
                    padding:0 !important;
                    margin:0 0 10px !important;
                }
                display:inline-block;
                // min-width:auto;
                // width:auto;
                float:none;
                padding:0 !important;
                a{
                    .btn-default();
                    padding:2px !important;
                    background:@color-primary;
                    &:hover{
                        background:@color-secondary;
                    }
                    .event-overview-btn-text-padding{
                        padding-left:0;
                    }
                    .event-overview-btn-title{
                        padding:16px 40px !important;
                        .border-radius;
                        background:@color-primary;
                        padding-right:0;
                        text-align:center !important;
                        line-height:21px;
                        font-size:21px !important;
                        text-align:center;
                        width:100% !important;
                        font-family:@font-primary;
                        text-transform:uppercase;
                        text-align:center;
                        font-weight:bold !important;
                        //.transition(all ease 300ms);
                    }
                    .event-overview-btn-icon-padding{
                        display:none;
                    }
                    &:hover{
                        .event-overview-btn-title{
                            background:none;
                            //.transition(all ease 300ms);
                        }
                    }
                }
            }
        }
    }


}

.content-tile-variation-2 .content-tile{
    .col-md-12{
        padding:0;
    }
    .event-overview{
        padding:0 !important;
        margin:0;
        position:relative;
        overflow:visible;
        background:none !important;
        margin-bottom:0 !important;

        .event-overview-col-img-custom{
            position:relative;
            img{
				display: block !important;
            }
            width:100%;
            &:after{
               display:none !important;
            }
            @media (max-width: 769px){
				display:none;
            }
        }
        .event-overview-col-desc-custom{
            width:100%;
            .event-overview-description-row{
                padding:0;
                margin:0;
            }
            margin:auto;
            float:none;
            position:absolute;
            top:0;
            padding:6vw 20px 20px;
            @media (max-width: 1199px){

            }
            @media (max-width: 769px){
				position: static;
				padding:40px;
            }
            left:0;
            z-index:99;
            overflow:hidden;
            .event-overview-title{
                .font(48px,60px,bold,@font-secondary,@color-primary);
                margin:0 0 30px;
                position:relative;

                @media (max-width: 1199px){
					font-size:35px !important;
                    line-height:45px !important;
                    margin:0 0 20px;
                }
                @media (max-width: 991px){
					font-size:24px !important;
                    line-height:34px !important;
                    margin:0 0 10px;
                }
                @media (max-width:769px){
                    font-size:40px !important;
                    line-height:50px !important;

                }
            }
            p{
                .p;
                color:@white;
            }
        }
        .event-overview-btn{
            font-size:0;
            margin-bottom:0;
            margin: 0;
            .event-overview-btn-text-padding{
                @media screen and (max-width: 900px) and (min-width: 320px){
                    display:block !important;
                }
            }
            .event-overview-btn-col{
                @media (max-width: 769px) and (min-width: 320px){
                    padding:0 !important;
                    margin:0 0 10px !important;
                }
                display:inline-block;
                // min-width:auto;
                // width:auto;
                float:none;
                padding:0 !important;
                a{
                    .btn-default();

                    .event-overview-btn-text-padding{
                        padding-left:0;
                    }
                    @media (max-width: 991px) and (min-width: 770px){
                        padding: 16px 27px !important;
                    }
                    .event-overview-btn-title{
                        padding-right:0;
                        padding:0 !important;
                        text-align:center !important;
                        line-height:21px;
                        font-size:21px !important;
                        text-align:center;
                        width:100% !important;
                        font-family:@font-primary;
                        text-transform:uppercase;
                        text-align:center;
                        font-weight:bold !important;
                        .transition(all ease 300ms);
                        @media (max-width: 991px) and (min-width: 770px){
                            font-size:17px !important;
                            line-height:24px !important;
                        }

                    }
                    .event-overview-btn-icon-padding{
                        display:none;
                    }
                    &:hover{
                        background:@color-primary;
                        border:0 !important;
                        .transition(all ease 300ms);
                        .event-overview-btn-title{
                            background:none !important;
                        }
                    }
                }
            }
        }
    }
}

//IE EDGE FIX
@media (max-width:769px){
    @supports (-ms-ime-align:auto) {
        .content-tile-variation-1 .content-tile .event-overview .event-overview-col-desc-custom .event-overview-title:before,
        .content-tile-variation-2 .content-tile .event-overview .event-overview-col-desc-custom .event-overview-title:before{
            width:23px !important;
        }
    }
}
