/*******************************************
*                                		   *
*           Custom Count Down              *
*                                		   *
*******************************************/

.countdown_custom {
	#clockdiv{
        h1{
          color: @color-primary;
          font-weight: 100;
          font-size: 40px;
          margin: 40px 0px 20px;
        }
		> div{
            padding: 10px;
            display: inline-block;
    		span {
                background: @white;
                box-shadow: 0px 0px 3px 1px #ccc;
                border-radius: 31px;
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 33px;
            }
        	> span {
                padding: 15px;
                background: @color-primary;
                color: @white;
                display: inline-block;
                font-size: 27px;
                font-weight: 700;
            }

        	.smalltext {
                text-align: center;
                letter-spacing: 2px;
            	font-size:13px;
            }
        }
    }
}


// Countdown
.countdown {
  // span:before,
  // span:after {
  //   display: block;
  //   white-space: pre;
  //   content: '\A';
  // }
  font-family: @font-family-base;
  font-size: @cta-link-font-size!important;
  width: 100% !important;
  color: @color-white;
  background-color: @color-primary;
  .countDisplay {
    font-size: @font-size-base!important;
    line-height: 18px;
    display: inline;
    width: auto;
    padding-left: 0px;
    @media (min-width: 1200px) {
      display: table-caption;
      width: 245px;
      // width: 110px!important; - each on one line
      // width: 195px;
      // padding-left: 15px;
      width: 260px;
    }
  }
}
p#event {
  font-size: @headings-h3-font-size!important;
  padding: 15px 20px 25px 20px;
  line-height: 30px;
  color: @color-white !important;
}
p.eventCountdownEvent {
  font-size: @headings-h3-font-size!important;
  padding: 15px 20px 25px 20px;
  line-height: 30px;
  color: @color-white !important;
}
