/**     Container Form Styles     **/

/**     Form Component     */
.container-form{
    overflow:hidden;
    > .container-fluid{
		padding:0;
    }
    .form-container{
        max-width: 100%;
        margin: 0 auto !important;
        background:none;
        .forms-title{
            background:none;
            .font(40px,44px,bold,@font-secondary,@color-primary);
            border-bottom:0 !important;
            margin:0 !important;
            padding:0;
            padding-top:0 !important;
            padding-bottom:20px;
            font-weight:bold;
            display:block;
            position:relative;
            text-align:left;
            &:before{
                position:absolute;
                right:100%;
                top:20px;
                display:none;
                @media screen and (-ms-high-contrast: none) {
                    width:80px;
                    @media (max-width:769px){
                        width:23px;
                    }
                }
            }
            @supports (-ms-ime-align:auto) {
                &:before{
                    width:80px;
                }
            }
            &:after{

            }

            @media (max-width:769px){
                font-size:40px !important;
                line-height:50px !important;
                &:before{

                }
                &:after{

                }
            }
        }
        .custom-form-row{
           background:none;
           padding:0;
           margin-left:0 !important;
           margin-right:0 !important;
           .form-horizontal{
                padding:0;
                margin:0;
                form{
                    padding:0;
                    .section{
						padding-top:0;
                        padding-bottom:0;
                    }
                    .text{
						padding:0;
                        font-size:16px;
                    }
                    .form-group{
                        margin-top:0px;
                        @media (max-width:767px){
                            margin:0 0 20px !important;
                        }
                        label{
							font-family:@font-primary !important;
                            @media (max-width:767px){
								display:block;
                            }
                        }
                        .input-div{
							@media (max-width:767px){
								padding:0;
                            	width:100%;
                            }
                        }
						margin-left:0;
                        padding-right:0;
                        &.subscription-form-group{
							padding-left:0 !important;
                        	@media (max-width:767px){
								margin-bottom:0 !important;
                            }
                        }
                        input,select,textarea,button,span{
                            color:@color-gray;
                            font-family:@font-primary !important;
                        	font-size:@base-font-size;
                        }
                        input[type="text"],input[type="email"],select{
                            color:@color-gray !important;
                        	border:0px !important;
                            border-bottom:1px solid @color-secondary !important;
                            padding:10px 0px !important;
                            line-height:20px;
                            box-shadow:none;
                            height: auto !important;
                            border-radius:0px !important;
                        	font-size:@base-font-size;
                        	width:80%!important;
                        }
                        select{
                            padding:16px 40px 16px 20px;
                    		color:@color-gray !important;
                            background: url(../../img/select-drop-icon.png) 95% no-repeat #fff !important;
                    		font-size:@base-font-size;
                    		// IE 11 Fix
                            @media screen and (-ms-high-contrast: none) {
                                background:#ffffff !important;
                                padding:16px 20px 16px 20px;
                            }
                        }

                        .help-block{
							margin:0;
                            padding: 12px;
                            li{
								font-size:13px;
                                font-family:@font-primary !important;
                                color:@color-white;
                                line-height: 18px;
                                display:block;
                            }
                        }
                    }
                    label{
                        font-size:16px;
                        font-weight:500;
            			margin:0;
                        font-family:@font-primary;
                        display:inline-block;
                        padding:15px 0;
                        color:@color-gray !important;
                        .asterisk-sign-clr{
							color:@color-gray !important;
                        }
                    }
                    .checkbox{
            			&:nth-child(1) {
                        	margin-top: 15px !important;
                        }
                        label{
							padding:0 0 0 20px;
                            span{
                                font-size:@base-font-size;
                                font-weight:normal !important;
                                color:@color-gray !important;
                            }
                        }
                    }

        			.radio{
            			padding-left: 60px;
            			&:nth-child(1) {
            				margin-top: 15px !important;
            			}
            			input {
							margin:0px;
                			margin-left: -20px;
           			    }

                        label{
							padding:0 0 0 20px;
                            span{
                                font-size:@base-font-size;
                                font-weight:normal !important;
                                color:@color-gray !important;
                            }
                        }
                    }
                    .preferencedcommuwithInforma-options{
                        .checkbox{
            				margin:0 0 30px;
                            label{
			                    width: 66.6667%;
                                @media (max-width:769px){
									width: 100%;
                                }
                            }
                        }
                    }
                    .preferencedcommuwithInforma-casl{
                        select{
                            width: 120px !important;
                            padding: 16px 40px 16px 20px !important;
                        }
                    }
                    .subscription_privacy_statement{
                        font-size:@base-font-size;
                        font-weight:normal !important;
                        color:@color-gray;
            			margin-top:0;
            			width: 66.6667%;
            			@media (max-width:769px){
                            width: 100%;
                			margin-left: 0;

                        }
                        a{
                            font-weight:bold;
                        }
                    }
                	.parsley-errors-list{
                        opacity: 1;
                        width: 66.6666666666666%;
                        padding: 0px 0 0 20px;
                        margin-left: 33.3333333333333%;
            			@media (max-width:769px){
                            width: 100%;
                			margin-left:0;
                			padding-top: 10px;
            			}
   	             	}
                }
            }
        }

        .submit{
    		width: 66.6667%;
    		@media (max-width:769px){
                width: 100%;
            }
            .custom-submit-btn-div{
            	text-align:center;
        		width:100%;
                div{
        			display:inline-block;
                }
            }
            .btn{
                font-family:@font-primary !important;
                color:@color-white !important;
                padding:12px 30px !important;
                height:auto !important;
                text-align:center;
                font-size:18px !important;
                font-weight:400;
                font-weight:bold;
                line-height:18px !important;
                height:auto;
                max-width:none;
                width:auto !important;
				float:none;
                margin-right: 10px;
        		border-radius:22px !important;
                .transition(all ease-in-out 300ms);
                color:@color-white !important;
            }
            input[type="submit"]{
				background:@color-primary;
        		.border-radius(5px) !important;
                &:hover{
                    background:@color-secondary;
                    .transition(all ease-in-out 300ms);
                }
            }
            input[type="reset"]{
				background:@color-gray-lighter;
        		.border-radius(5px) !important;
        		color:@color-gray !important;
                &:hover{
                    background:@color-gray-light;
                    .transition(all ease-in-out 300ms);
            		color:@color-gray !important;
                }
            }
        }
    }

	.file-button {
        .button();
    	background:@color-gray !important;
    	padding: 7px;
    	font-size: 15px !important;
    	right: -40px;
    	&:hover {
			background:@color-secondary !important;
    	}
    	@media (max-width:769px){
			display: block;
            float: left;
            position: relative;
            left: auto;
    	}
    }
}



/* Home Form */

.blue-pattern{
    .container-form {
        max-width: 700px;
        margin: auto;
        .container-fluid{
			padding:0;
        }
        .form-container {
            background-color:transparent;
            margin-left: 0 !important;
            margin-right: 0 !important;
            .forms-title.form-fo1-title {
                font-family: @font-primary;
                font-size: 40px;
                font-weight: 400;
                padding:0;
                margin:0;
                background-color:transparent;
                color:@color-white;
                text-align:center;
                border-bottom:none;
            }
            form {
                .form-group {
                    label{
                        padding:0 !important;
                        color:@color-white !important;
                        font-family:@font-primary !important;
                        width:100%;
                    }
                    .input-div{
						width:100%;
    					padding: 0;
                        label, input, textarea, select {
                            font-family:@font-primary !important;
                            font-size:16px !important;
                            width:100%;
                        }
                        input[type='text'], select, textarea {
                            border:0 !important;
                        }
                        input[type='text'],select{
                            margin-right: 0;
							font-size:24px;
                            color:@color-black;
                            padding:20px !important;
                            height:auto !important;
                        }
                        select{
							background-size: 12px !important;
                        }
                    }
                }
            }
            .form-one-registration form {
                padding:0;
            }
            .form-horizontal .form-group {
                margin:0;
            }
            .custom-form-row {
                background-color:transparent;
            }
            .submit {
                .form-group {
                    .custom-submit-btn-div{
						width:100% !important;
                        padding:0 !important;
                        text-align:center;
                        margin:20px 0 0;
                        > div{
							display:inline-block;
                        }
                    }
                    input[type='submit'], input[type='reset'] {
                        border:0 !important;
                        padding:20px 30px !important;
                        margin:0 5px !important;
                        background-color:@color-white;
                        font-family:@font-primary !important;
                        font-size: 24px !important;
                        line-height:24px;
                        color:@color-secondary !important;
                        max-width:initial;
                        min-width:200px !important;
                        width:auto !important;
                        height:auto !important;
                        text-transform:uppercase;
                        box-shadow:none !important;
                        .transition(all .3s ease-in);
                        &:hover {
                            background-color: @color-gray ;
                            .transition(all .3s ease-in);
                        }
                    }
                }
            }
            .help-block {
                padding:5px !important;
                margin: 10px 0 0 !important;
                background-color: red !important;
                color: @color-white !important;
                width:100%;
                height:auto !important;
                line-height:1;
                float:left !important;
                background-image:none !important;
                position:relative;
                font-family: @font-primary;
                font-size: 16px;
                &:before {
                  // font-family:fontawesome;
                  font-family: 'Font Awesome 5 Free';
                    content: '\f0d8';
                    // font-family: @font-icon;
                    font-size:16px;
                    position:absolute;
                    bottom:100%;
                    left:15px;
                    color: red;
                    height: 12px;
                }
            }
            .subscriptions{
                .subscription_privacy_statement{
                    margin: 0 !important;
                    padding: 0 !important;
                }
                .subscription-form-group{
					padding-left:0 !important;
                }
                .preference-levle-checkBox-component{
					padding-top:0 !important;
                    padding-right: 0;
                }
                .checkbox{
                    margin:0 0 20px;
                	input{
                        width:100%;
                        margin:0;
                    }
                    label{
                        padding-left: 10px !important;
                        span{
							color:@color-white !important;
                        }
                    }
                }
                p{
					color:@color-white;
                    span{
						color:@color-white !important;
                    }
                    a{
						color:@color-white;
                    }
                }
            }
            .text{
				margin:0;
                padding-left:0;
            }
        }
    }
}

.InformaBookStandForm {
	.custom-tool-tip {
		.tooltip-inner {
			background-color:@color-secondary;
        }
        .tooltip.right {
			.tooltip-arrow {
				border-right-color:@color-secondary !important;
            }
        }
    }
}




/** Thank you Component **/
.thankYouPage{
    .InformaBookAStandForm{
		background-color:transparent !important;
    }
    h1{
		padding:0 !important;
        background:none !important;
        font-family:@font-primary !important;
        color:@color-primary !important;
        .h2();
        text-align:center;
    }
}
