/* Header Search icon*/
#search_Icon {
     position: absolute;
     background: none repeat scroll 0 0 @color-gold-base;
     color: @color-white;
     text-align: center;
     height: 56px;
     width: 85%;
     display: inline-block;
     line-height: 50px;
     font: normal normal normal 15px/1 FontAwesome;
     font-size: 20px;
     // padding: 8px;
     // margin: 1px 0 10px;
     margin: 15px 0px 0px 0px;
     padding: 15px 0px 0px 0px;
     z-index: 99;
     left: 0%;
     top: 0px;
     border: 3px solid @color-white;
     border-radius: 0%;
       .fa, .fas {
         font-weight: 300!important;
  }
}
@media (min-width: 990px) {
  #search_Icon {
   position: absolute;
   background: none repeat scroll 0 0 transparent;
   color: @color-secondary;
   height: 57px;
   width: 50px;
   text-align: center;
   display: inline-block;
   line-height: 50px;
   font: normal normal normal 15px/1 FontAwesome;
   font-size: 20px;
   // padding: 8px;
   // margin: 1px 0 10px;
   margin: -1px 0px 0px 0px;
   padding: 15px 2px 0px 3px;
   z-index: 99;
   left: 100%;
   border-radius: 0%;
     .fa, .fas {
       font-weight: 300!important;
     }
  }
}

#search_Icon:hover {
  color: @color-white;
  background: @color-secondary;
}

.header-search-element, /* <<<--- replacement */
#header_search { /* <<<--- ID selector to be replaced */
     position: fixed;
     top: 0;
     height: 100%;
     width: 100%;
     left: 0;
     z-index: 99999;
     background: rgba(0, 0, 0, .8);
     visibility: hidden;
     -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     -ms-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
     -webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
     -moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
     -o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
     -ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
     transform: perspective(200px) rotateX(-15deg) scale(0.75);
     opacity: 0;
}

.header-search-element.active, /* <<<--- replacement */
#header_search.active { /* <<<--- ID selector to be replaced */
     visibility: visible;
     -webkit-transform: perspective(200px) rotateX(0deg) scale(1);
     -moz-transform: perspective(200px) rotateX(0deg) scale(1);
     -o-transform: perspective(200px) rotateX(0deg) scale(1);
     -ms-transform: perspective(200px) rotateX(0deg) scale(1);
     transform: perspective(200px) rotateX(0deg) scale(1);
     opacity: 1;
}

.header-search-element .search-form, /* <<<--- replacement */
#header_search .search-form { /* <<<--- ID selector to be replaced */

     display: table;
     width: 100%;
     height: 100%;
}

.header-search-element .search-form .input-group, /* <<<--- replacement */
#header_search .search-form .input-group { /* <<<--- ID selector to be replaced */

     display: table-cell;
     vertical-align: middle;
     text-align: center;
}

.header-search-element .search-form .input-group input[type="text"], /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"] { /* <<<--- ID selector to be replaced */
     display: inline-block;
     width: 50%;
     margin: auto;
     border: 0;
     background: none;
     font-size: 3vw;
     font-weight: 600;
     color: #ffffff;
     border-bottom: 1px solid rgba(255, 255, 255, 0.7);
     float: none;
     padding: 10px 5% 10px 2%;
     height: auto;
     position: relative;
     left: 3%;
}

.header-search-element .search-form .input-group input[type="text"]::-webkit-input-placeholder, /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"]::-webkit-input-placeholder { /* <<<--- ID selector to be replaced */
     /* Chrome/Opera/Safari */
     color: #cccccc;
}

.header-search-element .search-form .input-group input[type="text"]::-moz-placeholder, /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"]::-moz-placeholder { /* <<<--- ID selector to be replaced */
     /* Firefox 19+ */
     color: #cccccc;
}
.header-search-element .search-form .input-group input[type="text"]:-ms-input-placeholder, /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"]:-ms-input-placeholder { /* <<<--- ID selector to be replaced */
     /* IE 10+ */
     color: #cccccc;
}

.header-search-element .search-form .input-group input[type="text"]:-moz-placeholder, /* <<<--- replacement */
#header_search .search-form .input-group input[type="text"]:-moz-placeholder { /* <<<--- ID selector to be replaced */
     /* Firefox 18- */
     color: #cccccc;
}

.header-search-element .search-form .input-group .input-group-btn, /* <<<--- replacement */
#header_search .search-form .input-group .input-group-btn { /* <<<--- ID selector to be replaced */
     display: inline-block;
     position: relative;
     left: -3%;
     z-index: 99999;
     width: 5%;
}

.header-search-element .search-form .input-group .input-group-btn button, /* <<<--- replacement */
#header_search .search-form .input-group .input-group-btn button { /* <<<--- ID selector to be replaced */
     border: 0;
     outline: none;
     background: none;
}

.trig-close {
     position: absolute;
     top: 20px;
     right: 20px;
     color: #ffffff;
     font-size: 3vw;
     cursor: pointer;
     -webkit-transition: 300ms all ease-out;
     -moz-transition: 300ms all ease-out;
     -ms-transition: 300ms all ease-out;
     -o-transition: 300ms all ease-out;
}

.trig-close:hover {
     -webkit-transition: 300ms all ease-out;
     -moz-transition: 300ms all ease-out;
     -ms-transition: 300ms all ease-out;
     -o-transition: 300ms all ease-out;
     color: #f8ae00;
}

.header-search-element .search-form .input-group .input-group-btn button i, /* <<<--- replacement */
#header_search .search-form .input-group .input-group-btn button i { /* <<<--- ID selector to be replaced */
     font-size: 3vw;
     background: none;
     -webkit-transition: 300ms all ease-out;
     -moz-transition: 300ms all ease-out;
     -ms-transition: 300ms all ease-out;
     -o-transition: 300ms all ease-out;
}

.header-search-element .search-form .input-group .input-group-btn button i:hover, /* <<<--- replacement */
#header_search .search-form .input-group .input-group-btn button i:hover { /* <<<--- ID selector to be replaced */
     color: #f8ae00;
     -webkit-transition: 300ms all ease-out;
     -moz-transition: 300ms all ease-out;
     -ms-transition: 300ms all ease-out;
     -o-transition: 300ms all ease-out;
}

.search-submit{
  background-color:transparent !important;
}

/*= Calendar Component */


.calendar-component {

}

.eventDateContainer {
    .calenderIcon,
    .mapIcon {
        width:20px;
        text-align:center;
        line-height:1;
        &:before {
            font-family: @icon-font;
            font-style:normal;
            font-size:@base-font-size + 4;
            display:inline-block;
        }
    }
    .calendarDetails,.mapIconHeader {
        margin:0 0 5px;
    }
    .calendarDetails {
        .calenderIcon {
            background-image: none !important;
            margin:0 !important;
            width: auto !important;
            height: auto !important;
            &:before {
              // font-family:fontawesome;
              font-family: 'Font Awesome 5 Free';
                content: '\f073';
                margin-top:3px;
                vertical-align:top;
                font-weight: 700;
            }
        }
        .topNavAddress {
            font-size: @base-font-size + 10;
            font-weight: 700;
            line-height: @base-font-size + 10;
            color: @base-color;
        }
    }
    .mapIconHeader {
        float:left;
        width:100%;
        .mapIcon {
            background-image: none !important;
            margin:0 !important;
            width: auto !important;
            height: auto !important;
            &:before {
              // font-family:fontawesome;
              font-family: 'Font Awesome 5 Free';
                // content: '\f041';
                content: '\f3c5';
                font-weight: 700;
            }
        }
        .topNavAddress {
            font-size: @base-font-size + 6;
            font-weight: 500;
            line-height: @base-font-size + 6;
            color: @black;
        }
    }
}



.calendar-component {
    .clearfix();
}
.calendar-component,
.eventDateContainer {
    width:100%;
}
.eventDateContainer {
    float:left;
}

.navbar .container
> .navbar-collapse.active {
  height: 100%;
  min-height: 100%;
}
