/*= Link List Component */

.linklist {
    ul, li {
        float:none;
        width:100%;
    }
    ul {
        margin:0 0 30px;
        padding:0 !important;
        li {
            border-left:0;
            padding: 0;
            &:last-child {
                border-bottom:0;
            }
            a {
                display:inline-block;
                padding:5px 0 5px 5px;
                color: @color-primary;
                display:inline-block;
                &:focus, &:hover {
                    color: @color-secondary;
                }
                .separator {
                    display:none;
                }
            }
            &:before {
              // font-family:fontawesome;
              font-family: 'Font Awesome 5 Free';
                content: '\f105';
                .p();
                font-family: @font-icon !important;
                display:inline-block;
                color: @black;
            }
        }
    }
    > .row {
        margin:0;
    }
}

.custom-footer {
	.linklist {
        ul {

            li {

                &:last-child {

                }
                a {

                    color: @white;
                    &:focus, &:hover {
                        color: @white;
                        font-weight:600;
                    }
                    .separator {
                        display:none;
                    }
                }
                &:before {
                    .p();
                    font-family: @font-icon !important;
                    display:inline-block;
                    color: @white;
                }
            }
        }
        > .row {
            margin:0;
        }
    }
}


.custom-header {
	.linklist {
        ul {

            @media (max-width: 990px) {
                width: auto;
                float: right;
            }

            li {
                display:inline-block;
                float:left;
                width:auto;

                &:last-child {

                }
                a {

                    color: @color-primary;
                    font-weight:600;
                    &:focus, &:hover {
                        color: @color-secondary;
                    }
                    .separator {
                        display:none;
                    }
                }
                &:before {
                    .p();
                    font-family: @font-icon !important;
                    display:none;
                    color: @white;
                }
            }
        }
        > .row {
            margin:0;
        }
    }
}


/* Conference Section - Styles */


.conf-btns {
	.linklist {
        ul {

            @media (max-width: 990px) {

            }

            li {
                display:inline-block;
                float:left;
                width:auto;
                margin-right:10px;

                &:last-child {

                }
                a {
					background: @color-secondary;
                    padding: 20px 30px !important;
                    height: auto;
                    border-top: 0;
                    border-radius: 5px;
                    width: 100%;
                    border-bottom: 0 !important;
                    color: @white !important;
                    margin-right: 0;
                    .transition(300ms all ease-out);
                    line-height: 1.2;
                    font-weight: 500;
                    font-size: 18px;
                    &:focus, &:hover {
                        background: @color-primary !important;
                        color: @white;
                        &:after {
							position: absolute;
                            bottom: -6px;
                            left: 50%;
                            margin-left: -8px;
                            width: 0;
                            height: 0;
                            content: "";
                            border-style: solid;
                            border-width: 7px 10px 0 10px;
                            border-top-color: @color-primary !important;
                            border-left-color: transparent;
                            border-right-color: transparent;
                            border-bottom-color: transparent;
                            opacity: 1;
                            z-index: 1;
                            .transition(300ms all ease-out);
                        }
                    }
                    .separator {
                        display:none;
                    }
                }
                &:before {
                    .p();
                    font-family: @font-icon !important;
                    display:none;
                    color: @white;
                }
            }
        }
        > .row {
            margin:0;
        }
    }

    ul {
		li {
			list-style:none;
            margin-bottom:10px;
        }
    }
}

.conf-btns-active01 {
    .linklist ul li:nth-child(1) a  {
		background: @color-primary !important;
        color: @white;
        &:after {
			position: absolute;
			bottom: -6px;
			left: 50%;
			margin-left: -8px;
			width: 0;
			height: 0;
			content: "";
			border-style: solid;
			border-width: 7px 10px 0 10px;
			border-top-color: @color-primary !important;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			opacity: 1;
			z-index: 1;
			.transition(300ms all ease-out);
		}
    }
}


.conf-btns-active02 {
    .linklist ul li:nth-child(2) a  {
		background: @color-primary !important;
        color: @white;
        &:after {
			position: absolute;
			bottom: -6px;
			left: 50%;
			margin-left: -8px;
			width: 0;
			height: 0;
			content: "";
			border-style: solid;
			border-width: 7px 10px 0 10px;
			border-top-color: @color-primary !important;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			opacity: 1;
			z-index: 1;
			.transition(300ms all ease-out);
		}
    }
}



.conf-btns-active03 {
    .linklist ul li:nth-child(3) a  {
		background: @color-primary !important;
        color: @white;
        &:after {
			position: absolute;
			bottom: -6px;
			left: 50%;
			margin-left: -8px;
			width: 0;
			height: 0;
			content: "";
			border-style: solid;
			border-width: 7px 10px 0 10px;
			border-top-color: @color-primary !important;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			opacity: 1;
			z-index: 1;
			.transition(300ms all ease-out);
		}
    }
}


.conf-btns-active01 {
    .linklist ul li:nth-child(1) a  {
		background: @color-primary !important;
        color: @white;
        &:after {
			position: absolute;
			bottom: -6px;
			left: 50%;
			margin-left: -8px;
			width: 0;
			height: 0;
			content: "";
			border-style: solid;
			border-width: 7px 10px 0 10px;
			border-top-color: @color-primary !important;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			opacity: 1;
			z-index: 1;
			.transition(300ms all ease-out);
		}
    }
}


.conf-btns-active04 {
    .linklist ul li:nth-child(4) a  {
		background: @color-primary !important;
        color: @white;
        &:after {
			position: absolute;
			bottom: -6px;
			left: 50%;
			margin-left: -8px;
			width: 0;
			height: 0;
			content: "";
			border-style: solid;
			border-width: 7px 10px 0 10px;
			border-top-color: @color-primary !important;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			opacity: 1;
			z-index: 1;
			.transition(300ms all ease-out);
		}
    }
}



.conf-btns-active05 {
    .linklist ul li:nth-child(5) a  {
		background: @color-primary !important;
        color: @white;
        &:after {
			position: absolute;
			bottom: -6px;
			left: 50%;
			margin-left: -8px;
			width: 0;
			height: 0;
			content: "";
			border-style: solid;
			border-width: 7px 10px 0 10px;
			border-top-color: @color-primary !important;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			opacity: 1;
			z-index: 1;
			.transition(300ms all ease-out);
		}
    }
}
