/** CTA - Link **/

.quicklink{


    // Custom Classes Start
    .custom-utility &{
        margin:13px 0;
        @media (max-width: 769px){
            margin: 0;
        }
    }
    // End



    .highlightText{
        background:none;
        @media (max-width: 769px) and (min-width: 320px){
            margin-top: 0 !important;
        }
        .Default{
            width:100%;
        }
        .event-overview-btn{

          @media (max-width: 991px) and (min-width: 768px) {
            margin: auto auto auto -15px;
          }
            // margin:0;
            font-size:0;



            // Custom Classes Start
            .align-button-right &,
            .align-buttons-right &{
                text-align:right;
            }
            .align-button-center &,
            .align-buttons-center &{
                text-align:center;
            }
            .custom-utility &{
                 @media (max-width: 769px){
                    .event-overview-btn-col{
                        margin:0 2px 0 0 !important;
                    }
                }
            }
            // End



            .event-overview-btn-col{
                // padding: 0 !important;
                // margin: 0px 0px 0px 0px;
                float:none;
                font-size:15px;
                display:inline-block;
                // width: auto;
                &:last-child {
                  // margin-right: 5px;
                  // margin-left: 5px;
                  padding-right: 15px !important;
                  padding-left: 15px !important;
                }
                &:first-child{
                    // margin:0px 0px 0px 0px;
                }
                a{
                    .btn-default();

                    // Custom Classes Start
                    .cta-link-large &{
                        //.btn-lg();
                    }



                    // Gray Button class

                    .btn-gray &{
                        padding:0px !important;
                        background: @color-gray;
                        &:hover{
                            background: @color-secondary;
                        }
                        .event-overview-btn-text-padding{
                            padding:8px 30px !important;
                            background: @color-gray;
                            .border-radius(5px);
                            .transition(300ms all ease);
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                            }
                        }
                    }


                    // White Button class for Dark Green/Gray BG

                    .dark-green-strip &, .dark-gray-strip &{
                        // padding:0px !important;
                        background: @color-white;
                        color:@color-primary !important;
                        &:hover{
                            background: @color-secondary;
                        }
                        .event-overview-btn-text-padding{
                            padding:8px 30px !important;
                            background: @color-white;

                            color:@color-primary !important;
                            .border-radius(5px);
                            .transition(300ms all ease);
                            span {
            								color:@color-primary !important;
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important;
                                }
                            }
                        }
                    }


                    // White Button class for Light green and individual class

                    .light-green-strip &, .btn-white &{
                        // padding:0px !important;
                        background: @color-white;
                        color:@color-secondary !important;
                        &:hover{
                            background: @color-primary;
                        }
                        .event-overview-btn-text-padding{
                            padding:8px 30px !important;
                            background: @color-white;
                            color:@color-secondary !important;
                            .border-radius(5px);
                            .transition(300ms all ease);
                            span {
								color:@color-secondary !important;
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important;
                                }
                            }
                        }
                    }



                    // Button with Dark Green border class

                    .btn-green-border &{
                        // padding:0px !important;
                        background: none;
                        border:1px solid @color-primary !important;
                        color:@color-primary !important;
                        &:hover{
                            background: @color-primary;
                            border:1px solid @color-primary !important;
                        }
                        .event-overview-btn-text-padding{
                            padding:8px 30px !important;
                            background: none;
                            color:@color-primary;
                            .border-radius(5px);
                            .transition(300ms all ease);
							span {
								color:@color-primary !important;
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important;
                                }
                            }
                        }
                    }


                    // Button with Light Green border class

                    .btn-light-green-border &{
                        padding:0px !important;
                        background: none;
                        border:1px solid @color-secondary !important;
                        color:@color-secondary !important;
                        &:hover{
                            background: @color-secondary;
                            border:1px solid @color-secondary !important;
                        }
                        .event-overview-btn-text-padding{
                            padding:8px 30px !important;
                            background: none;
                            color:@color-secondary;
                            .border-radius(5px);
                            .transition(300ms all ease);
							span {
								color:@color-secondary !important;
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important;
                                }
                            }
                        }
                    }


                    // Button with Gray border class

                    .btn-gray-border &{
                        padding:0px !important;
                        background: none;
                        border:1px solid @color-gray !important;
                        color:@color-gray !important;
                        &:hover{
                            background: @color-gray;
                            border:1px solid @color-gray !important;
                        }
                        .event-overview-btn-text-padding{
                            padding:8px 30px !important;
                            background: none;
                            color: @color-gray;
                            .border-radius(5px);
                            .transition(300ms all ease);
							span {
								color: @color-gray !important;
                            }
                            &:hover{
                                background:none !important;
                                .transition(300ms all ease);
                                span {
                                    color:@color-white !important;
                                }
                            }
                        }
                    }





                    .custom-utility &{
                        @media (max-width: 769px){
                            background:#008c8b;
                            padding: 28px 10px !important;
                            font-size:14px;
                            line-height:14px;
                            .border-radius(0);
                            &:hover{
                                background:@color-secondary;
                            }
                            .event-overview-btn-text-padding{
                                background:none !important;
                                padding:0 !important;
                                span{
                                    font-size:14px !important;
                                    line-height:14px !important;
                                }
                            }
                        }
                    }
                    // End



                    .event-overview-btn-text-padding{
                        padding-left:0;
                        text-align:center !important;
                        @media screen and (max-width: 900px) and (min-width: 320px){
                            display:block !important;
                        }


                         // Custom Classes Start
                        .blue-strip .cta-link-large &{
                            padding:16px 40px !important;
                            .border-radius(28px);
                        }
                        // End


                        span{
                            .font(18px,18px,bold,@font-primary,@color-white);
                            // width:auto !important;
                            text-align:center;
                                text-transform: none;



                            // Custom Classes Start
                            .cta-link-large &{
                                .font(21px,21px,bold,@font-primary,@color-white);
                            }
                            // End

                        }
                            @media screen and (max-width: 900px) and (min-width: 320px){
                                height:auto !important;
                            }
                    }

                    .highlgt-btn-icon-padding{
                        display:none;
                    }
                    &:hover{
                        background:@color-secondary;
                        border:0 !important;
                        .transition(all ease 300ms);
                    }



                }
            }
        }
    }
}












.highlightText{

  &.btn-limited {
    background:none;
    @media (max-width: 769px) and (min-width: 320px){
        margin-top: 0 !important;
    }
    .Default{
        width:100%;
    }
    .event-overview-btn{
        // margin:0;
        font-size:0;

        .event-overview-btn-col{
            // padding: 0 !important;
            // margin: 0px 0px 0px 0px;
            float:none;
            font-size:15px;
            display:inline-block;
            width: 100%;
            @media (min-width: 991px) {
              width: auto;
            }
            &:last-child {
                padding-right: 15px !important;
                padding-left: 15px !important;
            }
            // @media (min-width: 1199px) {
            //   width: auto;
            // }
            &:first-child{
                // margin:0px 0px 0px 0px;
            }
            a{
                // .btn-default();

                // Custom Classes Start
                .cta-link-large &{
                    //.btn-lg();
                }

      // Limited Button class
      // &.btn-limited {
          padding:0px !important;
          // background: transparent;
          &:hover{
              // background: transparent;
              border:0px;
          }
          .event-overview-btn-text-padding{
              padding:15px 30px !important;
              // background:transparent;
              // .border-radius(5px);
              .transition(300ms all ease);
              &:hover{
                  // background:none;
                  .transition(300ms all ease);

                  }
              }
          // }
      }
    }
  }
}





  &.btn-white-clear {
    background:none;
    @media (max-width: 769px) and (min-width: 320px){
        margin-top: 0 !important;
    }
    .Default{
        width:100%;
    }
    .event-overview-btn{
        // margin:0;
        font-size:0;

        .event-overview-btn-col{
          // padding: 0 !important;
          // margin: 0px 0px 0px 0px;
          float:none;
            font-size:15px;
            display:inline-block;
            // width: auto;
            &:last-child {
                padding-right: 15px !important;
                padding-left: 15px !important;
            }
            &:first-child{
                // margin:0px 0px 0px 0px;
            }
            a{
                .btn-default();

                // Custom Classes Start
                .cta-link-large &{
                    //.btn-lg();
                }

      // Secondary Button class
      // &.btn-secondary {
          padding:0px !important;
          // background: @color-white;
          // &:hover{
          //     background: @color-primary;
          //     border:0px;
          // }

              .event-overview-btn-text-padding{
                padding:15px 30px !important;
                background-color: @color-alt;
                border: 2px solid @color-white;
                  .transition(300ms all ease);
                  &:hover{
                  // background:none !important;
                  .transition(300ms all ease);
                  background-color: @color-primary;
                  border: 2px solid @color-primary;
                  }
                  &:active {
                    .transition(300ms all ease);
                    background-color: @color-secondary!important;
                    border: 2px solid @color-secondary!important;
                  }

                  }

          // }
      }
    }
  }
}


      &.btn-youtube {
        background:none;
        @media (max-width: 320px){
            margin-top: -45px !important;
            float: left;
            padding-bottom: 45px;
            width: 100%;
        }
        @media (max-width: 991px) {
            margin-top: -25px !important;
            float: left;
            padding-bottom: 45px;
            width: 100%;
        }
        .Default{
            width:100%;
        }
        .event-overview-btn{
            // margin:0;
            font-size:0;

            .event-overview-btn-col{
                // padding: 0 !important;
                // margin: 0px 0px 0px 0px;
                float:none;
                font-size:15px;
                display:inline-block;
                width: 100%;
                @media (min-width: 991px) {
                  width: auto;
                }
                // @media (min-width: 1199px) {
                //   width: auto;
                // }
                &:last-child {
                    padding-right: 15px !important;
                    padding-left: 15px !important;
                }

                &:first-child{
                    // margin:0px 0px 0px 0px;
                }
                a{
                    .btn-default();

                    // Custom Classes Start
                    .cta-link-large &{
                        //.btn-lg();
                    }

          // Limited Button class
          // &.btn-limited {
              // padding:0px !important;
              // background: transparent;
              &:hover{
                  // background: transparent;
                  // border:0px;
              }
              .event-overview-btn-text-padding{
                padding:15px 30px !important;
                background-color: @color-alt;
                border: 2px solid @color-white;
                  .transition(300ms all ease);
                  &:hover{
                  // background:none !important;
                  .transition(300ms all ease);
                  background-color: @color-primary;
                  border: 2px solid @color-primary;
                  }
                  &:active {
                    .transition(300ms all ease);
                    background-color: @color-secondary!important;
                    border: 2px solid @color-secondary!important;
                  }

                  }

              // }
          }
        }
      }
    }


    &.btn-secondary {
      background:none;
      @media (max-width: 769px) and (min-width: 320px){
          margin-top: 0 !important;
      }
      .Default{
          width:100%;
      }
      .event-overview-btn{
          // margin:0;
          font-size:0;

          .event-overview-btn-col{
            // padding: 0 !important;
            // margin: 0px 0px 0px 0px;
            float:none;
              font-size:15px;
              display:inline-block;
              // width: auto;
              &:last-child {
                  padding-right: 15px !important;
                  padding-left: 15px !important;
              }
              &:first-child{
                  // margin:0px 0px 0px 0px;
              }
              a{
                  .btn-default();

                  // Custom Classes Start
                  .cta-link-large &{
                      //.btn-lg();
                  }

        // Secondary Button class
        // &.btn-secondary {
            padding:0px !important;
            // background: @color-secondary!important;
            // &:hover{
            //     background: @color-primary!important;
            //     border:0px;
            // }
            .event-overview-btn-text-padding{
                padding:15px 30px !important;
                background:@color-primary;
                // .border-radius(5px);
                .transition(300ms all ease);
                &:hover{
                // background:none !important;
                .transition(300ms all ease);
                background:@color-alt;

                }
                &:active {
                  .transition(300ms all ease);
                  background-color: @color-secondary;
                }

                }
            // }
        }
      }
    }
  }




}
