/** Text **/

.text{
  margin-bottom: 0px;

    //Custom Class
    .press-page &{
		margin:0;
        p{
			margin:0;
        }
    }

    h1,h2,h3,h4,h5,h6{
        color:@color-primary;

		//Custom Class Overide
        .blue-strip &{
            color:@color-white;
        }
    }
    h1{

        .h1();
        font-weight:normal;
        font-family:@font-secondary;
        @media (max-width:991px){

        }
    }
    h2{
        .h2();
        font-weight:bold;
        font-family:@font-secondary;
        @media (max-width:767px){

        }
    }
    h3{
        .h3();
        @media (max-width:767px){

        }
        b{
			font-family:@font-secondary !important;
        }
        .text-variation-1 &{
			margin:0;
        }
    }
    h4{
        .h4();
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    h5{
        .h5();
    }
    h6{
        .h6();
        color:@color-gray;
    }
    p{
        // font-size:@p-font-size;
        line-height:@p-line-height;
        font-family:@font-primary;
        color:@color-gray;
    		margin-bottom:20px;
        //Custom Class Overide
        .blue-strip &{
            color:@color-white !important;
        }
    }

    a{
      color: @link;
  		font-weight: 600;
      text-decoration: none;
      // text-decoration: underline;
      &:hover,
      &:focus {
        color: @visited;
        text-decoration: none;
      }
      &:active {
        color: @active;
        text-decoration: none;

        }
    }

    //Custom Classes

    .text-intro &{
        h2{
			font-size:36px;
            line-height:50px;
        }
        h3{
			font-size:30px;
            line-height:40px;
        }
    }
    .text-gradient &{
        .h1,h2,h3,h4,h5,h6,p{
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            sup{
                top: -.6em;
                font-size:60%;
                -webkit-text-fill-color: @color-tertiary;
            }
        }
    }
    .text-highlight &{
        h1{
            font-size:88px !important;
            line-height:98px !important;
            font-weight:bold !important;
            font-family:@font-primary !important;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        	 @media screen and (-ms-high-contrast: none) {
            	color:@color-primary;
            	background:none !important;
            }
            sup{
                top: -.6em;
                font-size:60%;
                -webkit-text-fill-color: #008c8b;
            }
			@media (max-width: 1199px){
                font-size: 70px !important;
                line-height: 80px !important;
        	}
    		@media (max-width: 991px){
                font-size: 50px !important;
                line-height: 60px !important;
        	}
		}
	}
}

.text-white {
	.text{
		p,h1,h2,h3,h4,h5,h6,i,b,strong,span, a {
			color:@color-white;
        }
    }
}

.text-green {
	.text{
		p,h1,h2,h3,h4,h5,h6,i,b,strong,span, a {
			color:@color-primary;
        }
    }


}

.ctablock {
	&.text-white {
        .titleBar {
			.informa-title-bar {
				color:@color-white;
            }
        }
    }

}

.text-center {
	.text{
		p,h1,h2,h3,h4,h5,h6,i,b,strong,span, a {
			text-align: center;
        }
    }
}

.color-green {
	color:@color-primary !important;
}
.color-light-green {
	color:@color-secondary !important;
}

.text-box-primary {
    .text {
		border:1px solid @color-primary;
    	padding:20px;
    }
}

.text-box-light-secondary {
	.text {
		border:1px solid @color-secondary;
    	padding:20px;
    }
}

.date-text {
	&:before {
    // font-family:fontawesome;
    font-family: 'Font Awesome 5 Free';
        content: '\f133';
        padding-right:10px;
    }
}

.bold {
	font-weight:600 !important;
}
.bolder {
	font-weight: 700 !important;
}
.uppercase {
  text-transform: uppercase!important;
}
