/**     Top Navigation Styles     **/

.top-nav{
  // *with search on, use this * width:90%;
  width:93%;

  @media (min-width: 990px) and (max-width: 1100px) {
    // *with search on, use this * width:87%;
    width:90%;
  }

  float: none;
  margin-left: 110px;

    .informa-header-menu{
        .navbar{
            min-height:0;
            background:none;
            padding:0;
            margin:0;
            // width:96%;
            float: right;

            .container{
                position:relative;
                float: right;
                width: 100%;

                .navbar-element,
                #navbar {
                    background-color:transparent !important;
                    .navbar-nav{
                        background:none;
                        // float: right;
                        // width:100%;
                        padding:0;
                        font-size:0;
                        text-align:right;
                        >li{
                            border-left: none;
                            display:inline-block;
                            float:none;
                            margin:1px 1px;
                            a{
                                height:auto;
                                padding:15px 25px 15px 15px !important;
                                margin-right:0px;
                                width:auto;
                                .transition (background 300ms ease-out);
                                .transform(rotate(0deg));
                                background-color:transparent !important;
                                position:relative;
                                small{
                                    display: block;
                                    width:auto;
                                    height:auto;
                                	text-align:left;

                                	.font(@font-size-base,@navbar-font-size,600,@font-primary,@color-secondary);

                                    padding:0;

                                    .navArrowRight{
                                        margin-top:0 !important;
                                        height:20px;
                                    	width:20px;
                                    	position:absolute;
                                        top:35%;
                                    	display:block !important;
                                        background:none !important;
                                        right:0px;
                                    	// display:none;

                                    	// .transform(translateY(-50%));
                                        &:before{
                                        	/*content:'';
                                            display:block;
                                            top: 0%;
                                            width: 2px;
                                        	height:20px;
                                            left: 50%;
                                        	.transform(translateX(-50%));
                                            position: absolute;
                                            .transition(300ms ease all);
                                            background: @color-secondary; */
                                        }
                                        &:after{
                                        	/* content:'';
                                        	display:block;
                                            left: 0;
                                            height: 2px;
                                        	width:20px;
                                            top: 50%;
                                        	.transform(translateY(-50%));
                                    		position: absolute;
                                            .transition(300ms ease all); *
                                            background: @color-secondary;  */
                                            .transition(300ms ease all);
                                            .transform(rotate(0deg));
                                            font-family: 'Font Awesome 5 Free';
                                            content: "\f0d7";
                                            display: inline-block;
                                            /* font: normal normal normal 14px/1 FontAwesome; */
                                            font-size: inherit;
                                            text-rendering: auto;
                                            -webkit-font-smoothing: antialiased;
                                            -moz-osx-font-smoothing: grayscale;
                                            color:@color-secondary !important;

                                        }
                                    }
                                }
                        	}
                            &:hover,&:visited,&:focus,&.open{
                                > a{
                                	background-color:@color-secondary !important;
                                    >small{
                                        color:@color-white-base !important;
                                        .navArrowRight{
                                        	&:before,&:after{
                                            	.transition(300ms ease all);
                                              .transform(rotate(180deg));
                                              color:@color-white-base !important;
                                        	}
                                            // &:after{
                        										// 	opacity:0;
                                            // }
                                        }
                                    }
                                }
                            }
                            &.active{
                                > a{
                                  background-color:@color-primary !important;
                                    >small{
                                        color:@color-white-base !important;
                                        .navArrowRight{
                                          &:before,&:after{
                                              .transition(300ms ease all);
                                              .transform(rotate(180deg));
                                              color:@color-white-base !important;
                                          }
                                            // &:after{
                                            // 	opacity:0;
                                            // }
                                        }
                                    }
                                }
                            }
                            &.navRegisterbg{
                                float:right;
                                background:none !important;
                            	padding-top: 8px;
                            	@media (min-width:991px) {
                            		padding-left:15px;
                            	}
                                a{
                                    font-family: @navbar-font-family;
                                    font-size: @navbar-font-size !important;
                                    line-height: @navbar-font-size !important;
                                    font-weight: 600 !important;
                                	color: @color-secondary;
                                    background: none;
                                	border: 1px solid @color-secondary;
                                	border-radius: 20px;
    								padding: 6px 15px !important;
                                    display:block;
                                	cursor:pointer;

                                    @media (max-width: 990px){
                                        padding: 6px !important;
                                    	padding-left:50px !important;
                                    	border:0px;
                                    	border-radius:0px;
                                    }
                                    .transition (all 300ms ease-out);
                                    &:hover{
                                        background:@color-secondary !important;
                                        .transition (all 300ms ease-out);
                                        color:@color-white-base;

                                    }
                                }

                            }
                            &:hover{
                              @media (min-width: 1200px){
                                    > ul{
                                        display:block;
                                        //animation-duration: 500ms;
                                        //animation-fill-mode: both;
                                    }
                                }
                            }


                            // start main menu dropdown
                            ul{
                            	background-color:@color-white-base !important;
                                width:300px !important;
                                -webkit-animation-name: fadeIn;
                                animation-name: fadeIn;
                        		box-shadow:0px 3px 7px 0px rgba(0,0,0,0.33);
                        		padding:0;
                                li{
                        		      border-left:0;
                                  position:relative;
                                  display:block;
                                  margin:0;
                                  border-bottom: 1px solid @color-secondary;
                                    a.has-submenu{
                										padding:0 !important;
                                        display:block;
                                		position:relative;
                                		background-color: transparent !important;
                                		// border-bottom: 1px solid @color-secondary;
                                        &:after{
                                            /* content: '';
                                            height: 1px;
                                            width: 20px;
                                            background: @color-secondary;
                                            position: absolute;
                                            top: 50%;
                                            left: 15px; */

                                        }
                                        small{
                                    		padding:15px 15px !important;
                                            display:block;
                                            font-size: @navbar-font-size;
                                            color:@color-secondary !important;
                                    		position:relative;
                                            &:before{
                                                /* position: absolute;
                                                top: 50%;
                                                left: 27px;
                                                height: 1px;
                                                margin-top: -3px;
                                                width: 10px;
                                                background: @color-secondary;
                                                content: '';
                                                transform: rotate(45deg); */
                                            }
                                            &:after{
                                              .transition(300ms ease all);
                                              .transform(rotate(0deg));
                                              font-family: 'Font Awesome 5 Free';
                                              content: "\f0d7";
                                              display: inline-block;
                                              /* font: normal normal normal 14px/1 FontAwesome; */
                                              font-size: inherit;
                                              text-rendering: auto;
                                              -webkit-font-smoothing: antialiased;
                                              -moz-osx-font-smoothing: grayscale;
                                              color:@color-secondary !important;
                                              float: right;
                                              text-align: right;
                                              // right: 0;

                                            }
                                    	}
                            		}
                                    ul{
                                		li a span{
                  											color:@color-white-base;
      		                            }
                                    }
                                   &:hover,&:visited,&:focus,&.open{
                                        >a{
                                            background-color:@color-secondary !important;
                                            small{
                                                color:@color-white-base !important;

                                                &:before,&:after{
                                                  	.transition(300ms ease all);
                                                    .transform(rotate(180deg));
                                                    color:@color-white-base !important;
                                                  }
                                            }
                                        }
                                    }
                                    &.active{
                                         >a{
                                             background-color:@color-primary !important;
                                             small{
                                                 color:@color-white-base !important;

                                                 &:before,&:after{
                                                   	.transition(300ms ease all);
                                                     .transform(rotate(180deg));
                                                     color:@color-white-base !important;
                                                   }
                                             }
                                         }
                                     }
                                    &:hover{
                                        @media (min-width: 1200px){
                                            > ul{
                                                display:block;
                                                top:0;
                                                left:100%;
                                                visibility:visible;
                                                // .transition(300ms all ease-out);

                                                &:before,&:after{
                                                  	.transition(300ms ease all);
                                                    .transform(rotate(180deg));
                                                    color:@color-white-base !important;
                                                  }
                                            }
                                        }
                                    }
                                   &:first-child{
                                        border-left:0;
                                        a{
                                             small{
                                                border-top:0;
                                             }
                                        }
                                    }
                                }
                            }
                            // end main menu dropdown
                        }
                    }
                }
            }




            .mobileLayoutNav .nav .navbar-nav .sm-collapsible {
              width: 85%;
              @media (min-width: 1024px) {
                width: 100%;
              }
            }

            // Navbar highlight item
            .mobileLayoutNav > .mainMenuTopnav:last-of-type,
            .navbar .nav > .navRegisterbg {
              @media (min-width: 1024px) {
                float: @navbar-highlight-float;
                // width: @navbar-highlight-width;
                width: auto;

              }


              > a {
                border: 3px solid @navbar-highlight-color !important;
                background-color: @navbar-highlight-bg !important;
                color: @navbar-highlight-color !important;
                &:hover,
                &:focus {
                  color: @navbar-highlight-color !important;
                  background-color: @navbar-highlight-hover-bg !important;
                }
                &:active {
                  border: 3px solid @color-primary !important;
                  color: @color-white !important;
                  background-color: @color-primary !important;
                }
              }
              &.active {
                > a {
                  &,
                  &:hover,
                  &:focus {
                    border: 3px solid @color-primary !important;
                    color: @color-white !important;
                    background-color: @color-primary !important;
                  }
                }
              }
              .dropdown-menu {
                background-color: @navbar-highlight-bg;
                > li {
                  > a {
                  border-right: 0px solid #ffffff !important;
                  background-color: @navbar-highlight-bg !important;
                  color: @navbar-highlight-color !important;
                  &:hover,
                  &:focus {
                    color: @navbar-highlight-color !important;
                    background-color: @navbar-highlight-hover-bg !important;
                  }
                }
              }
              }

            }


        }
    }
}
// end topnav

@media (max-width: 990px){

}


.collapse.navbar-collapse.navbar-element.sidebar-offcanvas.active.transition {
  min-height: 100%!important;
}

/**   Responsive Layouts - mobile menu  **/
@media (max-width: 990px){

    .navbar .container > .navbar-collapse {
        position: fixed;
        z-index: 50;
        bottom: 0px;
        top: 0px;
        right: -50%;
        width: 48%;
        white-space: nowrap;
        box-shadow: none;
        display: block;
        background-color: rgba(34, 34, 34, 0.91);
        margin: 0px;
        padding: 0px;
        border-top: 0px solid rgb(255, 255, 255);
        overflow: auto !important;
        height: 100%!important;
        min-height: 100%!important;

        &.active{
            width: 100%;
            height: 100%!important;
            min-height: 100%!important;

            transition: all 0.3s ease-out;
        }
    }
    .navbar-header{
        float:right;
        margin-right:15px;
        .navbar-toggle {
            display: block;
            .icon-bar{
                background:@color-primary !important;
            }
        }
    }


    .top-nav{
        margin-top:0;
        .informa-header-menu{
            .navbar{
                .container{
                    position:relative;
                    .navbar-element, /* <<<--- replacement */
                    #navbar { /* <<<--- ID selector to be replaced */
                        background-color: rgba(255, 255, 255, 1) !important;
                        .navbar-nav{
                            width:85%;
                            // *with search on, use this * margin-top: 70px;
                            margin-top: 0px;
                            padding:0;
                            background:none;
                            li{
                                display:block;
                                background-color:transparent !important;
                                float:none;
                                border-bottom:1px solid @color-secondary;

                                a{
                  									// line-height:20px !important;
                                    padding: 15px 15px !important;
                                    small{
                                        // line-height:20px !important;
                                        color:@color-secondary !important;
                                        span{
                      											// left:15px !important;
                                            color:@color-secondary !important;
                                        }
                                    }
                                }
                                ul{
                                    position: static;
                                    float: none;
                                    width:100% !important;
                                    padding:0;

                                    li{
                                        padding:0;
                                        border-bottom: 0 !important;
                                        background-color:transparent !important;
                                        &:hover{
                                            background-color: @color-primary !important;
                                        }
                                        a{
                                            border-bottom: 1px solid @color-secondary !important;
                                            small{
                                                // line-height:20px !important;
                                                padding: 0px 15px !important;
                                                color:@color-secondary !important;
                                            }
                                            &.has-submenu{
                                            padding: 0px 15px !important;
                                            }




                                        }
                                    }
                                }
                                &.navRegisterbg{
                                    width:100%;
                                    float:none;
                                    border-bottom:0px;
                                    padding-top:0px;

                                    a {
                                      padding: 15px 15px !important;
                                    }
                                }
                                &#toggleDropdown_76_top_nav_copy_copy_co_edcfbc0e-6f8d-4950-84f1-c3c3e0d11d38_header_ipar_column_control_185581978_par-col-1_column_control_par-col-1_top_nav_copy_copy_co{
                                  a {
                                    border-bottom: 1px solid @color-white !important;
                                    background-color: @color-secondary !important;
                                    small{
                                    color: @color-white !important;
                                    .navArrowRight:after {
                                      color: @color-white !important;
                                      }
                                    }
                                    &:hover,
                                    &:focus {
                                      border: 3px solid @color-alt !important;
                                      border-bottom: 1px solid @color-white !important;
                                      color: @color-white !important;
                                      background-color: @color-alt !important;
                                    }
                                    &:active {
                                      color: @color-white !important;
                                      background-color: @color-primary !important;
                                    }
                                  }
                                  &.active {
                                    > a {
                                      &,
                                      &:hover,
                                      &:focus {
                                        border: 3px solid @color-primary !important;
                                        color: @color-white !important;
                                        background-color: @color-primary !important;
                                      }
                                    }
                                  }
                                  ul#mymenu_77_top_nav_copy_copy_co_edcfbc0e-6f8d-4950-84f1-c3c3e0d11d38_header_ipar_column_control_185581978_par-col-1_column_control_par-col-1_top_nav_copy_copy_co {
                                      li{
                                        a {
                                          border-top: 1px solid @color-white !important;
                                          background-color: @color-secondary !important;;
                                          small{
                                          color: @color-white !important;
                                          }
                                          &:hover,
                                          &:focus {
                                            border-top: 1px solid @color-white !important;
                                            border-right: 0px solid @color-alt !important;
                                            border-bottom: 1px solid @color-alt !important;
                                            border-left: 0px solid @color-alt !important;
                                            color: @color-white !important;
                                            background-color: @color-alt !important;
                                          }
                                          &:active {
                                            color: @color-white !important;
                                            background-color: @color-primary !important;
                                        }
                                      }
                                      &.active {
                                        > a {
                                          &,
                                          &:hover,
                                          &:focus {
                                            border: 3px solid @color-primary !important;
                                            color: @color-white !important;
                                            background-color: @color-primary !important;
                                          }
                                        }
                                      }
                                      }
                                  }



                                }
                            }
                            &:last-of-type{
                                 border-bottom: 0!important;
                                 a{
                                      small{
                                         border-top:0;
                                      }
                                 }
                             }
                             .mainSecondaryNav{
                                        display:none;
                            }
                        }
                        .navbar-header{
                            background:none !important;
                        }
                    }
                    position: static;
                    .trig-search{
                        display:none !important;
                    }
                    .navbar-inverse{
                        background:none !important;
                    }
                }
            }
        }
    }

}
@media (max-width: 769px) {
.informa-header-menu .navbar-nav li a {
    border-bottom: 0px solid rgb(113, 113, 113) !important;
}
}
