/**     Breadcrumbs     **/
.informaBreadcrumb {
	.travel-divider {
		border: 0;
	}
}


/**     Header Search Result     **/
.headerSearchResult {
	border: 1px solid #eee;
	margin-left: -15px;
	margin-right: -15px;
	padding: 30px;

	form {
		margin: 0;
	}
}

/**     Sitemap     **/
#SiteMap > ul {
	margin: 0 0 30px;

	&::after {
		clear: both;
		content: '';
		display: table;
	}

	.mainBox {
		background-color: @primary-color;
	}
}


/**     Title Bar     **/
.titleBar {
	h4 {
		background: none !important;
		border: 0 !important;
		color: #000;
		font-size: 28px;
		font-weight: bold;
		margin: 30px 0;
		padding: 0 0 15px;
		position: relative;

		&::after {
			background: #ef433f;
			content: '';
			height: 4px;
			left: 0;
			position: absolute;
			top: 100%;
			width: 45px;
			.border-radius(3px);
		}
	}
}


/**     Content Highlight       **/
.contentHighlight {
	.row {
		margin: 0;

		.default {
			padding: 0;
		}
	}

	#container1 {
		.component1 {
			.heading {
				position: relative;

				a {
					display: block;

					h3 {
						background: none !important;
						border: 0 !important;
						color: #fff;
						font-weight: bold;
						height: 100% !important;
						left: 0;
						margin: 0;
						padding: 3vw 15px 6vw !important;
						position: absolute;
						text-align: center;
						text-transform: uppercase;
						top: 0;
						width: 100% !important;
						z-index: 20;
					}

					&::after {
						background: rgba(0, 0, 0, 0.5);
						content: '';
						display: block;
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
						z-index: 1;
						.transitions(@transition);
					}

					&:hover {
						&::after {
							background: rgba(0, 0, 0, 0.8);
							.transitions(@transition);
						}
					}
				}

				.callToActionPara {
					background: none;
					bottom: 0;
					height: 60%;
					left: 0;
					position: absolute;
					width: 100%;
					z-index: 10;

					p {
						background: none !important;
						color: #fff;
						margin: 0;
						padding: 0;
						text-align: center;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}


/**     Image Call to action       **/
.imagecalltoaction {
	.informa-image-call-to-action {
		.informa-image-call-to-action-title {
			h3 {
				background: none;
				border-bottom: 0;
				color: @black;
				font-family: @primary-font;
				font-size: 24px;
				font-weight: bold;
				height: auto;
				margin: 20px 0 10px;
				padding: 0;
				text-transform: none;
			}
		}

		.informa-image-call-to-action-content-section {
			background: none;
		}

		.informa-image-call-to-action-content-image {
			padding: 20px !important;
		}

		.callToActionContent {
			margin: 0;
			padding: 0;

			.informa-image-call-to-action-content-subtitle {
				font-size: 20px !important;
				font-weight: bold;
				line-height: 30px;
				margin: 0 0 10px;
			}
		}

		.btn {
			background: @primary-color;
			border: 0 !important;
			height: auto !important;
			line-height: 1;
			padding: 18px 20px 18px 20px !important;
			width: auto;

			.HomePageBtn {
				width: 100%;
			}

			h4 {
				line-height: 1;
			}
			.transitions(@transition);

			.HomePageBtnArrow {
				img {
					display: none;
				}

				&::before {
					color: #fff;
					content: '\e080';
					display: inline-block;
					font-family: 'Glyphicons Halflings';
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					position: relative;
					top: 1px;
				}
			}

			&:hover {
				background: darken(@primary-color, 20%);
				border: none !important;
				.transitions(@transition);
			}
		}
	}
}


/**     CTA - Link     **/
.quicklink {
	.hightxt_btn {
		.highlgt-btn-custom {
			background: @primary-color;
			border: 0 !important;
			.transitions(@transition);

			.highlgt-btn-icon-padding {
				img {
					display: none;
				}

				&::before {
					color: #fff;
					content: '\e080';
					display: inline-block;
					font-family: 'Glyphicons Halflings';
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					position: relative;
					top: 1px;
				}
			}

			&:hover {
				background: darken(@primary-color, 20%);
				border: none !important;
				.transitions(@transition);
			}
		}
	}
}

/**     Social - Link     **/

/**     Anchor - Links     **/
.anchorLinks {
	#AnchorLink {
		.nav-tabs {
			li {
				a{

				}

				&:hover,
				&.active {
					a {
						border-top: 4px solid @primary-color !important;
					}
				}
			}
		}
	}
}


/**     Hero - Carousel     **/
.heroParallax {
	.carousel {
		margin-bottom: 0;

		img {
			min-height: 0 !important;
		}
	}
}


.countdown {
    margin:30px 0;
    .eventCountdownEvent {
        margin:0;
        padding: 15px 0;
        font-weight: 700;
        position: relative;
        .countDisplay {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top:10px;
            span {
                flex-shrink:1;
                flex-grow: 2;
                flex-basis: 23%;
                margin: 10px 1%;
                padding: 15px !important;
                text-align:center;
                color: #fff;
                border:2px solid #999;
                background:#fff!important;
                color:#1b4379;
                font-size:24px!important;
                @media (max-width:991px){
                    flex-basis:50%;
                }
                @media (max-width:769px){
                    flex-basis:100%;
                }
                 &:nth-child(1), &:nth-child(2) , &:nth-child(3) , &:nth-child(4)  {
                    font-size:24px!important;
                    color:#1b4379;
                    font-weight: 400;
                }
            }
        }
    }
}