/**     Footer Upcoming Events     **/
.t-upcoming-events {
	background: #fffbfa;
	margin-left: -15px;
	margin-right: -15px;
	padding: 60px 10px;
	text-align: center;

	.titleBar {
		h4 {
			&::after {
				left: 50%;
				margin-left: -22.5px;
				width: 45px;
			}
		}
	}

	.banner-section {
		.informa-image-banner-image {
			img {
				max-height: 200px;
				max-width: 200px !important;
				width: 100%;
			}
		}
	}
}


/**     Footer Media Partners     **/
.t-media-partners {
	background: #fff;
	margin-left: -15px;
	margin-right: -15px;
	padding: 60px 10px;
	text-align: center;

	.titleBar {
		h4 {
			&::after {
				left: 50%;
				margin-left: -22.5px;
				width: 45px;
			}
		}
	}

	.linklist {
		ul {
			text-align: center;

			li {
				border: 0 !important;
				display: inline-block !important;
				float: none !important;

				a {
					color: #000;
					display: block;
					font-size: 18px;
					font-weight: bold;
					margin: 0 35px 20px;

					.separator {
						display: none !important;
					}
				}
			}
		}
	}
}


/**     Footer Social Media     **/
.t-social-media {
	background: #373737;
	margin-left: -15px;
	margin-right: -15px;

	.social-icons-custom {
		border-left: 1px solid #333;
		margin: auto;
		max-width: 900px;
		padding-left: 15px;
		width: 100%;

		.col-sm-4 {
			padding: 0;
		}

		.contentHighlight {
			#container1 {
				.component1 {
					.heading {
						a {
							border-right: 1px solid #333;
							padding: 60px 0;
							text-align: center;
							.transitions(@transition);

							img {
								display: inline-block;
								opacity: 0.3;
								.transitions(@transition);
							}

							h3 {
								color: #fff;
								display: inline-block;
								font-size: 13px;
								font-weight: bold;
								height: auto !important;
								letter-spacing: 2px;
								margin: 0 0 0 10px !important;
								padding: 0 !important;
								position: static;
								text-transform: uppercase;
								width: auto !important;
							}

							&::after {
								display: none;
							}

							&:hover {
								.transitions(@transition);

								img {
									opacity: 1;
									.transitions(@transition);
								}
							}
						}
					}
				}
			}
		}

		.social-facebook {
			a {
				&:hover {
					background: #3b5998;
				}
			}
		}

		.social-wechat {
			a {
				&:hover {
					background: #00da21;
				}
			}
		}

		.social-linkedin {
			a {
				&:hover {
					background: #287bbc;
				}
			}
		}
	}
}


/**     Footer Widgets     **/
.t-footer-widgets {
	background: #000;
	margin-left: -15px;
	margin-right: -15px;
	padding: 60px 0;

	p,
	a {
		color: #fff;
		font-size: 13px;
	}

	h4 {
		color: #fff;
		font-size: 22px;
		font-weight: bold;
		margin: 0 0 10px;
	}

	.bannerImage {
		.informa-image-banner {
			.banner-section {
				.informa-image-banner-image {
					img {
						max-width: 100%;
						width: auto !important;
					}
				}
			}
		}
	}

	.linklist {
		ul {
			li {
				border: 0 !important;
				display: block;
				float: none;

				a {
					font-size: 18px;
					line-height: 28px;
					margin: 0 0 10px;
					padding: 0;

					.separator {
						display: none;
					}

					&:hover {
						color: @primary-color;
					}
				}
			}
		}
	}

	.t-footer-logo {
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		margin-top: 20px;
		padding-top: 20px;

		.informa-image-banner-image {
			padding: 0 20px;
		}

		.col-lg-3 {
			width: 33.333333333333%;
		}

		.col-lg-9 {
			width: 66.6666666666666%;
		}
	}
}
