/**     Form Component     */
.form-container {
	background: none !important;

	.forms-title {
		background: none !important;
		border: 0 !important;
		color: #000;
		font-size: 28px;
		font-weight: bold;
		margin: 30px 0 !important;
		padding: 0 0 15px;
		position: relative;

		&::after {
			background: #ef433f;
			content: '';
			height: 4px;
			left: 0;
			position: absolute;
			top: 100%;
			width: 45px;
			.border-radius(3px);
		}
	}

	.custom-form-row {
		background: #fff;
		border: 1px solid #eee;
		margin: 0 0 30px;

		form {
			padding: 0;
		}
	}
}

/**     Thank you page     */
.thankYouPage {
	.InformaBookAStandForm.InformaBookAStandForm-form-main-fo1 {
		background: #fffbfa !important;
		border: 1px solid #eee;

		.form-horizontal.registration-form {
			h1 {
				margin: 30px 0 !important;
			}
		}
	}
}
