/*   Main HEADER  */
.headercontainer {
	margin-left: -15px;
	margin-right: -15px;
	padding: 3vw 0;
	position: relative;

	header {
		.headerVerticalHold {
			.cover {
				position: static;
				width: 100%;
			}

			.container {
				position: static;
				width: 47.86458333333333%;

				.left {
					img {
						width: 100%;
					}
				}

				.seperator {
					display: none;
				}

				.right {
					padding: 3% 2%;
					position: absolute;
					right: 60px;
					top: 0;
					width: 17.34375%;

					p {
						color: #fff !important;
						font-weight: bold !important;

						i {
							display: none;
						}

						span {
							font-size: 2vw;
							line-height: 2vw;
							margin: 0;
							padding: 0 !important;
						}

						&.mapIconHeader {
							span {
								font-size: 1.4vw;
								font-weight: 400;
								letter-spacing: 1px;
								line-height: 1.6vw;
							}
						}

						&.calendarDetails {
							margin: 0 0  1vw;
						}
					}
				}

				#header_search {
					background: rgba(0, 0, 0, 0.8);
					height: 100%;
					left: 0;
					opacity: 0;
					position: fixed;
					top: 0;
					-webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
					-moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
					-o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
					-ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
					transform: perspective(200px) rotateX(-15deg) scale(0.75);
					-webkit-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out;
					-ms-transition: all 0.4s ease-in-out;
					transition: all 0.4s ease-in-out;
					visibility: hidden;
					width: 100%;
					z-index: 99999;

					&.active {
						opacity: 1;
						-webkit-transform: perspective(200px) rotateX(0deg) scale(1);
						-moz-transform: perspective(200px) rotateX(0deg) scale(1);
						-o-transform: perspective(200px) rotateX(0deg) scale(1);
						-ms-transform: perspective(200px) rotateX(0deg) scale(1);
						transform: perspective(200px) rotateX(0deg) scale(1);
						visibility: visible;
					}

					.search-form {
						display: table;
						height: 100%;
						width: 100%;

						.input-group {
							display: table-cell;
							text-align: center;
							vertical-align: middle;

							input[type="text"] {
								background: none;
								border: 0;
								border-bottom: 1px solid rgba(255, 255, 255, 0.7);
								color: #fff;
								display: inline-block;
								float: none;
								font-size: 3vw;
								font-weight: 600;
								height: auto;
								left: 3%;
								margin: auto;
								padding: 10px 5% 10px 2% !important;
								position: relative;
								width: 50%;

								&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
									color: #ccc;
								}

								&::-moz-placeholder { /* Firefox 19+ */
									color: #ccc;
								}

								&:-ms-input-placeholder { /* IE 10+ */
									color: #ccc;
								}

								&:-moz-placeholder { /* Firefox 18- */
									color: #ccc;
								}
							}

							.input-group-btn {
								display: inline-block;
								left: -3%;
								position: relative;
								width: 5%;
								z-index: 99999;

								button {
									background: none !important;
									border: 0;
									outline: none;

									i {
										background: none !important;
										font-size: 3vw;
										.transitions(@transition);

										&:hover {
											color: @primary-color !important;
											.transitions(@transition);
										}
									}
								}
							}
						}
					}

					.trig-close {
						color: #fff;
						cursor: pointer;
						font-size: 3vw;
						position: absolute;
						right: 20px;
						top: 20px;
						.transitions(@transition);

						&:hover {
							.transitions(@transition);

							color: @primary-color;
						}
					}
				}
			}
		}
	}
}

#header_search {
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	-webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
	-moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
	-o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
	-ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
	transform: perspective(200px) rotateX(-15deg) scale(0.75);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 99999;

	&.active {
		opacity: 1;
		-webkit-transform: perspective(200px) rotateX(0deg) scale(1);
		-moz-transform: perspective(200px) rotateX(0deg) scale(1);
		-o-transform: perspective(200px) rotateX(0deg) scale(1);
		-ms-transform: perspective(200px) rotateX(0deg) scale(1);
		transform: perspective(200px) rotateX(0deg) scale(1);
		visibility: visible;
	}

	.search-form {
		display: table;
		height: 100%;
		width: 100%;

		.input-group {
			display: table-cell;
			text-align: center;
			vertical-align: middle;

			input[type="text"] {
				background: none;
				border: 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.7);
				color: #fff;
				display: inline-block;
				float: none;
				font-size: 3vw;
				font-weight: 600;
				height: auto;
				left: 3%;
				margin: auto;
				padding: 10px 5% 10px 2% !important;
				position: relative;
				width: 50%;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #ccc;
				}

				&::-moz-placeholder { /* Firefox 19+ */
					color: #ccc;
				}

				&:-ms-input-placeholder { /* IE 10+ */
					color: #ccc;
				}

				&:-moz-placeholder { /* Firefox 18- */
					color: #ccc;
				}
			}

			.input-group-btn {
				display: inline-block;
				left: -3%;
				position: relative;
				width: 5%;
				z-index: 99999;

				button {
					background: none !important;
					border: 0;
					outline: none;

					i {
						background: none !important;
						font-size: 3vw;
						.transitions(@transition);

						&:hover {
							color: @primary-color !important;
							.transitions(@transition);
						}
					}
				}
			}
		}
	}

	.trig-close {
		color: #fff;
		cursor: pointer;
		font-size: 3vw;
		position: absolute;
		right: 20px;
		top: 20px;
		.transitions(@transition);

		&:hover {
			.transitions(@transition);

			color: @primary-color;
		}
	}
}

/*   Main Navigation   */
.informa-header-menu {
	&.fixed {
		.navbar .container #navbar .nav {
			padding: 0 15px;
		}
	}
	.transitions(@transition);

	.navbar {
		.transitions(@transition);

		background: rgba(0, 0, 0, 0.9);
		min-height: 0;
		padding: 30px 10px;

		.container {
			position: relative;

			#navbar {
				padding: 0 30px 0 0;
				text-align: center;

				.nav {
					background: none;
					display: inline-block;
					float: none;
					margin: auto;
					padding: 0 !important;

					li {
						background: none;
						border: 0 !important;

						a {
							background: none !important;
							color: #fff;
							height: auto;
							line-height: 24px;
							padding: 0;
							width: auto;

							small {
								background: none !important;
								color: #fff;
								display: block;
								font-size: 15px !important;
								font-weight: bold;
								height: auto !important;
								padding: 8px 15px;
								text-transform: uppercase;
								width: auto !important;
							}

							@media all and (-webkit-device-pixel-ratio) {
								small {
									padding: 8px 15px;
								}
							}

							@media not all and (-webkit-device-pixel-ratio) {
								small {
									padding: 8px 10px;
								}
							}

							&:hover {
								small {
									color: @primary-color;
								}
							}
						}

						&.active {
							> a {
								> small {
									color: @primary-color;
								}
							}
						}

						> ul.sm-nowrap {
							display: none;
							left: 0;
							margin: 0;
							min-width: 0;
							opacity: 0;
							padding: 0;
							position: absolute;
							top: calc(100% + 30) !important;
							visibility: hidden;
							width: 250px !important;
							.transitions(@transition);

							&::after {
								border-bottom: 14px solid rgba(239, 67, 63, 0.9);
								border-left: 12px solid transparent;
								border-right: 12px solid transparent;
								bottom: 100%;
								content: "";
								left: 20px;
								position: absolute;
							}

							li {
								display: block;
								padding: 0;
								position: relative;

								a {
									background: rgba(239, 67, 63, 0.9) !important;
									color: @white;
									display: block;
									margin: 0;
									padding: 5px 20px !important;
									position: relative;

									&:hover {
										background: rgba(0, 0, 0, 0.8) !important;

										small {
											color: #fff !important;
										}
									}

									&.has-submenu::after {
										color: @white;
										content: '\e080';
										display: inline-block;
										font-family: 'Glyphicons Halflings';
										font-size: 14px;
										-webkit-font-smoothing: antialiased;
										font-style: normal;
										font-weight: normal;
										height: 20px;
										left: auto;
										line-height: 1;
										margin: -10px 0 0 0;
										position: absolute;
										right: 5px;
										top: 50%;
										width: 20px;
									}
								}

								ul {
									left: 100% !important;
									margin: 0 !important;
									opacity: 0;
									padding: 0;
									position: absolute;
									top: 0 !important;
									visibility: hidden;
									width: 250px;
									.transitions(@transition);

									&::after {
										display: none;
									}
								}

								&:hover {
									ul {
										.transitions(@transition);

										opacity: 1;
										visibility: visible;
									}
								}

								&.active {
									> a {
										> small {
											color: #000;
										}
									}
								}
							}
						}

						&:hover {
							> ul {
								.transitions(@transition);

								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}

			.trig-search {
				color: #fff;
				cursor: pointer;
				display: none;
				float: right;
				font-size: 0px;
				padding: 8px 10px;
				position: absolute;
				right: 0;
				top: 0;

				&:hover {
					color: @primary-color;
				}
			}
		}
	}

	.hamBurger {
		.navbar-inverse {
			.navbar-header {
				background: none !important;
				z-index: 0;
			}

			background: none !important;

			.navbar-toggle {
				background: none !important;
				border: 0 !important;
				box-shadow: none !important;
				outline: none;
				padding: 0 !important;

				span {
					background: #fff !important;
				}

				&:hover {
					span {
						background: @primary-color !important;
					}
				}
			}
		}
	}
}


/* header */
/* Social icons */
.overheader .sociallinks {
    margin:0;
    padding:0;
	    float: right;
}

.overheader .socialIcon ul {
    margin-top: 5px;
}

.overheader .socialIcon ul li {
    padding-right: 6px;
    width: 23px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    border: 0 !important;
    float:left!important;
}

.overheader .socialIcon ul li a {
    text-align: center;
    padding: 0!important;
    border-radius: 50%;
    background: #000!important;
    height: 28px;
    width: 28px;
    text-decoration: none;
    line-height: 30px;
}

.overheader .sociallinks .socialIcon ul li a i{
    display:inline;
}

.overheader .socialIcon ul li a:hover {
    background-color: #008ed6 !important;
}

.overheader .socialIcon ul li:nth-child(1) a {
    background-color: #ffffff;
}

.overheader .socialIcon ul li:nth-child(2) a {
    background-color: #ffffff;
}

.overheader .socialIcon ul li:nth-child(3) a {
    background-color: #ffffff;
}

.overheader .socialIcon ul li:nth-child(4) a {
    background-color: #ffffff;
}

.overheader .socialIcon ul li:nth-child(5) a {
    background-color: #ffffff;
}
.overheader .socialIcon ul li:nth-child(5) a:hover {
    background-color:#c4302b!important;
}

.overheader .socialIcon ul li a i {
    padding-left: 0px;
}

.overheader .socialIcon .facebookIcon:before,
.overheader .socialIcon .twitterIcon:before,
.overheader .socialIcon .youtubeIcon:before,
.overheader .socialIcon .pinterestIcon:before,
.overheader .socialIcon .instagramIcon:before,
.overheader .socialIcon .linkedinIcon:before {
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
}

.overheader .socialIcon .facebookIcon:before {
    content: "\f09a"
}

.overheader .socialIcon .twitterIcon:before {
    content: "\f099";   
}

.overheader .socialIcon .youtubeIcon:before {
    content: "\f16a";
}

.overheader .socialIcon .pinterestIcon:before {
    content: "\f16e";
}

.overheader .socialIcon .instagramIcon:before {
    content: "\f16d";
}

.overheader .socialIcon .linkedinIcon:before {
    content: "\f0e1";
}
.overheader ul.informa-link-list-items {
    float: right;
    padding: 8px 0 0 0;
}
.overheader .linklist li.active a {
    padding: 5px 0px;
    font-size: 14px;
	color: #ffffff;
}

.overheader .linklist li.active a:hover {
    color: #008ed6;
    text-decoration: underline;
}
.overheader .linklist li.active a:hover span {
    color: #ffffff !important;
    text-decoration: none !important;
}
.overheader .linklist li.active:first-child a {
    margin-left: 15px;
}

.overheader .linklist li.active a .separator {
    margin: 0 6px;
}

.overheader .sociallinks .socialIcon ul li a i.facebookIcon, i.twitterIcon, i.linkedinIcon{
    background:none;
}
.overheader .sociallinks .socialIcon ul li a i.twitterIcon{
    background:none;
}
.overheader .sociallinks .socialIcon ul li a i.linkedinIcon{
    background:none;
}

.overheader .sociallinks .socialIcon ul li a i::after{
    display:none;
}


/* Footer */
/* Social icons */
.overheader2 .sociallinks {
    margin:0 auto;
    padding:0;
	    float:none ;
}

.overheader2 .socialIcon ul {
    margin-top: 5px;
}

.overheader2 .socialIcon ul li {
    padding-right: 6px;
    width: 23px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    border: 0 !important;
    float:left!important;
}

.overheader2 .socialIcon ul li a {
    text-align: center;
    padding: 0!important;
    border-radius: 50%;
    background: #000!important;
    height: 28px;
    width: 28px;
    text-decoration: none;
    line-height: 30px;
}

.overheader2 .sociallinks .socialIcon ul li a i{
    display:inline;
}

.overheader2 .socialIcon ul li a:hover {
    background-color: #008ed6 !important;
}

.overheader2 .socialIcon ul li:nth-child(1) a {
    background-color: #ffffff;
}

.overheader2 .socialIcon ul li:nth-child(2) a {
    background-color: #ffffff;
}

.overheader2 .socialIcon ul li:nth-child(3) a {
    background-color: #ffffff;
}

.overheader2 .socialIcon ul li:nth-child(4) a {
    background-color: #ffffff;
}

.overheader2 .socialIcon ul li:nth-child(5) a {
    background-color: #ffffff;
}
.overheader2 .socialIcon ul li:nth-child(5) a:hover {
    background-color:#c4302b!important;
}

.overheader2 .socialIcon ul li a i {
    padding-left: 0px;
}

.overheader2 .socialIcon .facebookIcon:before,
.overheader2 .socialIcon .twitterIcon:before,
.overheader2 .socialIcon .youtubeIcon:before,
.overheader2 .socialIcon .pinterestIcon:before,
.overheader2 .socialIcon .instagramIcon:before,
.overheader2 .socialIcon .linkedinIcon:before {
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
}

.overheader2 .socialIcon .facebookIcon:before {
    content: "\f09a"
}

.overheader2 .socialIcon .twitterIcon:before {
    content: "\f099";   
}

.overheader2 .socialIcon .youtubeIcon:before {
    content: "\f16a";
}

.overheader2 .socialIcon .pinterestIcon:before {
    content: "\f16e";
}

.overheader2 .socialIcon .instagramIcon:before {
    content: "\f16d";
}

.overheader2 .socialIcon .linkedinIcon:before {
    content: "\f0e1";
}
.overheader2 ul.informa-link-list-items {
    float: right;
    padding: 8px 0 0 0;
}
.overheader2 .linklist li.active a {
    padding: 5px 0px;
    font-size: 14px;
	color: #ffffff;
}

.overheader2 .linklist li.active a:hover {
    color: #008ed6;
    text-decoration: underline;
}
.overheader2 .linklist li.active a:hover span {
    color: #ffffff !important;
    text-decoration: none !important;
}
.overheader2 .linklist li.active:first-child a {
    margin-left: 15px;
}

.overheader2 .linklist li.active a .separator {
    margin: 0 6px;
}

.overheader2 .sociallinks .socialIcon ul li a i.facebookIcon, i.twitterIcon, i.linkedinIcon{
    background:none;
}
.overheader2 .sociallinks .socialIcon ul li a i.twitterIcon{
    background:none;
}
.overheader2 .sociallinks .socialIcon ul li a i.linkedinIcon{
    background:none;
}

.overheader2 .sociallinks .socialIcon ul li a i::after{
    display:none;
}
