/*   Main HEADER  */
.headercontainer {
	margin-left: -15px;
	margin-right: -15px;
	padding: 3vw 0;
	position: relative;

	header {
		.headerVerticalHold {
			.cover {
				position: static;
				width: 100%;
			}

			.container {
				position: static;
				width: 47.86458333333333%;

				.left {
					img {
						width: 100%;
					}
				}

				.seperator {
					display: none;
				}

				.right {
					padding: 3% 2%;
					position: absolute;
					right: 60px;
					top: 0;
					width: 17.34375%;

					p {
						color: #fff !important;
						font-weight: bold !important;

						i {
							display: none;
						}

						span {
							font-size: 2vw;
							line-height: 2vw;
							margin: 0;
							padding: 0 !important;
						}

						&.mapIconHeader {
							span {
								font-size: 1.4vw;
								font-weight: 400;
								letter-spacing: 1px;
								line-height: 1.6vw;
							}
						}

						&.calendarDetails {
							margin: 0 0  1vw;
						}
					}
				}

			}
		}


	}
}


/*   Main Navigation   */
.informa-header-menu {
	&.fixed {
		.navbar .container #navbar .nav {
			padding: 0 15px;
		}
	}
	.transitions(@transition);

	.navbar {
		.transitions(@transition);

		background: rgba(0, 0, 0, 0.9);
		min-height: 0;
		padding: 30px 10px;

		.container {
			position: relative;

			#navbar {
				padding: 0 30px 0 0;
				text-align: center;

				.nav {
					background: none;
					display: inline-block;
					float: none;
					margin: auto;
					padding: 0 !important;

					li {
						background: none;
						border: 0 !important;

						a {
							background: none !important;
							color: #fff;
							height: auto;
							line-height: 24px;
							padding: 0;
							width: auto;

							small {
								background: none !important;
								color: #fff;
								display: block;
								font-size: 15px !important;
								font-weight: bold;
								height: auto !important;
								padding: 8px 15px;
								text-transform: uppercase;
								width: auto !important;
							}

							@media all and (-webkit-device-pixel-ratio) {
								small {
									padding: 8px 15px;
								}
							}

							@media not all and (-webkit-device-pixel-ratio) {
								small {
									padding: 8px 10px;
								}
							}

							&:hover {
								small {
									color: @primary-color;
								}
							}
						}

						&.active {
							> a {
								> small {
									color: @primary-color;
								}
							}
						}

						> ul.sm-nowrap {
							display: none;
							left: 0;
							margin: 0;
							min-width: 0;
							opacity: 0;
							padding: 0;
							position: absolute;
							top: calc(100% + 30) !important;
							visibility: hidden;
							width: 250px !important;
							.transitions(@transition);

							&::after {
								border-bottom: 14px solid rgba(239, 67, 63, 0.9);
								border-left: 12px solid transparent;
								border-right: 12px solid transparent;
								bottom: 100%;
								content: "";
								left: 20px;
								position: absolute;
							}

							li {
								display: block;
								padding: 0;
								position: relative;

								a {
									background: rgba(239, 67, 63, 0.9) !important;
									color: @white;
									display: block;
									margin: 0;
									padding: 5px 20px !important;
									position: relative;

									&:hover {
										background: rgba(0, 0, 0, 0.8) !important;

										small {
											color: #fff !important;
										}
									}

									&.has-submenu::after {
										color: @white;
										content: '\e080';
										display: inline-block;
										font-family: 'Glyphicons Halflings';
										font-size: 14px;
										-webkit-font-smoothing: antialiased;
										font-style: normal;
										font-weight: normal;
										height: 20px;
										left: auto;
										line-height: 1;
										margin: -10px 0 0 0;
										position: absolute;
										right: 5px;
										top: 50%;
										width: 20px;
									}
								}

								ul {
									left: 100% !important;
									margin: 0 !important;
									opacity: 0;
									padding: 0;
									position: absolute;
									top: 0 !important;
									visibility: hidden;
									width: 250px;
									.transitions(@transition);

									&::after {
										display: none;
									}
								}

								&:hover {
									ul {
										.transitions(@transition);

										opacity: 1;
										visibility: visible;
									}
								}

								&.active {
									> a {
										> small {
											color: #000;
										}
									}
								}
							}
						}

						&:hover {
							> ul {
								.transitions(@transition);

								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}

			.trig-search {
				color: #fff;
				cursor: pointer;
				display: none;
				float: right;
				font-size: 0px;
				padding: 8px 10px;
				position: absolute;
				right: 0;
				top: 0;

				&:hover {
					color: @primary-color;
				}
			}
		}
	}

	.hamBurger {
		.navbar-inverse {
			.navbar-header {
				background: none !important;
				z-index: 0;
			}

			background: none !important;

			.navbar-toggle {
				background: none !important;
				border: 0 !important;
				box-shadow: none !important;
				outline: none;
				padding: 0 !important;

				span {
					background: #fff !important;
				}

				&:hover {
					span {
						background: @primary-color !important;
					}
				}
			}
		}
	}
}


.header--custom .header--custom-columns-container .header--custom-column {

 .sociallinks {
			padding: 0 0 20px;
            float: right;
            margin-right: 45px;

        }

}
