/**   Rounded Corners    **/
@radius: 2px;
.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

/**   Transitions    **/

@transition:all 0.5s ease;

.transitions(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	transition: @transition;
}

/**   Box Shadows    **/
.box-shadow(@box-shadow) {
	-webkit-box-shadow: @box-shadow;
	-moz-box-shadow: @box-shadow;
	box-shadow: @box-shadow;
}


.fixed {
	left: 0;
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 9999;
}
