/**     Homepage Call to actions     **/
.t-cta {
	margin-left: -15px;
	margin-right: -15px;
	padding: 0;

	.t-cta-3-col {
		padding: 5px 0 0;

		.container-fluid {
			.row {
				padding: 0 5px;

				.col-sm-4 {
					padding: 5px;
					width: 23% !important;

					&:nth-child(2) {
						width: 54% !important;
					}
				}
			}
		}

		.contentHighlight #container1 .component1 {
			margin: 0 !important;

			.heading a {
				h3 {
					font-size: 1.5vw !important;
				}

				&::before {
					content: '';
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 5;
				}
			}
		}

		.callToActionPara {
			p {
				font-size: 1vw;
				font-weight: bold;
				line-height: 24px;
			}
		}
	}

	.t-cta-6-col {
		padding: 0 0 5px;

		.container-fluid {
			.row {
				padding: 0 5px;

				.col-sm-2 {
					padding: 5px;
					width: 16.66666666666667%;

					&:nth-child(6) {
						.contentHighlight #container1 .component1 .heading a {
							&::after {
								background: rgba(211, 33, 69, 1) !important;
							}

							&:hover {
								&::after {
									background: rgba(211, 33, 69, 0.9) !important;
								}
							}
						}
					}
				}
			}
		}

		.contentHighlight #container1 .component1 {
			margin: 0 !important;

			.heading a {
				h3 {
					font-size: 0.9vw !important;
					line-height: 24px;
				}

				.callToActionPara {
					p {
						font-size: 0.8vw;
					}
				}
			}
		}
	}
}


/**     Homepage Intro     **/
.t-intro {
	background: #fffbfa;
	margin-left: -15px;
	margin-right: -15px;
	padding: 60px 0;
}


/**     Homepage Widgets     **/
.t-widgets {
	margin-left: -15px;
	margin-right: -15px;
	padding: 60px 0;
}


/**     Homepage Official Partners     **/
.t-official-partners {
	margin: 0 0 20px;

	.default {
		margin-left: -5px;
		margin-right: -5px;

		.col-sm-4 {
			padding: 0 5px;

			.banner-custom-divider {
				margin: 0;

				.banner-section {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}
