/**     Contact Us Image Call to actions     **/
.t-country-pavilions {
	.imagecalltoaction {
		.informa-image-call-to-action {
			.informa-image-call-to-action-title {
				padding: 0 5px 0 40px;
				position: relative;

				&::after {
					background: #c00000;
					content: '';
					display: block;
					height: 1px;
					left: 0;
					margin-top: -0.5px;
					position: absolute;
					top: 50%;
					width: 100%;
					z-index: 1;
				}

				h3 {
					background: #fff;
					display: inline-block;
					line-height: 80px;
					margin: 0;
					padding: 5px 10px;
					position: relative;
					z-index: 10;
				}
			}

			.informa-image-call-to-action-content-section {
				.informa-image-call-to-action-content-image {
					background: #fff;
					padding: 10px;
					position: absolute;
					right: 0;
					top: 0;
					width: auto !important;
					z-index: 10;
				}
			}

			.col-md-8 {
				padding: 0;
			}
		}
	}
}


/**     Contact Us Image Call to actions     **/
.t-404 {
	.navbar-form {
		margin: auto;
		max-width: 233px;
	}
}
