/**     Landing Page     **/
.t-landing {
	margin-left: -15px;
	margin-right: -15px;

	.t-landing-language {
		background: #000;
		padding: 40px 0;

		.linklist {
			ul {
				text-align: center;
				width: 100%;

				li {
					border: 0;
					display: inline-block;
					float: none;

					a {
						background: @primary-color;
						border: 1px solid @primary-color !important;
						color: @white;
						font-size: 16px;
						font-weight: bold;
						margin: 0 5px;
						padding: 18px 40px;
						text-transform: uppercase;
						width: 190px;
						.transitions(@transition);

						&:hover {
							background: none;
							border: 1px solid #fff !important;
							.transitions(@transition);
						}

						.separator {
							display: none;
						}
					}

					&:first-child {
						a {
							background: #777171;
							border: 1px solid #777171 !important;
						}
					}
				}
			}
		}
	}

	.t-landing-organizer {
		margin: auto;
		max-width: 570px;
		padding: 20px 0;

		.banner-section {
			.informa-image-banner-image {
				img {
					height: auto !important;
					width: auto !important;
				}
			}
		}
	}
}
