/* ==========================================================================
   Layout Styles
=========================================================================== */

@media (max-width: 1199px) {
	/*   Main Navigation  */
	.informa-header-menu {
		.navbar {
			.container {
				width: 100%;

				#navbar .nav li a small {
					padding: 8px;
				}
			}
		}
	}

	/**     Homepage Call to actions     **/
	.t-cta {
		.t-cta-3-col {
			.container-fluid {
				.row {
					padding: 0 5px;

					.col-sm-4 {
						padding: 5px;
						width: 23% !important;

						&:nth-child(2) {
							width: 54% !important;
						}
					}
				}
			}

			.contentHighlight #container1 .component1 .heading a {
				h3 {
					font-size: 1.5vw !important;
				}

				&::before {
					content: '';
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 5;
				}
			}

			.callToActionPara {
				p {
					font-size: 1vw;
					font-weight: bold;
					line-height: 18px;
				}
			}
		}

		.t-cta-6-col {
			padding: 0 0 5px;

			.container-fluid {
				.row {
					padding: 0 5px;

					.col-sm-2 {
						padding: 5px;
						width: 33.3333333333333%;
					}
				}
			}

			.contentHighlight #container1 .component1 .heading a {
				h3 {
					font-size: 1.8vw !important;
					line-height: 24px;
					padding: 6vw 15px 6vw !important;
				}

				.callToActionPara {
					p {
						font-size: 1vw;
					}
				}
			}
		}
	}
}

@media (max-width: (991px)) {
	/**     Homepage Call to actions     **/
	.t-cta {
		.t-cta-3-col {
			.contentHighlight #container1 .component1 .heading a {
				h3 {
					font-size: 2vw !important;
					line-height: 2vw;
					padding: 4vw 15px !important;
				}
			}

			.callToActionPara {
				display: none;
			}
		}
	}
}

@media (max-width: (767px)) {
	/*   Main HEADER  */
	.headercontainer {
		header {
			.headerVerticalHold {
				.container {
					#header_search {
						.search-form {
							.input-group {
								input[type="text"] {
									font-size: 5vw;
									left: 5%;
									width: 70%;
								}

								.input-group-btn {
									left: -5%;
									width: 10%;
									z-index: 99999;

									button {
										i {
											font-size: 5vw;
										}
									}
								}
							}
						}

						.trig-close {
							font-size: 5vw;
						}
					}
				}
			}
		}
	}


	/**     Homepage Call to actions     **/
	.t-cta {
		.t-cta-3-col,
		.t-cta-6-col {
			.container-fluid {
				.row {
					.col-sm-4.col-xs-12,
					.col-sm-2 {
						width: 100% !important;
					}
				}
			}

			.contentHighlight #container1 .component1 .heading a {
				h3 {
					font-size: 4vw !important;
					height: 40px !important;
					line-height: 4vw;
					margin-top: -40px !important;
					padding: 0 15px !important;
					top: 50% !important;
				}

				img {
					width: 100% !important;
				}
			}

			.callToActionPara {
				display: block !important;
				height: 60px !important;
				padding: 0 10px !important;
				top: 50% !important;

				p {
					font-size: 2.5vw;
				}
			}
		}
	}


	/*   Main HEADER  */
	.headercontainer {
		header {
			min-height: 0;

			.headerVerticalHold {
				.container {
					.right {
						right: 20px;
					}
				}
			}
		}
	}


	/*   Main Navigation   */
	.informa-header-menu {
		.navbar-inverse .mobileLayoutNav .dropdown-menu li {
			&:hover {
				background: @primary-color !important;
			}
		}

		.navbar {
			.container {
				.trig-search {
					position: static;
				}
			}
		}

		.navToggleBtn {
			margin: 0 !important;

			.navbar-inverse {
				.navbar-toggle {
					padding: 8px 10px !important;
				}
			}
		}

		&.fixed {
			.navToggleBtn {
				margin: 0 15px 0 0 !important;
			}
		}
	}

	/**     Homepage Intro     **/
	.t-intro {
		padding: 20px 10px;
	}


	/**     Homepage Widgets     **/
	.t-widgets {
		padding: 20px 10px;
	}

	/**     Contact Us Image Call to actions     **/
	.t-country-pavilions {
		.imagecalltoaction {
			.informa-image-call-to-action {
				.informa-image-call-to-action-content-section {
					.informa-image-call-to-action-content-image {
						padding: 0;
						position: static;
						width: auto !important;
						z-index: 10;
					}
				}
			}
		}
	}


	/**     Landing Page     **/
	.t-landing {
		.bannerImage.section {
			margin: 0 !important;
		}

		.t-landing-language {
			.linklist {
				ul {
					padding: 0 15px;

					li {
						a {
							margin: 5px 0;
						}
					}
				}
			}
		}

		.t-landing-organizer {
			padding: 20px 15px;

			.banner-section {
				.informa-image-banner-image {
					img {
						height: auto !important;
						width: auto !important;
					}
				}
			}
		}
	}

	/**     Footer Upcoming Events     **/
	.t-upcoming-events {
		padding: 20px 10px;
	}


	/**     Footer Social Media     **/
	.t-social-media {
		padding: 0;

		.social-icons-custom {
			.contentHighlight {
				#container1 {
					.component1 {
						margin: 0 !important;

						.heading {
							a {
								border-bottom: 1px solid #333;
								border-right: 0;
								padding: 20px 10px;
								text-align: left;
							}
						}
					}
				}
			}
		}
	}


	/**     Footer Widgets     **/
	.t-footer-widgets {
		padding: 20px 10px;
	}
}

@media (max-width: (570px)) {

}

@media (max-width: 480px) {

}

