// link list
.linklist {
    padding:10px 0;
    .informa-link-list-items {

        a.informa-link-list-link {
            padding:0 10px;
            .separator {
				display:none;
            }
        }

    }

}

.header--custom  {
     .col-sm-6.col-xs-12 {
        	.col-sm-6.col-xs-12 {
        .linklist { 
    
            float:right;
            margin-right:40px;
         }
       }
    }
}