/* -------------------------------

Migration

------------------------------- */

/* Colours */

/* TODO: Use consistent colour descriptor */

@red : red;
@black : black;
@white : white;
@blue : hsl(227, 70%, 17%);
@blue-2 : #1b4379;
@blue-3 : #153560;
@gray : hsla(0, 0%, 12%, 0.06);
@gray-2 : #f5f5f5;
@gray-3	: rgba(218, 218, 218, 1);
@yellow : #f4ae0b;
@yellow-2 : #ffc013;


/* Brand Variables */

@primary-color : @blue-2;
@primary-dark-color : @blue-3;
@secondary-color : @white;
@tertiary-color : @yellow-2;
@primary-font : Roboto, san-serif;
@secondary-font : @primary-font;
@tertiary-font : @primary-font;


/* Site Variables */

@html-bg : @white;
@body-bg : @white;
@body-color : @black;
@header-bg : @white;
@nav-bg : @primary-color;
@nav-color : @secondary-color;
@nav-size : 13px;
@nav-weight : 600;
@nav-cta-border : 2px solid @secondary-color;
@nav-active-bg : @primary-color;
@nav-active-color : @tertiary-color;
@nav-hover-bg : @primary-color;
@nav-hover-color : @tertiary-color;
@title-color : @primary-color;
@h1-color : @primary-color;
@h1-size : 40px;
@h1-weight : 700;
@h2-color : @primary-color;
@h2-size : 14px;
@h2-weight : 500;
@h3-color : @primary-color;
@h3-size : 56px;
@h3-weight : 700;
@h4-color : @primary-color;
@h4-size : 19px;
@h4-weight : 600;
@h5-color : @primary-color;
@h5-size : 24px;
@h5-weight : 700;
@h6-color : @primary-color;
@h6-size : 18px;
@h6-weight : 900;
@p-color : @black;
@p-size : 16px;
@p-weight : 600;
@a-color : @secondary-color;
@a-hover-color : @primary-dark-color;
@bold-color : @tertiary-color;
@strong-color : @tertiary-color;
@text-weight : 400;
@footer-color : @gray;
@footer-text-color : @footer-color;
@footer-text-bold : @footer-color;

@forms-button-bg        : @black;
@forms-button-color     : @white;


html {
	background-color: @html-bg;
}

body {
	background-color: @body-bg;
	color: @body-color;
	z-index: 1;
}

.header_ipar {
	background-color: @header-bg;
	margin-left: -15px;
    margin-right: -15px;
	//width: 105%;
}

/*.header_ipar .fixed {
	top: -35px;
}*/

.footer_ipar {
	color: @footer-color;
}

.full-width {
	margin-left: -15px;
    margin-right: -15px;
	//width: 105%;
}

.home-banner .heroParallax .row {
	padding: 0;
}

.text {
	h1,
	h1 i,
	h1 a,
	h1 b,
	h1 * li,
	h1 strong {
		color: @h1-color;
		font-size: @h1-size;
		font-weight: @h1-weight;
	}

	h2,
	h2 i,
	h2 b,
	h2 a,
	h2 * li,
	h2 strong {
		color: @h2-color;
	}

	h3,
	h3 i,
	h3 b,
	h3 a,
	h3 * li,
	h3 strong {
		color: @h3-color;
	}

	h4,
	h4 i,
	h4 b,
	h4 a,
	h4 * li,
	h4 strong {
		color: @h4-color;
	}

	h5,
	h5 i,
	h5 a,
	h5 b,
	h5 * li,
	h5 strong {
		color: @h5-color;
		font-size: @h5-size;
		font-weight: @h5-weight;
	}

	h6,
	h6 i,
	h6 a,
	h6 b,
	h6 * li,
	h6 strong {
		color: @h6-color;
		font-size: @h6-size;
		font-weight: @h6-weight;
	}


	p,
	p i,
	p b,
	p a,
	p * li,
	p strong {
		color: @p-color;
	}


	h1 b,
	h2 b,
	h3 b,
	h4 b,
	h5 b,
	h6 b,
	p b {
		color: @bold-color;
		font-weight: bold;
	}

	h1 strong,
	h2 strong,
	h3 strong,
	h4 strong,
	h5 strong,
	h6 strong,
	p strong {
		color: @bold-color;
		font-weight: bold;
	}
}

.text_color--white {
	* {
		color: @white !important;
	}
}

.quicklink {
	.hightxt_btn {
		.highlgt-btn-custom {
			border: @nav-cta-border;
			border-radius: 50px;
			// margin-top: 40px;
			// margin-bottom: 40px;
			&:hover {
				background: @tertiary-color;
			}
		}
	}
}

.quicklink_border--white {
	border-color: @white;
}

.eventCountdownEvent {
	color: @h5-color;
	font-size: @h5-size !important;
	font-weight: @h5-weight;

	.countDisplay {
		-moz-column-count: 12;
		-webkit-column-count: 12;
		column-count: 12;
		display: block;
		text-align: center;
	}

	/* Countdown numbers */
	.countDisplay span:nth-child(3n+1) {
		background-color: @primary-color;
		font-size: 36px;
		font-weight: 500;
		padding: 5px 10px;
	}

	/* Countdown text */
	.countDisplay span:nth-child(3n+2) {
		color: @secondary-color;
		font-size: @p-size;
		font-weight: 500;
	}
}

.bg-primary {
	background-color: @primary-color;
	color: @white;
	margin-left: -15px;
	width: 105%;
}

.bg-secondary {
	background-color: @secondary-color;
	margin-left: -15px;
	width: 105%;
}

.bg-tertiary {
	background-color: @tertiary-color;
	margin-left: -15px;
	width: 105%;
}

.bg-dark-blue {
	background-color: rgba(16, 46, 84, 1);
}

.bg-gray {
	background-color: @gray-3;
}

/* Override component style */
.carousel h1 {
	color: @nav-color;
}

.heroParallax .carousel .carousel-inner .carousel-caption {
	width: 100% !important;
	position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: 0 !important;
    right: 0 !important;
	.container {
		height:0%;
		h3 {
			color: @white;
			line-height: 1;
			@media (min-width:769px) {
				font-size: 56px;
			}
            @media (max-width:768px) {
				font-size: 36px;
			}
		}
		.carousel-calltoAction {
			button {
				border-color: @primary-color;
				background-color: @primary-color;
				border-radius: 50px;
				font-size: 20px;
				padding : 10px 15px;
				&:hover {
					border-color: @yellow !important;
					background-color: @yellow !important;
				}
			}
		}
	}
}
.heroParallax .carousel .carousel-inner .item img {
    @media (max-width:1024px){
        object-fit: cover;
        object-position: center;
    }
    @media (max-width:768px){
        min-height: 350px !important;
    }
}

.top-nav {
	* {
		background-color: @nav-bg !important;
		color: @nav-color !important;
	}

	.mainNav {
		.navbar-inverse {
			.navbar-nav > li > a {
				color: @nav-color !important;
				font-family: @primary-font;
				font-size: @nav-size;
				font-weight: @nav-weight !important;
				color: @nav-color !important;
				small {
					font-size: @nav-size !important;
					font-weight: @nav-weight;
				}
			}

			.mobileLayoutNav > li {
				.mobileLayoutNav > li {
					&.active {
						a,
						a * {
							background-color: @nav-active-bg !important;
							color: @nav-active-color !important;
						}
					}

					a,
					a * {
						&:hover,
						&:focus {
							background-color: @nav-hover-bg !important;
							color: @nav-hover-color !important;
						}
					}
				}
			}

			.mobileLayoutNav li li,
			.mobileLayoutNav li li li {
				&.active {
					a,
					a * {
						background-color: @nav-active-bg !important;
						color: @nav-active-color !important;
					}
				}

				a,
				a * {
					&:hover,
					&:focus {
						background-color: @nav-hover-bg !important;
						color: @nav-hover-color !important;
					}
				}
			}
		}
	}
}

.mainNav .nav > li > a:focus,
.mainNav .nav > li > a:hover {
	background-color: @nav-bg !important;
	color: @black;
}

@media only screen and (min-width: 769px) {
	.navbar-inverse .mobileLayoutNav .dropdown-menu.innerMenuTopnav li.active > a {
		background-color: @nav-hover-bg !important;
		color: @black !important;
	}

	.navbar a,
	.navbar a:hover {
		font-weight: @text-weight !important;
	}

	.navbar .container ul {
		background-color: @nav-bg !important;
	}

	.nav > li {
		border-left: 1px solid lighten(@nav-bg, 5%);
	}

	.navbar-form.search-form button.search-submit.btn.btn-default {
		background-color: @black !important;
	}

	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a small {
		font-size: @nav-size !important;
		font-weight: @nav-weight;
	}
	/* Navigation Hover effect */

	.mainNav .nav .open > a,
	.mainNav .nav .open > a:hover,
	.mainNav .nav .open > a:focus,
	.mainNav .nav > li > a:focus,
	.mainNav .nav > li > a:hover,
	.navbar-inverse .mobileLayoutNav .dropdown-menu {
		background-color: @nav-hover-bg !important;
		color: @white !important;
	}

	.navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover {
		background-color: @nav-bg !important;
		color: @black !important;
	}

	.mainNav .nav .open a,
	.mainNav .nav .open a:hover,
	.mainNav .nav .open a:focus {
		color: @white !important;
	}

	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:hover,
	.informa-header-menu .navbar-inverse .mobileLayoutNav .dropdown-menu li a:focus {
		color: @black !important;
	}

	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:focus,
	.navbar-inverse .navbar-nav > .active > a:hover {
		background-color: @nav-hover-bg;
		color: @black;
	}

	.gif-banner {
		background-color: @white;
	}
}

.t-footer-widgets {
	background-color: @primary-color;
}

.t-footer-widgets-column {
	.cq-dd-image {
        width: 50%;
   		margin: auto
	}
}

.footer_ipar {
	.form-container .forms-title {
		color: @white !important;
	}
	.custom-form-row {
		background-color: @primary-color;
		border: none !important;
	}
	.form-horizontal{
		background-color: @primary-color;
		.form-one-control-label,
		span.optInCheckboxLabel{
			color: @white !important;
	}
	}
	.text {
		h1, h3, p, p b {
			color: @p-color;
		}
	}
}

// Header css

.custom-header-columns-container {
    @media (min-width:769px) {
        margin-top: 40px;
    }
}

.header_ipar {
	.quicklink .hightxt_btn .highlgt-btn-custom {
		@media (min-width:769px) {
			padding: 9px 22px !important;
			width: auto !important;
			min-width: 150px;

		}
	}
}

.quicklink .hightxt_btn .highlgt-btn-custom {
	padding: 9px 22px !important;
	width: 100% !important;
	// min-width: 142px;
	.highlgt-btn-title {
		width: auto !important;
		font-size: 14px;
	}
	.highlgt-btn-icon-padding:before {
		display: none;
	}
	.event-overview-btn-text-padding {
		text-align: center !important;
	}
}


// Footer
.custom-footer {
    .container-form .form-container {
    	padding-right: 30px;


        .forms-title,
        .custom-form-row .form-horizontal form .form-group label,
        .custom-form-row .form-horizontal form .checkbox label span,
        .custom-form-row .form-horizontal form .subscription_privacy_statement,
        .asterisk-sign-clr {
            color: @white !important;
        }
    }
}

footer {
	margin: 0px;
}

// Navbar
.informa-header-menu .navbar {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

// Form
.container-form .form-container {
    .forms-title {
        font-size: @p-size !important;
        font-weight: @p-weight !important;
        color: @white;
        font-family: @primary-font;
        margin: 0px !important;
    }

    .forms-title:after {
        display: none;
    }
}


.form-alignments-fo1,
.informa-form {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.container-form .form-container .custom-form-row .form-horizontal form .form-group,
.form-group {
    margin-bottom: 15px !important;

    label,
    div,
    input[type=text],
    select {
        margin: 0;
        padding: 0;
        width: 100%;
    }


    label {
        padding-bottom: 5px;
    }

    input[type=checkbox],
    input[type=radio] {
		width: 100%;
        height:100% !important;
	}
}

.container-form .form-container {

	.form-main-fo1 {
		background-color: @primary-color;
		padding-right: 10px;
	}

	.custom-form-row {
		border: none !important;
		padding: 0px;
	}

	.subscriptions .form-group {
		margin-left: -40px !important;
		padding-right: 50px;

	}

    .forms-title,
    .custom-form-row .form-horizontal form .form-group label,
    .custom-form-row .form-horizontal form .checkbox label span,
    .custom-form-row .form-horizontal form .subscription_privacy_statement,
    .custom-form-row .form-horizontal form .section {
        margin: 0;
        padding: 0;
        width: 100%;
    }


    .custom-form-row .form-horizontal form .form-group .checkbox label {
        margin-left: 20px;
        padding-left: 5px;
    }


    .custom-form-row .form-horizontal form .section {
        .custom-submit-btn-div {
            text-align: left;

            div {
                display: inline-block;
                width: auto;
            }
        }
    }
}

.column-bg-gray {
	background-color: @gray-3;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	.container-form .form-container{
		.form-main-fo1 {
			background-color: @gray-3;
		}
		.forms-title {
			color: @p-color;
		}
	}
	.text {
		h1, h3, p, p b {
			color: @p-color;
		}
	}
}

.container-form .form-container .submit .form-group {
    input[type='submit'],input[type='reset'] {
        color: white !important;
        background-color: @forms-button-bg !important;
        border-color: @forms-button-bg !important;
    }
}

.container-form .form-container {
	.form-main-fo1 {
		background-color: transparent;
	}
	.forms-title {
		color: @p-color;
	}
}

// Tabs
.travel-nav-container {
	background-color: @white;
	.travel-nav-tabs > li > a  {
		height: auto !important;
		span {
			font-size: 16px;
			font-weight: 700;
		}
	}
	ul.nav-tabs {
		border-bottom: 2px solid @gray;
	}
}


.tab-panel .informa-tab-panel .informa-tab-panel-tabs li,
.tab-panel .informa-tab-panel .informa-tab-panel-tabs li {
    &:hover,
    &.active {
        a {
            background: @white !important;
            border: none !important;
            border-top: 5px solid @gray !important;
            span {
                color: @primary-color !important;
            }
        }
        &:after {
            border-top-color: transparent !important;
        }
    }
    a {
        background: @gray !important;
        border: 1px solid @gray !important;
        border-bottom: 1px solid @gray !important;
        span {
            color: @primary-color;
        }
    }
}

footer {
	margin: 0px;
}

.tab-panel .informa-tab-panel .informa-tab-panel-tabs li,
.tab-panel .informa-tab-panel .informa-tab-panel-tabs li {
    &:hover,
    &.active {
        a {
            background: @white !important;
            border: none !important;
            border-top: 5px solid @gray !important;
            span {
                color: @primary-color !important;
            }
        }
        &:after {
            border-top-color: transparent !important;
        }
    }
    a {
        background: @gray !important;
        border: 1px solid @gray !important;
        border-bottom: 1px solid @gray !important;
        span {
            color: @primary-color;
        }
    }
}

.travel-nav-container {
	background-color: @white;
	.travel-nav-tabs > li > a  {
		height: auto !important;
		span {
			font-size: 14px;
			font-weight: 700;
		}
	}
	ul.nav-tabs {
		border-bottom: 1px solid @gray;
	}
}


// Background for a component
// Structure:
// - Column Control with custom-background-image CSS class
//		- Image
// 		- Column Control
//			- ...


.custom-background-image {
	position: relative;


	.custom-background-image-column {
		height: auto;
		position: relative;
		width: 100%;


		> div {
			overflow: hidden;
			position: relative;
			width: 100%;


			> .section {
				display: none;
				margin: 0;
				padding: 0;
				width: 100%;
			}


			> .image {
				display: inline-block;
				height: 100%;
				left: 0;
				overflow: hidden;
				pointer-events: none;
				position: absolute;
				top: 0;
				user-select: none;
				width: 300%;
				z-index: 1;


				> div {
					display: inline-block;
					height: 100%;
					width: 100%;
				}


				a {
					display: inline-block;
					height: 100%;
					position: relative;
					transform: translateX(-100% / 3);
					width: 100%;
				}


				img {
					margin: 0 auto;
					width: 100%;
				}
			}


			> .column-control {
				display: inline-block;
				position: relative;
				z-index: 2;
			}
		}
	}
}


// Modifier adding padding
// at the top and bottom of the container

.custom-background-image--padding-vertical {
	.custom-background-image-column {
		> div {
			padding: 3em 0;

			@media (min-width: @breakpoint-phablet) {
				padding-bottom: 5em;
				padding-top: 5em;
			}

			@media (min-width: @breakpoint-tablet) {
				padding-bottom: 7em;
				padding-top: 7em;
			}

			@media (min-width: @breakpoint-desktop) {
				padding-bottom: 9em;
				padding-top: 9em;
			}

			@media (min-width: @breakpoint-desktop-large) {
				padding-bottom: 11em;
				padding-top: 11em;
			}
		}
	}
}

// Custom Header

.header--custom {
    padding:15px;
    margin:0;
	background:@white;
    position:relative;
    .header--custom-columns-container {
        .header--custom-column {
            display:inline-block;
            vertical-align:middle;
            text-align:center;
            float:none;
            &:nth-of-type(1) {
                width:50%;
                @media (max-width:768px){
                    width:100%;
                }
            }
            &:nth-of-type(2) {
                width:49%;
                @media (max-width:768px){
                    width:100%;
                }
            }
        }
    }
    .header--custom-event-details {
        .image {
            margin-bottom:0;
        }
    }
    .header--custom-event-ctas {
        &-columns-container {
            .header--custom-event-ctas-column {
                display:inline-block;
                vertical-align:middle;
                float:none;
                &:nth-of-type(1) {
                    width:50%;
                }
                &:nth-of-type(2) {
                    width:49%;
                }
            }
        }
    }

    .quicklink {
        .highlightText {
            @media (max-width:768px){
                margin-top: 0 !important;
            }
            .event-overview-btn {
                .hightxt_btn {
                    margin-bottom:0;
                    a {
                        span {
                            text-align:center;
                        }
                    }
                    .event-overview-btn-text-padding {
                        padding-left:0;
                        @media (max-width:900px){
                            display:block !important;
                            height:auto !important;
                        }
                    }
                    .highlgt-btn-icon-padding {
                        display:none;
                    }
                }
            }
        }
    }
}

.hamBurger {
    float:none !important;
    margin-bottom:15px;
    .navbar-inverse {
        background-color: transparent;
        border-color: transparent;
        .navbar-header {
            margin-right:0;
            .navbar-toggle {
                padding: 18px 20px;
                .icon-bar {
                    background-color: @primary-color;
                }
            }
        }
    }
}

.headercontainer {
    font-size:0;
    display:none;
    visibility:hidden;
}

@media (max-width: 1024px) {
    .container-fluid {
        margin-top: 0;
    }
}