/**     RESET     **/

h1,
.h1 {
	font-size: 32px;
	line-height: 42px;
}

h2,
.h2 {
	font-size: 28px;
	line-height: 38px;
}

h3,
.h3 {
	font-size: 24px;
	line-height: 34px;
}

h4,
.h4 {
	font-size: 20px;
	line-height: 30px;
}

h5,
.h5 {
	font-size: 18px;
	line-height: 28px;
}

h6,
.h6 {
	font-size: 16px;
	line-height: 26px;
}

p,
a,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input,
td,
th {
	font-family: @primary-font !important;
}
