
/* Social icons */
.sociallinks {
    margin:0 auto;
    padding:0;
	float:none ;

    .socialIcon {
            ul {
   				 margin-top: 5px;
             li {
                    padding-right: 6px;
                    width: 23px;
                    height: 20px;
                    display: inline-block;
                    margin-left: 10px;
                    border: 0 !important;
                    float:left!important;

                    
                     &:nth-child(1) a {
                        background-color: #3b5998 !important;
                        &:hover {
                        	 background-color: darken(#3b5998, 10%) !important;
                        }
                    }

                    &:nth-child(2) a {
                        background-color: #337ab7 !important;
                      &:hover {
                        	 background-color: darken(#337ab7, 10%) !important;
                        }
                    }
                    

                    &:nth-child(3) a {
                        background-color: #0084b4 !important;
                      &:hover {
                        	 background-color: darken(#0084b4, 10%) !important;
                        }
                    }

               		&:nth-child(4) a {
                        background-color: #3f729b !important;
                      &:hover {
                        	 background-color: darken(#3f729b, 10%) !important;
                        }
                    }


                    &:nth-child(5) a {
                        background-color: #c4302b !important;
                      &:hover {
                        	 background-color: darken(#c4302b, 10%) !important;
                        }
                    }



                	a {
						 	text-align: center;
                            padding: 0!important;
                            border-radius: 50%;
                            //background: #000!important;
                            height: 28px;
                            width: 28px;
                            text-decoration: none;
                            line-height: 30px;
                    		i{
                                display:inline;
                        		background:none !important;
                        		&:after {
									display:none;
                        		}	
                            }
                		}
                }
        }


		.facebookIcon:before,
        .twitterIcon:before,
        .youtubeIcon:before,
        .pinterestIcon:before,
        .instagramIcon:before,
        .linkedinIcon:before {
				 	color: #fff;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-size: 16px;
                    font-weight: normal;
        }


             .facebookIcon:before {
                content: "\f09a";

            }
            
             .twitterIcon:before {
                content: "\f099";   
            }
            
             .youtubeIcon:before {
                content: "\f16a";
            }

             .pinterestIcon:before {
                content: "\f16e";
            }
            
             .instagramIcon:before {
                content: "\f16d";
            }
            
             .linkedinIcon:before {
                content: "\f0e1";
            }

    }
}




