/* ==========================================================================
   Variables
=========================================================================== */

/**   Colors    **/

@primary-color: #ef433f;
@secondary-color: #000000 ;
@grey: #686d79;
@black: #000000;
@white: #ffffff;


/**   Fonts    **/

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@primary-font: 'Quicksand', sans-serif;

