/*

File Name: _accordion.less
Description: Accordion component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */

@panel-bg-color: darken(@white,10%);
@panel-hover-bg-color: @black;
@panel-text-color: @black;
@panel-active-text-color: @white;
@panel-hover-text-color: @panel-active-text-color;
@panel-body-bg-color: darken(@white,3%);
@panel-active-bg-color: lighten(@black,20%);
@panel-open-indicator: '\f068'; // minus
@panel-close-indicator: '\f067'; // plus


.accordion{
    border-bottom:0;
    margin:30px 0;
    .travel-accordian{        
        margin:0 !important;
    }
    .panel-group {
		margin-bottom:0;
        .panel {
            margin:0 0 2px !important;
            background-color: transparent !important;
            box-shadow: none;
            .panel-prev {
                background: transparent !important;
                .accordion-toggle {
                    .panel-heading {
                        background: @panel-bg-color !important;
                        border-radius: 0 !important;
                        .transition(@transition);
                        &:focus, &:hover, &:active {
                            background: @panel-hover-bg-color !important;
                            h4, h4 span, .indicator, .indicator:after, .indicator.accordion-minus:after {
                                color: @panel-hover-text-color !important;
                            }
                            .transition(@transition);
                        }
                    }
                }
                &:focus, &:hover, &:active {
                    a, a h4, a h4 span {
                        background: transparent !important;
                    }
                }
                a {
					display:block;
                    color: @panel-text-color !important;
                    &[aria-expanded="true"] {
                        .panel-heading {
                            color: @panel-active-text-color !important;
                            background: @panel-active-bg-color !important;
                            h4, h4 span, .indicator, .indicator:after, .indicator.accordion-minus:after {
                                color: @panel-active-text-color !important;
                            }
                        }
                    }
                    h4 {
                        color: @panel-text-color !important;
                        padding: 15px 15px 15px 50px;
                        position:relative;
                        margin-bottom:0 !important;
                        span{
                            font-weight:bold;
                            display: block;
                            width: 100%;
                            color: @panel-text-color !important;
                        }
                        .indicator{
                            float: none !important;                       
                            position: absolute;                        
                            left: 20px;                         
                            height: 25px;
                            line-height: 25px;
                            background: none;
                            font-style: normal;
                            width: 16px;
                            top: 50%;
                            margin-top: -12px;
                            font-size: @base-font-size;
                            color: @panel-text-color !important;
                            &:after {
                            	font-family: @icon-font;
                            	content: @panel-close-indicator;
                                color: @panel-text-color !important;
                            }
                            &.accordion-minus:after {
                                content: @panel-open-indicator;
                                color: @panel-text-color !important;
                            }
                        }
                    }
                    &:focus, &:hover {
                        color: @panel-hover-text-color !important;
                        h4, span, .indicator, .indicator:after, .indicator.accordion-minus:after {
                            color: @panel-hover-text-color !important;
                            background: transparent !important;
                        }
                    }
                }
            }
        }
    }
    .panel-body{
    	background: @panel-body-bg-color !important;
    	margin-bottom:15px !important;
    	box-shadow:none !important;
        padding: 20px;
    }
}