<!-- the view -->
<div id="sponsor-list-custom" class="loading-ui"></div>
<!-- js config -->
<script id="sponsor-list-custom-template" type="text/x-handlebars-template">

<style>
  .sponsor-listing {
    padding:0 15px;
  }
  .sponsor-listing .img-holder{
    position:relative;
    height: 110px;
    margin: 0 auto 30px;
  }
  .sponsor-listing .img-holder.sponsor-logo--0 {
    width: 311px;
    height: 246px;
  }
  .sponsor-listing .img-holder.sponsor-logo--1 {
    width: 211px;
    height: 146px;
  }
  .sponsor-listing .img-holder.sponsor-logo--2 {
    width: 159px;
    height: 110px;
  }
  .sponsor-listing .img-holder.sponsor-logo--3 {
    width: 120px;
    height: 83px;
  }
  .sponsor-listing .img-holder.sponsor-logo--0 img {
    width: 285px;
  }
  .sponsor-listing .img-holder.sponsor-logo--1 img {
    width: 185px;
    // width:159px;
  }
  .sponsor-listing .img-holder.sponsor-logo--2 img {
    width: 125px;
    // width:120px;
  }
  .sponsor-listing .img-holder.sponsor-logo--3 img {
    width: 90px;
  }
  .sponsor-listing .img-holder img.upsize {
    width:221px;
  }
  .sponsor-listing .img-holder img {
    position: absolute;
    top: 50%;
    left: 50%;
    width:120px;
    max-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
</style>

<div class="m-template m-template--sponsor-list">
  {{> timedOut}}
  {{#unless timedOut}}

    <!-- Sponsor level loop -->
    {{#each levelOrder as |level|}}
      {{#with (lookup ../levels level) as |sponsors|}}

        <!-- Check if level has sponsors -->
        {{#if sponsors.length}}

          <!-- Sponsor Level Heading -->
          <h3 class="sponsor-level-heading sponsor-level-heading--{{level}}">
            {{#unless (lookup ../../options.heading level)}}
              {{level}}
            {{/unless}}
            {{lookup ../../options.heading level}}
          </h2>

          <div class="row">

            <!-- Sponsor logo loop -->
            {{#each sponsors as |sponsor|}}
              <div class="
                {{#unless (lookup ../../../options.columnClass level)}}
                  col-md-6
                {{/unless}}
                {{lookup ../../../options.columnClass level}}
              ">
                <div class="card">
                  <div class="card--object">

                    <!-- Sponsor logo -->
                    {{>sponsorLogo
                      logoClass=(lookup ../../../options.logoClass level)
                      logoLink=field_sponsor_website_status}}

                  </div>
                  <div id="{{slug}}" class="card--caption collapse
                    {{lookup ../../../options.logoClass level}}
                  ">
                    <div class="sponsor-caption card--caption--body">
                      <h5 class="sponsor-title card--caption--title">
                        <a class="collapsed" data-toggle="collapse" href="#{{slug}}">
                          <i class="fa fa-chevron-down pull-right"></i>
                          {{{title}}}
                        </a>
                      </h5>
                      {{#if body}}<div class="sponsor-body">{{{body}}}</div>{{/if}}

                      <!-- Sponsor details -->
                      {{>sponsorDetails}}

                      {{#if body}}
                        <a class="collapsed" data-toggle="collapse" href="#{{slug}}">Close</a>
                      {{/if}}
                    </div>
                  </div>
                </div>

              </div>
            {{/each}}
          </div>
        {{/if}}
      {{/with}}
    {{/each}}
  {{/unless}}
</div>

</script>

<script>

Handlebars.registerHelper('heading', function (property, options) {

    var heading = "";
    if(property=="1"){
      heading = "Premier Title";
    }

    return options.fn(heading);
});

Handlebars.registerHelper('eq', function () {
    const args = Array.prototype.slice.call(arguments, 0, -1);
    return args.every(function (expression) {
        return args[0] === expression;
    });
});

Handlebars.registerHelper("distinct", function (listOfObjects, property, options) {
    var unique = {};
    var distinctList = [];

    for (var objectIndex in listOfObjects) {
        var object = listOfObjects[objectIndex];

        if (typeof (unique[object[property]]) == "undefined") {
            distinctList.push(object[property]);
        }

        unique[object[property]] = 0;
    }

    return options.fn(distinctList);
});

Handlebars.registerHelper("where", function (collection, property, value, options) {
    var subset = [];

    for (var teamIndex in collection) {
        var team = collection[teamIndex];

        if (team[property] !== undefined && team[property].toLowerCase() === value.toLowerCase()) {
            subset.push(team);
        }
    }

    return options.fn(subset);
});


$(document).on("mascotReady",function($bootstrap){
  new mascot.Sponsor("#sponsor-list-custom",{
      url: "https://sponsortool.penton.com/json/1573302",
      template:"#sponsor-list-custom-template",
      levelOrder: "1,2,3,4,5,6,7"
    });
  });
</script>
