/*

File Name: _anchor-links.less
Description: Anchor Links component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */

@back-to-top-icon: '\f062';

.anchorLinks {
    margin-top:30px;
    margin-bottom:30px;
    #AnchorLink,
    .anchorLinkElement {
        background-color:transparent;
        margin-top:0;
        margin-bottom:0;
        .nav-tabs {
            .display(flex);
            .flex-direction(row);
            .flex-wrap(wrap);
            .justify-content(center);
            .align-items(center);
            > li {
                .align-self(flex-start);
                float:none;
                padding:0 5px 5px 0;
                &.active {
                    a {
                        color: @tab-panel-active-text-color !important;
                        background-color: @tab-panel-active-bg !important;
                        border-color: @tab-panel-active-border-color !important;
                        &:visited,
                        &:active,
                        &:focus {
                            color: @tab-panel-hover-text-color !important;
                            background-color: @tab-panel-hover-bg !important;
                            span {
                                color: @tab-panel-hover-text-color;
                            }
                        }
                        span {
                            color: @tab-panel-hover-text-color;
                        }
                    }
                }
                a {
                    width:100%;
                    height:auto;
                    border-top:0 !important;
                    padding:13px 15px !important;
                    color: @tab-panel-text-color !important;
                    display:block;
                    background-color: transparent !important;
                    border:1px solid @tab-panel-border-color !important;
                    font-family: @primary-font !important;
                    font-size: @tab-panel-heading-size !important;
                    font-weight: 700;
                    text-transform:uppercase;
                    line-height: @tab-panel-heading-size !important;
                    .transition(@transition);
                    span {
                        display:block;
                        width:100%;
                        height:auto;
                        color: @tab-panel-text-color;
                        font-size: @base-font-size;
                        line-height: @base-font-size;
                    }
                    &:focus,
                    &:hover {
                        border:1px solid @tab-panel-hover-border-color !important;
                        background-color: @tab-panel-hover-bg !important;
                        color: @tab-panel-hover-text-color;
                        .transition(@transition);
                        span {
                            color: @tab-panel-hover-text-color;
                        }
                    }
                }
            }
        }
        .row-divider-anchor {
            background-color:transparent;
            padding:0;
            margin:0 0 15px;
            border:0;
            > div[class^='col'] {
                padding:0;
                margin:0;
            }
            .back-to-top {
                margin:0 15px 0 0;
                padding:0 !important;
                a {
                    font-size:0;
                    text-align:center;
                    width:20px;
                    height:20px;
                    display:block;
                    background-color: @tab-panel-active-bg;
                    .border-radius(50%);
                    &:after {
                        content: @back-to-top-icon;
                        font-family: @icon-font;
                        font-size: @base-font-size - 4;
                        color: @tab-panel-active-text-color;
                        display:inline-block;
                        line-height:20px;
                    }
                }
                img {
                    display:none;
                }
            }
        }
    }
}