/**   Header Styles  **/

.all-fixed {
  // background-color: @color-white!important;
  // -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
  // -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
  // box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);

  // box-shadow: 0 10px 8px 0 rgba(0,0,0,.2);
    padding: 0px;
    margin: 0px;
    // position:relative;
    background-color: @color-white;

    .transition (all 100ms ease-out);
    @media (min-width:991px) {
      background-color: @color-white;
    }
}

.all-fixed-column {
  // background-color: @color-white!important;
  // -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
  // -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
  // box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);

  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.1);
  position: relative;
  z-index: 10;
}


.customheader-wrapper {
	// box-shadow: 0 10px 8px 0 rgba(0,0,0,.1);
    padding: 0px;
    margin: 0px;
    position:relative;
    background-color: @color-white;

	@media (min-width:991px) {
      position:fixed;
    	z-index: 1;
    }

}

.headercontainer {
    //display: none;
    //visibility: hidden;
    font-size: 0px;
    // height: 60px;
    height: auto;
    float: none;
    @media (min-width:991px) {
      height: 35px;
      float: left;
  }
}

.custom-header {
    height: 115px;
}

.custom-header .logo img {
    // max-height: 100px !important;
    max-width: 100% !important;
}




 .navbar-fixed-top & {
        @media (min-width:991px) {
            margin-top:0;
            margin-bottom:0;
            .logo {

            }
        }

    }


.navbar-fixed-top {
    @media (min-width:991px) {
        position:fixed;
        // top:0;
        // left:0;
        width:100%;
        z-index:999;
        background-color:@color-white-base;
        .transition (all 100ms ease-out);
    }

    .topmarginheader {
        @media (min-width:1175px){
    			margin-top:10px;
        }
    }

    .custom-header {
        .logo {
    			margin:0px;
          padding:8px 0;
          img {
              max-width: 100% !important;
      				height:auto !important;
              max-height:76px !important;
              transition: all 300ms ease-out 0s;
            }
        }
		.top-nav-container {
			margin-top: 24px;
        }
    }

}

header {
        width: 100%;
        // min-height: 1px;
        display: block;
        padding: 0px;
    }


@media (max-width: 990px) {

    header {
        width: 100%;
        // min-height: 1px;
        display: block;
        padding: 0px;
    }

    .headercontainer header > .headerVerticalHold {
        // display: block !important;
        // .hide();
    }

    header > .headerVerticalHold .container {
        position: relative;
    }

}

.headercontainer {
    // .hide(); // hide unwanted elements
    header {
        .headerVerticalHold {
            .cover {
                &.pull-right {
                    // .hide();
                }
            }
        }
    }
    @media (max-width:990px) {
        .show();
        //margin-bottom:-20px;
        header {
            display:block !important; // override !important declaration;
            // min-height:0;
            height:auto !important; // override !important declaration
            // padding:0;
            > .headerVerticalHold {
                display:block !important; // override !important declaration;
            }
            .cover.pull-left {
                // display:none;
            }
            .hamBurger {
              position: relative;
              top:20px;
              right: auto;
                z-index:1;
                button {
                    &.navbar-toggle {
                      position: relative;
                      top:20px;
                      right: auto;
                        // background: rgba(0,0,0,0.1);
                        // .transition (all 300ms ease-in-out);
                        .round-borders(0px);
                        .icon-bar {
                            background-color: @color-primary;
                            // .transition (all 300ms ease-out);
                        }
                        &.stuck {
                            // position: fixed;
                            position: relative;
                            top:20px;
                            right: auto;
                          	z-index: 9999;
                            // .transition (all 300ms ease-in-out);
                        }
                    }
                }
            }
        }
    }
}


.navbar {
    .container {
        > .navbar-collapse {
            @media (max-width:990px) {
                background-color: rgba(0,0,0,1);
                /*left:-50%;
                right:0;
                width:0;
                &.active {
                    width:83vw;
                    left:0;
                }
                .mobileLayoutNav {
                    width:100%;
                }*/
                .mobileLayoutcross, .navbar-header {
                    background-color:transparent;
                }
                .mainSecondaryNav { // Hide this extra arrow on mobile view. This showed up after Caleb's 18 July 2018 deployment
                    // display:none;
                }
            }
        }
    }
}


header .cover div.right .eventDateContainer {
  .calenderIcon,
  .mapIcon {
    .hide();
  }
}
header .cover div.seperator {
  .hide();
}

header .cover div.right.testAlter {
  .hide();
}

.logoImagContainer {
  max-width: 135px;
  padding: 10px 5px 10px 0px;
  margin-left: -15px;
}

.hidden-at-md {
  @media (min-width:991px) {
    visibility: hidden;
    display: none;
  }
}
.show-info {
  width: 500px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  // margin-top: -90px;
  // @media (min-width:768px) {
  //   width: 360px;
  // }
  @media (min-width:991px) {
    margin-top: 15px;
    width: auto;
    float: right;
    margin-bottom: -90px;
  }
}

.show-info-bar {
    padding-top: 0px;
  @media (min-width:991px) {
    padding-top: 20px;
  }
}

.show-info-bar-columns-container {
  @media (min-width:991px) {
    float: right;
  }
}
.show-info-bar-column {
  @media (min-width:769px) {
    width: 100%;
  }
}

.show-info-column {
  @media (min-width:769px) {
    width: 100%;
  }
}

.title-date-location {
  .text h5 {
    color: @color-white!important;
  }
  white-space: normal;
  margin-left: 10px;
  float: left;
  width: 180px;
  .text h5 {
    line-height: 30px;
    color: @color-white!important;
  }

  @media (min-width:991px) {
    white-space: nowrap;
    width: 340px;
    margin-right: -60px;
    float: left;
    border-right: 1px solid rgb(255, 255, 255);
    .text h5 {
      line-height: normal;
      color: @color-white!important;
    }
  }
  @media (min-width:1200px) {
    white-space: nowrap;
    float: left;
    margin-right: -55px;
    width: 340px;
    border-right: 1px solid rgb(255, 255, 255);
    .text h5 {
      line-height: normal;
      color: @color-white!important;
    }
  }
}

.page-title-bar {
  background-color: @color-white;
  // position: absolute;
  .titleBar .informa-title-bar {
    color: @color-primary!important;
    // margin-top: 150px;
  }

  @media (min-width: 991px) {
    background-color: @color-primary;
    // position: relative;
    .titleBar .informa-title-bar {
      color: @color-white!important;
      margin-top: 0px;
    }
  }
}



#gpt-300_1,
#gpt-300_2,
#gpt-300_3,
#gpt-728_1,
#gpt-728_2 {
  iframe {
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    padding: 0px;
    margin: 0px;
  }
}
