.component-padding() {
	padding: @component-padding-ver-default 0 0 @component-padding-hor-default !important;

	@media (min-width: @breakpoint-phablet) {
		padding: @component-padding-ver-phablet 0 0 @component-padding-hor-phablet !important;
	}

	@media (min-width: @breakpoint-tablet) {
		padding: @component-padding-ver-tablet 0 0 @component-padding-hor-tablet !important;
	}

	@media (min-width: @breakpoint-desktop) {
		padding: @component-padding-ver-desktop 0 0 @component-padding-hor-desktop !important;
	}

	@media (min-width: @breakpoint-desktop-large) {
		padding: @component-padding-ver-desktop-large 0 0 @component-padding-hor-desktop-large !important;
	}


	> div,
	> p,
	> a {
		padding: 0 @component-padding-hor-default @component-padding-ver-default 0 !important;

		@media (min-width: @breakpoint-phablet) {
			padding: 0 @component-padding-hor-phablet @component-padding-ver-phablet 0 !important;
		}

		@media (min-width: @breakpoint-tablet) {
			padding: 0 @component-padding-hor-tablet @component-padding-ver-tablet 0 !important;
		}

		@media (min-width: @breakpoint-desktop) {
			padding: 0 @component-padding-hor-desktop @component-padding-ver-desktop 0 !important;
		}

		@media (min-width: @breakpoint-desktop-large) {
			padding: 0 @component-padding-hor-desktop-large @component-padding-ver-desktop-large 0 !important;
		}
	}
}

.component-padding-text() {
	padding: 0 0 0 @component-padding-hor-default !important;

	@media (min-width: @breakpoint-phablet) {
		padding: 0 0 0 @component-padding-hor-phablet !important;
	}

	@media (min-width: @breakpoint-tablet) {
		padding:0 0 0 @component-padding-hor-tablet !important;
	}

	@media (min-width: @breakpoint-desktop) {
		padding: 0 0 0 @component-padding-hor-desktop !important;
	}

	@media (min-width: @breakpoint-desktop-large) {
		padding: 0 0 0 @component-padding-hor-desktop-large !important;
	}


	> div,
	> p,
	> a {
		padding: 0 @component-padding-hor-default 0 0 !important;

		@media (min-width: @breakpoint-phablet) {
			padding: 0 @component-padding-hor-phablet 0 0 !important;
		}

		@media (min-width: @breakpoint-tablet) {
			padding: 0 @component-padding-hor-tablet 0 0 !important;
		}

		@media (min-width: @breakpoint-desktop) {
			padding: 0 @component-padding-hor-desktop 0 0 !important;
		}

		@media (min-width: @breakpoint-desktop-large) {
			padding: 0 @component-padding-hor-desktop-large 0 0 !important;
		}
	}
}


.component-padding-small() {
	padding: (@component-padding-ver-default / 2) 0 0 @component-padding-hor-default !important;

	@media (min-width: @breakpoint-phablet) {
		padding: (@component-padding-ver-phablet / 2) 0 0 @component-padding-hor-phablet !important;
	}

	@media (min-width: @breakpoint-tablet) {
		padding: (@component-padding-ver-tablet / 2) 0 0 @component-padding-hor-tablet !important;
	}

	@media (min-width: @breakpoint-desktop) {
		padding: (@component-padding-ver-desktop / 2) 0 0 @component-padding-hor-desktop !important;
	}

	@media (min-width: @breakpoint-desktop-large) {
		padding: (@component-padding-ver-desktop-large / 2) 0 0 @component-padding-hor-desktop-large !important;
	}


	> div,
	> p,
	> a {
		padding: 0 @component-padding-hor-default (@component-padding-ver-default / 2) 0 !important;

		@media (min-width: @breakpoint-phablet) {
			padding: 0 @component-padding-hor-phablet (@component-padding-ver-phablet / 2) 0 !important;
		}

		@media (min-width: @breakpoint-tablet) {
			padding: 0 @component-padding-hor-tablet (@component-padding-ver-tablet / 2) 0 !important;
		}

		@media (min-width: @breakpoint-desktop) {
			padding: 0 @component-padding-hor-desktop (@component-padding-ver-desktop / 2) 0 !important;
		}

		@media (min-width: @breakpoint-desktop-large) {
			padding: 0 @component-padding-hor-desktop-large (@component-padding-ver-desktop-large / 2) 0 !important;
		}
	}
}


.remove-component-padding() {
	padding: 0 !important;


	> div,
	> a,
	> p {
		padding: 0 !important;
	}
}


.component-padding-hor() {
	padding-left: @component-padding-hor-default !important;
	padding-right: @component-padding-hor-default !important;

	@media (min-width: @breakpoint-phablet) {
		padding-left: @component-padding-hor-phablet !important;
		padding-right: @component-padding-hor-phablet !important;
	}

	@media (min-width: @breakpoint-tablet) {
		padding-left: @component-padding-hor-tablet !important;
		padding-right: @component-padding-hor-tablet !important;
	}

	@media (min-width: @breakpoint-desktop) {
		padding-left: @component-padding-hor-desktop !important;
		padding-right: @component-padding-hor-desktop !important;
	}

	@media (min-width: @breakpoint-desktop-large) {
		padding-left: @component-padding-hor-desktop-large !important;
		padding-right: @component-padding-hor-desktop-large !important;
	}
}


.component-padding-ver() {
	padding-bottom: @component-padding-ver-default !important;
	padding-top: @component-padding-ver-default !important;

	@media (min-width: @breakpoint-phablet) {
		padding-bottom: @component-padding-ver-phablet !important;
		padding-top: @component-padding-ver-phablet !important;
	}

	@media (min-width: @breakpoint-tablet) {
		padding-bottom: @component-padding-ver-tablet !important;
		padding-top: @component-padding-ver-tablet !important;
	}

	@media (min-width: @breakpoint-desktop) {
		padding-bottom: @component-padding-ver-desktop !important;
		padding-top: @component-padding-ver-desktop !important;
	}

	@media (min-width: @breakpoint-desktop-large) {
		padding-bottom: @component-padding-ver-desktop-large !important;
		padding-top: @component-padding-ver-desktop-large !important;
	}
}


.component-padding-block() {
	.component-padding-hor();
	.component-padding-ver();
}
