.quicklink__color(@color) {
	.quicklink .highlightText .event-overview-btn .event-overview-btn-col a {
		color: @color;
	}
}

.quicklink__bg-color(@bg-color) {
	.quicklink .highlightText .event-overview-btn .event-overview-btn-col a {
		background-color: @bg-color;
	}
}

.quicklink__border-color(@border-color) {
	.quicklink .highlightText .event-overview-btn .event-overview-btn-col a {
		border-color: @border-color;
		border-style: @border-style;
		border-width: @border-thickness;
	}
}

.quicklink__color-hover(@color) {
	.quicklink .highlightText .event-overview-btn .event-overview-btn-col a:hover {
		color: @color;
	}
}

.quicklink__bg-color-hover(@bg-color) {
	.quicklink .highlightText .event-overview-btn .event-overview-btn-col a:hover {
		background-color: @bg-color;
	}
}

.quicklink__border-color-hover(@border-color) {
	.quicklink .highlightText .event-overview-btn .event-overview-btn-col a:hover {
		border-color: @border-color;
		border-style: @border-style;
		border-width: @border-thickness;
	}
}

.quicklink__text-align(@align-position) {
	.quicklink .highlightText .content-faq1 .event-overview-btn .hightxt_btn .highlgt-btn-custom .event-overview-btn-text-padding .highlgt-btn-title {
		text-align: @align-position;
	}
}
