.text__text-color(@text-color) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	p *,
	ul,
	ol,
	li,
	li *,
	small,
	span,
	a,
	i,
	div,
	div *,
	b,
	.text ul li,
	.text ol li,
	.titleBar .informa-title-bar,
	p {
		color: @text-color !important;


		&,
		b,
		strong,
		* {
			color: @text-color !important;
		}
	}
}
