/*

File Name: _footer.less
Description: Footer component styles
Dependencies: _variables.less, _mixins.less

*/

/* Local variables */

@footer-bg: @gray;
@footer-link-color: @silver;
@footer-link-hover-color: @white;

footer {
    margin-top:0;
    .footerNavbg {
        //display:none; // hide unused footer nav
        padding:0 !important;
        background-color: lighten(@footer-bg, 10%);
        .col-md-8.hidden-xs {
            padding-left: 15px;
        }
        .informa-link-list-items {
            padding:10px 15px !important;
            margin:0;
            li {
                line-height:1;
                a {
                    color: @footer-link-color;
                    font-size: @base-font-size !important;
                    line-height: @base-font-size;
                }
            }
        }
    }
    .footerBottombg {
        background-color: @footer-bg;
        .nav {
            padding:15px 0 !important;
            margin:0;
            @media (max-width:768px) {
                text-align:center;
            }
            li {
                a {
                    color: @footer-link-color;
                    font-size: @base-font-size !important;
                    line-height: @base-font-size;
                }
            }
        }
        .row {
            margin:0;
        }
    }
    .aboutInfo {
        padding-top:0 !important;
        padding-bottom:0 !important;
        background-color: lighten(@footer-bg, 5%);
        .footerLogo {
            margin-top:0;
        }
        p {
            margin-bottom:15px;
            &:last-child {
                margin-bottom:0;
            }
        }
        p,a {
            font-size: @base-font-size !important;
        }
    }
    .row {
        padding:0;
    }
    .nav > li > a > .separator {
        color: lighten(@footer-bg,20%);
    }
    p,a {
        color: @footer-link-color;
    }
    a {
        .transition(@transition);
        &:hover {
            color: @footer-link-hover-color !important;
            .transition(@transition);
        }
    }
    .about-informa {
        .row {
            .col-md-9, .col-md-3 {
                @media (max-width:991px) {
                    width:50%;
                    float:left;
                }
                @media (max-width:769px) {
                    width:100%;
                }
            }
            .col-md-9 {
                padding-left:15px;
                @media (max-width:991px) {
                    padding-left:15px;
                }
                p {
                    @media (max-width:769px) {
                        text-align:center;
                    }
                }
            }
            .col-md-3 {
                .footerLogo {
                    @media (max-width:769px) {
                        float:left;
                        width:100%;
                        margin:30px 0 15px !important;
                        .navbar-right {
                            width:100%;
                            margin:0;
                            a {
                                display:block;
                                width:100%;
                                img {
                                    display:block;
                                    margin:0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}