/* start of modification for 5 columns */
@media (min-width: 768px){
    .fivecolumns .fivepart {
      width: 20%;
      *width: 20%;
        // width: 20.297872340425532%;
        // *width: 20.2234042553191494%;
        float: left!important;
        position: relative;
    }
}
@media (min-width: 1200px) {
    .fivecolumns .fivepart {
      width: 20%;
      *width: 20%;
        // width: 19.9487179487179488%;
        // *width: 19.87424986361156592%;
        float: left!important;
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .fivecolumns .fivepart {
      width: 20%;
      *width: 20%;
        // width: 19.79005524861878448%;
        // *width: 19.7155871635124022%;
        float: left!important;
        position: relative;
    }
}
/* end of modification for 5 columns */


.fivecolumns .fivepart {
  .carousel-caption {
    top: 70%!important;
  }
}

@media (min-width: 768px) {
  .fivecolumns .fivepart {
    .carousel-caption {
      left: -5%!important;
      top: 30%!important;
    }
  }
}


@media (min-width: 992px) {
.fivecolumns .fivepart {
    .carousel-caption {
      left: 5% !important;
      top: 60% !important;
      width: 80% !important;
    }
  }
}
