// Colors
@color-primary: #d34a5b; //salmon
@color-secondary: #e66048; //coral

@color-tertiary: #d86e9c; //pink
@color-quaternary:#33d27e; //lime green
@color-alt: #eb8341; //alt orange

@color-gray-base: #5b6771; //over 333333
@color-gray: @color-gray-base;

@color-gray-light: #cccccc;
@color-gray-lighter: #f2f2f2;

@color-gray-light: lighten(@color-gray-base, 25%);
@color-primary-muted: lighten(@color-primary, 40%);
@color-secondary-muted: lighten(@color-secondary, 35%);
@color-black: #000000;  // Black
@color-white: #ffffff; // White

@color-white-base: #ffffff;
@color-black-base: #000000;


@color-turquoise-base: #46c4be; //jade green
@color-blue-base: #0091ba; //bright blue
@color-gold-base: #fbb416; //gold

@color-yellow-base :#ecf3da;

@black: @color-black-base;
@color-black: @color-black-base;
@white: @color-white-base;
@color-white: @color-white-base;
@link: @color-secondary;
@visited: @color-alt;
@active: @color-primary;
@gray: @color-gray-base;
@silver: #A5ACAF;
@base-color: @color-gray-base;

// Fonts
@font-family-base: 'Open Sans', sans-serif;
@font-size-base: 16px;
@font-color-base: @color-gray-base;
@font-line-height-base: 1.5em;

@font-primary: @font-family-base;
@primary-font: @font-family-base;
@font-secondary: @font-family-base;
@font-size-base: @base-font-size;
@font-color-base: @color-gray-base;
@font-line-height-base: @p-line-height;


@font-icon: 'FontAwesome';
@icon-font: @font-icon;

// Headings
@headings-color: @color-primary;
@headings-font-family: @font-family-base;
@headings-font-weight: 600;

@h1-font-size:65px;
@h1-line-height: @h1-font-size + 10;

@h2-font-size:48px;
@h2-line-height: @h2-font-size + 12;

@h3-font-size:34px;
@h3-line-height: @h3-font-size + 14;

@h4-font-size:21px;
@h4-line-height: @h4-font-size + 13;

@h5-font-size:18px;
@h5-line-height: @h5-font-size + 10;

@h6-font-size:14px;
@h6-line-height: @h6-font-size + 10;

@p-font-size:16px;
@p-line-height: @p-font-size + 6;

@base-font-size: @p-font-size;

@slider-headings-h1-font-size: @h1-font-size;
@headings-h1-font-size: (@font-size-base + 32);
@headings-h2-font-size: (@font-size-base + 24);
@headings-h3-font-size: (@font-size-base + 14);
@headings-h4-font-size: (@font-size-base + 8);
@headings-h5-font-size: (@font-size-base + 2);
@headings-h6-font-size: (@font-size-base - 2);

// Link color
@link-color: @color-primary;

// Content and sizing
@grid-gutter-width:         30px;

@gutter-sm:           (@grid-gutter-width * .5);
@gutter-md:           (@grid-gutter-width * 1.00);
@gutter-lg:           (@grid-gutter-width * 1.75);

// Informa top bar
@informa-banner-bg: @color-gray-base;
@informa-banner-color: #ffffff;
@informa-banner-link-color: #ffffff;
@informa-banner-font-size: 14px;

// Navbar
@navbar-color: @color-secondary;
@navbar-bg: @color-white;
@navbar-height: 75px;
@navbar-font-family: @font-family-base;
@navbar-font-size: @font-size-base;
@navbar-font-size-sm: (@navbar-font-size - 3);
@navbar-item-padding: 15px;
@navbar-hover-color: @color-white;
@navbar-hover-bg: @color-secondary;

@navbar-highlight-width: 15%;
@navbar-highlight-float: right;
@navbar-highlight-color: @color-secondary;
@navbar-highlight-bg: @color-white;
@navbar-highlight-hover-color: @color-secondary;
@navbar-highlight-hover-bg: darken(@navbar-highlight-color, 0%);

// Footer
@footer-color: #fff;
@footer-bg: @color-gray-base;
@footer-link-color: @color-primary;
@footer-logo-width: 250px;

// Components

// CTA
@cta-heading-color: @color-white-base;
@cta-heading-bg: @color-primary;
@cta-body-bg: @color-primary-muted;

@cta-link-font-size: 18px;
@cta-link-color: @color-white-base;
@cta-link-bg: @color-secondary;

@cta-link-secondary-color: @color-white-base;
@cta-link-secondary-bg: @color-secondary;

// Carousel - Hero
@slide-shade-base: @color-turquoise-base;
@slide-shade-base-light: lighten(@color-turquoise-base,10%);
@slide-shade-base-dark: darken(@color-turquoise-base,10%);

// Buttons
@btn-shade-base: @color-secondary;
@btn-shade-alt: @color-alt;
@btn-shade-alt-dark: darken(@color-secondary,10%);
@btn-text-color: @color-white-base;
@btn-shade-reset-base: @color-gray-base;
@btn-shade-reset-alt-base: lighten(@color-gray-base,15%);

// Social Icons
@icon-fb-bg-color: @color-gold-base;
@icon-tw-bg-color: @color-gold-base;
@icon-yt-bg-color: @color-gold-base;
@icon-li-bg-color: @color-gold-base;
@icon-ig-bg-color: @color-gold-base;
@icon-pi-bg-color: @color-gold-base;
@icon-tv-bg-color: @color-gold-base;
